<button mat-button mat-dialog-close class="close"></button>
<mat-dialog-content>
    <mat-horizontal-stepper [linear]="false" #stepper [@.disabled]="true">
        <mat-step>
            <div class="step-item">
                <dx-validation-group>
                    <div class="header">
                        {{ls.l('PersonalInformation')}}
                    </div>
                    <div class="main">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('FirstName')}}</div>
                                    <div class="dx-field-value">
                                        <dx-text-box placeholder="Enter first name"
                                                     [(value)]="submitApplicationProfileInput.personalInformation.firstName"
                                                     (keydown)="validateName($event)">
                                            <dx-validator>
                                                <dxi-validation-rule type="required"
                                                                     [message]="ls.l('FieldIsRequired')">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('MiddleName')}}</div>
                                    <div class="dx-field-value">
                                        <dx-text-box placeholder="Enter middle name"
                                                     [(value)]="submitApplicationProfileInput.personalInformation.middleName"
                                                     (keydown)="validateName($event)">
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('LastName')}}</div>
                                    <div class="dx-field-value">
                                        <dx-text-box placeholder="Enter last name"
                                                     [(value)]="submitApplicationProfileInput.personalInformation.lastName"
                                                     (keydown)="validateName($event)">
                                            <dx-validator>
                                                <dxi-validation-rule type="required"
                                                                     [message]="ls.l('FieldIsRequired')">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('Gender')}}</div>
                                    <div class="dx-field-value">
                                        <dx-select-box
                                            [items]="gender"
                                            valueExpr="key"
                                            displayExpr="text"
                                            [(value)]="submitApplicationProfileInput.personalInformation.gender"
                                            placeholder="Choose gender">
                                        </dx-select-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('dob')}}</div>
                                    <div class="dx-field-value">
                                        <dx-date-box
                                            [(value)]="submitApplicationProfileInput.personalInformation.doB"
                                            (onBlur)="removeTimeZone(submitApplicationProfileInput.personalInformation.doB)"
                                            type="date">
                                        </dx-date-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">SSN</div>
                                    <div class="dx-field-value">
                                        <dx-text-box placeholder="Enter ssn"
                                                     name="ssn"
                                                     (onFocusOut)="inputStatusesService.blurInput($event)"
                                                     (onFocusIn)="inputStatusesService.focusInput($event)"
                                                     [(value)]="submitApplicationProfileInput.personalInformation.ssn">
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <dx-button class="btn btn-layout btn-next"
                                   text="Next"
                                   (onClick)="goToNextStep($event)">
                        </dx-button>
                    </div>
                </dx-validation-group>
            </div>
        </mat-step>
        <mat-step>
            <div class="step-item">
                <dx-validation-group>
                    <div class="header">
                        {{ls.l('ContactInfo')}}
                    </div>
                    <div class="main">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('Email')}}</div>
                                    <div class="dx-field-value">
                                        <dx-text-box placeholder="Enter email"
                                                     [(value)]="submitApplicationProfileInput.personalInformation.email">
                                            <dx-validator>
                                                <dxi-validation-rule type="required"
                                                                     [message]="ls.l('EmailIsRequired')">
                                                </dxi-validation-rule>
                                                <dxi-validation-rule type="pattern"
                                                                     [pattern]="emailRegEx"
                                                                     [message]="ls.l('InvalidEmailAddress')">
                                                </dxi-validation-rule>
                                            </dx-validator>
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('AltEmail')}}</div>
                                    <div class="dx-field-value">
                                        <dx-text-box placeholder="Enter alternative email"
                                                     [(value)]="submitApplicationProfileInput.personalInformation.alternateEmail">
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('MobPhone')}}</div>
                                    <div class="dx-field-value">
                                        <dx-text-box name="phone"
                                                     (onFocusOut)="inputStatusesService.blurInput($event)"
                                                     (onFocusIn)="inputStatusesService.focusInput($event)"
                                                     [(value)]="submitApplicationProfileInput.personalInformation.phoneMobile"
                                                     [maskRules]="rules">
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('phone')}}</div>
                                    <div class="dx-field-value">
                                        <dx-text-box name="phone"
                                                     (onFocusOut)="inputStatusesService.blurInput($event)"
                                                     (onFocusIn)="inputStatusesService.focusInput($event)"
                                                     [(value)]="submitApplicationProfileInput.personalInformation.phone"
                                                     [maskRules]="rules">
                                        </dx-text-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('PreferredContactTime')}}</div>
                                    <div class="dx-field-value">
                                        <dx-select-box
                                            [items]="contactTime"
                                            valueExpr="key"
                                            displayExpr="text"
                                            [(value)]="submitApplicationProfileInput.personalInformation.preferredContactTOD"
                                            placeholder="Select contact time">
                                        </dx-select-box>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="dx-field">
                                    <div class="dx-field-label">{{ls.l('Timezone')}}</div>
                                    <div class="dx-field-value">
                                        <dx-text-box name="timezone"></dx-text-box>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dx-field">
                            <div class="right-info">
                                <small>* By clicking "Next", you agree to our <a class="link" (click)="openConditionsDialog(termsData)">Terms
                                    &amp; Conditions</a> and <a class="link" (click)="openConditionsDialog(privacyData)">Privacy Policy</a>
                                    and to receive important notices and other communications electronically.
                                </small>
                            </div>
                            <div class="right-info">
                                <small>** By providing your number and clicking “Next”, you consent to receive calls, texts and pre-recorded
                                    messages from Lendspace, its Lending Partners and/or Network Partners.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <button matStepperPrevious class="btn btn-default">{{ls.l('Back')}}</button>
                        <dx-button class="btn btn-layout btn-next"
                                   text="Next"
                                   (onClick)="goToNextStep($event)">
                        </dx-button>
                    </div>
                </dx-validation-group>
            </div>
        </mat-step>
        <mat-step>
            <div class="step-item">
                <div class="header">
                    {{ls.l('HomeAddress')}}
                </div>
                <div class="main">
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('address1')}}</div>
                        <div class="dx-field-value">
                            <dx-text-box placeholder="Enter address"
                                         [(value)]="submitApplicationProfileInput.personalInformation.address1">
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('country_code')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter country code"
                                                 [(value)]="submitApplicationProfileInput.personalInformation.countryCode">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('state')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter state code"
                                                 [(value)]="submitApplicationProfileInput.personalInformation.stateCode">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('city')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter city"
                                                 [(value)]="submitApplicationProfileInput.personalInformation.city">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('postal_code')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter postal code"
                                                 name="zipCode"
                                                 (onFocusOut)="inputStatusesService.blurInput($event)"
                                                 (onFocusIn)="inputStatusesService.focusInput($event)"
                                                 [(value)]="submitApplicationProfileInput.personalInformation.postalCode">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('months_at_address')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter number of years"
                                                 [(value)]="submitApplicationProfileInput.personalInformation.monthsAtAddress">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('DoYouOwnYourHome')}}</div>
                                <div class="dx-field-value">
                                    <dx-radio-group
                                        [items]="radioGroup"
                                        [(value)]="submitApplicationProfileInput.personalInformation.isHomeOwner"
                                        displayExpr="text"
                                        valueExpr="value"
                                        layout="horizontal">
                                    </dx-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('license_state')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter license state"
                                                 [(value)]="submitApplicationProfileInput.personalInformation.licenseState">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('license_state')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter license number"
                                                 [(value)]="submitApplicationProfileInput.personalInformation.licenseNumber">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button matStepperPrevious class="btn btn-default">{{ls.l('Back')}}</button>
                    <dx-button class="btn btn-layout btn-next"
                               text="Next"
                               (onClick)="goToNextStep($event)">
                    </dx-button>
                </div>
            </div>

        </mat-step>
        <mat-step>
            <div class="step-item">
                <div class="header">
                    {{ls.l('BankInfo')}}
                </div>
                <div class="main">
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('bank_account_type')}}</div>
                        <div class="dx-field-value">
                            <dx-select-box
                                [items]="bankAccountType"
                                valueExpr="key"
                                displayExpr="text"
                                [(value)]="submitApplicationProfileInput.bankInformation.bankAccountType"
                                placeholder="Choose Bank Account Type">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('bank_name')}}</div>
                        <div class="dx-field-value">
                            <dx-text-box placeholder="Enter bank name"
                                         [(value)]="submitApplicationProfileInput.bankInformation.bankName">
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('bank_account_number')}}</div>
                        <div class="dx-field-value">
                            <dx-text-box placeholder="Enter bank account number"
                                         [(value)]="submitApplicationProfileInput.bankInformation.bankAccountNumber">
                            </dx-text-box>
                        </div>
                    </div>

                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('bank_aba')}}</div>
                        <div class="dx-field-value">
                            <dx-text-box placeholder="Enter bank ABA"
                                         [(value)]="submitApplicationProfileInput.bankInformation.bankABA">
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('BankPhone')}}</div>
                        <div class="dx-field-value">
                            <dx-text-box name="phone"
                                         (onFocusOut)="inputStatusesService.blurInput($event)"
                                         (onFocusIn)="inputStatusesService.focusInput($event)"
                                         [maskRules]="rules"
                                         [(value)]="submitApplicationProfileInput.bankInformation.bankPhone">
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('MonthsAtBank')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter month in bank"
                                                 [(value)]="submitApplicationProfileInput.bankInformation.monthsAtBank">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('direct_deposit')}}</div>
                                <div class="dx-field-value">
                                    <dx-radio-group
                                        [items]="radioGroup"
                                        [(value)]="submitApplicationProfileInput.bankInformation.isDirectDeposit"
                                        displayExpr="text"
                                        valueExpr="value"
                                        layout="horizontal">
                                    </dx-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button matStepperPrevious class="btn btn-default">{{ls.l('Back')}}</button>
                    <dx-button class="btn btn-layout btn-next"
                               text="Next"
                               (onClick)="goToNextStep($event)">
                    </dx-button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="step-item">
                <div class="header">
                    {{ls.l('EmploymentInfo')}}
                </div>
                <div class="main">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('IsEmployed')}}</div>
                                <div class="dx-field-value">
                                    <dx-radio-group
                                        [items]="radioGroup"
                                        [(value)]="submitApplicationProfileInput.employmentInformation.isEmployed"
                                        displayExpr="text"
                                        valueExpr="value"
                                        layout="horizontal">
                                    </dx-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('active_military')}}</div>
                                <div class="dx-field-value">
                                    <dx-radio-group
                                        [items]="radioGroup"
                                        [(value)]="submitApplicationProfileInput.personalInformation.isActiveMilitary"
                                        displayExpr="text"
                                        valueExpr="value"
                                        layout="horizontal">
                                    </dx-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('employer_name')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter employer name"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.employerName">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('JobTitle')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter job title"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.jobTitle">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('months_at_employer')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter period"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.monthsAtEmployer">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('phone_work')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box name="phone"
                                                 (onFocusOut)="inputStatusesService.blurInput($event)"
                                                 (onFocusIn)="inputStatusesService.focusInput($event)"
                                                 [maskRules]="rules"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.phoneWork">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('WorkPhoneExt')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box [maxLength]="5"
                                                 name="phoneExt"
                                                 (onFocusOut)="inputStatusesService.blurInput($event)"
                                                 (onFocusIn)="inputStatusesService.focusInput($event)"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.phoneWorkExtension">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('EmployerAddress1')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter address"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.employerAddress1">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('EmployerCity')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter city"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.employerCity">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('EmployerStateCode')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter state code"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.employerStateCode">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('EmployerPostalCode')}}</div>
                                <div class="dx-field-value">
                                    <dx-text-box placeholder="Enter postal code"
                                                 name="zipCode"
                                                 (onFocusOut)="inputStatusesService.blurInput($event)"
                                                 (onFocusIn)="inputStatusesService.focusInput($event)"
                                                 [(value)]="submitApplicationProfileInput.employmentInformation.employerPostalCode">
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button matStepperPrevious class="btn btn-default">{{ls.l('Back')}}</button>
                    <dx-button class="btn btn-layout btn-next"
                               text="Next"
                               (onClick)="goToNextStep($event)">
                    </dx-button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="step-item">
                <div class="header">
                    {{ls.l('EmploymentPayment')}}
                </div>
                <div class="main">
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('net_monthly_income')}}</div>
                        <div class="dx-field-value">
                            <dx-number-box
                                format="$ #,##0.##"
                                [(value)]="submitApplicationProfileInput.employmentInformation.netMonthlyIncome">
                            </dx-number-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('pay_frequency')}}</div>
                        <div class="dx-field-value">
                            <dx-select-box
                                [items]="payFrequency"
                                valueExpr="key"
                                displayExpr="text"
                                [(value)]="submitApplicationProfileInput.employmentInformation.payFrequency"
                                placeholder="Choose pay frequency">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('pay_next_date')}}</div>
                        <div class="dx-field-value">
                            <dx-date-box
                                [(value)]="submitApplicationProfileInput.employmentInformation.payNextDate"
                                (onBlur)="removeTimeZone(submitApplicationProfileInput.employmentInformation.payNextDate)"
                                type="date">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('pay_after_next_date')}}</div>
                        <div class="dx-field-value">
                            <dx-date-box
                                [(value)]="submitApplicationProfileInput.employmentInformation.payAfterNextDate"
                                (onBlur)="removeTimeZone(submitApplicationProfileInput.employmentInformation.payAfterNextDate)"
                                type="date">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('income_type')}}</div>
                        <div class="dx-field-value">
                            <dx-select-box
                                [items]="incomeType"
                                valueExpr="key"
                                displayExpr="text"
                                placeholder="Choose income type"
                                [(value)]="submitApplicationProfileInput.employmentInformation.incomeType">
                            </dx-select-box>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button matStepperPrevious class="btn btn-default">{{ls.l('Back')}}</button>
                    <dx-button class="btn btn-layout btn-next"
                               text="Next"
                               (onClick)="goToNextStep($event)">
                    </dx-button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="step-item">
                <div class="header">
                    {{ls.l('LoanInfo')}}
                </div>
                <div class="main">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('CreditScoreRating')}}</div>
                                <div class="dx-field-value">
                                    <dx-select-box
                                        [items]="creditScore"
                                        valueExpr="key"
                                        displayExpr="text"
                                        [(value)]="submitApplicationProfileInput.personalInformation.creditScoreRating"
                                        placeholder="Choose credit score">
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('LoanReason')}}</div>
                                <div class="dx-field-value">
                                    <dx-select-box
                                        [items]="loanReason"
                                        valueExpr="key"
                                        displayExpr="text"
                                        [(value)]="submitApplicationProfileInput.loanInformation.loanReason"
                                        placeholder="Choose loan reason">
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('RequestedLoanAmount')}}</div>
                                <div class="dx-field-value">
                                    <dx-number-box
                                        format="$ #,##0.##"
                                        [(value)]="submitApplicationProfileInput.loanInformation.requestedLoanAmount">
                                    </dx-number-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header">
                        {{ls.l('DebtInfo')}}
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">{{ls.l('DebtAmount')}}</div>
                        <div class="dx-field-value">
                            <dx-number-box
                                format="$ #,##0.##"
                                [(value)]="submitApplicationProfileInput.debtInformation.debtAmount">
                            </dx-number-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('CCDebtAmount')}}</div>
                                <div class="dx-field-value">
                                    <dx-number-box
                                        format="$ #,##0.##"
                                        [(value)]="submitApplicationProfileInput.debtInformation.creditCardDebtAmount">
                                    </dx-number-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="dx-field">
                                <div class="dx-field-label">{{ls.l('StudentDebtAmount')}}</div>
                                <div class="dx-field-value">
                                    <dx-number-box
                                        format="$ #,##0.##"
                                        [(value)]="submitApplicationProfileInput.debtInformation.studentDebtAmount">
                                    </dx-number-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button matStepperPrevious class="btn btn-default">{{ls.l('Back')}}</button>
                    <button class="btn btn-layout btn-next"
                            (click)="submitApplicationProfile()">
                        {{ls.l('Submit')}}
                    </button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>
