@mainFont: inherit;

/deep/ #offers-wizard {
    background: #E7E7E7 url(../../assets/images/hero.jpg) bottom 0 left 0 no-repeat;
    padding-bottom: 0;
    
    @media all and (max-width: 768px) {
        background-image: none;
    }
}

:host {
    display: block;
    height: 100%;
    
    .link {
        color: #58a3dc;
        transition: .3s;
        
        &:hover {
            text-decoration: underline;
            color: darken(#58a3dc, 10%);
        }
    }
    
    /deep/ .step-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        
    
        .header {
            height: 9%;
            padding: 11px 52px 11px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 700;
            position: relative;
            z-index: 5;
            color: #2C2C2C;

            @media all and (min-width: 992px) {
                padding-left: calc(~"35% + 30px");
                justify-content: unset;
            }
    
            @media all and (max-width: 768px) {
                font-size: 20px;
            }
        }

        .main {
            height: 73%;
            flex-grow: 2;
            position: relative;
            z-index: 6;
            overflow: auto;

            @media all and (min-width: 992px) {
                width: 65%;
                align-self: flex-end;
                padding: 0 30px;
            }

            h2 {
                font-family: @mainFont;
                font-size: 32px;
                font-weight: bold;
                color: #ffffff;
            }

            p {
                font-family: @mainFont;
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 0.7px;
                color: #ffffff;
                margin-top: -12px;
            }
            
            .right-info {
                margin-bottom: 12px;
            }

            .row {
                margin-bottom: 10px;
            }
        }

        .footer {
            height: 15%;
            align-items: center;
            position: relative;
            z-index: 7;
            display: flex;

            .btn {
                padding-left: 30px;
                padding-right: 30px;

                &-next {
                    margin-left: auto;
                }
            }
        }
    }
    
    /deep/ .mat-dialog-content {
        height: 100%;
        min-height: 100%;
        position: relative;
    }
    
    /deep/ .dx-field {
        align-items: center;
        width: 100%;
        
        .dx-field-label {
            width: 100%;
            float: right;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            padding-bottom: 4px;
        }
        .dx-field-value {
            width: 100% !important;
        }

        .dx-texteditor-input {
            background-color: #fff;
            border-radius: 4px;
        }

        .dx-placeholder {
            font-weight: 400;
            color: #aaa;
            transition: 0.2s;
        }
    }
    
    /deep/ .dx-radiobutton-checked {
        .dx-radiobutton-icon {
            .dx-radiobutton-icon-dot {
                background: #f0d500;
            }
        }
    }
    
    /deep/ .dx-state-focused {
        border-color: #f0d500;
    }
    
    /deep/ mat-horizontal-stepper {
        position: absolute;
        height: 100%;
        width: calc(~"100% - 48px");
        background-color: transparent !important;
        
        .mat-horizontal-stepper-header-container {
            position: absolute;
            width: 200px;
            bottom: 28px;
            left: 50%;
            transform: translate(-50%, 0);
            justify-content: space-around;
            border-bottom: 0;
            padding: 0;
            z-index: 9999;

            @media all and (max-width: 768px) {
                display: none;
            }
            
            .mat-step-label-active {
                .mat-step-text-label {
                    font-weight: 500 !important;
                }
            }
            
            .mat-step-text-label,
            .mat-step-label,
            .mat-step-header-ripple {
                display: none !important;
            }
            
            .mat-step-icon,
            .mat-step-icon-not-touched {
                margin-right: 0;
                width: 8px;
                height: 8px;
                border-radius: 19px;
                background-color: rgba(66, 76, 86, 0.2);
                margin-bottom: 0;
                
                .mat-icon {
                    display: none;
                }
                
                span {
                    display: none;
                }
            }
            
            mat-step-header.mat-horizontal-stepper-header {
                padding: 10px;
                height: 100%;
                
                &:hover {
                    background: transparent !important;
                }
                
                &[aria-selected="true"] .mat-step-icon {
                    width: 9px;
                    height: 9px;
                    bottom: 0;
                    background-color: #f0d500;
                }
            }
        }
        
        .mat-stepper-horizontal-line {
            display: none !important;
        }
        
        .mat-horizontal-content-container {
            padding: 0;
            height: 100%;
            .mat-horizontal-stepper-content {
                opacity: 0;
                &[aria-expanded="true"] {
                    opacity: 1;
                    transition: opacity 1.2s !important;
                }
            }
        }
        
        .mat-horizontal-stepper-content[aria-expanded="true"] {
            height: 100%;
        }
    }

    /deep/ dx-validation-group {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
}
