:host {
    margin: 0px 0px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    height: 100%;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    &.disabled {
        pointer-events: none!important;
        opacity: 0.5!important;
    }

    .load-more {
        z-index: 10;    
        cursor: pointer;
        display: inline-block;
        width: 100%;
        height: 30px;
        box-shadow: 0 0 20px 0 rgba(30, 32, 33, 0.11);
        background-color: #f3f7fa;
        border: solid 1px #e5e9ec;
        text-align: center;
        img {
            padding: 10px;
        }
    }
    .pipeline-wrapper {
        width: 100%;
        display: flex;
        height: 100%;
        .column {
            min-height: 50px;
            width: 100%;
            min-width: 80px;
            margin: 0;
            padding: 0;
            .column-title {
                min-height: 40px;
                padding: 15px 36px 15px 15px;
                background-color: #fff;
                border: 1px solid #dfdfdf;
                border-right: 0;
                margin-bottom: 12px;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600; // 500
                letter-spacing: 0.5px;
                color: #4b657e;
                position: relative;
                div {
                    width: 100%;
                    bottom: 15px;
                    color: #FFF;
                    font-size: 12px;
                    font-weight: 500;
                    position: relative;
                    text-align: center;
                }
                span {
                    display: block;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .edit-button {
                    padding: 0;
                    border: 0;
                    background: transparent;
                    top: 50%;
                    transform: translateY(-50%);
                    outline: none;
                    opacity: 0;
                    transition: .3s;
                    position: absolute;
                    right: 0px;
                }
                &:hover {
                    .edit-button {
                        opacity: 1;
                    }
                }
            }
            &:last-child {
                .column-title {
                    border-right: 1px solid #dfdfdf;
                }
            }
            .column-items {
                min-height: 110px;
                padding: 1px;
                border: 2px dashed transparent;
                border-radius: 5px;
                &.drop-area {
                    border: 2px dashed #DFDFDF;
                }
                &.drag-allowed {
                    .card {
                        cursor: pointer!important;
                    }
                }
                .card {
                    cursor: not-allowed;
                    min-height: 95px;
                    padding: 10px 0px 0px 0px;
                    margin-bottom: 11px;
                    font-size: 15px;
                    line-height: 1.4;
                    font-weight: 600; // TODO: need change on 500 when font will be added
                    text-align: left;
                    letter-spacing: 0.3px;
                    color: #424c56;
                    overflow: visible;
                    &.selected {
                        background-color: #effafe;
                    }
                    &.locked {
                        opacity: 0.3;
                    }
                    &.gu-transit {
                        opacity: 1;
                        background: #fafafa;
                    }
                    .pipeline-photo-wrap {
                        min-width: 40px;
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                    }
                    .row {
                        margin-right: -15px;
                        &.item-data {
                            display: none;
                            position: relative;
                            bottom: -11px;
                            padding: 10px 0px 3px;
                            img {
                                vertical-align: baseline;
                                &.email {
                                    padding-bottom: 4px;
                                }
                            }
                            span.delimiter {
                                display: inline-block;
                                width: 1px;
                                height: 21px;
                                background-color: #dfdfdf;
                                margin: 0px 10px;
                            }
                            .text-right {
                                width: 100%;
                                white-space: nowrap;                    
                                padding-right: 10px;
                                .related-contact {
                                    float: left;
                                    padding-left: 10px;
                                    font-size: 12px;
                                    font-weight: 300;
                                    font-style: normal;
                                    font-stretch: normal;
                                    letter-spacing: 0.2px;
                                    text-align: left;
                                    color: #94979a;
                                }
                            }
                        }
                        .full-name {
                            display: inline-block;
                            max-height: 42px;
                            padding: 0px 10px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            span {
                                white-space: nowrap;
                                &.no-name{
                                    font-style: italic;
                                    font-weight: 200;
                                    font-size: 12px;
                                }
                            }
                            .company-name {  
                                overflow: hidden;
                                text-overflow: ellipsis;
                                span {
                                    font-size: 12px;
                                    font-weight: 500;
                                    font-style: normal;
                                    font-stretch: normal;
                                    line-height: 0.71;
                                    letter-spacing: 0.3px;
                                    text-align: left;
                                    color: #677380;                            
                                }
                            }
                        }
                        .img-circle {
                            border-radius: 50%;
                        }
                        .days-ago {
                            height: 20px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            position: absolute;
                            bottom: 12px;
                            left: 40px;
                            span {
                                font-size: 12px;
                                font-weight: 300;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 0.83;
                                letter-spacing: 0.2px;
                                text-align: left;
                                color: #94979a;
                                padding: 5px;
                                vertical-align: middle;
                            }
                        }
                        .check-box {
                            position: absolute;
                            bottom: 11px;
                            left: 10px;

                            /deep/ .dx-checkbox-icon {
                                width: 18px;
                                height: 18px;
                            }
                        }                
                    }
                    .item-data {
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
            &.color-purple {
                .column-title {
                    color: #7458c5;
                }
                .column-items {
                    .card {
                        border-left-color: #7458c5;
                    }
                }
            }
            &.color-green {
                .column-title {
                    color: #6ce686;
                }
                .column-items {
                    .card {
                        border-left-color: #6ce686;
                    }
                }
            }
            &.color-orange {
                .column-title {
                    color: orange;
                }
                .column-items {
                    .card {
                        border-left-color: orange;
                    }
                }
            }
            &.color-yellow {
                .column-title {
                    color: gold;
                }
                .column-items {
                    .card {
                        border-left-color: gold;
                    }
                }
            }
            &.color-black {
                .column-title {
                    color: #000;
                }
                .column-items {
                    .card {
                        border-left-color: #000;
                    }
                }
            }
            &.color-blue {
                .column-title {
                    color: blue;
                }
                .column-items {
                    .card {
                        border-left-color: blue;
                    }
                }
            }
            &.color-gray {
                .column-title {
                    color: gray;
                }
                .column-items {
                    .card {
                        border-left-color: gray;
                    }
                }
            }
        }
    }
}

.gu-mirror {    
    opacity: 1;
    background: #fafafa;
    min-height: 105px;
    padding: 16px 0;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600; // TODO: need change on 500 when font will be added
    text-align: left;
    color: #202b35;
    cursor: grabbing;

    &.selected {
        &:before {
            content: attr(count);
            position: absolute;
            top: -10px;
            right: -10px;
            display: block;
            border-radius: 50%;
            background-color: #da0000;
            width: 25px;
            height: 25px;
            text-align: center;
            color: #FFF;
            font-weight: 400;
            font-size: 12px;
            padding: 4px 0px;
            border: 1px solid #ca0808;
        }
    }

    .pipeline-photo-wrap {
        min-width: 40px;
        position: absolute;
        right: 5px;
        bottom: 5px;
}
    .related-contact {  
        display: none;
    }
    .row {
        margin-right: -15px;
        &.item-data {
            display: none;
            position: relative;
            bottom: -15px;
            padding: 10px 0px;
            img {
                vertical-align: baseline;
                &.email {
                    padding-bottom: 4px;
                }
            }
            span.delimiter {
                display: inline-block;
                width: 1px;
                height: 21px;
                background-color: #dfdfdf;
                margin: 0px 10px;
            }
            .text-right {
                width: 100%;
                white-space: nowrap;                    
                padding-right: 10px;
            }
        }
        .full-name {
            max-height: 42px;
            width: 100%;
            padding: 0px 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            span {
                white-space: nowrap;
            }
            .company-name {  
                overflow: hidden;
                text-overflow: ellipsis;
                span {
                    font-size: 12px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 0.71;
                    letter-spacing: 0.3px;
                    text-align: left;
                    color: #677380;                            
                }
            }
        }
        .img-circle {
            border-radius: 50%;
        }
        .days-ago {
            height: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            position: absolute;
            bottom: 12px;
            left: 40px;
            span {
                font-size: 12px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.83;
                letter-spacing: 0.2px;
                text-align: left;
                color: #94979a;
                padding: 5px;
                vertical-align: middle;
            }
        }
        .check-box {
            position: absolute;
            bottom: 11px;
            left: 10px;

            /deep/ .dx-checkbox-icon {
                width: 18px;
                height: 18px;
            }
        }                
    }
}
