<div class="pipeline-wrapper">
    <div *ngFor="let item of pipeline?.stages; let i = index;" class="column column-{{i}} color-{{item.color}}">
        <div class="column-title">
            {{item.name}} <button class="edit-button"><img src="/assets/common/images/icons/edit-icon.svg" alt="Edit"></button>
        </div>
        <div class="column-items" [dragula]='"bag"'>
            <ng-container *ngFor="let card of pipelineItems">
                <ng-container *ngIf="card.Stage == item.name">
                    <div class="card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-9">{{card.FullName}}</div>
                                <div class="col-sm-3 text-right pipeline-photo-wrap">
                                    <img [src]="card.Photo ? 'data:image/jpeg;base64,'+ card.Photo : 'assets/common/images/no-photo.png'" alt="{{card.FullName}}" class="img-responsive img-circle" width="40">
                                </div>
                            </div>
                            <div class="row item-data">
                                <div class="col-sm-6">
                                <span class="price">
                                    {{card.Amount}}
                                </span>
                                    <span class="count">
                                    {{card.CurrentNumber}}/{{card.TotalNumber}}
                                </span>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <span class="notes-count"><img src="/assets/common/images/icons/note-file.svg" alt="note" width="11">{{card.NoteCount}}</span>
                                    <span class="documents-count"><img src="/assets/common/images/icons/document-file.svg" alt="document" width="11">{{card.DocumentCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
