<div class="pipeline-wrapper" [ngClass]="{disabled: disabled}">
    <div *ngFor="let stage of stages; let i = index;" class="column column{{stage.index + ' ' + (stage.sortOrder && (stage.sortOrder > 0 ? 'positive': 'negative') || 'focused')}} color-{{stage.color}}">
        <div class="column-title">
            <span>{{stage.name}}</span><div>{{'(' + (stage?.total || 0) + ')'}}</div><button class="edit-button"><img src="./assets/common/icons/edit-icon.svg" alt="Edit"></button>
        </div>
        <div class="column-items" [ngClass]="{'drag-allowed': stage?.dragAllowed}" [dragula]="dragulaName" [dragulaModel]="stage?.leads" accessKey="{{stage?.name}}" (click)="hideStageHighlighting()">
            <ng-container *ngFor="let lead of stage.leads">
                  <div class="card" [ngClass]="{locked: lead?.locked}" [accessKey]="lead?.Id" (click)="onCardClickInternal(lead, $event)" [attr.stage]="lead?.Stage" count="">
                        <div class="container-fluid">                                        
                            <div class="row">
                                <div class="full-name">
                                    <span *ngIf="lead?.Name || lead?.Title">{{ lead?.Name || lead?.Title }}</span>
                                    <span *ngIf="!lead?.Name && !lead?.Title" class="no-name">{{ l('ClientNoName') }}</span>
                                    <div class="company-name">
                                        <span>{{ lead?.CompanyName || lead?.Description }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="check-box">
                                    <dx-check-box text=""></dx-check-box>
                                </div>
                                <div class="days-ago">
                                    <img src="./assets/common/icons/clock-circle.svg" class="img-responsive"><span *ngIf="lead?.CreationTime">{{ removeTimezoneOffset(lead?.CreationTime) | timeAgo }}</span>
                                    <span *ngIf="lead?.StartDate">{{ removeTimezoneOffset(lead?.StartDate) | date : 'M/d, H:mm' }} - {{ removeTimezoneOffset(lead?.EndDate) | date : 'M/d, H:mm' }}</span>
                                </div>
                                <div class="text-right pipeline-photo-wrap">
                                    <div [ngStyle]="{'background-image': 'url(' + getPhoto(lead?.Photo, lead?.Gender) + ')'}" class="img-responsive img-circle"></div>
                                </div>
                            </div>
                      </div>
                  </div>
            </ng-container>
        </div>
        <span class="load-more" [hidden]="stage.full || !stage?.leads?.length" (click)="loadMore(i)"><img src="./assets/common/icons/arrow-down.svg"></span>
    </div>
</div>
