@import "~dragula/dist/dragula.css";

:host {
    margin: 0 0;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    height: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.disabled {
        pointer-events: none!important;
        opacity: 0.5!important;
    }

    .load-more {
        z-index: 1;
        cursor: pointer;
        display: inline-block;
        width: 100%;
        height: 30px;
        box-shadow: 0 0 20px 0 rgba(30, 32, 33, 0.11);
        background-color: #f3f7fa;
        border: solid 1px #e5e9ec;
        text-align: center;
        img {
            padding: 10px;
        }
    }
    .pipeline-wrapper {
        width: 100%;
        z-index: 0;
        display: flex;
        height: 100%;

        .column {
            min-height: 50px;
            width: 100%;
            min-width: 80px;
            margin: 0;
            padding: 70px 0 0 0;

            .column-title {
                position: absolute!important;
                top: 0;
                z-index: 1;
                height: 63px;
                min-height: 40px;
                border-radius: 0;
                border: none;
                padding: 5px;
                border-right: 0;
                font-size: 13px;
                font-weight: 600; // 500
                letter-spacing: 0.5px;
                color: #4b657e;
                position: relative;
                background-color: #076943;
                .toggleAll {
                    position: absolute;
                    left: 2px;
                    z-index: 1;
                    top: 2px;
                    margin: auto;
                    width: 15px;
                    height: 15px;
                    display: none;
                    /deep/ .dx-checkbox-icon {
                        width: 15px;
                        height: 15px;
                    }
                    &.visible {
                        display: block;
                    }
                }
                &:hover .toggleAll {
                    display: block;
                }
                span {
                    font-family: Poppins;
                    font-size: 12px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.7;
                    letter-spacing: 1.2px;
                    color: #ffffff;
                    text-align: center;
                    display: block;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & > span {
                    text-transform: uppercase;
                }
                div {
                    width: 100%;
                    bottom: 19px;
                    color: #FFF;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    span {
                        width: auto;
                        font-weight: 400;
                        font-size: 12px;
                        margin-top: 5px;
                        display: inline-flex;
                        &:last-child {
                            margin-left: 10px;
                        }
                    }
                }
                .edit-button {
                    padding: 0;
                    border: 0;
                    background: transparent;
                    top: 50%;
                    transform: translateY(-50%);
                    outline: none;
                    opacity: 0;
                    transition: .3s;
                    position: absolute;
                    right: 0;
                }
                &:hover {
                    .edit-button {
                        opacity: 1;
                    }
                }
            }
            &:first-child {
                .column-title {
                    &:before {
                        content: none!important;
                    }
                    .edit-button {
                        margin-left: 10px;
                    }
                }
            }
            &:last-child {
                .column-title {
                    &:after {
                        content: none!important;
                    }
                    .edit-button {
                        margin-right: 10px;
                    }
                }
            }
            .column-items {
                min-height: 110px;
                padding: 1px;
                border: 2px dashed transparent;
                border-radius: 5px;
                &.drop-area {
                    border: 2px dashed #DFDFDF;
                }
                &.drag-allowed {
                    .card {
                        cursor: pointer!important;
                    }
                }
                .card {
                    cursor: not-allowed;
                    min-height: 95px;
                    padding: 10px 0 0 0;
                    margin-bottom: 11px;
                    font-size: 15px;
                    line-height: 1.4;
                    font-weight: 600; // TODO: need change on 500 when font will be added
                    text-align: left;
                    letter-spacing: 0.3px;
                    color: #424c56;
                    overflow: visible;
                    &.selected {
                        background-color: #effafe;
                    }
                    &.locked {
                        opacity: 0.3;
                    }
                    &.gu-transit {
                        opacity: 1;
                        background: #fafafa;
                    }
                    .pipeline-photo-wrap {
                        min-width: 40px;
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                    }
                    .row {
                        margin-right: -15px;
                        padding: 0 10px;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        &.item-data {
                            display: none;
                            position: relative;
                            bottom: -11px;
                            padding: 10px 0 3px;
                            img {
                                vertical-align: baseline;
                                &.email {
                                    padding-bottom: 4px;
                                }
                            }
                            span.delimiter {
                                display: inline-block;
                                width: 1px;
                                height: 21px;
                                background-color: #dfdfdf;
                                margin: 0 10px;
                            }
                            .text-right {
                                width: 100%;
                                white-space: nowrap;
                                padding-right: 10px;
                                .related-contact {
                                    float: left;
                                    padding-left: 10px;
                                    font-size: 12px;
                                    font-weight: 300;
                                    font-style: normal;
                                    font-stretch: normal;
                                    letter-spacing: 0.2px;
                                    text-align: left;
                                    color: #94979a;
                                }
                            }
                        }
                        .full-name {
                            display: inline-block;
                            max-height: 42px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            span {
                                white-space: nowrap;
                                &.no-name{
                                    font-style: italic;
                                    font-weight: 200;
                                    font-size: 12px;
                                }
                            }
                        }
                        .company-name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            span {
                                font-size: 12px;
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                letter-spacing: 0.3px;
                                text-align: left;
                                color: #677380;
                                white-space: nowrap;
                            }
                        }
                        .days-ago {
                            height: 20px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            position: absolute;
                            bottom: 12px;
                            left: 40px;
                            span {
                                font-size: 12px;
                                font-weight: 300;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 0.83;
                                letter-spacing: 0.2px;
                                text-align: left;
                                color: #94979a;
                                padding: 5px;
                                vertical-align: middle;
                            }
                        }
                        .check-box {
                            position: absolute;
                            bottom: 11px;
                            height: 18px;
                            line-height: 0;

                            /deep/ .dx-checkbox-icon {
                                width: 18px;
                                height: 18px;
                            }

                            /deep/ .dx-checkbox-icon,
                            /deep/ .dx-checkbox-container {
                                pointer-events: none;
                            }
                        }
                    }
                    .item-data {
                        font-size: 13px;
                        font-weight: 400;
                    }
                    &.compact {
                        min-height: 50px;
                        margin-bottom: 5px;
                        padding-top: 2px;
                        .full-name {
                            margin-left: 30px;
                        }
                        .days-ago {
                            display: none;
                        }
                        .pipeline-photo-wrap {
                            top: 2px;
                        }
                    }
                }
            }
            &.positive {
                margin-right: 11px;
                .column-title {
                    background-color: #005f3b !important;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        border-top: 31px solid transparent;
                        border-bottom: 31px solid transparent;
                        border-left: 31px solid #FFF;
                        left: 0;
                        top: 0;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        border-top: 31px solid transparent;
                        border-bottom: 31px solid transparent;
                        border-left: 31px solid #076943;
                        right: -31px;
                        top: 0;
                    }
                    & > span, div {
                        padding-left: 30px;
                    }
                    .toggleAll {
                        left: 30px;
                    }
                }
                &.column1 {
                    z-index: 16;
                    .column-title {
                        background-color: #b6cf5e!important;
                        &:after {
                            border-left: 31px solid #b6cf5e;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #b6cf5e;
                    }
                }
                &.column2 {
                    z-index: 15;
                    .column-title {
                        background-color: #86c45d!important;
                        &:after {
                            border-left: 31px solid #86c45d;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #86c45d;
                    }
                }
                &.column3 {
                    z-index: 14;
                    .column-title {
                        background-color: #46aa6e!important;
                        &:after {
                            border-left: 31px solid #46aa6e;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #46aa6e;
                    }
                }
                &.column4 {
                    z-index: 13;
                    .column-title {
                        background-color: #0e9360!important;
                        &:after {
                            border-left: 31px solid #0e9360;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #0e9360;
                    }
                }
                &.column5 {
                    z-index: 12;
                    .column-title {
                        background-color: #076943!important;
                        &:after {
                            border-left: 31px solid #076943;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #076943;
                    }
                }
                &.column6 {
                    z-index: 11;
                }
                &.column7 {
                    z-index: 10;
                }
                &.column8 {
                    z-index: 9;
                }
                &.column9 {
                    z-index: 8;
                }
                &.column10 {
                    z-index: 7;
                }
                &.column11 {
                    z-index: 6;
                }
                &.column12 {
                    z-index: 5;
                }
                &.column13 {
                    z-index: 4;
                }
                &.column14 {
                    z-index: 3;
                }
                &.column15 {
                    z-index: 2;
                }
            }
            &.negative {
                margin-left: 11px;
                .column-title {
                    background-color: #b52626 !important;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        border-top: 31px solid transparent;
                        border-bottom: 31px solid transparent;
                        border-right: 31px solid #b52626;
                        left: -31px;
                        top: 0;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        border-top: 31px solid transparent;
                        border-bottom: 31px solid transparent;
                        border-right: 31px solid #FFF;
                        right: 0;
                        top: 0;
                    }
                    & > span, div {
                        padding-right: 30px;
                    }
                    .edit-button {
                        left: 0!important;
                    }
                }
                &.column1 {
                    z-index: 16;
                    .column-title {
                        background-color: #f7d15e!important;
                        &:before {
                            border-right: 31px solid #f7d15e;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #f7d15e;
                    }
                }
                &.column2 {
                    z-index: 15;
                    .column-title {
                        background-color: #f4ae55!important;
                        &:before {
                            border-right: 31px solid #f4ae55;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #f4ae55;
                    }
                }
                &.column3 {
                    z-index: 14;
                    .column-title {
                        background-color: #f05b29!important;
                        &:before {
                            border-right: 31px solid #f05b29;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #f05b29;
                    }
                }
                &.column4 {
                    z-index: 13;
                    .column-title {
                        background-color: #f02929!important;
                        &:before {
                            border-right: 31px solid #f02929;
                        }
                    }
                    .column-items .card {
                        border-top: solid 5px #f02929;
                    }
                }
            }
            .edit-button {
                cursor: pointer;
            }
            .column-items {
                opacity: 0.7;
                .card {
                    border: solid 1px #dfdfdf;
                    .related-contact {
                        display: none;
                    }
                }
            }
        }
        .column0 {
            z-index: 17;
            width: auto;
            min-width: 14vw;
            margin: 0 11px!important;
            .column-title {
                background-color: #00aeef!important;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    border-top: 31px solid transparent;
                    border-bottom: 31px solid transparent;
                    border-right: 31px solid #00aeef;
                    left: -31px;
                    top: 0;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    border-top: 31px solid transparent;
                    border-bottom: 31px solid transparent;
                    border-left: 31px solid #00aeef;
                    right: -31px;
                    top: 0;
                }
            }
            .column-items {
                .card {
                    border-top: solid 5px #00aeef;
                    .related-contact {
                        display: inline-block;
                    }
                }
            }
        }
        .focused {
            .column-items {
                opacity: 1!important;
                .card {
                    box-shadow: 0 0 20px 0 rgba(30, 32, 33, 0.11);
                    .item-data, span.delimiter {
                        background-color: #EDF9FE!important;
                    }
                }
            }

        }
    }
}

.gu-mirror {
    opacity: 1;
    background: #fafafa;
    min-height: 105px;
    padding: 16px 0;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600; // TODO: need change on 500 when font will be added
    text-align: left;
    color: #202b35;
    cursor: grabbing;

    &.selected {
        &:before {
            content: attr(count);
            position: absolute;
            top: -10px;
            right: -10px;
            display: block;
            border-radius: 50%;
            background-color: #da0000;
            width: 25px;
            height: 25px;
            text-align: center;
            color: #FFF;
            font-weight: 400;
            font-size: 12px;
            padding: 4px 0;
            border: 1px solid #ca0808;
        }
    }

    .pipeline-photo-wrap {
        min-width: 40px;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .related-contact {
        display: none;
    }
    .row {
        margin-right: -15px;
        padding: 0 10px;
        &.item-data {
            display: none;
            position: relative;
            bottom: -15px;
            padding: 10px 0;
            img {
                vertical-align: baseline;
                &.email {
                    padding-bottom: 4px;
                }
            }
            span.delimiter {
                display: inline-block;
                width: 1px;
                height: 21px;
                background-color: #dfdfdf;
                margin: 0 10px;
            }
            .text-right {
                width: 100%;
                white-space: nowrap;
                padding-right: 10px;
            }
        }
        .full-name {
            max-height: 42px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            span {
                white-space: nowrap;
            }
        }
        .company-name {
            overflow: hidden;
            text-overflow: ellipsis;
            span {
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.71;
                letter-spacing: 0.3px;
                text-align: left;
                color: #677380;
                white-space: nowrap;
            }
        }
        .days-ago {
            height: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            position: absolute;
            bottom: 12px;
            left: 40px;
            span {
                font-size: 12px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.83;
                letter-spacing: 0.2px;
                text-align: left;
                color: #94979a;
                padding: 5px;
                vertical-align: middle;
            }
        }
        .check-box {
            position: absolute;
            bottom: 11px;
            left: 10px;
            height: 18px;
            line-height: 0;

            /deep/ .dx-checkbox-icon {
                width: 18px;
                height: 18px;
            }

            /deep/ .dx-checkbox-icon,
            /deep/ .dx-checkbox-container {
                pointer-events: none;
            }
        }
    }
}

/deep/ .pipeline-actions {
    padding: 0!important;

    .stage-actions {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: left;

        .list-group-item {
            margin: 0;
            padding: 0;
            min-width: 170px;
            border: none;
            text-align: left;
            &:first-child, &:last-child {
                a {
                    padding: 12px 22px;
                }
            }
            &:first-child {
                border-bottom: 1px solid #dfdfdf;
            }
            &:last-child {
                margin-top: 12px;
                border-top: 1px solid #dfdfdf;
                a {
                    &:first-child {
                        padding-right: 13px;
                    }
                    &:last-child {
                        padding-left: 13px;
                    }
                    & > span {
                         color: #00aeef;
                         padding: 0;
                         font-size: 13px;
                    }
                    &.disabled {
                       opacity: 0.5;
                       pointer-events: none;
                   }
                }
            }
            a {
                display: inline-block;
                padding: 12px 22px 0 22px;

                & > i {
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                    &.add-stage {
                        background: url(../../../assets/common/icons/pipeline/add.svg) no-repeat;
                    }
                    &.edit-stage {
                        background: url(../../../assets/common/icons/pipeline/edit.svg) no-repeat;
                    }
                    &.delete-stage {
                        background: url(../../../assets/common/icons/pipeline/remove.svg) no-repeat;
                    }
                    &.right-arrow {
                        background: url(../../../assets/common/icons/pipeline/right-arrow.svg) no-repeat center;
                    }
                    &.left-arrow {
                        background: url(../../../assets/common/icons/pipeline/left-arrow.svg) no-repeat center;
                    }
                }

                & > span {
                    vertical-align: super;
                    padding-left: 10px;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.71;
                    letter-spacing: 0.3px;
                    color: #424c56;
                }

                .dx-checkbox-text {
                    margin-left: -16px;
                }
                .dx-checkbox-icon {
                    opacity: 0.6;
                    width: 19px;
                    height: 19px;
                }
            }
        }
    }
}

/deep/ .funnel-wrapper {
    padding: 0;
    height: calc(~'100vh - 210px');
    overflow-x: hidden;
    overflow-y: auto;
}

/deep/ .bank-code-tooltip {
    bank-code-letter {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}
