<header>
    <h2 mat-dialog-title>{{title}}</h2>
    <mat-dialog-actions>
        <button *ngIf="!isReadOnly" (click)="saveCoupon()" class="button-layout button-primary">{{ls.l('Save')}}</button>
    </mat-dialog-actions>
    <span class="close" (click)="close()"></span>
</header>
<mat-dialog-content>
    <dx-validation-group>
        <div class="field">
            <label for="code">{{ls.l('Code')}}</label>
            <dx-text-box name="code"
                         width="300px"
                         [(value)]="coupon.code"
                         [readOnly]="!isCreate"
                         [disabled]="isReadOnly || isAlreadyUsed">
                <dx-validator>
                    <dxi-validation-rule type="required" message="{{ls.l('RequiredField', ls.l('Code'))}}."></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
        <div class="field">
            <label for="name">{{ls.l('Description')}}</label>
            <dx-text-box name="description"
                         width="300px"
                         [(value)]="coupon.description"
                         [disabled]="isReadOnly">
                <dx-validator>
                    <dxi-validation-rule type="required" message="{{ls.l('RequiredField', ls.l('Description'))}}."></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
        <div class="field">
            <label for="activationTime">{{ls.l('Type')}}</label>
            <dx-select-box [dataSource]="types"
                           width="300px"
                           placeholder="Select type..."
                           [readOnly]="!isCreate"
                           [(value)]="coupon.type"
                           [disabled]="isReadOnly || isAlreadyUsed">
            </dx-select-box>
        </div>
        <ng-container *ngIf="coupon.type == typesEnum.Fixed">
            <div class="field">
                <label>{{ls.l('DiscountAmount')}}</label>
                <dx-number-box width="300px"
                               [format]="amountNullableFormat"
                               [min]="0.01"
                               [readOnly]="!isCreate"
                               [(value)]="coupon.amountOff"
                               [disabled]="isReadOnly || isAlreadyUsed">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{ls.l('RequiredField', ls.l('Amount'))}}."></dxi-validation-rule>
                    </dx-validator>
                </dx-number-box>
            </div>
            <div class="field">
                <label>{{ls.l('Currency')}}</label>
                <dx-select-box [dataSource]="currencies$ | async"
                               width="300px"
                               placeholder="Select currency..."
                               [readOnly]="!isCreate"
                               valueExpr="id"
                               displayExpr="displayName"
                               [(value)]="coupon.currencyId"
                               [searchEnabled]="true"
                               [disabled]="true">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{ls.l('RequiredField', ls.l('Currency'))}}."></dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </ng-container>
        <div class="field" *ngIf="coupon.type == typesEnum.Percentage">
            <label>{{ls.l('PercentageOff')}}</label>
            <dx-number-box width="300px"
                           format="#.##'%'"
                           [max]="100"
                           [min]="0.01"
                           [readOnly]="!isCreate"
                           [(value)]="coupon.percentOff"
                           [disabled]="isReadOnly || isAlreadyUsed">
                <dx-validator>
                    <dxi-validation-rule type="required" message="{{ls.l('RequiredField', ls.l('Percent'))}}."></dxi-validation-rule>
                </dx-validator>
            </dx-number-box>
        </div>
        <div class="field">
            <label>{{ls.l('ActivationDate')}}</label>
            <dx-date-box width="300px"
                         type="datetime"
                         [readOnly]="!isCreate"
                         [(value)]="coupon.activationDate"
                         [placeholder]="ls.l('Date')"
                         [disabled]="isReadOnly || isAlreadyUsed">
                <dx-validator>
                    <dxi-validation-rule type="required" [message]="ls.l('RequiredField', 'Date')"></dxi-validation-rule>
                </dx-validator>
            </dx-date-box>
        </div>
        <div class="field">
            <label>{{ls.l('DeactivationDate')}}</label>
            <dx-date-box width="300px"
                         type="datetime"
                         [readOnly]="!isCreate"
                         [min]="coupon.activationDate"
                         [(value)]="coupon.deactivationDate"
                         [placeholder]="ls.l('Date')"
                         [disabled]="isReadOnly || isAlreadyUsed">
            </dx-date-box>
        </div>
        <div class="field">
            <label for="duration">{{ls.l('Duration')}}</label>
            <dx-select-box [dataSource]="durations"
                           width="300px"
                           placeholder="Select duration..."
                           [readOnly]="!isCreate"
                           [(value)]="coupon.duration"
                           [disabled]="isReadOnly || isAlreadyUsed">
            </dx-select-box>
        </div>
        <div *ngIf="!isCreate" class="field">
            <label for="duration">{{ls.l('Archived')}}</label>
            <dx-check-box width="300px"
                          [(value)]="coupon.isArchived"
                          [disabled]="isReadOnly">
            </dx-check-box>
        </div>
    </dx-validation-group>
</mat-dialog-content>