:host {
    display: block;
    position: relative;
    top: 74px;

    &.fullscreen {
        top: 0px !important;
    }

    .nav-link {
        position: relative;
        white-space: nowrap;
    }

    .main-wrapper {
        max-width: 100vw;
        display: flex;

        /deep/ #gridContainer .dx-datagrid-rowsview {
            .dx-datagrid-content tr td.tabular,
            .dx-datagrid-content tr td.tabular * {
                font-family: 'Lato' !important;
            }
        }
    }

    /deep/ #gridContainer {

        .dx-datagrid-rowsview {
            .dx-column-lines {
                td {
                    font-weight: 500;
                }
            }
            .dx-row {
                cursor: pointer;
            }
        }
    }
}
