<div>
    <dx-context-menu
        [selectByClick]="true"
        [selectionMode]="'single'"
        [dataSource]="pullContextMenuItems"
        [position]="{ my: 'top right', at: 'bottom right' }"
        (onSelectionChanged)="pullOffers(true)"
        target="#PullOffers">
    </dx-context-menu>
    <app-headline [config]="headlineConfig"></app-headline>
    <app-static-list #categoriesComponent
        [width]="'310px'"
        [title]="l('Categories')"
        [showConfirmation]="false"
        [hideButtons]="true"
        [filterModel]="filterModelCategories"
        [targetSelector]="'[aria-label=Category]'"
        [list]="categories">
    </app-static-list>
    <app-static-list #flagsComponent
        [width]="'350px'"
        [title]="l('Flags')"
        [showConfirmation]="true"
        [filterModel]="filterModelFlags"
        [targetSelector]="'[aria-label=flag-icon]'"
        [selectionMode]="selectedOfferKeys.length ? 'multiple': 'none'"
        (onItemSelected)="onFlagSelected($event)"
        (onOptionChanged)="onFlagOptionChanged($event)"
        [list]="flags">
    </app-static-list>

    <div class="portlet light no-padding margin-bottom-0">
        <div class="main-wrapper">
            <dx-data-grid id="gridContainer"
                          accesskey="narrowHeaderPanel"
                          [dataSource]="dataSource"
                          [allowColumnReordering]="true"
                          [columnAutoWidth]="true"
                          [allowColumnResizing]="true"
                          [hoverStateEnabled]="true"
                          [pager]="defaultGridPagerConfig"
                          (onSelectionChanged)="onSelectionChanged($event)"
                          (onRowClick)="openOfferEdit($event)">
                <dxo-selection selectAllMode="page"
                               showCheckBoxesMode="always"
                               mode="multiple">
                </dxo-selection>

                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-paging [pageSize]="20"></dxo-paging>

                <dxi-column dataField="LogoUrl" caption="Logo" cellTemplate="photoTemplate"
                            [width]="100" [showInColumnChooser]="false" [allowExporting]="false"
                            [allowGrouping]="false" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="Name" caption="{{l('Offer_Name')}}"></dxi-column>
                <dxi-column dataField="CardNetwork" caption="" [width]="150"></dxi-column>
                <dxi-column dataField="Categories" caption="{{l('Category')}}" [width]="300" cellTemplate="categoriesCell" [calculateGroupValue]="categoryGroupValue"></dxi-column>
                <dxi-column dataField="Status" caption="{{l('Offer_Status')}}" [width]="180"></dxi-column>
                <dxi-column dataField="Created" caption="{{l('Offer_Created')}}" [width]="180" cellTemplate="dateCell"></dxi-column>

                <div *dxTemplate="let field of 'photoTemplate'">
                    <div [ngStyle]="{'background-image': 'url(' + field.data.LogoUrl + ')'}" class="logo-url"></div>
                </div>
                <div *dxTemplate="let cellData of 'dateCell'">
                    {{cellData.value | date: 'MM/dd/yyyy'}}
                </div>
                <div *dxTemplate="let cellData of 'categoriesCell'">
                    <span *ngFor="let category of cellData.value; let last = last">
                        {{category.Name}}{{ last ? '': ', ' }}
                    </span>
                </div>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
            </dx-data-grid>
        </div>
    </div>
</div>