<div class="label" *ngIf="title"><span>{{title}}</span></div>
<div class="selectionList">
    <ng-container *ngIf="!selectionList">
        <div class="label-container">
            <span class="tag-value">{{allItemsText}}</span>
        </div>
    </ng-container>
    <ng-container *ngIf="selectionList && selectionList.length">
        <dx-tag-box accessKey="selectionFilter"
                    [dataSource]="selectionList"
                    [displayExpr]="selectionList && selectionList[0].id !== undefined ? 'name' : null"
                    [valueExpr]="selectionList && selectionList[0].id !== undefined ? 'id' : null"
                    [placeholder]="allItemsText"
                    [showSelectionControls]="true"
                    tagTemplate="customTagTemplate"
                    itemTemplate="itemTemplate"
                    [maxDisplayedTags]="maxDisplayedItems"
                    [(value)]="selectedItems"
                    (onOpened)="changePopupWidth($event)"
                    (onValueChanged)="selectedItemsChange()"
                    (onSelectAllValueChanged)="selectAllValueChanged($event)"
                    (onMultiTagPreparing)="onMultiTagPreparing($event)"
                    (onClosed)="onClosed.emit(selectedItems)">
            <div *dxTemplate="let tag of 'customTagTemplate'">
                <span class="tag-value" [title]="tag.name || tag">{{tag.name || tag}}</span>
            </div>
            <div *dxTemplate="let tag of 'itemTemplate'">
                <div class="selection-list-item {{tag[highlightParentField] ? 'highlighted' : ''}}">
                    <span [title]="tag.name || tag">{{tag.name || tag}}</span>
                    <span *ngIf="tag.count !== undefined">
                        ({{tag.count}})
                    </span>
                </div>
            </div>
        </dx-tag-box>
    </ng-container>
</div>
