:host {
    display: flex;
    vertical-align: middle;
    align-items: center;
    height: 100%;

    .label {
        font-size: 17px;
        font-weight: 500;
        padding-right: 5px;
        color: #202b35;
    }

    /deep/ .selectionList {
        min-width: 200px;

        .tag-value,
        .dx-placeholder {
            font-size: 17px;
            letter-spacing: 0.3px;
            padding: 0 5px;
            height: auto !important;
            font-weight: 500;
            top: 0;
            bottom: 0;
        }
        .tag-value {
            display: block;
            padding-left: 14px;
        }

        .dx-texteditor-container {
            padding-top: 0;
            .dx-tag {
                position: relative;
            }
        }

        .dx-placeholder,
        .dx-tag {
            &:after {
                content: '';
                background: url('../../../../assets/common/icons/down-arrow-icon.svg') no-repeat;
                width: 8px;
                height: 4px;
                position: absolute;
                right: -5px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .dx-placeholder {
            line-height: 1.8em;
        }

        .dx-dropdowneditor-active {
            .dx-tag:after {
                transform: rotate(180deg);
            }
        }
    }
}
