<div class="header">
    <h2><img class="arrow-left" src="assets/common/icons/arrow-left-menu.svg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{l('Email')}} {{l('Settings')}}</h2>
    <div *ngIf="selectedProvider"><img class="selected-icon" height="20px" width="auto" src="assets/common/icons/smtp/{{selectedProvider.icon}}">&nbsp;&nbsp;{{selectedProvider.name}}</div>
</div>
<div class="content">
    <div class="providers">
        <h3><img src="assets/common/icons/smtp/step1.svg">&nbsp;&nbsp;&nbsp;Select Mail Provider</h3>
        <div class="group-wrapper">
            <div class="overlap-group" [ngClass]="{selected: selectedProvider === undefined}" (click)="onProviderChanged(undefined)">
                <div class="provider-icon" [ngStyle]="{'background-image': 'url(assets/common/icons/smtp/system.svg)'}"></div>
                <div class="text-wrapper">{{l('System Options')}}</div>
            </div>
        </div>
        <div *ngFor="let provider of supportedProviders" class="group-wrapper">
            <div class="overlap-group" [ngClass]="{selected: selectedProvider == provider}" (click)="onProviderChanged(provider)">
                <div class="provider-icon" [ngStyle]="{'background-image': 'url(assets/common/icons/smtp/' + provider.icon + ')'}"></div>
                <div class="text-wrapper">{{l(provider.name)}}</div>
            </div>
        </div>
        <div class="group-wrapper">
            <div class="overlap-group" [ngClass]="{selected: selectedProvider === null}" (click)="onProviderChanged(null)">
                <div class="provider-icon" [ngStyle]="{'background-image': 'url(assets/common/icons/smtp/email.svg)'}"></div>
                <div class="text-wrapper">{{l('Other Mail Provider')}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="emailSettings" class="settings">
        <div class="flex-2">
            <div class="credentials" *ngIf="showCustomSmptSettings">
                <h3><img src="assets/common/icons/smtp/step2.svg">&nbsp;&nbsp;&nbsp;Enter Credentials</h3>
                <div class="form-group">
                    <label for="SmtpUserName">{{l("UserName")}}</label>
                    <input id="SmtpUserName" type="text" name="SmtpUserName" class="form-control"
                           [ngClass]="{'edited': emailSettings.smtpUserName}"
                           [(ngModel)]="emailSettings.smtpUserName" maxlength="128" placeholder="Enter your user name">
                </div>
                <div class="form-group">
                    <label for="SmtpPassword">{{l("Password")}}</label>
                    <input type="text" class="hidden-field">
                    <input type="password" class="hidden-field">
                    <input id="SmtpPassword" type="password" name="SmtpPassword" class="form-control"
                           [ngClass]="{'edited':emailSettings.smtpPassword}" [(ngModel)]="emailSettings.smtpPassword"
                           maxlength="128" autocomplete="off" placeholder="Enter your password">
                </div>
            </div>
            <div class="information" [ngClass]="{error: smtpProviderErrorLink}">
                <div class="block" *ngIf="selectedProvider?.domain == 'gmail.com'">
                    Gmail requires using an app-specific password for third-party apps, instead of your regular password for your security. Your Google account requires 2FA turned on to use this feature.
                    <br><br>
                    <a target="blank" href="https://myaccount.google.com/apppasswords"><b>Generate an app-specific password</b></a>
                    <br>
                    <a target="blank" [href]="emailSmtpSettingsService.getSmtpErrorHelpLink('gmail.com')">Provider recommendations</a>
                    <br>
                    <a target="blank" href="https://support.google.com/mail/answer/185833">How to generate App Password</a>
                </div>
                <div class="block" *ngIf="selectedProvider?.domain == 'outlook.com'">
                    If you face with any troubles on connecting your account check the link below.
                    <br><br>
                    <a target="blank" [href]="emailSmtpSettingsService.getSmtpErrorHelpLink('office365.com')">Provider recommendations</a>
                </div>
            </div>
        </div>
        <div class="flex-2">
            <div class="servers" *ngIf="showCustomSmptSettings">
                <h3><img src="assets/common/icons/smtp/step3.svg">&nbsp;&nbsp;&nbsp;Manually Edit Incoming & Outgoing Servers</h3>
                <div class="columns">
                    <div class="outgoing">
                        <div class="outgoing-field"><img src="assets/common/icons/smtp/outgoing.svg">&nbsp;&nbsp;&nbsp;OUTGOING SERVER</div>
                        <div class="form-group">
                            <label for="SmtpHost">{{l("SmtpHost")}}</label>
                            <input id="SmtpHost" type="text" name="SmtpHost" class="form-control" [ngClass]="{'edited':emailSettings.smtpHost}"
                                   [(ngModel)]="emailSettings.smtpHost"
                                   maxlength="64" placeholder="Enter smtl host">
                        </div>
                        <div class="form-group port">
                            <label for="SmtpPort">{{l("SmtpPort")}}</label>
                            <input id="SmtpPort" type="number" name="SmtpPort" class="form-control"
                                   [ngClass]="{'edited':emailSettings.smtpPort}" [(ngModel)]="emailSettings.smtpPort"
                                   maxlength="5" placeholder="Enter smtp port">
                        </div>
                        <dx-switch class="tls" switchedOffText="" switchedOnText="" [(value)]="emailSettings.smtpEnableSsl"></dx-switch>TLS
                    </div>
                    <div class="ingoing">
                        <div class="ingoing-field"><img src="assets/common/icons/smtp/incoming.svg">&nbsp;&nbsp;&nbsp;INCOMING MAIL - IMAP SERVER <dx-switch switchedOffText="" switchedOnText="" [(value)]="emailSettings.isImapEnabled"></dx-switch></div>
                        <div class="form-group" [ngClass]="{disabled: !emailSettings.isImapEnabled}">
                            <label for="ImapHost">{{l("ImapHost")}}</label>
                            <input id="ImapHost" type="text" name="ImapHost" class="form-control" [ngClass]="{'edited':emailSettings.imapHost}" [(ngModel)]="emailSettings.imapHost" maxlength="128">
                        </div>
                        <div class="form-group port" [ngClass]="{disabled: !emailSettings.isImapEnabled}">
                            <label for="ImapPort">{{l("ImapPort")}}</label>
                            <input id="ImapPort" type="number" name="ImapPort" class="form-control" [ngClass]="{'edited':emailSettings.imapPort}" [(ngModel)]="emailSettings.imapPort" maxlength="5">
                        </div>
                        <dx-switch class="tls" switchedOffText="" switchedOnText="" [disabled]="!emailSettings.isImapEnabled" [(value)]="emailSettings.imapUseSsl"></dx-switch>TLS
                    </div>
                </div>
            </div>
            <div class="default" [ngStyle]="{'margin-top': showCustomSmptSettings ? '68px' : '0'}">
                <h3><img src="assets/common/icons/smtp/step{{showCustomSmptSettings ? 4 : 2}}.svg">&nbsp;&nbsp;&nbsp;Modify {{showCustomSmptSettings ? 'and Test Your Connection' : 'Email Settings'}}</h3>
                <div class="form-group">
                    <label for="DefaultFromAddress">{{l("DefaultFromAddress")}}</label>
                    <input id="DefaultFromAddress" type="email" name="DefaultFromAddress" class="form-control"
                           [ngClass]="{'edited':emailSettings.defaultFromAddress}"
                           [(ngModel)]="emailSettings.defaultFromAddress" maxlength="100">
                </div>
                <div class="form-group">
                    <label for="DefaultFromDisplayName">{{l("DefaultFromDisplayName")}}</label>
                    <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName" class="form-control"
                           [ngClass]="{'edited':emailSettings.defaultFromDisplayName}"
                           [(ngModel)]="emailSettings.defaultFromDisplayName" maxlength="100">
                </div>
                <div class="form-group test-email" *ngIf="showCustomSmptSettings">
                    <label for="TestEmail">Enter any email to receive a test email</label>
                    <input type="text" class="form-control input-mini" [(ngModel)]="testEmailAddress">
                    <button class="btn btn-layout" type="button" (click)="sendTestEmail()"><img src="assets/common/icons/smtp/send.svg">&nbsp;&nbsp;&nbsp;{{l("SendTestEmail")}}</button>
                </div>
                <div *ngIf="!isHost && !showCustomSmptSettings" class="form-group">
                    <label for="DefaultReplyTo">{{l("DefaultReplyTo")}}</label>
                    <input id="DefaultReplyTo" type="text" name="DefaultReplyTo"
                           class="form-control" [ngClass]="{'edited':emailSettings.defaultReplyTo}"
                           [(ngModel)]="emailSettings.defaultReplyTo" maxlength="100" [attr.disabled]="showCustomSmptSettings ? '' : null">
                    <span class="info">* "Default Reply-To" email is not used when SMTP settings are configured</span>
                </div>
            </div>
        </div>
    </div>
</div>