:host {
    display: block;

    .hidden-field {
        position: absolute !important;
        left: -10000px !important;
        top: -10000px !important;
    }

    .smtp-error-block {
        height: 50px;
        margin: auto;
        margin-bottom: 20px;
        background: #d96262;
        border: 1px solid #000;
        border-radius: 10px;
        padding-left: 20px;
        line-height: 45px;
        font-size: 18px;
        color: #fff;
        font-weight: 600;

        a {
            color: #dedede;
            text-decoration: underline;
        }
    }
}
