@borderColor: #dadee1;

.operations {
    display: flex;
    overflow-x: hidden;
    button,
    input {
        height: 37px;
        color: #677380;
    }

    .toolbar {
      width: 100%;
    }

    .search_transaction {
        position: relative;
        margin-top: 13px;
        margin-left: 21px;
        margin-right: 30px;

        input {
            font-weight: 300;
            line-height: 1.71;
            letter-spacing: 0.3px;
            text-align: left;
            padding-left: 36px;
            border: 1px solid @borderColor;
            border-radius: 3px;
            font-size: 14px;
            height: 37px;
            width: 300px;
        }

        &:before {
            content: "";
            background: url('../../../../assets/common/icons/search-icon.svg');
            text-decoration: inherit;
            position: absolute;
            font-size: 20px;
            width: 16px;
            height: 16px;
            top: 11px;
            left: 12px;
            color: #677380;
        }
        &.dirty:before {
            display: none;
        }
    }
}
