@border: #e1e1e1;
@green-light: #eaf7ec;
@green-text: #1e7e34;
@text-muted: #666;
@gold: #b88400;
@badge-bg: #fff5d1;
@badge-text: #b88400;
@bg-gray: rgb(249,250,251);
@text-black: rgb(17 24 39);

.referral-status-card {
  font-family: Arial, sans-serif;
  border: 1px solid @border;
  border-radius: 8px;
  padding: 20px;
  background: white;

  .section-title {
    font-size: 24px;
    color: @green-text;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;
    font-weight: 600;
  }

  .section-subtitle {
    font-size: 14px;
    line-height: 20px;
    color: @text-muted;
    margin-bottom: 16px;
  }

  .checkIcon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }

  .referral-box {
    background: @green-light;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    .info-item {
      flex: 1;
      min-width: 200px;

      label {
        font-size: 14px;
        color: @text-muted;
        font-weight: bold;
        margin-bottom: 6px;
        display: block;

        i {
          margin-right: 6px;
        }
      }

      .highlight-box {
        background: #fff;
        border: 1px solid @border;
        border-radius: 6px;
        padding: 8px 12px;
        font-size: 14px;
        color: #222;
        height: 40px;

        &.bold {
          font-weight: bold;
        }
      }
    }
  }

  .lead-header {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 16px;
      font-weight: 600;
      color: @gold;
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .badge {
      background: @badge-bg;
      color: @badge-text;
      padding: 3px 8px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .lead-status {
    margin-top: 12px;

    .status-row {
      display: flex;
      align-items: center;
      padding: 12px 8px;
      font-size: 14px;
      background-color: @bg-gray;
      border-radius: 8px;
      margin-bottom: 8px;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .value-wrapper {
        display: flex;
        align-items: center;
        gap: 6px;
    
        .copyIcon {
          opacity: 0;
          transition: opacity 0.2s ease;
          width: 12px;
          height: 12px;
          cursor: pointer;
        }
      }

      &:hover .copyIcon {
        opacity: 1 !important;
      }

      label {
        font-size: 14px;
        font-weight: 500;
        color: @text-black;
        margin: 0px;
      }
    }
  }

}

.green {
  filter: invert(41%) sepia(98%) saturate(324%) hue-rotate(92deg) brightness(90%) contrast(90%);
}

.blue {
  filter: invert(50%) sepia(100%) saturate(200%) hue-rotate(200deg) brightness(90%) contrast(90%);
}
