.wizard {
  width: 1170px;
  height: 684px;
  display: block;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 40px 0 rgba(22, 27, 29, 0.15);
  margin-bottom: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 23px 23px;
  @media all and (max-height: 870px) {
    position: relative;
    margin: 40px auto;
    transform: translate(0, 0);
    left: 0;
    top: 0;
  }
  nav {
    position: absolute;
    bottom: 20px;
    width: calc(~"100% - 127px");
    hr {
      margin: 35px 0;
    }
    .wizard-nav {
      text-align: center;
      padding-left: 0;
      li {
        display: inline-block;
        list-style-type: none;
        padding: 0 7px;
        cursor: pointer;
        &::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: #d9dde3;
          border-radius: 50%;
          margin: 4px 0;
        }
        &.active {
          &::before {
            width: 14px;
            height: 14px;
            margin: 2px 0;
            background: #f58023;
          }
        }
        &.disabled {
          display: none;
        }
      }
    }
    button {
      float: left;
    }
  }
}
















