/deep/ dx-data-grid[accessKey="orderNumber"] {
    .dx-datagrid-pager {
        display: flex;
        height: 70px;
        justify-content: center;
        .dx-light-pages {
            position: relative;
            bottom: 5px;
            font-size: 16px!important;
        }
    }
    .dx-datagrid-search-panel {
        width: 250px!important;
    }
}