::ng-deep dx-data-grid[accessKey="orderNumber"] {
    .dx-datagrid-pager {
        display: flex;
        height: 70px;
        justify-content: center;
        .dx-light-pages {
            position: relative;
            bottom: 5px;
            font-size: 16px!important;
        }
    }
    .dx-toolbar-after {
        padding-left: 0px;
    }
    .dx-datagrid-search-panel {
        width: 100%!important;
        padding: 0;
        margin: 0;
    }
}

::ng-deep dx-drop-down-box[accessKey="orderNumberDropDown"] .dx-state-disabled.dx-widget,
::ng-deep dx-drop-down-box[accessKey="orderNumberDropDown"] .dx-state-disabled .dx-widget {
    opacity: 1;

    .dx-dropdowneditor-button {
        display: none;
    }
}