<h2>Limited Offer!</h2>
<p>Supercharge your Codebreaker AI subscription with B.A.N.K. PASS <br/>to generate unlimited leads. Bundle them together and
    <span class="red">save ${{ annualSave }} per year!</span>
</p>
<div class="images">
    <img src="./assets/common/images/bank-code/codebreaker-ai.svg" class="code-breaker-img" alt="Code Breaker">
    <span class="plus">+</span>
    <img src="./assets/common/images/bank-code/codebreaker-offer.png" class="code-breaker-offer" alt="Code Breaker Offer">
</div>
<div class="price-block">
    <p class="price"><span>Only </span><span class="bold">${{ pricePerMonth }}</span><span class="per-month"> per month</span></p>
    <p class="description">(save ${{ pricePerMonth }} per year)</p>
</div>
<div class="actions">
    <a class="button arrow" [href]="'https://wp.bankcode.pro/ai/?add-to-cart=' + offerId">Subscribe now!</a>
</div>
