:host {
    display: block;
    text-align: center;
    padding: 63px 0 74px 0;
    a, a:visited {
        color: inherit;
        text-decoration: none;
    }

    h1, h2, h3 {
        text-align: center;
    }

    h2 {
        margin-bottom: 10px;
        font-family: AvianoSans-Bla !important;
        font-size: 34px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.68px;
        text-align: center;
        color: #000000;
    }

    p {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #474747;
        font-size: 16px;

        .red {
            display: block;
            color: #ac1f22;
            font-family: 'IBM Plex Sans';
            font-weight: 700;
        }
    }

    .actions {
        margin-top: 25px !important;
        button.button {
            margin: auto;
        }
    }

    .images {
        display: flex;
        align-items: center;
        justify-content: center;
        .code-breaker-img {
            height: 170px;
        }
        .plus {
            font-family: 'AvianoSans-Reg', sans-serif !important;
            font-size: 70px;
            text-align: center;
            color: #000000;
            margin: 0 7px 0 38px
        }
        .code-breaker-offer {
            position: relative;
            top: 15px;
        }
    }

    .price-block {
        font-family: 'IBM Plex Sans';
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: -0.24px;
        color: #7a7979;
        .price {
            margin-bottom: 0;
            margin-top: 37px;
            line-height: 22px;
            span {
                font-family: 'AvianoSans-Reg' !important;
                font-size: 18px;
                letter-spacing: -0.36px;
                &.bold {
                    font-size: 30px;
                    font-weight: 900;
                    letter-spacing: -0.6px;
                    color: #000000;
                    font-family: 'AvianoSans-Bol' !important;
                }
                &.per-month {
                    text-transform: uppercase;
                }
            }
        }
    }
}
