h4 {
    font-weight: 600;
    border-bottom: 2px solid #f8fafa;
    padding-bottom: 5px;
}

span {
    float: right;
}

ul {
    color: #c8cbd0;
    padding-left: 0;
}

li {
    padding-bottom: 5px;
}