:host {
    left: 60px;
    position: relative;
    display: block;

    .right-panel-block {
        position: relative;
    }

    .cb-visible-section {
        top: 4px;
        cursor: pointer;
        position: absolute;
        margin-right: 10px;
    }

    /deep/ i.icons {
        background-repeat: no-repeat;
        margin-right: 5px;

        &.email {
            background-image: url("../../../../assets/common/icons/email.svg");
        }

        &.phone {
            &.type-H, &.type-P {
                background-image: url("../../../../assets/common/icons/phone.svg");
            }

            &.type-W {
                background-image: url("../../../../assets/common/icons/phone-work.svg");
            }

            &.type-M {
                background-image: url("../../../../assets/common/icons/phone-mobile.svg");
            }
        }
    }

    .box-shadow-wrapper {
        box-shadow: -2px 2px 6px 0 rgba(0, 0, 0, 0.1);
    }

    .right-content {
        padding: 0px 20px 0px 20px;
    }

    .general-links {
        float: left;
        width: 289px;
        height: 63px;
        text-align: right;
        background: #FFF;
        padding-right: 30px;
        border-right: 1px solid #e5e9ec;

        a {
            color: #686f76;
            width: 16px;
            height: 16px;
            margin: 10px 0px 0px 20px;
        }
    }

    .close-details {
        position: absolute;
        width: 42px;
        height: 40px;
        top: 22px;
        left: -42px;
        opacity: 0.8;
        cursor: pointer;
        border-radius: 5px 0px 0px 5px;
        border-right: none;
        background-color: #FFF;
        box-shadow: -2px 0px 6px 0 rgba(0, 0, 0, 0.1);

        &:before, &:after {
            position: absolute;
            top: 10px;
            left: 20px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #1b1b1b;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            opacity: 1;
        }
    }

    mat-sidenav {
        width: 288px;
        padding-bottom: 120px;
        overflow-y: hidden;

        .short-contact {
            width: 85%;
            margin: 0 auto;
            min-height: 50px;
            position: relative;
            border-bottom: 1px solid #e5e9ec;

            .small-phones {
                padding-top: 15px;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.83;
                letter-spacing: 0.2px;
                color: #677380;

                i.icons {
                    width: 20px;
                    height: 16px;
                    position: relative;
                    display: inline-block;
                    background-size: contain;
                    background-position: center;
                    top: 3px;
                }
            }
        }

        .mat-tab-nav-bar {
            border: none;
            padding-top: 12px;
        }
    }

    mat-sidenav.right_sidenav {
        width: 400px;
        padding-top: 0;

        /deep/ .mat-tab-label {
            color: #677380;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.5px;
            text-align: left;
            font-weight: 300;
            color: #7f8790;
            opacity: 1;
        }

        /deep/ .mat-tab-label-active {
            border-bottom: none;
            background: #fff;
            font-weight: 500;
            color: #202b35;
        }
    }

    mat-sidenav-container {
        width: calc(~"100% - 60px");
        width: -o-calc(~"100% - 60px");
        width: -webkit-calc(~"100% - 60px");
        width: -moz-calc(~"100% - 60px");
        height: calc(~"100vh - 215px");
        height: -o-calc(~"100vh - 215px"); /* opera */
        height: -webkit-calc(~"100vh - 215px"); /* google, safari */
        height: -moz-calc(~"100vh - 215px"); /* firefox */
    }

    .right-side-content {
        display: flex;
    }

    .mat-tab-link {
        justify-content: left;
        text-decoration: none;
        text-align: left;
        padding-left: 18px;
        margin-left: 14px;
        font-weight: 300;
        color: #424c56;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.6px;
        opacity: 1;
        height: 45px;
        width: 100%;
    }

    .mat-tab-link.active {
        color: #212c36;
        font-weight: 500;
        border-left: 3px solid #00aeef;
    }

    /deep/ h1 {
        margin-top: 5px;
    }

    /deep/ h3.lab {
        color: #b1b6bc;
        text-transform: uppercase;
        font-size: 16px;
    }

    /deep/ ul {
        padding-left: 0;
    }

    /deep/ li {
        list-style-type: none;
    }

    /deep/ .mat-ink-bar {
        background-color: #00aeef !important;
    }

    /deep/ .green {
        color: #37d749;
    }

    /deep/ .red {
        color: #ff6066;
    }

    /deep/ .grey {
        color: #424c56;
    }

    /deep/ .mat-tab-label {
        border-bottom: none;
    }

    /deep/ .mat-tab-label-active {
        border-bottom: none;
    }

    /deep/ .mat-tab-body-wrapper {
        padding: 20px;
        position: static !important;
    }

    /deep/ .mat-tab-body {
        position: absolute !important;
        margin-top: 60px;
    }

    /deep/ .mat-tab-body-content {
        overflow: hidden !important;
    }

    /deep/ mat-dialog-container {
        overflow: visible !important;
        min-width: 400px;
    }

    /deep/ .mat-dialog-content {
        max-height: auto;
    }

    /deep/ .cdk-global-scrollblock {
        overflow-y: hidden;
    }

    /deep/ .button-clean-red {
        position: absolute;
        padding: 0px;
        margin-left: 0px;
        width: 70px;
        left: 0px;
    }

    /deep/ .main-content {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        background: #fff;
        border-left: 1px solid #e5e9ec;
        border-right: 1px solid #e5e9ec;
        height: 100%;
    }
}
