<app-toolbar [config]="toolbarConfig" [compact]="true"></app-toolbar>
<dx-tree-view dataStructure="plain"
              [disabled]="!isEditAllowed"
              [dataSource]="oranizationUnitsDataSource"
              parentIdExpr="parentId"
              keyExpr="id"
              displayExpr="displayName"
              showCheckBoxesMode="normal"
              [selectNodesRecursive]="false"
              [searchEnabled]="searchEnabled"
              (onItemSelectionChanged)="onChange($event)">
</dx-tree-view>
