:host {
    & > div {
        height: 100%;    
    }

    .lead-info {
        margin: 0;
        & > div {
            min-width: 280px;
            max-width: 500px;
        }
        h3 {
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.7px;
            text-align: left;
            color: #677380;
            margin-bottom: 22px;
            font-weight: 400;
        }
    }

    .item-edit-label {
        display: inline-block;
        min-width: 150px;
        font-size: 13px;
        font-weight: normal;
        line-height: 35px;
        letter-spacing: 0.7px;
        color: #677380;        
    }

    .section {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section-item {
        display: flex;
        line-height: 35px;
        a {
            font-size: 12px;
            font-style: italic;
            font-weight: 200;
            &.selected {
                font-size: 14px;
                color: #00aeef;
                text-decoration: underline;
                font-style: normal;
                font-weight: normal;
            }
        }        
        .item-link {
            cursor: pointer;
            text-decoration: underline;
            color: #1479ec;
        }
    }

    .app-container {
        column-count: 2;
        column-gap: 1em;
        .app-group {
            padding: 15px;
            display: inline-block;
            margin: 0 0 1em;
            width: 100%;
        }
    }
}