<modal-dialog>
    <div class="rule-container">
        <div class="warning-box">
            <div>
                <h3>You are about to overwrite an existing rule!</h3>
                <p>Gksdfjlsdfkfg sdkjfsdk sdfjgskdsg skjgfs sal adfasgfg sadfsdf sdfasdf sdfsafa asdfas</p>
            </div>
        </div>

        <div class="rule-wrapper">                
            <div class="rule">
                <h2>{{l('IF')}}</h2>
                <h3>{{l('RuleName')}}</h3>
                <div class="field">
                    <label>{{l('RuleName')}}</label>
                    <dx-text-box
                        name="name"
                        [(value)]="data.name">
                    </dx-text-box>
                </div>

                <h3>{{l('DescriptorRule')}}</h3>
                <div class="field">
                    <label>{{l('DescriptorRule')}}</label>
                </div>

                <h3>{{l('Amount')}}</h3>
                <div>
                    <div class="field">
                        <label>{{l('Min')}}</label>
                        <dx-text-box
                            name="min"
                            [(value)]="data.min">
                        </dx-text-box>
                        <label>{{l('Max')}}</label>
                        <dx-text-box
                            name="max"
                            [(value)]="data.max">
                        </dx-text-box>
                    </div>
                    <div class="field">
                        <label>{{l('Format')}}</label>
                        <dx-text-box
                            name="format"
                            [(value)]="data.format">
                        </dx-text-box>
                    </div>
                </div>
            </div>  
            <div class="category">
                <h2>{{l('THEN')}}</h2>
                <h3>{{l('Use the following Standard Descriptor')}}</h3>
                <div class="field">
                    <dx-text-box
                        name="descriptor"
                        [(value)]="data.descriptor">
                    </dx-text-box>
                </div>
                <h3>{{l('Assign transaction(s) to the following account')}}</h3>

                <dx-tree-list 
                    height="85%"
                    [hoverStateEnabled]="true"
                    [dataSource]="categories"
                    [dataStructure]="tree"
                    [editing]="{allowAdding: true, allowUpdating: true, mode: 'popup'}"
                    [selection]="{allowSelectAll: false, mode: 'single'}"
                    [autoExpandAll]="true"
                    keyExpr="id"
                    parentIdExpr="parentId"
                    [rootValue]="0">
                    <dxi-column dataField="category"></dxi-column>
                </dx-tree-list>

            </div>
        </div>
    </div>
</modal-dialog>