<modal-dialog>
    <div class="rule-container">
        <div class="warning-box">
            <div>
                <h3>You are about to overwrite an existing rule!</h3>
                <p>Gksdfjlsdfkfg sdkjfsdk sdfjgskdsg skjgfs sal adfasgfg sadfsdf sdfasdf sdfsafa asdfas</p>
            </div>
        </div>
        <div class="rule-wrapper">                
            <div class="rule">
                <h2>{{l('IF')}}</h2>            
                <div class="inline-header">
                    <h3>{{l('Original transactions Descriptors')}}</h3>
                    <!-- dx-radio-group
                        [dataSource]="[{text: l('are like'), value: 'like'}, {text: l('contains'), value: 'contains'}]"
                        displayExpr="text"
                        valueExpr="value"
                        layout="horizontal"
                        [(value)]="descriptorType">
                    </dx-radio-group -->
                </div>
                <dx-data-grid #keywordsComponent
                     id="keywords"
                     [noDataText]="'No Keywords'"
                     [dataSource]="keywords"
                     [showColumnHeaders]="false"
                     [showColumnLines]="false"
                     [showRowLines]="true"
                     [showBorders]="true"
                     (onInitNewRow)="onInitNewKeyword($event)">
                     <dxo-editing 
                         mode="row"
                         [allowUpdating]="true"
                         [allowDeleting]="true"
                         [allowAdding]="true">
                    </dxo-editing>
                    <dxi-column dataField="caption" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="keyword"></dxi-column>
                </dx-data-grid>
                <span (click)="addKeywordRow()">{{l('+ Add keyword')}}</span>

                <h3>{{l('Attributes')}}</h3>
                <dx-data-grid #attributesComponent
                     [noDataText]="'No Attributes'"
                     [dataSource]="attributes"
                     [showColumnHeaders]="false"
                     [showColumnLines]="false"
                     [showRowLines]="true"
                     [showBorders]="true"
                     (onContentReady)="onAttributeUpdated($event)">
                     <dxo-editing 
                         mode="row"
                         [allowUpdating]="true"
                         [allowDeleting]="true"
                         [allowAdding]="true">
                    </dxo-editing>
                    <dxi-column dataField="id" [visible]="false"></dxi-column>
                    <dxi-column 
                        width="150" 
                        dataField="attributeTypeId">         
                        <dxo-lookup
                            [dataSource]="attributeTypes"
                            displayExpr="name"
                            valueExpr="id">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="conditionTypeId">         
                        <dxo-lookup
                            [dataSource]="conditionTypes"
                            displayExpr="condition"
                            valueExpr="condition">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="conditionValue"></dxi-column>
                </dx-data-grid>
                <span (click)="addAttributeRow()">{{l('+ Add attribute')}}</span>

                <h3>{{l('Account Info')}}</h3>
                <div class="field">
                    <label>{{l('Bank')}}</label>
                   <dx-select-box   
                       placeholder=""
                       [dataSource]="banks"
                       valueExpr="id"
                       displayExpr="name"
                       [(value)]="bankId"
                       (onValueChanged)="onBankChanged($event)">
                   </dx-select-box>
                </div>
                <div class="field">
                    <label>{{l('Account')}}</label>
                   <dx-select-box   
                       placeholder=""
                       [dataSource]="accounts"
                       valueExpr="id"
                       displayExpr="name"
                       [(value)]="accountId">
                   </dx-select-box>
                </div>

                <h3>{{l('Amount')}}</h3>
                <div>
                    <div class="field">
                        <label>{{l('Min')}}</label>
                        <dx-number-box
                            format="currency"
                            mode="number"  
                            name="min"
                            [(value)]="minAmount">
                        </dx-number-box>
                        <label>{{l('Max')}}</label>
                        <dx-number-box
                            format="currency"
                            mode="number"  
                            name="max"
                            [(value)]="maxAmount">
                        </dx-number-box>
                    </div>
                    <div class="field">
                        <label>{{l('Format')}}</label>
                        <dx-select-box   
                            placeholder=""
                            [dataSource]="formats"
                            valueExpr="format"
                            displayExpr="format"
                            [(value)]="amountFormat">
                        </dx-select-box>
                    </div>
                </div>
            </div>  
            <div class="category">
                <h2>{{l('THEN')}}</h2>
                <h3>{{l('Use the following Standard Descriptor')}}</h3>
                <div class="field">
                    <dx-select-box   
                        placeholder=""
                        [acceptCustomValue]="true"
                        [dataSource]="descriptors"
                        valueExpr="id"
                        displayExpr="name"
                        (onCustomItemCreating)="onCustomItemCreating($event)"
                        [(value)]="descriptor">
                    </dx-select-box>

                    <!-- dx-text-box
                        name="descriptor"
                        [(value)]="descriptor">
                    </dx-text-box -->
                </div>
                <h3>{{l('Assign transaction(s) to the following account')}}</h3>

                <dx-tree-list 
                    height="570px"
                    keyExpr="key"
                    parentIdExpr="parent"
                    [hoverStateEnabled]="true"
                    [(dataSource)]="categories"
                    [selectedRowKeys]="[data.categoryId]"
                    [editing]="{allowAdding: true, allowUpdating: true, allowDeleting: true}"
                    [selection]="{allowSelectAll: false, mode: 'single'}"
                    [rootValue]="0"
                    (onRowUpdated)="onCategoryUpdated($event)"
                    (onRowInserted)="onCategoryInserted($event)"
                    (onRowRemoving)="onCategoryRemoving($event)">
                    <dxi-column dataField="name"></dxi-column>
                </dx-tree-list>

            </div>
        </div>
    </div>
</modal-dialog>