<div class="header-section">
    <div class="buyer-protection">
        <img src="/assets/images/credit-report/shield-icon.svg" alt="guard"><span class="buyer-protection-text">buyer protection</span>
    </div>
    <img src="/assets/landing/payment-info.svg" alt="Payment Information Icon" class="step-icon" width="116">
    <div class="contact-info">
        <p>Call us toll Free at <a href="tel:800-55-7878" class="phone-number">800-55-7878</a></p>
        <p class="work-time">
            <span class="timezone">Phone Hours (Pacific Time)</span><br>
            <b class="work-schedule">Mon - Fri 7 AM - 5 pM</b>
        </p>
    </div>
</div>
<h2 class="step-title">{{l("EnterPaymentInformation")}}</h2>
<div class="form payment">
    <dx-validation-group name="billingValidationGroup" (onInitialized)="initValidationGroup($event)">
        <div class="row">
            <div class="col">
                <div class="paymentType row">
                    <div class="col">
                        <input type="radio" name="paymentType" id="creditCard" value="creditCard"
                               [disabled]="!paymentAuthorizationRequired"
                               checked>
                        <label for="creditCard">
                            <img src="/assets/landing/check.svg" alt="check" width="20"> {{l("CreditCard")}}
                            <img src="/assets/images/credit-report/card-icons.svg" alt="cards list" class="card-icons">
                        </label>
                    </div>
                    <div class="col d-none">
                        <input type="radio" name="paymentType" id="payPal" value="payPal" disabled>
                        <label for="payPal">
                            <img src="/assets/landing/check.svg" alt="check"
                                 width="20"> PayPal
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields">
            <div class="col">
                <div class="with-bg">
                    <div class="dx-field">
                        <div class="dx-field-value full-width">
                            <dx-text-box class="with-icon creditCardNumber"
                                         name="creditCardNumber"
                                         [disabled]="!paymentAuthorizationRequired"
                                         placeholder="{{l('CreditCardNumber')}}"
                                         maskInvalidMessage="{{l('CreditCardFormatError')}}"
                                         [(value)]="bankCard.cardNumber"
                                         (onFocusIn)="focusInput($event)"
                                         (onFocusOut)="blurInput($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                                         message="{{l('CreditCardRequired')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field row">
                        <div class="col-sm-7">
                            <dx-text-box name="expirationDate"
                                         class="with-icon expDate"
                                         [disabled]="!paymentAuthorizationRequired"
                                         placeholder="{{l('ExpirationDate')}}"
                                         maskInvalidMessage="{{l('ExpirationDateFormatError')}}"
                                         [(value)]="expirationDate"
                                         (onFocusIn)="focusInput($event)"
                                         (onFocusOut)="blurInput($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                                         message="{{l('ExpirationDateRequired')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="custom"
                                                         [validationCallback]="validateExpirationDate"
                                                         message="{{l('ExpirationDateOutdated')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                        <div class="col-sm-5">
                            <dx-text-box class="with-icon cvvCode"
                                         maxLength="4"
                                         placeholder="{{l('CVV')}}"
                                         maskInvalidMessage="{{l('CVVErrorLength')}}"
                                         maskChar=" "
                                         name="cvvCode"
                                         [disabled]="!paymentAuthorizationRequired"
                                         [(value)]="bankCard.cvv"
                                         (onFocusIn)="focusInput($event)"
                                         (onFocusOut)="blurInput($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                                         message="{{l('CVVRequired')}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="stringLength" [min]="3"
                                                         message="{{l('CVVErrorLength')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dx-fieldset with-bg">
                    <div class="row dx-field">
                        <div class="col-sm-12 with-icon fullAddress">
                            <input *ngIf="!googleAutoComplete" type="text"
                                   name="Address"
                                   placeholder="{{l('AddressPlaceholder')}}"
                                   [(ngModel)]="bankCard.billingAddress"
                                   class="dx-texteditor-input"
                                   [disabled]="!paymentAuthorizationRequired" />
                            <input *ngIf="googleAutoComplete" type="text"
                                   name="Address"
                                   placeholder="{{l('AddressPlaceholder')}}"
                                   [(ngModel)]="bankCard.billingAddress"
                                   class="dx-texteditor-input"
                                   [options]="option"
                                   [disabled]="!paymentAuthorizationRequired"
                                   (city)='bankCard.billingCity=$event'
                                   (state)='bankCard.billingStateCode = getStateCodeFromName($event)'
                                   (postal_code)='bankCard.billingZip=$event'
                                   (setAddress)="onAddressChanged($event)"
                                   angularGooglePlace />
                        </div>
                    </div>
                    <div class="dx-field row">
                        <div class="col-sm-5">
                            <dx-text-box name="city"
                                         [disabled]="!paymentAuthorizationRequired"
                                         maxLength="50"
                                         placeholder="{{l('City')}}"
                                         [(value)]="bankCard.billingCity">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                                         message="{{l('CityRequired')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                        <div class="col-sm-3">
                            <dx-select-box [dataSource]="states"
                                           displayExpr="code"
                                           valueExpr="code"
                                           name="billingStateCode"
                                           [disabled]="!paymentAuthorizationRequired"
                                           [searchEnabled]="true"
                                           [(value)]="bankCard.billingStateCode"
                                           fieldTemplate="field">
                                <div *dxTemplate="let data of 'field'">
                                    <div class="custom-item">
                                        <dx-text-box class="state"
                                                     [value]="data?.code"
                                                     placeholder="State"
                                                     [readOnly]="true">
                                        </dx-text-box>
                                    </div>
                                </div>
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                                         message="{{l('StateRequired')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                        <div class="col-sm-4">
                            <dx-text-box name="zipCode"
                                         class="with-icon zipCode"
                                         [disabled]="!paymentAuthorizationRequired"
                                         maxLength="5"
                                         placeholder="{{l('Zipcode')}}"
                                         maskInvalidMessage="{{l('ZipcodeFormatError')}}"
                                         [(value)]="bankCard.billingZip"
                                         (onFocusIn)="focusInput($event)"
                                         (onFocusOut)="blurInput($event)">
                                <dx-validator>
                                    <dxi-validation-rule type="required"
                                                         message="{{l('ZipIsRequired')}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col">
                <dx-check-box id="discloseMyEmail"
                              [disabled]="!paymentAuthorizationRequired"
                              [value]="false"
                              text="{{l('AgreeToUpdate')}}"
                              validationMessageMode="auto">
                    <dx-validator>
                        <dxi-validation-rule type="required"
                                             message="{{l('AgreeToUpdateError')}}"></dxi-validation-rule>
                    </dx-validator>
                </dx-check-box>
            </div>
            <div class="col">
                <div class="agreements">
                    {{l("ByContinueIAgree")}} <a href="terms-of-service" target="_blank"
                                                 title="{{l('TermsOfService')}}">{{l("TermsOfService")}}</a>
                    {{l("And")}} <a href="privacy-policy" target="_blank"
                                    title="{{l('PrivacyPolicy')}}">{{l("PrivacyPolicy")}}</a>
                </div>
            </div>
        </div>
        <div *ngIf="paymentResult" class="base-commerce-validation">
            <ng-container *ngFor="let item of paymentResult.errors">
                <div class="dx-validationsummary-item">
                    <div class="dx-item-content dx-validationsummary-item-content">{{ item }}</div>
                </div>
            </ng-container>
        </div>
        <dx-validation-summary class="summary"></dx-validation-summary>
    </dx-validation-group>
</div>
