<div [@routerTransition]>
    <app-headline [config]="headlineConfig"></app-headline>
    <dx-tooltip width="200px"
                [target]="'.dx-state-hover .dx-link.dx-link-edit'"
                [visible]="actionRecord"
                (onHidden)="actionRecord = null">
        <div *dxTemplate="let data of 'content'">
            <div class="lists-tooltip-container">
                <dx-list [dataSource]="actionMenuItems"
                         (onItemClick)="onMenuItemClick($event)">
                </dx-list>
            </div>
        </div>
    </dx-tooltip>

    <div class="portlet light no-padding margin-bottom-0">
        <div class="portlet-body">
            <div>
                <div id="tenantsTable">
                    <dx-data-grid id="gridContainer"
                                  [allowColumnReordering]="true"
                                  [columnAutoWidth]="true"
                                  [allowColumnResizing]="true"
                                  [hoverStateEnabled]="true"
                                  [pager]="defaultGridPagerConfig"
                                  (onContentReady)="onContentReady()"
                                  (onCellClick)="editTenant($event)"
                                  (onEditingStart)="showActionsMenu($event)"
                                  [dataSource]="dataSource">
                        <dxo-editing mode="popup" [allowUpdating]="true"></dxo-editing>
                        <dxi-column caption="{{l('CreationTime')}}" dataField="creationTime" dataType="date" sortOrder="desc" sortIndex="0"></dxi-column>
                        <dxi-column caption="{{l('Active')}}" cellTemplate="isActiveTemplate"></dxi-column>
                        <dxi-column caption="{{l('SubscriptionEndDateUtc')}}" dataField="endTime"></dxi-column>
                        <dxi-column caption="{{l('Name')}}" dataField="name"></dxi-column>
                        <dxi-column caption="{{l('TenancyCodeName')}}" dataField="tenancyName"></dxi-column>
                        <ng-container *dxTemplate="let cell of 'isActiveTemplate'">
                            <span class="status" ngClass="{{cell.data.isActive ? 'success' : 'danger'}}">{{cell.data.isActive ? 'Yes' : 'No'}}</span>
                        </ng-container>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>

    <createTenantModal #createTenantModal (modalSave)="getTenants()"></createTenantModal>
    <editTenantModal #editTenantModal (modalSave)="getTenants()"></editTenantModal>
    <tenantFeaturesModal #tenantFeaturesModal></tenantFeaturesModal>
    <commonLookupModal #impersonateUserLookupModal (itemSelected)="impersonateUser($event)"></commonLookupModal>
</div>
