<div>
    <app-headline [names]="[ l('Tenants') ]"
                  [buttons]="headlineButtons"
                  [showToggleToolbarButton]="true"
                  [showReloadButton]="ui.showReload"
                  [showToggleCompactViewButton]="true"
                  [showToggleFullScreenButton]="true"
                  [showToggleColumnSelectorButton]="true"
                  [showStateResetButton]="true"
                  (onToggleToolbar)="repaintDataGrid()"
                  (onToggleCompactView)="toggleCompactView()"
                  (onToggleFullScreen)="repaintDataGrid(100)"
                  (onReload)="invalidate()"
                  (onStateReset)="dataGrid.instance.state(null)"
                  (onToggleColumnSelector)="toggleColumnChooser()">
    </app-headline>
    <app-toolbar [config]="toolbarConfig" [hidden]="appService.toolbarIsHidden$ | async"></app-toolbar>
    <div class="main-wrapper">
        <action-menu [items]="actionMenuItems"
                     width="220px"
                     [visible]="!!actionRecord"
                     (onItemClick)="onMenuItemClick($event)"
                     (onHidden)="actionRecord = null">
        </action-menu>
        <div class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div>
                    <div id="tenantsGrid">
                        <ghost-list [hidden]="isDataLoaded"></ghost-list>
                        <dx-data-grid id="gridContainer"
                                      class="main-component-view"
                                      [renderAsync]="true"
                                      [remoteOperations]="true"
                                      [allowColumnReordering]="true"
                                      [columnAutoWidth]="true"
                                      [allowColumnResizing]="true"
                                      [hoverStateEnabled]="true"
                                      [pager]="defaultGridPagerConfig"
                                      [loadPanel]="{ enabled: false }"
                                      (onOptionChanged)="onGridOptionChanged($event)"
                                      (onInitialized)="onInitialized($event)"
                                      (onContentReady)="setGridDataLoaded()"
                                      (onCellClick)="editTenant($event)"
                                      (onEditingStart)="toggleActionsMenu($event)"
                                      [dataSource]="dataSource">
                            <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
                            <dxo-editing mode="popup" [allowUpdating]="true" [texts]="{editRow: ''}"></dxo-editing>
                            <dxi-column [caption]="l('TenancyCodeName')" dataField="tenancyName" cssClass="clipboard-holder" width="25%"></dxi-column>
                            <dxi-column [caption]="l('Name')" dataField="name" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [caption]="l('Active')" cellTemplate="isActiveTemplate"></dxi-column>
                            <dxi-column [caption]="l('CreationTime')" dataField="creationTime" dataType="date" sortOrder="desc" sortIndex="0" cssClass="clipboard-holder"></dxi-column>
                            <ng-container *dxTemplate="let cell of 'isActiveTemplate'">
                                <span class="status" [ngClass]="cell.data.isActive ? 'success' : 'danger'">{{cell.data.isActive ? 'Yes' : 'No'}}</span>
                            </ng-container>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
