<div [@routerTransition]>
    <app-headline [config]="headlineConfig">
        <business-entities-chooser (onChanged)="invalidate()"
            (onFilterButtonClick)="openBankAccountsSelectDialog()">
        </business-entities-chooser>
        <synch-progress class="synch-progress" (onComplete)="refreshWidgets()"></synch-progress>
        <app-period (onChange)="periodChanged($event)"></app-period>
    </app-headline>

    <div class="content" #content>
        <setup-steps #setupSteps
                     [showIntroductionTourLink]="true"
                     (onToggle)="rerenderWidgets()">
        </setup-steps>
        <div class="right">
            <dx-scroll-view [useNative]="false" [showScrollbar]="dashboard.offsetHeight > content.offsetHeight ? 'onHover' : 'Never'">
                <div #dashboard class="dashboard-wrapper {{setupSteps.collapsed ? 'expanded' : ''}}">
                    <top-spending-categories [fullpage]="true" *ngIf="!accessAllDepartments; else main"></top-spending-categories>
                    <ng-template #main>
                        <section class="accounts-info">
                            <header>
                                <h2 class="dashboard-title">
                                    {{l('Accounts_Summary')}}
                                </h2>
                                <add-account-button></add-account-button>
                            </header>
                            <app-accounts (onTotalAccountsMouseEnter)="openBankAccountsSelectDialog()"></app-accounts>
                        </section>
                        <section class="analytics">
                            <div class="analytics-wrap">
                                <div class="totalByPeriod">
                                    <app-totals-by-period></app-totals-by-period>
                                </div>
                                <div class="trendByPeriod">
                                    <app-trend-by-period></app-trend-by-period>
                                </div>
                            </div>
                        </section>
                        <section class="synch-status">
                            <div class="synch-section-wrap">
                                <div class="links">
                                    <ul class="list-of-links">
                                        <li *ngFor="let link of linksTo" class="link-item">
                                            <a class="link" [routerLink]="link.route">{{l(link.name)}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="synch-item">
                                    <app-categorization-status></app-categorization-status>
                                </div>
                            </div>
                        </section>
                    </ng-template>
                </div>
            </dx-scroll-view>
        </div>
    </div>
</div>
