:host {
    position: relative;
    top: 75px;

    .content {
        display: flex;
        height: calc(~"100vh - 150px");
    }

    .btn-layout {
        padding: 18px 68px 21px 66px !important;
        height: 52px;
        text-transform: none !important;
        line-height: 0 !important;
        border-radius: 26px !important;
        font-size: 16px !important;
        font-weight: 500 !important;

        &:after {
            content: none;
        }
    }
    
    app-totals-by-period {
        height: 100%;
    }
    
    /deep/ .blockUI.blockOverlay {
        background: #fff !important;
    }

    .dashboard-wrapper {
        background-color: #fff;
        width: calc(~"100vw - 322px");
        padding: 0 48px 40px;

        section {
            margin-bottom: 20px;
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 0 10px;
            }
        }
        
        .synch-status {
            margin-bottom: 0;
        }

        .dashboard-title {
            color: #424C56;
            font-size: 16px;
            letter-spacing: 0.2px;
            line-height: 24px;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 500;
            opacity: .5;
        }

        .dashboard-link {
            color: #00AEEF;
            font-size: 15px;
            letter-spacing: 0.2px;
            line-height: 24px;
            font-weight: 500;
            margin-left: auto;
            cursor: pointer;
            transition: .2s;
    
            &:hover {
                color: lighten(#00AEEF, 20%);
            }
        }

        .synch-status .synch-section-wrap,
        .analytics .analytics-wrap {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        .synch-status .synch-section-wrap .links {
            width: 32%;
            align-self: center;
            height: 100%;
        }
        .synch-status .synch-section-wrap .list-of-links {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
        }
        .synch-status .synch-section-wrap .link-item {
            padding: 10px 5px;
            border-bottom: 1px solid  #E5E9EC;
        }

        .synch-status .synch-section-wrap .link {
            color: #00AEEF;
            font-size: 16px;
            letter-spacing: 0.2px;
            line-height: 24px;
            font-weight: 500;
            text-decoration: none;
            transition: .2s;
            
            &:hover {
                color: lighten(#00AEEF, 20%);
            }
        }

        .synch-status .synch-section-wrap .synch-item {
            max-width: 66%;
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 4px;
            position: relative;
            padding: 20px 30px 20px 0;
        }

        .analytics .analytics-wrap {
            align-items: stretch;

            .trendByPeriod {
                width: 66%;
            }

            .totalByPeriod {
                width: 32%;
                border: 1px solid #E5E9EC;
                background-color: #FFFFFF;
                border-radius: 4px;
                position: relative;
                padding: 30px;
            }
        }
    }
    /deep/ .dx-scrollable-content {
        background: #FFF;
    }
}
