<div [@routerTransition]>
    <app-headline [config]="headlineConfig">
        <synch-progress class="synch-progress"></synch-progress>
    </app-headline>

    <div class="content">
        <setup-steps SelectedStepIndex="0"></setup-steps>
        <div class="dashboard-wrapper">
            <section class="accounts-info">
                <header>
                    <h2 class="dashboard-title">
                        {{ls('CFO', 'Accounts')}}
                    </h2>
                    <a (click)="navigateTo()" class="dashboard-link">+ {{ls('CFO', 'Add account')}}</a>
                </header>

                <app-accounts></app-accounts>
            </section>

            <section class="synch-status">
                <header>
                    <h2 class="dashboard-title">
                        {{ls('CFO', 'Synchronization status')}}
                    </h2>
                    <a href="javascript:;" class="dashboard-link">{{ls('CFO', 'View Cash Flow Report')}}</a>
                </header>
                <div class="synch-section-wrap">
                    <div class="synch-item">
                        <app-accounts-synch-status></app-accounts-synch-status>
                    </div>
                    <div class="synch-item">
                        <app-categorization-status></app-categorization-status>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>
