<div [@routerTransition]>
    <app-headline [config]="headlineConfig">
        <business-entities-chooser (onFilterButtonClick)="openBankAccountsSelectDialog()"></business-entities-chooser>
        <synch-progress class="synch-progress" (onComplete)="refreshWidgets()"></synch-progress>
        <app-period (onChange)="periodChanged($event)"></app-period>
    </app-headline>

    <div class="content">
        <setup-steps [showIntroductionTourLink]="true"
                     (onToggle)="toggleLeftMenu($event)">
        </setup-steps>
        <div class="right">
            <dx-scroll-view showScrollbar="onHover">
                <div class="dashboard-wrapper">
                    <section class="accounts-info" *ngIf="isInstanceAdmin">
                        <header>
                            <h2 class="dashboard-title">
                                {{l('Accounts_Summary')}}
                            </h2>
                            <add-account-button></add-account-button>
                        </header>
                        <app-accounts (onTotalAccountsMouseEnter)="openBankAccountsSelectDialog()"></app-accounts>
                    </section>
                    <section class="analytics">
                        <div class="analytics-wrap">
                            <div class="bankBalances">
                                <h2 class="title">{{ l('Bank_Balances') }}</h2>
                                <bank-accounts-widget
                                    [height]="256"
                                    [saveChangesInCache]="false"
                                    [nameColumnWidth]="'70%'"
                                    [balanceColumnWidth]="'30%'"
                                    [showBusinessEntitiesFilter]="false"
                                    [changeOnlyAfterApply]="true"
                                    [showAddAccountButton]="false"
                                    [showStatus]="false"
                                    [showHeader]="false"
                                    [showCheckboxes]="false"
                                    [showOnlySelected]="true"
                                    [showAccountsCount]="false"
                                    [showAccountNumber]="false"
                                    [showAccountType]="false">
                                </bank-accounts-widget>
                            </div>
                            <div class="trendByPeriod">
                                <app-trend-by-period></app-trend-by-period>
                            </div>
                        </div>
                    </section>
                    <section class="synch-status">
                        <div class="synch-section-wrap">
                            <div class="spendingCategories">
                                <top-spending-categories></top-spending-categories>
                            </div>
                            <div class="synch-item">
                                <div class="totalByPeriod">
                                    <app-totals-by-period></app-totals-by-period>
                                </div>
                                <div class="links">
                                    <ul class="list-of-links">
                                        <li *ngFor="let link of linksTo" class="link-item">
                                            <a class="link" *ngIf="link.route" [routerLink]="link.route">{{l(link.name)}}</a>
                                            <a class="link" *ngIf="link.action" (click)="link.action()">{{l(link.name)}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </dx-scroll-view>
        </div>
    </div>
</div>
