:host {
    chart {
        width: 200px !important;
        height: 200px !important;
        margin: 0 auto;

        @media (min-width: 768px) {
            .p-md-5 {
                padding: 2rem !important;
            }
        }
    }

    .card-text-footer {
        color: #7a7979;
        font-family: 'AvianoSans-Reg', sans-serif !important;
        font-size: 15px;
    }

    h5 {
        padding-bottom: 16px;
    }

    .level-img {
        width: 200px;
        display: block;
        margin: 0 auto;
    }
    .row > div {
        padding: 2rem 0;
    }
}
