<div [@routerTransition]>
    <app-headline [config]="headlineConfig"></app-headline>
    <div class="portlet light no-padding margin-bottom-0">
        <div class="portlet-body">

            <dx-tree-list 
                height="calc(100vh - 210px)"
                [hoverStateEnabled]="true"
                [dataSource]="ruleTreeListDataSource"
                [dataStructure]="tree"
                [sorting]="{mode: 'none'}"
                [editing]="{allowAdding: true, allowDeleting: true, allowUpdating: true, mode: 'popup', popup: {onShowing: onShowingPopup, height: '0px', width: '0px'}}"
                [selection]="{allowSelectAll: false, mode: 'none'}"
                [autoExpandAll]="true"
                [showColumnLines]="false"
                [showRowLines]="true"
                (onInitNewRow)="onEditingStart($event)"
                (onEditingStart)="onEditingStart($event)"
                (onRowRemoved)="onRowRemoved($event)"
                keyExpr="id"
                parentIdExpr="parentId"
                [rootValue]="null">
                <dxi-column dataField="isActive" caption="{{l('Status')}}"></dxi-column>
                <dxi-column dataField="name" caption="{{l('RuleName')}}"></dxi-column>
                <dxi-column dataField="creationTime" caption="{{l('CreationDate')}}"></dxi-column>
            </dx-tree-list>

        </div>
    </div>
</div>
