<div [@routerTransition]>
    <app-headline [config]="headlineConfig">
        <synch-progress class="synch-progress"></synch-progress>
    </app-headline>
    <div class="portlet light no-padding margin-bottom-0">
        <setup-steps [hidden]="filtersService.fixed" SelectedStepIndex="3"></setup-steps>
        <div class="portlet-body">
            <dx-tree-list height="100%" 
                          [noDataText]="''"
                          [hoverStateEnabled]="true"                          
                          [dataSource]="ruleTreeListDataSource"
                          [sorting]="{mode: 'none'}"
                          [selection]="{allowSelectAll: false, mode: 'none'}"
                          [autoExpandAll]="true"
                          [showColumnLines]="false"
                          [showRowLines]="true"
                          (onInitNewRow)="onEditingStart($event)"
                          (onEditingStart)="onEditingStart($event)"
                          (onRowRemoving)="onRuleRemoving($event)"
                          keyExpr="id"
                          parentIdExpr="parentId"
                          [rootValue]="0">
                <dxo-editing mode="popup" [allowAdding]="false" [allowDeleting]="false" [allowUpdating]="false" [texts]="{confirmDeleteMessage: ''}">
                    <dxo-popup [onShowing]="onShowingPopup" height="0px" width="0px"></dxo-popup>
                </dxo-editing>

                <dxi-column dataField="isActive" caption="{{l('Status')}}"></dxi-column>
                <dxi-column dataField="name" caption="{{l('RuleName')}}"></dxi-column>
                <dxi-column dataField="creationTime" caption="{{l('CreationDate')}}"></dxi-column>

                <dxi-column dataField="sortOrder" [visible]="false" [sortIndex]="0" sortOrder="asc"></dxi-column>
                <dxi-column dataField="id" [visible]="false" [sortIndex]="1" sortOrder="asc"></dxi-column>
            </dx-tree-list>
        </div>
    </div>
</div>
