:host {
    background-color: #fff;
    display: block;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

    .content {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 35px;
        &.no-clients {
            opacity: .5;
        }
        .sun img {
            position: absolute;
            left: -70px;
            max-width: 280px;
            max-height: 280px;
            top: 2px;
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
        }
        .level-image-block {
            margin-top: 45px;
            @media (max-width: 768px) {
                text-align: center;
            }
        }
    }
}