<begin-overlay *ngIf="noClients$ | async"
               [text]="ls.l('LetsDecodeYourFirstCode')"
               [buttonText]="ls.l('StartNow')"
               (onButtonClick)="decodeFirstCode()">
</begin-overlay>
<div class="content row" [ngClass]="{ 'no-clients': noClients$ | async }">
    <div class="col-sm-3 sun"><img src="./assets/common/images/bank-code/sun.svg"></div>
    <div class="col-sm-6">
        <bank-code-goals-cracked [showAll]="showAll" [showStubsIfEmpty]="true"></bank-code-goals-cracked>
    </div>
    <div class="col-sm-3 level-image-block">
        <img *ngIf="badgeIconName$ | async as badgeIconName"
             class="level-img"
             src="./assets/common/images/bank-code/badges/L{{ badgeIconName }}@2x.png"
             alt="Codebreaker">
    </div>
</div>
<button *ngIf="!showAll" class="view-more" (click)="showAll = true">{{ ls.l('ViewMoreStats') }}</button>