<header>
    <div class="avatar">
        <div class="active"></div>
        <div class="photo-area" (click)="showUploadPhotoDialog($event)" [ngStyle]="{'background-image': data?.personContactInfo?.primaryPhoto ? 'url(data:image/png;base64,' + data.personContactInfo.primaryPhoto + ')': ''}"></div>
    </div>
    <div class="personal_info">
        <div class="full_name">
            <h1 *ngIf="data && data?.personContactInfo as personContactInfo">
                <inplace-edit [id]="personContactInfo.id"
                              [value]="trim(personContactInfo.fullName)"
                              [validationRules]="nameValidationRules"
                              [isReadOnlyField]="!manageAllowed"
                              lEntityName="Name"
                              [editPlaceholder]="ls.l('ClientNamePlaceholder')"
                              [isEditDialogEnabled]="true"
                              (valueChanged)="updatePrimaryContactName($event)"
                              (openDialog)="showEditPersonDialog($event)">
                </inplace-edit>
            </h1>
        </div>
        <rating-bar *ngIf="!isBankCodeLayout; else bankCode" [rating]="ratingId || 0"></rating-bar>
        <ng-template #bankCode>
            <div class="bank-code" *ngIf="data?.personContactInfo?.person?.bankCode as bankCodeLetters">
                <bank-code-letters [bankCode]="bankCodeLetters"
                                   [allowEdit]="true"
                                   [personId]="data.id"
                                   key="detailsHeader"
                                   [showDescriptionsOnHover]="true"
                                   [showReportLink]="true"
                                   reportLinkType="Sales"
                                   reportIconName="blue">
                </bank-code-letters>
            </div>
        </ng-template>
    </div>
    <div *ngIf="data" class="organization_info">
        <div *ngIf="!data?.primaryOrganizationContactId; else companyInfo" class="add-new-company">
            <a (click)="addCompanyDialog($event)">+ {{ ls.l('AddCompany') }}</a>
        </div>
        <ng-template #companyInfo>
            <div class="company-details" [ngClass]="{ 'with-company-logo': data?.organizationContactInfo?.primaryPhoto }">
                <div class="delimiter"></div>
                <div class="info-icon" (click)="showCompanyDialog($event)">
                    <img *ngIf="!showRemovingOrgRelationProgress" src="./assets/common/icons/info-icon-blue.svg" alt="Organization Details">
                    <div *ngIf="showRemovingOrgRelationProgress" class="loadindicator"></div>
                </div>
                <div class="titles">
                    <h2 *ngIf="data && data?.organizationContactInfo as organizationContactInfo" class="shift-top">
                        <inplace-edit #companyName
                                      [id]="organizationContactInfo.id"
                                      [value]="trim(organizationContactInfo.fullName)"
                                      [isReadOnlyField]="!manageAllowed"
                                      lEntityName="Name"
                                      [editPlaceholder]="ls.l('ClientNamePlaceholder')"
                                      [isEditDialogEnabled]="true"
                                      (valueChanged)="updateCompanyField($event)">
                        </inplace-edit>
                        <i class="fa fa-angle-down" *ngIf="!companyName.isEditModeEnabled && (data?.personContactInfo?.orgRelations?.length > 1)" (click)="showCompanyList($event)"></i>
                        <div class="actions" [hidden]="!manageAllowed || companyName.isEditModeEnabled">
                            <i class="edit fa fa-pencil" (click)="showCompanyDialog($event)"></i>
                            <i class="add fa fa-plus" (click)="addCompanyDialog($event)"></i>
                            <i class="delete fa fa-times" (click)="removePersonOrgRelation($event)"></i>
                        </div>
                    </h2>
                    <h3>
                        <inplace-edit #jobTitle
                                      lEntityName="JobTitle"
                                      [id]="personOrganizationId$ | async"
                                      [value]="personJobTitle$ | async"
                                      [isReadOnlyField]="!manageAllowed"
                                      [editPlaceholder]="ls.l('JobTitle')"
                                      [validationRules]="companyValidationRules"
                                      (valueChanged)="updateJobTitle($event)">
                        </inplace-edit>
                    </h3>
                </div>
            </div>
            <div class="organization_logo" *ngIf="data?.organizationContactInfo?.primaryPhoto; else addCompanyPhoto">
                <img (click)="addCompanyLogo($event)" [src]="'data:image/png;base64,' + data.organizationContactInfo.primaryPhoto" alt="Organization Logo">
            </div>
            <ng-template #addCompanyPhoto>
                <div class="add-company-logo">
                    <a (click)="addCompanyLogo($event)">+ {{ ls.l('AddCompanyLogo') }}</a>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div class="header_buttons">
        <button id="addEntity" *ngIf="manageAllowed && addContextMenuItems.length" class="button-layout button-primary menu" (click)="addEntity($event)">
            + {{addButtonTitle}}
        </button>

        <div class="vertical-delimiter"></div>
        <button class="refresh-button" (click)="refresh()"></button>
    </div>
</header>
<dx-context-menu
    *ngIf="addContextMenuItems && addContextMenuItems.length"
    [selectByClick]="true"
    [selectionMode]="'single'"
    [dataSource]="addContextMenuItems"
    [position]="{ my: 'top right', at: 'bottom right' }"
    (onSelectionChanged)="addOptionSelectionChanged($event)"
    target="#addEntity">
</dx-context-menu>
