:host {
    ::ng-deep .mat-dialog-actions {
        width: 300px;

        .mat-dialog-buttons {
            height: 50px !important;
        }

        #saveTemplateOptions, #cancelTemplateOptions {
            width: 140px;
        }
    }

    ::ng-deep .form-content {
        padding: 25px 0px 20px 50px !important;
        display: flex;
        flex-direction: column;
        height: calc(~"100vh - 82px");
        min-width: 900px;

        .row {
            min-width: 820px;
            max-width: calc(40vw - 100px);
            margin-left: 0 !important;
        }

        .email-template-selector {
            input, h5 {
                font-size: 15px;
                font-weight: normal;
            }
        }
    }

    ::ng-deep ckeditor .cke_chrome .cke_contents {
        min-height: 310px !important;
    }

    .settings-wrapper {
        width: 100%;
        display: flex;

        & > div {
            width: 50%;

            h3 {
                padding: 15px 0 0;
                font-family: Montserrat;
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: 0.3px;
                color: #202b35;

                a {
                    float: right;
                }
            }

            p {
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.57;
                letter-spacing: 0.28px;
                color: #424c56;
            }

            ::ng-deep dx-check-box {
                padding-top: 15px !important;

                .dx-checkbox-text {
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.57;
                    letter-spacing: 0.28px;
                    color: #424c56;
                }

                .dx-checkbox-icon {
                    vertical-align: top;
                }
            }

            ::ng-deep .dx-widget {
                padding-top: 5px;

                &.dx-textarea {
                    .dx-placeholder.dx-state-invisible,
                    &.dx-state-focused .dx-placeholder {
                        top: -15px !important;
                    }
                }

                .dx-placeholder {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 2.2;
                    letter-spacing: 0.3px;
                    padding: 0px;

                    &.dx-state-invisible {
                        display: block !important;
                        font-size: 11px !important;
                        opacity: 1 !important;
                    }
                }

                &.dx-state-focused .dx-placeholder {
                    font-size: 11px !important;
                }

                input, textarea {
                    font-size: 16px;
                    font-weight: 300;
                }
            }

            .default-advisor {
                display: flex;
                margin: 10px 0;

                ::ng-deep dx-tooltip {
                    padding-top: 0;
                }

                label {
                    line-height: 32px;
                    margin: 0;
                }

                .advisor-name {
                    margin-left: 15px;

                    .empty {
                        font-style: italic;
                        color: #aaa;
                    }

                    .edit {
                        font-size: 18px;
                        padding: 7px;
                        cursor: pointer;
                        color: #00aeef;
                    }

                    .remove {
                        font-weight: 100;
                        font-size: 20px;
                        color: red;
                    }
                }
            }
        }

        .left-side {
            padding-right: 15px;
            border-right: 1px solid #dedede;
        }

        .right-side {
            padding-left: 15px;

            a {
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.79;
                letter-spacing: 0.28px;
                color: #58a3dc;
                float: right;
                margin: 10px 0;

                &.disabled {
                    pointer-events: none;
                    color: #dfdfdf;
                }
            }
        }

        ::ng-deep .dx-placeholder {
            top: -17px;
        }
    }
}
