<div class="warning" *ngIf="false">
    <div>
        <img src="./assets/common/icons/warning-icon.svg" />
        <span>{{ warningMessage$ | async }}</span>
    </div>
    <button (click)="updateCard()">{{ l('Update') }}</button>
</div>
<div class="main">
    <div class="balance">
        <div class="balanceAmount">
            <h4>{{ l('Balance') }}</h4>
            {{ amountCurrency + (balanceAmount$ | async | number : '1.2-2') }}
        </div>
        <ul class="balanceInfo">
            <li>
                <img src="./assets/common/icons/automatic-payments.svg">
                {{ l('AutomaticPayments') }}
            </li>
            <li>
                <img src="./assets/common/icons/last-payment.svg">
                {{ l('LastPayment', lastPaymentDate, amountCurrency, lastPaymentAmount) }}
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="transactions" #paymentsContainer>
            <h3>{{ l('Transactions') }}</h3>
            <dx-scroll-view [height]="paymentsScrollHeight()" [showScrollbar]="'never'">
                <div *ngIf="(dispayedPayments$ | async) as displayedPayments;">
                    <ul>
                        <li *ngFor="let payment of displayedPayments">
                            <span class="date">{{ payment.startDate.format('MMM  M, YYYY') + ' - ' + payment.endDate.format('MMM  M, YYYY') }}</span>
                            <span class="amount">{{ amountCurrency + payment.amount }}</span>
                        </li>
                    </ul>
                    <button class="viewAllTransactions" *ngIf="displayedPayments.length < (payments$ | async)?.length" (click)="addNewPaymentMethod()" (click)="viewAllTransactions()">{{ l('ViewAllTransactions') }}</button>
                    <app-no-data *ngIf="displayedPayments && !displayedPayments.length"></app-no-data>
                </div>
            </dx-scroll-view>
        </div>
        <div class="paymentMethods" #paymentMethodsContainer>
            <div class="title">
                <h3>{{ l('PaymentMethods') }}</h3>
                <button class="addNewPaymentMethod" *ngIf="false">+{{ l('AddNew') }}</button>
            </div>
            <dx-scroll-view [height]="paymentMethodsScrollHeight()" [showScrollbar]="'never'"  *ngIf="(paymentMethods$ | async) as paymentMethods">
                <ul class="paymentMethodsList">
                    <li *ngFor="let paymentMethod of paymentMethods">
                        <div [ngSwitch]="paymentMethod.type">
                            <ng-container *ngSwitchCase="paymentMethodsTypes.BankCard">
                                <div [ngClass]="{'active': paymentMethod.active}" class="paymentMethodIcon">
                                    <img [src]="'./assets/common/images/payments/card-logo/' + getCardTypeFromNumber(paymentMethod.bankCardInfo.cardNumber) + '.svg'">
                                </div>
                                <div>
                                    <p class="paymentName">{{ paymentMethod.bankCardInfo.cardNumber }}</p>
                                    <p class="paymentExpiration">{{ l('Expires') + ' ' + paymentMethod.bankCardInfo.expirationMonth + '/' + paymentMethod.bankCardInfo.expirationYear }}</p>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="paymentMethodsTypes.PayPal">
                                <div [ngClass]="{'active': paymentMethod.active}" class="paymentMethodIcon">
                                    <img [src]="'./assets/common/images/payments/card-logo/paypal.svg'">
                                </div>
                                <div>
                                    <p class="paymentName">{{ l('PayPal') }}</p>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="paymentMethodsTypes.ACH">
                                <div [ngClass]="{'active': paymentMethod.active}" class="achPaymentMethodIcon paymentMethodIcon">{{ l('eCheck') }}</div>
                                <div>
                                    <p class="paymentName">{{ paymentMethod.achCustomerInfo.firstName + ' ' + paymentMethod.achCustomerInfo.lastName }}</p>
                                </div>
                            </ng-container>
                        </div>
                        <div class="issue" *ngIf="paymentMethod?.issues">
                            <img src="./assets/common/icons/red-warning-icon.svg">
                            {{ paymentMethod.issues.length + ' ' + l('Issue') }}
                        </div>
                        <div class="actions" *ngIf="false">
                            <button (click)="editPaymentMethod()"><img src="./assets/common/icons/edit-pencil-icon.svg"></button>
                            <button (click)="removePaymentMethod()"><img src="./assets/common/icons/delete-icon.svg"></button>
                        </div>
                    </li>
                </ul>
                <app-no-data *ngIf="paymentMethods && !paymentMethods.length"></app-no-data>
            </dx-scroll-view>
        </div>
    </div>
</div>
