:host {
    h3 {
        padding: 12px;
    }

    #gridContainer {
        height: calc(~"100% - 5px");

        /deep/.success-row {
            background-color: #eaffed;

            i {
                color: green;
            }
        }

        /deep/.failed-row {
            background-color: #ffeaea;

            i {
                color: red;
            }
        }
    }
}
