chart {
    width: 200px !important;
    height: 200px !important;
    margin: 0 auto;

    @media (min-width: 768px) {
        .p-md-5 {
            padding: 2rem !important;
        }
    }
}
