<section class="accounts-synch">
    <header>
        <h2 class="title">Accounts synchronization status</h2>
    </header>
    <div class="content-wrap row">
        <div class="col-4">
            <round-progress
                [current]="43"
                [max]="100"
                [color]="'#35C8A8'"
                [background]="'#ECF0F3'"
                [radius]="64"
                [stroke]="8"
                [rounded]="false"
                [clockwise]="true"
                [responsive]="true"
                [duration]="800"
                [animation]="'easeInOutQuart'"
                [animationDelay]="0">
            </round-progress>
            <span class="total-synch-progress">43%</span>
        </div>
        <div class="col-8">
            <ul class="accounts-synch-list">
                <ng-container *ngFor="let item of accountsSynchData">
                    <li class="accounts-synch-list" [class.complete]="item.isDone">
                        <span class="account-name">{{item.accName}}</span>
                        <span class="synch-status">{{item.progress}}%</span>
                    </li>
                </ng-container>
            </ul>

            <div class="text-center">
                <a href="javascript:;" class="view-all-accounts">View all accounts</a>
            </div>
        </div>
    </div>
</section>
