table.credit-history {
  width: 100%;

  thead {
    font-family: "lato", sans-serif;
    font-weight: 600;
    color: #8a969b;

    tr:nth-child(1) th {
      font-size: 12px;
      border-bottom: none;
      padding-bottom: 0px;
    }
    tr:nth-child(1) th:nth-child(2) {
      padding: 8px 0 0;
    }
    tr:nth-child(2) th {
      font-size: 9px;
      border-top: none;
      padding-top: 5px;
    }
    tr:first-child th:first-child {
      color: #171c1d;
      font-size: 15px;
      vertical-align: middle;
      padding-top: 0px;
    }
  }
  
  tbody tr td i.fa {
    &.status-undefined {
      color: #FFFFFF;
    }
    &.status-Other {
      color: blue;
    }
    &.status-NotOpened {
      color: #e6e6fa;
    }
    &.status-Unknown {
      color: #909090;
    }
    &.status-Ok {
      color: #33e433;
    }
    &.status-L30 {
      color: #FFE200;
    }
    &.status-L60 {
      color: orange;
    }
    &.status-L90, &.status-L120, &.status-L150 {
      color: red;
    }
    &.status-PP, &.status-RF, &.status-CC {
      -webkit-animation: BLINK-RED-ICON 1s infinite;  /* Safari 4+ */
      -moz-animation: BLINK-RED-ICON 1s infinite;  /* Fx 5+ */
      -o-animation: BLINK-RED-ICON 1s infinite;  /* Opera 12+ */
      animation: BLINK-RED-ICON 1s infinite;  /* IE 10+, Fx 29+ */
    }
    @-webkit-keyframes BLINK-RED-ICON {
      0%, 49% {
        color: red;
      }
      50%, 100% {
        color: #e6e6fa;
      }
    }
  }
}

/deep/ .dx-datagrid {
    .dx-column-indicators{
        float: right !important;
    }
}

/deep/ .dx-datagrid-headers {
    font-family: "lato", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #8a969b;
}
/deep/ .dx-datagrid-content .dx-datagrid-table .dx-row > td {
    font-family: "lato", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    color: #5d666a;
}
/deep/ .dx-datagrid .dx-row > td {
    padding: 12px 7px;
}
/deep/ .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    font-family: "lato", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #8a969b !important;
    text-transform: uppercase;
    padding: 19px 7px;
}
/deep/ .dx-datagrid-content .dx-datagrid-table .dx-row > td + td {
    text-align: right;
}
/deep/ .dx-datagrid-content .dx-datagrid-table .dx-row > td:last-child,
.dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child {
    font-weight: bold;
    color: #121516;
}

/deep/ .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-datagrid-group-space {
    background: #fff;
}
/deep/ .dx-datagrid-content .dx-datagrid-table .dx-row.dx-selection > td.dx-datagrid-group-space {
    background: #fafafa;
}
/deep/ .dx-datagrid-group-opened:before {
    content: '\f105';
    font-family: FontAwesome;
}
/deep/ .dx-datagrid-group-closed:before {
    content: '\f107';
    font-family: FontAwesome;
}
/deep/ .dx-datagrid .dx-column-lines > td {
    border-right: 0;
    border-left: 0;
}
/deep/ .dx-datagrid-rowsview,
/deep/ .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    border-color: #dfdfdf;
}
/deep/ .dx-datagrid-total-footer {
    border-top: 2px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
/deep/ .dx-datagrid-summary-item {
    font-family: "lato", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    color: #121516;
}
/deep/ .dx-datagrid-rowsview .dx-selection.dx-row > td,
/deep/ .dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
    background-color: #fafafa;
    border-top: 2px solid rgba(93, 102, 106, 0.31);
}
/deep/ .dx-selection {
    border-radius: 3px 3px 0 0;
    border: 2px solid rgba(93, 102, 106, 0.31);
    border-bottom: 0;
}
/deep/ .dx-master-detail-row {
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
    border: 2px solid rgba(93, 102, 106, 0.31);
    border-top: 0;
}
/deep/ .dx-master-detail-row .dx-master-detail-cell {
    background-color: #ffffff !important;
}
/deep/ .dx-template-wrapper {
    position: relative;
}
/deep/ .dx-template-wrapper table {
    max-width: 100%;
}
/deep/ .dx-template-wrapper table td {
    white-space: normal;
}
/deep/ .dx-template-wrapper table td + td {
    font-family: "lato", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #5d666a;
    font-weight: 400;
}
/deep/ .dx-template-wrapper .account-summary td + td {
    text-align: right;
}
/deep/ .dx-template-wrapper .account-summary td.status {
    text-align: left;
}
/deep/ table.account-summary thead tr th {
    font-family: "lato", sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-align: right;
    color: #8a969b;
    text-transform: uppercase;
}
/deep/ table.account-summary thead tr th:first-child {
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #171c1d;
    text-align: left;
}

.account-summary {
    thead {
        tr {
            th:nth-child(2) {
                text-align: left;
                width: 90px;
            }
        }
    }
    .account-summary-row {
        td {
            height: 26px;
            vertical-align: middle;
        }
    }
}

.status {
    .open,
    .closed {
        .fa-circle {
            font-size: 8px;
            position: relative;
            top: -3px;
            margin-right: 5px;
        }
    }
    .open {
        display: block;
        .fa-circle {
            color: #34be75;
        }
    }
    .closed {
        .fa-circle {
            color: #e0533b;
        }
    }
}

.availableCreditField {
    background-color: rgba(89, 222, 155, 0.18);
    border: solid 1px #59de9b;
    border-radius: 2px;
    position: relative;
    .progress {
        display: block;
        position: absolute;
        height: 100%;
        background-color: rgba(89, 222, 155, 0.34);
    }
    .text {
        position: relative;
        padding: 0 5px;
    }
}
.outstandingBalanceField {
    background-color: rgba(224, 83, 59, 0.15);
    border: solid 1px #e78372;
    border-radius: 2px;
    position: relative;
    .progress {
        display: block;
        position: absolute;
        height: 100%;
        background-color: rgba(224, 83, 59, 0.18);
    }
    .text {
        position: relative;
        padding: 0 5px;
    }
}

.ratioField,
.creditUtilizationWrap {
    // position: relative;
    .text {
        display: block;
    }

    .ratioProgressBar,
    .creditUtilizationProgressBar {
        background-color: #dfdfdf;
        position: absolute;
        height: 3px;
        right: 0px;
        width: 64px;
        border-radius: 2px;
        overflow: hidden;

        .progress {
            display: block;
            position: absolute;
            height: 100%;
            background-color: #e0533b;
        }
    }
}
.creditUtilizationWrap .creditUtilizationProgressBar {
    right: 8px;
}

/deep/ .accounts {
    .dx-datagrid-rowsview {
        .dx-datagrid-table {
            .dx-row.dx-data-row {
                td:first-child {
                    padding-left: 27px;
                    &::before {
                        content: '\f105';
                        display: inline-block;
                        font-family: FontAwesome;
                        position: absolute;
                        left: 12px;
                    }
                }
                &.dx-selection {
                    td:first-child {
                        &::before {
                            content: '\f107';
                        }
                    }
                }
            }
            
        }
    }
    
    .dx-master-detail-row,
    .dx-selection {
        border-color: #ddd;
    }
    
}
