md-progress-spinner {
    transform: rotate(90deg);
}

.scors {
    display: flex;
}

.scors > div {
    position: relative;
}

.scors span {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    font-size:20px;
    font-weight:600;
    text-align: center;
}

h5 {
    text-align: center;
    color: #c8cbd0;
}