:host {
    .employment {
        padding: 0 15px;
    }
    
    h3 {
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.7px;
        text-align: left;
        color: #677380;
        margin-bottom: 22px;
        font-weight: 400;
    }

    h4 {
        padding: 5px 0 10px 0;
        margin-right: 30px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0.3px;
        text-align: left;
        color: #202b35;
    }

    p {
        font-size: 15px;
        color: #424c56;
        margin-bottom: 20px;
    }

    .info-container {
        padding: 0 0 10px 35px;

        .row {
            >:first-child {
                max-width: 155px;
            }
        }

        .edit {
            color: #00aeef;
            font-size: 18px;
            opacity: 0.8;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
    
    .caption, .caption p, {
        color: #677380;
        font-size: 14px;
    }

    .phone-number {
        padding: 3px 0 2px 35px;
    }

    i.icons {
        width: 25px;
        height: 25px;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;

        &.company {
            background-image: url("../../../../assets/common/icons/company-icon.svg");
        }

        &.job {
            background-image: url("../../../../assets/common/icons/job-icon.svg");
        }

        &.revenue {
            background-image: url("../../../../assets/common/icons/revenue-icon.svg");
        }        
    }

    .inplace-edit-wrapper {
        height: 23px;
        margin: -6px 0 25px 0;

        /deep/ input {
            margin: 0;
            padding: 0;
            font-size: 15px;
            font-weight: 300;
            text-align: left;
        }
    
        dx-text-box, dx-number-box, dx-select-box, dx-button {
            display: inline-block;
        }
        dx-text-box, dx-number-box, dx-select-box {
            min-width: 230px;
            width: 70%;
        }

        dx-button {
            border: none;
            position: relative;
            top: -14px;

            dx-select-box {
                /deep/ input {
                    font-size: 15px;
                    font-weight: 100;
                    color: #424c56;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        &.phone-number {
            margin-bottom: 30px;
        }    
    }
}

.employment {
    .inplace-edit-wrapper {
        dx-button {
            /deep/ &.update i {
                color: #00aeef;
            }

            /deep/ &.exit i {
                color: #f44336;
            }
        }
    }
}