:host {
    /deep/ .main-content {
        padding: 20px;
        .detail {
            margin-right: 120px;
            & > label {
                width: 100%;
                & > .mat-form-field {
                    float: right;
                }
                .detailItem {
                    .mat-form-field {
                        width: 100%;
                    }
                }
            }
        }
    }

}
