:host {
    height: 100%;
    display: block;
    position: relative;

    .invite-user-form {
        max-width: 300px;
        display: block;
        margin-left: calc(50% - 150px);
        padding-top: 30px;

        button {
            width: 150px;
            font-size: 20px;
            margin-left: 75px;
            margin-top: 20px;
        }

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 30px;
            /deep/ dx-check-box {
                width: 150px;
            }
        }
    }

    .user-info {
        margin: 0;

        h3 {
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.7px;
            text-align: left;
            color: #677380;
            margin-bottom: 22px;
            font-weight: 400;
        }

        /deep/ dx-check-box {
            width: 100%;
        }

        .title {
            font-size: 15px;
            padding-bottom: 5px;
        }

        .items-list {
            margin-top: 5px;
            width: 320px;
            li {
                padding-bottom: 15px;
            }
        }

        .reset-password {
            margin-bottom: 20px;
            margin-left: 50px;
        }
    }

    .item-edit-label {
        display: inline-block;
        min-width: 130px;
        font-size: 13px;
        font-weight: normal;
        line-height: 35px;
        letter-spacing: 0.7px;
        color: #677380;
    }

    .section {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section-item {
        display: flex;
        line-height: 35px;
    }

    /deep/ .validation-error-list {
        padding-left: 1em;
        margin-bottom: 0;

        li {
            list-style-type: disc;

            & + li {
                margin-top: 5px;
            }
        }
    }
}
