<div class="invite-user-form" *ngIf="showInviteUserForm">
    <dx-scroll-view showScrollbar="onHover">
        <dx-select-box #emailAddress
            width="300px"
            placeholder="Email Address"
            name="emailAddress"
            [disabled]="!isEditAllowed"
            [showClearButton]="true"
            [acceptCustomValue]="true"
            [dataSource]="emails"
            displayExpr="emailAddress"
            valueExpr="emailAddress"
            [value]="inviteData.emailAddress"
            (onCustomItemCreating)="onCustomItemCreating($event, 'emailAddress')"
            (onValueChanged)="onValueChanged($event)"
            fieldTemplate="emailTemplate"
            itemTemplate="emailItemTemplate">
            <div *dxTemplate="let item of 'emailTemplate'">
                <div class="email-wrapper">
                    <dx-text-box
                        [value]="item?.emailAddress">
                   </dx-text-box>
                </div>
            </div>
            <div *dxTemplate="let item of 'emailItemTemplate'">
                <div class="email-item-wrapper">
                    <span>{{item?.emailAddress}}</span>          
                </div>
            </div>
            <dx-validator>
                <dxi-validation-rule type="required" message="{{l('EmailIsRequired')}}"></dxi-validation-rule>
                <dxi-validation-rule type="email" message="{{l('InvalidEmailAddress')}}"></dxi-validation-rule>
            </dx-validator>
        </dx-select-box>
        <dx-select-box #phoneNumber
            width="300px"
            placeholder="Phone Number"
            name="phoneNumber"
            [disabled]="!isEditAllowed"
            [showClearButton]="true"
            [acceptCustomValue]="true"
            [dataSource]="phones"
            displayExpr="phoneNumber"
            valueExpr="phoneNumber"
            [value]="inviteData.phoneNumber"
            (onCustomItemCreating)="onCustomItemCreating($event, 'phoneNumber')"
            (onValueChanged)="onValueChanged($event)"
            fieldTemplate="phoneTemplate"
            itemTemplate="phoneItemTemplate">
            <div *dxTemplate="let item of 'phoneTemplate'">
                <div class="phone-wrapper">
                    <dx-text-box
                        [value]="phoneFormatPipe.transform(item?.phoneNumber)">
                   </dx-text-box>
                </div>
            </div>
            <div *dxTemplate="let item of 'phoneItemTemplate'">
                <div class="phone-item-wrapper">
                    <span>{{phoneFormatPipe.transform(item?.phoneNumber)}}</span>          
                </div>
            </div>
            <dx-validator>
                <dxi-validation-rule type="required" message="{{l('PhoneValidationError')}}"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" max="24"></dxi-validation-rule>
                <dxi-validation-rule type="pattern" [pattern]="phonePattern"></dxi-validation-rule>
            </dx-validator>
        </dx-select-box>
        <ul class="items-list">
            <li *ngFor="let role of roles">
                <dx-check-box [disabled]="!isEditAllowed" text="{{role.displayName}}" (onValueChanged)="inviteRoleUpdate($event, role)"></dx-check-box>
            </li>
        </ul>
        <button class="button-layout button-primary" (click)="inviteUser($event)">{{l('Invite')}}</button>
    </dx-scroll-view>
</div>
<mat-tab-group [(selectedIndex)]="selectedTabIndex" *ngIf="data.userId">
    <mat-tab label="General">
        <dx-scroll-view showScrollbar="onHover">
            <div class="user-info row">
                <div class="col-md-6">
                    <div class="section-item">
                        <div class="item-edit-label">{{l("EmailAddress")}}:</div>
                        <inplace-edit [data]="this.getPropData(EMAIL_FIELD)" (valueChanged)="updateValue($event, EMAIL_FIELD)"></inplace-edit>
                    </div>
                    <div class="section-item">
                        <div class="item-edit-label">{{l("PhoneNumber")}}:</div>
                        <inplace-edit [data]="getPhoneNumberPropData()" [mask]="masks.phone" [maskInvalidMessage]="l('PhoneValidationError')" (valueChanged)="updateValue($event, PHONE_FIELD)"></inplace-edit>
                    </div>
                    <div class="section-item">
                        <div class="item-edit-label">{{l("UserName")}}:</div>
                        <div>{{data?.user?.userName}}</div>
                    </div>
                    <button class="button-layout button-primary reset-password" [disabled]="!data?.user?.isActive" (click)="resetPasswordDialog($event)">{{l('PasswordReset')}}</button>                    
                    <div class="title">
                        {{l('Options') + ':'}}
                    </div>
                    <ul *ngIf="data && data?.user" class="items-list">
                        <li>
                            <dx-check-box [disabled]="!isEditAllowed" [(value)]="data.user.isActive" [text]="l('Active')" (onValueChanged)="update(ACTIVE_FIELD, data.user.isActive)"></dx-check-box>
                        </li>
                        <li>
                            <dx-check-box [disabled]="!isEditAllowed" [(value)]="data.user.isTwoFactorEnabled" [text]="l('IsTwoFactorEnabled')" (onValueChanged)="update(TWO_FACTOR_FIELD, data.user.isTwoFactorEnabled)"></dx-check-box>
                        </li>
                        <li>
                            <dx-check-box [disabled]="!isEditAllowed" [(value)]="data.user.isLockoutEnabled" [text]="l('IsLockoutEnabled')" (onValueChanged)="update(LOCKOUT_FIELD, data.user.isLockoutEnabled)"></dx-check-box>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="title">
                        {{l('Roles') + ':'}}
                    </div>
                    <ul class="items-list">
                        <li *ngFor="let role of data?.roles">
                            <dx-check-box [disabled]="!changeRolesAllowed" [(value)]="role.isAssigned" text="{{role.roleDisplayName}}" (onValueChanged)="roleUpdate(role)"></dx-check-box>
                        </li>
                    </ul>
                </div>
            </div>
        </dx-scroll-view>
    </mat-tab>
    <mat-tab label="Permissions">
        <dx-scroll-view showScrollbar="onHover">
            <permission-tree *ngIf="selectedTabIndex == PERMISSIONS_TAB_INDEX"></permission-tree>
        </dx-scroll-view>
    </mat-tab>
    <mat-tab label="Login Attempts">
        <login-attemps *ngIf="selectedTabIndex == LOGIN_ATTEMPTS_TAB_INDEX"></login-attemps>
    </mat-tab>
</mat-tab-group>