:host {
    height: 100%;
    display: block;
    position: relative;

    .inplace-edit-wrapper {
        display: flex;
        height: 35px;

        /deep/ input {
            margin: 0px;
            padding: 0 0 0 5px;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.67;
            letter-spacing: 0.3px;
            text-align: left;
            font-family: Montserrat;
        }

        dx-text-box, dx-button, country-phone-number {
            display: inline-block;
        }
        dx-text-box, country-phone-number {
            min-width: 170px;
        }
        /deep/ country-phone-number > .wrapper {
            width: 220px;
        }

        /deep/ dx-button {
            &.update i {
                color: #00aeef;
            }
            &.exit i {
                color: #f44336;
            }

            border: none;
            position: relative;
        }

        dx-validation-group {
            /deep/ dx-button {
              top: -14px;
            }
        }
    }

    /deep/ .mat-tab-label {
        color: #677380;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
        letter-spacing: 0.6px;
        opacity: 1;
    }

    /deep/ .mat-tab-label-active {
        border-bottom: none;
        background: none;
        font-weight: 500;
        color: #202b35;
    }

    .invite-user-form {
        margin: 0 30px;
        padding-top: 30px;
        display: block;

        .invite-user-info {
            .dx-checkbox {
                margin: 15px 0;
            }
        }

        button {
            width: 150px;
            font-size: 20px;
            margin: 20px auto 0;
            display: block;
        }

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 20px;

            li {
                margin-top: 12px;
            }

            /deep/ dx-check-box {
                width: 150px;
            }
        }
    }

    .user-info {
        margin: 0;

        & > div {
            min-width: 300px;
            &.onecolum {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        h3 {
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.7px;
            text-align: left;
            color: #677380;
            margin-bottom: 22px;
            font-weight: 400;
        }

        /deep/ dx-check-box {
            width: 100%;
        }

        .title {
            font-size: 15px;
            padding-bottom: 5px;
        }

        .items-list {
            margin-top: 5px;
            width: 320px;
            li {
                padding-bottom: 15px;
            }
        }

        .reset-password {
            margin-bottom: 20px;
            margin-left: 50px;
        }
    }

    .item-edit-label {
        display: block;
        width: 120px;
        font-size: 13px;
        font-weight: normal;
        line-height: 35px;
        letter-spacing: 0.7px;
        color: #677380;
    }

    .section {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section-item {
        line-height: 35px;
        div, inplace-edit {
            display: block;
            float: left;
        }
        
        inplace-edit {
            width: calc(~"100% - 170px");
        }

        ul {
            margin-bottom: 0;
            li {
                white-space: nowrap;
                .edit-phone {
                    color: #00aeef;
                    display: none;
                    font-size: 18px;
                    padding: 7px;
                    cursor: pointer;
                }

                &:hover {
                    .edit-phone {
                        display: inline-block;
                    }
                }
            }
        }
    }

    /deep/ .validation-error-list {
        padding-left: 1em;
        margin-bottom: 0;

        li {
            list-style-type: disc;

            & + li {
                margin-top: 5px;
            }
        }
    }
}
