<div class="invite-user-form" *ngIf="showInviteUserForm">
    <dx-scroll-view showScrollbar="onHover">
        <dx-validation-group #inviteValidationGroup>
            <div class="row">
                <div class="invite-user-info col-md-6">
                    <dx-select-box #emailAddress
                        width="300px"
                        placeholder="Email Address"
                        name="emailAddress"
                        [disabled]="!isInviteAllowed"
                        [showClearButton]="true"
                        [acceptCustomValue]="true"
                        [dataSource]="emails"
                        displayExpr="emailAddress"
                        valueExpr="emailAddress"
                        [value]="inviteData.emailAddress"
                        (onCustomItemCreating)="onCustomItemCreating($event, 'emailAddress')"
                        (onValueChanged)="onValueChanged($event)"
                        fieldTemplate="emailTemplate"
                        itemTemplate="emailItemTemplate">
                        <div *dxTemplate="let item of 'emailTemplate'">
                            <div class="email-wrapper">
                                <dx-text-box
                                    [value]="item?.emailAddress">
                                </dx-text-box>
                            </div>
                        </div>
                        <div *dxTemplate="let item of 'emailItemTemplate'">
                            <div class="email-item-wrapper">
                                <span>{{item?.emailAddress}}</span>
                            </div>
                        </div>
                        <dx-validator>
                            <dxi-validation-rule type="required" [message]="ls.l('EmailIsRequired')"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern" [pattern]="emailRegEx" [message]="ls.l('InvalidEmailAddress')"></dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                    <dx-select-box #phoneNumber
                        width="300px"
                        placeholder="Phone Number"
                        name="phoneNumber"
                        [disabled]="!isInviteAllowed"
                        [showClearButton]="true"
                        [acceptCustomValue]="true"
                        [dataSource]="phones"
                        displayExpr="phoneNumber"
                        valueExpr="phoneNumber"
                        [value]="inviteData.phoneNumber"
                        (onCustomItemCreating)="onCustomItemCreating($event, 'phoneNumber')"
                        (onValueChanged)="onValueChanged($event)"
                        fieldTemplate="phoneTemplate"
                        itemTemplate="phoneItemTemplate">
                        <div *dxTemplate="let item of 'phoneTemplate'">
                            <div class="phone-wrapper">
                                <dx-text-box
                                    [value]="phoneFormatPipe.transform(item?.phoneNumber)">
                            </dx-text-box>
                            </div>
                        </div>
                        <div *dxTemplate="let item of 'phoneItemTemplate'">
                            <div class="phone-item-wrapper">
                                <span>{{phoneFormatPipe.transform(item?.phoneNumber)}}</span>
                            </div>
                        </div>
                        <dx-validator>
                            <dxi-validation-rule type="stringLength" max="24"></dxi-validation-rule>
                            <dxi-validation-rule type="pattern" [pattern]="phonePattern" message="{{ls.l('PhoneValidationError')}}"></dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                    <dx-check-box [(value)]="inviteSetRandomPassword" [text]="ls.l('SetRandomPassword')"></dx-check-box>
                    <dx-text-box *ngIf="!inviteSetRandomPassword"
                        width="300px"
                        placeholder="Password"
                        mode="password"
                        [(value)]="inviteData.password">
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                    <dx-text-box *ngIf="!inviteSetRandomPassword"
                        width="300px"
                        placeholder="Confirm Password"
                        mode="password"
                        [value]="">
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                            <dxi-validation-rule type="compare" [comparisonTarget]="invitePasswordComparison" [message]="ls.l('PasswordsDontMatch')"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>

                    <dx-check-box [(value)]="inviteData.changePasswordOnNextLogin" [text]="ls.l('ShouldChangePasswordOnNextLogin')"></dx-check-box>
                    <dx-check-box [(value)]="inviteData.sendActivationEmail" [text]="ls.l('SendActivationEmail')"></dx-check-box>
                </div>
                <div class="col-md-4 offset-md-2">
                    <span>{{ls.l('Roles')}}:</span>
                    <ul class="items-list">
                        <li *ngFor="let role of roles">
                            <dx-check-box [disabled]="!isInviteAllowed"
                                        [text]="role.displayName"
                                        [value]="isPartner() && roleIsCheckedByDefault(role.name)"
                                        (onValueChanged)="inviteRoleUpdate($event, role)">
                            </dx-check-box>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="button-layout button-primary" (click)="inviteUser($event)">{{ls.l('Invite')}}</button>
        </dx-validation-group>
    </dx-scroll-view>
</div>
<mat-tab-group [(selectedIndex)]="selectedTabIndex" *ngIf="data.userId">
    <mat-tab label="General">
        <dx-scroll-view showScrollbar="onHover">
            <div class="user-info row" #row>
                <div class="col-md-7" [ngClass]="{ onecolum: row.offsetWidth < 600 }">
                    <div class="section-item clearfix">
                        <div class="item-edit-label">{{ls.l("EmailAddress")}}:</div>
                        <inplace-edit #InPlaceEmail [data]="this.getPropData(EMAIL_FIELD)" (valueChanged)="updateValue($event, EMAIL_FIELD)" (openDialog)="InPlaceEmail.showInput(true)"></inplace-edit>
                    </div>
                    <div class="section-item clearfix">
                        <div class="item-edit-label">{{ls.l("PhoneNumber")}}:</div>
                        <ul *ngIf="!phoneInplaceEdit">
                            <li (dblclick)="phoneInPlaceEdit()">{{ data?.user?.phoneNumber | phone }}<i class="edit-phone fa fa-pencil" (click)="phoneInPlaceEdit()"></i></li>
                        </ul>
                        <div class="inplace-edit-wrapper" *ngIf="phoneInplaceEdit">
                            <country-phone-number [(phoneNumber)]="data.user.phoneNumber" #countryPhoneNumber></country-phone-number>
                            <dx-button class="update" icon="todo" (onClick)="updatePhoneNumber(countryPhoneNumber.isValid())"></dx-button>
                            <dx-button class="exit" icon="refresh" (onClick)="closePhoneInPlaceEdit()"></dx-button>
                        </div>
                    </div>
                    <button class="button-layout button-primary reset-password" [disabled]="!data?.user?.isActive" (click)="resetPasswordDialog($event)">{{ls.l('PasswordReset')}}</button>
                    <div class="title">
                        {{ls.l('Options') + ':'}}
                    </div>
                    <ul *ngIf="data && data?.user" class="items-list">
                        <li>
                            <dx-check-box [disabled]="!isEditAllowed" [(value)]="data.user.isActive" [text]="ls.l('Active')" (onValueChanged)="isActiveChanged($event)"></dx-check-box>
                        </li>
                        <li>
                            <dx-check-box [disabled]="!isEditAllowed" [(value)]="data.user.isTwoFactorEnabled" [text]="ls.l('IsTwoFactorEnabled')" (onValueChanged)="update(TWO_FACTOR_FIELD, data.user.isTwoFactorEnabled)"></dx-check-box>
                        </li>
                        <li>
                            <dx-check-box [disabled]="!isEditAllowed" [(value)]="data.user.isLockoutEnabled" [text]="ls.l('IsLockoutEnabled')" (onValueChanged)="update(LOCKOUT_FIELD, data.user.isLockoutEnabled)"></dx-check-box>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="title">
                        {{ls.l('Roles') + ':'}}
                    </div>
                    <ul class="items-list">
                        <li *ngFor="let role of data?.roles">
                            <dx-check-box [disabled]="!changeRolesAllowed" [(value)]="role.isAssigned" text="{{role.roleDisplayName}}" (onValueChanged)="roleUpdate(role)"></dx-check-box>
                        </li>
                    </ul>
                </div>
            </div>
        </dx-scroll-view>
    </mat-tab>
    <mat-tab label="Permissions">
        <dx-scroll-view showScrollbar="onHover">
            <permission-tree *ngIf="selectedTabIndex == PERMISSIONS_TAB_INDEX"></permission-tree>
        </dx-scroll-view>
    </mat-tab>
    <mat-tab label="Login Attempts">
        <login-attemps *ngIf="selectedTabIndex == LOGIN_ATTEMPTS_TAB_INDEX"></login-attemps>
    </mat-tab>
</mat-tab-group>
