<h6>{{ ls.l('AccessCodeInstructionsTitle') }}:</h6>
<div class="description">
    <p [innerHTML]="ls.l('ClaimYourCustomAccessCode', '<b>' + ls.l('BankCode_Bank').toUpperCase() + '</b>' + ls.l('BankCode_Pass').toUpperCase())"></p>
    <p>{{ ls.l('YourUniqueAccessCode') }}.</p>
    <ng-container *ngIf="accessCode$ | async">
        <p>{{ ls.l('UseTrackingLinks') }}:</p>
        <div>
            <p>{{ ls.l('TrackingLink') }}:</p>
            <div class="link" *ngIf="trackingLink$ | async as trackingLink">
                <a [href]="trackingLink" target="_blank">{{trackingLink}}</a>
                <img src="./assets/common/icons/copy.svg" (click)="copy(trackingLink)"/>
            </div>
        </div>
    </ng-container>
</div>
