:host {
    display: block;
    position: relative;

    .wrapper {
        width: 100%;
        height: 100%;
        ::ng-deep dx-file-manager {
            .dx-filemanager-toolbar {
                height: 50px;
                .dx-filemanager-toolbar-viewmode-item input {
                    height: 30px;
                }
                .dx-button, .dx-filemanager-toolbar-viewmode-item input {    
                    border: 1px solid #dedede;
                    border-radius: 5px;
                }
            }
        }
    }
}
