<app-headline [names]="[ ls.l('Templates') ]"
              [showReloadButton]="ui.showReload"
              (onReload)="refresh()">
</app-headline>
<div (click)="onWrapperClick()">
    <div class="wrapper">
        <dx-file-manager
            [itemView]="{mode: layout}"
            [contextMenu]="contextMenu"
            [fileSystemProvider]="fileProvider"
            [allowedFileExtensions]="[]"
            [customizeDetailColumns]="customizeDetailColumns"
            [selectionMode]="'single'"
            [(selectedItemKeys)]="selectedItemKeys"
            [height]="getHeight()">
            <dxo-permissions
                [create]="manageAllowed"
                [copy]="manageAllowed"
                [move]="manageAllowed"
                [delete]="manageAllowed"
                [rename]="manageAllowed"
                [upload]="manageAllowed"
                [download]="false">
            </dxo-permissions>
            <dxo-toolbar>
                <dxi-item name="create"></dxi-item>
                <dxi-item name="upload"></dxi-item>

                <dxi-item name="refresh"></dxi-item>
                <dxi-item name="switchView"></dxi-item>

                <dxi-file-selection-item name="move"></dxi-file-selection-item>
                <dxi-file-selection-item name="copy"></dxi-file-selection-item>
                <dxi-file-selection-item name="rename"></dxi-file-selection-item>
                <dxi-file-selection-item name="delete"></dxi-file-selection-item>
                <dxi-file-selection-item widget="dxButton" location="before" [options]="downloadButtonOptions"></dxi-file-selection-item>
                <dxi-file-selection-item name="clearSelection"></dxi-file-selection-item>
            </dxo-toolbar>
        </dx-file-manager>
    </div>
</div>