<form action="#" name="reg" id="credit-report-reg-form">
  <div class="left-side">
    <h2 class="side-form-title">
      <span class="number">1</span><span>{{l('SetYouGoals')}}</span>
    </h2>
    <fieldset class="credit-card-type bordered-fieldset">
      <div class="legend">{{l('SelectCCType')}}</div>
      <div>
        <input type="radio" name="ccType" id="creditCardPersonal" value="personal">
        <label for="creditCardPersonal"><img src="/assets/landing/check.svg" alt="check" width="20"> {{l('PersonalCreditCard')}}</label>
      </div>
      <div>
        <input type="radio" name="ccType" id="creditCardBusiness" value="business">
        <label for="creditCardBusiness"><img src="/assets/landing/check.svg" alt="check" width="20"> {{l('BusinessCreditCard')}}</label>
      </div>
    </fieldset>
    <fieldset class="search-card-by bordered-fieldset">
      <div class="legend">{{l('SearchCardBy')}}</div>
      <div class="search-card-list">
        <!-- temp TODO: checkbox, radio or something else, need img -->
        <div class="search-card-item">
          <figure>
            <img src="/assets/landing/card-type-icon.svg" alt="Card type">
            <figcaption>{{l('CardType')}}</figcaption>
          </figure>

        </div>
        <div class="search-card-item">
          <figure>
            <img src="/assets/landing/credit-level-icon.svg" alt="Credit level">
            <figcaption>{{l('CreditLevel')}}</figcaption>
          </figure>
        </div>
        <div class="search-card-item">
          <figure>
            <img src="/assets/landing/issuer-icon.svg" alt="Issuer">
            <figcaption>{{l('Issuer')}}</figcaption>
          </figure>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="right-side">
    <h2 class="side-form-title">
      <span class="number">2</span>
      <span>{{l('Register')}} <span class="description">{{l('TryFreeFor14')}}</span></span>
    </h2>
    <fieldset class="client-info">
      <input type="text" id="fullName" placeholder="{{l('FullNamePlaceholder')}}" class="full-name">
      <input type="text" id="Email" placeholder="{{l('EmailAddress')}}" class="email">
      <input type="text" id="Phone" placeholder="{{l('PhoneNumber')}}" class="phone">
      <input type="text" id="zip" placeholder="{{l('Zipcode')}}" maxlength="5" class="zip">
      <button type="submit">
        {{l('Register')}}<img src="/assets/landing/right-arrow.svg" alt="arrow" width="16" class="btn-icon">
      </button>
    </fieldset>
  </div>
</form>
