:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 100px 50px;
    position: relative;

    ::ng-deep dx-data-grid {
        .dx-datagrid-focus-overlay {
            display: none;
        }

        .dx-header-row td:focus {
            outline: none !important;
        }
    }

    .status {
        font-weight: 600;

        &.A {
            color: #16dd16;
        }

        &.D {
            color: gray;
        }

        &.C {
            color: red;
        }

        &.E {
            color: orange;
        }
    }
}
