:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    padding: 100px 200px;
    position: relative;   
}
