.bank-pass {
    ::ng-deep .header .buttons {
        position: static !important;
        @media (max-width: 992px) {
            position: absolute !important;
        }
    }
    #gridContainer {
        height: calc(~"100vh - 80px");

        @media all and (max-width:  800px) {
            height: calc(~"100vh - 130px");
        }

        @media all and (max-width: 540px) {
            height: calc(~"100vh - 156px");
        }
    }
}
