:host {
    padding: 20px 25px;
    display: block;
    .fields {
        & > div {
            display: flex;
            align-items: center;
            &.address {
                align-items: flex-start;
                addresses {
                    width: 400px;
                }
            }
            label {
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                color: #202b35;
                letter-spacing: 0.3px;
                width: 200px;
            }
        }
    }
}