<h5 class="card-title">{{ls.l('BankCode_CodeCrackedAtAGlance')}}</h5>
<div class="bar-info row" *ngFor="let item of goalTypes">
    <div class="col-4">{{ item.text + ' ' + ls.l('goal') }}</div>
    <div class="col-4 text-center font-weight-bold">{{ bankCodeService.getPercentString(item.currentNumber$, item.number) | async }}</div>
    <div class="col-4 text-secondary text-right">{{ item.currentNumber$ | async | number }} of {{ item.number | number }}</div>
    <div class="col-12 bar bar-red">
        <dx-progress-bar width="100%"
                         [class]="item.name + '-goal'"
                         height="12"
                         [min]="0"
                         [max]="100"
                         [value]="bankCodeService.getPercent(item.currentNumber$, item.number) | async"
                         [showStatus]="false">
        </dx-progress-bar>
    </div>
</div>
