<item-details-layout
    [navLinks]="navLinks"
    [referrerParams]="referrerParams"
    [rightPanelOpened]="rightPanelSetting.opened"
    (onClose)="close()"
    (onChanged)="updateContextType($event)">
    <ng-container topHeader>
        <details-header [data]="contactInfo"
                        [personContactInfo]="personContactInfo"
                        [ratingId]="ratingId"
                        (onInvalidate)="reloadCurrentSection($event)"
                        (onContactSelected)="onContactSelected($event)">
        </details-header>
    </ng-container>
    <ng-container underHeader>
        <div class="general-links">
            <a routerLink="user-inbox" routerLinkActive="general-active-link"><i class="inbox-icon" aria-hidden="true"></i></a>
            <i class="phone-icon" aria-hidden="true"></i>
            <a (click)="showSMSDialog()"><i class="sms-icon"></i></a>
        </div>
        <operations-widget
            [enabled]="contactInfo && showToolbar"
            [customerType]="contactGroup"
            [leadId]="leadId"
            [contactInfo]="contactInfo"
            [stages]="leadStages"
            [selectedStageId]="clientStageId"
            [partnerTypes]="partnerTypes"
            [selectedPartnerTypeId]="partnerTypeId"
            (print)="printMainArea()"
            (onUpdateStatus)="updateStatus($event)"
            (onUpdateRating)="updateRating($event)"
            (onDelete)="deleteLead()"
            (prev)="loadTargetEntity($event, targetDirections.Prev)"
            (next)="loadTargetEntity($event, targetDirections.Next)"
            [getProxyService]="getProxyService"
            [assignedUsersSelector]="assignedUsersSelector"
            [getAssignmentsPermissionKey]="getAssignmentsPermissionKey">
        </operations-widget>
    </ng-container>
    <ng-container aboveNavigation>
        <div class="short-contact" *ngIf="!isUserProfile">
            <div class="related-contacts">
                <div *ngIf="contactInfo && contactInfo['organizationContactInfo']?.contactPersons?.length > 1; else addNew" class="contact-persons-info" (click)="showContactPersons($event)">
                    <img src="./assets/common/icons/similar-contacts.svg" alt="Contact Persons">
                    <span class="similar-contacts-count">{{ contactInfo['organizationContactInfo']?.contactPersons.length - 1 }} related contact<span *ngIf="contactInfo['organizationContactInfo']?.contactPersons.length - 1 > 1">s</span></span>
                    <img src="./assets/common/icons/down-arrow-icon.svg" alt="Contact Persons">
                </div>

                <ng-template #addNew>
                    <div class="contact-persons-info" (click)="addNewContact($event)" *ngIf="contactInfo?.primaryOrganizationContactId">
                        <img src="./assets/common/icons/similar-contacts.svg" alt="Contact Persons">
                        <a class="add-new-contact">{{l('AddRelatedContact')}}</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </ng-container>
    <ng-container rightPanel>
        <mat-tab-group>
            <mat-tab [label]="l('Overview')" *ngIf="rightPanelSetting.id == RP_DEFAULT_ID">
                <span class="gear-icon" (click)="toggleConfigMode()"></span>
                <dx-scroll-view showScrollbar="onHover">
                    <div class="right-content" [ngClass]="{'config-mode': configMode}">
                        <div class="right-panel-block" [hidden]="!configMode && !rightPanelSetting?.clientScores">
                            <input *ngIf="configMode" type="checkbox"
                                   (click)="toggleSectionVisibility($event, 'clientScores')"
                                   class="cb-visible-section" [checked]="rightPanelSetting?.clientScores">
                            <client-scores></client-scores>
                        </div>
                        <div class="right-panel-block" [hidden]="!configMode && !rightPanelSetting?.totalApproved">
                            <input *ngIf="configMode" type="checkbox"
                                   (click)="toggleSectionVisibility($event, 'totalApproved')"
                                   class="cb-visible-section" [checked]="rightPanelSetting?.totalApproved">
                            <total-approved></total-approved>
                        </div>
                        <!-- credit-lines></credit-lines -->
                        <div class="right-panel-block" [hidden]="!configMode && !rightPanelSetting?.verification">
                            <input *ngIf="configMode" type="checkbox"
                                   (click)="toggleSectionVisibility($event, 'verification')"
                                   class="cb-visible-section" [checked]="rightPanelSetting?.verification">
                            <verification-checklist [data]="verificationChecklist"></verification-checklist>
                        </div>
                        <!-- required-documents></required-documents -->
                    </div>
                </dx-scroll-view>
            </mat-tab>
            <mat-tab label="Activity" *ngIf="rightPanelSetting.id == RP_DEFAULT_ID">Activity</mat-tab>
            <mat-tab [label]="l('OrganizationUnits')" *ngIf="rightPanelSetting.id == RP_USER_INFO_ID">
                <oranization-units-tree></oranization-units-tree>
            </mat-tab>
            <mat-tab [label]="l('Owner')" *ngIf="rightPanelSetting.id == RP_LEAD_INFO_ID">
                <oranization-units-tree [selectionMode]="'single'"></oranization-units-tree>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</item-details-layout>
