:host {

    .gear-icon {
        z-index: 999;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 0px;
        background: url("../../../assets/common/icons/gear-icon.svg") no-repeat center;
    }

    .right-panel-block {
        position: relative;
    }

    .cb-visible-section {
        top: 4px;
        cursor: pointer;
        position: absolute;
        margin-right: 10px;
    }

    .right-content {
        padding: 0px 20px 0px 20px;
    }

    .short-contact {
        width: 85%;
        margin: 0 auto;
        min-height: 50px;
        position: relative;
        border-bottom: 1px solid #e5e9ec;
        display: flex;
        align-items: center;

        .related-contacts {
            .similar-contacts-count {
                margin: 0 10px;
            }

            .add-new-contact {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.57;
                letter-spacing: 0.3px;
                text-align: left;
                color: rgb(0, 174, 239);
                margin-left: 10px;
                text-decoration: none;

                &:hover {
                    color: lighten(rgb(0, 174, 239), 5%);
                }
            }
        }
    }

    .general-links {
        float: left;
        width: 289px;
        height: 63px;
        text-align: right;
        background: #FFF;
        padding-right: 30px;
        border-right: 1px solid #e5e9ec;

        .disabled {
            opacity: 0.5;
            cursor: default;
            pointer-events: none;
        }
        
        i {
            color: #686f76;
            width: 20px;
            height: 20px;
            margin: 10px 0px 0px 20px;
            display: inline-block;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
        }

        a.general-active-link i {
            border-bottom: 2px solid #58a3dc;
        }

        i.sms-icon {
            background-image: url(../../../assets/common/icons/sms.svg);
        }
        i.phone-icon {
            background-image: url(../../../assets/common/icons/phone2.svg);
        }
        i.inbox-icon {
            background-image: url(../../../assets/common/icons/inbox.svg);
        }
    }

    .created_owner {
        padding-left: 20px;
        position: absolute;
        bottom: 10px;
        width: 100%;
    }

    .created > *,
    .lead_owner > * {
        display: inline;
    }

    .lead_owner > img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .created_owner h4 {
        color: #b1b5bb;
        width: 50%;
        display: inline-block;
        font-size: 14px;
    }
}
