<div class="left">
    <h3>{{ ls.l('Progress') }}</h3>
    <ul>
        <li *ngFor="let step of visibleSteps; let i = index"
            [ngClass]="{
                selected: i === stepper.selectedIndex,
                saved: step.saved
            }"
            (click)="stepClick(i)">
            <div class="icon-container">
                <div [ngClass]="step.name" inlineSVG="assets/common/icons/tenant-settings/{{ step.name }}.svg"></div>
            </div>
            <span>{{ step.text }}</span>
        </li>
    </ul>
</div>
<div class="right">
    <mat-vertical-stepper #stepper>
        <mat-step *ngIf="showTimezoneSelection" #generalSettingsStep>
            <ng-container *ngIf="stepper.selected === null || stepper.selected === generalSettingsStep">
                <general-settings [settings]="generalSettings$ | async" (onOptionChanged)="onOptionChanged($event)"></general-settings>
            </ng-container>
        </mat-step>
        <mat-step *ngIf="!appService.isHostTenant && hasCustomizationsFeture" #appearanceStep>
            <dx-scroll-view [height]="529">
                <appearance></appearance>
            </dx-scroll-view>
        </mat-step>
        <mat-step *ngIf="hasHostPermission" #tenantManagementStep>
            <ng-container *ngIf="stepper.selected === tenantManagementStep">
                <tenant-management [settings]="tenantManagementSettings$ | async"
                                   [editions]="editions$ | async">
                </tenant-management>
            </ng-container>
        </mat-step>
        <mat-step #userManagementStep>
            <ng-container *ngIf="stepper.selected === userManagementStep">
                <dx-scroll-view [height]="529">
                    <user-management [hostSettings]="hostUserManagementSettings$ | async"
                                     [tenantSettings]="tenantUserManagementSettings$ | async">
                    </user-management>
                </dx-scroll-view>
            </ng-container>
        </mat-step>
        <mat-step #securityStep>
            <ng-container *ngIf="stepper.selected === securityStep">
                <security [passwordComplexitySettings]="passwordComplexitySettings$ | async"
                          [userLockOutSettings]="userLockOutSettings$ | async"
                          [twoFactorLoginSettings]="twoFactorLogin$ | async">
                </security>
            </ng-container>
        </mat-step>
        <mat-step #emailStep>
            <ng-container *ngIf="stepper.selected === emailStep">
                <email [settings]="emailSettings$ | async"></email>
            </ng-container>
        </mat-step>
        <mat-step *ngIf="!appService.isHostTenant && hasCustomizationsFeture" #memberPortalStep>
            <member-portal></member-portal>
        </mat-step>
    </mat-vertical-stepper>
    <div mat-dialog-actions>
        <button mat-button class="skip" (click)="next()">{{ ls.l('SkipForNow') }}</button>
        <button [hidden]="stepper.selectedIndex === 0"
                class="btn btn-default back"
                (click)="back()">
            {{ ls.l('Back') }}
        </button>
        <button class="btn btn-layout next" (click)="saveAndNext()">{{ ls.l('SaveAndNext') }}</button>
    </div>
</div>