<div class="recommended-lenders block-with-bg">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 left-block">
                <header class="section-header">
                    <h2>Recommended lenders</h2>
                    <a class="show-all" routerLink="">Show all</a>
                </header>

                <div class="list-wrap">
                    <ul class="row">
                        <li class="col-12" *ngFor="let lender of recommendedLenders">
                            <div class="row d-flex align-items-center">
                                <div class="col-7">
                                    <img [src]="'./assets/common/images/pfm-cc/lenders-logo/' + lender.imgName"
                                         [alt]="lender.title" class="img-fluid mb-0">
                                </div>
                                <div class="col-5 stars">
                                    <stars-rating [currentRating]="lender.rating" color="#f0d500"></stars-rating>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 right-block with-bg">
                <div class="recommended-block">
                    <h2>Car Loans</h2>
                    <p>for good credit, bad credit or no credit</p>
                    <div class="row">
                        <div class="col-12">
                            <form class="inline-form">
                                <input type="text" name="zip" placeholder="Enter your zipcode">
                                <button type="submit" class="submit">Get Approved</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
