// vars

:host {
    
    .with-bg {
        background-image: url(../../../../assets/common/images/pfm-cc/car-loans-bg@3x.jpg);
    }
    
    .stars {
        text-align: right;
        
        ::ng-deep .fa {
            font-size: 1.6rem;
        }
    }
    
    
    
    .inline-form {
        display: flex;
        
        input {
            width: 55%;
            border-radius: 2px 0 0 2px;
            border: 1px solid #dfdfdf;
            background-color: #f4f5f5;
            padding-left: 10px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.1px;
            color: #4a4a4a;
            outline: none;
        }
        
        button {
            width: 45%;
            padding: 10px 20px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.1px;
            background-image: none;
            border-radius: 0 2px 2px 0;
            text-transform: uppercase;
        }
    }
}
