@import url('https://fonts.googleapis.com/css?family=Kameron|Lato|Open+Sans|Work+Sans');

@left-column-width: 339px;

/** general */
@grandTotalBackgroundColor: #00aff4;
@grandTotalTextColor: rgba(255, 255, 255, .75);
@expendedLineColor: #b3b7ba;
@tableBorderColor: #ddd;
@generalColor: #212c36;

/** historical row colors */
@historicalTextColor: #686f76;
@currentBackgroundColor: #f9b532;
@currentTextColor: #fab800;
@forecastTextColor: #00aeef;

/** dates rows colors */
@yearTextColor: #00aeef;

/** left vertical columns colors */
@startedBalanceBackgroundColor: #dff4fe;
@incomeVerticalHeaderBackgroundColor: #def9f4;
@expensesVerticalHeaderBackgroundColor: #fee4dc;
@reconciliationVerticalHeaderBackgroundColor: #eff9fe;

/** data cells colors */
@dataCellBackgroundColor: #f9fbfc;
@startedBalanceDataCellColor: #d9f0fa;
@incomeDataCellBackgroundColor: #d9f5f0;
@expensesDataCellBackgroundColor: #f9e1da;
@reconciliationDataCellBackgroundColor: #ecf7fc;
@totalDataCellBackgroundColor: #ecf7fc;
@reconciliationDataCellTextColor: #a9b2ba;
@currentPeriodCellBackgroundColor: rgba(250, 184, 0, .04);
@totalsTextColor: #686f76;
@middleGrayColor: #686f76;
@dataCellColorForZeroValues: rgba(104, 111, 118, 0.52);

:host {
    top: 75px;
    position: relative;

    &.fullscreen {
        top: 0px !important;

        .cashflow #cashflowFooterToolbar {
            bottom: 0;
        }
    }

    /deep/ .cashflow .dx-pivotgrid {
        overflow: visible;

        .dx-pivotgrid-container table.dx-pivotgrid-border {
            .dx-pivotgrid-horizontal-headers {
                .dateField {
                    &.dx-pivotgrid-expanded {
                        padding: 5px 10px;

                        .head-cell-expand {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            &:after {
                                content: '';
                                display: block;
                                background: url('../../../assets/common/icons/cfo-down.png') 100%;
                                transform: rotate(180deg);
                                position: absolute;
                                visibility: visible;
                                left: -7px;
                                top: 2px;
                                width: 12px;
                                height: 7px;
                            }

                            .main-head-cell:hover {
                                .totals {
                                    text-decoration: underline;
                                }
                            }

                            &.closed {
                                visibility: hidden;
                                .main-head-cell {
                                    display: none;
                                }

                                .closed-head-cell {
                                    display: block;
                                }

                                &:after {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }

                    .closed-head-cell {
                        top: -2px;
                        line-height: 10px;
                        visibility: visible;
                        font-size: 10px;
                        color: @historicalTextColor;
                        font-weight: 400;
                        margin: 0 auto;
                        display: none;
                        padding: 0 6px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            /** general */
            .dx-grandtotal {
                background: @grandTotalBackgroundColor;
                color: @grandTotalTextColor;
            }

            .dx-pivotgrid-area td {
                &.month, &.quarter, &.year {
                    //min-width: 80px;
                }

                &.hideZeroActivity {
                    border: 0.1px solid #ccc !important;
                    padding: 0 !important;
                }

                &.chosenFilterForCashFlow {
                    border: 1px solid #f9b83a !important;
                    background-color: #fbf3e4 !important;
                    color: #333 !important;

                    span {
                        color: #333 !important;
                    }
                }

                &.dx-total,
                &.dx-data-header,
                &.dx-column-header {
                    background: @totalDataCellBackgroundColor;
                }
            }

            .dx-texteditor {
                border: none;
            }

            .cfoThemeLightDarkTheme {
                &.dx-area-row-cell,
                &.dx-area-column-cell,
                &.dx-area-data-cell {
                    tr {
                        &.startedBalance,
                        &.incomeRow,
                        &.expensesRow,
                        &.netChangeRow,
                        &.endingCashPosition,
                        &.reconciliation,
                        &.yearRow {
                            td {
                                background: rgba(221, 221, 221, .32) !important;
                                color: rgb(51, 51, 51) !important;
                            }
                        }

                        &.endingCashPosition {
                            td {
                                &, & span {
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }

            & > tr:nth-child(3) {
                position: fixed;
                z-index: 2;
                border-top: 1px solid #ddd;
                margin-top: -1px;

                /** upper left column */
                .dx-area-description-cell {
                    vertical-align: top;
                    background-color: #fff;
                    min-width: @left-column-width;
                    .sort-options {
                        padding: 0 15px;
                        position: absolute;
                        bottom: 10px;
                    }
                    #findInputBlock {
                        position: absolute;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1.67;
                        letter-spacing: 0.3px;
                        color: #424c56;
                        z-index: 2;
                        left: 11px;
                        border: 1px solid #ddd;
                        bottom: 17px;
                        margin: auto;
                        .dx-searchbox .dx-texteditor-input {
                            padding-left: 44px;
                            border-bottom: none;
                        }
                    }
                }
                /** upper right column (historical row and dates rows) */
                .dx-area-column-cell {
                    background: #fff;
                    tr {
                        height: auto !important;
                        td {
                            font-size: 10px;

                            &.cashflow {
                                color: #00aeef;
                            }

                            .totals {
                                font-size: 10px;
                            }

                            &.dx-pivotgrid-expanded,
                            &.dx-pivotgrid-collapsed {
                                text-align: center;
                            }

                            .dx-expand-icon-container {
                                display: none;
                            }

                            &.year {
                                color: @yearTextColor;
                                background: @incomeVerticalHeaderBackgroundColor;
                                font-weight: 600;
                                font-size: 20px;
                            }

                            &.lowestOpenedCurrent:not(.mtdCell):not(.currentDay):not(.nextDay) {
                                background-color: @currentPeriodCellBackgroundColor;
                            }

                            &.month,
                            &.quarter,
                            &.day,
                            &.dx-row-total {
                                color: @generalColor;
                                font-weight: 600;
                                font-size: 18px;

                                &.current {
                                    color: #fff;
                                    background: @currentTextColor;
                                }
                            }

                            &.dataFieldHidden {
                                padding: 0;
                                height: 0;
                                max-height: 0;
                            }

                            &.historicalField {
                                cursor: default;
                                font-size: 10px;
                                letter-spacing: 0.6px;

                                &.historical {
                                    color: @historicalTextColor;
                                    background-color: #f7f9ff;
                                }

                                &.current {
                                    background: @currentTextColor;
                                    color: #fff;
                                }

                                &.forecast {
                                    color: @forecastTextColor
                                }
                            }

                            span.dayEnding {
                                font-size: 10px;
                                position: absolute;
                            }

                            &.projectedField.projectedHidden {
                                border: none;
                                padding: 0;
                            }
                        }
                    }
                }
            }

            tr.dx-bottom-row {
                & > td {
                    padding-top: 84px;
                }

                /** bottom left column (labels cells) */
                .dx-area-row-cell table {
                    width: @left-column-width !important;
                    tr {
                        position: relative;
                        &:first-child td.dx-white-space-column {
                            border-top: 0;
                        }
                        td {
                            text-align: left;
                            color: inherit;
                            width: 23px;
                            min-width: 23px;

                            .accountNumber {
                                font-family: Lato;
                                float: right;
                            }

                            &.dx-white-space-column {
                                background: #fff;
                                border-right: none;
                                border-top: 1px solid @tableBorderColor;
                                position: relative;
                                cursor: pointer;

                                &:before {
                                    content: url('../../../assets/common/icons/collapse-icon.svg');
                                    position: absolute;
                                    left: 16px;
                                    width: 16px;
                                    top: 7px;
                                    z-index: 1
                                }

                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 22px;
                                    left: 23px;
                                    display: block;
                                    border-right: 2px solid @expendedLineColor;
                                    height: calc(~"100%" - 4px);
                                    z-index: 1;
                                }

                                &.startedBalanceWhiteSpace {
                                    border-top: none
                                }
                            }

                            &.income {
                                background: @incomeVerticalHeaderBackgroundColor;
                            }

                            &.expenses {
                                background: @expensesVerticalHeaderBackgroundColor;
                            }

                            &.emptyChildren {
                                cursor: default;
                                padding-left: 43px !important;
                            }

                            &.netChange {
                                text-align: left;
                            }

                            &.dx-last-cell {
                                width: @left-column-width;
                                padding-left: 22px;
                            }

                            &.descriptor {
                                font-style: italic;
                            }

                            .dx-expand-icon-container {
                                font: inherit;
                                margin-right: 10px;

                                &:before {
                                    display: none;
                                }

                                .dx-expand:before {
                                    top: auto;
                                    left: auto;
                                    position: relative;
                                    width: auto;
                                    margin: auto;
                                }
                            }

                            &.dx-pivotgrid-collapsed {
                                .dx-expand:before {
                                    content: url('../../../assets/common/icons/expand-icon.svg');
                                }
                            }

                            &.dx-pivotgrid-expanded {
                                position: relative;

                                .dx-expand:before {
                                    content: '';
                                    width: 7px;
                                    border-bottom: 2px solid @expendedLineColor;
                                    margin-left: 8px;
                                    top: -4px;
                                }

                                .dx-expand-icon-container {
                                    position: relative;
                                    &:after {
                                        content: '';
                                        top: 6px;
                                        position: absolute;
                                        left: 12px;
                                        width: 6px;
                                        height: 6px;
                                        border-radius: 50%;
                                        background: @expendedLineColor;
                                    }
                                }
                            }
                        }

                        &.incomeRow, &.incomeChildRow, &.expensesRow, &.expensesChildRow {
                            .dx-pivotgrid-collapsed .dx-expand-icon-container {
                                span {
                                    width: 15px;
                                    height: 15px;
                                    display: inline-block;
                                    transform: rotate(-90deg);
                                    &:before {
                                        bottom: 5px;
                                    }
                                    background: url('../../../assets/common/icons/rectangle.svg') no-repeat center;
                                }
                            }
                        }

                        &.incomeChildRow, &.expensesChildRow {
                            .dx-white-space-column {
                                span {
                                    width: 10px;
                                    height: 10px;
                                    display: inline-block;
                                    position: relative;
                                    left: 18px;
                                    top: 6px;
                                    z-index: 1;
                                }
                                &:before {
                                    content: url('../../../assets/common/icons/rectangle.svg');
                                }
                            }
                        }

                        &.incomeRow, &.incomeChildRow {
                            .dx-pivotgrid-expanded .dx-expand-icon-container {
                                span:before {
                                    border-bottom: 2px solid #61c670!important;
                                }
                                &:after {
                                    background: #61c670!important;
                                }
                            }
                            .dx-pivotgrid-collapsed .dx-expand-icon-container {
                                span{
                                    &:before {
                                        content: url('../../../assets/common/icons/arrow-down-green.svg');
                                    }
                                }
                            }
                        }

                        &.incomeChildRow {
                            .dx-white-space-column {
                                &:after {
                                    border-right: 2px solid #61c670!important;
                                }
                                span {
                                    background: url('../../../assets/common/icons/arrow-down-green.svg') no-repeat center;
                                }
                            }
                        }

                        &.expensesRow, &.expensesChildRow {
                            .dx-pivotgrid-expanded .dx-expand-icon-container {
                                span:before {
                                    border-bottom: 2px solid #e7326a!important;
                                }
                                &:after {
                                    background: #e7326a!important;
                                }
                            }
                            .dx-pivotgrid-collapsed .dx-expand-icon-container {
                                span{
                                    &:before {
                                        content: url('../../../assets/common/icons/arrow-down-red.svg');
                                    }
                                }
                            }
                        }
                        &.expensesChildRow {
                            .dx-white-space-column {
                                &:after {
                                    border-right: 2px solid #e7326a!important;
                                }
                                span {
                                    background: url('../../../assets/common/icons/arrow-down-red.svg') no-repeat center;
                                }
                            }
                        }

                        &.startedBalance,
                        &.incomeRow,
                        &.expensesRow,
                        &.netChangeRow,
                        &.endingCashPosition {
                            td {
                                letter-spacing: 0.8px;
                                font-weight: 600;
                            }
                        }

                        &.startedBalance td {
                            background: @startedBalanceBackgroundColor;
                        }

                        &.netChangeRow td {
                            background: transparent;
                        }

                        &.endingCashPosition {
                            td {
                                background: #00aff0;
                                color: #fff;
                                padding-left: 22px;
                            }
                        }

                        &.reconciliation {
                            td {
                                letter-spacing: 0.2px;
                                padding-left: 22px;
                                font-weight: 600;
                                background: @reconciliationVerticalHeaderBackgroundColor;
                            }
                        }
                    }
                }

                /** bottom right column (data cells) */
                .dx-area-data-cell {

                    &.fontNameLato tr td {
                        &, span {
                            font-family: Lato !important;
                        }
                    }

                    &.fontNameOpenSans tr td {
                        &, span {
                            font-family: "Open Sans" !important;
                        }
                    }

                    &.fontNameKameron tr td {
                        &, span {
                            font-family: Kameron !important;
                        }
                    }

                    &.fontNameWorkSans tr td {
                        &, span {
                            font-family: Work Sans !important;
                        }
                    }

                    tr {
                        td {
                            background: @dataCellBackgroundColor;
                            color: @middleGrayColor;
                            font-family: Lato !important;
                            letter-spacing: 0.2px;

                            &.red {
                                &,
                                & span {
                                    color: red !important;
                                }
                            }

                            &.zeroValue {
                                &,
                                & span {
                                    color: @dataCellColorForZeroValues;
                                    font-weight: 300;
                                }
                            }

                            &[droppable='true'] {
                                background: #fffbf4 !important;
                            }

                            &.currentDroppable {
                                background: #CBEEFF !important;
                                cursor: pointer;
                            }

                            span {
                                font-family: Lato !important;
                                color: @middleGrayColor;
                            }

                            &.income {
                                background: @incomeDataCellBackgroundColor;
                            }

                            &.expenses {
                                background: @expensesDataCellBackgroundColor;
                            }

                            &.netChange {
                                background: transparent;
                            }

                            &.lowestOpenedCurrent:not(.mtdCell):not(.currentDay):not(.nextDay) {
                                &.income {
                                    background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor), linear-gradient(@incomeDataCellBackgroundColor, @incomeDataCellBackgroundColor);
                                }

                                &.expenses {
                                    background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor), linear-gradient(@expensesDataCellBackgroundColor, @expensesDataCellBackgroundColor);
                                }
                            }

                            &.lowestOpenedCurrent:not(.mtdCell):not(.currentDay):not(.nextDay) {
                                background-color: @currentPeriodCellBackgroundColor;
                            }

                            .dx-texteditor-input {
                                text-align: right;
                            }
                        }

                        &.startedBalance,
                        &.incomeRow,
                        &.expensesRow,
                        &.netChangeRow,
                        &.endingCashPosition,
                        &.reconciliation {
                            td {
                                &,
                                & span {
                                    color: @totalsTextColor;
                                    font-weight: 600;
                                }

                                &.zeroValue {
                                    &,
                                    & span {
                                        color: @dataCellColorForZeroValues;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }

                        &.startedBalance {
                            td {
                                &.dx-total {
                                    background: @startedBalanceDataCellColor;
                                }

                                &.lowestOpenedCurrent:not(.mtdCell):not(.currentDay):not(.nextDay) {
                                    background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor), linear-gradient(@startedBalanceDataCellColor, @startedBalanceDataCellColor);
                                }
                            }

                            &:first-child {
                                td {
                                    background: @startedBalanceDataCellColor;

                                    &.lowestOpenedCurrent:not(.mtdCell):not(.currentDay):not(.nextDay) {
                                        background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor), linear-gradient(@startedBalanceDataCellColor, @startedBalanceDataCellColor);
                                    }
                                }
                            }
                        }

                        &.endingCashPosition {
                            td {
                                background: @grandTotalBackgroundColor;

                                &.lowestOpenedCurrent:not(.mtdCell):not(.currentDay):not(.nextDay) {
                                    background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor), linear-gradient(@grandTotalBackgroundColor, @grandTotalBackgroundColor);
                                }

                                span {
                                    color: @grandTotalTextColor;
                                }
                            }
                        }

                        &.reconciliation {
                            td {
                                background: @reconciliationDataCellBackgroundColor;
                                color: @reconciliationDataCellTextColor;

                                &.lowestOpenedCurrent:not(.mtdCell):not(.currentDay):not(.nextDay) {
                                    background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor), linear-gradient(@reconciliationDataCellBackgroundColor, @reconciliationDataCellBackgroundColor);
                                }
                            }
                        }
                    }

                    .dx-scrollable-scrollbar {
                        bottom: -7px;

                        &.fixedScrollbar {
                            position: fixed;
                            bottom: 5px;
                            left: @left-column-width;
                            &.withFooterToolbar {
                                bottom: 47px;
                            }
                        }

                        &.dx-state-hover,
                        &.dx-scrollable-scrollbar-hoverable,
                        &.dx-scrollable-scrollbar-active {
                            height: 8px;
                        }

                        .dx-scrollable-scroll {
                            height: 15px;

                            .dx-scrollable-scroll-content {
                                background-color: rgb(191,191,191)
                            }
                        }
                    }
                }
            }

        }
    }

    /deep/ .dx-dropdowneditor[accesskey="cashflowGroupby"] {

        &.dx-dropdowneditor-field-clickable {
            max-width: none;

            input {
                border-bottom: none;
            }

            .dx-placeholder {
                display: none !important;
            }
        }

        .dx-texteditor-container {
            width: auto;
            display: flex;
            align-items: baseline;
            justify-content: left;

            input.dx-texteditor-input {
                padding: 8px 8px;
                padding-right: 0;
                font-size: 15px;
                display: block;
                float: left;
                max-width: inherit;
                min-width: 0;
                width: auto;
                color: @generalColor;

                &:after {
                }
            }

            .dx-texteditor-buttons-container {
                position: static;

                .dx-dropdowneditor-button {
                    width: 10px;
                    padding: 0;
                    position: static;

                    .dx-dropdowneditor-icon {
                        font: 14px/1 DXIcons !important;

                        &:before {
                            content: url('../../../assets/common/icons/down-icon.svg');
                            top: 9px;
                            right: 0;
                            left: auto;
                            margin: auto;
                            color: @generalColor;
                        }
                    }
                }
            }
        }

        .dx-dropdowneditor-button-visible .dx-texteditor-input {
            padding-right: 10px;
            width: auto;
        }

        &.dx-state-hover .dx-dropdowneditor-icon,
        &.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon,
        &.dx-dropdowneditor-active .dx-dropdowneditor-icon {
            background: none !important;
        }
    }

    /deep/ [class*='chart'] {
        width: 65px;
        height: 18px;
        float: right;
    }

    .cashflow {
        background-color: #fff;
        position: relative;
        height: 100%;

        #cashflowFooterToolbar {
            position: absolute;
            bottom: 135px;
            width: 100%;
            z-index: 1;

            /deep/ dx-toolbar {
                padding: 11px 0 9px 0;

                .dx-toolbar-items-container {
                    height: 22px;
                }

                .dx-tabs {
                    border: none;

                    .dx-tab {
                        padding: 0px 11px 0px 11px;
                        color: #677380;
                        margin-right: 23px;
                        background-color: initial;

                        &.dx-tab-selected {
                            border-radius: 12px;
                            color: #212c36;
                            background-color: #f3f7fa;

                            &:after {
                                display: none;
                            }
                        }

                        .editModel {
                            position: absolute;
                            z-index: 1;
                            top: 0;

                            input {
                                width: 100%;
                            }
                        }
                    }
                }

                .dx-toolbar-item {
                    max-width: initial !important;
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 0.3px;
                    color: #212c36;

                    .dx-button {
                        border: none;

                        .dx-button-content {
                            height: 17px;
                            min-width: 0;
                        }
                    }
                }

                .dx-toolbar-before .dx-toolbar-item {
                    &:not(:first-child) {
                        padding-left: 13px;
                    }

                    &:not(:nth-child(3)) {
                        border-right: 1px solid #e5e9ec;
                    }

                    &:not(:last-child) {
                        padding-right: 20px;
                    }

                    .dx-button[group-item-position="last"] {
                        margin-right: 0;
                    }

                    &:last-child {
                        padding-right: 9px;
                    }
                }

                .dx-toolbar-after {
                    .dx-toolbar-item {
                        color: #677380;
                        padding-left: 38px;
                        font-weight: 500;

                        .value {
                            color: #424c56;
                            font-weight: 600;
                        }

                        &:last-child {
                            position: relative;

                            &::before {
                                content: '';
                                border-right: 1px solid #e5e9ec;
                                position: absolute;
                                left: 24px;
                                width: 1px;
                                height: 200%;
                                top: -50%;
                            }

                            .dx-button {
                                margin: 0;
                            }

                            img {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .groupBy {
        padding-left: 22px;
        display: flex;
        color: @generalColor;
        align-items: center;

        span {
            margin-right: 10px;
        }
    }

    .cashflow-wrap {
        height: 400px;
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        padding: 0 15px;
        background: #fff;
        z-index: 2;

        transform: translate(0, 0) !important;

        .resize-buttons {
            z-index: 1;
            text-align: center;
            font-size: 22px;
            position: absolute;
            width: 100%;
            left: 0;
            line-height: 0.5;
            font-weight: bold;
            letter-spacing: 3px;
            color: #cecece;
        }

        .detailsButtons {
            position: absolute;
            z-index: 100;
            right: 5px;
            top: 15px;
            .close-btn:hover {
                background: transparent !important;
            }
            .reclassify-btn,
            .showall-btn,
            .close-btn {
                border: 0;
                padding: 0;
            }
        }
    }

    /deep/ #cashflowGridContainer {
        height: 100%;

        .dx-datagrid-headers {
            .dx-datagrid-content {
                .dx-header-row {
                    td {
                        padding: 20px;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 24px;
                        color: #686f76;
                        vertical-align: middle;
                        &[aria-sort='none'] {
                            color: @middleGrayColor;
                        }
                        .firstLine {
                            text-transform: capitalize;
                            line-height: 11px;
                            font-weight: 500;
                            & + div {
                                color: @generalColor;
                            }
                        }
                        &.dx-command-select {
                            padding: 20px 0;
                        }

                        &:hover,
                        &:not([aria-sort="none"]) {
                            .dx-column-indicators {
                                display: block;
                            }
                        }

                        .dx-column-indicators {
                            display: none;
                            .dx-sort {
                                color: rgba(103, 115, 128, .5);
                                font-weight: bold;
                                font-size: 16px;
                                position: relative;
                                top: 1px;
                            }

                            .dx-header-filter {
                                color: rgba(103, 115, 128, .5);
                            }
                        }
                    }
                }
            }
        }

        .dx-datagrid-rowsview {
            border-top: 0;
        }

        .dx-datagrid-table {
            .dx-data-row {
                td {
                    color: #424c56;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    padding: 11px 20px;
                    &.editable {
                        cursor: cell;
                    }
                    &.dx-editor-cell {
                        padding: 0px;
                        line-height: initial;
                        input {
                            height: 36px;
                            display:inline-block;
                            position:relative;
                            background-color: initial;
                            border: solid 1px #e5e9ec;
                        }
                    }
                    &.statusField {
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            width: 7px;
                            border-radius: 50%;
                            height: 7px;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        &.projected {
                            color: #fe871a;
                            &:before {
                                background-color: #fe871a;
                            }
                        }
                        &.completed {
                            color: #a6d7a9;
                            &:before {
                                background-color: #a6d7a9;
                            }
                        }
                    }

                    &.inflows div {
                        color: #61c670;
                        background-color: rgba(97, 198, 112, 0.1);
                    }
                    &.outflows div {
                        color: #e7326a;
                        background-color: rgba(231, 50, 106, 0.1);
                    }
                    &.inflows,
                    &.outflows {
                        div {
                            border-radius: 11px;
                            text-align: center;
                        }
                    }
                }

                &.dx-selection {
                    td {
                        background-color: rgba(0, 174, 239, 0.05);
                    }
                }

                &.forecastRow,
                &.adjustmentRow {
                    td {
                        &:first-child {
                            pointer-events: none;
                            .dx-select-checkbox {
                                display: none;
                            }
                        }
                    }

                    &.projected {
                        /** If nth child is forecast date, else - change it */
                        td:nth-child(2) {
                            position: relative;
                            &:before {
                                position: absolute;
                                content: '!';
                                left: 0;
                                display: block;
                                color: #f89800;
                                font-weight: 800;
                                font-size: 18px;
                            }
                        }
                    }

                    &.dx-selection td {
                        background-color: initial;
                        border: none;
                    }

                    &.dx-selection.dx-row-alt td {
                        background-color: #f3f7fa;
                        border: none;
                    }
                }
            }
        }

        .dx-datagrid {
            .dx-row-alt > td {
                background: #f3f7fa;
            }

            .dx-column-lines > td {
                border-right: 0;
                border-left: 0;
            }

            .dx-datagrid-focus-overlay {
                border: none;
            }
        }
    }
}

/deep/ .dx-overlay-content {
    min-width: 100px;
}

.title {
    background-color: #f3f7fa;
    padding: 16px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @generalColor;
    font-size: 24px;
    border-bottom: 1px solid #e5e9ec;

    h1 {
        font-size: 24px;
        line-height: 19px;
        text-align: left;
        color: @generalColor;
        margin: 0;
        font-weight: 400;
    }

    .synch-progress{
        float: right;
        margin-top: -7px;
        margin-left: 10px;
    }

    .add-new {
        width: 192px;
        height: 42px;
        border-radius: 21px;
        background-color: #00aeef;
        border: none;
        color: #fff;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        float: right;
        position: relative;
        //padding-right: 42px;
        //&::after {
        //    content: '';
        //    background: no-repeat 47% 50% url("/assets/icons/arrow_2.svg") ;
        //    width: 42px;
        //    height: 100%;
        //    background-color: #00a0dc;
        //    border-top-right-radius: 21px;
        //    border-bottom-right-radius: 21px;
        //    display: block;
        //    right: 0;
        //    position: absolute;
        //    top: 0;
        //}
    }
}
.pivot-grid-wrapper {
    margin-bottom: 190px;
}

.invisible {
    opacity: 0;
}

