@left-column-width: 339px;

/** general */
@grandTotalBackgroundColor: #00aff4;
@grandTotalTextColor: rgba(255, 255, 255, .75);
@expendedLineColor: #b3b7ba;
@tableBorderColor: #ddd;
@generalColor: #212c36;

/** historical row colors */
@historicalTextColor: #686f76;
@currentBackgroundColor: #f9b532;
@currentTextColor: #fab800;
@forecastTextColor: #00aeef;

/** dates rows colors */
@yearTextColor: #00aeef;

/** left vertical columns colors */
@startedBalanceBackgroundColor: #dff4fe;
@incomeVerticalHeaderBackgroundColor: #def9f4;
@expensesVerticalHeaderBackgroundColor: #fee4dc;
@reconciliationVerticalHeaderBackgroundColor: #eff9fe;

/** data cells colors */
@dataCellBackgroundColor: #f9fbfc;
@startedBalanceDataCellColor: #d9f0fa;
@incomeDataCellBackgroundColor: #d9f5f0;
@expensesDataCellBackgroundColor: #f9e1da;
@reconciliationDataCellBackgroundColor: #ecf7fc;
@totalDataCellBackgroundColor: #ecf7fc;
@reconciliationDataCellTextColor: #a9b2ba;
@currentPeriodCellBackgroundColor: rgba(250, 184, 0, .04);
@totalsTextColor: #686f76;
@middleGrayColor: #686f76;
@dataCellColorForZeroValues: rgba(104, 111, 118, 0.52);

:host {
    top: 75px;
    position: relative;

    &.fullscreen {
        top: -75px !important;
    }

    .filter-sort-options {
        padding: 20px 15px 0px 20px;
        .active-filter::after {
            content: '';
            position: absolute;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: red;
            top: 7px;
            right: 7px;
        }

        .clear-all {
            height: 37px;
            font-size: 11px;
            line-height: 2.18;
            letter-spacing: 0.4px;
            color: #677380;
            text-transform: uppercase;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            float: right;
            font-weight: 400;
            outline: none;
        }

        /deep/ .dx-button {
            width: 104px;
            position: relative;
            &:first-child {
              margin-right: 7px;
            }
            &:nth-child(2) {
                min-width: 60px;
                &:after {
                    content: '';
                    display: block;
                    background: url('../../../assets/common/icons/down-arrow-icon.svg');
                    position: absolute;
                    width: 8px;
                    height: 4px;
                    right: 12px;
                    top: 48%;
                }
                .dx-icon {
                  right: 10px!important;
                }
                .dx-button-content {
                    padding-right: 28px;
                }
            }
            &.dx-state-hover,
            &.dx-state-focused,
            &.dx-state-active {
              background-color: #FFF;
            }
            .dx-button-content {
                height: 37px;
                min-width: 50px;
                padding: 6px 15px;
                img.dx-icon {
                    width: auto!important;
                    height: auto!important;
                }
                .dx-button-text {
                    color: #677380;
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 1.85;
                    letter-spacing: 0.3px;
                }
            }
        }
    }

    /deep/ .cashflow .dx-pivotgrid .dx-pivotgrid-container table.dx-pivotgrid-border {
        .dx-pivotgrid-horizontal-headers {
            .dx-pivotgrid-expanded.dateField {
                padding: 5px 10px!important;
                .head-cell-expand {
                  position: relative;
                  &:after {
                    content: '';
                    position: absolute;
                    visibility: visible;
                    left: -10px;
                    top: -5px;
                    width: 0;
                    height: 0;
                    border: 0 solid transparent;
                    border-bottom-width: 10px;
                    border-top-width: 0px;
                    border-left: 10px solid #686f76;
                  }

                  &.closed {
                    visibility: hidden;
                    position: absolute;
                  }
                }
            }
        }
        /** general */
        .dx-grandtotal {
            background: @grandTotalBackgroundColor;
            color: @grandTotalTextColor;
        }
        .dx-pivotgrid-area td {
            &.month, &.quarter, &.year {
                min-width: 80px;
            }
            &.chosenFilterForCashFlow {
                border: 1px solid #f9b83a !important;
                background-color: #fbf3e4 !important;
                color: #333 !important;
                span {
                    color: #333 !important;
                }
            }
        }

        .dx-total,
        .dx-data-header,
        .dx-column-header {
            background: @totalDataCellBackgroundColor;
        }

        .dx-texteditor {
            border: none;
        }

        /** upper left column */
        .dx-area-description-cell {
            vertical-align: top;
            background-color: #fff;
            min-width: @left-column-width;
        }

        /** upper right column (historical row and dates rows) */
        .dx-area-column-cell {
            tr {

                /** @todo move general classes like dateField and historicalField  from td to tr */
                td {
                    font-size: 10px;
                    &.cashflow {
                        color: #00aeef;
                    }
                    .totals {
                        font-size: 10px;
                    }
                    &.dx-pivotgrid-expanded,
                    &.dx-pivotgrid-collapsed {
                        text-align: center;
                    }
                    .dx-expand-icon-container {
                        display: none;
                    }
                    &.year {
                        color: @yearTextColor;
                        font-weight: 600;
                        font-size: 20px;
                    }
                    &.lowestOpenedCurrent:not(.mtdCell) {
                        background-color: @currentPeriodCellBackgroundColor;
                    }
                    &.month,
                    &.quarter,
                    &.day,
                    &.dx-row-total {
                        color: @generalColor;
                        font-weight: 600;
                        font-size: 18px;
                        &.current {
                            color: #fff;
                            background: @currentTextColor;
                        }
                    }
                    &.dataFieldHidden {
                        padding: 0;
                        height: 0;
                        max-height: 0;
                    }
                    &.historicalField {
                        cursor: default;
                        font-size: 10px;
                        letter-spacing: 0.6px;
                        &.historical {
                            color: @historicalTextColor;
                        }
                        &.current {
                            background: @currentTextColor;
                            color: #fff;
                        }
                        &.forecast {
                            color: @forecastTextColor
                        }
                    }
                    &.projectedField.projectedHidden {
                        border: none;
                        padding: 0;
                    }
                }
            }
        }

        /** bottom left column (labels cells) */
        .dx-area-row-cell {
            tr {
                position: relative;
                td {
                    text-align: left;
                    color: inherit;
                    width: 23px;
                    min-width: 23px;
                    &.dx-white-space-column {
                        background: #fff;
                        border-right: none;
                        border-top: 1px solid @tableBorderColor;
                        position: relative;
                        cursor: pointer;
                        &:before {
                            content: url('../../../assets/common/icons/collapse-icon.svg');
                            position: absolute;
                            top: 6px;
                            left: 16px;
                            width: 16px;
                            z-index: 1
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 21px;
                            left: 23px;
                            display: block;
                            border-right: 2px solid @expendedLineColor;
                            height: calc(~"100%" - 12px);
                            z-index: 1;
                        }
                        &.hiddenWhiteSpace {
                            border-right: none;
                            min-width: 0;
                            padding-left: 0;
                            &:after {
                                display: none;
                            }
                            &:before {
                                content: '';
                            }
                        }
                        &.startedBalanceWhiteSpace {
                            border-top: none
                        }
                    }
                    &.dx-total {
                        font-weight: 700;
                        &.income {
                            background: @incomeVerticalHeaderBackgroundColor;
                        }
                        &.expenses {
                            background: @expensesVerticalHeaderBackgroundColor;
                        }
                        &.income,
                        &.expenses {
                            cursor: default;
                            text-align: left;
                            padding-left: 20px;
                            border: none;
                            .dx-expand-icon-container {
                                display: none;
                            }
                        }
                    }
                    &.dx-last-cell {
                        width: 100%;
                        padding-left: 22px;
                    }

                    &.emptyChildren {
                        padding-left: 40px;
                        cursor: default;
                        .dx-expand-icon-container {
                            display: none;
                        }
                    }

                    .dx-expand-icon-container {
                        font: inherit;
                        margin-right: 10px;
                        &:before {
                            display: none;
                        }
                        .dx-expand:before {
                            top: auto;
                            left: auto;
                            position: relative;
                            width: auto;
                            margin: auto;
                        }
                    }
                    &.dx-pivotgrid-collapsed {
                        .dx-expand:before {
                            content: url('../../../assets/common/icons/expand-icon.svg');
                        }
                    }

                    &.dx-pivotgrid-expanded {
                        position: relative;
                        .dx-expand:before {
                            content: url('../../../assets/common/icons/collapse-icon.svg');
                        }
                        .dx-expand-icon-container {
                            position: relative;
                            &:after {
                                content: '';
                                display: block;
                                height: 7px;
                                border-right: 2px solid @expendedLineColor;
                                top: -7px;
                                position: absolute;
                                left: 6px;
                            }
                        }
                    }
                }

                &.startedBalance,
                &.incomeRow,
                &.expensesRow,
                &.endingCashPosition {
                    td {
                        letter-spacing: 0.8px;
                        font-weight: 600;
                    }
                }

                &.startedBalance {
                    td {
                        background: @startedBalanceBackgroundColor;
                    }
                }
                &.endingCashPosition {
                    td {
                        background: #00aff0;
                        color: #fff;
                        padding-left: 22px;
                    }
                }
                &.reconciliation {
                    td {
                        letter-spacing: 0.2px;
                        padding-left: 22px;
                        font-weight: 600;
                        background: @reconciliationVerticalHeaderBackgroundColor;
                    }
                }
            }
        }

        /** bottom right column (data cells) */
        .dx-area-data-cell {
            tr {
                td {
                    background: @dataCellBackgroundColor;
                    color: @middleGrayColor;
                    font-family: Lato!important;
                    font-size: 13.5px;
                    letter-spacing: 0.2px;
                    &.zeroValue {
                        &,
                        & span {
                            color: @dataCellColorForZeroValues;
                            font-weight: 300;
                        }
                    }
                    span {
                        font-family: Lato!important;
                        color: @middleGrayColor;
                    }
                    &.dx-total {
                        background: @totalDataCellBackgroundColor;
                        &.income {
                            background: @incomeDataCellBackgroundColor;
                        }
                        &.expenses {
                            background: @expensesDataCellBackgroundColor;
                        }
                        &.lowestOpenedCurrent:not(.mtdCell) {
                            &.income {
                                background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor),
                                            linear-gradient(@incomeDataCellBackgroundColor, @incomeDataCellBackgroundColor);
                            }
                            &.expenses {
                                background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor),
                                            linear-gradient(@expensesDataCellBackgroundColor, @expensesDataCellBackgroundColor);
                            }
                        }
                    }
                    &.lowestOpenedCurrent:not(.mtdCell) {
                        background-color: @currentPeriodCellBackgroundColor;
                    }
                }

                &.startedBalance,
                &.incomeRow,
                &.expensesRow,
                &.endingCashPosition,
                &.reconciliation {
                    td {
                        &,
                        & span {
                            color: @totalsTextColor;
                            font-weight: 600;
                            font-size: 14px;
                        }

                        &.zeroValue {
                            &,
                            & span {
                                color: @dataCellColorForZeroValues;
                                font-weight: 300;
                            }
                        }
                    }
                }

                &.startedBalance {
                    td {
                        &.dx-total {
                            background: @startedBalanceDataCellColor;
                        }
                        &.lowestOpenedCurrent:not(.mtdCell) {
                            background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor),
                                        linear-gradient(@startedBalanceDataCellColor, @startedBalanceDataCellColor);
                        }
                    }
                    &:first-child {
                        td {
                            background: @startedBalanceDataCellColor;
                            &.lowestOpenedCurrent:not(.mtdCell) {
                                background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor),
                                            linear-gradient(@startedBalanceDataCellColor, @startedBalanceDataCellColor);
                            }
                        }
                    }

                }
                &.endingCashPosition {
                    td {
                        background: @grandTotalBackgroundColor;
                        &.lowestOpenedCurrent:not(.mtdCell) {
                            background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor),
                                        linear-gradient(@grandTotalBackgroundColor, @grandTotalBackgroundColor);
                        }
                        span {
                            color: @grandTotalTextColor;
                        }
                    }
                }
                &.reconciliation {
                    td {
                        background: @reconciliationDataCellBackgroundColor;
                        color: @reconciliationDataCellTextColor;
                        &,
                        & span {
                            font-size: 13.5px;
                        }
                        &.lowestOpenedCurrent:not(.mtdCell) {
                            background: linear-gradient(@currentPeriodCellBackgroundColor, @currentPeriodCellBackgroundColor),
                                        linear-gradient(@reconciliationDataCellBackgroundColor, @reconciliationDataCellBackgroundColor);
                        }
                    }
                }
            }
        }

    }

    /deep/ .dx-dropdowneditor[accesskey="cashflowGroupby"] {

        &.dx-dropdowneditor-field-clickable {
            max-width: none;
            input {
                border-bottom: none;
            }
            .dx-placeholder {
                display: none !important;
            }
        }

        .dx-texteditor-container {
            width: auto;
            display: flex;
            align-items: baseline;
            justify-content: left;
            input.dx-texteditor-input {
                padding: 8px 8px;
                padding-right: 0;
                font-size: 15px;
                display: block;
                float: left;
                max-width: inherit;
                min-width: 0;
                width: auto;
                color: @generalColor;
                &:after {

                }
            }
            .dx-texteditor-buttons-container {
                position: static;
                .dx-dropdowneditor-button {
                    width: 10px;
                    padding: 0;
                    position: static;
                    .dx-dropdowneditor-icon {
                        font: 14px/1 DXIcons !important;
                        &:before {
                            content: url('../../../assets/common/icons/down-icon.svg');
                            top: 9px;
                            right: 0;
                            left: auto;
                            margin: auto;
                            color: @generalColor;
                        }
                    }
                }
            }
        }

        .dx-dropdowneditor-button-visible .dx-texteditor-input {
            padding-right: 10px;
            width: auto;
        }

        &.dx-state-hover .dx-dropdowneditor-icon,
        &.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon,
        &.dx-dropdowneditor-active .dx-dropdowneditor-icon {
            background: none !important;
        }

    }

    .cashflow {
        background-color: #FFF;
        position: relative;
        height: 100%;
    }

    .groupBy {
        padding-left: 22px;
        display: flex;
        color: @generalColor;
        align-items: center;
        span {
            margin-right: 10px;
        }
    }

    .cashflow-wrap {
        height: 400px;
        position: fixed;
        width: 100%;
        bottom: 0;
        right: 0;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        padding: 0 15px;
        background: #fff;
        .close-btn {
            border: 0;
            padding: 0;
            position: absolute;
            right: 5px;
            top: 15px;
            z-index: 100;
            &:hover {
                background: transparent !important;
            }
        }
    }

    /deep/ #cashflowGridContainer {
        height: 400px;
        .dx-datagrid-headers {
            .dx-datagrid-content {
                .dx-header-row {
                    td {
                        padding: 20px;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 24px;
                        color: @generalColor;
                        &[aria-sort='none'] {
                            color: @middleGrayColor;
                        }
                    }
                }
            }
        }
        .dx-datagrid-rowsview {
            border-top: 0;
        }
        .dx-datagrid-table {
            .dx-data-row {
                td {
                    color: #424c56;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    padding: 11px 20px;
                }
            }
        }
        .dx-datagrid {
            .dx-column-indicators {
                .dx-sort {
                    color: rgba(103, 115, 128, .5);
                    font-weight: bold;
                    font-size: 16px;
                    position: relative;
                    top: 1px;
                }
                .dx-header-filter {
                    color: rgba(103, 115, 128, .5);
                }
            }

            .dx-row-alt > td {
                background: #f3f7fa;
            }

            .dx-column-lines > td {
                border-right: 0;
                border-left: 0;
            }
        }
    }
}

/deep/ .dx-overlay-content {
    min-width: 100px;
}

.title {
    background-color: #f3f7fa;
    padding: 16px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @generalColor;
    font-size: 24px;
    border-bottom: 1px solid #e5e9ec;

    h1 {
        font-size: 24px;
        line-height: 19px;
        text-align: left;
        color: @generalColor;
        margin: 0;
        font-weight: 400;
    }

    .synch-progress{
        float: right;
        margin-top: -7px;
        margin-left: 10px;
    }

    .add-new {
        width: 192px;
        height: 42px;
        border-radius: 21px;
        background-color: #00aeef;
        border: none;
        color: #fff;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        float: right;
        position: relative;
        //padding-right: 42px;
        //&::after {
        //    content: '';
        //    background: no-repeat 47% 50% url("/assets/icons/arrow_2.svg") ;
        //    width: 42px;
        //    height: 100%;
        //    background-color: #00a0dc;
        //    border-top-right-radius: 21px;
        //    border-bottom-right-radius: 21px;
        //    display: block;
        //    right: 0;
        //    position: absolute;
        //    top: 0;
        //}
    }
}
.pivot-grid-wrapper {
    margin-bottom: 300px;
    border-top: 1px solid #ddd;
}

.invisible {
    opacity: 0;
}
.pivot-grid {
    margin-top: -1px;
}
