<app-headline [config]="headlineConfig" *ngIf="!isFullscreenMode">
    <synch-progress class="synch-progress" (onComplete)="refreshDataGrid()"></synch-progress>
</app-headline>

<cashflow-operations
    [forecastModelsObj]="forecastModelsObj"
    (repaintCashflow)="repaintDataGrid($event)"
    (onGroupBy)="changeGroupBy($event)"
    (handleFullscreen)="toggleFullscreen(getFullscreenElement())"
    (onToggleRows)="togglePivotGridRows($event)"
    (download)="downloadData($event)"
    (showPreferencesDialog)="showPreferencesDialog()"
></cashflow-operations>

<div class="cashflow" *ngIf="cashflowData && cashflowData.length">
    <div class="sort-options">
        <app-sorting [sortings]="sortings" (sortingChange)="resortPivotGrid($event)"></app-sorting>
    </div>
    <dx-scroll-view>
        <div class="pivot-grid-wrapper">
            <dx-pivot-grid *ngIf="cashflowData && cashflowData.length" id="operations"
                           class="pivot-grid invisible"
                           [allowSortingBySummary]="false"
                           [allowSorting]="false"
                           [allowFiltering]="false"
                           [allowExpandAll]="false"
                           [(dataSource)]="dataSource"
                           [rowHeaderLayout]="'tree'"
                           [showColumnGrandTotals]="false"
                           [hideEmptySummaryCells]="false"
                           [showRowGrandTotals]="false"
                           [showRowTotals]="false"
                           [showBorders]="true"
                           [texts] = "{'grandTotal': 'ENDING CASH POSITION', 'total': '{0}'}"
                           [fieldChooser]="false"
                           [export]="{'enabled': false}"
                           [loadPanel]="{enabled: false}"
                           (onCellPrepared)="onCellPrepared($event)"
                           (onContentReady)="onContentReady($event)"
                           (onCellClick)="onCellClick($event)"
                           [wordWrapEnabled]="false">
                <dxo-scrolling mode="standard"></dxo-scrolling>
            </dx-pivot-grid>
        </div>
    </dx-scroll-view>
    <div *ngIf="statsDetailResult !== undefined" class="cashflow-wrap">
        <dx-button icon="close" (onClick)="closeTransactionsDetail()" class="close-btn"></dx-button>
        <dx-data-grid id="cashflowGridContainer"
                      [rowAlternationEnabled]="true"
                      [dataSource]="statsDetailResult"
                      (onDataErrorOccurred)="httpConfig.handleError($event.error)">
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxi-column dataField="date" width="130" cellTemplate="dateCell" [alignment]="left"></dxi-column>
            <dxi-column dataField="description">
                <dxo-header-filter [visible]="true"></dxo-header-filter>
            </dxi-column>
            <dxi-column dataField="debit"
                        width="140"
                        [format]="customCurrency"
                        [allowSorting]="false"
                        [allowFiltering]="false"
                        [alignment]="'right'">
            </dxi-column>
            <dxi-column dataField="credit"
                        width="140"
                        [format]="customCurrency"
                        [allowSorting]="false"
                        [allowFiltering]="false"
                        [alignment]="'right'">
            </dxi-column>
            <dxi-column caption="Comments"
                        dataField="comment"
                        [allowSorting]="false"
                        [allowFiltering]="false">
            </dxi-column>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <div *dxTemplate="let cellData of 'dateCell'">
                {{cellData.value | date: 'MM/dd/yyyy'}}
            </div>
        </dx-data-grid>
    </div>

    <div id="cashflowFooterToolbar">
        <app-toolbar [(config)]="footerToolbarConfig"></app-toolbar>
    </div>

</div>

<app-no-data
    *ngIf="startDataLoading && (!cashflowData || !cashflowData.length)"
    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid"
    linkUrl="/app/cfo/business/start"
    [linkText]="l('Go_to_sfo_setup')">
</app-no-data>
