<div class="title">
    <h1>Cash Flow Statement and Forecast
        <synch-progress class="synch-progress" (onComplete)="refreshDataGrid()"></synch-progress>
    </h1>
    <button class="add-new">+ Add new</button>
</div>
<cashflow-operations (refreshCashflow)="refreshDataGrid($event)"></cashflow-operations>

<div class="cashflow">
    <div class="groupBy">
        <span>Group by</span>
        <dx-select-box
                [items]="groupbyItems"
                [value]="groupbyItems[0]"
                displayExpr="optionText"
                accessKey="cashflowGroupby"
                #selectBox
                (onValueChanged)="changeGroupBy($event)"
        >
        </dx-select-box>
    </div>

    <dx-pivot-grid id="operations"
                   [allowSortingBySummary]="false"
                   [allowSorting]="false"
                   [allowFiltering]="false"
                   [allowExpandAll]="false"
                   [(dataSource)]="dataSource"
                   [rowHeaderLayout]="'tree'"
                   [showColumnGrandTotals]="false"
                   [hideEmptySummaryCells]="false"
                   [showRowGrandTotals]="false"
                   [showRowTotals]="false"
                   [showBorders]="true"
                   [texts] = "{'grandTotal': 'ENDING CASH POSITION', 'total': '{0}'}"
                   [fieldChooser]="false"
                   [export]="{'enabled': false}"
                   (onCellPrepared)="onCellPrepared($event)"
                   (onContentReady)="onContentReady($event)"
                   (onCellClick)="onCellClick($event)">
        <dxo-scrolling mode="standard"></dxo-scrolling>
    </dx-pivot-grid>

    <div *ngIf="statsDetailResult !== undefined" class="cashflow-wrap">
        <dx-button icon="close" (onClick)="closeCashflow()" class="close-btn"></dx-button>
        <dx-data-grid id="cashflowGridContainer"
                      [rowAlternationEnabled]="true"
                      [dataSource]="statsDetailResult">
            <dxi-column dataField="date" width="130" dataType="date" format="shortDate"></dxi-column>
            <dxi-column dataField="description"></dxi-column>
            <dxi-column dataField="debit" width="140" [format]="customCurrency"></dxi-column>
            <dxi-column dataField="credit" width="140" [format]="customCurrency"></dxi-column>
            <dxi-column dataField="comments" [allowSorting]="false"></dxi-column>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
        </dx-data-grid>
    </div>
</div>
