<app-headline [config]="headlineConfig" *ngIf="!isFullscreenMode">
    <synch-progress class="synch-progress" (onComplete)="refreshDataGrid()"></synch-progress>
</app-headline>

<cashflow-operations
    [forecastModelsObj]="forecastModelsObj"
    (refreshCashflow)="refreshDataGrid($event)"
    (modalSave)="refreshDataGrid($event)"
    (onGroupBy)="changeGroupBy($event)"
    (handleFullscreen)="toggleFullscreen(getFullscreenElement())"
    (onToggleRows)="togglePivotGridRows($event)"
    (download)="downloadData($event)"
    (showPreferencesDialog)="showPreferencesDialog()"
    (changeForecastModel)="changeSelectedForecastModel($event)"
></cashflow-operations>

<div class="cashflow">
    <div class="filter-sort-options">
        <dx-button
          [ngClass]="{'active-filter':_filtersService.hasFilterSelected}"
          [text]="ls('Platform', 'Filters')"
          [iconSrc]="'assets/common/icons/funnel-icon.svg'"
          (onClick)="toggleFilters($event)">
        </dx-button>
        <dx-button
          [text]="ls('Platform', 'Sort')"
          [iconSrc]="'assets/common/icons/sort-icon.svg'">
        </dx-button>
        <button class="clear-all" (click)="clearAllFilters()">
            {{ls('Platform', 'ClearAll')}}
        </button>
    </div>

    <dx-scroll-view>
        <div class="pivot-grid-wrapper">
            <dx-pivot-grid id="operations"
                           class="pivot-grid invisible"
                           [allowSortingBySummary]="false"
                           [allowSorting]="false"
                           [allowFiltering]="false"
                           [allowExpandAll]="false"
                           [(dataSource)]="dataSource"
                           [rowHeaderLayout]="'tree'"
                           [showColumnGrandTotals]="false"
                           [hideEmptySummaryCells]="false"
                           [showRowGrandTotals]="false"
                           [showRowTotals]="false"
                           [showBorders]="true"
                           [texts] = "{'grandTotal': 'ENDING CASH POSITION', 'total': '{0}'}"
                           [fieldChooser]="false"
                           [export]="{'enabled': false}"
                           [loadPanel]="{enabled: false}"
                           (onCellPrepared)="onCellPrepared($event)"
                           (onContentReady)="onContentReady($event)"
                           (onCellClick)="onCellClick($event)">
                <dxo-scrolling mode="standard"></dxo-scrolling>
            </dx-pivot-grid>
        </div>
    </dx-scroll-view>

    <div *ngIf="statsDetailResult !== undefined" class="cashflow-wrap">
        <dx-button icon="close" (onClick)="closeTransactionsDetail()" class="close-btn"></dx-button>
        <dx-data-grid id="cashflowGridContainer"
                      [rowAlternationEnabled]="true"
                      [dataSource]="statsDetailResult"
                      (onDataErrorOccurred)="httpConfig.handleError($event.error)">
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxi-column dataField="date" width="130" dataType="date" format="shortDate" [alignment]="left"></dxi-column>
            <dxi-column dataField="description">
                <dxo-header-filter [visible]="true"></dxo-header-filter>
            </dxi-column>
            <dxi-column dataField="debit"
                        width="140"
                        [format]="customCurrency"
                        [allowSorting]="false"
                        [allowFiltering]="false"
                        [alignment]="'right'">
            </dxi-column>
            <dxi-column dataField="credit"
                        width="140"
                        [format]="customCurrency"
                        [allowSorting]="false"
                        [allowFiltering]="false"
                        [alignment]="'right'">
            </dxi-column>
            <dxi-column caption="Comments"
                        dataField="comment"
                        [allowSorting]="false"
                        [allowFiltering]="false">
            </dxi-column>
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
        </dx-data-grid>
    </div>
</div>
