<modal-dialog [title]="data.title"
              [titleClearButton]="false"
              [buttons]="buttons"
              [editTitle]="false"
              (onContextItemChanged)="save()">
    <ng-container headerContent>
        <dx-select-box  #templateSelector
            name="template"
            width="380px"
            height="40px"
            displayExpr="name"
            valueExpr="id"
            [placeholder]="ls.l(data.addMode ? 'TemplateName' : 'SelectTemplate')"            
            [disabled]="templateEditMode && isManageUnallowed || onTemplateCreate.observers.length && !data.contact"
            [value]="data.templateId"
            [showClearButton]="!data.addMode && templateEditMode"
            [dataSource]="templates$ | async"
            [acceptCustomValue]="templateEditMode && !isManageUnallowed"
            [openOnFieldClick]="!data.addMode"
            [showDropDownButton]="!data.addMode"
            itemTemplate="itemTemplate"
            (onOptionChanged)="onTemplateOptionChanged($event)"
            (onCustomItemCreating)="onNewTemplate($event)"
            (onValueChanged)="onTemplateChanged($event)">
            <dx-validator (onInitialized)="extendDefaultValidator($event)">
                <dxi-validation-rule type="required" [message]="ls.l('RequiredField', ls.l('Template'))"></dxi-validation-rule>
            </dx-validator>
            <div *dxTemplate="let item of 'itemTemplate'" class="email-templates-select-box">
                {{ item.name }}
                <i *ngIf="!isManageUnallowed" class="delete fa fa-times" [title]="ls.l('DeleteTemplate')" (click)="deleteTemplate($event, item, templateSelector)"></i>
            </div>
        </dx-select-box>
        <div class="buttons" *ngIf="!data.addMode && !isManageUnallowed && data.contact && onTemplateCreate.observers.length">
            <i class="create-template" [title]="ls.l('CreateTemplate')" (click)="createTemplate()"></i>
            <i *ngIf="data.templateId" [title]="ls.l('EditTemplate')" class="edit-template fa fa-pencil" (click)="editTemplate(data)"></i>
        </div>
    </ng-container>
    <div class="form-content">
        <dx-scroll-view showScrollbar="onHover" #scrollView>
            <dx-validation-group>
                <div class="row">
                    <div class="field-area from">
                        <label class="caption" [ngClass]="{disabled: templateEditMode}">{{ls.l('From')}}:</label>            
                        <dx-select-box *ngIf="data?.from?.length || templateEditMode; else configure"
                            name="from"
                            width="calc(50% - 52px)"
                            height="40px"
                            placeholder=""
                            [value]="emailSettingsSource"
                            valueExpr="emailSettingsSource"
                            displayExpr="emailAddress"
                            [dataSource]="data.from"
                            itemTemplate="itemTemplate"
                            fieldTemplate="fieldTemplate"
                            [disabled]="templateEditMode"
                            (onValueChanged)="onFromChanged($event)">
                            <div *dxTemplate="let item of 'itemTemplate'" class="from-item-select-box" [title]="item?.emailAddress">
                                {{ item?.emailAddress }}
                            </div>
                            <div *dxTemplate="let item of 'fieldTemplate'" class="from-field-select-box">
                                <dx-text-box
                                    width="320px"
                                    height="40px"
                                    [readOnly]="true"
                                    [value]="item?.emailAddress"
                                    [hint]="item?.emailAddress">
                                </dx-text-box>
                            </div>
                            <dx-validator>
                                <dxi-validation-rule
                                    type="required" 
                                    [message]="ls.l('MailerSettingsAreNotConfigured', ls.l('SMTP'))">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-select-box>
                        <ng-template #configure>
                            <a class="config-link" (click)="close()" 
                                [routerLink]="'app/admin/' + (appService.isHostTenant ? 'host': 'tenant') + 'Settings'" 
                                [queryParams]="{tab: 'smtp'}" 
                                [ngClass]="{disabled: !isSettingsAllowed}">{{ls.l('MailerSettingsAreNotConfigured', ls.l('SMTP'))}}&nbsp;</a>
                        </ng-template>
                        <label class="caption disabled">{{ls.l('ReplyTo')}}:</label>
                        <dx-tag-box #ReplyToElement
                            name="replyTo"
                            width="calc(50% - 62px)"
                            noDataText=""
                            placeholder=""
                            [multiline]="false"
                            [acceptCustomValue]="true"
                            [(value)]="data.replyTo"
                            [disabled]="true"
                            (onKeyUp)="onKeyUp($event)"
                            (onInitialized)="onTagBoxInitialized($event)"
                            (onFocusOut)="emailInputFocusOut($event)"
                            (onCustomItemCreating)="onCustomItemCreating($event)">
                            <dx-validator>
                                <dxi-validation-rule type="custom" 
                                    [message]="ls.l('InvalidField', ls.l('ReplyTo'))" 
                                    [validationCallback]="validateEmailList(ReplyToElement)">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-tag-box>
                    </div>
                    <div class="field-area to">
                        <label class="caption" [ngClass]="{disabled: templateEditMode}">{{ls.l('To')}}:</label>
                        <dx-tag-box #ToElement
                            name="to"
                            width="calc(100% - 31px)"
                            noDataText=""
                            placeholder=""
                            [dataSource]="data.suggestionEmails"
                            [multiline]="false"
                            [acceptCustomValue]="true"
                            [(value)]="data.to"
                            [disabled]="templateEditMode"
                            (onKeyUp)="onKeyUp($event)"
                            (onInitialized)="onTagBoxInitialized($event)"
                            (onFocusOut)="emailInputFocusOut($event)"
                            (onCustomItemCreating)="onCustomItemCreating($event)">
                            <dx-validator>
                                <dxi-validation-rule type="custom" 
                                    [message]="ls.l('InvalidField', ls.l('To'))" 
                                    [validationCallback]="validateEmailList(ToElement)">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-tag-box>
                        <div class="bcc-links">
                            <span (click)="showInputField(CCElement, 'showCC')" [ngClass]="{disabled: showCC}">{{ls.l('CC')}}</span>
                            <span (click)="showInputField(BCCElement, 'showBCC')" [ngClass]="{disabled: showBCC}">{{ls.l('BCC')}}</span>
                        </div>
                    </div>
                    <div class="field-area" [hidden]="!showCC">
                        <label class="caption">{{ls.l('CC')}}:</label>
                        <dx-tag-box #CCElement
                            name="cc"
                            width="calc(100% - 35px)"
                            placeholder=""
                            noDataText=""
                            [multiline]="false"
                            [acceptCustomValue]="true"
                            [(value)]="data.cc"
                            (onKeyUp)="onKeyUp($event)"
                            (onInitialized)="onTagBoxInitialized($event)"
                            (onFocusOut)="emailInputFocusOut($event, true)"
                            (onCustomItemCreating)="onCustomItemCreating($event)">
                            <dx-validator>
                                <dxi-validation-rule type="custom" 
                                    [message]="ls.l('InvalidField', ls.l('CC'))" 
                                    [validationCallback]="validateEmailList(CCElement)">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-tag-box>
                    </div>
                    <div class="field-area" [hidden]="!showBCC">
                        <label class="caption">{{ls.l('BCC')}}:</label>
                        <dx-tag-box #BCCElement
                            name="bcc"
                            width="calc(100% - 46px)"
                            noDataText=""
                            placeholder=""
                            [multiline]="false"
                            [acceptCustomValue]="true"
                            [(value)]="data.bcc"
                            (onKeyUp)="onKeyUp($event)"
                            (onInitialized)="onTagBoxInitialized($event)"
                            (onFocusOut)="emailInputFocusOut($event, true)"
                            (onCustomItemCreating)="onCustomItemCreating($event)">
                            <dx-validator>
                                <dxi-validation-rule type="custom" 
                                    [message]="ls.l('InvalidField', ls.l('BCC'))" 
                                    [validationCallback]="validateEmailList(BCCElement)">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-tag-box>
                    </div>
                    <div class="field-area subject">
                        <label class="caption">{{ls.l('Subject')}}:</label>
                        <dx-text-box
                            name="subject"
                            width="calc(100% - 69px)"
                            height="40px"
                            placeholder=""
                            [(value)]="data.subject">
                        </dx-text-box>
                    </div>
                    <div class="field-area ckeditor">
                        <dx-tooltip [width]="250"
                             position="bottom"
                             [(visible)]="tagsTooltipVisible"
                             [target]="'.tags-button.id' + uniqId">
                            <div *dxTemplate="let data of 'content'" class="tags-container">
                                <p class="tags-note">{{ls.l('EmailTemplate_SupportedTags')}}</p>
                                <dx-list
                                    height="calc(100% - 40px)"
                                    [selectionMode]="'single'"
                                    [dataSource]="tagsList"
                                    [itemTemplate]="'startCase'"
                                    (onItemClick)="onTagClick($event)">
                                    <div *dxTemplate="let data of 'startCase'" class="tags-list-item" [ngClass]="{disabled: !templateEditMode && !getTagValue(data)}">
                                        {{ startCase(data) }}
                                    </div>                
                                </dx-list>
                            </div>
                        </dx-tooltip>
                        <span #tagsButton [class]="'cke_toolgroup tags-button id' + uniqId" *ngIf="tagsList.length">
                            <a (click)="tagsTooltipVisible = true">Tags</a>
                        </span>
                        <ckeditor *ngIf="ckConfig.height && templateLoaded" [config]="ckConfig" [(data)]="data.body" (ready)="onCKReady($event)" (change)="updateDataLength()"></ckeditor>
                        <p class="char-count">{{charCount}}</p>
                        <ngx-file-drop accept="*.*" (onFileDrop)="addAttachments($event)" *ngIf="!templateEditMode">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <a href="javascript:void(0);" class="attach-link" (click)="openDocuments()"><img src="assets/common/icons/attach.svg">{{ls.l('Add attachment')}}</a>
                                <dx-check-box *ngIf="attachments && attachments.length" class="saveToDocs" [(value)]="data.saveAttachmentsToDocuments" [rtlEnabled]="true" [text]="ls.l('Save to Documents')"></dx-check-box>
                            </ng-template>
                        </ngx-file-drop>
                    </div>
                    <div class="field-area attachments" *ngIf="!templateEditMode">
                        <div *ngFor="let attachment of attachments; let i = index" class="attachment" [ngStyle]="{'background-size': (attachment.progress || 0) + '%'}">
                            <a target="_blank" [download]="attachment.name" [href]="attachment.url" (click)="attachmentClick($event, attachment)" class="name">{{attachment.name}}</a>&nbsp;<span class="size">({{attachment.size | filesize}})</span><i (click)="removeAttachment(attachment, i)" aria-hidden="true" class="delete fa fa-times"></i>
                        </div>
                    </div>
                    <ng-content *ngIf="data.templateType" select="[templateSettings]"></ng-content>
                </div>
            </dx-validation-group>
        </dx-scroll-view>
        <div class="bank-decode-wrapper" *ngIf="!templateEditMode">
            <bank-code-decode [content]="data.body" [source]="'CRMEmail'" (onDecodeStart)="startLoading()" (onDecodeFinish)="finishLoading()"></bank-code-decode>
        </div>
    </div>
</modal-dialog>