<modal-dialog [title]="data.title"
              [titleClearButton]="false"
              [buttons]="buttons"
              [editTitle]="false">
    <ng-container headerContent>
        <label class="template">{{ls.l('Template')}}</label> 
        <dx-select-box
            name="template"
            width="250px"
            height="40px"
            displayExpr="name"
            valueExpr="id"
            placeholder=""
            [(value)]="data.templateId"
            [showClearButton]="templateEditMode"
            [dataSource]="templates$ | async"
            [acceptCustomValue]="templateEditMode"
            (onFocusOut)="onTemplateFocusOut($event)"
            (onOptionChanged)="onTemplateOptionChanged($event)"
            (onCustomItemCreating)="onNewTemplate($event)"
            (onValueChanged)="onTemplateChanged($event)">
            <dx-validator>
                <dxi-validation-rule type="required" [message]="ls.l('RequiredField', '', ls.l('Template'))"></dxi-validation-rule>
            </dx-validator>
        </dx-select-box>
    </ng-container>

    <div class="form-content">
        <dx-scroll-view showScrollbar="onHover">
            <div class="row">
                <div class="field-area from" [hidden]="templateEditMode">
                    <label class="caption from">{{ls.l('From')}}:</label> 
                    <dx-tag-box
                        name="from"
                        width="calc(50% - 52px)"
                        height="40px"
                        noDataText=""
                        placeholder=""
                        [multiline]="false"
                        [acceptCustomValue]="true"
                        [(value)]="data.from"
                        [disabled]="true"
                        (onOpened)="emailInputFocusIn($event)"
                        (onFocusOut)="emailInputFocusOut($event)"
                        (onCustomItemCreating)="onCustomItemCreating($event)">
                    </dx-tag-box>
                    <label class="caption">{{ls.l('replyTo')}}:</label> 
                    <dx-tag-box
                        name="replyTo"
                        width="calc(50% - 62px)"
                        height="40px"
                        noDataText=""
                        placeholder=""
                        [multiline]="false"
                        [acceptCustomValue]="true"
                        [(value)]="data.replyTo"
                        (onOpened)="emailInputFocusIn($event)"
                        (onFocusOut)="emailInputFocusOut($event)"
                        (onCustomItemCreating)="onCustomItemCreating($event)">
                    </dx-tag-box>
                </div>
                <div class="field-area" *ngIf="!templateEditMode">
                    <label class="caption">{{ls.l('To')}}:</label> 
                    <dx-tag-box
                        name="to"
                        width="calc(100% - 31px)"
                        height="40px"
                        noDataText=""
                        placeholder=""
                        [dataSource]="data.suggestionEmails"
                        [multiline]="false"
                        [acceptCustomValue]="true"
                        [(value)]="data.to"
                        (onOpened)="emailInputFocusIn($event)"
                        (onFocusOut)="emailInputFocusOut($event)"
                        (onCustomItemCreating)="onCustomItemCreating($event)">
                    </dx-tag-box>
                    <div class="bcc-links">
                        <span (click)="showInputField(CCElement)" [hidden]="showCC">{{ls.l('CC')}}</span>
                        <span (click)="showInputField(BCCElement)" [hidden]="showBCC">{{ls.l('BCC')}}</span>
                    </div>
                </div>
                <div class="field-area" *ngIf="showCC">
                    <label class="caption">{{ls.l('CC')}}:</label> 
                    <dx-tag-box #CCElement
                        name="cc"
                        height="40px"
                        width="calc(100% - 35px)"
                        placeholder=""
                        noDataText=""
                        [multiline]="false"
                        [acceptCustomValue]="true"
                        [(value)]="data.cc"
                        (onOpened)="emailInputFocusIn($event)"
                        (onFocusOut)="emailInputFocusOut($event, true)"
                        (onCustomItemCreating)="onCustomItemCreating($event)">
                    </dx-tag-box>
                </div>
                <div class="field-area" *ngIf="showBCC">
                    <label class="caption">{{ls.l('BCC')}}:</label> 
                    <dx-tag-box #BCCElement
                        name="bcc"
                        height="40px"
                        width="calc(100% - 46px)"
                        noDataText=""
                        placeholder=""
                        [multiline]="false"
                        [acceptCustomValue]="true"
                        [(value)]="data.bcc"
                        (onOpened)="emailInputFocusIn($event)"
                        (onFocusOut)="emailInputFocusOut($event, true)"
                        (onCustomItemCreating)="onCustomItemCreating($event)">
                    </dx-tag-box>
                </div>
                <div class="field-area">
                    <label class="caption">{{ls.l('Subject')}}:</label> 
                    <dx-text-box
                        name="subject"
                        width="calc(100% - 69px)"
                        height="40px"
                        placeholder=""
                        [(value)]="data.subject">
                    </dx-text-box>
                </div>
                <div class="field-area">
                    <ckeditor #ckeditor [(data)]="data.body" [config]="ckConfig"></ckeditor>
                </div>
                <div class="field-area attachments">                    
                </div>              
                <ng-content *ngIf="data.templateType" select="[templateSettings]"></ng-content>
            </div>
        </dx-scroll-view>
    </div>
</modal-dialog>