.email-template-dialog {
    width: 96vw;
}
.right-div {
    padding-right: 10px;
}
:host {
    ::ng-deep .cke_chrome {
        border: none !important;
    }

    ::ng-deep .cke_toolbar_break {
        display: flex !important;
        clear: none !important;
    }

    ::ng-deep .cke_bottom {
        border: 1px solid #e5eaf0;
        // margin: 15px;
        background: #ffffff;
        border-radius: 15px;
    }

    ::ng-deep .mat-dialog-actions {
        width: 30%;

        .mat-dialog-buttons {
            height: 44px !important;
            display: flex;
            width: 100%;
            margin-left: 3.7%;
            display: flex;
            justify-content: flex-end;

            .button-ai-generate-btn {
                margin-left: 0;
            }

            .button-primary {
                margin-right: 0;
            }

            .mat-dialog-buttons button {
                justify-content: left !important;
            }
        }

        #saveTemplateOptions {
            width: 200px;
            height: 44px;
            border-radius: 10px;
            background: #00ca6a;
            margin-right: 6.5%;
            justify-content: left !important;
        }

        #saveTemplateOptions span {
            font-family: Plus Jakarta Sans;
            font-size: 13px;
            font-weight: 600;
            line-height: 27px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-left: 2px;
        }

        #saveTemplateOptions::before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 17px;
            background: url("../../../../assets/common/icons/send.svg")
                no-repeat center;
        }

        #saveTemplateOptions span:after {
            content: "";
            width: 30px;
            height: 100%;
            background-color: #4daf51 !important;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            display: block;
            right: 0;
            position: absolute;
            top: 0;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658c-.566-.611-.106-1.658.753-1.658h9.592c.86 0 1.319 1.047.753 1.658L8.753 11.14a1 1 0 0 1-1.506 0z"/></svg>');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 12px;
        }
    }

    ::ng-deep ckeditor {
        border-bottom: none !important;

        .ck-editor__main {
            height: calc(100vh - 420px);
            overflow-y: auto;
        }

        .ck-editor__editable_inline {
            padding: 0 15px;
            white-space: break-spaces;
            min-height: calc(100vh - 420px);
        }
    }

    ::ng-deep .left-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 0px 13px 0px;

        .ai-genrate-btn {
            position: relative;
            height: 44px;
            width: 122px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 10px;
            background-color: #fff;
            cursor: pointer;
            text-align: center;
            transition: all 0.3s ease;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 600;
            z-index: 1;
            overflow: hidden;
            margin-top: 10px;
            margin-left: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
                padding: 2px;
                background: linear-gradient(
                    93.5deg,
                    #118eff -16.25%,
                    #8f7df3 40.92%,
                    #ea3a8a 106.71%
                );
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                z-index: -1;
            }

            span {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 13px;
                color: #e83c8e;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 15.27px;
                    height: 18.37px;
                    background: url("../../../../assets/common/icons/AI.png")
                        no-repeat center;
                    background-size: contain;
                }
            }

            &:hover {
                background-color: #e83c8e;
                color: #fff;

                span {
                    color: #fff;
                }
            }
        }

        @media (max-width: 768px) {
            .ai-genrate-btn {
                height: 40px;
                width: 100px;
                font-size: 12px;
            }
        }
    }

    .form-content {
        display: flex;
        flex-direction: row;
        height: calc(~"100vh - 82px");

        .row {
            margin-left: 0 !important;

            label.caption {
                width: 90px !important;
            }
        }

        .row--subdiv {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .row-body-space {
            margin-left: 25px !important;
            margin-right: 25px !important;
            margin-top: 30px !important;
        }

        .bank-decode-wrapper {
            min-width: 820px;
            max-width: calc(40vw - 100px);
        }

        a.config-link {
            margin-right: 10px;

            &.disabled {
                color: #8a969b;
                pointer-events: none;
                cursor: default;
            }
        }

        ::ng-deep .field-area {
            width: 100%;
            display: block;
            position: relative;
            white-space: nowrap;

            &.to {
                padding: 5px 83px 5px 0;
            }

            &.to,
            &.from,
            &.subject,
            &.preview-text {
                border-bottom: 1px solid #dee6ef;
            }

            &.from {
                dx-select-box,
                dx-text-box {
                    input {
                        border-bottom: 0px;
                        padding-bottom: 5px;
                    }
                }
            }

            &.subject,
            &.preview-text {
                label {
                    line-height: 42px;
                }

                dx-text-box input {
                    border: none;
                }
            }

            &.attachments {
                border-bottom: none;

                .attachment {
                    background: linear-gradient(to right, #00ef0c47, #00ef0c47);
                    background-repeat: no-repeat;
                    display: inline-block;
                    padding: 5px;
                    border-radius: 15px;
                    margin: 5px;
                    border: 1px dashed #646464;
                    float: left;

                    i.delete {
                        color: #58a3dcb8;
                        cursor: pointer;
                        padding-left: 5px;
                    }

                    &.progress {
                        &:before {
                            top: 4px;
                            content: "";
                            width: 21px;
                            height: 15px;
                            margin: 0 5px;
                            position: relative;
                            display: inline-block;
                            background: url(../../../../assets/common/icons/spinner-48px.gif)
                                no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }

            .attach-link {
                color: #00aeef;

                img {
                    height: 12px;
                    padding-right: 8px;
                    vertical-align: inherit;
                }
            }

            .saveToDocs {
                position: relative;
                margin-left: 20px;

                &::after {
                    content: "";
                    border-left: 1px solid #dfdfdf;
                    height: 27px;
                    position: absolute;
                    left: -10px;
                    top: -5px;
                }
            }

            &.ckeditor {
                & > p {
                    font-size: 12px;
                    color: #8a969b;
                    margin: 7px 0;
                    white-space: initial;
                }

                ::ng-deep dx-text-area {
                    .dx-texteditor-input-container {
                        padding-bottom: 60px;
                    }
                }

                ::ng-deep ngx-file-drop {
                    position: absolute;
                    bottom: 0px;
                    left: 15px;

                    .ngx-file-drop__drop-zone {
                        height: 30px;
                        width: auto;
                        border: none;

                        .ngx-file-drop__content {
                            height: 0px !important;
                            justify-content: flex-end;
                        }
                    }
                }
            }

            label {
                color: #7c8c95;
                font-family: Manrope;
                font-size: 15px;
                font-weight: 500;
                line-height: 22px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

                &.disabled {
                    opacity: 0.5;
                }
            }

            .bcc-links {
                position: absolute;
                right: 5px;
                z-index: 1;
                top: 8px;

                span {
                    margin: 0 5px;
                    cursor: pointer;
                    color: #00aeef;
                    font-family: var(--app-font-family);
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.79;
                    letter-spacing: 0.28px;

                    &.disabled {
                        opacity: 0.5;
                        cursor: default;
                        pointer-events: none;
                    }
                }
            }

            dx-tag-box {
                cursor: text;
                min-height: 40px;

                &.dx-state-disabled {
                    opacity: 0.5;
                }

                input {
                    border-bottom: none;
                    height: 30px;
                }

                .dx-texteditor-input-container {
                    flex-wrap: wrap;
                }

                &[name="to"] .dx-texteditor-container:after {
                    margin-right: 75px;
                }
            }

            dx-text-box,
            dx-tag-box,
            dx-select-box {
                display: inline-block;

                &.dx-invalid {
                    input {
                        color: #d9534f !important;
                    }
                }

                &.dx-state-focused {
                    .dx-placeholder {
                        top: -30px;
                    }
                }

                input {
                    color: #424c56;
                }

                .dx-placeholder,
                input {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.79;
                    letter-spacing: 0.3px;
                    padding: 0;
                }
            }

            ::ng-deep .dx-tag-content {
                padding: 8px 25px 7px 9px !important;
                border-radius: 8px !important;
            }
        }

        .model-item {
            display: flex;
            align-items: center;
        }

        .pt-2 {
            padding-top: 2rem !important;
        }

        .search-field-wrapper {
            display: flex;
            height: 39px;
            border-bottom: 1px solid #97a3a9;
            font-family: Manrope;
            font-size: 14px;
            font-weight: 500;
            line-height: 27px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            padding: 25px;

            .search-icon-wrapper {
                margin-right: 8px;
            }

            .search-box {
                width: 100%;
                padding: 5px 10px;
                border: none !important;
                border-radius: 4px;
                border: none !important;
                outline: none;
                font-family: Manrope;
                font-size: 14px;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }

        .list-container {
            overflow-y: auto;

            .list-item {
                cursor: pointer;
                display: flex;
                height: 39px;
                top: 233px;
                margin-left: 12.5px;
                gap: 0px;
                border-radius: 8px 0px 0px 0px;
                padding: 15px;

                &.selected {
                    background: #ecf3fa;
                }

                &.disabled {
                    background-color: #f9f9f9;
                    color: #999;
                    pointer-events: none;
                    cursor: not-allowed;
                }
            }
        }

        ::ng-deep .attachment-div {
            border: 1px solid #e5eaf0;
            background: #ffffff;
            border-radius: 15px;
            display: flex;
            width: 100%;
            margin-top: 5px;

            .attachment-field-area {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50px;
                padding: 5px 10px;
                border-radius: 5px;
                //background-color: #f9f9f9;
                width: 33.3%;

                &:nth-child(2) {
                    justify-content: center;
                }

                &:nth-child(3) {
                    justify-content: flex-end;
                }

                .ngx-file-drop__drop-zone {
                    height: auto !important;
                    border: none !important;
                }

                .ngx-file-drop__content {
                    height: 0px !important;
                }

                .attach-link {
                    margin-right: auto;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    text-decoration: none;
                    color: #08295b;
                    font-family: Manrope;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                // .char-count {
                //     margin-left: auto;
                //     font-size: 14px;
                //     color: #666;
                // }
            }

            .bottom-text-ste {
                font-family: Manrope;
                font-size: 13px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: -0.02em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #08295b;
            }
        }

        .d-flex {
            display: flex !important;
        }

        .w-48 {
            width: 48%;
        }

        .bt-none {
            border-bottom: none !important;
        }

        ::ng-deep .dx-texteditor-input,
        input.form-control {
            border: none !important;
            box-shadow: none !important;
        }

        .source-editor {
            width: 100%;
            height: 770px; //calc(100vh - 420px);
            overflow-y: auto;
            font-family: monospace;
            font-size: 14px;
            border: 1px solid #ccc;
            background-color: #3a3a3a;
            color: #cfcfcf;
            white-space: pre-wrap;
            overflow: auto;
        }

        ::ng-deep .container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            display: flex;
            align-items: center;
            border-radius: 10px;
            padding: 0;
            background: #fff;
            z-index: 1;
            height: 100%;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
                padding: 2px;
                background: linear-gradient(
                    93.5deg,
                    #118eff -16.25%,
                    #8f7df3 40.92%,
                    #ea3a8a 106.71%
                );
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                z-index: -1;
            }

            .prompt-header {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                margin: 2px;
                width: calc(100% - 4px);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 15px;
                background-color: #e9ffde;
            }

            .your-prompt-title {
                font-family: Manrope, sans-serif;
                font-size: 21px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: -0.02em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                columns: #08295b;
                margin: 0;
            }

            .prompt-library-title {
                background: #dce4ed;
                border-radius: 8px;
                padding: 5px 10px;
                font-family: Plus Jakarta Sans;
                font-size: 12px;
                font-weight: 600;
                line-height: 27px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                cursor: pointer;
                img {
                    padding-left: 4px;
                }
            }

            .prompt-footer {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #ccc;
                width: calc(100% - 4px);
                padding: 15px;

                button {
                    background-color: transparent;
                    border: none;
                }

                .button-generate-ai-message {
                    background: #00a8ed;
                    width: 185px;
                    color: white;
                    padding: 10px 30px;
                    border-radius: 10px;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                    }
                }
                .cancel-button {
                    cursor: pointer;
                }
            }

            .gpt-model-toggle {
                width: 36px;
                height: 36px;
                padding: 6px;
                background: #0ea47e;
                cursor: pointer;
                border-radius: 4px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .content-container {
                margin: 0 10px;
                justify-content: center;
                align-items: center;
                background: #ffffff;
                padding: 10px;
                border-radius: 8px;
            }

            .ai-content-container {
                height: 520px;
                margin-bottom: 17px;
            }

            .left-buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 6px 0px 13px 0px;

                .ai-genrate-btn {
                    position: relative;
                    height: 44px;
                    width: 122px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 10px;
                    background-color: #fff;
                    cursor: pointer;
                    text-align: center;
                    transition: all 0.3s ease;
                    font-family: "Plus Jakarta Sans", sans-serif;
                    font-weight: 600;
                    z-index: 1;
                    overflow: hidden;
                    margin-top: 10px;
                    margin-left: 0;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 10px;
                        padding: 2px;
                        background: linear-gradient(
                            93.5deg,
                            #118eff -16.25%,
                            #8f7df3 40.92%,
                            #ea3a8a 106.71%
                        );
                        -webkit-mask: linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        mask: linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: destination-out;
                        mask-composite: exclude;
                        z-index: -1;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 13px;
                        color: #e83c8e;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 15.27px;
                            height: 18.37px;
                            background: url("../../../../assets/common/icons/AI.png")
                                no-repeat center;
                            background-size: contain;
                        }
                    }

                    &:hover {
                        background-color: #e83c8e;
                        color: #fff;

                        span {
                            color: #fff;
                        }
                    }
                }

                @media (max-width: 768px) {
                    .ai-genrate-btn {
                        height: 40px;
                        width: 100px;
                        font-size: 12px;
                    }
                }
            }

            .prompt-liabrary-button {
                a {
                    padding: 6px 12px 6px 8px;
                    border-radius: 8px;
                    opacity: 50%;
                    background: #dce4ed;
                    color: #08295b;

                    font-family: Plus Jakarta Sans;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    margin-left: 12px;
                    cursor: pointer;

                    &:hover {
                        background: #e6e6e6;
                    }

                    &:after {
                        content: "";
                        position: relative;
                        left: 4px;
                        bottom: 2px;
                        cursor: default;
                        height: 0;
                        width: 0;
                        font-size: 0;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        border-top: 3px solid #484848;
                        color: #08295b;
                    }
                }
            }

            .ai-model-button {
                a {
                    padding: 6px 12px 6px 8px;
                    border-radius: 8px;
                    opacity: 50%;
                    background: #dce4ed;
                    color: #08295b;

                    font-family: Plus Jakarta Sans;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: -0.01em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    margin-left: 12px;
                    cursor: pointer;

                    &:hover {
                        background: #e6e6e6;
                    }

                    &:after {
                        content: "";
                        position: relative;
                        left: 4px;
                        bottom: 2px;
                        cursor: default;
                        height: 0;
                        width: 0;
                        font-size: 0;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        border-top: 3px solid #484848;
                        color: #08295b;
                    }
                }
            }
        }

        .char-count {
            position: absolute;
            right: 24px;
        }

        @media (max-width: 768px) {
            .row {
                flex-direction: column;
            }
        }
    }

    .tags-button {
        a {
            font-size: 12px;
            padding: 6px 12px 6px 8px;
            border-radius: 8px;
            line-height: 12px;
            opacity: 50%;
            background: #dce4ed;
            color: #08295b;
            cursor: pointer;

            &:hover {
                background: #e6e6e6;
            }

            &:after {
                content: "";
                position: relative;
                left: 4px;
                bottom: 2px;
                cursor: default;
                height: 0;
                width: 0;
                font-size: 0;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                border-top: 3px solid #484848;
                color: #08295b;
            }
        }
    }

    @media (max-width: 768px) {
        ::ng-deep .mat-dialog-actions {
            width: 100%;

            .mat-dialog-buttons {
                flex-direction: column;
                align-items: center;
                margin-left: 0;
            }

            #saveTemplateOptions {
                width: 90%;
                margin-right: 0;
            }

            #genrateAIOptions {
                width: 90%;
                margin-top: 10px;
            }

            #refreshOptions {
                width: 40px;
                height: 40px;
            }
        }
    }

    @media (max-width: 480px) {
        ::ng-deep .mat-dialog-actions {
            .mat-dialog-buttons {
                flex-direction: column;
                gap: 10px;
            }

            #saveTemplateOptions span,
            #genrateAIOptions span {
                font-size: 11px;
                line-height: 20px;
            }

            #saveTemplateOptions {
                width: 100%;
            }

            #genrateAIOptions {
                width: 100%;
            }
        }
    }
}

::ng-deep .tags-container {
    .tags-list-item {
        text-align: left;

        &.disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    .tags-note {
        white-space: pre-wrap;
    }

    ::ng-deep dx-list {
        .dx-scrollable-scrollbar {
            right: -10px;
        }
    }
}

::ng-deep .cdk-overlay-container {
    .cdk-overlay-pane.slider {
        max-width: 97vw !important;

        .mat-dialog-container {
            overflow: visible;
            border-radius: 15px;
            padding: 0;
            margin: 0;

            .mat-dialog-content {
                max-height: 100vh;
            }
        }
    }
}

::ng-deep .mat-dialog-header {
    background-color: #ffffff !important;
    padding: 0px !important;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;

        .header-div {
            margin-left: 25px;
            width: 345px;
        }

        .email-container {
            font-size: 15px;
            display: flex;
            align-items: center;
        }

        .email-sub-txt {
            font-size: 15px;
            margin-left: 5px;
            font-weight: 600;
            color: #2e6bc7;
            font-family: Manrope;
            line-height: 22px;
        }

        .header-content {
            font-weight: 600;
            color: #08295b;
            font-family: Manrope;
            font-size: 21px;
            line-height: 22px;
            letter-spacing: -0.02em;
            text-align: left;
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            width: 50%;
            margin-top: 40px;
        }

        .actions {
            display: flex;
            gap: 10px;
            margin-top: 0;
        }

        .tab {
            padding: 4px 12px;
            font-size: 13px;
            border: 1px solid #ecf3fa;
            cursor: pointer;
            text-align: center;
            display: flex;
            align-items: center;
            gap: 8px;
            transition: background-color 0.3s ease;
            border-bottom: none !important;
            height: 42px;
            border-radius: 10px 10px 0px 0px;
            color: #08295b;
            width: 122px;
        }

        .tab svg {
            width: 16px;
            height: 16px;
        }

        .tab.active {
            color: #fff;
            background-color: #003366;
        }

        .tab:hover {
            background-color: #ecf3fa;
        }

        .selected-tab {
            background: #ecf3fa;
            color: #003366;
        }

        /* Responsive layout for small screens */
        @media (max-width: 768px) {
            .right {
                width: 100%;
                height: auto;
                flex-direction: column;
            }

            .actions {
                flex-direction: column;
                width: 100%;
            }

            .tab {
                width: 100%;
                justify-content: center;
            }
        }
    }
}

::ng-deep .ai-model-icon {
    width: 21px !important;
    height: 21px !important;
}

.editor-color {
    background-color: #1e1e1e;
    width: 100%;
}

.editor-form {
    width: 100%;
    //height:614px;form-content
}

// new ccss code
.editor-container {
    width: 100%;
    min-height: 614px;
    height: calc(100vh - 80px);
    border-radius: 4px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.html-container-div {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    &:focus {
        outline: none;
    }
}

.w-71 {
    min-width: 1066px !important;
}

@media (min-width: 1700px) and (max-width: 1710px) {
    .w-71 {
        width: 1236px !important;
    }

   
    .html-container-div {
        height: calc(74vh - 20px) !important;
    }
}

@media (min-width: 1720px) and (max-width: 1930px) {
    .w-71 {
        width: 1440px !important;
    }

    

    .html-container-div {
        height: calc(74vh - 20px) !important;
    }
}

@media (min-width: 2020px) and (max-width: 2050px) {
    .w-71 {
        width: 1550px !important;
    }

    

    .html-container-div {
        height: calc(100vh - 15px) !important;
    }
}

@media (min-width: 2300px) and (max-width: 2320px) {
    .w-71 {
        width: 1810px !important;
    }

   

    .html-container-div {
        height: calc(100vh - 15px) !important;
    }
}

.group-header {
    cursor: pointer;
    padding: 8px 0;
    font-size: large;
    border-bottom: 1px solid #ccc;
}

.group-items {
    padding-bottom: 10px;
}

.tags-list-item {
    padding: 6px 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.prompt-title {
    font-weight: 600;
    font-size: 14px;
}

.prompt-subtext {
    font-size: 12px;
    color: #666;
}

.template-container {
    flex-direction: column;
}
.create-mail-template-btn {
    width: 100%;
    background: #00ca6a;
    height: 40px;
    color: white;
}
.template-header {
    padding-left: 15px;
    border-bottom: 1px solid #ecf3fa;
    padding-bottom: 8px;
    & span {
        color: gray;
    }
}

::ng-deep .template-search-box {
    background: white;
    border: 1px solid #ecf3fa !important;
    border-radius: 4px !important;
    max-width: 500px;
    width: 100%;
    margin: 8px 0px;
    .dx-texteditor-input {
        font-size: 14px !important;
        &::placeholder {
            font-size: 14px !important;
        }
    }
    .dx-placeholder {
        font-size: 14px !important;
    }
}

.template-search-box .dx-placeholder {
    font-size: 14px !important;
}

.left-template-div {
    padding-top: 15px;
    background: #fbfbfb;
}
.template-item {
    background: white;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    margin: 8px 0px;
    padding: 4px 8px;
    height: 40px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    h5 {
        margin-bottom: 0px !important;
    }
    &:hover {
        h5 {
            color: #3e88fb;
        }
    }
    &.active {
        background: #99efc6;
    }
    &:hover {
        background: #99efc6;
    }
}
.template-item-btn {
    border: none !important;
}

::ng-deep .template-item-action-btns {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 4px;
    top: 50%;
    transform: translateY(-50%);
    .dx-button {
        height: 24px !important;
        .dx-button-content {
            padding: 0px !important;
            .dx-icon {
                font-size: 16px !important;
            }
        }
    }
}
::ng-deep .template-detail-preview {
    border-left: 1px solid #e2eaf2;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .template-preview-content{
        border: 1px solid #e2eaf2;
        padding: 10px;
        margin-top: 10px;
    }
}
.template-preview-item {
    height: 30px;
    display: flex;
    align-items: center;
    label, h5, h6 {
        margin-bottom: 0px !important;
    }
}

.label {
    width: 80px;
}

.set-template-btn {
    border-radius: 6px;
    background: #00ca6a;
    color: white;
    height: 40px;
}

:host ::ng-deep .cke_contents {
    height: calc(100vh - 455px) !important;
    max-height: 600px !important;
    overflow-y: auto;
}

.from-item-selet{
    width: 200px !important;
}