:host {
    /deep/ .mat-dialog-actions {
        width: 300px;
        .mat-dialog-buttons {
            height: 50px!important;
        }
        #saveTemplateOptions, #cancelTemplateOptions {
            width: 140px;
        }
    }

    /deep/ .mat-dialog-header {
        label {
            color: #8a969b;
            padding: 20px 0px;
            font-size: 28px;
            position: relative;
        }
        dx-text-box[name="title"] {
            width: 250px!important;
        }
        .title-wrapper {
            width: 100%;
            justify-content: space-between;
        }
        label.template {
            font-size: 12px;
            border-bottom: 1px solid #dfdfdf;
            padding-top: 12px;
            margin: 0px;
            height: 40px;
            width: 80px;
            text-transform: uppercase;
        }
        dx-select-box {
            margin: 23px 0;
            &, input {
                background: transparent;
                font-size: 15px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: 0.3px;
                color: #424c56;
            }
            .dx-icon-clear:before {
                content: '+';
                color: #00aeef;
                font-size: 28px;
                font-weight: 600;
            }
        }
        dx-text-box {
            input {
                &, &:read-only {
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.09;
                    letter-spacing: 0.4px;
                    padding-left: 17px;
                    background-color: #F3F7FA;
                }
            }
        }
        dx-text-box, dx-select-box {
            &, input {                    
                background: transparent !important;
            }
            .dx-placeholder {
                font-size: 15px;
                font-weight: 400;
                line-height: 1.79;
                letter-spacing: 0.3px;
                padding: 0px;
            }
            &.dx-state-focused {
                .dx-placeholder {
                    top: -30px;
                }
            }
        }
    }

    ::ng-deep ckeditor {
        .cke_chrome {
            border: none!important;
            .cke_top {
                border-bottom: none!important;
                background: #f3f7fa!important;
            }
            .cke_bottom {
                border-top: none!important;
                background: #f3f7fa!important;
                border-bottom: 1px solid #dfdfdf;
            }
            .cke_contents {
                min-height: 380px;
            }
        }
    }

    .form-content {
        display: flex;
        flex-direction: column;
        padding: 30px 0px 30px 50px;
        height: calc(~"100vh - 82px");
        width: 900px;

        .row {
            width: 820px;
            margin-left: 0px !important;
        }

        /deep/ .field-area {
            width: 100%;
            display: block;
            position: relative;
            white-space: nowrap;
    
            &.ckeditor {
                & > p {
                    font-size: 12px;
                    color: #8a969b;
                    margin: 10px 0px;
                    white-space: initial;
                }
            }

            label {
                line-height: 38px;
                border-bottom: 1px solid #dfdfdf;
                vertical-align: top;
                padding-top: 1px;
                color: #8a969b;
                padding-right: 10px;
                &.from {
                    opacity: 0.5;
                }
            }            

            .bcc-links {  
                position: absolute;
                right: 5px;
                z-index: 1;
                top: 8px;
                span {
                    margin: 0 5px;
                    cursor: pointer;
                    color: #00aeef;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.79;
                    letter-spacing: 0.28px;
                }
            }

            dx-tag-box {
                cursor: text;
                input {
                    border-bottom: none;
                }
                .dx-texteditor-container.dx-tag-container {
                    border-bottom: 1px solid #dfdfdf;
                }
                &[name="to"] {
                    .dx-texteditor-container.dx-tag-container:after {
                        margin-right: 75px;
                    }
                }
            }

            dx-text-box, dx-tag-box {
                display: inline-block;

                &.dx-invalid {
                    input {
                        color: #d9534f!important;
                    }
                }
                &.dx-state-focused {
                    .dx-placeholder {
                        top: -30px;
                    }
                }
                input {
                    color: #424c56;
                }
                .dx-placeholder, input {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.79;
                    letter-spacing: 0.3px;
                    padding: 0px;
                }
            }
        }
    }
}