:host {
  ::ng-deep .field {
    display: flex;
    position: relative;

    label {
      height: 34px;
      line-height: 34px;
      font-size: 15px;
      letter-spacing: 0.3px;
      color: var(--text-color);
      font-weight: 500;
      margin-right: 40px;
      vertical-align: bottom;
      margin-bottom: 0;
      text-transform: uppercase;
      padding-left: 30px;
      background-position: 0 8px;
      background-repeat: no-repeat;
      &.date-label {
        background-image: url('../../../../assets/common/icons/date.svg');
      }
      &.name-label {
        background-image: url('../../../../assets/common/icons/similar-contacts.svg');
      }
      &.area-label {
        background-image: url('../../../../assets/common/icons/area.png');
      }
      &.levels-label {
        background-image: url('../../../../assets/common/icons/levels.png');
      }
      &.floor-label {
        background-image: url('../../../../assets/common/icons/floor.png');
      }
      &.property-label {
        background-image: url('../../../../assets/common/icons/property.png');
        background-size: 21px;
      }
      &.notes-label {
        vertical-align: top;
        background-image: url('../../../../assets/common/icons/comments.svg');
      }
      &.profile-label {
        background-image: url('../../../../assets/common/icons/person.svg');
      }
      &.company-label {
        background-image: url('../../../../assets/common/icons/company-icon.svg');
      }
      &.email-label {
        background-image: url('../../../../assets/common/icons/email.svg');
      }
      &.phone-label {
        background-image: url('../../../../assets/common/icons/phone.svg');
      }
      &.link-label {
        background-image: url('../../../../assets/common/icons/link.svg');
      }
      &.address-label {
        background-image: url('../../../../assets/common/icons/location.svg');
      }
      &.currency-label {
        background-image: url('../../../../assets/common/icons/dollar.svg');
      }
    }

    span {
      font-size: 32px;
      font-weight: 100;
      margin: 0 15px;
      cursor: pointer;
      line-height: 35px;
      position: relative;
      vertical-align: top;

      &.hidden {
        display: none;
      }
      &.add-contact {
        color: var(--primary-color);
      }
      &.clear-contact {
        color: var(--danger-color);
        margin: 0 !important;
        display: inline-block;
        left: 30px;
        width: 8px;
        height: 8px;
        top: 10px;
        .minus-icon {
          width: 16px;
          height: 16px;
          display: inline-block;
          border-radius: 50%;
          background: var(--danger-color-bg, #f9e6e6);
          position: absolute;
          cursor: pointer;
          &:before {
            content: '';
            width: 8px;
            height: 2px;
            background: var(--danger-color);
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .dx-tag-content span {
      font-size: initial;
      line-height: initial;
      margin: auto;
    }

    .add-new-button {
      height: 30px;
      padding-top: 10px;
      margin-left: 30px;
      span {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.79;
        letter-spacing: 0.3px;
        cursor: pointer;
        color: var(--primary-color);
      }
      &.disabled span {
        color: var(--muted-color);
        cursor: default;
      }
    }
  }
}
