:host {
    width: 85vw;
    display: block;

    .wrapper {
        height: calc(100vh - 80px);
    }

    .content {
        width: 100%;
        padding: 2%;
        display: flex;
        justify-content: space-between; 
        .left, .middle, .right {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .left, .right {
            width: 28%;
        }
        .middle {
            width: 44%;
            margin: 0 30px;
        }
        .left {
            .block {
                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                    pointer-events: none;
                }
                &.selected {
                    border: 1px solid #00aeef;
                }
            }
        }
        .block {
            position: relative;
            padding: 20px;
            cursor: pointer;
            background: #FFF;
            min-height: 100px;
            margin-bottom: 20px;
            border: 1px solid transparent;

            &.status {
                p {
                    margin: 15px 0 0;

                    img {
                        vertical-align: bottom;
                        &.delete {
                            display: inline;
                            cursor: pointer;
                            vertical-align: sub;
                        }
                    }
                    ::ng-deep dx-switch {
                        float: right;
                        vertical-align: bottom;
                    }
                    span {
                        font-weight: 600;
                    }
                    a {
                        float: right;
                        padding: 0 8px;
                    }
                    ::ng-deep dx-date-box {
                        float: right;
                    }
                }
            }

            div.disabled {
                opacity: 0.5;
                cursor: default;
                pointer-events: none;
            }

            img.head {
                padding: 15px;
            }
            img.info {
                display: inline;
                cursor: pointer;
                vertical-align: top;
            }
            img.product {
                width: 186px;
                margin: auto;
            }
            h3 {
                font-family: Poppins;
                font-size: 19px;
                font-weight: 500;
            }
            label {
                height: 23px;
                white-space: nowrap;
                font-family: Poppins;
                font-size: 13px;
                font-weight: 500;
                margin: 10px 0 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
            p {
                font-family: Poppins;
                font-size: 13px;
                font-weight: 400;
            }
            hr {
                margin: 10px 0;
                &.wide {
                    border: 2px solid rgba(0,0,0,.1);
                }
            }
            .add-group-button {
                position: absolute;
                background: #F4F7FA;
                padding: 4px 8px;
                top: 18px;
                right: 70px;
                span {
                    font-family: Poppins;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000;
                }
            }
            .slider-wrapper {
                position: absolute;
                width: 100%;
                top: 0;
            }
            .state-slider {
                position: relative;
                width: 110px;
                height: 25px;
                margin: 0px auto;
                background: #F4F7FA;
                border-radius: 19px;
                cursor: pointer;

                &.point {
                    ::ng-deep .mat-slider {
                        .mat-slider-thumb {
                            width: 50%;
                            right: -50%;
                        }
                    }
                }

                .captions {
                    position: absolute;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: space-around;
                    font-family: Poppins;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    color: #000;
                    z-index: 2;

                    div {
                        padding-top: 0px;
                        text-align: center;
                        line-height: 25px;
                    }

                    .active {
                        color: #fff;
                    }
                }

                ::ng-deep .mat-slider {
                    width: 110px;
                    height: 25px;

                    .mat-slider-wrapper {
                        left: 0px;
                        width: 110px;
                    }

                    .mat-slider-track-wrapper {
                        display: none;
                    }

                    .mat-slider-thumb {
                        width: 33%;
                        height: 25px;
                        right: -33%;
                        bottom: 0px;
                        border-radius: 19px;
                        background-color: #1A1A1A;
                        border-color: transparent;
                        transform: none;
                    }
                }
            }

            .commissions {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                &.disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }
                & > div {
                    margin: 0 10px 10px;
                }
            }            
            span.enable-commissions {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                padding-left: 10px;
            }
            p.enable-commissions-info {
                font-family: Poppins;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0em;
                text-align: left;
                margin: 10px 0;
            }
            .product-ident {
                & > div {
                    display: inline-block;
                    &:first-child {
                        width: 56%;
                        padding-right: 10px;
                    }
                    &:last-child {
                        width: 44%;
                    }
                }
            }
            .general-product {
                display: flex;
                justify-content: space-around;
            }
            .field {
                ::ng-deep dx-text-area, ::ng-deep dx-number-box, ::ng-deep dx-select-box {
                    min-width: 250px;
                }
            }
            ::ng-deep dx-text-box, ::ng-deep dx-number-box, ::ng-deep dx-select-box, ::ng-deep dx-text-area {
                .dx-texteditor-input-container {
                    border: 1px solid #dfdfdf!important;
                }
                input, textarea {
                    font-family: Poppins;
                    font-size: 13px;
                    font-weight: 400;
                    border: none;
                }
                .dx-placeholder {
                    font-size: 14px;
                }
            }
            ::ng-deep dx-switch {
                height: 23px;
                &.dx-switch-on-value {
                    .dx-switch-container {
                        background: #68ACE9;
                    }
                }
                .dx-switch-container {
                    border-radius: 18px;
                    background: #E0E3E6;
                    border: 1px solid #FFF;
                }
                .dx-switch-handle {
                    width: 18px;
                    height: 18px;
                    &:before {
                        width: 17px;
                        height: 17px;
                        border-radius: 10px;
                        background-color: #FFF;
                    }
                }
            }
            ::ng-deep dx-select-box, ::ng-deep dx-number-box.label {
                height: 65px;
                input {
                    height: 40px;
                    top: 20px;
                    position: relative;
                }
                .dx-button-content {
                    position: relative;
                    border-radius: 50%;
                    border: 1px solid #E0E3E6;
                    overflow: hidden;
                    width: 29px;
                    height: 29px;
                    right: 10px;
                    top: 17px;
                    .dx-dropdowneditor-icon {
                        width: 29px;
                        &:before {
                            margin-top: -8px;
                        }
                    }
                }
                div.dx-placeholder {
                    width: calc(100% - 42px);
                    font-family: Poppins;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #919698;
                    &.dx-state-invisible {
                        display: block!important;
                        opacity: 1!important;
                        top: -10px!important;
                    }
                }
            }
            .add-new-button, .remove-button {
                position: absolute;
                top: -4px;
                right: 0;
                width: 29px;
                height: 29px;
                border: 1px solid #E6E9EC;
                text-align: center;
                span {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
            .remove-button {
                top: 7px;
                span {
                    line-height: 24px;
                }
            }
            .logo-wrapper {
                margin: auto;
                text-align: center;
            }
            .upload-logo {
                text-align: center;
                input[type="file"] {
                    display: none;
                }
                .browse-file {
                    ::ng-deep ngx-file-drop {
                        .ngx-file-drop__drop-zone {
                            border: 1px dashed #dedede;
                            border-radius: 0px;
                        }
                        .ngx-file-drop__browse-btn {
                            font-family: Poppins!important;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0em;
                            color: #919698;
                            background-color: transparent;
                            border-color: transparent;
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    width: 100%;
                    height: 100px;
                }
                .add-link {
                    dx-text-box {
                        display: inline-block;
                    }
                    .add-button {
                        display: inline-block;
                        border: 1px solid #dedede;
                        border-left: none;
                        width: 20%;
                        height: 46.48px;
                        vertical-align: bottom;
                        padding: 11px;
                        font-family: Poppins;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        color: #000;
                    }
                }                
                span {
                    margin: 10px;
                    font-family: Poppins;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    display: block;
                    color: #919698;
                }
            }
        }
    }

    ::ng-deep inplace-edit {
        margin-top: 10px;
        display: block;
        height: 45px;
        .inplace-edit-view-mode a {
            font-weight: 600;
        }
    }
    
    .footer {
        width: 100%;
        height: 50px;
    }

    .options-header {
        margin: 17px 0;
        font: 600 17px Poppins;
        position: relative; 
    }

    .options {
        position: relative;
        margin-bottom: 15px;

        & > div.upgrade-field {
            width: calc(100% - 50px);
        }

        .option {
            .prices, .periods, .trials, .grace {
                display: flex;
                justify-content: space-between;
                & > div {
                    margin: 0 10px 20px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .prices {
                & > div {
                    width: 50%;
                }
                label {
                    white-space: nowrap;
                }
            }
            .periods {
                & > div {
                    &:first-child {
                        width: 40%;
                    }
                    &:last-child {
                        width: 30%;
                    }
                }
            }
            span {
                cursor: pointer;
            }
        }

        .field-wrapper {
            width: calc(100% - 50px);
            white-space: nowrap;
            position: relative;

            dx-select-box[name="name"] {
                display: inline-block;
            }

            .fa-pencil, .fa-info-circle {
                width: 15px;
                cursor: pointer;
                display: inline-block;
                position: absolute;
                right: -20px;
                top: 20px;
            }
        }

        .fa-close {
            position: absolute;
            font-size: 16px;
            right: -6px;
            top: -6px;
            color: red;
            cursor: pointer;
            z-index: 1;
        }

        .field-50 {
            display: inline-block;
            width: 50%;
            padding-left: 10px;
            &:first-child {
                padding-left: 0px;
                padding-right: 10px;
            }
        }
    }

    ::ng-deep dx-select-box {
        .dx-icon-clear {
            left: 12px;
            font-size: 18px;
            line-height: 10px;
            margin: 0;
            top: 11px;
        }

        .dx-texteditor-input-container {
            border-bottom: 1px solid #dfdfdf;

            input {
                border: none;
            }
        }
    }
}

::ng-deep {
    .cdk-overlay-pane.new-product mat-dialog-container {
        background: #F4F7FA;
    }
}