:host {
    display: block;

    .mailchimp-button-container {
        margin-bottom: 20px;

        .mailchimp-button {
            background-color: #ffe01b;
            color: black;
            border: 1px solid #dfdfdf;

            img {
                width: 20px;
                margin-right: 5px;
            }
        }

        .disconnect {
            margin-left: 10px;
            color: red;
            cursor: pointer;
        }
    }
}
