@borderColor: #dadee1;

.operations {
    background: #fff;
    display: flex;
    padding: 10px 10px;

    button,
    input {
        height: 37px;
        color: #677380;
    }

    .search_transaction {
        position: relative;
        margin-right: 40px;

        input {
            font-weight: 300;
            line-height: 1.71;
            letter-spacing: 0.3px;
            text-align: left;
            padding-left: 36px;
            border: 1px solid @borderColor;
            border-radius: 3px;
            font-size: 14px;
            height: 37px;
            width: 245px;
        }

        &:before {
            content: "";
            background: url('../../../../../assets/common/icons/search-icon.svg');
            text-decoration: inherit;
            position: absolute;
            font-size: 20px;
            width: 16px;
            height: 16px;
            top: 11px;
            left: 12px;
            color: #677380;
        }
        &.dirty:before {
            display: none;
        }
    }

    /deep/ .dx-datagrid-header-panel {
        display: inline-block;
        overflow: visible;
        border-bottom: none;

        .dx-toolbar {
            background: inherit;
            margin: 0;
            .dx-toolbar-items-container {
                display: flex;

                .dx-toolbar-before,
                .dx-toolbar-center,
                .dx-toolbar-after {
                    position: relative;
                }

                .dx-toolbar-item {
                    display: inline-flex;
                }

                .dx-toolbar-button {
                    padding: 0;
                }

                .dx-toolbar-before {
                    padding-right: 24px;

                    /** Back button */
                    .dx-item:first-child {
                        margin-right: 20px;
                        .dx-button-content {
                            padding: 12px 15px 13px;
                            .dx-icon {
                                height: 10px;
                                width: 17px;
                            }
                        }
                    }

                    /** Edit button */
                    .dx-item:nth-child(2) {
                        .dx-button {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            border-right: 0;
                        }
                    }

                    /** Rules button */
                    .dx-item:nth-child(3) {
                        .dx-button {
                            border-radius: 0;
                            border-right: 0;
                        }
                    }

                    /** Expand button */
                    .dx-item:last-child {
                        .dx-button {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }
                }

                .dx-toolbar-center {
                    /** General for flag, label and more buttons */
                    .dx-item {
                        .dx-button {
                            position: relative;
                            width: 72px;
                            &:after {
                                content: '';
                                display: block;
                                background: url('../../../../../assets/common/icons/down-arrow-icon.svg');
                                position: absolute;
                                width: 8px;
                                height: 4px;
                                right: 19px;
                                top: 48%;
                            }
                            .dx-button-content {
                                padding-right: 28px;
                            }
                        }
                    }

                    /** Flag button */
                    .dx-item:first-child {
                        .dx-button{
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            border-right: 0;
                        }
                    }

                    /** Label button */
                    .dx-item:nth-child(2) {
                        .dx-button{
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }

                    /** More button */
                    .dx-item:last-child {
                        margin-left: 24px;
                        .dx-button {
                            width: auto;
                            .dx-button-content {
                                padding-right: 30px;
                            }
                        }
                    }
                }

                .dx-toolbar-after {
                    padding-left: 115px;

                    /** General for right group */
                    .dx-item {
                        .dx-button {
                            width: 57px;
                        }
                    }

                    /** Download button */
                    .dx-item:first-child {
                        .dx-button {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            border-right: 0;
                        }
                    }

                    /** Print button */
                    .dx-item:nth-child(2) {
                        margin-right: 24px;
                        .dx-button {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }

                    /** Box button */
                    .dx-item:nth-child(3) {
                        .dx-button {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            border-right: 0;
                        }
                    }

                    /** Pipeline button */
                    .dx-item:nth-child(4) {
                        .dx-button {
                            border-radius: 0;
                            border-right: 0;
                        }
                    }

                    /** Grid button */
                    .dx-item:last-child {
                        .dx-button {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                    }
                }

                .dx-button {
                    height: 37px;
                    .dx-button-content {
                        padding: 8px 15px;
                    }
                    .dx-icon {
                        width: auto;
                        height: auto;
                        color: #959a9f;
                    }
                }
            }
        }
    }
}
