@borderColor: #dadee1;

.operations {
    background: #fff;
    display: flex;
    padding: 10px 10px;

    button,
    input {
        height: 37px;
        color: #677380;
    }

    .search_transaction {
        position: relative;
        margin-right: 40px;

        input {
            font-weight: 300;
            line-height: 1.71;
            letter-spacing: 0.3px;
            text-align: left;
            padding-left: 36px;
            border: 1px solid @borderColor;
            border-radius: 3px;
            font-size: 14px;
            height: 37px;
            width: 245px;
        }

        &:before {
            content: "\f002";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            font-size: 20px;
            width: 16px;
            height: 16px;
            top: 5px;
            left: 12px;
            color: #677380;
        }
        &.dirty:before {
            display: none;
        }
    }

    /deep/ .dx-datagrid-header-panel {
        display: inline-block;
        overflow: visible;
        border-bottom: none;

        .dx-toolbar {
            background: inherit;
            margin: 0;
            .dx-toolbar-items-container {
                display: flex;

                .dx-toolbar-before,
                .dx-toolbar-center,
                .dx-toolbar-after {
                    position: relative;
                }

                .dx-toolbar-button {
                    padding: 0;
                }

                .dx-button[aria-label="back-arrow"] {
                    .dx-button-content {
                        padding: 12px 15px 13px;
                        .dx-icon {
                            height: 10px;
                            width: 17px;
                        }
                    }
                }

                .dx-button[aria-label="Assign"] {
                    margin-left: 40px;
                    border-right: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .dx-button[aria-label="Status"] {
                    border-right: 0;
                    border-radius: 0;
                }

                .dx-button[aria-label="Delete"] {
                    margin-right: 40px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .dx-button[aria-label="icon icon-refresh"] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0;
                }

                .dx-button[aria-label="download-icon"] {
                    border-radius: 0;
                }

                .dx-button[aria-label="clmn-chooser-icon"] {
                    border-left: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .dx-button[aria-label="pipeline-icon"] {
                    margin-left: 24px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .dx-button[aria-label="table-icon"] {
                    margin-left: -1px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .dx-button {
                    .dx-button-content {
                        padding: 8px 15px;
                    }
                    .dx-icon {
                        color: #959a9f;
                    }
                }
            }
        }
    }

    button {
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        & + button {
            border-left: none;
        }
        &:first-child:not(:only-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child:not(:only-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.expand-button {
            position: relative;
            width: 72px;
            img {
                padding-right: 17px;
            }
            &::after {
                display: block;
                content: '';
                width: 8px;
                height: 4px;
                right: 16px;
                top: 50%;
                background: no-repeat center url("/assets/icons/arrow_3.svg");
                position: absolute;
            }
            &.more {
                width: 77px;
                padding-right: 20px;
                &::after {
                    right: 10px;
                }
            }
        }
    }
}
