.operations {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.operations button,
.operations input {
    height: 37px;
    color: #677380;
}

.search_transaction {
    position: relative;
}

.search_transaction input {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-align: left;
    padding-left: 36px;
}

.search_transaction:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 20px;
    width: 16px;
    height: 16px;
    top: 5px;
    left: 12px;
    color: #677380;
}

.search_transaction.dirty:before {
    display: none;
}

.operations > div {

}

.operations button:not(:first-child):not(:last-child) {
    border-radius: 0;
}
button + button {
    border-left: none;
}

.operations button:first-child:not(:only-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.operations button:last-child:not(:only-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.expand-button {
    position: relative;
    width: 72px;
}

.expand-button img {
    padding-right: 17px;
}

.expand-button::after {
    display: block;
    content: '';
    width: 8px;
    height: 4px;
    right: 16px;
    top: 50%;
    background: no-repeat center url("/assets/icons/arrow_3.svg");
    position: absolute;
}

.more.expand-button {
    width: 77px;
    padding-right: 20px;
}

.more.expand-button::after{
    right: 10px;
}
