<div class="login">    
    <div class="header">
        <div class="logo">
            <a [href]="originUrl">
                <img src="./assets/common/images/bank-code/logo.png" alt="logo" width="200px" height="auto"/>
            </a>
        </div>
    </div>


    <main class="main-content">
        <div class="account-forms">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center form-wrapper">

                <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </main>

    <div class="footer">
        <div class="copyright">
            <span class="">Powered By</span> <i class="sperse-logo"></i>
        </div>
    </div>
</div>