<style>
    #content {
        background: #262626;
    }
    font, ul, ol {
        color: #000;
    }
    table tr:first-child td {
        text-align: center;
        height: 30pt;
    }
    table tr td {
        width: 50%;
    }
    table p {
        margin-bottom: 0;
    }
    a {
        color: #ffcc00;
    }
    a:hover {
        color: #e0b400;
    }
</style>

<div class="visible-on-print"></div>
<div style='border:none black 1.0pt;:'>
    <%- include('../assets/docs/_disclosures'); %>
</div>