	<STYLE TYPE="text/css">
	<!--
    #content {
        background: #262626;
    }
    font, ul, ol {
        color: #000;
    }
	-->
	</STYLE>

<div class="visible-on-print"></div>
<div class="page-content">
    <%- include('../assets/docs/_lenderterms'); %>
</div>