<style type="text/css">
    <!--
    #content {
        background: #262626;
    }
    ul, ol, font {
        color: #000;
    }

    ol li p {
        line-height: 129%;
    }

    ol {
        padding-left: 0.25in;
    }
    -->
</style>

<div class="visible-on-print"></div>
<div class="page-content">
    <%- include('../assets/docs/_privacy'); %>
</div>