<style type="text/css">
    <!--
    #content {
        background: #262626;
    }
    ul, ol, font {
        color: #000;
    }

    ol li p {
        line-height: 129%;
        line-height: 1.3em;
    }

    @media print {
        ol li p {
            line-height: 1em !important;
            margin-bottom: 3px !important;
        }
    }

    ol {
        padding-left: 0.25in;
    }
    -->
</style>

<div class="visible-on-print"></div>
<div class="page-content">
    <%- include('../assets/docs/_terms'); %>
</div>
