
.bank-account-filter-container {
    text-align: start;

    .blue {
        color: #00AEEF;
    }

    .filter-actions {
        width: 100%;
        display: inline-block;
        height: 30px;

        .filter-by-types {
            float: left;
            height: 30px;

            /deep/.dx-tabs {
                border: 0;
                text-align: left;
                margin-top: -10px;
            }

            /deep/ .dx-tabs-wrapper {
                display: inline-block;
            }

            /deep/.dx-tab {
                font-size: 12px;
                font-weight: 400;
                line-height: 1.21;
                letter-spacing: 0.3px;
                color: #677380;
                padding: 9px;
                background-color: transparent;
                padding-left: 0;
                padding-right: 10px;
                padding-bottom: 3px;

                .dx-tab-text {
                    font-size: 14px;
                }
            }

            /deep/ .dx-tab.dx-tab-selected {
                border: 0;
                font-weight: bold;
                color: #333;

                .dx-tab-content {
                    border-bottom: 2px solid #00AEEF;
                }

                &:after {
                    border: 0;
                }
            }

            /deeep/ .dx-tab {
                display: inline-block;

                .dx-tab-text {
                    line-height: 17px;
                }
            }
        }
    }

    /deep/ .highlighted-row {
        background-color: #effffc;
    }

    dx-tag-box {
        height: auto;
    }

    .label-container {
        padding-top: 7px;
    }


    /deep/ #gridContainer {
        .dx-datagrid-headers .dx-datagrid-content,
        .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
            border-bottom: 0;
        }
    }

    .grid-container {
        font-size: 12px;

        /deep/ .dx-datagrid-rowsview {
            border: 0;
        }

        /deep/ .dx-datagrid-rowsview .dx-selection.dx-row > td {
            border: 0;
        }

        /deep/ tr[aria-selected ="true"] {
            background-color: transparent;
        }

        /deep/ .dx-master-detail-row {
            background-color: #f9fbfc;

            #gridContainer .dx-datagrid-headers .dx-datagrid-content {
                border-bottom: 0;
            }

            .dx-master-detail-cell {
                border: 1px solid #ddd;
                border-right-width: 2px;
            }

            .dx-datagrid-headers {
                border: 0;
            }

            .dx-datagrid {
                background-color: #f9fbfc;
            }
        }

        /deep/ .dx-master-detail-row .dx-master-detail-cell {
            padding: 0px;
        }

        .account-status {
            width: 100%;
            border-radius: 15px;
            background-color: #e8ecf2;
            display: inline-block;

            .text {
                font-size: 12px;
                margin-top: 2px;
                margin-right: 5px;
            }

            .status-color-container {

                .status-color {
                    float: left;
                    width: 6px;
                    height: 6px;
                    border-radius: 4px;
                    margin: 8px;
                }

                .status-color.completed {
                    background-color: green;
                }

                .status-color.inprogress {
                    background-color: orange;
                }

                .status-color.failed {
                    background-color: red;
                }
            }
        }

        /deep/.dx-datagrid-rowsview {
            .dx-datagrid-content tr td.tabular,
            .dx-datagrid-content tr td.tabular * {
                font-family: 'Lato' !important;
            }
        }
    }

    /deep/.dx-datagrid-rowsview {
        .dx-column-lines {
            td {
                height: 24px !important;
            }

            table {
                border-collapse: separate;
                border-spacing: 0 15px;
            }
        }
    }

    /deep/.dx-checkbox-icon {
        margin-top: 0;
    }

    .number-value {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.21;
        letter-spacing: 0.3px;
        color: #677380;
    }

    /deep/ .bold {
        font-weight: bold;
    }

    /deep/.expand-div {
        border: solid #677380;
        border-width: 0 1px 1px 0;
        padding: 3px;
        display: inline-block;
        margin: 3px;
        align-self: flex-end;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .sync-date {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.42;
        letter-spacing: 0.2px;
        color: #afb4bb;
        text-align: center;
    }
}
