<div class="bank-account-filter-container">
    <div class="filter-actions">
        <div class="filter-by-types">
            <dx-tabs [dataSource]="bankAccountTypesForSelect"
                     [selectedItem]="selectedBankAccountType"
                     (onItemClick)="bankAccountTypeChanged($event)">
            </dx-tabs>
        </div>
    </div>
    <dx-scroll-view [showScrollbar]="onHover" [height]="calculateTooltipHeight()">
        <div class="grid-container {{highlightUsedRows ? 'highlight-used-rows' : '' }}">
            <dx-data-grid id="gridContainer"
                          [width]="tableWidth"
                          [dataSource]="syncAccountsDataSource"
                          [masterDetail]="{ enabled: false, template: 'detail' }"
                          keyExpr="syncAccountId"
                          [showColumnHeaders]="false"
                          [columnAutoWidth]="true"
                          [showBorders]="false"
                          [showColumnLines]="false"
                          [showRowLines]="false"
                          (onRowUpdated)="masterSelectionChanged($event)"
                          (onCellClick)="masterRowExpandChange($event)"
                          (onRowPrepared)="rowPrepared($event)">

                <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
                <dxo-scrolling showScrollbar="never"></dxo-scrolling>
                <dxo-filter-row [visible]="false"></dxo-filter-row>
                <dxi-column dataField="highlighted" [visible]="false" sortOrder="desc" sortIndex="0"></dxi-column>
                <dxi-column dataField="selected" [width]="30" alignment="center" dataType="boolean"></dxi-column>
                <dxi-column dataField="name" [width]="nameColumnWidth" alignment="left" [allowEditing]="false" cssClass="bold"></dxi-column>
                <dxi-column dataField="syncAccountStatus" [width]="150" alignment="center" sortOrder="asc" sortIndex="0" cellTemplate="statusTemplate" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="visible" selectedFilterOperation="=" [filterValue]="true" [width]="1" caption="" cellTemplate="invisibleTemplate"></dxi-column>
                <dxi-column dataField="lastSyncDate" alignment="left" [width]="170" [allowEditing]="false" cellTemplate="syncDateTemplate" [(visible)]="showAdvancedColumns"></dxi-column>
                <dxi-column dataField="balance" cellTemplate="amountTemplate" alignment="right" [allowEditing]="false" [(visible)]="showAdvancedColumns"></dxi-column>
                <dxi-column [width]="30" alignment="right" [allowEditing]="false" cellTemplate="expandTemplate"></dxi-column>

                <div *dxTemplate="let syncAccount of 'detail'">
                    <div class="bank-accounts-grid-container">
                        <dx-data-grid [dataSource]="syncAccount.data.bankAccounts"
                                      [showBorders]="false"
                                      [width]="tableWidth"
                                      [showColumnLines]="false"
                                      [showRowLines]="false"
                                      [columnAutoWidth]="true"
                                      (onRowUpdated)="bankAccountSelectionChanged($event)"
                                      [selectionFilter]="['selected', '=', true]"
                                      (onRowPrepared)="rowPrepared($event)">
                            <dxo-scrolling showScrollbar="never"></dxo-scrolling>
                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxo-selection [deferred]="true">
                            </dxo-selection>
                            <dxo-filter-row [visible]="false"></dxo-filter-row>
                            <dxi-column dataField="highlighted" [visible]="false" sortOrder="desc" sortIndex="0"></dxi-column>
                            <dxi-column dataField="selected" [width]="30" alignment="center" dataType="boolean" caption=""></dxi-column>
                            <dxi-column dataField="accountName" [width]="nameColumnWidth" alignment="left" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="visible" selectedFilterOperation="=" [filterValue]="true" [width]="1" caption=""
                                        cellTemplate="invisibleTemplate"></dxi-column>
                            <dxi-column dataField="accountNumber" cssClass="tabular" [width]="166" alignment="left" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="type" cssClass="type-container" [width]="160" alignment="left" [allowEditing]="false"
                                        cellTemplate="typeTemplate" [(visible)]="showAdvancedColumns"></dxi-column>
                            <dxi-column dataField="balance" cssClass="tabular" alignment="right" cellTemplate="amountTemplate"
                                        [(visible)]="showAdvancedColumns" [allowEditing]="false"></dxi-column>
                            <div *dxTemplate="let cell of 'amountTemplate'">
                                <ng-container *ngIf="(cell.text)">
                                    <span class="number-value"> {{cell.text | currency: 'USD' : 'symbol' : '1.2-2'}}  </span>
                                </ng-container>
                            </div>
                            <div *dxTemplate="let cell of 'typeTemplate'">
                                <span [attr.data-text]="cell.text | lowercase">{{cell.text}}</span>
                            </div>
                            <div *dxTemplate="let cell of 'invisibleTemplate'"></div>
                        </dx-data-grid>
                    </div>
                </div>
                <div *dxTemplate="let cell of 'amountTemplate'">
                    <ng-container *ngIf="(cell.text)">
                        <div class="number-value bold">{{cell.text | currency: 'USD' : 'symbol' : '1.2-2'}}</div>
                    </ng-container>
                </div>
                <div *dxTemplate="let cell of 'statusTemplate'">
                    <ng-container *ngIf="(cell.text)">
                        <div [class]="'account-status ' + cell.text | lowercase">
                            {{cell.text | uppercase}}
                        </div>
                    </ng-container>
                </div>
                <div *dxTemplate="let cell of 'expandTemplate'">
                    <div class="expand-div"></div>
                </div>
                <div *dxTemplate="let cell of 'syncDateTemplate'">
                    <ng-container *ngIf="(cell.text)">
                        <div class="sync-date">Last sync: {{cell.text | date: 'MMM d, y '}}</div>
                    </ng-container>
                </div>
                <div *dxTemplate="let cell of 'invisibleTemplate'">
                </div>
            </dx-data-grid>
        </div>
    </dx-scroll-view>
</div>
