:host {
    position: relative;
    display: block;

    ::ng-deep app-headline {
        .dx-selectbox {
            width: 90px;
            border-radius: 20px;
            box-shadow: 0 0 1px 1px #EFEFEF;
            margin-left: auto;
            margin-right: 20px;
            overflow: hidden;

            .dx-dropdowneditor-icon {
                background-color: transparent !important;
                width: 22px;
            }

            input {
                font-size: 15px;
                font-weight: normal;
                padding: 0 8px 0 20px;
                border-bottom: 0;
            }
        }
    }

    .wrapper {
        display: flex;
        border-bottom: 0;

        ::ng-deep pfm-click-stats {
            top: 0;

            dx-data-grid {
                height: calc(100vh - 250px);
            }
        }
    }
}

::ng-deep dx-toolbar .dx-toolbar-after {
    .dx-toolbar-item:last-child {
        padding-left: 0 !important;
    }
}
