:host {
    top: 74px;
    position: relative;
    display: block;

    /deep/ app-headline {
        dx-select-box {
            width: 90px;
            border-radius: 20px;
            box-shadow: 0 0 1px 1px #EFEFEF;
            overflow: hidden;

            .dx-dropdowneditor-icon {
                background-color: transparent !important;
                width: 22px;
            }

            input {
                font-size: 15px;
                font-weight: normal;
                padding: 0 8px 0 20px;
                border-bottom: 0;
            }
        }
    }

    .wrapper {
        display: flex;
        border-bottom: 0;

        /deep/pfm-click-stats {
            top: 0;

            dx-data-grid {
                height: calc(100vh - 250px);
            }
        }

        .offers-section{
            /deep/ #gridContainer {
                &.grid-compact-view {
                    .logo-url {
                        height: 20px;
                    }
                }

                .logo-url {
                    height: 40px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .clicksCount {
                    padding-right: 43px;
                    cursor: pointer;
                }

                .dx-datagrid-rowsview {
                    .dx-column-lines {
                        td {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
