:host {
    top:74px;
    position: relative;
    display: block;

    .wrapper {    
        display: flex;    
        border-bottom: 0;

        /deep/pfm-click-stats {
            top: 0;

            dx-data-grid {
                height: calc(100vh - 250px);
            }
        }

        .offers-section{
            /deep/ #gridContainer {
                &.grid-compact-view {
                    .logo-url {
                        height: 20px;
                    }
                }

                .logo-url {
                    height: 40px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .clicksCount {
                    padding-right: 43px;
                    cursor: pointer;
                }
        
                .dx-datagrid-rowsview {
                    .dx-column-lines {
                        td {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
