<div mat-dialog-content>
    <ng-container *ngIf="currentStage === 0; else areYouSure">
        <header>
            <h5>{{ls.l('OfferLinkWillBeSentToUsers')}}:</h5>
            <a [href]="offerPublicLink" target="_blank">{{offerPublicLink}}</a>
        </header>
        <div class="sperse-toggle">
            <div [ngClass]="{ left: true, active: selectedService === services.IAge }">{{ services.IAge }}</div>
            <mat-slide-toggle
                [checked]="selectedService === services.Ongage"
                (change)="changeService()">
            </mat-slide-toggle>
            <div [ngClass]="{ right: true, active: selectedService === services.Ongage }">{{ services.Ongage }}</div>
        </div>
        <div class="lists" [ngClass]="{ hidden: selectedService === services.Ongage }">
            <dx-select-box [items]="lists$ | async"
                           displayExpr="name"
                           valueExpr="id"
                           [placeholder]="ls.l('OfferNotifyDialog_SelectLeadsList')"
                           (onValueChanged)="selectedListId.next($event.value)"
                           [value]="selectedListId$ | async">
            </dx-select-box>
        </div>
    </ng-container>
    <ng-template #areYouSure>
        <h5 class="are-you-sure">
            <ng-container *ngIf="selectedService === services.IAge">
                {{ ls.ls('PFM', 'AreYouSureYouWantToSendAnnouncementViaIAgeService', selectedListName) }}
            </ng-container>
            <ng-container *ngIf="selectedService === services.Ongage">
                {{ ls.l('AreYouSureYouWantToSendAnnouncementViaOngageService') }}
            </ng-container>
        </h5>
    </ng-template>
</div>
<div mat-dialog-actions>
    <ng-container *ngIf="currentStage === 0; else areYouSureButtons">
        <button mat-button class="button-layout button-default" [disabled]="selectedService === services.IAge && !selectedListName" (click)="currentStage = 1">{{ ls.l('Confirm') }}</button>
        <button mat-button class="button-layout button-default" (click)="close()">{{ ls.l('Cancel') }}</button>
    </ng-container>
    <ng-template #areYouSureButtons>
        <button mat-button class="button-layout button-default" (click)="sendAnnouncement()">{{ ls.l('Confirm') }}</button>
        <button mat-button class="button-layout button-default" (click)="currentStage = 0">{{ ls.l('Back') }}</button>
    </ng-template>
</div>
