:host {
    display: inline-block;
    position: relative;
    width: 100%;

    a.set-primary {
        font-size: 10px;
        color: #58a3dc;
        text-decoration: underline;
    }

    i {
        font-size: 10px;
        color: #09aa11;
    }

    div.full-name {
        max-width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .primary {  
        &, h6 {
            font-style: italic; 
        }    
    }
}