:host {
    display: inline-block;
    position: relative;
    width: 100%;

    a.set-primary {
        font-size: 10px;
        color: var(--info-color);
        text-decoration: underline;
    }

    i {
        font-size: 10px;
        color: var(--success-color);
    }

    div.full-name {
        max-width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .primary {
        &, h6 {
            font-style: italic;
        }
    }
}