<h2>{{ ls.l('Others') }}</h2>
<div class="" *ngIf="subsSettings">
    <h5>{{ls.l("Subscritions")}}</h5>
    <div class="form-group">
        <label>
            {{ls.l('DefaultSubscriptionGracePeriodDayCount')}}
        </label>
        <dx-number-box [min]="0"
                       mode="number"
                       [showClearButton]="true"
                       [readOnly]="isManageUnallowed"
                       [placeholder]=""
                       [(value)]="subsSettings.defaultSubscriptionGracePeriodDayCount"
                       [showSpinButtons]="true">
        </dx-number-box>
    </div>
</div>
