:host {   
    .step1-container {
        height: 100%;
        padding: 20px 30px 30px 30px;
    }

    .step2-container {
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 380px;
    }
}

/deep/ .title-wrapper {
    width: 380px;
}

/deep/ .generate-report {
    mat-dialog-container {
        width: 600px;
    }
}

/deep/ .cdk-overlay-container {
    .cdk-overlay-pane.slider {
            min-width: 600px;
    }
}