<div class="recommended-cards block-with-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 left-block">
                <header class="section-header">
                    <h2>Recommended cards</h2>
                    <a class="show-all" routerLink="">Show all</a>
                </header>

                <div class="list-wrap">
                    <ul class="row">
                        <li class="col-sm-6" *ngFor="let card of recommendedCards">
                            <img [src]="'./assets/common/images/pfm-cc/' + card.imgName" [alt]="card.title">
                            <h3>{{card.title}}</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 right-block with-bg">
                <div class="recommended-block">
                    <h2>Maximize your savings!</h2>
                    <p>Find credit cards with low fees and cash back rewards</p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="./assets/common/images/pfm-cc/capital-one-card.png" alt="Discover">
                        </div>
                        <div class="col-md-6">
                            <div class="bank">Discover</div>
                            <div class="cardName">Discover IT</div>
                            <div class="rating">
                                <stars-rating currentRating="4" color="#f0d500"></stars-rating>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="view-offers">
                    View credit cards offers
                </button>
            </div>
        </div>
    </div>
</div>
