:host {
    display: block;
    
    .block-with-bg .container .right-block .recommended-block {
        padding: 15px 30px;
    }
    
    @media all and (max-width: 992px) {
        .recommended-block,
        .view-offers {
            margin: 0 auto;
        }
    }
    
    @media all and (max-width: 576px) {
        padding: 0 15px;
    }
}
