<div class="recommended-cards block-with-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 left-block">
                <header class="section-header">
                    <h2>{{ls.l('LendSpaceHome_Recommended_Cards')}}</h2>
                    <a class="show-all" routerLink="/personal-finance/offers/credit-cards/home">{{ls.l('LendSpaceHome_Show_All')}}</a>
                </header>

                <div class="list-wrap">
                    <ul class="row">
                        <li class="col-6 col-md-3 col-lg-6" *ngFor="let card of recommendedCards">
                            <a (click)="applyOffer(card)" class="card-item">
                                <img [src]="'./assets/common/images/pfm-cc/' + card.offerCollection + '.svg'" [alt]="card.name">
                                <h3>{{card.name}}</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 right-block with-bg">
                <div class="recommended-block" (click)="applyOffer(discoverData)">
                    <h2>{{ls.l('LendSpaceHome_Max_Savings')}}</h2>
                    <p>{{ls.l('LendSpaceHome_Find_CC')}}</p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="./assets/common/images/pfm-cc/discover.png" alt="Discover">
                        </div>
                        <div class="col-md-6">
                            <div class="bank">{{ls.l('LendSpaceHome_Discover')}}</div>
                            <div class="cardName">{{ls.l('LendSpaceHome_Discover_IT')}}</div>
                            <div class="rating">
                                <stars-rating currentRating="3" color="#f0d500"></stars-rating>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="view-offers" routerLink="/personal-finance/offers/credit-cards/home">
                    {{ls.l('LendSpaceHome_View_CCO')}}
                </button>
            </div>
        </div>
    </div>
</div>
