<section class="iframe">
    <loading-spinner *ngIf="dataIsLoading"></loading-spinner>
    <iframe src="https://wp.bankcode.pro/affiliate-stats/"
            *ngIf="hasSubscription$ | async; else noSubscription"
            frameborder="0" (load)="onIframeLoad($event)">
    </iframe>
    <ng-template #noSubscription>
        <ng-container *ngIf="environmentLink$ | async as environmentLink">
            <iframe [src]="environmentLink" frameborder="0" (load)="onIframeLoad($event)"></iframe>
        </ng-container>
    </ng-template>
</section>
