<h2>{{l('UserManagement')}} {{l('Settings')}}</h2>
<ng-container *ngIf="tenantSettings">
    <div class="m-form">
        <h5>{{l("FormBasedRegistration")}}</h5>
        <div class="m-checkbox-list">
            <div class="form-group">
                <dx-check-box id="Setting_AllowSelfRegistration"
                              [text]="l('AllowUsersToRegisterThemselves')"
                              [(value)]="tenantSettings.allowSelfRegistration">
                </dx-check-box>
                <span class="m-form__help">{{l("AllowUsersToRegisterThemselves_Hint")}}</span>
            </div>
            <div class="form-group">
                <dx-check-box id="Setting_IsNewRegisteredUserActiveByDefault"
                              [text]="l('NewRegisteredUsersIsActiveByDefault')"
                              [(value)]="tenantSettings.isNewRegisteredUserActiveByDefault">
                </dx-check-box>
                <span class="m-form__help">{{l("NewRegisteredUsersIsActiveByDefault_Hint")}}</span>
            </div>
            <div class="form-group" [hidden]="!tenantSettings.allowSelfRegistration">
                <dx-check-box id="Setting_UseCaptchaOnRegistration"
                              [text]="l('UseCaptchaOnRegistration')"
                              [(value)]="tenantSettings.useCaptchaOnRegistration">
                </dx-check-box>
            </div>
        </div>
    </div>
    <div class="m-form">
        <h5 class="margin-top-20">{{l("OtherSettings")}}</h5>
        <div class="m-checkbox-list">
            <div class="form-group">
                <dx-check-box id="Setting_IsEmailConfirmationRequiredForLogin"
                              [text]="l('EmailConfirmationRequiredForLogin')"
                              [(value)]="tenantSettings.isEmailConfirmationRequiredForLogin">
                </dx-check-box>
            </div>
            <div class="form-group">
                <dx-check-box id="Setting_EnableSignUpPage"
                              [text]="l('EnableSignUpPage')"
                              [(value)]="tenantSettings.isSignUpPageEnabled">
                </dx-check-box>
            </div>
            <div class="form-group">
                <label for="publicCreateLeadUrl">{{l("PublicCreateLeadUrl")}}</label><br />
                <span class="copy-url"><b>{{publicCreateLeadUrl}}</b><i class="copy save-to-clipboard" (click)="copyToClipboard($event)"></i></span><br /><br />
            </div>
            <div class="form-group">
                <contact-group-templates [title]="l('UserRegistrationEmail')"
                                         [(customTemplates)]="tenantSettings.customWelcomeEmailTemplates"
                                         [templateType]="EmailTemplateType.WelcomeEmail">
                </contact-group-templates>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="hostSettings">
    <div class="form-group">
        <dx-check-box id="Settings_IsEmailConfirmationRequiredForLogin"
                      [text]="l('EmailConfirmationRequiredForLogin')"
                      [(value)]="hostSettings.isEmailConfirmationRequiredForLogin">
        </dx-check-box>
    </div>
    <div class="form-group">
        <dx-check-box id="Settings_SmsVerificationEnabled"
                      [text]="l('SmsVerificationEnabled')"
                      [(value)]="hostSettings.smsVerificationEnabled">
        </dx-check-box>
    </div>
    <div class="form-group">
        <dx-check-box id="Setting_EnableSignUpPage"
                      [text]="l('EnableSignUpPage')"
                      [(value)]="hostSettings.isSignUpPageEnabled">
        </dx-check-box>
    </div>
    <div class="form-group">
        <contact-group-templates [title]="l('UserRegistrationEmail')"
                                 [(customTemplates)]="hostSettings.customWelcomeEmailTemplates"
                                 [templateType]="EmailTemplateType.WelcomeEmail">
        </contact-group-templates>
    </div>
    <div class="form-group">
        <dx-check-box id="Settings_SmsVerificationEnabled"
                      [text]="l('SmsVerificationEnabled')"
                      [(value)]="hostSettings.smsVerificationEnabled">
        </dx-check-box>
    </div>
    <h5>{{l("Password")}}</h5>
    <div class="form-group">
        <dx-check-box id="Settings_EnableCheckingLastXPasswordWhenPasswordChange"
                      [text]="l('EnableCheckingLastXPasswordWhenPasswordChangeSettingLabel')"
                      [(value)]="hostSettings.userPasswordSettings.enableCheckingLastXPasswordWhenPasswordChange">
        </dx-check-box>
    </div>
    <div class="form-group" *ngIf="hostSettings.userPasswordSettings.enableCheckingLastXPasswordWhenPasswordChange">
        <label for="Setting_CheckingLastXPasswordCount">{{l("CheckingLastXPasswordCountSettingLabel")}}</label>
        <input id="Setting_CheckingLastXPasswordCount" type="number" name="Setting_CheckingLastXPasswordCount" class="form-control" [ngClass]="{'edited':hostSettings.userPasswordSettings.checkingLastXPasswordCount}"
               [(ngModel)]="hostSettings.userPasswordSettings.checkingLastXPasswordCount">
    </div>
    <div class="form-group">
        <dx-check-box id="Setting_EnablePasswordExpiration"
                      [text]="l('EnablePasswordExpirationSettingLabel')"
                      [(value)]="hostSettings.userPasswordSettings.enablePasswordExpiration">
        </dx-check-box>
    </div>
    <div class="form-group" *ngIf="hostSettings.userPasswordSettings.enablePasswordExpiration">
        <label for="Setting_PasswordExpirationDayCount">{{l("PasswordExpirationDayCountSettingLabel")}}</label>
        <input id="Setting_PasswordExpirationDayCount" type="number" name="Setting_PasswordExpirationDayCount" class="form-control" [ngClass]="{'edited':hostSettings.userPasswordSettings.passwordExpirationDayCount}"
               [(ngModel)]="hostSettings.userPasswordSettings.passwordExpirationDayCount">
    </div>
    <div class="form-group">
        <label for="publicCreateLeadUrl">{{l("PublicCreateLeadUrl")}}</label><br />
        <span class="copy-url"><b>{{publicCreateLeadUrl}}</b><i class="copy save-to-clipboard" (click)="copyToClipboard($event)"></i></span><br />
    </div>
</ng-container>
<button class="btn btn-layout" (click)="save()">
    <i class="icon-la la la-floppy-o"></i>
    {{l('Save')}}
</button>
