:host {
    display: block;

    ::ng-deep contact-group-templates dx-select-box input {
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }

    ::ng-deep .contact-group-templates {
        margin-top: 20px;

        dx-select-box input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;
        }
    }
}
