:host {
    display: block;
    padding: 1rem;

    @media (min-width: 640px) {
        padding: 1.5rem;
    }

    ::ng-deep contact-group-templates dx-select-box input {
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }

    ::ng-deep .contact-group-templates {
        margin-top: 20px;

        .email-temlate-select {
            border-bottom: 1px solid #ebedf2;

            dx-select-box input {
                border: none;
            }
        }

        .contact-groups-select dx-select-box input {
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;
        }
    }
}
