<section class="categorization-status">
    <div class="row">
        <div class="col-4 round-progress">
            <div class="progress-wrap">
                <round-progress
                    [current]="categorySynchData?.classifiedTransactionPercent"
                    [max]="100"
                    [color]="'#8BD553'"
                    [background]="'#F9B74B'"
                    [radius]="65"
                    [stroke]="10"
                    [rounded]="false"
                    [clockwise]="true"
                    [responsive]="true"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="0">
                </round-progress>
                <span class="total-synch-progress">{{categorySynchData?.totalCount | number : '1.0-2'}}</span>
            </div>
        </div>

        <div class="col-8">
            <h2 class="title">{{l('Transaction_Categorization_Status')}}</h2>
            <ul class="category-synch-list">
                <li class="category-synch-item">
                    <span class="category-type">{{l('Classified_Transactions')}}</span>
                    <span class="synch-status count"><strong>{{categorySynchData?.classifiedTransactionCount | number : '1.0-2'}}</strong></span>
                    <span class="synch-status percent">{{categorySynchData?.classifiedTransactionPercent | number : '1.0-0'}}%</span>
                    <a (click)="reset();" class="small-button btn-layout">
                        {{l('Reset_Сlassifications')}}
                    </a>
                </li>
                <li class="category-synch-item">
                    <span class="category-type">{{l('Unclassified_Transactions')}}</span>
                    <span class="synch-status count"><strong>{{categorySynchData?.unclassifiedTransactionCount | number : '1.0-2'}}</strong></span>
                    <span class="synch-status percent">{{categorySynchData?.unclassifiedTransactionPercent | number : '1.0-0'}}%</span>
                    <a (click)="autoClassify();" class="small-button btn-layout">
                        {{l('Auto_Сlassify')}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>
