.add-link {
    color: #00AEEF !important;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 500;
    margin-left: auto;
    cursor: pointer;
    transition: .2s;

    &:hover {
        color: lighten(#00AEEF, 20%) !important;
    }
}

.field {
    padding-bottom: 30px;

    .field-label {
    }

    .field-value {
        font-size: 12px;
        letter-spacing: 0.2px;
        line-height: 20px;
        margin-left: auto;
    }
}
.button-container {
    padding-top: 15px;
    width: 100%;
    text-align: center;
}
