.begin-overlay {
    position: absolute;
    p {
        font-size: 24px;
        color: #004a84;
    }

    button {
        border: none;
        border-radius: 10px;
        background-color: #004a84;
        outline: none;
        color: #fff;
        font-size: 19px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        padding: 5px 10px;
    }
}