 :host {
    transition: width 0.5s;
    height: 100vh;
    z-index: 999;
    border-right: 1px solid #dedede;
    background: #F4F5F7;
    position: absolute;
    display: block;
    top: 0;
    left: 0;

    .page-logo {
        width: 80px;
        height: 80px;
        overflow: hidden;
        margin: auto auto auto 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            width: 80px;
        }
    }

    .nav-menu {
        display: flex;
        overflow: hidden;
        height: calc(100vh - 300px);
        ::ng-deep dx-menu {
            margin: auto auto auto 0;
            .dx-menu-items-container {
                width: 100%;
            }
            .dx-menu-vertical {
                text-align: center;    
            }
            .dx-menu-item {
                background: transparent;
                &.dx-menu-item-selected, &.dx-state-hover {
                    .dx-item-content.dx-menu-item-content {
                        img {
                            border: 3px solid #d0d3e7;
                        }
                    }
                }

                .dx-item-content.dx-menu-item-content {
                    display: flex;
                    justify-content: left;
                    height: 56px;
                    padding: 0;
                    img {
                        margin: auto;
                        max-width: 52px;
                        border-radius: 50%;
                        border: 3px solid transparent;
                        margin: auto 19px;
                    }
                    .caption {
                        font-size: 16px;
                        font-weight: 600;
                        margin: auto 0;
                    }
                    .triangle {
                        width: 100%;
                        text-align: right;
                        margin: auto 10px;
                    }
                    .dx-menu-item-text {
                        display: none;
                    }
                }

            }
            .dx-context-menu-container-border {
                border: 0;
                box-shadow: none;
            }
        }
    }

    ::ng-deep user-management-list {
        display: block;
        width: 90px!important;
        margin-right: auto;
        margin-left: 0px;        
        .m-topbar__nav.m-nav {
            flex-direction: column;
            margin: 0 18px;
        }
    }

    ::ng-deep user-dropdown-menu .m-topbar__user-profile--img {
        margin-left: -6px;
    }

    ::ng-deep platform-select {
        width: 90px;
        height: 75px;
        display: block;
    }
}