<<<<<<< HEAD
:host {
    .copy-url {
        position: relative;

        .copy {
            visibility: hidden;
            position: absolute;
            top: 0px;
        }

        &:hover .copy {
            visibility: visible;
        }
    }
}
=======
:host {
    .copy-url {
        position: relative;

        .copy {
            visibility: hidden;
            position: absolute;
            top: 0px;
        }

        &:hover .copy {
            visibility: visible;
        }
    }
}
>>>>>>> f999b481882149d107812286d0979872df712626
