:host {
    .copy-url {
        position: relative;

        .copy {
            visibility: hidden;
            position: absolute;
            top: 0px;
        }

        &:hover .copy {
            visibility: visible;
        }
    }
}
