:host {
    .copy-url {
        position: relative;

        .copy {
            visibility: hidden;
            position: absolute;
            top: 0px;
        }

        &:hover .copy {
            visibility: visible;
        }
    }

    ::ng-deep mat-tab-group {
        height: 100%;

        .mat-tab-header {
            border-bottom: none !important;
        }

        .mat-tab-labels, .mat-tab-label {
            height: 60px;
        }

        .mat-tab-label:not(.mat-tab-label-active) {
            background: rgba(245, 249, 251, 1);
        }

        .mat-tab-label-content {
            width: 210px;

            img {
                width: 22px;
                margin-right: 10px;
            }

            .title {
                font-family: Plus Jakarta Sans;
                font-size: 13px;
                font-weight: 600;
                line-height: 27px;
                color: rgba(16, 33, 58, 1);
                text-transform: uppercase;
            }
        }

        .mat-ink-bar {
            background: rgba(0, 202, 106, 1) !important;
            height: 3px;
            top: 0;
        }
    }
}
