:host {
    .wrapper {
        ::ng-deep dx-radio-group {
            padding-left: 30px;

            .dx-radiobutton-icon-dot {
                background: #00AEEF;
            }
            .dx-item-content {
                font-size: 14px;
            }
        }
    }    

}