<div class="wrapper">
    <p>
        <dx-check-box
            name="active"
            [(value)]="items.element.includeActive"
            [text]="ls.l('Active')">
        </dx-check-box>
        <dx-radio-group
            [visible]="items.element.includeActive"
            valueExpr="value"
            displayExpr="text"
            [dataSource]="items.element.activeSubFilter"
            [(value)]="items.element.includeProspective">
        </dx-radio-group>        
    </p>
    <p>
        <dx-check-box
            name="inactive"
            [(value)]="items.element.includeInActive"
            [text]="ls.l('Inactive')">
        </dx-check-box>
    </p>
</div>