:host {
    .wrapper {
        margin: 0px 23px;

        .add-new-note {
            border: none;
            background-color: #FFF;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.3px;
            color: #00aeef; 
            cursor: pointer;
            outline: none;
        }

        /deep/ dx-data-grid {
            .title {
                margin-top: 20px;
            }
            input {
                border-bottom: none;
            }
        }
    }
}
