<div class="wrapper">
    <div class="left-side">
        <dx-data-grid id="gridContainer"
                      [dataSource]="dataSource"
                      [allowColumnReordering]="true"
                      [columnAutoWidth]="true"
                      [allowColumnResizing]="true"
                      [hoverStateEnabled]="true"
                      (onDataErrorOccurred)="httpConfig.handleError($event.error)"
                      (onToolbarPreparing)="onToolbarPreparing($event)">
            <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
            <dxi-column [width]="40" [fixed]="true" [fixedPosition]="'left'" [showInColumnChooser]="false" [allowExporting]="false"></dxi-column>

            <dxi-column dataField="text" caption="{{l('Note')}}" sortOrder="asc" width="350px" cssClass="text-wrap" dataType="string"></dxi-column>
            <dxi-column dataField="dateTime" caption="{{l('Date')}}" cssClass="tabular" [calculateCellValue]="calculateDateCellValue"></dxi-column>
            <dxi-column dataField="addedByUserName" caption="{{l('AddedBy')}}"></dxi-column>
            <dxi-column dataField="typeName" caption="{{l('Type')}}"></dxi-column>
            <dxi-column dataField="contactPhoneNumber" caption="{{l('Phone')}}" cellTemplate="phoneCell" cssClass="tabular"></dxi-column>
            <dxi-column dataField="contactName" caption="{{l('Contact')}}"></dxi-column>

            <div *dxTemplate="let cellData of 'phoneCell'">
                {{cellData.value | phone}}
            </div>

            <div *dxTemplate="let data of 'title'">
                <h2 class="title">{{l('Notes')}}</h2>
            </div>

            <dxi-column [fixed]="true" [fixedPosition]="'right'" [showInColumnChooser]="false" [allowExporting]="false"></dxi-column>

            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
        </dx-data-grid>
    </div>
    <div class="right-side">
        <note-add [customerInfo]="data.customerInfo" (onAdded)="noteAdded()"></note-add>
    </div>
</div>
