<div class="entity-selection">
    <selection-filter
        [allItemsText]="l('All_Entities')"
        [title]="l('Financial_Accounts_For')"
        [selectionList]="businessEntities$ | async"
        (selectionChanged)="entitiesItemsChanged($event)">
    </selection-filter>
    <add-account-button class="add-link" (onClose)="addAccountClose($event)"></add-account-button>
</div>
<div class="accountsSummary">
    <info-component imgSrc="assets/common/icons/coins-icon.svg" [value]="accountsDataTotalNetWorth$ | async  | currency: 'USD' : 'symbol' : '1.2-2'" [description]="l('Current_Balance')"></info-component>
    <info-component imgSrc="assets/common/icons/total-icon.svg" [value]="syncAccountsAmount$ | async" [description]="l('Institutions')"></info-component>
    <info-component imgSrc="assets/common/icons/total-icon.svg" [value]="accountsAmount$ | async" [description]="l('Accounts')"></info-component>
</div>
<div class="bank-accounts">
    <bank-accounts-widget
        [allowBankAccountsEditing]="true"
        [allowUpdateAccount]="true"
        [dataSource]="bankAccounts$ | async"
        [height]="'100%'"
        (accountsEntitiesBindingChanged)="reloadGrid(true)"
        (selectionChanged)="selectedAccountsChange($event)"
        (onUpdateAccount)="onUpdateAccount($event)"
        (reloadDataSource)="loadBankAccounts()"
        (onDataChange)="bankAccountDataChanged()">
    </bank-accounts-widget>
</div>
