<div class="entity-selection">
    <selection-filter
        [title]="l('Financial_Accounts_For')"
        [allItemsText]="l('All_Entities')"
        (selectionChanged)="entitiesItemsChanged($event)"
        [selectionList]="businessEntities$ | async">
    </selection-filter>
</div>
<div class="accountsSummary">
    <info-component imageSource="assets/common/icons/coins-icon.svg" [value]="accountsDataTotalNetWorth$ | async  | currency: accountsData?.currency : 'symbol' : '1.2-2'" [description]="l('Current_Balance')"></info-component>
    <info-component imageSource="assets/common/icons/total-icon.svg" [value]="syncAccountsAmount$ | async" [description]="l('Institutions')"></info-component>
    <info-component imageSource="assets/common/icons/total-icon.svg" [value]="accountsAmount$ | async" [description]="l('Accounts')"></info-component>
</div>
<div class="bank-accounts">
    <bank-accounts-widget
        [height]="'100%'"
        [dataSource]="bankAccounts$ | async"
        (selectionChanged)="selectedAccountsChange($event)">
    </bank-accounts-widget>
</div>
