<div class="entity-selection">
    <selection-filter
        [allItemsText]="l('All_Entities')"
        [title]="l('Financial_Accounts_For')"
        [selectionList]="bankAccountsService.allBusinessEntities$ | async"
        [selectedItems]="bankAccountsService.selectedBusinessEntitiesIds$ | async"
        (selectionChanged)="entitiesItemsChanged($event)">
    </selection-filter>
    <add-account-button *ngIf="isInstanceAdmin" class="add-link" (onClose)="addAccountClose($event)"></add-account-button>
</div>
<div class="accountsSummary">
    <info-component imgSrc="assets/common/icons/coins-icon.svg" [value]="bankAccountsService.accountsDataTotalNetWorth$ | async  | currency: 'USD' : 'symbol' : '1.2-2'" [description]="l('Current_Balance')"></info-component>
    <info-component imgSrc="assets/common/icons/total-icon.svg" [value]="bankAccountsService.syncAccountsAmount$ | async" [description]="l('Institutions')"></info-component>
    <info-component imgSrc="assets/common/icons/total-icon.svg" [value]="bankAccountsService.accountsAmount$ | async" [description]="l('Accounts')"></info-component>
</div>
<div>
</div>
<div class="bank-accounts">

    <div class="filter-actions-is-active">
        <div class="is-active-filter">
            <span>{{bankAccountsService.cachedData.isActive !== false ? l('Active') : l('Disabled')}}</span>
            <dx-switch [value]="bankAccountsService.cachedData.isActive !== false" (onValueChanged)="isActiveChanged($event)" [width]="32"></dx-switch>
        </div>
    </div>

    <bank-accounts-widget
        [allowBankAccountsEditing]="true"
        [allowUpdateAccount]="true"
        [dataSource]="syncAccounts$ | async"
        [height]="'100%'"
        (selectionChanged)="selectedAccountsChange($event)"
        (onUpdateAccount)="onUpdateAccount($event)"
        (reloadDataSource)="bankAccountsService.load()"
        (onDataChange)="bankAccountDataChanged()">
    </bank-accounts-widget>
</div>
