<div class="referral-status-card">
  <h3 class="section-title">
    <img src="./assets/images/icons/traffic-user-check.svg" class="checkIcon green" alt="checkicon"> UTM Parameters
  </h3>
  <p class="section-subtitle">Referral source and lead information</p>

  <div class="referral-box">
    <div class="info-item">
      <label><img src="./assets/images/icons/traffic-user-check.svg" class="checkIcon green" alt="checkicon"> Referring Person</label>
      <div class="highlight-box bold">{{ referrerName }}</div>
    </div>
    <div class="info-item">
      <label><lucide-tag class="icon-sm"></lucide-tag> Tracking Code</label>
      <div class="highlight-box">{{ trackingCode }}</div>
    </div>
  </div>

  <div class="lead-header">
    <h3><img src="./assets/images/icons/traffic-trending-up.svg" class="checkIcon green" alt="trending-up"> Lead Status</h3>
    <span class="badge">New Lead</span>
  </div>

  <div class="lead-status">
    <div class="status-row">
      <div>
        <img src="./assets/images/icons/traffic-dollar-sign.svg" class="checkIcon blue" alt="trending-up" />
        <label>Deal Amount</label>
      </div>
      <div class="value-wrapper">
        <span class="value placeholder">Enter value</span>
        <img src="./assets/images/icons/traffic-copy.svg" class="copyIcon" alt="trending-up" />
      </div>
    </div>
    <div class="status-row">
      <div>
        <img src="./assets/images/icons/traffic-calendar.svg" class="checkIcon" alt="copy-up" />
        <label>First Visit</label>
      </div>
      <div class="value-wrapper">
        <span class="value">{{ firstVisit }}</span>
        <img src="./assets/images/icons/traffic-copy.svg" class="copyIcon" alt="copy-up" />
      </div>
    </div>
    <div class="status-row">
      <div>
        <img src="./assets/images/icons/traffic-clock.svg" class="checkIcon" alt="copy-up" />
        <label>Last Modified</label>
      </div>
      <div class="value-wrapper">
        <span class="value">{{ lastModified }}</span>
        <img src="./assets/images/icons/traffic-copy.svg" class="copyIcon" alt="copy-up" />
      </div>
    </div>
  </div>
</div>
