:host {
    display: block;
    padding: 1rem;

    @media screen and (min-width: 768px) {
        padding: 2rem;
    }

    ::ng-deep settings-card {
        margin-bottom: 2.5rem;
    }

    .form-control, 
    ::ng-deep dx-select-box, 
    ::ng-deep dx-select-box input, 
    ::ng-deep timezone-combo, 
    ::ng-deep timezone-combo input, 
    ::ng-deep currency-selector, 
    ::ng-deep currency-selector input, 
    ::ng-deep country-phone-number, 
    ::ng-deep country-phone-number input  {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .form-control {
        padding: 10px 8px;
    }

    ::ng-deep country-phone-number {
        .wrapper {
            width: 100% !important;

            .flagInput {
                align-self: center;
            }
        }

        .list-group-item {
            font-size: 1rem;
        }
    }

    .row {
        width: 100%;
    }
}

::ng-deep .flag-field {
    background-color: #fff;
    border: 1px solid #ebedf2;
    padding: 0.65rem 1rem;
    border-radius: 0.25rem;

    span, b {
        vertical-align: middle;
    }

    ::ng-deep dx-text-box {
        display: inline-block !important;
        height: 22px;
        input {
            border: none;
            min-height: 20px;
        }
    }
}

::ng-deep .flag-row {
    border-bottom: 1px solid #E5E8F3;
    padding: 7px 0px!important;
    margin: 0 10px;
    display: flex;
    width: calc(100% - 20px);
    font-size: 1rem;

    .flag-icon {
        border-radius: 10px;
        border: 1px solid #dedede;
    }
    div {
        display: inline-block;
        margin: auto 0 auto 10px;
        white-space: pre-wrap;
    }
}