:host {
    display: block;

    ::ng-deep country-phone-number {
        .wrapper {
            width: 100% !important;

            .flagInput {
                align-self: center;
            }
        }
    }
}
