.socials {  
  li {
    display: inline-block;
    margin: 10px;
    font-size: 34px;

    i.fa-facebook {
      color: #455ea2;
    }
    i.fa-twitter {
      color: #5ca7e2;
    }
    i.fa-pinterest {
      color: #cd0f00;
    }
    i.fa-google-plus {
      color: #dd4b39;
    }

    i.fa-linkedin {
      color: #007bb6;
    }
  }

  ul.others {
    padding-left: 0;
   
    li {
      margin-bottom: 10px;
      display: flex;
      vertical-align: middle;
      align-items: center;

      a {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.67;
        letter-spacing: 0.3px;
        color: #424c56;
      }
    }
  }
}