.socials li {
    display: inline-block;
    margin: 10px;
    font-size: 34px;
}

.socials li .fa-facebook-official {
    color: #455ea2;
}

.socials li .fa-twitter {
    color: #5ca7e2;
}

.socials li .fa-pinterest {
    color: #cd0f00;
}