<app-modal-dialog #modal>
    <dx-scroll-view showScrollbar="onHover">
        <form #roleForm="ngForm" novalidate (ngSubmit)="save()" *ngIf="active">
            <div class="modal-body">
                <tabset class="tab-container tabbable-line">
                    <tab heading="{{l('EditionProperties')}}" customClass="m-tabs__item">
                        <div class="form-group">
                            <label for="EditionDisplayName">{{l("EditionName")}} *</label>
                            <input id="EditionDisplayName" #editionNameInput="ngModel" class="form-control" type="text" name="EditionDisplayName" [ngClass]="{'edited':edition.displayName}" [(ngModel)]="edition.displayName" required maxlength="64">
                            <validation-messages [formCtrl]="editionNameInput"></validation-messages>
                        </div>

                        <label>{{l("SubscriptionPrice")}}</label>
                        <div class="m-radio-inline">
                            <label for="EditEdition_IsFree" class="m-radio">
                                <input id="EditEdition_IsFree" name="SubscriptionPrice" [(ngModel)]="isFree" (ngModelChange)="resetPrices()" [value]="true" type="radio">
                                {{l("Free")}}
                                <span></span>
                            </label>
                            <label for="EditEdition_IsPaid" class="m-radio">
                                <input id="EditEdition_IsPaid" name="SubscriptionPrice" [(ngModel)]="isFree" [value]="false" type="radio">
                                {{l("Paid")}}
                                <span></span>
                            </label>
                        </div>
                        <div class="row" *ngIf="!isFree">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="MonthlyPrice">{{l("MonthlyPrice")}}</label>
                                    <input #monthlyPriceInput="ngModel"
                                           type="text"
                                           name="MonthlyPrice"
                                           id="MonthlyPrice"
                                           currencyInput
                                           class="form-control"
                                           autocomplete="off"
                                           [ngClass]="{'edited':edition.monthlyPrice}"
                                           [required]="!isFree"
                                           [(ngModel)]="edition.monthlyPrice" />
                                    <validation-messages [formCtrl]="monthlyPriceInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="AnnualPrice">{{l("AnnualPrice")}}</label>
                                    <input #annualPriceInput="ngModel"
                                           type="text"
                                           name="AnnualPrice"
                                           id="AnnualPrice"
                                           currencyInput
                                           class="form-control"
                                           autocomplete="off"
                                           [ngClass]="{'edited':edition.annualPrice}"
                                           [required]="!isFree"
                                           [(ngModel)]="edition.annualPrice" />
                                    <validation-messages [formCtrl]="annualPriceInput"></validation-messages>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="isFree" class="paid-features">
                            <div class="m-checkbox-list">
                                <label for="EditEdition_IsTrialActive" class="m-checkbox">
                                    <input id="EditEdition_IsTrialActive" type="checkbox" name="isTrialActive" [(ngModel)]="isTrialActive" />
                                    {{l("IsTrialActive")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group trial-day-count" *ngIf="isTrialActive">
                                <label for="TrialDayCount">{{l("TrialDayCount")}}</label>
                                <input #trialDayCountInput="ngModel"
                                       class="form-control"
                                       type="number"
                                       name="TrialDayCount"
                                       id="TrialDayCount"
                                       [required]="isTrialActive"
                                       [(ngModel)]="edition.trialDayCount"
                                       [ngClass]="{'edited':edition.trialDayCount}">
                                <validation-messages [formCtrl]="trialDayCountInput"></validation-messages>
                            </div>
                            <div class="m-checkbox-list">
                                <label for="EditEdition_IsWaitingDayActive" class="m-checkbox">
                                    <input id="EditEdition_IsWaitingDayActive" class="md-check" type="checkbox" name="IsWaitingDayActive" [(ngModel)]="isWaitingDayActive" />
                                    {{l("WaitAfterSubscriptionExpireDate")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group waiting-day-after-expire" *ngIf="isWaitingDayActive">
                                <label for="WaitingDayAfterExpire">{{l("WaitingDayAfterExpire")}}</label>
                                <input #waitingDayAfterExpireInput="ngModel"
                                       class="form-control"
                                       type="number"
                                       name="WaitingDayAfterExpire"
                                       id="WaitingDayAfterExpire"
                                       [required]="isWaitingDayActive"
                                       [(ngModel)]="edition.waitingDayAfterExpire"
                                       [ngClass]="{'edited':edition.waitingDayAfterExpire}">
                                <validation-messages [formCtrl]="waitingDayAfterExpireInput"></validation-messages>
                            </div>
                            <label>{{l("WhatWillDoneAfterSubscriptionExpiry")}}</label>
                            <div class="m-radio-inline">
                                <label for="EditEdition_ExpireAction_DeactiveUser" class="m-radio">
                                    <input id="EditEdition_ExpireAction_DeactiveUser" name="ExpireAction" [(ngModel)]="expireAction" [value]="expireActionEnum.DeactiveTenant" (ngModelChange)="removeExpiringEdition()" type="radio">
                                    {{l("DeactiveTenant")}}
                                    <span></span>
                                </label>
                                <label for="EditEdition_ExpireAction_AssignEdition" class="m-radio">
                                    <input id="EditEdition_ExpireAction_AssignEdition" name="ExpireAction" [(ngModel)]="expireAction" [value]="expireActionEnum.AssignToAnotherEdition" type="radio">
                                    {{l("AssignToAnotherEdition")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group edition-list" *ngIf="expireAction == expireActionEnum.AssignToAnotherEdition">
                                <select name="expiringEdition" class="form-control edited" [(ngModel)]="edition.expiringEditionId" [minValue]="expireAction == expireActionEnum.AssignToAnotherEdition ? 1:0" [ngClass]="{'edited':edition.expiringEditionId}">
                                    <option *ngFor="let expiringEdition of expiringEditions" [value]="expiringEdition.value">{{expiringEdition.displayText}}</option>
                                </select>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{l('Features')}}" customClass="m-tabs__item">
                        <feature-tree [editData]="editData" #featureTree></feature-tree>
                    </tab>
                </tabset>
            </div>
        </form>
    </dx-scroll-view>
</app-modal-dialog>
