<div [@routerTransition]>
    <app-headline [names]="[ l('Products') ]"
                  [showToggleButton]="true"
                  [buttons]="headlineButtons"
                  [showToggleToolbarButton]="true"
                  [showToggleFullScreenButton]="true"
                  [showReloadButton]="true"
                  [showToggleCompactViewButton]="true"
                  (onToggleToolbar)="toggleToolbar()"
                  (onToggleCompactView)="toggleCompactRowHeight()"
                  (onTooggleFullScreen)="toggleFullScreen()"
                  (onReload)="refreshDataGrid()">
    </app-headline>
    <dx-tooltip width="200px"
                [target]="'.dx-state-hover .dx-link.dx-link-edit'"
                [visible]="actionRecord"
                (onHidden)="actionRecord = null">
        <div *dxTemplate="let data of 'content'">
            <div class="lists-tooltip-container">
                <dx-list [dataSource]="actionMenuItems"
                         (onItemClick)="onMenuItemClick($event)">
                </dx-list>
            </div>
        </div>
    </dx-tooltip>

    <div class="portlet light no-padding margin-bottom-0">
        <div class="portlet-body">
            <div>
                <div id="productsGrid">
                    <dx-data-grid id="gridContainer"
                                  [allowColumnReordering]="true"
                                  [columnAutoWidth]="true"
                                  [allowColumnResizing]="true"
                                  [hoverStateEnabled]="true"
                                  [pager]="defaultGridPagerConfig"
                                  (onContentReady)="onContentReady()"
                                  (onCellClick)="this.openCreateOrEditDialog($event.data.id)"
                                  (onEditingStart)="showActionsMenu($event)"
                                  [dataSource]="dataSource">
                        <dxo-editing mode="popup" [allowUpdating]="true"></dxo-editing>
                        <dxi-column caption="{{l('CreationTime')}}" dataField="creationTime" dataType="date"></dxi-column>
                        <dxi-column caption="{{l('EditionName')}}" dataField="displayName"></dxi-column>
                        <dxi-column caption="{{l('PackageName')}}" dataField="packageName"></dxi-column>
                        <dxi-column caption="{{l('ModuleName')}}" dataField="module"></dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</div>
