<div> 
    <app-headline [names]="[ l('Products') ]"
                  [buttons]="headlineButtons"
                  [showToggleToolbarButton]="true"
                  [showToggleFullScreenButton]="true"
                  [showReloadButton]="ui.showReload"
                  [showToggleCompactViewButton]="true"
                  [showToggleColumnSelectorButton]="true"
                  [showStateResetButton]="true"
                  (onToggleToolbar)="toggleToolbar()"
                  (onToggleCompactView)="toggleCompactRowHeight()"
                  (onToggleFullScreen)="toggleFullScreen()"
                  (onReload)="invalidate()"
                  (onStateReset)="dataGrid.instance.state(null)"
                  (onToggleColumnSelector)="toggleColumnChooser()">
    </app-headline>
    <app-toolbar [config]="toolbarConfig" [hidden]="appService.toolbarIsHidden$ | async"></app-toolbar>
    <action-menu [items]="actionMenuItems"
                 [visible]="!!actionRecord"
                 (onItemClick)="onMenuItemClick($event)"
                 (onHidden)="actionRecord = null">
    </action-menu>

    <div class="main-wrapper portlet light no-padding margin-bottom-0">
        <div class="portlet-body">
            <div>
                <div id="productsGrid">
                    <ghost-list [hidden]="isDataLoaded"></ghost-list>
                    <dx-data-grid class="main-component-view"
                                  [renderAsync]="true"
                                  [allowColumnReordering]="true"
                                  [columnAutoWidth]="true"
                                  [allowColumnResizing]="true"
                                  [hoverStateEnabled]="true"
                                  [loadPanel]="{ enabled: false }"
                                  [pager]="defaultGridPagerConfig"
                                  (onInitialized)="onInitialized($event)"
                                  (onContentReady)="onContentReady()"
                                  (onOptionChanged)="onGridOptionChanged($event)"
                                  (onCellClick)="openCreateOrEditDialog($event)"
                                  (onEditingStart)="toggleActionsMenu($event)"
                                  [dataSource]="dataSource">
                        <dxo-editing mode="popup" [allowUpdating]="true" [texts]="{editRow: ''}"></dxo-editing>
                        <dxi-column [caption]="l('ModuleName')"
                                    dataField="module"
                                    cssClass="clipboard-holder"
                                    width="25%">
                        </dxi-column>
                        <dxi-column [caption]="l('PackageName')"
                                    dataField="packageName"
                                    cssClass="clipboard-holder"
                                    width="25%">
                        </dxi-column>
                        <dxi-column [caption]="l('EditionName')"
                                    dataField="displayName"
                                    cssClass="clipboard-holder"
                                    width="25%">
                        </dxi-column>
                        <dxi-column [caption]="l('CreationTime')"
                                    dataField="creationTime"
                                    dataType="date"
                                    cssClass="clipboard-holder"
                                    width="25%">
                        </dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</div>
