@import 'colors';
@font-family: Poppins, Lato, Helvetica, sans-serif;

.Dashboard__main,
.solo,
.GoalsModal__overlay {
    background: #ffffff;
}
*, body {
    font-family: @font-family;
}

.solo {
    border-top: 20px solid @lend-space-main-color;
}

html {
    overflow: scroll;
    overflow-x: hidden;

    @media (min-width: 768px) {
        width: 89vw;
    }
    @media (min-width: 1066px) {
        width: 84vw;
    }
    @media (min-width: 1120px) {
        width: 79vw;
    }
    @media (min-width: 1220px) {
        width: 69vw;
    }
}
::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.css-15ljlg,
.override__button {
    border-radius: 2px;
    background-color: @lend-space-main-color;
    font-family: @font-family;
    font-size: 18px;
    color: #000000;
    transition: 0.2s;
    border: none;
    &:hover {
        background-color: @lend-space-hover-color;
        box-shadow: 0 0 3px rgba(255, 204, 0, 0.5);
    }
}

button {
    &.css-gitmpn {
        border-color: @lend-space-main-color;
    }

    &.css-o0wm01 {
        border-color: @lend-space-main-color;
        background: @lend-space-main-color;
    }
    &.css-1pf61fi,
    &.btn--primary {
        background-color: @lend-space-main-color;
        border-color: @lend-space-main-color;
        color: #000;
        &:hover, &:focus {
            background-color: @lend-space-hover-color;
            border-color: @lend-space-hover-color;
        }
    }
}

#quovo-connect-modal.quovo-connect button.connect-btn {
    &, &.blue {
        background-color: @lend-space-main-color;
        color: #000;
        &:hover {
            background-color: @lend-space-hover-color;
        }
    }
}

.Connection-card__connection-info {
    color: #000 !important;
    .Connection-card__color-bar {
        background-color: @lend-space-main-color !important;
        .Connection-card__more {
            color: #000000;
        }
    }
}

@media (min-width: 768px) {
    .PFM__header,
    .Content-container {
        padding-right: 5px;
    }
}
