@import '../../../../fonts/fonts-poppins.css';
.Dashboard__main,
.solo,
.GoalsModal__overlay {
  background: #ffffff;
}
*,
body {
  font-family: Poppins !important;
}
.solo {
  border-top: 20px solid #ffcc00;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
.css-15ljlg,
.override__button {
  border-radius: 2px;
  background-color: #ffcc00;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #000000;
  transition: 0.2s;
  border: none;
}
.css-15ljlg:hover,
.override__button:hover {
  background-color: #e0b400;
  box-shadow: 0 0 3px rgba(255, 204, 0, 0.5);
}
button.css-gitmpn {
  border-color: #ffcc00;
}
button.css-o0wm01 {
  border-color: #ffcc00;
  background: #ffcc00;
}
button.css-1pf61fi {
  background-color: #ffcc00;
  color: #000;
}
button.css-1pf61fi:hover {
  background-color: #e0b400;
}
.Connection-card__connection-info {
  color: #000 !important;
}
.Connection-card__connection-info .Connection-card__color-bar {
  background-color: #ffcc00 !important;
}
.Connection-card__connection-info .Connection-card__color-bar .Connection-card__more {
  color: #000000;
}
@media (min-width: 768px) {
  .PFM__header,
  .Content-container {
    padding-right: 0;
  }
}
