:host {
  .searchbar-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
    height: 48px;

    .search-icon {
      position: absolute;
      left: 12px;
      pointer-events: none;
      display: flex;
      align-items: center;
      height: 100%;

      lucide-angular {
        display: flex;
      }

      ::ng-deep lucide-angular svg {
        width: 16px;
        height: 16px;
        stroke-width: 1.5;
      }
    }

    input {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(45 53 68);
      background-color: rgb(35 40 54);
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 36px;
      font-size: 16px;
      line-height: 24px;
      color: rgb(255 255 255);

      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    input::placeholder {
      color: #6b7280;
    }

    button {
      position: absolute;
      cursor: pointer;
      background-color: transparent;
      background-image: none;
      padding: 4px;
      right: 12px;
      border-radius: 9999px;
      color: rgb(156 163 175);
      border: none;
      outline: none;

      .clear-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
      }

      .clear-x {
        font-size: 15.6px;
        line-height: 20px;
      }
    }

    button.dark-mode {
      color: #9ca3af;
      &:hover {
        color: white;
        background-color: #374151;
      }
    }

    button.white-mode {
      color: #6b7280;
      &:hover {
        color: #111827;
        background-color: #f3f4f6;
      }
    }
  }
}
