<div [@routerTransition]>
    <app-headline [names]="[ l('Customers') ]"
                  icon="people"
                  [buttons]="headlineButtons"
                  [showToggleCompactViewButton]="showDataGrid"
                  [showToggleToolbarButton]="true"
                  [showToggleFullScreenButton]="true"
                  [showReloadButton]="ui.showReload"
                  [showToggleColumnSelectorButton]="showDataGrid || showPivotGrid"
                  [showStateResetButton]="showDataGrid"
                  [showTotalCount]="true"
                  [totalCount]="totalCount"
                  [totalErrorMsg]="totalErrorMsg"
                  (onToggleToolbar)="repaintDataGrid()"
                  (onToggleCompactView)="toggleCompactView()"
                  (onToggleFullScreen)="repaintDataGrid(100)"
                  (onReload)="refresh()"
                  (onStateReset)="dataGrid.instance.state(null)"
                  (onToggleColumnSelector)="toggleColumnChooser()">
        <import-progress-bar></import-progress-bar>
    </app-headline>
    <app-toolbar [config]="toolbarConfig" [hidden]="appService.toolbarIsHidden$ | async"></app-toolbar>
    <div class="main-wrapper">
        <dx-context-menu [items]="[
                { text: this.l('AffectOnPageItems'), mode: 'page' },
                { text: this.l('AffectAllPagesItems'), mode: 'allPages' }
            ]"
            (onItemClick)="selectionModeChanged($event)"
            target=".dx-header-row">
        </dx-context-menu>
        <action-menu [items]="actionMenuGroups"
                [visible]="!!actionEvent"
                [grouped]="true"
                class="grouped-action-menu"
                width="300px"
                target=".dx-state-hover .dx-link.dx-link-edit"
                (onItemClick)="onMenuItemClick($event)">
        </action-menu>
        <source-contact-list #sourceList
            targetSelector=".dx-button.referred-by"
            [showOrgUnits]="true"
            [filterModel]="filterModelSource"
            [selectedLeads]="[]"
            [filterModelOrgUnit]="filterModelOrgUnit"
            [selectedKeys]="[]"
            [relatedItemsKeys]="[]"
            (onOwnerFilterApply)="onOwnerFilterApply($event)">
        </source-contact-list>
        <app-static-list
                [width]="'180px'"
                [title]="l('Status')"
                [showConfirmation]="false"
                [relatedItemsKeys]="selectedClientKeys"
                [highlightSelected]="true"
                [hideButtons]="true"
                [filterModel]="filterModelStatus"
                targetSelector="[aria-label='{{l('Toolbar_Status')}}']"
                [list]="statuses"
                (onItemSelected)="updateClientStatuses($event)">
        </app-static-list>
        <tags-list [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [filterModel]="filterModelTags"></tags-list>
        <lists-list [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [filterModel]="filterModelLists"></lists-list>
        <user-assignment-list [selectedKeys]="selectedClientKeys"
                [bulkUpdateMode]="true"
                [filterModel]="filterModelAssignment"
                [proxyService]="contactProxy"
                [permissionKey]="permissions.CRMCustomersManageAssignments"
                [assignedUsersSelector]="assignedUsersSelector">
        </user-assignment-list>
        <rating [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [filterModel]="filterModelRating"></rating>
        <crm-stars-list [selectedKeys]="selectedClientKeys"
                        [bulkUpdateMode]="true"
                        [filterModel]="filterModelStar"
                        [hideButtons]="isBankCodeLayoutType">
        </crm-stars-list>
        <div [hidden]="hideDataGrid$ | async" class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div id="ClientsTable">
                    <ghost-list [hidden]="isDataLoaded"></ghost-list>
                    <dx-data-grid class="main-component-view limitedPagerTotal"
                                  accesskey="narrowHeaderPanel"
                                  [renderAsync]="true"
                                  [rowDragging]="{
                                      cursorOffset: {x: 30},
                                      allowDropInsideItem: isMergeAllowed,
                                      showDragIcons: false,
                                      onDragEnd: onDragEnd
                                  }"
                                  [dataSource]="dataSource"
                                  [allowColumnReordering]="true"
                                  [columnAutoWidth]="true"
                                  [allowColumnResizing]="true"
                                  [loadPanel]="{ enabled: false }"
                                  [hoverStateEnabled]="true"
                                  [columnChooser]="{
                                    height: rowsViewHeight
                                  }"
                                  [twoWayBindingEnabled]="false"
                                  [remoteOperations]="{
                                      filtering: false,
                                      grouping: false,
                                      groupPaging: true,
                                      paging: true,
                                      sorting: true,
                                      summary: true
                                  }"
                                  (onContentReady)="onContentReady($event)"
                                  (onCellClick)="onCellClick($event)"
                                  (onOptionChanged)="onOptionChanged($event)"
                                  (onEditingStart)="toggleActionsMenu($event)"
                                  (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
                        <dxo-pager [visible]="true"></dxo-pager>
                        <dxo-selection selectAllMode="page"
                                       showCheckBoxesMode="always"
                                       mode="multiple">
                        </dxo-selection>
                        <dxo-editing mode="popup"
                            [texts]="{ editRow: '' }"
                            [popup]="{ onShowing: onShowingPopup, height: '0px', width: '0px' }"
                            [allowUpdating]="true">
                        </dxo-editing>
                        <dxo-scrolling mode="infinite"></dxo-scrolling>
                        <dxi-column cssClass="stars"
                                    [width]="40"
                                    [showInColumnChooser]="false"
                                    [allowExporting]="false">
                        </dxi-column>
                        <dxi-column [dataField]="clientFields.Id"
                                    [caption]="l('Id')"
                                    cssClass="tabular clipboard-holder"
                                    [visible]="false"
                                    sortOrder="desc"
                                    [sortIndex]="0">
                        </dxi-column>
                        <dxi-column [dataField]="clientFields.PhotoPublicId"
                                    caption=""
                                    cellTemplate="photoTemplate"
                                    [width]="50"
                                    [showInColumnChooser]="false"
                                    [allowExporting]="false"
                                    [allowGrouping]="false"
                                    [allowSorting]="false">
                        </dxi-column>
                        <div *dxTemplate="let data of 'photoTemplate'">
                            <div [ngStyle]="{'background-image': 'url(' + profileService.getContactPhotoUrl(data.data.PhotoPublicId) + ')'}" class="img-circle"></div>
                        </div>
                        <dxi-column [dataField]="clientFields.UserId" [caption]="l('UserId')" cssClass="clipboard-holder" [visible]="false"></dxi-column>
                        <dxi-column [dataField]="clientFields.Name" [caption]="l('Customer.Name')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column [dataField]="clientFields.CompanyName" [caption]="l('Customer.CompanyName')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column [dataField]="clientFields.Email" [caption]="l('Contact.Email')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column [dataField]="clientFields.Phone" [caption]="l('Contact.Phone')" cellTemplate="phoneCell" cssClass="tabular" [renderAsync]="true"></dxi-column>
                        <dxi-column [dataField]="clientFields.City" [caption]="l('Contact.City')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column [dataField]="clientFields.State" [caption]="l('State')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column [dataField]="clientFields.Xref" [caption]="l('Xref')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column [dataField]="clientFields.AffiliateCode" [caption]="l('AffiliateCode')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                        <ng-container *ngIf="tenantHasBankCodeFeature">
                            <dxi-column [dataField]="clientFields.BankCode"
                                        cellTemplate="bankCodeCell"
                                        [caption]="l('BankCode')"
                                        [renderAsync]="true"
                                        [visible]="tenantHasBankCodeFeature"
                                        [showInColumnChooser]="tenantHasBankCodeFeature">
                            </dxi-column>
                        </ng-container>
                        <dxi-column [dataField]="clientFields.AssignedUserName" [caption]="l('Contact.AssignedUserName')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column [dataField]="clientFields.IsActive" [caption]="l('Active')" dataType="boolean"></dxi-column>
                        <dxi-column [dataField]="clientFields.IsProspective" [caption]="l('Prospective')" dataType="boolean" [visible]="false"></dxi-column>
                        <div *dxTemplate="let cellData of 'statusCell'">
                            <div [class]="'client-status ' + cellData.value | lowercase">
                                {{cellData.value}}
                            </div>
                        </div>
                        <div *dxTemplate="let cellData of 'bankCodeCell'">
                            <bank-code-letters [bankCode]="cellData.value"
                                               [showDescriptionsOnClick]="true"
                                               [showReportLink]="true">
                            </bank-code-letters>
                        </div>
                        <dxi-column [dataField]="clientFields.ContactDate" dataType="string" [caption]="l('Created')" cellTemplate="dateCell" cssClass="tabular"></dxi-column>
                        <dxi-column [visible]="isCfoLinkOrVerifyEnabled"
                                    name="LinkToCFO"
                                    cellTemplate="linkToCFOTemplate"
                                    [width]="120"
                                    [renderAsync]="true"
                                    [showInColumnChooser]="false"
                                    [allowExporting]="false"
                                    [allowEditing]="false">
                        </dxi-column>
                        <dxi-column [dataField]="clientFields.AffiliateContactName"
                                    [caption]="l('AffiliateContactName')"
                                    [visible]="false"
                                    cssClass="clipboard-holder">
                        </dxi-column>
                        <dxi-column [dataField]="clientFields.AffiliateContactEmailAddress"
                                    [caption]="l('AffiliateContactEmailAddress')"
                                    [visible]="false"
                                    cssClass="clipboard-holder">
                        </dxi-column>
                        <dxi-column [dataField]="clientFields.AffiliateContactAffiliateCode"
                                    [caption]="l('AffiliateContactAffiliateCode')"
                                    [visible]="false"
                                    cssClass="clipboard-holder">
                        </dxi-column>
                        <dxi-column [dataField]="clientFields.AffiliateRate"
                                    [caption]="l('AffiliateRate')"
                                    format="percent"
                                    [visible]="false"
                                    cssClass="clipboard-holder">
                        </dxi-column>
                        <dxi-column [dataField]="clientFields.AffiliateRateTier2" 
                                    [caption]="l('AffiliateRateTier2')"
                                    format="percent" 
                                    [visible]="false"
                                    cssClass="clipboard-holder">
                        </dxi-column>

                        <div *dxTemplate="let data of 'linkToCFOTemplate'">
                            <div *ngIf="isCFOClientAccessAllowed && usersInstancesLoadingSubscription && usersInstancesLoadingSubscription.closed">
                                <ng-container *ngIf="crmService.isCfoAvailable(data.data.UserId) | async; else verify">
                                    <span>
                                        <span class="link-to-cfo-column" (click)="appService.redirectToCFO(data.data.UserId)"></span>
                                    </span>
                                </ng-container>
                                <ng-template #verify>
                                    <span *ngIf="canSendVerificationRequest && data.data.StatusId === contactStatus.Active">
                                        <a class="link link-request-verification" (click)="requestVerification(data.data)"><div class="verify-icon"></div>{{l('ClientDetails_RequestVerification') | uppercase}}</a>
                                    </span>
                                </ng-template>
                            </div>
                        </div>
                        <div *dxTemplate="let cellData of 'dateCell'" class="clipboard-holder">
                            {{cellData.value | datetime: formatting.dateTimeMoment }}
                        </div>
                        <div *dxTemplate="let cellData of 'phoneCell'" class="clipboard-holder">
                            {{cellData.value | phone}}
                        </div>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="20"></dxo-paging>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-summary>
                            <dxi-group-item [column]="clientFields.Id"
                                            summaryType="count"
                                            [displayFormat]="'{0} ' + l('Customers').toLocaleLowerCase()">
                            </dxi-group-item>
                        </dxo-summary>
                    </dx-data-grid>
                </div>
            </div>
        </div>
        <div [hidden]="hidePivotGrid$ | async">
            <slice-pivot-grid [storageKey]="sliceStorageKey"
                              [isLoading]="pivotGridDataIsLoading"
                              [height]="contentHeight$ | async">
            </slice-pivot-grid>
        </div>
        <div [hidden]="hideChart$ | async">
            <slice-chart [width]="contentWidth$ | async"
                         [height]="contentHeight$ | async"
                         [infoItems]="chartInfoItems"
                         [itemsName]="l('Customers')"
                         [title]="l('Customers') + ' ' + l('number')"
                         argumentField="creationDate"
                         valueField="count">
            </slice-chart>
        </div>
        <div [hidden]="hideMap$ | async">
            <slice-info [items]="mapInfoItems$ | async"></slice-info>
            <slice-map [width]="contentWidth$ | async"
                       [height]="mapHeight$ | async"
                       [contactGroupText]="l('Customers').toLowerCase()"
                       [dataIsLoading]="mapDataIsLoading"
                       areaClickLink="app/crm/clients"
                       [data]="mapData$ | async"
                       (onMapItemClick)="mapItemClick($event)">
            </slice-map>
        </div>
    </div>
</div>

<app-no-data
    [hidden]="!isDataLoaded || totalRowCount"
    [showLink]="false">
</app-no-data>
