<div class="photo-area" (click)="showUploadPhoto($event)" [ngStyle]="{'background-image': photoOriginalData ? 'url(' + photoOriginalData + ')': ''}"></div>
<modal-dialog>
    <app-toolbar [config]="toolbarConfig"></app-toolbar>
    <mat-sidenav class="main_sidenav" mode="side" align="end" opened="true">
      <mat-tab-group>
        <mat-tab *ngFor="let type of ['personal', 'business']" label="{{l(type) | uppercase}}">
          <div class="tab-content">
              <div class="field" *ngIf="type == 'business'">
                  <label>{{l('Company')}}</label>
                  <dx-text-box #companyComponent
                    name="company"
                    [width]="'360px'"
                    [(value)]="company">
                  </dx-text-box>
              </div>
              <dx-validation-group (onInitialized)="initValidationGroup($event, 'emailValidator')">
                  <div class="field email">
                      <label>{{l('Email')}}</label>
                      <dx-text-box #emailComponent
                        name="email"
                        [width]="'260px'"
                        (onKeyUp)="onEmailKeyUp($event, type)"
                        [(value)]="emailAddress[type]"
                        (onInitialized)="onComponentInitialized($event, 'emails', type)">
                        <dx-validator>
                          <dxi-validation-rule type="email" message="{{l('EmailIsNotValid')}}."></dxi-validation-rule>
                        </dx-validator>
                      </dx-text-box>
                      <dx-select-box
                        width="100px"
                        name="emailType"
                        placeholder="{{l('Type')}}"
                        [dataSource]="emailTypes"
                        [disabled]="!showEmailAddButton[type]"
                        displayExpr="name"
                        valueExpr="id"
                        [value]="emailType[type]"
                        (onValueChanged)="onTypeChanged($event, 'email', type)">
                      </dx-select-box>
                      <span class="add-contact" (click)="addContact('emails', type)" *ngIf="showEmailAddButton[type]">+</span>
                  </div>
              </dx-validation-group>
              <div class="field" *ngFor="let email of contacts.emails[type]; index as i">
                  <p class="{{email.type}}">{{email.email}}<span (click)="removeContact('emails', type, i)"></span></p>
              </div>
              <div class="field phone H">
                  <label>{{l('Phone')}}</label>
                  <dx-text-box
                    name="phone"
                    maskInvalidMessage="{{l('PhoneValidationError')}}"
                    [mask]="masks.phone"
                    [width]="'205px'"
                    [(value)]="phoneNumber[type]"
                    (onKeyUp)="onPhoneKeyUp($event, type)"
                    (onFocusIn)="focusInput($event)"
                    (onInitialized)="onComponentInitialized($event, 'phones', type)">
                  </dx-text-box>
                  <dx-number-box
                    name="phoneExtension"
                    [width]="'50px'"
                    [placeholder]="l('Ext')"
                    [(value)]="phoneExtension[type]">
                  </dx-number-box>
                  <dx-select-box
                    width="100px"
                    name="phoneType"
                    [disabled]="!showPhoneAddButton[type]"
                    placeholder="{{l('Type')}}"
                    [dataSource]="phoneTypes"
                    displayExpr="name"
                    valueExpr="id"
                    [value]="phoneType[type]"
                    (onValueChanged)="onTypeChanged($event, 'phone', type)">
                  </dx-select-box>
                  <span class="add-contact" (click)="addContact('phones', type)" *ngIf="showPhoneAddButton[type]">+</span>
              </div>
              <div class="field" *ngFor="let phone of contacts.phones[type]; index as i">
                  <p class="phone {{phone.type}}">{{phone.number | phone}}&nbsp;&nbsp;{{phone.ext ? 'ext: ' + phone.ext: '' }}<span (click)="removeContact('phones', type, i)"></span></p>
              </div>
              <dx-validation-group (onInitialized)="initValidationGroup($event, 'addressValidator')">
                  <div class="field address H">
                      <label>{{l('Address')}}</label>                   
                      <input *ngIf="!googleAutoComplete" type="text"
                          name="Address"
                          placeholder="{{l('Street')}}"
                          [(ngModel)]="contacts.addresses[type].address"
                          class="dx-texteditor-input"/>
                      <input *ngIf="googleAutoComplete" type="text"
                          name="Address"
                          placeholder="{{l('Street')}}"
                          [(ngModel)]="contacts.addresses[type].address"
                          class="dx-texteditor-input"
                          (country)="contacts.addresses[type].country=$event"
                          (street_number)='contacts.addresses[type].streetNumber=$event'
                          (street)='contacts.addresses[type].streetAddress=$event'
                          (city)='contacts.addresses[type].city=$event'
                          (state)='contacts.addresses[type].state=$event'
                          (postal_code)='contacts.addresses[type].zip=$event'
                          (setAddress)="onAddressChanged($event, type)"
                          ng2-google-place-autocomplete/>
                      <dx-select-box
                        width="100px"
                        name="addressType"
                        placeholder="{{l('Type')}}"
                        [dataSource]="addressTypes"
                        displayExpr="name"
                        valueExpr="id"
                        [disabled]="!contacts.addresses[type].address"
                        [value]="contacts.addresses[type].addressType"
                        (onValueChanged)="onTypeChanged($event, 'address')">
                      </dx-select-box>
                  </div>
                  <div class="field">
                      <label></label>                   
                      <dx-text-box
                          name="city"
                          maxLength="50"
                          placeholder="{{l('City')}}"
                          [disabled]="!contacts.addresses[type].address"
                          [width]="'360px'"
                          [(value)]="contacts.addresses[type].city">
                          <dx-validator>
                              <dxi-validation-rule type="required" message="{{l('CityRequired')}}"></dxi-validation-rule>
                          </dx-validator>
                      </dx-text-box>
                  </div>
                  <div class="field">
                      <label></label>                   
                      <dx-select-box
                          [dataSource]="states"
                          displayExpr="name"
                          valueExpr="name"
                          name="state"
                          placeholder="{{l('State')}}"
                          [disabled]="!contacts.addresses[type].address"
                          [width]="'360px'"
                          [searchEnabled]="true"
                          [(value)]="contacts.addresses[type].state">
                          <dx-validator>
                              <dxi-validation-rule type="required" message="{{l('StateRequired')}}"></dxi-validation-rule>
                          </dx-validator>
                      </dx-select-box>
                  </div>
                  <div class="field">
                      <label></label>                   
                      <dx-text-box
                          name="zip"
                          maxLength="5"
                          placeholder="{{l('Zip')}}"
                          [disabled]="!contacts.addresses[type].address"
                          [width]="'360px'"
                          [(value)]="contacts.addresses[type].zip">
                          <dx-validator>
                              <dxi-validation-rule type="required" message="{{l('ZipIsRequired')}}"></dxi-validation-rule>
                          </dx-validator>
                      </dx-text-box>
                  </div>
                  <div class="field">
                      <label></label>                   
                      <dx-select-box
                          [dataSource]="countries"
                          displayExpr="name"
                          valueExpr="name"
                          name="country"
                          placeholder="{{l('Country')}}"
                          [disabled]="!contacts.addresses[type].address"
                          [width]="'360px'"
                          [searchEnabled]="true"
                          [(value)]="contacts.addresses[type].country"
                          (onValueChanged)="onCountryChange($event)">
                          <dx-validator>
                              <dxi-validation-rule type="required" message="{{l('CountryRequired')}}"></dxi-validation-rule>
                          </dx-validator>
                      </dx-select-box>
                  </div>
                  <div class="field">
                      <label class="comment">{{l('Notes')}}</label>
                      <dx-text-area
                        name="comment"
                        [width]="'360px'"
                        [height]="'100px'"
                        [(value)]="notes[type]">
                      </dx-text-area>
                  </div>
              </dx-validation-group>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
</modal-dialog>