<div>
    <app-headline [names]="[l('Users')]"
                  icon="people"
                  [showToggleToolbarButton]="true"
                  [showReloadButton]="ui.showReload"
                  [showToggleCompactViewButton]="true"
                  [showToggleFullScreenButton]="true"
                  [showToggleColumnSelectorButton]="true"
                  [buttons]="headlineButtons"
                  [showStateResetButton]="true"
                  [showTotalCount]="true"
                  [totalCount]="totalCount"
                  [totalErrorMsg]="totalErrorMsg"
                  (onToggleToolbar)="repaintDataGrid()"
                  (onToggleCompactView)="toggleCompactView()"
                  (onToggleFullScreen)="repaintDataGrid(100)"
                  (onReload)="invalidate()"
                  (onStateReset)="dataGrid.instance.state(null)"
                  (onToggleColumnSelector)="toggleColumnChooser()">
    </app-headline>
    <app-toolbar [config]="toolbarConfig" [hidden]="appService.toolbarIsHidden$ | async"></app-toolbar>
    <div class="main-wrapper">
        <action-menu [width]="'250px'"
                     [items]="actionMenuItems"
                     [visible]="!!actionRecord"
                     (onItemClick)="onMenuItemClick($event)"
                     (onHidden)="actionRecord = null">
        </action-menu>
        <div [hidden]="isDataLoaded && !totalRowCount" class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div>
                    <ghost-list [hidden]="isDataLoaded"></ghost-list>
                    <dx-data-grid class="limitedPagerTotal main-component-view"
                                  [ngClass]="{'gallery-view': isGalleryView}"
                                  [renderAsync]="true"
                                  [remoteOperations]="true"
                                  [dataSource]="dataSource"
                                  [allowColumnResizing]="true"
                                  [allowColumnReordering]="true"
                                  [columnAutoWidth]="true"
                                  [loadPanel]="{ enabled: false }"
                                  [hoverStateEnabled]="true"
                                  [dataRowTemplate]="isGalleryView ? 'dataRowTemplate' : undefined"
                                  (onOptionChanged)="onGridOptionChanged($event)"
                                  (onInitialized)="onInitialized($event)"
                                  (onContentReady)="setGridDataLoaded()"
                                  (onCellClick)="editUser($event)"
                                  (onEditingStart)="toggleActionsMenu($event)"
                                  (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
                        <dxo-selection selectAllMode="page"
                                       showCheckBoxesMode="always"
                                       mode="none">
                        </dxo-selection>

                        <dxo-editing
                                mode="popup"
                                [texts]="{editRow: ''}"
                                [popup]="{ onShowing: onShowingPopup, height: '0px', width: '0px' }"
                                [allowUpdating]="true">
                        </dxo-editing>
                        <dxo-scrolling [mode]="isGalleryView ? 'standard' : 'infinite'"></dxo-scrolling>
                        <dxi-column
                                caption=" "
                                dataField="profileThumbnailId"
                                cellTemplate="photoTemplate"
                                [width]="50"
                                [showInColumnChooser]="false"
                                [allowExporting]="false"
                                [allowGrouping]="false"
                                [allowSorting]="false">
                        </dxi-column>
                        <dxi-column dataField="userName" [caption]="l('UserName')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column dataField="name" [caption]="l('FirstName')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column dataField="surname" [caption]="l('LastName')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column dataField="roles" width="200px" [caption]="l('Roles')" cellTemplate="roleCell" [allowSorting]="false" [renderAsync]="true" alignment="left"></dxi-column>
                        <dxi-column dataField="emailAddress" [caption]="l('EmailAddress')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column dataField="phoneNumber" [caption]="l('PhoneNumber')" cellTemplate="phoneCell" cssClass="tabular"></dxi-column>
                        <dxi-column dataField="isEmailConfirmed" [caption]="l('EmailConfirmed')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column dataField="userKey" [caption]="l('UserKey')" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column dataField="isActive" [caption]="l('Active')"></dxi-column>
                        <dxi-column dataField="lastLoginTime" [caption]="l('LastLoginTime')" cellTemplate="dateCell" cssClass="tabular"></dxi-column>
                        <dxi-column dataField="creationTime" [caption]="l('CreationTime')" cellTemplate="dateCell" cssClass="tabular"></dxi-column>

                        <div *dxTemplate="let user of 'dataRowTemplate'" (click)="editUser(user)">
                            <img class="galery-image" width="240px" height="240px" [src]="profileService.getProfilePictureUrl(user.data.profileThumbnailId, noPhotoUrl)" />
                            <span class="role-container" [title]="getRolesTitle(user.data.roles)">
                                {{getRolesTitle(user.data.roles)}}
                            </span>
                            <h3>{{user.data.name}} {{user.data.surname}}</h3>
                        </div>

                        <div *dxTemplate="let data of 'photoTemplate'">
                            <div [ngStyle]="{'background-image': 'url(' + profileService.getProfilePictureUrl(data.data.profileThumbnailId, noPhotoUrl) + ')'}" class="img-circle"></div>
                        </div>

                        <div *dxTemplate="let cellData of 'roleCell'" class="clipboard-holder">
                            <span class="role-container" *ngIf="getRolesTitle(cellData.value) as roles" [title]="roles">
                                {{roles}}
                            </span>
                        </div>

                        <div *dxTemplate="let cellData of 'dateCell'" class="clipboard-holder">
                            {{cellData.value | datetime: formatting.dateTimeMoment }}
                        </div>

                        <div *dxTemplate="let cellData of 'phoneCell'" class="clipboard-holder">
                            {{cellData.value | phone}}
                        </div>

                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-pager [visible]="true"></dxo-pager>
                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</div>
<app-no-data
    [hidden]="!isDataLoaded || totalRowCount"
    [showLink]="false">
</app-no-data>
