:host {
    position: relative;
    top: 74px;
    height: 100%;

    /deep/ .grid-compact-view .dx-datagrid .dx-datagrid-rowsview .dx-column-lines td {
        height: 40px !important;
    }

    /deep/ #gridContainer {
        .dx-datagrid .dx-link.dx-link-edit {
            width: 18px !important;
        }

        td.dx-command-edit {
            min-width: 40px;
            width: 40px;
            & + td::before {
                display: none !important;
            }
            &:before {
                left: 25px !important;
            }
        }

        .role-container {
            display: inline !important;
        }

        .dx-datagrid-rowsview {
            .dx-column-lines {
                cursor: pointer;

                & > td {
                    span {
                        text-align: center;
                        display: inherit;
                    }
                }
            }
        }
    }
}

/deep/ [custaccesskey="search-container"] {
    &[filter-selected="true"] {
        border: 0;

        .dx-button-text {
            font-size: 14px !important;
            letter-spacing: 0.3px !important;
            color: #00AEEF !important;

            &:hover {
                color: lighten(#00AEEF, 20%) !important;
            }
        }
    }

    &[filter-selected="false"] {
        display: none;
    }
}
