:host {
    .form-wrapper {
        max-width: 488px;

        h3 {
            margin-bottom: 20px;
        }
    }

    .m-login__form-action {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        input {
            min-width: 48%;
            width: 48%;
        }
    }

    .form-wrapper form .form-group.input input {
        padding: 17px 50px 20px 30px;
    }

    .form-group.icon-input.icon-input__password .show-password {
        margin: 0;
    }

    .autologin {
        margin-top: 20px !important;
    }

    .entrance-page__form-password {
        min-width: 400px;

        .entrance-page__form-input--password {
            border-radius: 6px 6px 0 0;
            border-top: 1px solid #D7DEEB;
        }

        + .entrance-page__form-password {
            .entrance-page__form-input--password {
                border-radius: 0 0 6px 6px;
                border-top: 0;
            }
        }
    }
}
