<div class="entrance-page__content entrance-page__content--forgot  df-column">
    <h1 class="entrance-page__title">
        {{ls.l('Forgot your password?')}}
    </h1>
    <p class="entrance-page__subtitle">
        {{ls.l('Enter your email to receive your verification code and password reset link.')}}        
    </p>
    <div class="entrance-page__form entrance-page__form--forgotpass">
        <form class="m-login__form m-form forget-form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <div class="input-wrap">
                <input
                    #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" [ngModelOptions]="{updateOn: 'blur'}" autoFocus 
                    class="entrance-page__form-input entrance-page__form-input--email entrance-page__form-input--forgot"
                    type="text" [placeholder]="ls.l('Account.EnterYourAccountEmail')" name="emailAddress" required maxlength="256" email [pattern]="emailRegex">
                <label>{{ls.l('Enter Your account email address*')}}</label>
            </div>
            <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{pattern: ls.l('InvalidEmailAddress')}]"></validation-messages>

            <input class="entrance-page__form-button entrance-page__form-button--forgot" type="submit"
                value="Send Email Verification">
        </form>
    </div>
    <a class="entrance-page__forgot-back" routerLink="/account/login">
        {{ls.l('Go back to the sign in page')}}
    </a>
</div>