<div [@routerTransition]>
    <div class="form-wrapper">
        <h1>
            {{ls.l("ForgotPassword")}}
        </h1>
        <h3>
            {{ls.l("SendPasswordResetLink_Information")}}
        </h3>
        <form class="m-login__form m-form forget-form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <div class="form-group input first last">
                <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" [ngModelOptions]="{updateOn: 'change'}" autoFocus class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ls.l('EmailAddress')}} *" name="emailAddress" required maxlength="256" email [pattern]="emailRegex"/>
                <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{pattern: ls.l('InvalidEmailAddress')}]"></validation-messages>
            </div>
            <div class="m-login__form-action">
                <button [disabled]="saving" routerLink="/account/login" type="button" class="btn"><i class="fa fa-arrow-left"></i> {{ls.l("Back")}}</button>
                <button type="submit" class="btn btn-submit"
                        [ngClass]="{disabled: !form?.valid}" 
                        [buttonBusy]="saving" [busyText]="ls.l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{ls.l("Submit")}}</button>
                <button type="button" class="btn btn-primary autologin" [ngClass]="{disabled: !form?.valid}" (click)="autoLogin()">
                    {{ls.l("Auto Login")}}
                    <img src="./assets/common/icons/arrow-right-long-icon.svg" alt="right arrow" class="pull-right">
                </button>
            </div>
        </form>
    </div>
</div>
