:host {
    .form-wrapper {
        max-width: 488px;

        h3 {
            margin-bottom: 20px;
        }
    }

    .m-login__form-action {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        input {
            min-width: 48%;
            width: 48%;
        }
    }

    .form-wrapper form .form-group.input input {
        padding: 17px 50px 20px 30px;
    }

    .form-group.icon-input.icon-input__password .show-password {
        margin: 0;
    }

    .autologin {
        margin-top: 20px !important;
    }

    .entrance-page__form-password {

        .entrance-page__form-input--password {
            border-radius: 6px 6px 0 0;
            border-top: 1px solid #D7DEEB;
        }

        + .entrance-page__form-password {
            .entrance-page__form-input--password {
                border-radius: 0 0 6px 6px;
                border-top: 0;
            }
        }
    }

    ::ng-deep code-input {
        &.code-with-dash {
            --item-spacing: 0;
            --item-border: 1px solid #d7deeb;
            --item-height: 70px;
            --item-shadow-focused: none;
            --item-border-radius: 0;

            * {
                font-size: clamp(25px, 3vw, 32px);
                text-transform: uppercase;
                font-weight: 700;
            }

            span {
                position: relative;

                &:nth-child(3) {
                    padding-right: 30px;

                    &::after {
                        content: '';
                        background: #d7deeb;
                        width: 14px;
                        height: 3px;
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        margin-top: -1.5px;
                    }
                }

                &:nth-child(1),
                &:nth-child(4) {
                    input {
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                    }
                }

                &:nth-child(3),
                &:nth-child(6) {
                    input {
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                    }
                }
            }
        }
    }
}
