:host {
  display: block;
  position: relative;
  height: 100%;

  ::ng-deep .mat-tab-group {
    height: 100%;
    margin-top: 1px;
  }

  ::ng-deep .mat-tab-body-content {
    overflow: hidden;
  }

  .show-details {
    font-size: 18px;
    color: var(--muted-color);
    padding: 5px;
    cursor: pointer;

    &:hover {
      color: var(--text-color);
    }
  }

  .truncated {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
