<modal-dialog>
    <div *ngIf="entityChange" class="modal-header">
        <h4 class="modal-title">
            <span>{{ls.l("Detail")}} - {{ls.l(entityChange.entityTypeFullName)}}</span> <br />
            <small [innerHTML]="l('CreatedAtByUser', entityChange.changeTime, entityChange.userName)"></small>
        </h4>
    </div>
    <div class="modal-body">
        <table id="EntityPropertyChangesTable" class="display table table-striped table-bordered table-hover dt-responsive">
            <thead>
            <tr>
                <th>{{ls.l("Property")}}</th>
                <th>{{ls.l("OriginalValue")}}</th>
                <th>{{ls.l("NewValue")}}</th>
            </tr>
            <tr *ngFor="let propertyChange of entityPropertyChanges">
                <td><strong>{{propertyChange.propertyName}}</strong></td>

                <td>{{getPropertyChangeValue(propertyChange.originalValue, propertyChange.propertyTypeFullName)}}</td>
                <td>{{getPropertyChangeValue(propertyChange.newValue, propertyChange.propertyTypeFullName)}}</td>
            </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="close()">{{ls.l("Close")}}</button>
    </div>
</modal-dialog>

