:host {
  top: 75px;
  left: 60px;
  position: relative;

  .box-shadow-wrapper {
    box-shadow: -2px 0px 6px 0 rgba(0, 0, 0, 0.1);
  }

  .right-content {
    padding: 0px 20px 0px 20px;
  }

  .general-links {  
    float: left;
    width: 289px;
    height: 63px;
    text-align: right;
    background: #FFF;
    padding-right: 30px;
    border-right: 1px solid #e5e9ec;

    i {
      color: #686f76;
      width: 16px;
      height: 16px;
      margin: 10px 0px 0px 20px;
      cursor: pointer;
    }
  }

  .close-details {
    position: absolute;
    width: 42px;
    height: 40px;
    top: -60px;
    left: -42px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
    background-color: #FFF;
    box-shadow: -2px 0px 6px 0 rgba(0, 0, 0, 0.1);

    &:before, &:after {
      position: absolute;
      top: 10px;
      left: 20px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #1b1b1b;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity: 1;
    }
  }

  md-sidenav {
    width: 288px;
    padding-bottom: 120px;
    overflow-y: hidden;

    .short-contact {
      width: 85%;
      margin: 0 auto;
      min-height: 50px;
      position: relative;
      border-bottom: 1px solid #e5e9ec;

      .small-phones {
        padding-top: 15px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.83;
        letter-spacing: 0.2px;
        color: #677380;
        .material-icons {
          position: relative;
          font-size: 16px;
          font-weight: bold;
          padding-right: 10px;
          top: 3px;
        }
      }
    }
    .mat-tab-nav-bar {
      border: none;
      padding-top: 12px;
    }
  }

  md-sidenav.right_sidenav {
    width: 400px;
    padding-top: 0;
  }

  md-sidenav-container {
    width: calc(~"100% - 60px");
    width: -o-calc(~"100% - 60px");
    width: -webkit-calc(~"100% - 60px");
    width: -moz-calc(~"100% - 60px");
    height: calc(~"100vh - 215px");
    height: -o-calc(~"100vh - 215px"); /* opera */
    height: -webkit-calc(~"100vh - 215px"); /* google, safari */
    height: -moz-calc(~"100vh - 215px"); /* firefox */
  }

  .right-side-content {
    display: flex;
  }

  .mat-tab-link {
    justify-content: left;   
    text-decoration: none;
    text-align: left;
    padding-left: 18px;
    margin-left: 14px;
    font-weight: 300;
    color: #424c56;
    height: 45px;
    width: 100%;
  }

  .mat-tab-link.active {
      color: #212c36;
      font-weight: 500;
      border-left: 3px solid #00aeef;
  }

  .created_owner {
      padding-left: 20px;
      position: absolute;
      bottom: 10px;
      width: 100%;
  }

  .created_owner > div {
  }

  .created > *,
  .lead_owner > * {
      display: inline;
  }

  .lead_owner > img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }

  .created_owner h4 {
      color: #b1b5bb;
      width: 50%;
      display: inline-block;
      font-size: 14px;
  }
}

/deep/ h1 {
  margin-top: 5px;
}

/deep/ h3.lab {
  color: #b1b6bc;
  text-transform: uppercase;
  font-size: 16px;
}

/deep/ ul {
  padding-left: 0;
}

/deep/ li {
  list-style-type: none;
}

/deep/ .mat-ink-bar {
  background-color: #00aeef!important;
}

/deep/ .green {
  color: #80e48b
}

/deep/ .red {
  color: #ffb2b4
}

/deep/ .grey {
  color: #a3a7ac;
}

/deep/ .mat-tab-label {
  border-bottom: none;
}

/deep/ .mat-tab-label-active {
  border-bottom: none;
}

/deep/ .mat-tab-body-wrapper {
  padding: 20px;
  position: static!important;
}

/deep/ .mat-tab-body {
  position: absolute!important;
  margin-top: 60px;
}

/deep/ .mat-tab-body-content {
  overflow: hidden!important;
}

/deep/ .main-content {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: #fff;
  border-left: 1px solid #e5e9ec;
  border-right: 1px solid #e5e9ec;
  height: 100%;
}

/deep/ .cdk-global-scrollblock {
  overflow-y: hidden;
}

/deep/ .button-clean-red {
  position: absolute;
  padding: 0px;
  margin-left: 0px;
  width: 70px;
  left: 0px;
}