<header>
    <div class="avatar">
        <div class="active"></div>
        <div class="photo-area" (click)="showUploadPhotoDialog($event)" [ngStyle]="{'background-image': data?.primaryContactInfo?.primaryPhoto ? 'url(data:image/png;base64,' + data.primaryContactInfo.primaryPhoto.original + ')': ''}"></div>
    </div>
    <div class="personal_info">
        <div class="full_name">
            <h1 *ngIf="data && data?.primaryContactInfo?.fullName; else loading">
                <inplace-edit [data]="getNameInplaceEditData()" (valueChanged)="updatePrimaryContactName($event)" (openDialog)="showEditPersonDialog($event)"></inplace-edit>
            </h1>
            <div *ngIf="data?.contactPersons?.length > 1" class="contact-persons-info" (click)="showContactPersons($event)">
                <img src="../../../../assets/common/icons/down-arrow-icon.svg" alt="Contact Persons">
            </div>
            <ng-template #loading>
                <mat-progress-spinner mode="indeterminate" strokeWidth="10"></mat-progress-spinner>
            </ng-template>
        </div>
        <div class="rating">
            <mat-progress-bar color="#2fb8f0" value="{{ person.rating * 10}}"></mat-progress-bar>
            <span class="rating_int">{{person.rating}}/10</span>
        </div>
    </div>
    <div *ngIf="data?.organizationContactInfo" class="organization_info">
        <div class="delimiter"></div>
        <div class="organization_logo">
            <img src="{{ data?.organizationContactInfo.photo ? 'data:image/png;base64,' + data.organizationContactInfo.photo.thumbnail : '../../../../../assets/common/images/no-photo-Organization.png' }}" alt="Organization Logo">
        </div>
        <h2>{{ data?.organizationContactInfo?.fullName }}</h2>
        <div class="info-icon" (click)="showOrganizationDetails($event)">
            <img src="../../../../assets/common/icons/info-icon.svg" alt="Organization Details">
        </div>
    </div>
    <div class="header_financial_info">

    </div>

    <div class="header_buttons">
        <ng-container *ngIf="canSendVerificationRequest">
            <button class="btn btn-layout" (click)="requestVerification()">{{l('ClientDetails_RequestVerification')}}</button>
        </ng-container>
    </div>
</header>