:host {
  .operations-widget {
    float: right;
    padding: 13px 20px;
    color: #c5c7ca;
    background: #FFF;
    width: calc(~"100% - 289px");
    border-bottom: 1px solid #e5e9ec;
    padding-right: 65px;
    white-space: nowrap;
  }

  .operations-widget i,
  .operations-widget button {
      color: #677380;
      border-radius: 0;
      margin: 0px;
      box-shadow: none; 
      border-color: #dadee1;
  }

  .operations-widget button:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }

  .operations-widget button:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
  }

  .operations-widget > div {
      display: inline-block;
      margin-right: 10px;
      border-radius: 5px;
  }

  .operations-widget > div > div {
      margin-right: 0;
      display: inline-block;
  }

  /deep/ .dx-toolbar {
    .dx-button-text {
       color: #677380;
       font-size: 13px;
       font-weight: 300;
       line-height: 1.85;
       letter-spacing: 0.3px;
    }

    .dx-toolbar-before,
    .dx-toolbar-center,
    .dx-toolbar-after {
        margin: 0px 15px 0px 15px;
    }
    
    .dx-toolbar-before {
        top: 0 !important;
    }
    
    .dx-toolbar-button {
        padding: 0;
    }

    .dx-button {    
      &[aria-label="back-arrow"] {
          .dx-button-content {
              padding: 12px 15px 13px;
              .dx-icon {
                  height: 10px;
                  width: 17px;
              }
          }
      }
      
      &[aria-label="Assign"] {
          margin-left: 40px;
          border-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
      }
      
      &[aria-label="Status"] {
          border-radius: 0;
      }
      
      &[aria-label="Delete"] {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }
      
      &[aria-label="icon icon-refresh"] {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;
      }
      
      &[aria-label="download-icon"] {
          border-radius: 0;
      }

      &[aria-label="column-chooser"] {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }

      &[aria-label="table-icon"] {
          margin-left: -2px;
          margin-right: 25px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }
      &[aria-label="pipeline-icon"] {
          margin-left: -1px;
          border-radius: 0;
      }
      &[aria-label="box-icon"] {
          margin-right: -2px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
      }

      &[aria-label="chevronnext"] {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin-left: -1px;
      }
      &[aria-label="chevronprev"] {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
      }

      &[aria-label="pen"] {
          width: 72px;
          margin-left: -1px;
          margin-right: 25px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }
      &[aria-label="folder"] {
          width: 72px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
      }

      &[aria-label="More"],
      &[aria-label="pen"],
      &[aria-label="folder"] {
          position: relative;
          &:after {
              content: '';
              display: block;
              background: url('../../../../assets/common/icons/down-arrow-icon.svg');
              position: absolute;
              width: 8px;
              height: 4px;
              right: 12px;
              top: 48%;
          }
          .dx-button-content {
              padding-right: 28px;
          }
      }
      
      &:not(.dx-button-has-text) {
        .dx-button-content {
          position: relative;
        }
        .dx-icon {
          position: absolute;
          margin: auto;
          bottom: 0;
          top: 0;
          left: 15px;
        }

      }

      .dx-button-content {
          height: 37px;
          min-width: 50px;
          padding: 6px 15px;
      }
      .dx-icon {
        color: #959a9f;
      }
    }      
  }
}