<section class="categorization-status">
    <header>
        <h2 class="title">{{l('Totals_by_period')}}</h2>
        <div class="select-box-wrap">
            <!-- dx-select-box [items]="availablePeriods"
                           [width]="'100px'"
                           [value]="availablePeriods[availablePeriods.length - 1]"
                           (onValueChanged)="onValueChanged($event)">
            </dx-select-box -->
        </div>
    </header>
    <div class="content-wrap">
        <div [hidden]="!totalData" *ngIf="totalData?.hasOwnProperty('startingBalance')">

            <div class="starting-balance">{{l('Stats_startingBalance')}}<span>{{ totalData.startingBalance | currency }}</span></div>

            <div class="chart-head">{{l('Cash_Inflows')}}<span [ngStyle]="{'color': inflowsColor}">{{ totalData.inflows | currency }}</span></div>
            <div class="chart-line"><div [ngStyle]="{width: totalData.inflowsPercent + '%', 'background-color': inflowsColor}"></div></div>
            <div class="chart-head">{{l('Cash_Outflows')}}<span [ngStyle]="{'color': outflowsColor}">{{ totalData.outflows | currency }}</span></div>
            <div class="chart-line"><div [ngStyle]="{width: totalData.outflowsPercent + '%', 'background-color': outflowsColor}"></div></div>
            <div class="chart-head">{{l('Net_Change')}}<span [ngStyle]="{'color': totalData.inflows - totalData.outflows > 0 ? netChangeColor : outflowsColor}">{{ totalData.netChange | currency }}</span></div>
            <div class="chart-line"><div [ngStyle]="{width: totalData.netChangePercent + '%', 'background-color': totalData.inflows - totalData.outflows > 0 ? netChangeColor : outflowsColor }"></div></div>

            <div class="ending-balance">{{l('Stats_endingBalance')}}<span>{{ totalData.endingBalance | currency }}</span></div>

        </div>
        <app-no-data [hidden]="loading || (totalData && totalData?.hasOwnProperty('startingBalance'))"></app-no-data>
    </div>
</section>
