/deep/ .cdk-overlay-container {
    .cdk-overlay-pane.slider {
        transition: margin 1s!important;

        .mat-dialog-container {
            overflow: visible;
            padding: 0px;
            margin: 0px;
        }
    }
}

/deep/ .hide {
    display: none;
}

:host {
    position: relative;
    .close-dialog {
        position: absolute;
        width: 42px;
        height: 40px;
        top: 25px;
        left: -42px;
        cursor: pointer;
        border-radius: 5px 0px 0px 5px;
        border-right: none;
        background-color: #FFF;
        box-shadow: -2px 0px 6px 0 rgba(0, 0, 0, 0.1);

        &:before, &:after {
            position: absolute;
            top: 10px;
            left: 20px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #1b1b1b;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: 1;
        }
    }

    .mat-dialog-header {
        display: flex;
        height: 82px;
        padding: 0px 10px;
        justify-content: space-between;
        background-color: #F3F7FA;
        border-bottom: 1px solid #dadee1;

        /deep/ dx-text-box[name="title"] {
            width: 440px;
            &.dx-state-readonly {
                .dx-texteditor-container:after {
                    display: none;
                }
            }
            &.dx-invalid {
                .dx-texteditor-container:after {
                    background-color: #d9534f!important;
                }
                .dx-placeholder {
                    color: #d9534f!important;
                }
            }
            .dx-texteditor-container:after {
                content: '';
                top: 62px!important;
                margin-top: 0px!important;
                left: 15px;
                width: 442px;
                height: 1px;
                bottom: 18px;
                position: absolute;
                display: inline-block;
                background-color: #dadee1;
            }
            input {                                
                &, &:read-only {
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.09;
                    letter-spacing: 0.4px;
                    color: #202b35;
                    padding-left: 17px;
                    background-color: #F3F7FA;
                    border: none;
                }
            }
        }
    }

    mat-dialog-content {
        height: 100%;
        max-height: calc(~"100% - 82px");
        margin: 0px;
        padding: 0px;
    }

    mat-dialog-actions {
        height: 75px;
        .mat-dialog-buttons {
            height: 46px;
            align-self: center;
            button {
                outline: none;
            }
        }
        .mat-dialog-options {
            padding: 0px 15px 0px 30px;
            align-self: center;
            .mat-dialog-option {
                font-size: 13px;
            }
        }
    }

    /deep/ .dx-checkbox {
        .dx-checkbox-icon {
            width: 14px;
            height: 14px;
            background-color: #FFF;
            border: 1px solid #DADEE1 !important;
            border-radius: 3px;
        }

        &.dx-checkbox-checked {
            .dx-checkbox-icon {
                color: #FFF;
                font-size: 8px;
                font-weight: bold;
                background-color: #00AEEF;
                border-color: #00AEEF !important;
            }
        }

        .dx-checkbox-text {
            white-space: nowrap;
        }
    }
}