::ng-deep .hide {
    display: none;
}

:host {
    position: relative;
    display: block;
    height: 100%;

    .close-button {
        top: 25px;
    }

    .mat-dialog-header {
        display: flex;
        align-items: center;
        height: 82px;
        padding: 0 10px;
        justify-content: space-between;
        background-color: var(--background-color);
        border-bottom: 1px solid #dadee1;

        input {
            outline: none;
            font-size: 22px;
            font-weight: 500;
            line-height: 1.09;
            letter-spacing: 0.4px;
            padding-left: 17px;
            border: none;
            background: transparent;
        }

        ::ng-deep dx-text-box[name="title"] {
            width: 440px;
            height: 100%;
            border: none;

            &.dx-state-readonly {
                .dx-texteditor-container:after {
                    display: none;
                }
            }

            &.dx-invalid {
                .dx-texteditor-container:after {
                    background-color: #d9534f !important;
                }

                .dx-placeholder {
                    color: #d9534f !important;
                }
            }

            .dx-texteditor-container:after {
                content: '';
                top: 55px !important;
                margin-top: 0 !important;
                left: 15px;
                width: 442px;
                height: 1px;
                bottom: 18px;
                position: absolute;
                display: inline-block;
                background-color: #dadee1;
            }

            input {

                &,
                &:read-only {
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.09;
                    letter-spacing: 0.4px;
                    color: #202b35;
                    padding-left: 17px;
                    background-color: var(--background-color);
                    border: none;
                    border-radius: 0;
                }
            }
        }
    }

    .title-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        flex-grow: 1;

        .title-label {
            position: absolute;
            padding-left: 17px;
            margin-bottom: 0;
            top: 8px;
            z-index: 1;
            font-size: 12px;
            color: #677380;
        }
    }

    ::ng-deep mat-dialog-content {
        height: 100%;
        overflow: hidden;
        max-height: calc(~"100% - 82px");
        margin: 0;
        padding: 0;
    }

    ::ng-deep mat-dialog-actions {
        height: 100%;
        margin: 0;

        .mat-dialog-buttons {
            height: 46px;
            align-self: center;
            display: flex;

            button {
                cursor: pointer;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }

                &.button-icon {
                    position: relative;
                    padding: 0 15px;
                    height: 36px;
                    transition: .2s;
                    border-radius: initial;
                    margin: auto;
                    border: 1px solid #eaeef0;
                    background: #fff;

                    &:hover {
                        background: #fff;
                    }
                }
            }
        }

        ::ng-deep #genrateAIOptions {
            position: relative;
            height: 44px;
            width: 142px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 10px;
            background-color: #fff;
            cursor: pointer;
            text-align: center;
            transition: all 0.3s ease;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 600;
            z-index: 1;
            overflow: hidden;
            margin-left: 0;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
                padding: 2px;
                background: linear-gradient(93.5deg, #118EFF -16.25%, #8F7DF3 40.92%, #EA3A8A 106.71%);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                z-index: -1;
            }

            span {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 13px;
                color: #E83C8E;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 15.27px;
                    height: 18.37px;
                    background: url("../../../../assets/common/icons/AI.png") no-repeat center;
                    background-size: contain;
                }
            }

            &:hover {
                background-color: #E83C8E;
                color: #fff;

                span {
                    color: #fff;
                }
            }
        }

        .mat-dialog-options {
            padding: 0 15px 0 30px;
            align-self: center;

            .mat-dialog-option {
                font-size: 13px;
            }
        }
    }

    ::ng-deep.tab-content {
        padding: 15px;
    }

    ::ng-deep .dx-checkbox {
        margin: 5px 0;

        .dx-checkbox-icon {
            background-color: #FFF;
            border: 1px solid #DADEE1 !important;
            border-radius: 3px;
        }

        &.dx-checkbox-checked {
            .dx-checkbox-icon {
                color: #FFF;
                font-size: 8px;
                font-weight: bold;
                background-color: #00AEEF;
                border-color: #00AEEF !important;
            }
        }

        .dx-checkbox-text {
            white-space: nowrap;
        }
    }

    .toggle-button {
        display: flex;
        width: 100%;
        min-width: 300px;
        border-radius: 20px;
        background-color: rgb(34 197 94);

        @media (min-width: 768px) {
            width: fit-content;
            ;
        }

        button {
            flex: 1;
            width: 100px;
            padding: 6px;
            border-radius: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: bold;
            border: 3px solid rgb(34 197 94);
            background: rgb(34 197 94);
            color: white;
            transition: all 0.3s;

            &.is-active {
                background: white;
                color: #333;
            }
        }
    }
}