/deep/ .cdk-overlay-container {
    .cdk-overlay-pane.slider {
        transition: margin 1s!important;

        .mat-dialog-container {
            overflow: visible;
            padding: 0px;
            margin: 0px;
        }
    }
}
/deep/ .hide {
    display: none;
}
:host {
    position: relative;
    .close-dialog {
        position: absolute;
        width: 42px;
        height: 40px;
        top: 25px;
        left: -42px;
        cursor: pointer;
        border-radius: 5px 0px 0px 5px;
        border-right: none;
        background-color: #FFF;
        box-shadow: -2px 0px 6px 0 rgba(0, 0, 0, 0.1);

        &:before, &:after {
            position: absolute;
            top: 10px;
            left: 20px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #1b1b1b;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: 1;
        }
    }

    .mat-dialog-header {
        display: flex;
        height: 82px;
        padding: 0px 10px;
        justify-content: space-between;
        background-color: #F3F7FA;
        border-bottom: 1px solid #dadee1;

        input {
           outline: none;
           font-size: 22px;
           font-weight: 500;
           line-height: 1.09;
           letter-spacing: 0.4px;
           padding-left: 17px;
           border: none;
           background: transparent;
        }

        .mat-dialog-actions {
            margin: 0px;
            .mat-dialog-buttons {
                height: 46px;
                align-self: center;
                display: flex;
                button {
                    cursor: pointer;              
                    outline: none;
                    &:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                    &.button-icon {
                        position: relative;
                        border-radius: 18px;
                        margin: 5px;
                        padding: 0 15px;
                        height: 36px;
                        transition: .2s;
                        border-radius: initial;
                        margin: auto;
                        border: 1px solid #eaeef0;
                        background: #fff;
                        &:hover {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }

    mat-dialog-content {
        height: 100%;
        overflow: hidden;
        max-height: calc(~"100% - 82px");
        margin: 0px;
        padding: 0px;         
    }
}