<div class="close-dialog" (click)="close(true)"></div>
<div class="mat-dialog-header">
    <div class="title">
        <ng-container *ngIf="!editTitle">
            <input type="text" [value]="data.title || title" readonly>
        </ng-container>
        <ng-container *ngIf="editTitle">
            <dx-text-box
                name="title"
                [showClearButton]="titleClearButton"
                [placeholder]="placeholder"
                [(value)]="title"
                [isValid]="isTitleValid == undefined || isTitleValid"
                (onInput)="titleChanged($event)"
                (onKeyUp)="titleKeyUp($event)">
            </dx-text-box>
        </ng-container>
    </div>
    <mat-dialog-actions *ngIf="data.options">
        <div class="mat-dialog-options">
            <ng-template ngFor let-option [ngForOf]="data.options" let-i="index">
                <dx-check-box class="mat-dialog-option pull-right" (onValueChanged)="option.onValueChanged && option.onValueChanged($event)" [(value)]="option.value" [text]="option.text"></dx-check-box>
            </ng-template>
        </div>
        <div class="mat-dialog-buttons">
            <ng-template ngFor let-button [ngForOf]="data.buttons || buttons" let-i="index">
                <button mat-button (click)="button.action($event)" [id]="button.id" class="button-layout button-{{button.class}}">
                    <span *ngIf="!!button.title">{{ ls.l(button.title )}}</span>
                    <img *ngIf="!!button.iconName" [src]="'./assets/common/icons/' + button.iconName" />
                </button>
            </ng-template>
        </div>
    </mat-dialog-actions>
</div>
<mat-dialog-content>
    <ng-content></ng-content>
</mat-dialog-content>
