<modal-dialog [title]="title" [buttons]="buttons">
    <dx-scroll-view showScrollbar="onHover">
        <form #roleForm="ngForm" novalidate (ngSubmit)="save()" *ngIf="active">
            <div class="modal-body">
                <tabset class="tab-container tabbable-line">
                    <tab heading="{{ls.l('EditionProperties')}}" customClass="m-tabs__item">
                        <div class="form-group">
                            <label for="EditionDisplayName">{{ls.l("EditionName")}} *</label>
                            <input id="EditionDisplayName" #editionNameInput="ngModel" class="form-control" type="text" name="EditionDisplayName" [ngClass]="{'edited':edition.displayName}" [(ngModel)]="edition.displayName" required maxlength="64">
                            <validation-messages [formCtrl]="editionNameInput"></validation-messages>
                        </div>

                        <label>{{ls.l("SubscriptionPrice")}}</label>
                        <div class="m-radio-inline">
                            <label for="EditEdition_IsFree" class="m-radio">
                                <input id="EditEdition_IsFree" name="SubscriptionPrice" [(ngModel)]="isFree" (ngModelChange)="resetPrices()" [value]="true" type="radio">
                                <span></span>
                                {{ls.l("Free")}}
                            </label>
                            <label for="EditEdition_IsPaid" class="m-radio">
                                <input id="EditEdition_IsPaid" name="SubscriptionPrice" [(ngModel)]="isFree" [value]="false" type="radio">
                                <span></span>
                                {{ls.l("Paid")}}
                            </label>
                        </div>
                        <div class="row" *ngIf="!isFree">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="MonthlyPrice">{{ls.l("MonthlyPrice")}}</label>
                                    <dx-number-box #monthlyPriceInput
                                        name="MonthlyPrice"
                                        placeholder=""
                                        format="$ #,##0.##"
                                        [showClearButton]="true"
                                        [(value)]="edition.monthlyPrice">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="AnnualPrice">{{ls.l("AnnualPrice")}}</label>
                                    <dx-number-box #annualPriceInput
                                        name="AnnualPrice"
                                        placeholder=""
                                        format="$ #,##0.##"
                                        [showClearButton]="true"
                                        [(value)]="edition.annualPrice">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-number-box>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="isFree" class="paid-features">
                            <div class="m-checkbox-list">
                                <label for="EditEdition_IsTrialActive" class="m-checkbox">
                                    <input id="EditEdition_IsTrialActive" type="checkbox" name="isTrialActive" [(ngModel)]="isTrialActive" />
                                    {{ls.l("IsTrialActive")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group trial-day-count" *ngIf="isTrialActive">
                                <label for="TrialDayCount">{{ls.l("TrialDayCount")}}</label>
                                <input #trialDayCountInput="ngModel"
                                       class="form-control"
                                       type="number"
                                       name="TrialDayCount"
                                       id="TrialDayCount"
                                       [required]="isTrialActive"
                                       [(ngModel)]="edition.trialDayCount"
                                       [ngClass]="{'edited':edition.trialDayCount}">
                                <validation-messages [formCtrl]="trialDayCountInput"></validation-messages>
                            </div>
                            <div class="m-checkbox-list">
                                <label for="EditEdition_IsWaitingDayActive" class="m-checkbox">
                                    <input id="EditEdition_IsWaitingDayActive" class="md-check" type="checkbox" name="IsWaitingDayActive" [(ngModel)]="isWaitingDayActive" />
                                    {{ls.l("WaitAfterSubscriptionExpireDate")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group waiting-day-after-expire" *ngIf="isWaitingDayActive">
                                <label for="WaitingDayAfterExpire">{{ls.l("WaitingDayAfterExpire")}}</label>
                                <input #waitingDayAfterExpireInput="ngModel"
                                       class="form-control"
                                       type="number"
                                       name="WaitingDayAfterExpire"
                                       id="WaitingDayAfterExpire"
                                       [required]="isWaitingDayActive"
                                       [(ngModel)]="edition.waitingDayAfterExpire"
                                       [ngClass]="{'edited':edition.waitingDayAfterExpire}">
                                <validation-messages [formCtrl]="waitingDayAfterExpireInput"></validation-messages>
                            </div>
                            <label>{{ls.l("WhatWillDoneAfterSubscriptionExpiry")}}</label>
                            <div class="m-radio-inline">
                                <label for="EditEdition_ExpireAction_DeactiveUser" class="m-radio">
                                    <input id="EditEdition_ExpireAction_DeactiveUser" name="ExpireAction" [(ngModel)]="expireAction" [value]="expireActionEnum.DeactiveTenant" (ngModelChange)="removeExpiringEdition()" type="radio">
                                    {{ls.l("DeactiveTenant")}}
                                    <span></span>
                                </label>
                                <label for="EditEdition_ExpireAction_AssignEdition" class="m-radio">
                                    <input id="EditEdition_ExpireAction_AssignEdition" name="ExpireAction" [(ngModel)]="expireAction" [value]="expireActionEnum.AssignToAnotherEdition" type="radio">
                                    {{ls.l("AssignToAnotherEdition")}}
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group edition-list" *ngIf="expireAction == expireActionEnum.AssignToAnotherEdition">
                                <select name="expiringEdition" class="form-control edited" [(ngModel)]="edition.expiringEditionId" [minValue]="expireAction == expireActionEnum.AssignToAnotherEdition ? 1:0" [ngClass]="{'edited':edition.expiringEditionId}">
                                    <option *ngFor="let expiringEdition of expiringEditions" [value]="expiringEdition.value">{{expiringEdition.displayText}}</option>
                                </select>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{ls.l('Features')}}" customClass="m-tabs__item">
                        <feature-tree [editData]="editData"></feature-tree>
                    </tab>
                </tabset>
            </div>
        </form>
    </dx-scroll-view>
</modal-dialog>
