:host {
    .wraper {
        height: 100vh;
        width: 100%;
        position: relative;
        text-align: center;
        .content  {
            max-width: 600px;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            margin: auto;
        }
        .top-headline {
            padding: 10px 0;
            background-color: #000;
            border-bottom: 2px solid #4c4c4c;
            
            .container {
                max-width: 100%;
            }      
      
            .url,
            .date {
                font-size: 9px;
                font-weight: 400;
                margin-bottom: 0;
            }
            
            .url {
                color: #999;
                text-decoration: none;
                
                &:hover {
                    color: lighten(#999, 10%);
                }
            }
            
            .get-free-score {
                color: #f0d500;
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 0;
            }
            
            .date {
                color: #ccc;
            }
        }
    }
    
    /deep/ header {
        app-area-navigation {
            display: none;
        }
    }

    div.footer {
        width: 100%;
        background: #000;
        position: fixed;
        bottom: 0px;
    
        div.container {
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            /deep/ app-area-navigation {
                a {
                    color: #FFF!important;
                }
            }
        }
    }

    /deep/ app-area-navigation {
        .right-actions, .logo {
            display: none!important;
        }

        a {
            font-family: Poppins!important;
            font-size: 14px!important;
            font-weight: 600!important;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }
    }
}