:host {
    width: 900px;
    display: block;
    position: relative;

    ::ng-deep .mat-dialog-actions {
        width: 200px;
        .mat-dialog-buttons {
            height: 50px!important;
        }
        #saveInvoiceOptions {
            width: 190px;
        }
    }

    ::ng-deep .mat-dialog-header {
        .title-wrapper {
            width: 900px;
        }
        dx-text-box {
            background: transparent;
            input {
                &, &:read-only {
                    border: none;
                    color: #212c36;
                    font-size: 22px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.09;
                    letter-spacing: 0.44px;
                }
            }
        }
    }

    .table-view {
        width: 100%;
        padding: 10px 20px;
        .header {
            height: 90px;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.32px;
            text-align: left;
            color: #424c56;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #e5e9ec;
            .photo-area {
                min-width: 64px;
                width: 64px;
                height: 64px;
                margin-left: 20px;
                margin-right: 10px;
                background-color: #F4F4F4;
                border-radius: 50%;
                background-size: cover;

                &:before {
                    top: 21px;
                    right: 37px;
                    display: block;
                    width: 29px;
                    content: url(../../../../assets/common/icons/arrows-left.png);
                    height: 21px;
                    position: relative;
                }
            }
            .result {
                .photo-area:before {
                    display: none;
                }
            }                  
            .target:after {                    
                content: url(../../../../assets/common/icons/check-green-filled.svg);
            }
            .source:after {
                content: url(../../../../assets/common/icons/remove-red-filled.svg);
            }
            .source, .target, .result {
                display: flex;
                position: relative;
                align-items: center;
                padding-right: 12px;
                padding-top: 12px;
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p {
                    position: absolute;
                    font-size: 10px;
                    top: 3px;
                    left: 20px;
                }
            }
            .target, .source {
                &:after {
                    position: absolute;
                    top: 0px;
                    right: 5px;
                    display: block;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .contact-field {
            display: flex;
            min-height: 40px;
            justify-content: space-between;
            &.mergeOptions {
                border-top: 1px solid #e5e9ec;
            }
        }
        .fields {
            width: 13%;            
            border-right: 1px solid #e5e9ec;
            p {
                margin-top: 10px;
                margin-bottom: 0px;
                &.contactAddresses {
                    margin-top: 50px;    
                }
            }
            span {
                margin-top: 35px;
                margin-left: 10px;
                display: inline-block;
            }           
        }
        .result {
            width: 29%;
            border-right: 1px solid #e5e9ec;
            .field-wrapper {
                position: relative;
                .set-primary {
                    width: 16px;
                    height: 16px;
                    right: 8px;
                    top: 0px;
                    display: none;
                    cursor: pointer;
                    position: absolute;
                    background: url(../../../../assets/common/icons/check-green.svg) no-repeat center;
                }
                &:hover {
                    .set-primary {
                        display: inline-block;
                    }
                }
            }
        }
        .target {
            width: 29%;
            border-right: 1px solid #e5e9ec;
        }
        .source {
            width: 29%; 
        }
        .source, .target, .result {
            .field-wrapper > p {
                margin-top: 10px;
                padding-left: 20px;
                i {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border-radius: 5px;
                    margin-right: 5px;
                }
            }
        }
        ::ng-deep dx-check-box {
            margin: 10px 15px;
            &.dx-state-disabled {
                .dx-checkbox-icon, 
                .dx-checkbox-text {
                    opacity: 1;
                }
            }
            &.primary {
                .dx-checkbox-text {
                    font-weight: 500;
                }
            }
            &.contactAddresses, &.mergeOptions {
                .dx-checkbox-text {
                    display: block;
                    float: right;
                    white-space: break-spaces;
                }
            }
            &.contactAddresses {                
                min-height: 60px;                
            }
            &.dx-checkbox-checked {
                .dx-checkbox-text {
                    color: #59626b;
                }
            }
            .dx-checkbox-container {
                width: 100%;
            }
            .dx-checkbox-icon {
                border-radius: 10px;
            }
            .dx-checkbox-text {
                color: #8795a2;
            }
        }
    }
}