<modal-dialog
    [title]="ls.l('Merge records')"
    [titleClearButton]="false"
    [buttons]="buttons"
    [editTitle]="false">
    <div class="form-content">
        <dx-scroll-view showScrollbar="onHover" [height]="'calc(100vh - 80px)'">
            <div class="table-view">
                <div class="header">
                    <div class="fields">
                        <span></span>
                    </div>
                    <div class="result">
                        <div class="photo-area" [ngStyle]="{ 'background-image': 'url(' + profileService.getContactPhotoUrl(getResultPhotoId()) + ')' }"></div>
                         <span [title]="getResultFullName()">{{getResultFullName()}}</span>
                    </div>
                    <div class="target">
                        <div class="photo-area" [ngStyle]="{ 'background-image': 'url(' + profileService.getContactPhotoUrl(mergeInfo?.targetContactInfo?.photoPublicId) + ')' }"></div>
                        <span [title]="mergeInfo?.targetContactInfo?.fullName">{{mergeInfo?.targetContactInfo?.fullName}}</span>
                        <p>{{ls.l('MainRecordUpdate')}}</p>
                    </div>
                    <div class="source">
                        <div class="photo-area" [ngStyle]="{ 'background-image': 'url(' + profileService.getContactPhotoUrl(mergeInfo?.contactInfo?.photoPublicId) + ')' }"></div>
                        <span [title]="mergeInfo?.contactInfo?.fullName">{{mergeInfo?.contactInfo?.fullName}}</span>
                        <p>{{ls.l('DuplicateRecordDelete')}}</p>
                    </div>
                </div>
                <ng-container *ngFor="let field of fields">
                    <div class="contact-field" *ngIf="!field.hidden">
                        <div class="fields">
                            <p>{{field.caption}}</p>
                            <p [class]="field.name">{{field.alt}}</p>
                        </div>
                        <ng-container *ngFor="let column of ['result', 'target', 'source']">
                            <div class="{{column}}">
                                <ng-container *ngFor="let value of field[column].values">
                                    <p *ngIf="field.disabled" [title]="value.text">
                                        <i *ngIf="field.name == CONTACT_STAGE_FIELD" [ngStyle]="{'background-color': getStageColorByName(value.text)}"></i>{{value.text}}
                                    </p>
                                    <dx-check-box
                                        [hint]="value.text"
                                        [text]="value.text"
                                        [class]="field.name"
                                        [(value)]="value.selected"
                                        [disabled]="value.disabled"
                                        [visible]="!field.disabled && (!value.isHidden || !value.isHidden())"
                                        [ngClass]="{ primary: value.isPrimary }"
                                        (click)="onSelectChange(field, value)">
                                    </dx-check-box>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </dx-scroll-view>
    </div>
</modal-dialog>