<mat-tab-group headerPosition="below" class="content-tabs">
    <mat-tab label="Values">
        <div class="row">
            <div class="col">
                <h1 class="uppercase">B.A.N.K CODE GRAPH</h1>
                <canvas class="chart-canvas" id="bankCodeChart"></canvas>
            </div>
            <div class="col result-card-wrapper">
                <h1 class="uppercase">primary code</h1>
                <figure class="result-card">
                    <img src="../../../../projects/bank-code/src/assets/Action.png" alt="Action" width="300">
                </figure>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Behaviors">
        <h1>Behaviors</h1>
        <p>Content coming soon...</p>
    </mat-tab>
    <mat-tab label="Sales tips">
        <h1>Sales tips</h1>
        <p>Content coming soon...</p>
    </mat-tab>
    <mat-tab label="Triggers">
        <h1>Triggers</h1>
        <p>Content coming soon...</p>
    </mat-tab>
    <mat-tab label="Tripwires">
        <h1>Tripwires</h1>
        <p>Content coming soon...</p>
    </mat-tab>
    <mat-tab label="Video">
        <h1>Video</h1>
        <p>Content coming soon...</p>
    </mat-tab>
</mat-tab-group>
