<mat-tab-group headerPosition="below">
    <mat-tab label="Values">
        <h1>Some tab content</h1>
        <p>Loaded: {{getTimeLoaded(1) | date:'medium'}}</p>
    </mat-tab>
    <mat-tab label="Behaviors">
        <h1>Some tab content</h1>
        <p>Loaded: {{getTimeLoaded(2) | date:'medium'}}</p>
    </mat-tab>
    <mat-tab label="Sales tips">
        <h1>Some tab content</h1>
        <p>Loaded: {{getTimeLoaded(3) | date:'medium'}}</p>
    </mat-tab>
    <mat-tab label="Triggers">
        <h1>Some tab content</h1>
        <p>Loaded: {{getTimeLoaded(4) | date:'medium'}}</p>
    </mat-tab>
    <mat-tab label="Tripwires">
        <h1>Some tab content</h1>
        <p>Loaded: {{getTimeLoaded(5) | date:'medium'}}</p>
    </mat-tab>
    <mat-tab label="Video">
        <h1>Some tab content</h1>
        <p>Loaded: {{getTimeLoaded(6) | date:'medium'}}</p>
    </mat-tab>
</mat-tab-group>
