<div class="wrapper">
    <div class="left">
        <h2>{{l('Appearance')}} {{l('Settings')}}</h2>

        <uploader #logoUploader
                  [showPlusSign]="false"
                  [title]="l('ApplicationLogo')"
                  [documentId]="tenant.logoId"
                  [documentLink]="tenant.logoId ? remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?logoId=' + tenant.logoId : undefined"
                  [uploadInfoText]="l('UploadLogo_Info')"
                  [uploadButtonText]="l('FileUpload')"
                  [uploadUrl]="remoteServiceBaseUrl + '/api/TenantCustomization/UploadLogo'"
                  acceptFileExt=".jpg,.jpeg,.png,.gif,.avif,.webp"
                  [maxFileSize]="maxLogoFileSize"
                  (onDocumentClear)="clearLogo()">
        </uploader>

        <uploader #faviconsUploader
                  [showPlusSign]="false"
                  [title]="l('CustomFavicons')"
                  [documentId]="tenant.tenantCustomizations.favicons?.length"
                  [documentLink]="tenant.tenantCustomizations.favicons?.length ? remoteServiceBaseUrl + '/api/TenantCustomization/GetFavicons' : undefined"
                  [uploadInfoText]="l('UploadFavicons_Info')"
                  [uploadButtonText]="l('FileUpload')"
                  [uploadUrl]="remoteServiceBaseUrl + '/api/TenantCustomization/UploadFavicons'"
                  acceptFileExt=".zip"
                  (onDocumentClear)="clearFavicons()">
        </uploader>

        <uploader #cssUploader
                  [showPlusSign]="false"
                  [title]="l('CustomCSS')"
                  [documentId]="tenant.customCssId"
                  [documentLink]="tenant.customCssId ? remoteServiceBaseUrl + '/api/TenantCustomization/GetCustomCss/' + tenant.customCssId + '/' + tenant.id : undefined"
                  [documentTemplateLink]="getCustomPlatformStylePath()"
                  [uploadInfoText]="l('UploadCSS_Info')"
                  [uploadButtonText]="l('FileUpload')"
                  [uploadUrl]="remoteServiceBaseUrl + '/api/TenantCustomization/UploadCustomCss?cssType=Platform'"
                  acceptFileExt=".css"
                  [maxFileSize]="maxCssFileSize"
                  (onDocumentClear)="clearCustomCss(CustomCssType.Platform)">
        </uploader>

        <uploader #loginCssUploader
                  [showPlusSign]="false"
                  [title]="l('CustomLoginCSS')"
                  [documentId]="tenant.loginCustomCssId"
                  [documentLink]="tenant.loginCustomCssId ? remoteServiceBaseUrl + '/api/TenantCustomization/GetCustomCss/' + tenant.loginCustomCssId + '/' + tenant.id : undefined"
                  documentTemplateLink="assets/common/styles/custom/login-custom-style.css"
                  [uploadInfoText]="l('UploadCSS_Info')"
                  [uploadButtonText]="l('FileUpload')"
                  [uploadUrl]="remoteServiceBaseUrl + '/api/TenantCustomization/UploadCustomCss?cssType=Login'"
                  acceptFileExt=".css"
                  [maxFileSize]="maxCssFileSize"
                  (onDocumentClear)="clearCustomCss(CustomCssType.Login)">
        </uploader>

        <uploader #portalCssUploader
                  [showPlusSign]="false"
                  [title]="l('CustomPortalCSS')"
                  [documentId]="tenant.portalCustomCssId"
                  [documentLink]="tenant.portalCustomCssId ? remoteServiceBaseUrl + '/api/TenantCustomization/GetCustomCss/' + tenant.portalCustomCssId + '/' + tenant.id : undefined"
                  documentTemplateLink="assets/common/styles/custom/portal-custom-style.css"
                  [uploadInfoText]="l('UploadCSS_Info')"
                  [uploadButtonText]="l('FileUpload')"
                  [uploadUrl]="remoteServiceBaseUrl + '/api/TenantCustomization/UploadCustomCss?cssType=Portal'"
                  acceptFileExt=".css"
                  [maxFileSize]="maxCssFileSize"
                  (onDocumentClear)="clearCustomCss(CustomCssType.Portal)">
        </uploader>

        <uploader #signUpCssUploader
                  [showPlusSign]="false"
                  [title]="l('CustomSignUpCSS')"
                  [documentId]="tenant.signUpCustomCssId"
                  [documentLink]="tenant.signUpCustomCssId ? remoteServiceBaseUrl + '/api/TenantCustomization/GetCustomCss/' + tenant.signUpCustomCssId + '/' + tenant.id : undefined"
                  documentTemplateLink="assets/common/styles/custom/signup-custom-style.css"
                  [uploadInfoText]="l('UploadCSS_Info')"
                  [uploadButtonText]="l('FileUpload')"
                  [uploadUrl]="remoteServiceBaseUrl + '/api/TenantCustomization/UploadCustomCss?cssType=SignUp'"
                  acceptFileExt=".css"
                  [maxFileSize]="maxCssFileSize"
                  (onDocumentClear)="clearCustomCss(CustomCssType.SignUp)">
        </uploader>

    </div>
    <div class="right">
        <h2>{{l('Color')}} {{l('Settings')}}</h2>

        <span>{{l('Set a custom color for all of your backgrounds, texts, elements')}}</span>

        <div class="app-header-color">
            <dx-color-box
                height="48" 
                [(value)]="appearance.navBackground"
                [showClearButton]="true"
                [showDropDownButton]="false"
                stylingMode="filled"
                [openOnFieldClick]="true"
                labelMode="hidden"
                placeholder="Header Background Color"
                (onValueChanged)="onColorValueChanged($event, defaultHeaderColor)"
            ></dx-color-box>
        </div>

        <div class="app-text-color">
            <dx-color-box
                height="48"
                [(value)]="appearance.navTextColor"
                [showClearButton]="true"
                [showDropDownButton]="false"
                stylingMode="filled"
                [openOnFieldClick]="true"
                labelMode="hidden"
                placeholder="Header Text Color"
                (onValueChanged)="onColorValueChanged($event, defaultTextColor)"
            ></dx-color-box>
        </div>

    </div>
</div>