:host {
    display: block;

    ::ng-deep uploader .m-form__help {
        display: block;
    }

    .color-theme {
	margin-bottom: 30px;
    }
}

::ng-deep .dx-colorbox-overlay {
    .dx-popup-content {
        margin: 15px;
    }
}
