:host {
    display: block;

    padding: 1rem;

    @media screen and (min-width: 768px) {
        padding: 2rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        gap: 1rem;

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }

        span {
            border-bottom: none;
            height: 57px;

            font-family: Plus Jakarta Sans;
            font-size: 20px;
            letter-spacing: -0.02em;
            border-bottom: 3px solid #E5E8F3;
            padding: 13px 0;
            color: #10213A;
            height: 60px;
        }

        label {
            margin-bottom: 0;
        }

        .org-unit {
            width: 100%;

            @media (min-width: 768px) {
                width: auto;
            }

            .dx-selectbox {
                width: 280px;
            }
        }

        .toggle-button {
            width: 100%;

            @media (min-width: 768px) {
                width: auto;
            }
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(0px, 1fr));
        gap: 2rem;

        @media (min-width: 1480px) {
            grid-template-columns: repeat(3, minmax(0px, 1fr));
        }

        ::ng-deep uploader {
            display: block;
            border-bottom: 1px solid #E5E8F3;
            padding-bottom: 12px;

            h5 {
                font-family: Plus Jakarta Sans;
                font-size: 17px;
                letter-spacing: 0em;
                color: #10213A;
                position: relative;
                top: 20px;
            }

            p {
                width: 70%;
                display: inline-block;
                font-family: Plus Jakarta Sans;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0em;
                color: #10213A;

                span {
                    padding-top: 10px;
                }

                a {
                    float: right;
                    color: #00A8ED !important;
                    font-weight: 500;
                    padding: 10px 10px 0;
                    line-height: 22px;

                    &:before {
                        content: url(../../../../../assets/common/icons/download.svg);
                        border-bottom: 2px solid #00A8ED;
                        position: relative;
                        right: 4px;
                    }
                }
            }

            form {
                display: inline-block;
                float: right;
                width: 25%;

                & > .form-group {
                    margin-bottom: 0;
                }

                div:last-child {
                    text-align: center;
                }
            }

            .ngx-file-drop__drop-zone {
                width: 100%;
                padding-left: calc((100% - 175px) / 2);
                border-radius: 10px !important;
                background: rgba(245, 249, 251, 0.3);

                &:before {
                    margin-right: 5px;
                    margin-left: 36px;
                }

                a {
                    font-family: Plus Jakarta Sans;
                    font-size: 14px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color: #10213A;
                }
            }
        }

        h2 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 700;
        }

        h5 {
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 700;
        }

        .left {
            @media (min-width: 1480px) {
                grid-column: span 2 / span 2;
            }

            ::ng-deep .portal-menu-items-list {
                .portal-menu-item {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: 0.5rem;

                    &:before {
                        content: none;
                    }

                    .menu-item-code {
                        width: 130px;
                        font-weight: bold;
                    }

                    .custom-display-name {
                        flex: 0.9;

                        .dx-placeholder {
                            font-style: italic;
                            color: lightgray;
                            font-size: 15px;
                            font-weight: 500;
                            letter-spacing: 0.3px;
                        }
                    }

                    .menu-item-hide {
                        margin-left: auto;
                    }
                }

                .dx-sortable-dragging:after {
                    content: none;
                }
            }

            .upload-wrapper ::ng-deep settings-uploader {
                padding-top: 0.5rem;
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid hsl(var(--border));

                &:first-child {
                    margin-top: 0.25rem;
                }

                &:last-child {
                    margin-bottom: 0.5rem;
                    border-bottom: none;
                }
            }
        }

        .right {
            @media (min-width: 1480px) {
                grid-column: span 1 / span 1;
            }

            & > div:not(:first-child) {
                margin: 1.5rem 0;
            }

            span {
                font-family: Plus Jakarta Sans;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0em;
                padding: 0.25rem 0;
                color: #10213A;
            }

            .description {
                color: rgb(75 85 99);
            }

            .app-font-family {
                ::ng-deep .dx-texteditor-input {
                    font-weight: 500;
                }
            }

            .app-button-round {
                display: flex;
                justify-content: space-between;
                margin-right: 25px;

                & > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background: #F8FAFC;
                    min-width: 100px;
                    cursor: pointer;
                    text-align: center;
                    border: 3px solid #dedede;
                    border-radius: 10px;
                    padding: 8px 4px;

                    &.selected {
                        border: 3px solid #00aeef;
                    }

                    ::ng-deep dx-number-box {
                        margin: auto;

                        input {
                            border: none;
                            font-weight: 400;
                            font-size: 1rem;
                        }
                    }

                    .example {
                        width: 100%;
                        height: 30px;
                        padding: 4px;
                        background: var(--button-color);
                        border-radius: var(--button-radius);
                        color: var(--button-text-color);

                        &:hover {
                            background: var(--button-hover-color);
                        }

                        &.predefined0 {
                            border-radius: 0px !important;
                        }

                        &.predefined25 {
                            border-radius: 25px !important;
                        }

                        &.predefined-custom {
                            border-radius: var(--custom-radius-value) !important;
                        }
                    }
                }
            }

            ::ng-deep dx-color-box {
                background: #F8FAFC;
                border-radius: 10px;
                max-width: 95%;

                .dx-texteditor-input-container {
                    padding-left: calc(100% - 134px);
                }

                .dx-colorbox-color-result-preview {
                    left: unset;
                    width: 34px;
                    height: 22px;
                    border-radius: 0.375rem;
                    border-width: 1px;
                    border-color: hsl(var(--input));
                    cursor: pointer;
                    padding: 0.25rem;
                }

                .dx-texteditor-label {
                    color: #10213A;
                }

                input {
                    font-family: Plus Jakarta Sans;
                    font-size: 13px;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #10213A;
                }

                .dx-placeholder {
                    display: block !important;
                    opacity: 1;
                    top: 0;
                    left: 10px;
                    font-family: Plus Jakarta Sans;
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: 0em;
                    color: #10213A;
                    width: calc(100% - 125px);
                }
            }

            button {
                margin-right: 5%;
            }
        }

        button {
            margin: 30px 0;
            float: right;
            border-radius: 10px !important;
        }
    }

    .card {
        border-radius: 0.5rem;
        border-width: 1px;
        background-color: hsl(var(--card));
        padding: 1.5rem;
        color: hsl(var(--card-foreground));
        border-style: solid;
    }

    ::ng-deep .dx-texteditor-input {
        border: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, .125);
    }
    
    ::ng-deep dx-select-box {
        max-width: 95%;

        input {
            border-radius: 10px;
            font-family: Plus Jakarta Sans;
            font-size: 13px;
            line-height: 27px;
            letter-spacing: 0em;
            color: #10213A;
        }

        .dx-placeholder {
            font-family: Plus Jakarta Sans;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0em;
            color: #10213A;
        }
    }

    ::ng-deep uploader .m-form__help {
        display: block;
    }

    .color-theme {
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 35px;

        h5 {
            font-size: 14px;
            letter-spacing: 0.2px;
            color: #677380;
        }
    }
    /* Toggle button */
    .toggleContainer {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        border: 3px solid rgb(34 197 94);
        border-radius: 20px;
        background: rgb(34 197 94);
        font-weight: bold;
        color: white;
        cursor: pointer;
        
        &::before {
            content: '';
            position: absolute;
            width: 50%;
            height: 100%;
            left: 0%;
            border-radius: 20px;
            background: white;
            transition: all 0.3s;
        }

        div {
            width: 100px;
            padding: 6px;
            text-align: center;
            z-index: 1;
            transition: all 0.3s;

            &.is-active {
                color: #333;
            }
        }
    }

    .toggleCheckbox {
        display: none;

        &:checked + .toggleContainer::before {
            left: 50%;
        }
    }
}

::ng-deep .dx-colorbox-overlay {
    .dx-popup-content {
        margin: 15px;
    }
}
