.clipboard-holder {
    position: relative;
    &:hover i {
        display: initial;
    }
    i {
        display: none;
        position: absolute;
        margin-left: 10px;
        top: 35%;
    }
}