<div [@routerTransition]>
    <i class="name"></i>
    <h1 class="sign-in">{{ls.l("Auto Login")}}</h1>
    <form #loginForm="ngForm" class="login-form" method="post" novalidate (ngSubmit)="sendloginLink()">
        <div class="form-group clearfix options row">
            {{ ls.l(isLinkSent ? 'AutoLoginMailSentMessage' : 'AutoLoginMessage', userEmail, tenantName) }}
        </div>
        <div class="form-actions">
            <button type="submit" class="submit" [hidden]="isLinkSent">
                {{ls.l("Auto Login")}}
                <img src="./assets/common/icons/arrow-right-long-icon.svg" alt="right arrow" class="pull-right">
            </button>
        </div>
    </form>
    <div class="login-terms-and-condition">
        <span>{{ls.l('ByContinuingYouAgree')}} <br><a (click)="openConditionsDialog(conditions.Terms)">{{ls.l('TermsOfUse')}}</a> {{ls.l('and')}} <a (click)="openConditionsDialog(conditions.Policies)">{{ls.l('PrivacyPolicy')}}</a></span>
    </div>
</div>
