@border-color: #e5e9ec;

:host {
    position: relative;
    top: 75px;

    &.fullscreen {
        top: 0px !important;
        dx-scroll-view {
            background: #fff
        }
    }

    .operations {
        display: flex;
        overflow-x: hidden;
        border-bottom: 1px solid @border-color;
        .toolbar {
            width: 100%;
        }
    }

    .mainStatsView {
        background: #fff;
        border-top: 1px solid #dfdfdf;
        padding: 14px;
        position: relative;
        height: calc(100% + 62px);
        /deep/ .dxc-labels {
            rect {
                rx: 5
            }
            text {
                letter-spacing: 0.2px;
            }
        }
        /deep/ .dxc-arg-elements {
            text {
                letter-spacing: 0.2px;
            }
        }
        md-tab-group {
            /deep/ .mat-tab-header {
                margin-bottom: 20px;
                border-bottom: none;
                .mat-tab-label {
                    font-weight: 300;
                    border-bottom: none;
                    padding: 30px 20px;
                    font-size: 22px;
                    color: rgba(33, 44, 54, .4);
                    background: initial;
                    &.mat-tab-label-active {
                        font-weight: 600;
                        background-color: initial;
                        color: #212c36;
                    }
                }
                .mat-ink-bar {
                    display: none;
                }
            }
            dx-chart {
                position: relative;
                color: red;
                font-size: 60px;
                color: rgba(99, 107, 114, .08);
                font-weight: 700;
                @media screen and (max-width: 1024px) {
                    font-size: 30px
                }
                &:first-of-type {
                    margin-bottom: 42px;
                }
            }
        }

        .showSourceButton {
            position: absolute;
            right: 36px;
            top: 35px;
            z-index: 2;
            cursor: pointer;
            color: #00aeef;
            padding-right: 15px;
            font-weight: 500;
            &:after {
                content: url('../../../assets/common/icons/show-source-icon.svg');
                width: 6px;
                height: 10px;
                position: absolute;
                right: 0;
            }
        }

        source-data {
            width: 410px;
            position: absolute;
            top: -62px;
            right: -410px;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            &.showen {
                right: 0;
            }
        }
    }

    /deep/ .dx-gallery.dx-widget[accesskey='statsForecastSwitcher'] {
        border: 1px solid #ddd;
        vertical-align: middle;
        border-radius: 4px;
        color: #677380;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.85;
        padding: 7px;
        letter-spacing: 0.3px;
        display: inline-block;
        font-weight: 400;
        .dx-widget {
            &.dx-gallery-nav-button-next {
                &:before {
                    content: url(../../../assets/common/icons/slider-arrow.svg);
                    top: 0;
                    right: 9px;
                }
            }

            &.dx-gallery-nav-button-prev {
                &:before {
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    content: url(../../../assets/common/icons/slider-arrow.svg);
                    left: 9px;
                }
            }
            &:before {
                top: 9px;
                margin: 0 auto;
                font-size: 29px;
                width: 8px;
                height: 15px;
            }
            &:after {
                background: none
            }
        }
    }
}
