<app-headline [config]="headlineConfig">
    <synch-progress class="synch-progress"></synch-progress>
</app-headline>

<app-toolbar [(config)]="toolbarConfig"></app-toolbar>
<div class="mainStatsView">
    <a *ngIf="statsData && statsData.length" (click)="showSourceDataWidget()" class="showSourceButton" md-raised-button>{{l('Show source data')}}</a>
    <source-data [ngClass]="{'showen': showSourceData}"
                 (onClose)="hideSourceDataWidget()"
                 [historicalSourceData]="historicalSourceData"
                 [forecastSourceData]="forecastSourceData">
    </source-data>
    <md-tab-group>
        <md-tab label="{{l('Trend Chart')}}">
            <dx-scroll-view showScrollbar="onHover" [height]="calculateChartsScrolableHeight()">
                <!-- Top linear chart -->
                <dx-chart
                    id="chart"
                    [dataSource]="statsData"
                    animation="{easing: 'easeOutCubic',duration: 2000}"
                    [customizeLabel]="customizeLabel"
                    [customizePoint]="customizePoint"
                    (onDone)="onDone($event)"
                    #linearChart>
                    <dxo-size [height]="chartsHeight / 2"></dxo-size>
                    <!-- common settings for charts -->
                    <dxo-common-series-settings argumentField="date"
                                                [showInLegend]="false"
                                                [maxLabelCount]="maxLabelCount"
                                                ignoreEmptyPoints="true"
                                                hoverMode="none">
                        <dxo-label
                            [visible]="true"
                            [backgroundColor]="labelPositiveBackgroundColor">
                            <dxo-format
                                type="currency largeNumber"
                                [currency]="currency">
                            </dxo-format>
                            <dxo-font size="10px" weight="300"></dxo-font>
                        </dxo-label>
                        <dxo-point size="8"></dxo-point>
                    </dxo-common-series-settings>
                    <dxi-series
                        pane="topPane"
                        color="url(#forecast-linear-gradient)"
                        type="rangeArea"
                        rangeValue1Field="minEndingBalance"
                        rangeValue2Field="forecastEndingBalance">
                        <dxo-label [visible]="false"></dxo-label>
                    </dxi-series>
                    <dxi-series
                        name="forecast"
                        pane="topPane"
                        [color]="forecastEndingBalanceColor"
                        valueField="forecastEndingBalance">
                    </dxi-series>
                    <dxi-series
                        pane="topPane"
                        color="url(#historical-linear-gradient)"
                        type="rangeArea"
                        rangeValue1Field="minEndingBalance"
                        rangeValue2Field="endingBalance">
                        <dxo-label [visible]="false"></dxo-label>
                    </dxi-series>
                    <dxi-series
                        name="historical"
                        [color]="historicalEndingBalanceColor"
                        valueField="endingBalance"
                        pane="topPane">
                    </dxi-series>
                    <dxi-pane name="topPane"></dxi-pane>

                    <!-- Left axis -->
                    <dxi-value-axis>
                        <dxo-label [customizeText]="customizeAxisValues">
                            <dxo-format
                                type="currency largeNumber"
                                [currency]="currency">
                            </dxo-format>
                        </dxo-label>
                        <dxo-grid color="#e5e9ec" [visible]="true"></dxo-grid>
                    </dxi-value-axis>

                    <!-- Bottom axis -->
                    <dxo-argument-axis
                        argumentType="datetime"
                        visible="true">
                        <dxo-label [customizeText]="customizeBottomAxis">
                            <dxo-format
                                [type]="axisDateFormat">
                            </dxo-format>
                        </dxo-label>
                    </dxo-argument-axis>

                    <!-- Common settings for axis -->
                    <dxo-common-axis-settings allowDecimals="false">
                        <dxo-label alignment="center" overlappingBehavior="hide">
                            <dxo-font weight="300" color="#677380" size="12px"></dxo-font>
                        </dxo-label>
                        <dxo-strip-style>
                            <dxo-label horizontal-allignment="center"></dxo-label>
                        </dxo-strip-style>
                    </dxo-common-axis-settings>
                </dx-chart>
                <dx-chart
                    id="bar"
                    [dataSource]="statsData"
                    defaultPane="bottomPane"
                    animation="{easing: 'easeOutCubic',duration: 2000}"
                    [barWidth]="0.5"
                    (onDone)="onDone($event)"
                    #barChart>
                    <dxo-size [height]="chartsHeight / 2"></dxo-size>
                    <!-- common settings for charts -->
                    <dxo-common-series-settings
                        argumentField="date"
                        type="stackedBar"
                        [showInLegend]="false"
                        ignoreEmptyPoints="true"
                    >
                        <dxo-point size="6"></dxo-point>
                    </dxo-common-series-settings>

                    <dxo-tooltip
                        enabled="true"
                        zIndex="1"
                        [customizeTooltip]="customizeBarTooltip">
                    </dxo-tooltip>

                    <dxi-series [color]="historicalIncomeColor" valueField="income" name="historical"></dxi-series>
                    <dxi-series [color]="historicalExpensesColor" valueField="expenses" name="historicalExpenses"></dxi-series>
                    <dxi-series [color]="forecastIncomeColor" valueField="forecastIncome" name="forecast"></dxi-series>
                    <dxi-series [color]="forecastExpensesColor" valueField="forecastExpenses" name="forecastExpenses"></dxi-series>
                    <dxi-series
                        type="line"
                        [color]="historicalNetChangeColor"
                        valueField="netChange"
                        name="netChange">
                    </dxi-series>

                    <dxi-series
                        type="line"
                        [color]="forecastNetChangeColor"
                        valueField="forecastNetChange"
                        name="forecastNetChange">
                    </dxi-series>

                    <!-- Bottom axis -->
                    <dxo-argument-axis
                        argumentType="datetime"
                        visible="true">
                        <dxo-label [customizeText]="customizeBottomAxis">
                            <dxo-format
                                [type]="axisDateFormat">
                            </dxo-format>
                        </dxo-label>
                    </dxo-argument-axis>

                    <!-- Left axis -->
                    <dxi-value-axis>
                        <dxo-label [customizeText]="customizeAxisValues">
                            <dxo-format
                                type="currency largeNumber"
                                [currency]="currency">
                            </dxo-format>
                        </dxo-label>
                        <dxo-grid color="#e5e9ec" [visible]="true"></dxo-grid>
                    </dxi-value-axis>

                    <!-- Bottom axis -->
                    <dxo-argument-axis
                        argumentType="datetime"
                        visible="true">
                        <dxo-label [customizeText]="customizeBottomAxis">
                            <dxo-format
                                [type]="axisDateFormat">
                            </dxo-format>
                        </dxo-label>
                    </dxo-argument-axis>

                    <!-- Common settings for axis -->
                    <dxo-common-axis-settings allowDecimals="false">
                        <dxo-label alignment="center">
                            <dxo-font weight="300" color="#677380" size="12px"></dxo-font>
                        </dxo-label>
                        <dxo-strip-style>
                            <dxo-label horizontal-allignment="center"></dxo-label>
                        </dxo-strip-style>
                    </dxo-common-axis-settings>
                </dx-chart>
            </dx-scroll-view>
        </md-tab>
        <md-tab label="{{l('Details Chart')}}">
        </md-tab>
    </md-tab-group>
</div>

<svg>
    <linearGradient id="historical-linear-gradient" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="rgba(0, 174, 239, .5)"/>
        <stop offset="100%" stop-color="#fff"/>
    </linearGradient>

    <linearGradient id="forecast-linear-gradient" x1="0" x2="0" y1="0" y2="1">
        <stop offset="0%" stop-color="rgba(249, 186, 78, .5)"/>
        <stop offset="100%" stop-color="#fff"/>
    </linearGradient>
</svg>
