@border-color: #e5e9ec;

:host {
    position: relative;
    top: 75px;

    .operations {
        display: flex;
        overflow-x: hidden;
        border-bottom: 1px solid @border-color;
        .toolbar {
            width: 100%;
        }
    }

    .dx-visibility-change-handler {
        //padding: 20px;
    }

    /deep/ .dxc-labels rect {
        rx: 5
    }
}
