<div class="photo-area" (click)="showUploadPhoto($event)" [ngStyle]="{'background-image': photoOriginalData ? 'url(' + photoOriginalData + ')': ''}"></div>
<modal-dialog (onTitleKeyUp)="onFullNameKeyUp($event)">
    <dx-context-menu
        [selectByClick]="true"
        [selectionMode]="'single'"
        [dataSource]="saveContextMenuItems"
        [position]="{ my: 'top right', at: 'bottom right' }"
        (onSelectionChanged)="onSaveOptionSelectionChanged($event)"
        target="#{{saveButtonId}}">
    </dx-context-menu>
    <app-toolbar [config]="toolbarConfig"></app-toolbar>
    <crm-static-list #stagesList
                     [width]="'210px'"
                     [selectedKeys]="[this.stageId]"
                     [showConfirmation]="false"
                     [selectedItems]=""
                     [hideButtons]="true"
                     [highlightSelected]="true"
                     [targetSelector]="'[accessKey=CreateLeadStage]'"
                     (onItemSelected)="onStagesChanged($event)"
                     [showTitle]="false"
                     [list]="stages"
                     [funnelStyling]="true"
                     [disableHindmost]="true">
    </crm-static-list>
    <!--<crm-static-list #partnerTypesList-->
                    <!--[width]="'210px'"-->
                    <!--[selectedKeys]="[partnerTypeId]"-->
                    <!--[showConfirmation]="false"-->
                    <!--[selectedItems]=""-->
                    <!--[hideButtons]="true"-->
                    <!--[highlightSelected]="true"-->
                    <!--[targetSelector]="'[accessKey=PartnerTypesList]'"-->
                    <!--(onItemSelected)="onPartnerTypeChanged($event)"-->
                    <!--[showTitle]="false"-->
                    <!--[list]="partnerTypes">-->
    <!--</crm-static-list>-->
    <crm-rating [targetSelector]="'[accesskey=\'ClientRating\']'" [hideButtons]="true"></crm-rating>
    <crm-types-list [targetSelector]="'[accesskey=\'PartnerTypesList\']'" [hideButtons]="true" (onSelectedChanged)="onPartnerTypeChanged($event)"></crm-types-list>
    <crm-tags-list [targetSelector]="'[accesskey=\'ClientTags\']'" [hideButtons]="true"></crm-tags-list>
    <crm-lists-list [targetSelector]="'[accesskey=\'ClientLists\']'" [hideButtons]="true"></crm-lists-list>
    <crm-user-assignment-list   
        [targetSelector]="'[accesskey=\'ClientAssign\']'" 
        [permissionKey]="getAssignmentsPermissinKey()"
        [hideButtons]="true" >
    </crm-user-assignment-list>
    <div *ngIf="similarCustomers?.length" class="similar-clients-message" (click)="showSimilarCustomers($event)">Similar records found. Click here for details</div>
    <mat-sidenav class="main_sidenav" mode="side" position="end" opened="true">
      <mat-tab-group>
        <mat-tab *ngFor="let type of contactTypes" label="{{l(type) | uppercase}}">
          <div class="tab-content">
              <div class="field" *ngIf="type == 'business'">
                  <label>{{l('Company')}}</label>
                  <dx-text-box #companyComponent
                    name="company"
                    [width]="'360px'"
                    (onKeyUp)="onCompanyKeyUp($event)"
                    [(value)]="company">
                  </dx-text-box>
                  <span [class]="company && 'clear-contact' || 'hidden'" (click)="company = ''">+</span>
              </div>
              <div class="field" *ngIf="type == 'business'">
                <label>{{l('Title')}}</label>
                <dx-text-box #titleComponent
                    name="title"
                    [width]="'360px'"
                    [(value)]="title">
                </dx-text-box>
                <span [class]="title && 'clear-contact' || 'hidden'" (click)="title = ''">+</span>
              </div>
              <dx-validation-group (onInitialized)="initValidationGroup($event, 'emailValidators')">
                  <div class="field email">
                      <label>{{l('Email')}}</label>
                      <dx-text-box #emailComponent
                        name="email"
                        [width]="'260px'"
                        (onKeyUp)="onEmailKeyUp($event, type)"
                        (onInitialized)="onEmailComponentInitialized($event, type)">
                        <dx-validator>
                          <dxi-validation-rule type="pattern" [pattern]="emailRegEx" message="{{l('EmailIsNotValid')}}."></dxi-validation-rule>
                        </dx-validator>
                      </dx-text-box>
                      <dx-select-box
                        width="100px"
                        name="emailType"
                        placeholder="{{l('Type')}}"
                        [dataSource]="emailTypes"
                        [disabled]="!addButtonVisible[type]['emails']"
                        displayExpr="name"
                        valueExpr="id"
                        [value]="emailType[type]"
                        (onValueChanged)="onTypeChanged($event, 'email', type)">
                      </dx-select-box>
                      <span [class]="addButtonVisible[type]['emails'] && 'add-contact' || clearButtonVisible[type]['emails'] && 'clear-contact' || 'hidden'" (click)="clearButtonVisible[type]['emails'] ? emptyInput('emails', type): addContact('emails', type)">+</span>
                  </div>
              </dx-validation-group>
              <div class="field" *ngFor="let email of contacts.emails[type]; index as i">
                  <p class="{{email.type}}">{{email.email}}<span (click)="removeContact('emails', type, i)"></span></p>
			  </div>
			  <dx-validation-group (onInitialized)="initValidationGroup($event, 'phoneValidators')">
				<div class="field phone H">
                    <label>{{l('Phone')}}</label>
                    <country-phone-number
                        [(phoneNumber)]="phones[type]"
                        [required]="false"
                        #countryPhoneNumber
                        (onKeyUp)="onPhoneKeyUp($event, countryPhoneNumber.isValid(), type)"
                        (onInitialized)="onPhoneComponentInitialized($event, type)">
                    </country-phone-number>
					<dx-number-box
						class="tabular"
						name="phoneExtension"
						[width]="'50px'"
						[placeholder]="l('Ext')"
						[(value)]="phoneExtension[type]">
						<dx-validator>
							<dxi-validation-rule type="stringLength" [max]="5" message="{{l('PhoneExtensionExceedsMaxSize')}}."></dxi-validation-rule>
						</dx-validator>
					</dx-number-box>
					<dx-select-box
						width="100px"
						name="phoneType"
						[disabled]="!addButtonVisible[type]['phones']"
						placeholder="{{l('Type')}}"
						[dataSource]="phoneTypes"
						displayExpr="name"
						valueExpr="id"
						[value]="phoneType[type]"
						(onValueChanged)="onTypeChanged($event, 'phone', type)">
					</dx-select-box>
					<span [class]="addButtonVisible[type]['phones'] && 'add-contact' || clearButtonVisible[type]['phones'] && 'clear-contact' || 'hidden'" (click)="clearButtonVisible[type]['phones'] ? emptyInput('phones', type): addContact('phones', type)">+</span>
				</div>
			  </dx-validation-group>
              <div class="field" *ngFor="let phone of contacts.phones[type]; index as i">
                  <p class="phone {{phone.type}}">{{phone.number | phone}}&nbsp;&nbsp;{{phone.ext ? 'ext: ' + phone.ext: '' }}<span (click)="removeContact('phones', type, i)"></span></p>
              </div>
              <dx-validation-group *ngIf="type == 'business'" (onInitialized)="initValidationGroup($event, 'websiteValidators')">
                <div class="field">
                    <label>{{l('Website')}}</label>
                    <dx-text-box #websiteComponent
                        name="website"
                        [width]="'360px'"
                        [(value)]="website">
                        <dx-validator>
                            <dxi-validation-rule type="pattern" [pattern]="urlRegEx" message="{{l('LinkIsNotValid')}}."></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                    <span [class]="website && 'clear-contact' || 'hidden'" (click)="website = ''">+</span>
                </div>
              </dx-validation-group>
              <dx-validation-group>
                  <div class="field addr address H">
                      <label>{{l('Address')}}</label>
                      <input *ngIf="!googleAutoComplete" type="text"
                          name="Address"
                          placeholder="{{l('Street')}}"
                          [(ngModel)]="contacts.addresses[type].address"
                          class="dx-texteditor-input"/>
                      <input *ngIf="googleAutoComplete" type="text"
                          name="Address"
                          placeholder="{{l('Street')}}"
                          [(ngModel)]="contacts.addresses[type].address"
                          class="dx-texteditor-input"
                          (country)="updateCountryInfo($event, type)"
                          (street_number)='contacts.addresses[type].streetNumber=$event'
                          (street)='contacts.addresses[type].streetAddress=$event'
                          (city)='contacts.addresses[type].city=$event'
                          (state)='contacts.addresses[type].state=$event'
                          (postal_code)='contacts.addresses[type].zip=$event'
                          (setAddress)="onAddressChanged($event, type)"
                          angularGooglePlace/>
                      <dx-select-box
                        width="100px"
                        name="addressType"
                        placeholder="{{l('Type')}}"
                        [dataSource]="addressTypes"
                        displayExpr="name"
                        valueExpr="id"
                        [disabled]="!contacts.addresses[type].address"
                        [value]="contacts.addresses[type].addressType"
                        (onValueChanged)="onTypeChanged($event, 'address')">
                      </dx-select-box>
                      <span [class]="contacts.addresses[type].address && 'clear-contact' || 'hidden'" (click)="contacts.addresses[type] = {}">+</span>
                  </div>
                  <div class="field addr">
                      <label></label>
                      <dx-text-box
                          name="city"
                          maxLength="50"
                          placeholder="{{l('City')}}"
                          [width]="'360px'"
                          [(value)]="contacts.addresses[type].city">
                      </dx-text-box>
                  </div>
                  <div class="field addr">
                      <label></label>
                      <dx-select-box
                          [dataSource]="states"
                          displayExpr="name"
                          valueExpr="name"
                          name="state"
                          placeholder="{{l('State')}}"
                          [width]="'360px'"
                          [searchEnabled]="true"
                          [(value)]="contacts.addresses[type].state">
                      </dx-select-box>
                  </div>
                  <div class="field addr">
                      <label></label>
                      <dx-text-box
                          maxLength="10"
                          placeholder="{{l('Zip')}}"
                          [width]="'360px'"
                          [(value)]="contacts.addresses[type].zip">
                      </dx-text-box>
                  </div>
                  <div class="field">
                      <label></label>
                      <dx-select-box
                          [dataSource]="countries"
                          displayExpr="name"
                          valueExpr="name"
                          name="country"
                          placeholder="{{l('Country')}}"
                          [width]="'360px'"
                          [searchEnabled]="true"
                          [(value)]="contacts.addresses[type].country"
                          (onValueChanged)="onCountryChange($event)">
                      </dx-select-box>
                  </div>
                  <div class="field" *ngIf="type == 'personal'">
                      <label class="comment">{{l('Notes')}}</label>
                      <dx-text-area
                        name="comment"
                        [width]="'360px'"
                        [height]="'100px'"
                        (onKeyUp)="onCommentKeyUp($event, type)"
                        [(value)]="notes[type]">
                      </dx-text-area>
                      <span class="dx-icon dx-icon-clear {{!notes[type] && 'hidden'}}" (click)="notes[type] = ''"></span>
                  </div>
              </dx-validation-group>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
</modal-dialog>
