/deep/ .dx-submenu {
    border-radius: 5px;
}

/deep/ .usage-type-item {
    span{ 
        &:first-child {
            display: inline-block;
            width: 80px;
        }
        &:last-child {
            font-size: 10px;
        }
    }
}

:host {
    /deep/ .mat-dialog-header {
        padding: 0px 10px 0px 130px!important;
    }

    /deep/ .mat-dialog-actions {
        #saveClientOptions {
            width: 227px;
        }
    }

    .toolbar-wraper {
        width: 100%;
        app-toolbar {
            float: right;
        }
    }

    .form-content {
        display: flex;
        margin-top: 70px;
        flex-direction: column;
        padding: 30px 0px 30px 50px;
        height: calc(~"100vh - 150px");

        .drop-down-box-wrapper {
            width: 130px;
            height: 34px;
            margin-left: 30px;
            overflow: hidden;
            display: inline-block;
            /deep/ .dx-widget {
                margin: 0px;
                input {                        
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.79;
                    letter-spacing: 0.3px;
                    color: #424c56;
                    padding: 0px;
                }
                .dx-texteditor-buttons-container {
                    left: 97px;
                    .dx-dropdowneditor-button { 
                        float: left;    
                    }
                }
            }
        }

        .add-new-button {
            height: 30px;
            padding-top: 10px;
            padding-left: 140px;
            span {
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.79;
                letter-spacing: 0.3px;
                cursor: pointer;
                color: #00aeef;
            }
            &.disabled span {
                color: #dedede;
                cursor: default;
            }
        }

        /deep/ .field {
            margin-bottom: 30px;
            &.addr {
                margin-bottom: 0px;
                &.padding-right {
                    padding-left: 110px;
                }
            }
            &.notes {
                margin-top: 20px; 
            }

            .editable-item {
                margin-left: 110px;        
                &.first-item {
                    margin-left: 0px;
                    display: inline-block;
                }
            }
     
            label {
                height: 22px;
                font-size: 15px;
                line-height: 1.33;
                letter-spacing: 0.3px;
                color: #202b35;
                font-weight: 500;
                width: 70px;
                margin-right: 40px;
                text-transform: uppercase;
                padding-left: 30px;
                vertical-align: bottom;
                &.notes-label {
                    vertical-align: top;
                    background: url("../../../../assets/common/icons/comments.svg") no-repeat 0px 0px;
                }
                &.company-label {
                    background: url("../../../../assets/common/icons/company-icon.svg") no-repeat 0px 0px;
                }
                &.email-label {
                    background: url("../../../../assets/common/icons/email.svg") no-repeat 0px 0px;
                }
                &.phone-label {
                    background: url("../../../../assets/common/icons/phone.svg") no-repeat 0px 0px;
                }
                &.link-label {
                    background: url("../../../../assets/common/icons/link.svg") no-repeat 0px 0px;
                }
                &.address-label {
                    background: url("../../../../assets/common/icons/location.svg") no-repeat 0px 0px;
                }
            }
            p {
                width: 100%;
                height: 22px;
                max-width: 750px;
                position: relative;
                padding-left: 290px;
                padding-right: 32px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &.phone {
                    &.H, &.P {
                        background: url("../../../../assets/common/icons/phone.svg") no-repeat 260px 0px;
                    }

                    &.W {
                        background: url("../../../../assets/common/icons/phone-work.svg") no-repeat 260px 0px;
                    }
                    &.M {
                        background: url("../../../../assets/common/icons/phone-mobile.svg") no-repeat 260px 0px;
                    }
                }
                &.address {
                    padding-left: 60px;  
                    &.P {
                        background: url("../../../../assets/common/icons/address-primary.png") no-repeat 30px 0px;
                    }
                    &.H {
                        background: url("../../../../assets/common/icons/address-home.png") no-repeat 30px 0px;
                    }
                    &.S, &.W {
                        background: url("../../../../assets/common/icons/address-shipping.png") no-repeat 30px 0px;
                    }
                }
                span {  
                    top: 0px;
                    right: 0px;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    background: url('../../../../assets/common/icons/delete-icon.svg') no-repeat center;                        
                }
            }
            input[name="Address"] {
                width: 410px;
                height: 34px;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.79;
                letter-spacing: 0.3px;
                color: #424c56;                    
                padding: 0px;
                vertical-align: top;                      
                margin-left: 30px;
            }
            span {
                font-size: 32px;
                font-weight: 100;
                margin: 0px 15px;
                cursor: pointer;
                line-height: 35px;
                position: relative;
                vertical-align: top;

                &.hidden {
                    display: none;
                }
                &.add-contact {
                    color: #00aeef;
                }
                &.clear-contact {
                    color: red;
                    margin: 0px !important;
                    display: inline-block;
                    left: 30px;
                    width: 8px;
                    height: 8px;
                    .minus-icon {
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        border-radius: 50%;
                        background: #F9E6E6;
                        position: absolute;
                        top: 10px;
                        cursor: pointer;
                        &:before {
                            content: '';
                            width: 8px;
                            height: 2px;
                            background: #e7326a;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            dx-text-box, dx-number-box, dx-text-area, dx-select-box, country-phone-number, dx-drop-down-box {
                display: inline-block;
                margin-left: 30px;  
                &[name="phoneExtension"] {
                    margin-left: 60px;
                }
                &.dx-invalid {
                    input {
                        color: #d9534f!important;
                    }
                }
                &.dx-state-focused {
                    .dx-placeholder {
                        top: -30px;
                    }
                }
                .dx-placeholder, input, textarea {                        
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.79;
                    letter-spacing: 0.3px;
                    color: #424c56;
                    padding: 0px;
                }
            }
            dx-select-box[name="state"] {
                &[name="state"], &[name="country"] {
                    input {
                        width: 360px;
                    }
                }
            }
            country-phone-number {
                width: 300px;
                vertical-align: top;
                .input-group {
                    height: 34px;
                }
                .wrapper {
                    width: 340px!important;
                }
                .flagInput .dropdown .btn {
                    height: 33px;
                }
                .flagInput, .flagInput .dropdown .btn span, .dropdown-content .list-group a span {
                    line-height: 32px;
                    font-size: 12px;
                    margin: 0;
                    top: 0px;
                }
                .flagInput .dropdown .btn span.arrow-down {
                    margin-top: 5px;
                    margin-left: 2px;
                }
                .dropdown-content .list-group a span.country-name{
                    margin-left: 6px;
                }
            }
        }
    }
    

    .photo-area {
        top: 30px;
        width: 110px;
        height: 110px;
        cursor: pointer;
        position: absolute;
        background-color: #F4F4F4;
        z-index: 9999999;
        border-radius: 50%;
        margin-left: 20px;
        background-size: cover;
        background-image: url('../../../../assets/common/images/avatar.svg');

        &:before {
            display: block;
            width: 10px;
            background-color: #DBDCDD;
            height: 40px;
            top: 35px;
            left: 50px;
            position: relative;
        }
        &:after {
           display: block;
           width: 40px;
           background-color: #DBDCDD;
           height: 10px;
           top: 10px;
           left: 35px;
           position: relative;
        }
    }

    .similar-clients-message {
        top: 70px;
        position: relative;
        background-color: #ed6d6d;
        white-space: nowrap;
        color: white;
        padding: 5px 30px;
        font-size: 16px;
        cursor: pointer;
    }

    .dx-icon-clear {
        color: #999999;
        position: absolute;
        top: 50%;
        width: 34px;
        height: 34px;
        background-position: 8px 8px;
        background-size: 18px 18px;
        padding: 8px;
        font-size: 18px!important;
        text-align: center;
        line-height: 18px;
    }
}