<div class="left">
    <div class="stepsList">
        <ul>
            <li *ngFor="let step of steps; let i = index" [ngClass]="{ 'active': step.active }">
                <div class="label" [ngClass]="{ 'completed': step.completed }"><span>{{ i + 1 }}</span></div>
                <div class="stepName">
                    <p>{{ step.name }}</p>
                    <button *ngIf="step.editable" (click)="goToStep(i)">{{ l('Change') }}</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="securedInfo">
        <img [src]="'assets/common/icons/secured-shield.svg'" />
        <p>{{ l('SecuredAndEncryptedPaymentMessage') }}</p>
    </div>
    <div class="orderSummary">
        <div class="orderSummaryTitle">
            <h3 >{{ l('PaymentOrderSummary').toUpperCase() }}</h3>
            <hr>
        </div>

        <h4 class="planName">{{ plan.name }}</h4>
        <div class="planPrice">
            <div>
                <span class="currency">{{ plan.currencySymbol || '$' }}</span>
                <span class="numberPrice">{{ plan.pricePerUserPerMonth | customNumber : '1.0-0' }}</span>
                <span class="decimalsPrice">{{ plan.pricePerUserPerMonth | customNumber : '0.2-2' }}</span>
            </div>
            <span class="perMonthText">{{ l('UserPerMonth') }}</span>
        </div>
        <div class="usersAmountAndBilledInfo">{{ l('usersAmountAndBilledInfo', plan.usersAmount, getBillingTerm(plan.billingPeriod)) }}</div>
        <div class="calculations">
            <div>
                <span>{{ l('Subtotal') }}</span>
                <span>{{ (plan.currencySymbol || '$') + (plan.subtotal | number : '1.2-2') }}</span>
            </div>
            <div *ngIf="plan?.discount">
                <span>{{ l('Discount') }}</span>
                <span>{{ plan.discount }}%</span>
            </div>
        </div>
        <div class="total">
            <span>{{ l('Total') }}</span>
            <span>{{ (plan.currencySymbol || '$') + (plan.total | number : '1.2-2') }}</span>
        </div>
    </div>
</div>
<div class="right">
    <div class="header">
        <h2>{{ l('ChoosePaymentOption') }}</h2>
        <div class="phoneBlock">
            <img [src]="'assets/common/icons/talking.svg'" />
            <div>
                <p class="tip">{{ l('HaveAQuestionCall') }}</p>
                <p class="phoneNumber">{{ phoneNumber }}</p>
            </div>
        </div>
        <button (click)="close()"></button>
    </div>
    <div class="paymentMethods">
        <mat-tab-group [(selectedIndex)]="selectedGateway">
            <mat-tab [label]="l('eCheck')">
                <e-check [price]="plan.total" (onSubmit)="submitData($event, paymentMethods.eCheck)"></e-check>
            </mat-tab>
            <mat-tab [label]="l('CreditCard')">
                <credit-card></credit-card>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label="">
                    <img [src]="'assets/common/icons/paypal-logo.png'">
                </ng-template>
                <pay-pal *ngIf="selectedGateway == GATEWAY_PAYPAL" [editionPaymentType]="editionPaymentType"></pay-pal>
            </mat-tab>
            <mat-tab [label]="l('BankTransfer')">
                <bank-transfer></bank-transfer>
            </mat-tab>
            <mat-tab [label]="l('Bitcoin')">
                bitcoin component
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
