:host {
    display: block;
    max-width: 405px;
    padding: 20px;
    h4 {
        text-align: center;
    }
    ::ng-deep dx-text-box, ::ng-deep .dx-selectbox {
        display: inline-block;
        input {
            height: 48px;
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.3px;
            color: #424c56;
        }
        &.dx-state-focused .dx-placeholder {
            font-size: 10px;
        }
        .dx-placeholder {
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.3px;
        }
    }

    mat-dialog-actions {
        justify-content: flex-end;
    }
}
