<section class="categorization-status">
    <header>
        <h2 class="title">{{l('Totals_by_period')}}</h2>
        <div class="select-box-wrap">
            <!-- dx-select-box [items]="availablePeriods"
                           [width]="'100px'"
                           [value]="availablePeriods[availablePeriods.length - 1]"
                           (onValueChanged)="onValueChanged($event)">
            </dx-select-box -->
        </div>
    </header>
    <div class="content-wrap">
        <div [hidden]="!totalData" *ngIf="totalData?.hasOwnProperty('startingBalance')" class="align-data">

            <div class="starting-balance" [hidden]="!totalData.startingBalance && currentPeriod == allPeriodLocalizationValue && totalData.startingBalanceAdjustments">
                {{l('Stats_startingBalance')}}
                <span>{{ totalData.startingBalance | currency }}</span>
            </div>
            <div class="starting-balance-entry" *ngIf="totalData.startingBalanceAdjustments !== 0">{{l('Stats_Starting_Balance_Adjustments')}}<span>{{ totalData.startingBalanceAdjustments | currency }}</span></div>

            <div class="chart-head">
                {{l('Cash_Inflows')}}
                <span [ngStyle]="{'color': creditColor}">
                    <ng-container *ngIf="totalData.credit > 0"><span class="plus">+</span></ng-container>
                    {{ totalData.credit | currency }}
                </span>
            </div>
            <div class="chart-line"><div [ngStyle]="{width: totalData.creditPercent + '%', 'background-color': creditColor}"></div></div>
            <div class="chart-head">
                {{l('Cash_Outflows')}}
                <span [ngStyle]="{'color': debitColor}">
                    <ng-container *ngIf="totalData.debit > 0"><span class="plus">+</span></ng-container>
                    {{ totalData.debit | currency }}
                </span>
            </div>
            <div class="chart-line"><div [ngStyle]="{width: totalData.debitPercent + '%', 'background-color': debitColor}"></div></div>


            <div class="chart-head">
                {{l('Net_Change')}}
                <span [ngStyle]="{'color': totalData.netChange > 0 ? netChangeColor : debitColor}">
                    <ng-container *ngIf="totalData.netChange > 0"><span class="plus">+</span></ng-container>
                    {{ totalData.netChange | currency }}
                </span>
            </div>

            <div class="adjustments" *ngIf="totalData.adjustments !== 0">
                {{l('Unreconciled_Balance')}}
                <span>{{ totalData.adjustments | currency }}</span>
            </div>
            <!--<div class="chart-line"><div [ngStyle]="{width: totalData.netChangePercent + '%', 'background-color': totalData.credit - totalData.debit > 0 ? netChangeColor : debitColor }"></div></div>-->

            <div class="ending-balance">
                {{l('Stats_endingBalance')}}
                <span>{{ totalData.endingBalance | currency }}</span>
            </div>

        </div>
        <app-no-data [hidden]="loading || (totalData && totalData?.hasOwnProperty('startingBalance'))"></app-no-data>
    </div>
</section>
