<header>
    <h5 class="dialog-title">
        {{ title }}
        <a *ngIf="manageAllowed" (click)="addNewContact()" class="float-right add-new-contact">{{ addNewTitle }}</a>
    </h5>
    <div class="search-wrapper clearfix">
        <input type="text" id="search-contacts" class="search-contacts" placeholder="Search contacts..." (keyup)="filterList($event)">
    </div>
</header>
<mat-dialog-content>
    <ul class="contact-list-container" id="contact-list">
        <li class="contact-list-info" [class.odd]="odd" *ngFor="let contact of displayList; let odd = odd" (click)='selectContact(contact)'>
            <div class="avatar">
                <img src="{{ getPhoto( contact?.thumbnail, photoType ) }}" [alt]="ls.l('AltContactPhoto')">
            </div>
            <div class="contact-info">
                <ng-container *ngTemplateOutlet="contactLayoutTemplate; context: { contact: contact, info: data}"></ng-container>
            </div>
            <div class="contact-info-actions">
                <a class="action-link action-link-edit"></a>
            </div>
        </li>
    </ul>
</mat-dialog-content>
