:host {
    display: block;
    background: #fff;

    .default-container {
        box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.15);
    }

    .iframe {
        height: 1167px;
        @media (min-width: 350px) {
            height: 1106px;
        }
        @media (min-width: 768px) {
            height: 981px;
        }
        @media (min-width: 960px) {
            max-width: initial;
            width: calc(100vw - (100vw - 960px)/2 - 320px - 15px);
            height: 1001px;
        }
        @media (min-width: 1200px) {
            width: calc(100vw - (100vw - 1140px)/2 - 285px - 24px);
            height: 1021px;
        }
        @media (min-width: 1500px) {
            height: 872px;
        }
        iframe {
            width:100%;
            height:100%;
            overflow:hidden;
        }
    }

    button {
        border: none;
    }

    .get-access,
    .what-codebreaker-is,
    .learn-more {
        padding: 20px;
        @media (min-width: 768px) {
            padding: 0 67px;
        }
    }

    .get-access {
        display: flex;
        background: url("../../../assets/common/images/bank-code/codebreaker-ai.png");
        .content {
            text-align: center;
            h1 {
                font-family: 'AvianoSans-Bol' !important;
                font-weight: 900;
                letter-spacing: -0.88px;
                color: #000000;
            }
            h2 {
                font-family: 'AvianoSans-Reg' !important;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.23;
                letter-spacing: -0.44px;
                color: #000000;
                margin-bottom: 33px;
            }
            .price-block {
                font-family: 'IBM Plex Sans';
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: -0.24px;
                color: #7a7979;
                .price {
                    margin-bottom: 0;
                    margin-top: 37px;
                    line-height: 22px;
                    span {
                        font-family: 'AvianoSans-Reg' !important;
                        font-size: 18px;
                        letter-spacing: -0.36px;
                        &.bold {
                            font-size: 30px;
                            font-weight: 900;
                            letter-spacing: -0.6px;
                            color: #000000;
                            font-family: 'AvianoSans-Bol' !important;
                        }
                        &.per-month {
                            text-transform: uppercase;
                        }
                    }
                }
            }
            a.button {
                margin: auto;
            }
            @media (min-width: 768px) {
                text-align: left;
                a.button {
                    margin: initial;
                }
            }
        }

        @media (min-width: 768px) {
            height: 550px;
            padding-top: 100px;
            .content {
                max-width: 60%;
                h1 {
                    font-size: 44px;
                }
            }
        }
    }

    .what-codebreaker-is {
        display: flex;
        align-items: center;
        flex-direction: column;
        .description {
            h2 {
                font-family: 'AvianoSans-Reg' !important;
                font-size: 26px;
                font-weight: 900;
                letter-spacing: -0.52px;
                color: #000000;
            }
            p {
                font-family: 'IBM Plex Sans';
                font-size: 16px;
                line-height: 1.44;
                letter-spacing: normal;
                color: #474747;
            }
        }
        @media (min-width: 768px) {
            padding-top: 27px;
            padding-bottom: 88px;
            flex-direction: row;
            .description {
                margin-left: 80px;
            }
        }
    }

    .learn-more {
        background-color: #104779;
        h2 {
            font-family: 'AvianoSans-Reg' !important;
            font-size: 26px;
            font-weight: 900;
            letter-spacing: -0.52px;
            color: #ffffff;
            margin-bottom: 15px;
        }
        p {
            opacity: 0.7;
            font-family: 'IBM Plex Sans';
            font-size: 16px;
            font-weight: 500;
            line-height: 1.44;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.9);
            margin-bottom: 28px;
        }
        a.button {
            font-family: 'AvianoSans-Bol' !important;
            font-size: 16px;
            font-weight: 900;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ac1f22;
            background-color: #ffffff;
            padding: 10px 40px;
            cursor: pointer;
            text-decoration: none;
            margin: auto;
            &:hover {
                background-color: darken(#ffffff, 6%);
            }
        }

        @media (min-width: 768px) {
            padding-top: 57px;
            padding-bottom: 57px;
            a.button {
                margin: initial;
            }
        }
    }


}
