.slogan-side {
    img {
        margin: 60px auto;
        max-width: 100%;
    }
    .slogan {
        font-size: 24px;
        font-weight: 600;
        color: #424c56;
        text-transform: uppercase;
    }
    .slogan-description {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.44;
        color: #888d92;
    }
}

.form-wrapper {
    padding: 0;
    h1 {
        margin-top: 90px;
        margin-bottom: 75px;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        color: #424c56;
    }
    .login-form {
        max-width: 520px;
        margin: 0 auto;
        padding: 0;
    }
    input.form-control {
        font-size: 16px;
        font-weight: 300;
        color: #888d92;
    }
    .form-actions {
        .submit {
            min-width: 300px;
            border-radius: 100px;
            background-color: #00aeef;
            font-size: 18px;
            font-weight: 500;
            color: #ffffff;
            border: 0;
            box-shadow: none;
            line-height: 54px;
            position: relative;

            @media all and (max-width: 450px) {
                min-width: 0;
                width: 95%;
            }

            &[disabled] {
                opacity: .7;
                cursor: not-allowed;
            }
            img {
                position: absolute;
                right: 70px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .mt-checkbox-list {
        .mt-checkbox.mt-checkbox-outline {
            margin-bottom: 0;
            padding-left: 25px;
            font-size: 14px;
            font-weight: 300;
            color: #888d92;
            position: relative;
            &:hover {
                color: darken(#888d92, 20%);
            }
            input {
                display: none;
            }
            > span {
                border-radius: 50%;
                width: 14px;
                height: 14px;
                border: 1px solid #888d92;
                display: block;
                position: absolute;
                left: 6px;
                top: 2px;
                &::after {
                    border: 1px solid #fff;
                    transform: rotate(-45deg);
                    left: 3px;
                    top: 3px;
                    width: 7px;
                    height: 4px;
                    display: block;
                    content: '';
                    position: relative;
                    border-right: 0;
                    border-top: 0;
                    // position: absolute;
                }
            }
            > input:checked ~ span {
                border-color: #00aeef;
                background-color: #00aeef;
                &::after {
                    border-color: #fff;
                }
            }
        }
    }
    .forget-password {
        padding-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #888d92;
        &:hover {
            color: darken(#888d92, 20%);
            text-decoration: none;
        }
    }

    .form-group {
        position: relative;
    }

    .show-password {
        position: absolute;
        right: 13px;
        top: 14px;
        text-transform: uppercase;
        width: 22px;
        height: 15px;
        background-image: url('../../../../assets/common/icons/trailing-icon.svg');

        &.visible {
            background-image: url('../../../../assets/common/icons/trailing-icon-blue.svg');
        }
    }

    .register-account {
        font-size: 15px;
        font-weight: 300;
        color: #888d92;
        a {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #00aeef;
            &:hover {
                color: darken(#00aeef, 10%);
            }
        }
    }
    .agree-rights {
        font-size: 15px;
        font-weight: 300;
        color: #888d92;
        margin-top: 30px;
        margin-bottom: 75px;
        a {
            font-weight: 400;
            color: #888d92;
            &:hover {
                color: darken(#888d92, 20%);
            }
        }
    }

    .entrance-page__social {
        width: 100%;
        margin-bottom: clamp(15px, 3vw, 32px);
    }

    .entrance-page__social ul {
        display: flex;
        justify-content: center;
        padding: 0 60px;
    }

    .entrance-page__social li {
        width: 100%;
        max-width: 200px;
        padding: 0 10px;
        list-style-type: none; 
    }

    .entrance-page__social-link {
        display: flex;
        border-radius: 7px;
        color: #fff;
        height: 49px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        transition: background-color 0.3s;
    }

    .entrance-page__social-link--facebook {
        background-color: #3B5998;
        background-image: url(../../../../assets/common/icons/facebook-icon.svg);
    }

    .entrance-page__social-link--facebook:hover {
        background-color: #0c65d4;
    }

    .entrance-page__social-link--twitter {
        background-color: #41A1F2;
        background-image: url(../../../../assets/common/icons/twitter-icon.svg);
    }

    .entrance-page__social-link--twitter:hover {
        background-color: #0d8cda;
    }

    .entrance-page__social-link--linkedin {
        background-color: #2E78B6;
        background-image: url(../../../../assets/common/icons/linkedin-icon.svg);
    }

    .entrance-page__social-link--linkedin:hover {
        background-color: #005c8c;
    }

    .entrance-page__separator {
        font-size: 15px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        margin: clamp(15px, 3vw, 34px) 0;
        width: 100%;
        overflow: hidden;
    }

    .entrance-page__separator span {
        padding: 3px 22px;
        position: relative;
        z-index: 2;
    }

    .entrance-page__separator span::before, .entrance-page__separator span::after {
        position: absolute;
        content: "";
        width: 160px;
        height: 1px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #D7DEEB;
        z-index: 1;
    }

    .entrance-page__separator span::before {
        left: -160px;
    }

    .entrance-page__separator span::after {
        right: -160px;
    }
}

@media (max-width: 767px) {
    .form-wrapper {
        h1 {
            margin: 40px 0 50px;
            font-weight: 500 !important;
            font-size: 30px;
            color: #282f38;
        }
        * {
            font-weight: 400 !important;
        }
        form {
            padding: 0 17px;
            input.form-control {
                color: #888d92;
                padding: 8px 0;
            }
        }
        .forget-password {
            margin-top: 0;
            color: #6eade9;
            &:hover,
            &:focus {
                color: darken(#6eade9, 20%);
            }
        }
        .agree-rights {
            font-size: 14px;
            margin-bottom: 20px;
            a {
                font-weight: 500 !important;
            }
        }
        .form-actions {
            padding-top: 40px;
            .submit {
                min-width: 0;
                width: 100%;
            }
        }
    }
}
