@heading-color: var(--text-color);
@slider-box-shadow: 0 3px 10px 0 var(--shadow-color, rgba(0, 0, 0, 0.08));
@white: var(--card-bg);
@blue: var(--primary-color);
@scrollbar-color: var(--border-color);

@import './../../styles/sperse-toggle.less';

:host {
  padding: 34px 20px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;

  @media all and (max-width: 680px) {
    padding: 25px 20px;
  }

  .packageHeader {
    z-index: 1;
    text-align: center;
    position: relative;

    ::ng-deep mat-slide-toggle {
      .mat-slide-toggle-thumb {
        background-color: var(--success-color) !important;
      }
    }

    .title {
      font-size: 36px;
      font-weight: 600;
      color: var(--text-color);
      margin-bottom: 0;
      margin-top: 0;

      &.long {
        font-size: 28px;
      }
    }

    .subtitle {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.4px;
      color: var(--muted-color);
      margin-top: 12px;
    }

    @media all and (max-width: 680px) {
      .title {
        font-size: 24px;
      }
    }

    .sperse-toggle {
      .year-discount {
        position: absolute;
        right: -70px;
        top: -36px;
        color: var(--success-color);
        font-weight: 700;
        & > span {
          font-size: 8px;
          font-weight: 500;
        }
        &:before {
          content: '';
          display: block;
          width: 11px;
          height: 11px;
          border-radius: 0 0 11px 0;
          border-right: solid 1.5px var(--success-color);
          border-bottom: solid 1.5px var(--success-color);
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .config-wrap {
      margin: 27px 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @media all and (max-width: 1100px) {
        flex-direction: column;
        margin-bottom: 15px;
      }

      @media all and (max-width: 680px) {
        button.toggle {
          position: relative;
          right: 0;
          margin: 10px auto;
        }
      }
    }

    .slider {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 480px;
      position: relative;

      @media (max-width: 1100px) {
        width: 90%;
        display: block;
      }

      .totalSeatsLabel {
        position: absolute;
        right: calc(100% + 10px);
        white-space: nowrap;

        @media (max-width: 768px) {
          position: static;
          display: block;
        }
      }

      .minus,
      .plus {
        margin-top: 2px;
        font-family: 'FontAwesome';
        font-size: 11px;
        font-weight: 100;
        color: var(--primary-color);
        cursor: pointer;
        font-style: normal;

        &.hidden {
          visibility: hidden;
          display: inline-flex !important;
        }

        @media (max-width: 768px) {
          display: none !important;
        }
      }

      .minus {
        color: var(--muted-color) !important;
        &:before {
          content: '\f068';
        }
      }

      .plus {
        color: var(--primary-color);
        &:before {
          content: '\f067';
        }
      }
    }

    button.toggle {
      position: absolute;
      right: 10px;
      background: none;
      border: none;
      color: var(--muted-color);
      cursor: pointer;
      font-size: 14px;
    }
  }

  .packages {
    display: flex;
    height: 480px;
    min-height: 480px;
    justify-content: center;
    margin-bottom: 15px;
    align-items: flex-start;

    @media (max-width: 768px) {
      flex-flow: column wrap;
      margin-bottom: 10px;
    }
  }

  .footerDescription {
    color: var(--text-color);
    position: absolute;
    left: 50px;
    bottom: 60px;

    p {
      margin-bottom: 5px;
    }

    ul {
      padding-left: 0;
      list-style-position: inside;

      li {
        line-height: 20px;
      }
    }

    @media all and (max-width: 768px) {
      position: relative;
      width: 62%;
      left: 0;
      top: 15px;
      margin: 0 auto;
    }

    @media all and (max-width: 680px) {
      width: 100%;
      font-size: 12px;
    }
  }

  .footer {
    @media (min-width: 768px) {
      padding: 0;
    }

    text-align: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .downgrade {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.3px;
      color: var(--text-color);
      cursor: pointer;
      display: none;
      margin-top: 15px;
    }

    .pricesAreShown {
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 15px;
    }

    .downgrade + .pricesAreShown {
      margin-top: 0;
    }

    button {
      padding: 16px 40px;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: var(--text-color);
      white-space: nowrap;
      border-radius: 100px;
      background-color: var(--success-color);
      line-height: normal;
      border: none;
      right: 10px;
      cursor: pointer;

      &[disabled] {
        color: var(--muted-color);
        background-color: var(--card-bg);
        pointer-events: none;
        cursor: default;
      }

      box-sizing: content-box;
    }

    &.nextButtonPosition-center {
      display: flex;
      flex-direction: column;

      button {
        margin: auto auto 10px;
        position: relative;
        height: 50px;
        padding: 8px 40px;
      }
    }
  }

  .state-slider {
    position: relative;
    width: 334px;
    height: 38px;
    margin: 20px auto;
    border: solid 1px var(--border-color);
    border-radius: 19px;
    cursor: pointer;

    &.point1 {
      width: 128px;

      ::ng-deep .mat-slider {
        .mat-slider-thumb {
          width: 100%;
          right: 0px;
        }
      }
    }

    &.point2 {
      width: 222px;

      ::ng-deep .mat-slider {
        .mat-slider-thumb {
          width: 50%;
          right: -50%;
        }
      }
    }

    &.point4 {
      width: 444px;

      ::ng-deep .mat-slider {
        .mat-slider-thumb {
          width: 25%;
          right: -25%;
        }
      }
    }

    .captions {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-around;
      font-size: 14px;
      font-weight: 500;
      color: var(--muted-color);
      z-index: 2;

      div {
        padding-top: 10px;
        text-align: center;
      }
    }
  }
}

:host(.withBackground) {
  position: relative;
  overflow-y: hidden;
  height: 800px;

  &:before {
    content: '';
    background: linear-gradient(111deg, #c86dd7, #3023ae) no-repeat 100% 360px;
    height: 100%;
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: -100px;
    transform: skew(0, -183deg);
  }

  .footer {
    .downgrade {
      display: block;
    }
    button[disabled] {
      background-color: #fff;
    }
  }
}

.free-version-available {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 320px;
  font-size: 13px;
  line-height: 1.4;
  color: #888d92;
  font-family: var(--app-font-family), sans-serif;
}
@media all and (max-width: 1300px) {
  .free-version-available {
    position: relative;
    top: unset;
    right: unset;
    transform: translateY(0);
  }
}
