<div class="packageHeader">
    <ng-container *ngIf="packagesConfig$ | async">
        <h2 class="title" [ngClass]="{long: !!widgettitle?.length}">{{ widgettitle }}</h2>
        <h3 class="subtitle">{{ subtitle }}</h3>
        <div class="config-wrap">
            <div class="sperse-toggle" [ngClass]="{'both-active': configurator == 'slider'}">
                <div class="left" [ngClass]="{ 'active': getActiveStatus('month') }">{{ ls.l('Monthly') }}</div>
                <mat-slide-toggle
                    [checked]="selectedBillingPeriod === billingPeriod.Yearly"
                    (change)="billingPeriodChanged($event)">
                </mat-slide-toggle>
                <div class="right" [ngClass]="{ 'active': getActiveStatus('year') }">
                    <p class="year-discount">{{ 'SAVE ' + yearDiscount + '%'}}<span> {{ ls.l('OrMore') }}</span></p>
                    {{ ls.l('Annually') }}
                </div>
            </div>
        </div>
    </ng-container>
</div>
<ng-container *ngIf="packagesConfig$ | async">
    <ng-container *ngIf="packages && packages.length">
        <dx-scroll-view showScrollbar="onHover" direction="horizontal">
            <div class="packages">
                <ng-container *ngFor="let package of packages; let i = index;">
                    <package-card
                        [productInfo]="package"
                        [billingPeriod]="selectedBillingPeriod"
                        [isActive]="currentProductId == undefined || currentProductId == package.id"
                        [background]="backgroundColors[i]"
                        [ngClass]="{
                            'selected': selectedPackageIndex === i,
                            'large': packages.length < 3,
                            'last': i === packages.length - 1,
                            'heightFitContent' : packages.length > 2
                        }"
                        (click)="selectPackage(i)">
                    </package-card>
                </ng-container>
            </div>
        </dx-scroll-view>

        <div class="footer" [ngClass]="'nextButtonPosition-' + nextButtonPosition">
            <button [disabled]="nextButtonDisabled" (click)="goToNextStep()">{{ nextStepButtonText }}</button>
        </div>
    </ng-container>
</ng-container>