<dx-tooltip height="440"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="lists-tooltip-container">
            <div class="actions clearfix">
                <span class="title">{{l('Lists')}}</span>
                <div [hidden]="!selectedKeys.length">
                    <span class="filter-clear" (click)="clear()">{{l('Clear')}}</span>
                    <span class="filter-apply" (click)="apply()">{{l('Apply')}}</span>
                </div>
            </div>
            <dx-tree-list 
                width="300px"
                height="350px"
                keyExpr="id"
                parentIdExpr="parent"
                [rootValue]="0"
                [editing]="{allowAdding: true, allowDeleting: true, allowUpdating: true}"
                [showColumnLines]="false"
                [showColumnHeaders]="false"
                [searchPanel]="{visible: true, placeholder: l('Search'), width: 260}"
                [selection]="{allowSelectAll: false, mode: selectedKeys.length ? 'multiple': 'none'}"
                [selectedRowKeys]="selectedLists"
                [(dataSource)]="list"
                (onRowClick)="onRowClick($event)"
                (onInitialized)="onInitialized($event)"
                (onInitNewRow)="onInitNewRow($event)"
                (onRowRemoving)="onRowRemoving($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onCellPrepared)="onCellPrepared($event)"
                (onContentReady)="onContentReady($event)">

                <dxi-column dataField="name"></dxi-column>
            </dx-tree-list>
        </div>
    </div>
</dx-tooltip>