<div [@routerTransition]>
    <div class="login-box">
        <div class="colored-line">
            <span class="bg-blue"></span>
            <span class="bg-red"></span>
            <span class="bg-yellow"></span>
            <span class="bg-green"></span>
        </div>
        <form #loginForm="ngForm" class="login-form" method="post" novalidate (ngSubmit)="login()">
            <div class="logo">
                <ng-container *ngIf="appSession.tenant && appSession.tenant.isWhiteLabel; else defaultTemplate">
                    <a href="javascript:void(0);">
                        <img *ngIf="appSession.tenant.logoId"
                             [src]="remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?logoId=' + appSession.tenant.logoId"
                             [alt]="appSession.tenant.name"
                             width="auto" height="60"/>
                        <img *ngIf="!appSession.tenant.logoId"
                             src="./assets/common/images/bank-code/CodebreakerWideLogo.png"
                             alt="Codebreaker Teach"/>
                    </a>
                </ng-container>
                <ng-template #defaultTemplate>
                    <a href="https://www.codebreakertech.com">
                        <img src="./assets/common/images/bank-code/CodebreakerWideLogo.png" alt="Codebreaker Teach">
                    </a>
                </ng-template>
            </div>

            <div class="success" *ngIf="isLoggedIn; else defaultForm">
                <h3>{{ls.l('YouAreLoggedIn')}}</h3>
                <img src="assets/common/images/bank-code/success-check.png">
            </div>
            <ng-template #defaultForm>
                <h3>{{ls.l('SignInToAccount')}}</h3>
                <label class="label-for-input" for="user-name">{{ls.l('EmailAddress')}}</label>
                <div class="form-group icon-input icon-input__user clearfix">
                    <input [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus
                           class="form-control form-control-solid placeholder-no-fix input-ltr" type="text" autocomplete="off"
                           name="userNameOrEmailAddress" required tabindex="1" id="user-name"/>
                </div>

                <label class="label-for-input" for="pass">{{ls.l('Password')}}</label>
                <div class="form-group icon-input icon-input__password clearfix">
                    <input [(ngModel)]="loginService.authenticateModel.password"
                           class="form-control form-control-solid placeholder-no-fix input-ltr" [type]="showPassword ? 'text' : 'password'" autocomplete="off"
                           name="password" required maxlength="32" tabindex="2" id="pass"/>
                    <a class="show-password" (click)="showHidePassword($event)">{{ls.l("Show")}}</a>
                </div>
                <div class="form-actions text-left">
                    <button type="submit" class="submit" [disabled]="loginInProgress">
                        {{ls.l("Login Now")}}
                    </button>
                </div>
                <div class="form-group clearfix options row">
                    <div class="col">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input class="form-control" [(ngModel)]="loginService.authenticateModel.rememberClient" type="checkbox" name="rememberMe"
                                       value="true" />{{ls.l("RememberMe")}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix options row">
                    <div class="col">
                        <a routerLink="/account/forgot-password" 
                           [queryParams]="{extlogin: isExtLogin, 'email': loginService.authenticateModel.userNameOrEmailAddress}" id="forget-password" class="forget-password">
                            {{ls.l("IForgotMyPassword")}}                                               
                        </a>
                    </div>
                </div>
            </ng-template>
        </form>

        <div class="colored-line">
            <span class="bg-blue"></span>
            <span class="bg-red"></span>
            <span class="bg-yellow"></span>
            <span class="bg-green"></span>
        </div>
    </div>
    <div class="login-terms-and-condition">
        <span>{{ls.l('ByContinuingYouAgree')}}<br>
            <a (click)="openConditionsDialog(conditions.Terms)">{{ls.l('TermsOfUse')}}</a> {{ls.l('and')}}&nbsp;
            <a (click)="openConditionsDialog(conditions.Policies)">{{ls.l('PrivacyPolicy')}}</a>
        </span>
    </div>
</div>