<modal-dialog [title]="title" [buttons]="buttons">
    <dx-scroll-view showScrollbar="onHover">
        <form #tenantEditForm="ngForm" role="form" novalidate class="form-validation" (submit)="save()">
            <div class="modal-body">
                <tabset class="tab-container tabbable-line">
                    <tab [heading]="ls.l('TenantProperties')">
                        <ng-container  *ngIf="tenant">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>{{ls.l("Name")}}</label>
                                <input #nameInput type="text" name="Name" class="form-control input-ltr" [ngClass]="{'edited':tenant.name}" [(ngModel)]="tenant.name" required maxlength="128">
                            </div>
                            <modules-editions-select *ngIf="editionsGroups"
                                                     [editionsGroups]="editionsGroups"
                                                     [(editionsModels)]="editionsModels">
                            </modules-editions-select>
                            <dx-check-box [text]="ls.l('Active')" [(value)]="tenant.isActive"></dx-check-box>
                        </ng-container>
                    </tab>
                    <tab [heading]="ls.l('Features')">
                        <dx-scroll-view showScrollbar="onHover">
                            <form #editTenantFeaturesForm="ngForm" name="editTenantFeaturesForm" role="form" novalidate class="form-validation" (submit)="save()">
                                <div class="modal-body">
                                    <feature-tree [editData]="features$ | async"></feature-tree>
                                </div>
                            </form>
                            <button class="button-layout button-default"
                                    [title]="ls.l('ResetFeaturesTooltip')"
                                    (click)="resetFeatures($event)">
                                {{ ls.l('ResetSpecialFeatures') }}
                            </button>
                        </dx-scroll-view>
                    </tab>
                    <tab [heading]="ls.l('TenantDatabases')">
                        <ng-container  *ngIf="tenant">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>{{ls.l("Platform")}}</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="ConnectionString" class="form-control" [(ngModel)]="tenant.connectionString" [ngClass]="{'edited':tenant.connectionString}" maxlength="1024">
                                <label>{{ls.l("DatabaseConnectionString")}}</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>{{ls.l("CRM", "CRM")}}</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="CRMConnectionString" class="form-control" [(ngModel)]="tenant.crmConnectionString" [ngClass]="{'edited':tenant.crmConnectionString}" maxlength="1024">
                                <label>{{ls.l("DatabaseConnectionString")}}</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>{{ls.l("CFO", "CFO")}}</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="CFODbConnectionString" class="form-control" [(ngModel)]="tenant.cfoConnectionString" [ngClass]="{'edited':tenant.cfoConnectionString}" maxlength="1024">
                                <label>{{ls.l("DatabaseConnectionString")}}</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>{{ls.l("PFM", "PFM")}}</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="MemberDbConnectionString" class="form-control" [(ngModel)]="tenant.memberDbConnectionString" [ngClass]="{'edited':tenant.memberDbConnectionString}" maxlength="1024">
                                <label>{{ls.l("DatabaseConnectionString")}}</label>
                            </div>
                            <div>
                                <span class="help-block text-warning">{{ls.l("TenantDatabaseConnectionStringChangeWarningMessage")}}</span>
                            </div>
                        </ng-container>
                    </tab>
                </tabset>
            </div>
        </form>
    </dx-scroll-view>
</modal-dialog>
