<div class="how-it-works">
  <div class="content-wrapper">
    <h2>{{l("HowItWorksTitle")}}</h2>
    <p>{{l("HowItWorksDescription")}}</p>
    <div class="works-list">
      <div class="works-item">
        <figure>
          <img src="/assets/landing/get-started-icon.svg" alt="Get started" width="116">
        </figure>
        <h3>{{l("GetStartedTitle")}}</h3>
        <p>{{l("GetStartedDescription")}}</p>
      </div>
      <div class="works-item">
        <figure>
          <img src="/assets/landing/offer-icon.svg" alt="Choose your offer" width="116">
        </figure>
        <h3>{{l("ChooseYourOfferTitle")}}</h3>
        <p>{{l("ChooseYourOfferDescription")}}</p>
      </div>
      <div class="works-item">
        <figure>
          <img src="/assets/landing/funding.svg" alt="Get funding" width="116">
        </figure>
        <h3>{{l("GetFundingTitle")}}</h3>
        <p>{{l("GetFundingDescription")}}</p>
      </div>
    </div>
    <a href="#" class="button">{{l("LearnMore")}}</a>
  </div>
</div>
