<ul class="app-area-navigation" *ngIf="inlineMemberAreaLinks.length">
    <li *ngFor="let item of inlineMemberAreaLinks" class="app-list-item" routerLinkActive="active" [hidden]="item.hidden">
        <a (click)="navigationItemClick($event, item)" routerLinkActive="active" [class.active]="currentUrl === item.routerUrl" [routerLinkActiveOptions]="{exact:true}">
            {{l(item.name)}} <span *ngIf="item.sublinks && item.sublinks.length" class="dropdown-mark"></span>
        </a>
        <ul *ngIf="item.sublinks && item.sublinks.length" class="sublinks" #sublinks>
            <li *ngFor="let sublink of item.sublinks">
                <a [routerLink]="sublink.routerUrl" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" #simlink>
                    {{l(sublink.name)}}
                </a>
            </li>
        </ul>
    </li>
</ul>

<div class="dropdown" *ngIf="responsiveMemberAreaLinks.length">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="app-responsive-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let item of responsiveMemberAreaLinks" routerLinkActive="active">
            <a (click)="navigationItemClick($event, item)" routerLinkActive="active" [class.active]="currentUrl === item.routerUrl" [routerLinkActiveOptions]="{exact:true}"
               class="dropdown-item" [ngClass]="item.class">
                {{l(item.name)}}
            </a>
            <ul *ngIf="item.sublinks && item.sublinks.length" class="responsive-sublinks">
                <li *ngFor="let sublink of item.sublinks">
                    <a [routerLink]="sublink.routerUrl" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        {{l(sublink.name)}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<ul class="right-actions" *ngIf="!loggedUserId">
    <li class="right-actions--item">
        <a routerLink="/account/login" class="left-menu--link member-login">
            <span>{{l('Member Login')}}</span>
        </a>
    </li>
    <li class="right-actions--item">
        <a routerLink="/account/singup" class="left-menu--link member-signup">
            <span>{{l('SIGN UP')}}</span>
        </a>
    </li>
</ul>