@import url(../_settings);

:host {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: auto;

    .logo {
        position: absolute;
        right: calc(~"50% - 80px");
    }

    .app-area-navigation {
        padding-left: 0;
        list-style-type: none;
        text-align: center;
        margin: 10px 0 14px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        li {
            display: inline-block;
            padding: 0 15px;
            a {
                color: rgba(255, 255, 255, 0.7);
                padding: 12px 10px;
                white-space: nowrap;
            }
        }
    }

    .app-responsive-menu {
        right: unset!important;
        li {
            padding: 0;
            position: relative;
            a {
                color: @font-color-lightGray;
                padding: 10px;
                background-color: transparent;
            }
            ul.responsive-sublinks {
                padding-left: 30px;
                li a {
                    padding: 5px;
                }
            }
        }
    }

    .app-area-navigation,
    .app-responsive-menu {
        li {
            position: relative;
            a {
                display: block;
                text-decoration: none;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 600;
                position: relative;
                white-space: nowrap;
                color: #000;
            }
            a.active,
            a:hover,
            &.active > a {
                color: @font-color-darkGray;
                img {
                    opacity: 0;
                    &.active-img {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .sublinks {
        display: none;
        position: absolute;
        left: 0;
        top: 45px;
        padding-left: 0;
        text-align: left;
        border-radius: 10px;
        box-shadow: 7px 11px 27px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
        li {
            display: block;
            a {
                color: #002849;
                &.active {
                    color: @light-blue;
                }
            }
        }
        &.opened {
            display: block;
        }
    }

    ul.right-actions {
        position: absolute;
        padding: 0px 30px;
        right: 0px;

        li {
            display: inline-block;
            &:last-child {
                padding-right: 0;
                margin-right: 10px;
            }

            + li {
                margin-left: 10px;
            }

            a {
                font-size: 14px;
                padding: 10px 15px;
                font-weight: bold;
                letter-spacing: 0.8px;
                color: rgba(255, 255, 255, 0.7);
                text-decoration: none;

                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}
