<section *ngIf="hasSubscription$ | async; else noSubscription" class="users-list">
    <div [hidden]="dataIsLoading">
        <div class="grid" [hidden]="totalCount <= 0">
            <dx-text-box [placeholder]="ls.l('Search')"
                         [value]="searchValue"
                         mode="search"
                         (onValueChanged)="searchValueChange($event)">
            </dx-text-box>
            <dx-data-grid id="gridContainer"
                          class="limitedPagerTotal"
                          accessKey="narrowHeaderPanel"
                          [noDataText]="''"
                          [dataSource]="dataSource"
                          [allowColumnReordering]="true"
                          [columnAutoWidth]="true"
                          [loadPanel]="{ enabled: false }"
                          [allowColumnResizing]="true"
                          [hoverStateEnabled]="true"
                          [pager]="gridPagerConfig"
                          (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxi-column dataField="PhotoPublicId" caption=" " cellTemplate="photoTemplate"
                            [width]="50" [allowExporting]="false"
                            [allowGrouping]="false" [allowSorting]="false"></dxi-column>
                <div *dxTemplate="let data of 'photoTemplate'">
                    <div [ngStyle]="{'background-image': 'url(' + profileService.getContactPhotoUrl(data.data.PhotoPublicId) + ')'}"
                         class="img-circle">
                    </div>
                </div>
                <dxi-column dataField="Name" [caption]="ls.l('Name')" [width]="150"></dxi-column>
                <dxi-column dataField="Email" [caption]="ls.l('Email')" [width]="160"></dxi-column>
                <dxi-column dataField="Phone" [caption]="ls.l('Phone')" cellTemplate="phoneCell" cssClass="tabular"></dxi-column>
                <dxi-column dataField="City" [caption]="ls.l('City')" [width]="90"></dxi-column>
                <dxi-column dataField="StateId" [caption]="ls.l('State')"></dxi-column>
                <dxi-column dataField="Stage" [caption]="ls.l('Stage')"></dxi-column>
                <dxi-column dataField="BankCode" cellTemplate="bankCodeCell" [caption]="ls.l('BankCode')" [width]="105"></dxi-column>
                <dxi-column dataField="CreationTime" [caption]="ls.l('Created')" cellTemplate="dateCell" cssClass="tabular"></dxi-column>
                <div *dxTemplate="let cellData of 'phoneCell'">
                    {{cellData.value | phone}}
                </div>
                <div *dxTemplate="let cellData of 'dateCell'">
                    {{cellData.value | date: formatting.dateTime : userTimezone}}
                </div>
                <div *dxTemplate="let cellData of 'bankCodeCell'">
                    <bank-code-letters [bankCode]="cellData.value"></bank-code-letters>
                </div>
                <dxo-sorting mode="multiple"></dxo-sorting>
            </dx-data-grid>
        </div>
        <app-no-data
            [hidden]="totalCount > 0"
            height="calc(100vh - 69px)"
            title="No contacts added yet"
            [showLink]="false">
        </app-no-data>
    </div>
    <loading-spinner [hidden]="!dataIsLoading"></loading-spinner>
</section>
<ng-template #noSubscription>
    <section class="iframe">
        <iframe [src]="environmentLink$ | async" frameborder="0"></iframe>
    </section>
</ng-template>
