<header>
    <h1><span>{{ ls.l('BankCode_Bank') }}</span> {{ ls.l('BankCode_Pass') }}</h1>
</header>
<section class="content">
    <header>
        <img src="./assets/common/images/bank-code/bankpass.png"
             srcset="./assets/common/images/bank-code/bankpass@2x.png 2x, ./assets/common/images/bank-code/bank-code-logo@3x.png 3x"
             alt="BankPass" class="header-image">
    </header>
    <div class="separator external"></div>
    <footer>
        <h2>Lorem ipsum dolor sit amet adipiscing consectetur</h2>
        <p>Supercharge your Codebreaker AI subscription with B.A.N.K. PASS to generate unlimited leads. Bundle them together and
            <span class="red">save $228 per year!</span></p>
        <div class="price">
            Only <span class="number">$59</span> per month
            <small>(save $228 per year)</small>
        </div>

        <div class="actions">
            <button class="button">Subscribe now</button>
        </div>
    </footer>
</section>
