@title-font: 'AvianoSans-Bla', sans-serif !important;
@text-font: 'IBM Plex Sans', sans-serif;
:host {
    
    .users-list {
        height: calc(~"100vh - 69px");
        
        > div {
            height: 100%;
        }
    }
    
    /deep/ .dx-textbox {
        width: 263px;
        margin-top: 30px;
        
        input {
            width: 100%;
            color: #677380;
            font-weight: 300;
            line-height: 1.71;
            letter-spacing: 0.3px;
            text-align: left;
            padding-left: 36px;
            border: 1px solid #dadee1;
            border-radius: 3px;
            font-size: 14px;
            height: 39px;
            outline: none;

            @media screen and (max-width: 480px) {
                width: auto;
            }
        }

        .dx-icon-search,
        .dx-icon-clear {
            font: 14px/1 DXIcons !important;
        }

        &.dx-state-focused .dx-placeholder {
            top: -25px!important;
        }

        .dx-placeholder {
            font-size: 13px!important;
            font-weight: 300!important;
            letter-spacing: .3px!important;
        }
    }

    #gridContainer {
        height: calc(~"100vh - 138px");
    }
}
