:host {
    .wrapper {
        padding-bottom: 90px;

        ::ng-deep .dx-treelist {
            .dx-select-checkbox {
                position: static;
                display: inline-block;
            }
            .dx-treelist-rowsview {
                border-top: none;
            }
            .dx-data-row {
                .dx-checkbox {
                    margin-top: 0;
                }
                .dx-treelist-text-content {
                    display: inline-block;
                    line-height: 20px;
                }
            }
            .dx-treelist-rowsview .dx-treelist-expanded span {
                line-height: 15px;
            }
            .dx-toolbar-after {
                width: 100%;
                padding: 0;
                .dx-treelist-search-panel {
                    margin: 0;
                }
            }
        }
    }
}