<div class="bestValue" *ngIf="bestValue"><span>{{ l('BestValue') }}</span></div>
<div class="header">
    <div class="left">
        <h3 class="title">{{ name }}</h3>
        <div class="includesUsers">{{ l('PlanIncludesUsers', selectedEditionUsersAmount) }}</div>
        <div class="amountPerMonth">- {{ currencySymbol + pricePerMonth }} / {{ l('monthBeginning') }}</div>
    </div>
    <div class="right">
        <p>
            <span class="currency">{{ currencySymbol }}</span>
            <span class="price">{{ pricePerUserPerMonth }}</span>
        </p>
        <p class="perUserPerMonth">{{ l('PerUser/mo')}}</p>
    </div>
</div>
<div class="planFeatures">
    <ul>
        <li *ngFor="let feature of features">
            <img [src]="'assets/common/icons/feature-enabled.svg'">
            {{ feature.value }}
        </li>
    </ul>
</div>

