<div class="accounts-list">
    <div class="account-item networth">
        <div class="value">{{accountsData?.totalNetWorth | currency: accountsData?.currency : 'symbol' : '1.2-2'}}</div>
        <div class="name">{{l('Current_Balance')}}</div>
    </div>
    <div class="account-item dailyStats">
        <div class="row">
            <!--<dx-select-box [items]="availablePeriods"
                           [(value)]="dailyStatsPeriodSelected"
                           (onValueChanged)="onDailyStatsPeriodChanged()">
            </dx-select-box>-->
            <div class="col-8">
                <div class="value">{{dailyStatsAmount | currency: dailyStatsData?.currency : 'symbol' : '1.2-2'}}</div>
                <!--<dx-slider [min]="0"
                   [max]="2"
                   [(value)]="dailyStatsSliderSelected"
                   (onValueChanged)="setDailyStatsAmount()">

                </dx-slider>-->
                <div class="name">{{dailyStatsText}}</div>
            </div>
            <div class="col-4">
                <ul>
                    <li *ngFor="let item of dailyStatsToggleValues; let i = index" (click)="changeDailyStatsToggleValue(i)" [class.selected]='i == dailyStatsSliderSelected'>
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="account-item totalaccounts" id="totalaccounts" (mouseenter)="totalAccountsMouseenter()">
        <a (click)="navigateTo()" class="view-details">{{l('View_details')}}</a>
        <div class="value">{{accountsData?.bankAccountCount}}</div>
        <div class="name">
            {{l('Total_Accounts')}}
            <ng-container *ngIf="bankAccountIds.length">
                <span class="filtered">*</span>
            </ng-container>
        </div>
    </div>
</div>
