<div class="accounts-list">
    <div class="account-item networth">
        <div class="value">{{accountsData?.totalNetWorth | currency: accountsData?.currency : 'symbol' : '1.2-2'}}</div>
        <div class="name">{{l('Total_Balance')}}</div>
    </div>

    <div class="account-item totalaccounts" id="totalaccounts" (mouseenter)="totalAccountsMouseenter()">
        <a (click)="navigateTo()" class="view-details">{{l('View_details')}}</a>
        <div class="value">{{accountsData?.bankAccountCount}}</div>
        <div class="name">
            {{l('Total_Accounts')}}
            <ng-container *ngIf="bankAccountIds.length">
                <span class="filtered">*</span>
            </ng-container>
        </div>
    </div>
</div>
