.addresses i {
    position: absolute;
    color: grey
}

.addresses .address_text {
    padding-left: 30px;
}

.addresses .other-info {
    text-transform: uppercase;
    color: #c1c5ca;
    cursor: pointer;
}

.addresses .address {
    margin-bottom: 20px;
}