/deep/ .file-name {
    width: 90%;
    padding-left: 15px;
    font-weight: 500;

    .file-size {
        padding-left: 5px;
        color: #677380;
        font-size: 13px;
    }
}

:host {

    &.fullscreen .documentView {
        width: 100%;
        textarea {
            height: 100%;
        }
        /deep/ app-image-viewer {
            #imageViewer {
                height: 100%;
            }
        }
    }

    .wrapper {
        display: flex;
        margin: 0px 23px;
        height: 100%;
        overflow: hidden;
        width: 97%;

        .grid-view {
            width: auto;
            max-width: 100%;
            height: 100%;
            /deep/ dx-data-grid {
                 table {
                     direction: rtl;
                     tr, td {
                         direction: ltr;
                     }
                 }

                .dx-row {
                    .dx-link.dx-link-edit {
                        &:before {
                            width: 19px !important;
                            height: 19px !important;
                        }
                    }
                }

                .dx-data-row {
                    cursor: pointer;
                }

                 .dx-datagrid .dx-link.dx-link-edit {
                     width: 18px!important;
                 }
                 td.dx-command-edit {
                     width: 120px!important;
                     &:before {
                        left: 60px!important;
                     }
                 }

                .title {
                    margin-top: 20px;
                }
                input {
                    border-bottom: none;
                }
            }
        }
    }

    .open-document-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: flex-end;
    }

    .close {
        top: 18px;
        right: 18px;
        width: 20px;
        height: 20px;
        float: right;
        cursor: pointer;
        position: relative;

        &:after, &:before {
            position: absolute;
            top: 0px;
            left: 8px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #1b1b1b;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    textarea {
        width: 100%;
        outline: 0;
        padding: 10px;
        height: calc(~"100vh - 220px");
        resize: none;
    }

    /deep/ app-image-viewer {
        #imageViewer {
            height: calc(~"100vh - 220px");
            margin-top: 0px;
            .image-container {
                bottom: 0px;
            }
            .inline-icon, i.material-icons, .footer-info {
                display: none;
            }
        }
    }

    vg-player {
        height: calc(~"100vh - 220px");
        margin-top: 0px;

        video {
            width: 100%;
            height: 100%;
        }
    }

    .document-type {
        p {
            padding: 10px 0;
            margin: 0;
            font-weight: 600;
            cursor: text !important;

            &.choose-document-type {
                color: #8a969b;
                font-weight: 100;
                font-size: 14px;
            }
        }
    }
}

/deep/ dx-list[accesskey="actionsMenu"] {
    .dx-state-invisible + .dx-list-item {
        border-top: none;
    }
}
