::ng-deep .file-name {
    width: 90%;
    padding-left: 15px;
    font-weight: 500;
    overflow: visible !important;
    align-items: center;
    display: flex;
    & > span {
        max-width: 92%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:before {
        content: '';
        margin-right: 17px;
        height: 32px;
        width: 32px;
        background-size: contain!important;
        background-position: center!important;
        background-repeat: no-repeat!important;
    }
    &.unknown:before {
        content: '\f070';
        font-family: 'FontAwesome';
        font-size: 25px;
        line-height: 1em;
    }

    &.rtf:before,
    &.ott:before,
    &.djvu:before,
    &.ods:before,
    &.odt:before,
    &.odp:before,
    &.doc:before,
    &.docx:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/doc.svg');
    }
    &.pdf:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/pdf.svg');
    }
    &.xlsx:before,
    &.xls:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/xls.svg');
    }
    &.rar:before,
    &.zip:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/zip.svg');
    }
    &.txt:before,
    &.csv:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/txt.svg');
    }
    &.ttf:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/ttf.svg');
    }
    &.svg:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/svg.svg');
    }
    &.sql:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/sql.svg');
    }
    &.psd:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/psd.svg');
    }
    &.ppt:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/ppt.svg');
    }
    &.apk:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/apk.svg');
    }
    &.css:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/css.svg');
    }
    &.iso:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/iso.svg');
    }
    &.mp3:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/mp3.svg');
    }
    &.json:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/code.svg');
    }
    &.jpg:before,
    &.jpe:before,
    &.jfif:before,
    &.jpeg:before,
    &.bmp:before,
    &.gif:before,
    &.tif:before,
    &.tiff:before,
    &.jpeg:before,
    &.png:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/image.svg');
    }
    &.js:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/js.svg');
    }
    &.woff:before,
    &.woff2:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/font.svg');
    }
    &.mp4a:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/record.svg');
    }   
    &.eml:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/eml.svg');
    }   
    &.eps:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/eps.svg');
    }   
    &.ai:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/ai.svg');
    }   
    &.php:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/php.svg');
    }   
    &.pptx:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/pptx.svg');
    }
    &.\33gp:before,
    &.mpeg:before,
    &.flv:before,
    &.mkv:before,
    &.wmv:before,
    &.mov:before,
    &.avi:before,   
    &.rm:before,
    &.mpg:before,
    &.f4v:before,
    &.vob:before,
    &.hevc:before,
    &.webm:before,
    &.asf:before,
    &.ogv:before,
    &.m4v:before,
    &.mjpeg:before,
    &.mxf:before,
    &.m2ts:before,
    &.m2v:before,
    &.ts:before,
    &.mts:before,
    &.swf:before,
    &.wtv:before,
    &.mp4:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/video.svg');
    }   
    &.docm:before,
    &.dotx:before,   
    &.dotm:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/word.svg');
    }   
    &.ogg:before,
    &.wve:before,
    &.ima:before,
    &.ac3:before,
    &.mp2:before,
    &.wv:before,
    &.m4a:before,
    &.flac:before,
    &.wav:before,
    &.wma:before,   
    &.aac:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/music.svg');
    }   
    &.aif:before,
    &.cda:before,
    &.mid:before,
    &.midi:before,
    &.vcd:before,
    &.toast:before,
    &.dmg:before,
    &.bin:before {
        content: '';
        background: url('../../../../assets/common/icons/documents/disc.svg');
    }   

    .file-size {
        padding-left: 5px;
        color: #677380;
        font-size: 13px;
    }
}

:host {
    &.fullscreen .documentView {
        width: 100%;
        textarea {
            height: 100%;
        }
        ::ng-deep app-image-viewer {
            #imageViewer {
                height: 100%;
            }
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 0px 23px;
        height: 100%;
        overflow: hidden;
        width: 97%;

        ::ng-deep .dx-document-toolbar {
            margin-top: 10px;
            .dx-texteditor-buttons-container {
               margin-right: 0;
            }

            .dx-toolbar-item-content {
                .document-search-filter {
                    margin-right: 10px;
                }

                .dx-button {
                    min-width: 30px;
                    border-radius: 8px;
                    &[group-item-position="first"] {
                        right: 0;
                    }
                    &[group-item-position="single"] {
                        margin-right: 0;
                    }
                    .dx-button-content {
                        min-width: 30px;
                        .dx-button-text {
                            color: #7C8C95;
                        }
                    }
                    &:hover {
                        border: 1px solid #d9d9d9;
                        background-color: #F5FAFF;
                    }
                    &[accesskey="select-box"] {
                        border: 0;
                        min-width: 50px !important;
                        padding: 0px;
                        color: #8294ab;
                    }
                    &.document-filter-type {
                        border: 0;
                        color: #8294ab !important;
                    }

                    &.document-selected {
                        background-color: #E6F7FF !important;
                        border: 1px solid #C2E1FA !important;
                        border-radius: 4px !important;
                        .dx-button-text {
                            color: #08295B !important;
                        }
                    }

                    &.dx-document-grid-view {
                        margin-right: 5px;
                    }
                }
                .dx-dropdownmenu.dx-dropdownmenu-button .dx-button-content::after {
                    right: 4px !important;;
                    top: 40% !important;
                }
                .dx-document-grid-view, .dx-document-list-view {
                    background-color: #FFFFFF;
                    border: 1px solid #E6EDF2;
                    color: #7C8C95 !important;
                    padding: 0px 5px;
                }
                .dx-document-selected-view {
                    background-color: #E6F7FF !important;
                    border: 1px solid #C2E1FA !important;
                }
            }
        } 
        
        .grid-view {
            width: auto;
            max-width: 100%;
            height: 100%;
            margin-top: 20px;

            ::ng-deep dx-data-grid {

                .dx-data-row {
                    cursor: pointer;
                }

                .dx-datagrid-table {
                    padding: 0px;
                }
                .dx-template-wrapper {
                    .file-name {
                        padding-left: 0px;
                    }
                }

                &.gallery-view {
                    .dx-datagrid-rowsview {
                        .dx-column-lines {
                            border: 1px solid #E6EDF2;
                            border-radius: 10px;
                            width: 222px;
                            height: 274px;
                            margin: 18px 18px 18px 0px;
                            background-color: #F8FAFC;
                            
                            .dx-template-wrapper {
                                height: 100%;
                                padding: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                row-gap: 10px;

                                .action-button {
                                    opacity: 60%;
                                    &:hover {
                                        opacity: 100%;
                                    }
                                }

                                .fileIconWithAction {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 14px 0px 24px 0px;
                                }

                                .file-name::before {
                                    height: 38px;
                                    width: 38px;
                                }
                                
                                .dx-divider {
                                    height: 1px;
                                    color: #E6EDF2;
                                    margin: 0px;
                                }

                                .documentName {
                                    font-size: 15px;
                                    font-weight: 500;
                                    line-height: 22px;
                                    height: 66px;
                                }

                                .file-info {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    color: #8294ab;
                                    font-size: 14px;
                                    height: 27px;
                                }

                                .document-type {
                                    height: 27px;
                                    font-size: 14px;
                                    color: #8294ab;
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
                &:not(.gallery-view).grid-compact-view {
                    .dx-row {
                        td {
                            &:last-child {
                                padding-right: 7px;
                            }
                            &:not(:first-child) {
                                color: #8294ab;
                                font-size: 14px;
                            }
                        }
                    }
                    .file-name {
                       font-size: 14px;
                       line-height: 27px;

                       &::before {
                        width: 22px;
                        height: 22px;
                       }
                    }
                }
            }
        }
    }

    .open-document-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: flex-end;
    }

    .close {
        top: 18px;
        right: 18px;
        width: 20px;
        height: 20px;
        float: right;
        cursor: pointer;
        position: relative;
        display: block;

        &:after, &:before {
            position: absolute;
            top: 0px;
            left: 8px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #1b1b1b;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    textarea {
        width: 100%;
        outline: 0;
        padding: 10px;
        height: calc(~"100vh - 220px");
        resize: none;
    }

    ::ng-deep app-image-viewer {
        #imageViewer {
            height: calc(~"100vh - 220px");
            margin-top: 0;
            .image-container {
                bottom: 0;
            }
            .inline-icon, i.material-icons, .footer-info {
                display: none;
            }
        }
    }

    vg-player {
        height: calc(~"100vh - 220px");
        margin-top: 0px;

        video {
            width: 100%;
            height: 100%;
        }
    }

    .document-type {
        p {
            padding: 10px 0;
            margin: 0;
            font-weight: 600;
            cursor: text !important;

            &.choose-document-type {
                color: #8a969b;
                font-weight: 100;
                font-size: 14px;
            }
        }
    }

    .documentView {
        height: 100%;
        overflow: hidden;
        .xmlContainer {
            padding-bottom: 10px;
        }
    }

    .archiveContainer {
        padding-top: 20px;
        padding-left: 20px;
    }

    ::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row {
        td:first-child {
            padding-right: 47px;
        }
        td:last-child {
            padding-right: 7px;
        }
    }
}
