<ng-container *ngFor="let item of ['namePrefix', 'firstName', 'middleName', 'lastName', 'nameSuffix', 'nickName']">
    <div class="name-item">
        <div class="edit-label">{{ls.l(capitalize(item))}}:</div>
        <inplace-edit [id]="data.id"
                      [value]="data.person[item]"
                      [lEntityName]="item"
                      [editPlaceholder]="ls.l('EditValuePlaceholder')"
                      (valueChanged)="updateValue($event, item)">
        </inplace-edit>
    </div>
</ng-container>