.add-link {
    color: #00AEEF !important;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 500;
    margin-left: auto;
    cursor: pointer;
    transition: .2s;

    &:hover {
        color: lighten(#00AEEF, 20%) !important;
    }
}
