.how-it-works {
  padding: 88px 0;
  .content-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    .works {
      &-list {
        display: flex;
        justify-content: space-between;
        text-align: center;
      }
      &-item {
        width: 30%;
      }
    }
  }
  .button {
    display: inline-block;
    height: auto;
    padding: 17px 44px;
    font-family: "lato", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    background-color: rgb(245, 128, 35);
    box-shadow: 0 3px 10px 0 rgba(245, 128, 35, 0.35);
    text-decoration: none;
    &:hover {
      background-color: lighten(rgb(245, 128, 35), 6%);
    }
  }
}
