:host {
    display: block;
    margin-bottom: 21px;

    .list-container {
        border: 1px solid #dfdfdf;
        border-radius: 7px;
        padding: 12px;

        .item-wrapper {
            display: flex;

            & > div {
                flex: 1;
            }
        }

        .add-list-item {
            color: #00aeef;
            cursor: pointer;
        }

        .remove-list-item {
            align-self: start;
            font-size: 20px;
            color: red;
            text-align: right;
            cursor: pointer;
        }
    }
}
