:host {
    display: block;
    position: relative;
    /deep/ #vector-map {
        height: 500px;
        width: 100%;
        display: block;

        svg {
            border: 1px solid #E5E9EC;
            border-radius: 4px;
        }
    }
    dx-select-box {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

/deep/ #gdp-sectors {
    width: 250px;
    height: 200px;
    display: block;
}
