<h2>{{l('EPCVIPEmail')}} {{l('Settings')}}</h2>
<div>
    <div class="form-group">
        <label for="EPCVIPEmailApiKey">{{l("EPCVIPEmailApiKey")}}</label>
        <input id="EPCVIPEmailApiKey" type="text" name="EPCVIPEmailApiKey" class="form-control" [(ngModel)]="epcvipEmailSettings.apiKey" maxlength="128">
    </div>
    <div class="form-group">
        <label for="EPCVIPEmailBaseUrl">{{l("EPCVIPEmailBaseUrl")}}</label>
        <input #epcvipEmailBaseUrl="ngModel" (change)="changeDetection.detectChanges()" id="EPCVIPEmailBaseUrl" type="url" name="EPCVIPEmailBaseUrl" class="form-control" [(ngModel)]="epcvipEmailSettings.baseUrl" maxlength="128" [pattern]="siteUrlRegexPattern">
    </div>
    <div>
        <span class="help-block text-danger" *ngIf="!epcvipEmailBaseUrl.valid && !epcvipEmailBaseUrl.pristine">{{l("Invalid_EPCVIPEmailBaseUrl")}}</span>
    </div>
    <div class="form-group">
        <label for="EPCVIPEmailServer">{{l("EPCVIPEmailServer")}}</label>
        <select id="EPCVIPEmailServer"
                name="EPCVIPEmailServer"
                class="form-control"
                [(ngModel)]="epcvipEmailSettings.server">
            <option></option>
            <option *ngFor="let server of epcvipEmailServers" [value]="server">{{server}}</option>
        </select>
    </div>
</div>
<button class="btn btn-layout" (click)="save()">
    <i class="icon-la la la-floppy-o"></i>
    {{l('Save')}}
</button>
