:host {
    .wrapper {
        display: flex;
        margin: 0px 23px;
        height: 100%;
        overflow: hidden;
        width: 97%;

        .grid-view {
            width: auto;            
            max-width: calc(~"100% - 380px");
            height: 100%;
            /deep/ dx-data-grid {
                 table {
                     direction: rtl;
                     tr, td {
                         direction: ltr;
                     }
                 }

                 .dx-datagrid .dx-link.dx-link-edit {
                     width: 18px!important;
                 }
                 td.dx-command-edit {
                     width: 120px!important;
                     &:before {
                        left: 60px!important;
                     }
                 }

                .title {
                    margin-top: 20px;
                }
                input {
                    border-bottom: none;
                }
            }
        }

        .drop-down {
            width: 30%;
            min-width: 340px;
            margin: 50px 0px 0px 30px;
            h1 {
                text-align: center;
                font-weight: 300;
                font-size: 34px;
                padding-bottom: 20px;
                color: #dedede;
            }
            /deep/ .drop-zone {
                margin: auto;                
                height: 100px;
                border: 1px solid #dedede;
                border-radius: 5px;
                background-color: #F8F7FC;
                text-transform: uppercase;
                width: 300px;
                p { 
                    color: #333333;
                    padding-top: 10px;
                    font-weight: 500;
                }
            }
            p.alter-text {
                text-align: center;
                padding-top: 20px;     
                input {
                    opacity: 0;
                    width: 200px;
                    position: absolute;
                }
            }
        }
    }

    .file-name {
        padding: 15px;

        .file-size {
            color: #677380;
            font-size: 13px;
        }
    }

    .open-document-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: flex-end;
    }

    .close {
        top: 18px;
        right: 18px;
        width: 20px;
        height: 20px;
        float: right;
        cursor: pointer;
        position: relative;

        &:after, &:before {
            position: absolute;
            top: 0px;
            left: 8px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #1b1b1b;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    .open-document-iframe {
        border: none;
    }

    /deep/ app-image-viewer {
        #imageViewer {
            height: calc(~"100vh - 280px");
            margin-top: 0px;
            .image-container {
                bottom: 0px;
            }
            .inline-icon, i.material-icons, .footer-info {
                display: none;
            }
        }  
    }
}