<app-headline [names]="[ l('Users') ]"
              [showReloadButton]="true"
              [showToggleToolbarButton]="true"
              (onReload)="invalidate()">
    <synch-progress class="synch-progress"></synch-progress>
</app-headline>    
<div class="main-wrapper">
    <setup-steps SelectedStepIndex="5"></setup-steps>
    <dx-data-grid id="gridContainer"
                  [columnAutoWidth]="true"
                  [hoverStateEnabled]="true"
                  [loadPanel]="{ enabled: false }"
                  [pager]="defaultGridPagerConfig"
                  [dataSource]="dataSource"
                  (onSelectionChanged)="initToolbarConfig()">
        <dxo-selection selectAllMode="page"
                       showCheckBoxesMode="always"
                       mode="multiple">
        </dxo-selection>
        <dxo-sorting mode="multiple"></dxo-sorting>

        <dxi-column dataField="firstName"
                    [caption]="l('FirstName')"
                    cssClass="clipboard-holder">
        </dxi-column>
        <dxi-column dataField="lastName"
                    cssClass="clipboard-holder"
                    [caption]="l('LastName')">
        </dxi-column>
        <dxi-column dataField="emailAddress"
                    cssClass="clipboard-holder"
                    [caption]="l('Email')">
        </dxi-column>
        <dxi-column dataField="phoneNumber"
                    cellTemplate="phoneCell"
                    [caption]="l('Phone')">
        </dxi-column>
        <dxi-column dataField="creationTime"
                    cellTemplate="dateCell"
                    [caption]="l('CreationTime')">
        </dxi-column>

        <div *dxTemplate="let cellData of 'dateCell'" class="clipboard-holder">
            {{cellData.value | date: formatting.dateTime : userTimezone }}
        </div>
        <div *dxTemplate="let cellData of 'phoneCell'" class="clipboard-holder">
            {{cellData.value | phone}}
        </div>
    </dx-data-grid>
</div>