/deep/ #toolbarContainer {
    background-color: #ac2027 !important;
    background-image: none !important;
}

/deep/ #thumbnailView {
    width: 100% !important;
}

/deep/ .pdfViewer .page {
    border: 1px solid #d6d6d6 !important;
    margin: 12px auto !important;
    border-image: none !important;
    
    .canvasWrapper {
        max-width: 100%;
        max-height: 100%;
    }
}
