<h2>{{ ls.l('SubscriptionManagement') }}</h2>
<div class="" *ngIf="subsSettings">
    <div class="form-group">
        <label>
            {{ls.l('DefaultSubscriptionGracePeriodDayCount')}}
        </label>
        <dx-number-box [min]="0"
                       mode="number"
                       [showClearButton]="true"
                       [readOnly]="isManageUnallowed"
                       [placeholder]=""
                       [(value)]="subsSettings.defaultSubscriptionGracePeriodDayCount"
                       [showSpinButtons]="true">
        </dx-number-box>
    </div>
    <div class="form-group">
        <dx-check-box [readOnly]="isManageUnallowed"
                      [text]="ls.l('EnableClientSubscriptionAutomaticCancel')"
                      [(value)]="subsSettings.enableClientSubscriptionAutomaticCancel">
        </dx-check-box>
    </div>
</div>
