<div class="entrance-page">
    <div class="entrance-page__inner">

        <!-- Left side -->
        <div class="entrance-page__left">
            <div class="entrance-page__logo">
                <a href="index.html"></a>
            </div>

                <router-outlet></router-outlet>

           <!-- Powered -->
           <div class="entrance-page__powered">
               <a class="entrance-page__powered-colored" href="#"></a>
           </div>
        </div>

        <!-- Right side -->
        <div class="entrance-page__right">
            <div class="entrance-page__right-buttons">
                <!-- <button class="entrance-page__view-toggler sign-in">
                    Already member? <span>Sign in</span>
                </button>
                <button class="entrance-page__view-toggler sign-up is-hidden">
                    Not a member? <span>Sign up now</span>
                </button> -->
                <a class="entrance-page__view-toggler" href="registration.html">
                    Not a member? <span>Sign up now</span>
                </a>
            </div>
            <div class="entrance-page__video">
                <a href="javascript:void(0);"></a>
            </div>
        </div>

    </div>
</div>