:host {
    .modal-body {
        padding: 25px;

        .domains {
            font-size: 20px;
            margin-top: 25px;

            .domains-list {
                font-size: 16px;

                li {
                    margin-top: 10px;
                    font-style: italic;

                    i {
                        cursor: pointer;
                        margin-left: 5px;
                    }
                }
            }
        }

        .dx-checkbox {
            font-size: 16px;
            margin-top: 30px;
        }
    }
}
