<div [@routerTransition]>
    <app-headline [names]="[ l('Roles') ]"
                  icon="people"
                  [buttons]="headlineButtons"
                  [showToggleToolbarButton]="true"
                  [showReloadButton]="true"
                  [showToggleCompactViewButton]="true"
                  [showToggleFullScreenButton]="true"
                  (onReload)="refreshDataGrid()"
                  (onToggleFullScreen)="repaintDataGrid(100)"
                  (onToggleCompactView)="toggleCompactView()"
                  (onToggleToolbar)="repaintDataGrid()">
    </app-headline>
    <action-menu [items]="actionMenuItems"
                 [visible]="actionRecord"
                 (onItemClick)="onMenuItemClick($event)"
                 (onHidden)="actionRecord = null">
    </action-menu>
    <div [hidden]="isDataLoaded && !totalRowCount" class="portlet light no-padding margin-bottom-0">
        <div class="portlet-body">
            <div>
                <div id="ClientsTable">
                    <ghost-list [hidden]="isDataLoaded"></ghost-list>
                    <dx-data-grid id="gridContainer"
                                  [dataSource]="dataSource"
                                  [allowColumnReordering]="true"
                                  [columnAutoWidth]="true"
                                  [allowColumnResizing]="true"
                                  [loadPanel]="{ enabled: false }"
                                  [hoverStateEnabled]="true"
                                  [pager]="defaultGridPagerConfig"
                                  (onContentReady)="onContentReady()"
                                  (onCellClick)="editRole($event)"
                                  (onEditingStart)="showActionsMenu($event)"
                                  (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
                        <dxo-selection selectAllMode="page"
                                       showCheckBoxesMode="always"
                                       mode="none">
                        </dxo-selection>
                        <dxo-editing mode="popup" [popup]="{onShowing: onShowingPopup, height: '0px', width: '0px'}" [allowUpdating]="true"></dxo-editing>

                        <dxi-column dataField="creationTime" caption="{{l('CreationTime')}}" cellTemplate="dateCell" cssClass="tabular"></dxi-column>
                        <dxi-column dataField="moduleId" caption="{{l('Module')}}" cssClass="clipboard-holder"></dxi-column>
                        <dxi-column dataField="displayName" caption="{{l('Role')}}" cssClass="clipboard-holder"></dxi-column>

                        <div *dxTemplate="let cellData of 'dateCell'" class="clipboard-holder">
                            {{ cellData.value | date: formatting.dateTime : userTimezone }}
                        </div>

                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-paging [pageSize]="20"></dxo-paging>
                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                    </dx-data-grid>

                </div>
            </div>
        </div>
    </div>
</div>

<app-no-data
    [hidden]="!isDataLoaded || totalRowCount"
    [showLink]="false">
</app-no-data>
