:host {
    .content {
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 10px;

        .field {
            align-items: center;
            height: 50px;

            label {
                text-transform: none;
                width: 220px;
                padding-left: 0;
                margin-right: 5px;
                height: auto;
                line-height: initial;
            }
        }
    }
}
