<h5 class="dialog-title">{{l('RelatedOrSimilarContacts')}}</h5>
<mat-dialog-content>
    <div class="contact-persons-container">
        <div class="contact-person-info" *ngFor="let contactPerson of contactPersonsFiltered" (click)='selectContactPerson(contactPerson)'>
            <div class="avatar">
                <img src="{{ getPhoto(contactPerson?.primaryPhoto?.thumbnail )}}" alt="{{l('AltPersonPhoto')}}">
            </div>
            <div class="personal-info">
                <div class="full-name">
                    <h1 *ngIf="contactPerson?.fullName">{{ contactPerson?.fullName }}</h1>
                    <h1 *ngIf="!contactPerson?.fullName" class="no-name">{{ l('ClientNoName') }}</h1>
                    <div class="person-info-actions">
                        <a class="action-link action-link-favorite"></a>
                        <a class="action-link action-link-edit"></a>
                    </div>
                </div>
                <div class="person-title">
                    <h6>{{contactPerson?.jobTitle}}</h6>
                    <div class="rating">
                        <mat-progress-bar ng-reflect-color="#2fb8f0" color="#2fb8f0" value="{{ person.rating * 10}}"></mat-progress-bar>
                        <span class="rating_int">{{person.rating}}/10</span>
                    </div>
                </div>
                <div class="organization-name">
                    <h5 *ngIf="data?.organizationContactInfo">{{data?.organizationContactInfo?.fullName}}</h5>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>