<div class="step-wrapper">
    <div class="d-flex justify-content-between align-items-center pt-3">
        <h4>{{ mediumTitle + ' Connection'}}</h4>
        <button class="base-button"
                (click)="addNewDeliverable()">
            + Add New
        </button>
    </div>
    <div class="step-container" *ngFor="let currentDeliverable of deliverables; index as i; first as isFirst">
        <div class="left">
            <div class="left-container">
                <div class="step-title">Step 1</div>
                <div class="step-action-content">
                    <button class="base-button"
                            [style.background-color]="community.color"
                            (click)="getServersOAuth(currentDeliverable)">
                        {{configMedium[community.id].step1.buttonTitle }}
                    </button>
                    <dx-select-box [(value)]="currentDeliverable.serverId"
                                   class="server-select"
                                   [dataSource]="currentDeliverable.uiOptions.serversList"
                                   valueExpr="id"
                                   displayExpr="name"
                                   [placeholder]="configMedium[community.id].step1.inputPlaceholder"
                                   height="35px"
                                   [showClearButton]="true"
                                   (onValueChanged)="onServerChanged($event, currentDeliverable)">
                    </dx-select-box>
                </div>
            </div>
            <div class="left-container">
                <div class="step-title">Step 2</div>
                <div class="step-description">{{configMedium[community.id].step2.description}}</div>
                <div class="step-action-content">
                    <button class="base-button"
                            [style.background-color]="community.color"
                            [disabled]="!currentDeliverable.serverId"
                            (click)="handleConnectBot(currentDeliverable)">
                        {{configMedium[community.id].step2.buttonTitle }}
                    </button>
                    <div class="medium-connected-content">
                        <div class="connected-badge" [class.inactive]="!currentDeliverable.uiOptions.isConnected">{{(currentDeliverable.uiOptions.isConnected?'':'Not ')}}Connected</div>
                        <span *ngIf="currentDeliverable.uiOptions.isConnected">{{configMedium[community.id].step2.connectedText}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="step-title d-flex justify-content-between align-items-center">
                <div>Step 3</div>
                <button *ngIf="!isFirst"
                        class="base-button"
                        (click)="removeDeliverable(i)">
                    - Remove
                </button>
            </div>
            <div class="step-description">
                {{configMedium[community.id].step3.description}}
            </div>

            <div class="channels-container">
                <div class="channel-title">
                    <div>{{configMedium[community.id].step3.channelTitle}}</div>
                    <button class="base-button"
                            [disabled]="!currentDeliverable.serverId"
                            (click)="getRoles(currentDeliverable)">
                        Retrieve Roles
                    </button>
                </div>
                <div class="channel-content">
                    <dx-tag-box [dataSource]="currentDeliverable.uiOptions.rolesList"
                                displayExpr="name"
                                valueExpr="id"
                                [placeholder]="configMedium[community.id].step3.noChannels"
                                [showDropDownButton]="true"
                                [(value)]="currentDeliverable.uiOptions.rolesListIds"
                                (onValueChanged)="onRolesChanged($event, currentDeliverable)">
                    </dx-tag-box>
                    <!--<div *ngFor="let channel of currentDeliverable.roles">
                        <div class="channel-badge">
                            <div class="badge-content">
                                <span class="badge-name">{{community.id === 'slack' ? '#' : ''}}{{channel.roleName}}</span>
                                <span class="badge-id">{{channel.roleId}}</span>
                            </div>
                            <button class="base-icon-button"
                                    (click)="handleRemoveChannel(channel.roleId)">
                                <lucide-angular [img]="X"></lucide-angular>
                            </button>
                        </div>
                    </div>-->
                </div>
                <!--<button (click)="handleAddChannel()" class="base-button">
                    <lucide-angular [img]="Plus"></lucide-angular>
                    <span>{{configMedium[community.id].step3.addButtonTitle}}</span>
                </button>-->
            </div>
        </div>
    </div>
</div>