
.bank-accounts-tooltip-container {
    font-size: 15px;
    text-align: start;
    width: 755px;

    .blue {
        color: #00AEEF;
    }

    .actions {
        width: 100%;
        display: inline-block;
    }

    .filter-apply, .filter-clear, .selectAll {
        cursor: pointer;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.3px;
        color: #00AEEF;
        padding: 10px 5px;
        float: right;

        &:hover {
            color: lighten(#00AEEF, 20%);
        }
    }

    dx-tag-box {
        height: auto;
    }
    
    .business-entity-select {
        float: left;
        max-width: 80%;
        width: 77%;

        .dx-field-label {
            width: 35%;
            font-size: 15px;
            font-weight: bold;
            padding: 5px 5px 9px 0;
        }

        .dx-field-value {
            width: 65%;
            float: left;

            .tag-value,
            /deep/ .dx-placeholder {
                font-size: 14px;
                line-height: 1.21;
                letter-spacing: 0.3px;
                color: #00AEEF;
                padding: 0 5px;
                height: auto !important;
                top: 0;
            }

            /deep/ .dx-texteditor-container {
                padding-top: 7px;
            }
        }
    }

    /deep/ #gridContainer {
        .dx-datagrid-headers .dx-datagrid-content,
        .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
            border-bottom: 0;
        }
    }

    .grid-container {
        font-size: 12px;

        /deep/ .dx-datagrid-rowsview {
            border: 0;
        }

        /deep/ .dx-datagrid-rowsview .dx-selection.dx-row > td {
            border: 0;
        }

        /deep/ tr[aria-selected ="true"] {
            background-color: transparent;
        }

        /deep/ .dx-master-detail-row {
            background-color: #f9fbfc;

            #gridContainer .dx-datagrid-headers .dx-datagrid-content {
                border-bottom: 0;
            }

            .dx-master-detail-cell {
                border: 1px solid #ddd;
                border-right-width: 2px;
            }

            .dx-datagrid-headers {
                border: 0;
            }

            .dx-datagrid {
                background-color: #f9fbfc;
            }
        }

        /deep/ .dx-master-detail-row .dx-master-detail-cell {
            padding: 0px;
        }

        .account-status {
            width: 100%;
            border-radius: 15px;
            background-color: #e8ecf2;
            display: inline-block;

            .text {
                font-size: 12px;
                margin-top: 2px;
                margin-right: 5px;
                float: right;
            }

            .status-color-container {

                .status-color {
                    float: left;
                    width: 6px;
                    height: 6px;
                    border-radius: 4px;
                    margin: 8px;
                }

                .status-color.completed {
                    background-color: green;
                }

                .status-color.inprogress {
                    background-color: orange;
                }

                .status-color.failed {
                    background-color: red;
                }
            }
        }

        /deep/.dx-datagrid-rowsview {
            .dx-datagrid-content tr td.tabular,
            .dx-datagrid-content tr td.tabular * {
                font-family: 'Lato' !important;
            }
        }
    }

    /deep/.dx-datagrid-rowsview {
        .dx-column-lines {
            td {
                height: 24px !important;
            }

            table {
                border-collapse: separate;
                border-spacing: 0 15px;
            }
        }
    }

    /deep/.dx-checkbox-icon {
        margin-top: 0;
    }

    .number-value {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.21;
        letter-spacing: 0.3px;
        color: #677380;
    }

    /deep/ .bold {
        font-weight: bold;
    }

    /deep/.expand-div {
        border: solid #677380;
        border-width: 0 1px 1px 0;
        padding: 3px;
        display: inline-block;
        margin: 3px;
        align-self: flex-end;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .sync-date {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.42;
        letter-spacing: 0.2px;
        color: #afb4bb;
        text-align: center;
    }
}
