<div>
    <dx-tooltip [target]="targetBankAccountsTooltip"
                [(visible)]="tooltipVisible">
        <div *dxTemplate="let data = data of 'content'">
            <div class="bank-accounts-tooltip-container">
                <div class="actions">
                    <span class="selectAll" (click)="bankAccountsSelecteAll()">{{l('Select All')}}</span>
                    <span class="filter-clear" (click)="bankAccountsClear()">{{l('Clear')}}</span>
                    <span class="filter-apply" (click)="bankAccountsSelected()">{{l('Apply')}}</span>
                </div>
                <div class="grid-container">
                    <dx-scroll-view [showScrollbar]="onHover" [height]="calculateChartsScrolableHeight()">
                        <dx-data-grid id="gridContainer"
                                      [width]="745"
                                      [dataSource]="getItems()"
                                      [masterDetail]="{ enabled: false, template: 'detail' }"
                                      keyExpr="syncAccountId"
                                      [showColumnHeaders]="false"
                                      [columnAutoWidth]="true"
                                      [showBorders]="false"
                                      [showColumnLines]="false"
                                      [showRowLines]="false"
                                      (onRowUpdated)="masterSelectionChanged($event)"
                                      (onContentReady)="contentReady($event)"
                                      (onCellClick)="masterRowExpandChange($event)">

                            <dxo-editing mode="cell" [allowUpdating]="true">
                            </dxo-editing>
                            <dxo-scrolling  showScrollbar="never">
                            </dxo-scrolling>
                            <dxi-column dataField="selected" [width]="30" alignment="center" dataType="boolean"></dxi-column>
                            <dxi-column dataField="name" [width]="240" alignment="left" [allowEditing]="false" cssClass="bold"></dxi-column>
                            <dxi-column dataField="syncAccountStatus" [width]="155" alignment="left" sortOrder="asc" sortIndex="0" cellTemplate="statusTemplate" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="lastSyncDate" alignment="left" [width]="200" [allowEditing]="false" cellTemplate="syncDateTemplate"></dxi-column>
                            <dxi-column dataField="balance" cssClass="tabular" cellTemplate="amountTemplate" alignment="right" [allowEditing]="false"></dxi-column>
                            <dxi-column [width]="30" [allowEditing]="false" cellTemplate="expandTemplate"></dxi-column>

                            <div *dxTemplate="let syncAccount of 'detail'">
                                <div class="bank-accounts-grid-container">
                                    <dx-data-grid [dataSource]="syncAccount.data.bankAccounts"
                                                  [showBorders]="false"
                                                  [showColumnLines]="false"
                                                  [showRowLines]="false"
                                                  [columnAutoWidth]="true"
                                                  (onRowUpdated)="bankAccountSelectionChanged($event)"
                                                  [selectionFilter]="['selected', '=', true]">

                                        <dxo-editing mode="cell" [allowUpdating]="true">
                                        </dxo-editing>

                                        <dxo-selection [deferred]="true">
                                        </dxo-selection>

                                        <dxi-column dataField="selected" [width]="30" alignment="center" dataType="boolean" caption=""></dxi-column>
                                        <dxi-column dataField="accountName" [width]="240" alignment="left" [allowEditing]="false"></dxi-column>
                                        <dxi-column dataField="accountNumber" cssClass="tabular" [width]="180" alignment="left" [allowEditing]="false"></dxi-column>
                                        <dxi-column dataField="type" [width]="140" alignment="left" [allowEditing]="false"></dxi-column>
                                        <dxi-column dataField="balance" cssClass="tabular" alignment="right" cellTemplate="amountTemplate" [allowEditing]="false"></dxi-column>
                                        <div *dxTemplate="let cell of 'amountTemplate'">
                                            <ng-container *ngIf="(cell.text)">
                                                <span class="number-value"> {{cell.text | currency: 'USD' : 'symbol' : '1.2-2'}}  </span>
                                            </ng-container>
                                        </div>
                                    </dx-data-grid>
                                </div>
                            </div>
                            <div *dxTemplate="let cell of 'amountTemplate'">
                                <ng-container *ngIf="(cell.text)">
                                    <div class="number-value"><span class="bold"> {{cell.text | currency: 'USD' : 'symbol' : '1.2-2'}}</span> </div>
                                </ng-container>
                            </div>
                            <div *dxTemplate="let cell of 'statusTemplate'">
                                <ng-container *ngIf="(cell.text)">
                                    <div class="account-status">
                                        <div class='status-color-container'>
                                            <div [class]="'status-color ' + cell.text | lowercase"></div>
                                        </div>
                                        <span class="text"> {{cell.text | uppercase}}</span>
                                    </div>
                                </ng-container>
                            </div>
                            <div *dxTemplate="let cell of 'expandTemplate'">
                                <div class="expand-div"></div>
                            </div>
                            <div *dxTemplate="let cell of 'syncDateTemplate'">
                                <ng-container *ngIf="(cell.text)">
                                    <div class="sync-date">Last sync: {{cell.text | date: 'MMM d, y '}}</div>
                                </ng-container>
                            </div>
                        </dx-data-grid>
                    </dx-scroll-view>
                </div>
            </div>
        </div>
    </dx-tooltip>
</div>
