:host {
    .form-group {
        display: flex;
        height: 30px;
        &.zendesk {
            margin-top: 51px;
        }
    }
    .file-uploads {
        margin-top: 55px;
    }
    ::ng-deep timezone-combo {
        flex-grow: 1;
        .form-control {
            border: none;
            border-bottom: 1px solid #dfdfdf;
            padding: 5px;
            height: 30px;
            border-radius: 0;
            font-size: 15px;
            font-family: var(--app-font-family);
            font-weight: 500;
            letter-spacing: 0.3px;
            color: #424c56;
            &:focus {
                border-color: #dfdfdf;
                outline: none;
            }
        }
    }
    .payment-settings {
        display: flex;
        .selected-flag-icon {
            border-bottom: 1px solid #dfdfdf;
        }
        label {
            min-width: 190px;
        }
    }
    ::ng-deep dx-select-box {
        border-bottom: 1px solid #dfdfdf!important;
        .dx-placeholder, input {
            font-size: 15px;
            font-family: var(--app-font-family);
            font-weight: 500;
            letter-spacing: 0.3px;
            color: #424c56;
        }
        input {
            max-width: 84%!important;
            text-overflow: ellipsis!important;
            overflow: hidden;
        }
    }
    ::ng-deep country-phone-number {
        width: 100%;

        .wrapper {
            display: block !important;
            width: 100% !important;

            .dropbtn {
                padding: 6px;
            }

            input {
                padding: 0;
            }
        }
    }
}

::ng-deep .currency-row {
    border-bottom: 1px solid #E5E8F3;
    padding: 7px 0px!important;
    margin: 0 10px;
    display: flex;
    width: calc(100% - 20px);

    .flag-icon {
        border-radius: 10px;
        border: 1px solid #dedede;
    }
    div {
        display: inline-block;
        margin: auto 0 auto 10px;
        white-space: pre-wrap;
    }
    .currency-name {
    }
}