@import "../../_member-area.settings.less";
.content-wrap {
  min-height: 600px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  position: relative;
}

@media all and (max-width: 1400px) {
  .content-wrap {
    max-width: 94%;
  }
}
