<div [@routerTransition] class="import-wrapper">
    <left-menu></left-menu>
    <import-wizard
        [title]="l('Import leads')"
        icon="icon-globe"
        [fields]="mappingFileds"
        [localizationSource]="localizationSourceName"
        (onComplete)="complete($event)"
        (onCancel)="cancel()">

        <div class="success">
            <h1>{{l('ImportedLeadsHeader', totalCount, importedCount)}}</h1>
            <h3>{{l('ImportedLeadsMessage')}}</h3>
            <button class="button-layout button-primary" (click)="reset()">{{l('AnotherImport')}}</button>
            <button class="button-layout button-default" (click)="cancel()">{{l('GoToDashboard')}}</button>
        </div>
    </import-wizard>
</div>