<div [@routerTransition] class="import-wrapper">
    <left-menu></left-menu>
    <import-wizard
        [title]="l('Import leads')"
        icon="icon-globe"
        [lookupFields]="mappingFields"
        [columnsConfig]="fieldsConfig"
        [localizationSource]="localizationSourceName"
        [checkSimilarRecord]="checkSimilarRecord"
        [preProcessFieldBeforeReview]="preProcessFieldBeforeReview"
        [validateFieldsMapping]="validateFieldsMapping"
        [toolbarConfig]="toolbarConfig"
        (onComplete)="complete($event)"
        (onCancel)="cancel()">

        <div class="success">
            <h1>{{l('ImportedLeadsHeader', totalCount, importedCount)}}</h1>
            <!-- h3>{{l('ImportedLeadsMessage')}}</h3 -->
            <button class="button-layout button-primary" (click)="reset()">{{l('AnotherImport')}}</button>
            <button class="button-layout button-default" (click)="cancel()">{{l('GoToDashboard')}}</button>
        </div>
    </import-wizard>
</div>

<crm-user-assignment-list [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [selectedItems]="selectedItems"
                          [hideButtons]="true" (onSelectionChanged)="toggleUserAssignment($event)"></crm-user-assignment-list>
<crm-static-list
    [width]="'210px'"
    [title]="l('Stages')"
    [selectedKeys]="selectedClientKeys"
    [targetSelector]="'[aria-label=Stage]'"
    [hideButtons]="true"
    (onSelectionChanged)="toggleStages($event)"
    [list]="leadStages">
</crm-static-list>
<crm-lists-list [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [hideButtons]="true" (onSelectionChanged)="toggleLists($event)"></crm-lists-list>
<crm-tags-list [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [hideButtons]="true" (onSelectedChanged)="toggleTags($event)"></crm-tags-list>
<crm-rating [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [ratingValue]="defaultRating" [hideButtons]="true" (onValueChanged)="toggleRating($event)"></crm-rating>
<crm-stars-list [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [hideButtons]="true" (onSelectionChanged)="toggleStars($event)"></crm-stars-list>

