<div [@routerTransition] [hidden]="!isDataLoaded || !totalRowCount">
    <left-menu></left-menu>
    <div class="margin-left">        
        <app-headline [config]="headlineConfig"></app-headline>
        <app-toolbar [config]="toolbarConfig"></app-toolbar>
        <div class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                 <dx-data-grid id="gridContainer"
                               accesskey="narrowHeaderPanel"
                               [dataSource]="dataSource"
                               [allowColumnReordering]="true"
                               [columnAutoWidth]="true"
                               [allowColumnResizing]="true"
                               [hoverStateEnabled]="true"
                               [pager]="defaultGridPagerConfig"
                               [(selectedRowKeys)]="selectedRowIds"
                               (onCellClick)="onCellClick($event)"
                               (onContentReady)="onContentReady($event)"
                               (onSelectionChanged)="initToolbarConfig()"
                               (onDataErrorOccurred)="httpConfig.handleError($event.error)">
                     <dxo-selection selectAllMode="page"
                                    showCheckBoxesMode="always"
                                    mode="multiple">
                     </dxo-selection>
                     <dxo-editing mode="popup"
                                  [allowUpdating]="false">
                     </dxo-editing>

                     <dxi-column dataField="Id" caption="{{l('Id')}}" sortOrder="asc" [width]="50"></dxi-column>
                     <dxi-column dataField="FileName" caption="{{l('FileName')}}"></dxi-column>
                     <dxi-column dataField="FileSize" caption="{{l('FileSize')}}" [calculateDisplayValue]="fileSizeFormat"></dxi-column>
                     <dxi-column dataField="StatusName" caption="{{l('Status')}}"></dxi-column>
                     <dxi-column dataField="TotalCount" caption="{{l('RecordCount')}}"></dxi-column>
                     <dxi-column dataField="TypeName" caption="{{l('Type')}}"></dxi-column>

                     <dxo-sorting mode="multiple"></dxo-sorting>
                     <dxo-group-panel [visible]="true"></dxo-group-panel>
                     <dxo-paging [pageSize]="20"></dxo-paging>
                 </dx-data-grid>
            </div>
        </div>
    </div>
</div>