.dx-texteditor {
    border: 0;
}

.dx-placeholder.dx-state-invisible {
    display: none !important;
    font-size: 11px;
    color: #8a9da1;
    top: -18px;
}

.dx-texteditor-empty.dx-state-focused .dx-placeholder {
    display: block !important;
    font-size: 11px;
    color: #8a9da1;
    top: -18px;
}

.dx-texteditor-input,
input.form-control {
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #171c1d;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
    padding: 12px 8px;
}

.dx-placeholder,
.dx-radiobutton .dx-item-content {
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #8a969b;
    transition: .2s;
}

.dx-closebutton:before {
    font-family: DXIcons!important;
}

.dx-treelist-empty-space {
    &.dx-treelist-collapsed span:before,
    &.dx-treelist-expanded span:before {
        font-family: DXIcons!important;
    }
}

.grid-compact-view {
    .dx-datagrid-rowsview {
        .dx-column-lines {
            td {
                height: 24px !important;
                &.uncategorized {
                    &::before {
                        font-size: 15px !important;
                    }
                }
            }
        }
    }
}
