<div class="row">
    <div class="col-md-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('Email')}}*</div>
            <div class="dx-field-value">
                <dx-text-box placeholder="Enter email"
                             [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.email">
                    <dx-validator>
                        <dxi-validation-rule type="required"
                                             [message]="ls.l('EmailIsRequired')">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="pattern"
                                             [pattern]="offersWizardService.emailRegEx"
                                             [message]="ls.l('InvalidEmailAddress')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('AltEmail')}}</div>
            <div class="dx-field-value">
                <dx-text-box placeholder="Enter alternative email"
                             [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.alternateEmail">
                </dx-text-box>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('MobPhone')}}</div>
            <div class="dx-field-value">
                <dx-text-box name="phone"
                             (onFocusOut)="inputStatusesService.blurInput($event)"
                             (onFocusIn)="inputStatusesService.focusInput($event)"
                             [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.phoneMobile"
                             [maskRules]="offersWizardService.rules">
                </dx-text-box>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('phone')}}</div>
            <div class="dx-field-value">
                <dx-text-box name="phone"
                             (onFocusOut)="inputStatusesService.blurInput($event)"
                             (onFocusIn)="inputStatusesService.focusInput($event)"
                             [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.phone"
                             [maskRules]="offersWizardService.rules">
                </dx-text-box>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('PreferredContactTime')}}</div>
            <div class="dx-field-value">
                <dx-select-box
                    [items]="offersWizardService.contactTime"
                    valueExpr="key"
                    displayExpr="text"
                    [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.preferredContactTOD"
                    placeholder="Select contact time">
                </dx-select-box>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('Timezone')}}</div>
            <div class="dx-field-value">
                <dx-select-box
                    [items]="offersWizardService.timeZones$ | async"
                    valueExpr="value"
                    displayExpr="name"
                    [(value)]="offersWizardService.submitApplicationProfileInput.timezone">
                </dx-select-box>
            </div>
        </div>
    </div>
</div>
<div class="dx-field">
    <div class="right-info">
        <small>* By clicking "Next", you agree to our <a class="link" (click)="offersWizardService.openConditionsDialog(offersWizardService.termsData)">Terms
            &amp; Conditions</a> and <a class="link" (click)="offersWizardService.openConditionsDialog(offersWizardService.privacyData)">Privacy Policy</a>
            and to receive important notices and other communications electronically.
        </small>
    </div>
    <div class="right-info">
        <small>** By providing your number and clicking “Next”, you consent to receive calls, texts and pre-recorded
            messages from Lendspace, its Lending Partners and/or Network Partners.
        </small>
    </div>
</div>
