<div class="dx-field">
    <div class="dx-field-label">{{ls.l('net_monthly_income')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
    <div class="dx-field-value">
        <dx-number-box
            format="$ #,##0.##"
            [(value)]="offersWizardService.submitApplicationProfileInput.employmentInformation.netMonthlyIncome">
            <dx-validator>
                <dxi-validation-rule type="custom"
                                     [validationCallback]="offersWizardService.validateRequiredField"
                                     [message]="this.ls.l('ThisFieldIsRequired')">
                </dxi-validation-rule>
            </dx-validator>
        </dx-number-box>
    </div>
</div>
<div class="dx-field">
    <div class="dx-field-label">{{ls.l('pay_frequency')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
    <div class="dx-field-value">
        <dx-select-box
            [items]="offersWizardService.payFrequency"
            valueExpr="key"
            displayExpr="text"
            [(value)]="offersWizardService.submitApplicationProfileInput.employmentInformation.payFrequency"
            placeholder="Choose pay frequency">
            <dx-validator>
                <dxi-validation-rule type="custom"
                                     [validationCallback]="offersWizardService.validateRequiredField"
                                     [message]="this.ls.l('ThisFieldIsRequired')">
                </dxi-validation-rule>
            </dx-validator>
        </dx-select-box>
    </div>
</div>
<div class="dx-field">
    <div class="dx-field-label">{{ls.l('pay_next_date')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
    <div class="dx-field-value">
        <dx-date-box
            [(value)]="offersWizardService.submitApplicationProfileInput.employmentInformation.payNextDate"
            [min]="minDate"
            type="date">
            <dx-validator>
                <dxi-validation-rule type="custom"
                                     [validationCallback]="offersWizardService.validateRequiredField"
                                     [message]="this.ls.l('ThisFieldIsRequired')">
                </dxi-validation-rule>
            </dx-validator>
        </dx-date-box>
    </div>
</div>
<div class="dx-field">
    <div class="dx-field-label">{{ls.l('pay_after_next_date')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
    <div class="dx-field-value">
        <dx-date-box
            [min]="payAfterNextDateMinDate"
            [(value)]="offersWizardService.submitApplicationProfileInput.employmentInformation.payAfterNextDate"
            type="date">
            <dx-validator>
                <dxi-validation-rule type="custom"
                                     [validationCallback]="offersWizardService.validateRequiredField"
                                     [message]="this.ls.l('ThisFieldIsRequired')">
                </dxi-validation-rule>
            </dx-validator>
        </dx-date-box>
    </div>
</div>
<div class="dx-field">
    <div class="dx-field-label">{{ls.l('income_type')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
    <div class="dx-field-value">
        <dx-select-box
            [items]="offersWizardService.incomeType"
            valueExpr="key"
            displayExpr="text"
            placeholder="Choose income type"
            [(value)]="offersWizardService.submitApplicationProfileInput.employmentInformation.incomeType">
            <dx-validator>
                <dxi-validation-rule type="custom"
                                     [validationCallback]="offersWizardService.validateRequiredField"
                                     [message]="this.ls.l('ThisFieldIsRequired')">
                </dxi-validation-rule>
            </dx-validator>
        </dx-select-box>
    </div>
</div>
