:host {
    .wrapper {
        padding-bottom: 90px;

        /deep/ .dx-treelist {
            .dx-treelist-rowsview {
                border-top: none;
            }
        }

        /deep/ bank-accounts-widget {

            .header .row {

                .left-header,
                .right-header {
                    flex-basis: 100% !important;
                    max-width: 100% !important;
                }

                .left-header {
                    order: 1;
                }

                .connections,
                .accounts,
                .entities,
                .types {
                    flex-basis: 50% !important;
                    max-width: 50% !important;
                }
                .current-balance,
                .is-active-filter {
                    display: none;
                }
            }

            .filter-actions .filter-by-types /deep/ .dx-tab .dx-tab-text {
                font-size: 13px;
            }

            #gridContainer table.dx-datagrid-table .account-status {
                text-align: left;
                max-width: 112px;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 18px;

                &::before {
                    left: 7px;
                }
            }
        }
    }
}
