<dx-tooltip [width]="width"
            [height]="height"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="lists-tooltip-container">
            <div class="actions clearfix">
                <span class="title" [hidden]="!showTitle">{{title}}</span>
                <!--<div *ngIf="selectedKeys.length" [hidden]="hideButtons">-->
                <!--<span class="filter-apply" [class.disabled]="!checkPermissions() || !staticList.selectedItems?.length" (click)="apply()">{{l('Apply')}}</span>
            </div>-->
            </div>
            <dx-list #staticList
                     [ngClass]="{
                        'funnel-styling': funnelStyling,
                        'highlightSelected': highlightSelected,
                        'unclicked': !selectedKeys?.length || (!highlightSelected && !checkPermissions()),
                        'disableHindmost': disableHindmost
                     }"
                     [searchEnabled]="searchEnabled"
                     [selectionMode]="selectedKeys?.length ? 'single': 'none'"
                     [showSelectionControls]="true"
                     [dataSource]="list"
                     [keyExpr]="'id'"
                     [height]="listHeight"
                     [selectedItemKeys]="selectedKeys"
                     [selectedItems]="selectedItems"
                     (onContentReady)="onContentReady($event)"
                     (onInitialized)="onInitialized($event)"
                     (onItemClick)="onItemClick($event)">
                <div *dxTemplate="let data of 'item'">
                    <div class="item-row {{data.name.replace(' ', '-') | lowercase}}" data-id="{{data.id}}">
                        <span>{{data.name}}</span>
                        <a *ngIf="filterModel"
                           class="dx-link dx-link-filter"
                           title="{{l('Filter')}}"
                           (click)="applyFilter($event, data)"></a>
                    </div>
                </div>
            </dx-list>
        </div>
    </div>
</dx-tooltip>
