.lists-tooltip-container {
    font-size: 15px;
    overflow: hidden;

    .title {
        float: left;
        font-size: 18px;
        font-weight: 500;
        padding-top: 5px;
    }

    .filter-apply, .filter-clear {
        cursor: pointer;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.3px;
        color: #00AEEF;
        padding: 10px 5px;
        float: right;

        &:hover {
            color: lighten(#00AEEF, 20%);
        }

        &.disabled {
            color: #999;
            cursor: unset;
            pointer-events: none;
        }
    }

    /deep/ dx-list {
        &.highlightSelected .dx-item.dx-list-item-selected {
            background-color: #effafe;
        }

        &.disableHindmost {
            .dx-item {
                &:first-child ,
                &:last-child {
                    pointer-events: none;
                    cursor: default;
                    &.dx-state-hover {
                        background-color: transparent;
                    }
                    &.dx-state-focused {
                        background-color: initial;
                        color: #333;
                    }

                    .item-row:before {
                        background: #ccc;
                    }
                }
            }
        }

        &.funnel-styling {
            .dx-list-item {
                .item-row[id] {
                    position: relative;
                    border: 0;
                    padding-left: 15px;
                    &::before {
                        width: 15px;
                        height: 15px;
                        content: '';
                        display: block;
                        position: absolute;
                        left: -5px;
                        top: 45%;
                        transform: translateY(-50%);
                        border-radius: 50%;
                    }
                }

                &:nth-child(4) .item-row[id] {
                    &::before {
                        background: #00aeef;
                    }
                }
                &:nth-child(5), &:nth-child(6), &:nth-child(7) {
                    .item-row[id] {
                        &::before {
                            background: #e55e5e;
                        }
                    }
                }
                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    .item-row[id] {
                        &::before {
                            background: #8dc53e;
                        }
                    }
                }
                &:nth-child(1), &:nth-child(7) {
                    .item-row[id] {
                        &::before {
                            opacity: 0.6;
                        }
                    }
                }
                &:nth-child(2), &:nth-child(6) {
                    .item-row[id] {
                        &::before {
                            opacity: 0.4;
                        }
                    }
                }
                &:nth-child(3), &:nth-child(5) {
                    .item-row[id] {
                        &::before {
                            opacity: 0.2;
                        }
                    }
                }
            }
        }

        .dx-list-item {
            .item-row {
                display: flex;
                justify-content: space-between;

                a.dx-link-filter {
                    width: 30px;
                    background: url('../../../../assets/common/icons/filter.svg') no-repeat center;
                    cursor: pointer;
                }
            }

            &.dx-state-hover {
                background-color: #f5f5f5;
            }

            &.filtered {
                background-color: #effafe!important;
            }

            .dx-list-item-before-bag.dx-list-select-radiobutton-container {
                display: none;
            }

            .dx-state-focused {
                background-color: #FFF;
                color: #333;
            }
        }

        &.unclicked .dx-list-item {
            background-color: transparent;
            cursor: default;
            color: #333
        }

        .dx-placeholder {
            font-weight: 400;
        }
        .dx-item-content {
            text-align: left;
        }
        .dx-icon-clear {
            right: 0px;
        }
    }
}