<dx-tooltip [width]="width"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="lists-tooltip-container">
            <div class="actions clearfix">
                <span class="title">{{title}}</span>
                <div *ngIf="selectedKeys.length">
                    <span class="filter-apply" (click)="apply()">{{l('Apply')}}</span>
                </div>
            </div>
            <dx-list
                [searchEnabled]="false"
                [selectionMode]="selectedKeys.length ? 'single': 'none'"
                [showSelectionControls]="true"
                [dataSource]="list"
                [keyExpr]="'id'"
                [(selectedItems)]="selectedItems"
                (onContentReady)="onContentReady($event)"
                (onInitialized)="onInitialized($event)">
                <div *dxTemplate="let data of 'item'">
                    <div class="item-row" data-id="{{data.id}}"><span>{{data.name}}</span><a *ngIf="filterModel" class="dx-link dx-link-filter" title="{{l('Filter')}}" (click)="applyFilter($event, data)"></a></div>
                </div>
            </dx-list>
        </div>
    </div>
</dx-tooltip>
