.others ul {
    padding-left: 0;
}

.others ul li {
    margin-bottom: 10px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.others ul i {
    font-size: 30px;
    margin-right: 10px;
}

.others ul i.fa-dribbble {
    color: #eb4e8e;
}

.others ul i.fa-youtube-play{
    color: #d11d16;
}