:host {

    .content {
        width: 40vw;
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 10px;

        .history-item {
            width: 100%;
            display: flex;
            color: #000;
            border: 1px solid rgba(215, 55, 70, 0.1);
            border-radius: 4px;
            margin-bottom: 14px;
            overflow: hidden;

            .user-section {
                min-width: 140px;
                max-width: 140px;
                padding: 20px 5px 0px 5px;
                background-color: lightgray;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .user-image {
                    text-align: center;
                    align-self: center;
                    margin-bottom: 5px;
                    border-radius: 50%;
                }

                p {
                    overflow-wrap: break-word;
                    max-width: 140px;
                    padding-top: 10px;
                    text-align: center;
                }
            }

            .data-section {
                width: calc(100% - 140px);
                display: flex;
                flex-direction: column;

                .row {
                    margin: 0;
                }

                .bottom-row {
                    margin-top: auto;

                    .history-date {
                        text-align: right;
                        font-size: 13px;
                        margin-top: auto;
                        padding-left: 10px;
                    }
                }

                .history-prop-column {
                    padding: 5px 15px;

                    .history-prop {
                        padding: 5px 0;
                    }

                    .control-label {
                        font-weight: 600;
                        white-space: nowrap;
                        line-height: 20px;
                        margin: 0;
                    }

                    .form-control-static {
                        padding: 5px 0 0;
                        line-height: 12px;
                        margin: 0;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}
