<app-pages-header></app-pages-header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">{{l("PrivacyPolicy")}}</h1>
            <h3 class="text-center">Content will be soon</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt massa non lacus rutrum vestibulum. Nunc
                molestie ligula tellus, in mollis quam rhoncus et. Praesent luctus velit et augue mattis, sit amet scelerisque
                lorem bibendum. Nunc nec eros sit amet quam facilisis lobortis sed at dui. Aliquam finibus euismod vestibulum.
                Sed cursus at sem ut hendrerit. Vivamus condimentum lacus quis leo rutrum pellentesque. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit.</p>
            <p>
                Maecenas elit nunc, vehicula eu ex et, viverra porttitor metus. Duis mattis sollicitudin dolor vel consequat. Ut
                non semper tortor. Pellentesque quis odio in augue convallis ultrices vel non massa. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Nullam id eros id felis lobortis eleifend. Nulla vestibulum porttitor sapien, sed
                faucibus urna efficitur vitae. Aliquam erat volutpat. In iaculis risus laoreet nisl scelerisque blandit. Morbi
                imperdiet consectetur sem ac aliquam. Cras rhoncus tellus et dolor tristique eleifend. In hac habitasse platea
                dictumst.
            </p>
            <ul>
                <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                <li>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</li>
            </ul>
            <p>
                Sed maximus mattis tortor dignissim ultricies. Maecenas iaculis massa tortor, sed porta elit efficitur in. Proin
                est metus, sollicitudin ac molestie vel, faucibus et tortor. Aenean bibendum at turpis at tincidunt. Phasellus a
                imperdiet tortor, eu porttitor dui. Duis eleifend cursus accumsan. Aliquam efficitur vulputate convallis. Fusce
                at nisi eros. Vestibulum dolor sem, sollicitudin lacinia pretium id, imperdiet eu nulla.
            </p>
            <p>
                Vestibulum in lectus lorem. Phasellus sollicitudin velit purus, nec eleifend quam scelerisque in. Integer eu
                pulvinar velit, eget dictum metus. In lacinia purus est, in tempor diam molestie ac. Maecenas vitae ullamcorper
                nibh. Donec luctus, nibh vitae consectetur hendrerit, est velit rutrum sapien, sit amet lobortis sem velit at
                odio. Integer lacinia congue accumsan. Nullam quis risus lorem. Etiam viverra, ipsum in eleifend molestie, risus
                arcu finibus dolor, at molestie turpis sem a urna. Phasellus ligula libero, tempor nec rutrum et, congue et
                dolor. Fusce pellentesque maximus lacus et rutrum. Aliquam aliquam lorem sed dolor sollicitudin tempor. Proin
                nec tellus felis. Donec sollicitudin sem sit amet malesuada efficitur.
            </p>
            <p>
                Nunc fermentum, massa a egestas convallis, nisl nulla eleifend metus, sit amet pretium urna odio ac odio. Nam
                vulputate, justo ut interdum faucibus, neque elit consectetur ante, venenatis hendrerit velit libero sed dolor.
                Mauris id enim ac purus scelerisque sagittis. Maecenas molestie dui at fringilla consectetur. Donec elementum
                nec neque ut mollis. Cras cursus facilisis odio, id ullamcorper magna tempus ac. Pellentesque at ex et risus
                sagittis interdum. Vivamus in pulvinar purus. Sed bibendum ac turpis vitae posuere. Nullam a elit pellentesque,
                bibendum neque facilisis, venenatis lorem. Aliquam faucibus odio et nisi maximus finibus. Maecenas luctus libero
                sit amet aliquet congue. Suspendisse ac porttitor ante, at elementum est. In tempor velit nec blandit semper.
                Quisque diam erat, porta vel ex id, lacinia laoreet tellus.
            </p>
            <ul>
                <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                <li>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</li>
            </ul>
            <p>
                Nunc fermentum, massa a egestas convallis, nisl nulla eleifend metus, sit amet pretium urna odio ac odio. Nam
                vulputate, justo ut interdum faucibus, neque elit consectetur ante, venenatis hendrerit velit libero sed dolor.
                Mauris id enim ac purus scelerisque sagittis. Maecenas molestie dui at fringilla consectetur. Donec elementum
                nec neque ut mollis. Cras cursus facilisis odio, id ullamcorper magna tempus ac. Pellentesque at ex et risus
                sagittis interdum. Vivamus in pulvinar purus. Sed bibendum ac turpis vitae posuere. Nullam a elit pellentesque,
                bibendum neque facilisis, venenatis lorem. Aliquam faucibus odio et nisi maximus finibus. Maecenas luctus libero
                sit amet aliquet congue. Suspendisse ac porttitor ante, at elementum est. In tempor velit nec blandit semper.
                Quisque diam erat, porta vel ex id, lacinia laoreet tellus.
            </p>
            <p>
                Sed maximus mattis tortor dignissim ultricies. Maecenas iaculis massa tortor, sed porta elit efficitur in. Proin
                est metus, sollicitudin ac molestie vel, faucibus et tortor. Aenean bibendum at turpis at tincidunt. Phasellus a
                imperdiet tortor, eu porttitor dui. Duis eleifend cursus accumsan. Aliquam efficitur vulputate convallis. Fusce
                at nisi eros. Vestibulum dolor sem, sollicitudin lacinia pretium id, imperdiet eu nulla.
            </p>
        </div>
    </div>
</div>
<app-pages-footer></app-pages-footer>
