<div [@routerTransition] class="login-wrapper h-100">
    <div class="row h-100 justify-content-center">
        <div class="align-self-center col-xs-12 col-lg-10">
            <form #resetPassForm="ngForm" class="rapid-login-form" method="post" (ngSubmit)="save()">
                <h1 class="title">
                    {{ls.l("ChangePassword")}}
                </h1>
                <p>{{ls.l("PleaseEnterYourNewPassword")}}</p>

                <div class="form-group password m-form__group">
                    <input type="password" name="Password" class="form-control placeholder-no-fix"
                           [(ngModel)]="model.password"
                           [ngModelOptions]="{updateOn: 'blur'}"
                           #Password="ngModel" [placeholder]="ls.l('Password')" validateEqual="PasswordRepeat"
                           reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                           [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                           required>
                    <img src="./assets/common/images/rapid/icons/pass-lock.svg" alt="password" class="input-icon">
                    <a class="show-password" (click)="showHidePass(Password)">
                        <img src="./assets/common/images/rapid/icons/trailing-icon.svg" alt="Show">
                    </a>
                </div>
                <div [hidden]="resetPassForm.form.valid || Password.pristine" class="form-group">
                    <ul class="help-block text-danger" *ngIf="Password.errors">
                        <li [hidden]="!Password.errors.requireDigit">{{ls.l("PasswordComplexity_RequireDigit_Hint")}}</li>
                        <li [hidden]="!Password.errors.requireLowercase">{{ls.l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                        <li [hidden]="!Password.errors.requireUppercase">{{ls.l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                        <li [hidden]="!Password.errors.requireNonAlphanumeric">{{ls.l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                        <li [hidden]="!Password.errors.requiredLength">{{ls.l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
                    </ul>
                </div>

                <div class="form-group password m-form__group">
                    <input type="password" name="PasswordRepeat" class="form-control placeholder-no-fix" [ngModel]="model.passwordRepeat" [ngModelOptions]="{updateOn: 'blur'}" #PasswordRepeat="ngModel" placeholder="{{ls.l('PasswordRepeat')}}" validateEqual="Password"
                           reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                           [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                           required #passwordRepeat>
                    <img src="./assets/common/images/rapid/icons/pass-lock.svg" alt="password" class="input-icon">
                    <a class="show-password" (click)="showHidePass(PasswordRepeat)">
                        <img src="./assets/common/images/rapid/icons/trailing-icon.svg" alt="Show">
                    </a>
                </div>
                <div [hidden]="(resetPassForm.form.valid || PasswordRepeat.pristine)" class="form-group">
                    <ul class="help-block text-danger" *ngIf="PasswordRepeat.errors">
                        <li [hidden]="!PasswordRepeat.errors.requireDigit">{{ls.l("PasswordComplexity_RequireDigit_Hint")}}</li>
                        <li [hidden]="!PasswordRepeat.errors.requireLowercase">{{ls.l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                        <li [hidden]="!PasswordRepeat.errors.requireUppercase">{{ls.l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                        <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">{{ls.l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                        <li [hidden]="!PasswordRepeat.errors.requiredLength">{{ls.l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
                        <li [hidden]="!PasswordRepeat.errors.validateEqual">{{ls.l("PasswordsDontMatch")}}</li>
                    </ul>
                </div>

                <div class="form-actions">
                    <button [disabled]="saving || !resetPassForm.form.valid" routerLink="/account/login" type="button" class="cancel"><!--<i class="fa fa-arrow-left"></i>-->{{ls.l("Back")}}</button>
                    <button type="submit" class="submit"
                            [buttonBusy]="saving" [busyText]="ls.l('SavingWithThreeDot')"><!--<i class="fa fa-check"></i>-->{{ls.l("Submit")}}</button>
                </div>

            </form>
        </div>
    </div>
</div>
