:host {
    margin-right: auto;
    display: flex;
    align-items: center;

    ::ng-deep .dx-dropdownbox {
        min-width: 227px;
    }

    .total-count {
        font-size: 24px;
        font-weight: 600;
        margin-right: 60px;
        margin-left: 0;
        padding-left: 5px;
        display: inline-block;

        &.error {
            color: red;
        }
    }

    .header-name {
        font-size: 24px;
        font-weight: 600;
        color: #202b35;
        white-space: nowrap;
        display: inline-block;

        @media (max-width: 1400px) {
            max-width: 400px;
        }
    }

    ::ng-deep dx-text-box {
        position: absolute;
    }

    ::ng-deep dx-drop-down-box {
        cursor: pointer;
        background: transparent !important;

        input {
            border: none;
            font-size: 24px;
            font-weight: 600;
        }
    }
}

.orders-header-dropdown {
    display: flex;
    flex-flow: column;

    .orders-list {
        display: flex;
        justify-content: space-around;
        line-height: 40px;
        border-bottom: 1px solid #dedede;

        span {
            cursor: pointer;
            font-size: 18px;
            font-weight: 500;
            padding: 0 10px;
            opacity: 0.5;

            &.selected {
                opacity: 1;
                color: #000;
                cursor: default;
                font-weight: 600;
            }
        }
    }

    ::ng-deep dx-list {
        .dx-item.dx-list-item {
            border: none;

            .name {
                font-size: 16px;
            }
        }
    }
}