<dx-pivot-grid id="sales"
               [allowSortingBySummary]="true"
               [allowSorting]="true"
               [allowFiltering]="true"
               [allowExpandAll]="true"
               [height]="240"
               [showBorders]="true"
               [dataSource]="dataSource"
               (onCellClick)="onPivotCellClick($event)"
               (onCellPrepared)="onCellPrepared($event)">
    <dxo-export [enabled]="false" fileName="Sales"></dxo-export>
    <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
</dx-pivot-grid>
