* {
    color: rgba(255, 255, 255, .5);
  }
  .top-footer {
    background-color: #133240;
    padding: 56px 0;
    text-align: center;
  }
  .footer-social {
    margin-top: 32px;
  }
  .footer-social-list {
    list-style-type: none;
    padding-left: 0;
  }
  .footer-social-list-item {
    display: inline-block;
    padding: 0 16px;
  }
  .footer-social-list-item-link {
    display: block;
  }
  svg {
    display: block;
    transition: fill .4s ease;
  }
  circle, g, path {
    transition: fill .4s ease;
  }
  svg {
    display: block;
    transition: fill .4s ease;
  }
  circle:hover {
    fill: #fff;
    fill-opacity: 1;
  }
  path:hover {
    fill: #ed9d1a;
    fill-opacity: 1;
  }
  .footer-menu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 48px;
    &-list {padding-left: 0;}
    &-item {
      display: inline-block;
      padding: 0 25px;
    }
    &-link {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.3px;
      text-align: center;
      text-decoration: none;
      &:hover,
      &:focus {
        color: rgba(255, 255, 255, .6);
      }
    }
  }
  .copyright {
    margin-top: 32px;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, .5);
  }
  .bottom-footer {
    background-color: #0c2531;
    padding: 20px 0;
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
  