:host {
  display: block;
  padding-bottom: 10px;

  header {
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    color: #212c36;
    float: left;
    line-height: 34px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    .dark-theme & {
      color: var(--text-color);
    }

    ::ng-deep .dx-selectbox {
      width: 210px;

      input {
        padding-right: 0;
      }

      .dx-texteditor-input {
        border: 0;
        font-weight: bold;
        padding-left: 0;
        font-size: 20px;
      }

      .dx-dropdowneditor-button {
        width: 10px;
        padding: 0;
        border-radius: 0;

        .dx-dropdowneditor-icon {
          background-color: transparent !important;

          &::before {
            content: '\f107';
            font-family: FontAwesome !important;
          }
        }
      }
    }

    span {
      font-size: 14px;
      font-weight: 500;
      padding-left: 40px;
      color: #677380;
      height: 31px;
      .dark-theme & {
        color: var(--muted-color);
      }
    }

    a {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      color: #17aeeb;
      float: right;
      padding-right: 20px;
      margin-left: auto;
      cursor: pointer;
      letter-spacing: 0.3px;
      .dark-theme & {
        color: var(--primary-color);
      }

      i {
        margin-left: 8px;
      }
    }
  }

  .wrapper {
    padding-top: 15px;
    position: relative;
  }

  .grid-wrapper {
    height: 500px;
    background: var(--navbar-bg);
  }

  .wrapper {
    border-radius: 10px;
  }

  ::ng-deep dx-data-grid {
    height: 100% !important;
    .dx-datagrid {
      width: 100%;
    }
    .dx-datagrid-scroll-container {
      background: var(--navbar-bg) !important;
      color: #767d8b;
    }
    .dx-datagrid-headers {
      border: none;
      background: var(--navbar-bg) !important;

      .dx-datagrid-content {
        border-bottom: none !important;
      }

      .dx-column-lines td {
        height: 25px !important;
        padding-left: 10px;
      }
    }
    .dx-datagrid-rowsview {
      border-top: none;
      .dx-data-row {
        background-color: var(--navbar-bg);

        td {
          cursor: pointer;
          padding: 8px 10px !important;
          border-bottom: none !important;
          font-weight: 500 !important;
          font-size: 15px !important;
          height: 21px !important;
          letter-spacing: 0.3px;
          h3 {
            font-family: Manrope;
            font-size: 14px;
            font-weight: 500;
            color: rgba(16, 33, 58, 1);
            .dark-theme & {
              color: var(--text-color);
            }
          }
          span {
            font-family: Manrope;
            font-size: 12px;
            font-weight: 400;
            line-height: 27px;
            text-align: left;
            color: rgba(16, 33, 58, 0.7);
            .dark-theme & {
              color: var(--muted-color);
            }
          }
          .amount {
            font-family: Plus Jakarta Sans;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.02em;
            color: rgba(8, 41, 91, 1);
            .dark-theme & {
              color: var(--primary-color);
            }
          }
          .date {
            font-family: Manrope;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            color: rgba(16, 33, 58, 0.7);
            .dark-theme & {
              color: var(--muted-color);
            }
          }
        }
      }
      .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }
  }

  app-no-data {
    width: 100%;
  }

  @media (min-width: 1200px) {
    min-height: 330px;
  }

  .view-all {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--menu-text-color);
    background: var(--navbar-bg);
    border-radius: 10px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: left;
    cursor: pointer;
  }
}

::ng-deep .dx-item-content.dx-list-item-content {
  background: var(--card-bg) !important;
}
