:host {
    display: block;
    padding-bottom: 10px;

    header {
        padding-left: 10px;
        width: 100%;
    }

    .title {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: normal;
        color: #212c36;
        float: left;
        line-height: 34px;
        display: flex;
        align-items: center;
        margin-bottom: 3px;

        ::ng-deep .dx-selectbox {
            width: 210px;

            input {
                padding-right: 0;
            }

            .dx-texteditor-input {
                border: 0;
                font-weight: bold;
                padding-left: 0;
                font-size: 20px;
            }

            .dx-dropdowneditor-button {
                width: 10px;
                padding: 0;
                border-radius: 0;

                .dx-dropdowneditor-icon {
                    background-color: transparent !important;

                    &::before {
                        content: '\f107';
                        font-family: FontAwesome !important;
                    }
                }
            }
        }

        span {
            font-size: 14px;
            font-weight: 500;
            padding-left: 40px;
            color: #677380;
            height: 31px;
        }

        a {
            font-size: 15px;
            font-weight: 500;
            color: #17AEEB;
            float: right;
            padding-right: 20px;
            margin-left: auto;
            cursor: pointer;
            letter-spacing: 0.3px;

            i {
                margin-left: 8px;
            }
        }
    }

    .wrapper {
        padding-top: 15px;
        position: relative;
    }

    .grid-wrapper {
        height: 500px;
    }

    ::ng-deep dx-data-grid {
        height: 100% !important;
        .dx-datagrid {
            width: 100%;
        }
        .dx-datagrid-headers {
            border: none;

            .dx-datagrid-content {
                border-bottom: none !important;
            }

            .dx-column-lines td {
                height: 25px!important;
                padding-left: 10px;
                .dx-datagrid-text-content {
                    color: #4a4a4a!important;
                }
            }
        }
        .dx-datagrid-rowsview {
            border-top: none;
            .dx-data-row {
                &:nth-child(odd) {
                    background-color: rgba(243, 247, 250, 0.7);
                }

                td {
                    cursor: pointer;
                    padding: 8px 10px!important;
                    border-bottom: none !important;
                    font-weight: 500 !important;
                    font-size: 15px !important;
                    height: 21px !important;
                    letter-spacing: 0.3px;
                    h3 {
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 500;
                        color: rgba(16, 33, 58, 1);
                    }
                    span {
                        font-family: Manrope;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 27px;
                        text-align: left;
                        color: rgba(16, 33, 58, 0.7);
                    }
                    .amount {
                        font-family: Plus Jakarta Sans;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: -0.02em;
                        color: rgba(8, 41, 91, 1);
                    }
                    .date {
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: left;
                        color: rgba(16, 33, 58, 0.7);
                    }
                }
            }
            .mentor-email {    
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }
    }

    app-no-data {
        width: 100%;
    }

    @media (min-width: 1200px) {
        min-height: 330px;
    }
}
