<div class="wrapper">
    <header>
        <h2 class="title"><i class="icon-people"></i>{{l('CRMDashboard_RecentClients')}}<span>{{l('CRMDashboard_LastNClientsRecords', [recordsCount])}}</span><a routerLink="/app/crm/clients">{{l('CRMDashboard_SeeAllRecords')}}></a></h2>
    </header>

    <div class="grid-wrapper" [hidden]="isDataLoaded && !totalRowCount">
        <dx-data-grid id="gridContainer" class="grid-compact-view"
                      [dataSource]="dataSource"
                      (onDataErrorOccurred)="httpInterceptor.handleError($event.error)"
                      (onCellClick)="onCellClick($event)">
            <dxi-column dataField="name" caption="{{l('Customer.Name')}}"></dxi-column>
            <dxi-column dataField="creationTime" caption="{{l('Created')}}" cellTemplate="dateCell" cssClass="tabular"></dxi-column>
            <div *dxTemplate="let cellData of 'dateCell'">
                {{cellData.value | date: formatting.dateTime}}
            </div>
            <dxo-paging [pageSize]="10"></dxo-paging>
        </dx-data-grid>
    </div>
</div>

<app-no-data
    [hidden]="!isDataLoaded || totalRowCount"
    [showLink]="false">
</app-no-data>
