<div class="wrapper">
    <header>
        <h2 class="title">
            <dx-select-box
                [items]="visibleItems"
                [displayExpr]="'name'"
                [value]="selectedItem.value"
                (onSelectionChanged)="onSelectionChanged($event)">
            </dx-select-box>
            <span>{{selectedItem.value.message}}</span>
            <a [routerLink]="selectedItem.value.allRecordsLink"
               [queryParams]="selectedItem.value.linkParams">
                {{ls.l('CRMDashboard_SeeAllRecords')}}
                <i class="fa fa-angle-right"></i>
            </a>
        </h2>
    </header>

    <ng-container *ngIf="recentlyCreatedCustomers$ | async as recentlyCreatedCustomers">
        <div class="grid-wrapper" *ngIf="recentlyCreatedCustomers && recentlyCreatedCustomers.length; else noData">
            <dx-data-grid id="gridContainer" class="grid-compact-view"
                          [dataSource]="recentlyCreatedCustomers"
                          (onDataErrorOccurred)="httpInterceptor.handleError($event.error)"
                          (onCellClick)="onCellClick($event)">
                <dxi-column dataField="fullName" [caption]="ls.l('Customer.Name')"></dxi-column>
                <dxi-column dataField="bankCode"
                            [caption]="ls.l('BankCode')"
                            cellTemplate="bankCodeCell"
                            [width]="125"
                            [visible]="hasBankCodeFeature">
                </dxi-column>
                <dxi-column dataField="email" [caption]="ls.l('Contact.Email')"></dxi-column>
                <dxi-column dataField="phone" [caption]="ls.l('Contact.Phone')"></dxi-column>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <div *dxTemplate="let cellData of 'bankCodeCell'">
                    <bank-code-letters [bankCode]="cellData.value"></bank-code-letters>
                </div>
            </dx-data-grid>
        </div>
    </ng-container>
</div>
<ng-template #noData>
    <app-no-data [showLink]="false"></app-no-data>
</ng-template>
