:host {
    display: block;

    header {
        padding-left: 30px;
        padding-top: 15px;
        display: inline-block;
        width: 100%;
    }

    .title {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: normal;
        color: #212c36;
        float: left;
        margin-bottom: 0;
        line-height: 34px;
        i {
            margin-right: 10px;
        }
        span {
            font-size: 14px;
            font-weight: 300;
            padding-left: 40px;
        }
        a {
            font-size: 16px;
            font-weight: 400;
            color: #17AEEB;
            float: right;
            padding-right: 20px;
            cursor: pointer;
            i {
                margin-left: 8px;
            }
        }
    }

    .wrapper {
        max-height: 428px;
        overflow: hidden;
        border: 1px solid #E5E9EC;
        border-radius: 4px;
        position: relative;
    }

    /deep/ dx-data-grid {
        .dx-datagrid-headers {
            background-color: #ecf0f3;
            border: none;

            .dx-datagrid-content {
                border-bottom: none !important;
            }

            .dx-column-lines td {
                height: 25px!important;
                .dx-datagrid-text-content {
                    color: #4a4a4a!important;
                }
            }
        }
        .dx-datagrid-rowsview {
            border-top: none;
            .dx-row {
                &:nth-child(even) {
                    background-color: #f9fbfc;
                    td:first-child {
                        font-weight: 600 !important;
                    }
                }

                td {
                    cursor: pointer;
                    padding: 4px!important;
                    border-bottom: none !important;
                    font-weight: 500 !important;
                    font-size: 12px !important;
                }

                td.tabular, td.tabular * {
                    font-family: 'Lato' !important;
                }
            }
        }
    }
}
