@mainColor: #000;
@additional-font-color: #757575;
@border-color: #DFDFDF;
@blue: #3463ae;

:host {
    *:not(i.fa) {
        font-family: Poppins;
    }

    ul {
        padding-left: 0;
        list-style: none;
    }
    button .viewMore {
        color: @blue;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.17px;
        line-height: 25px;
        text-align: center;
    }

    a.advertising-disclosure {
        position: relative;
        float: right;
        bottom: 45px;
        color: #58a3dc;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }

    .container.wrapper {
        margin-bottom: 45px;
    }

    campaign-offers {
        margin-bottom: -30px;

        @media (min-width: 1200px) {
            margin-bottom: -55px;
        }
    }

    header {
        padding-bottom: 21px;
        @media all and(max-width: 992px) {
            padding-bottom: 0px;
        }
        h1 {
            color: @mainColor;
            font-size: 42px;
            font-weight: 700;
            line-height: 57px;
            text-align: center;
            margin-bottom: 7px;
            text-transform: capitalize;
            display: inline-block;

            @media all and(max-width: 768px) {
                font-size: 30px;
                line-height: 40px;
            }
            @media all and(max-width: 540px) {
                font-size: 24px;
            }

            + p {
                font-size: 18px;
                // max-width: 840px;
                margin: 0 auto;
                @media all and(max-width: 992px) {
                    font-size: 16px;
                }
                @media all and(max-width: 540px) {
                    font-size: 14px;
                }
            }
        }
    }

    .main {
        position: relative;
        border: 1px solid #999;
        margin: 0;

        @media all and (max-width: 992px) {
            border: 0;
        }

        .filter-side-bar {
            .filters-toogle {
                i.mat-select-arrow {
                    display: none;
                }
                @media all and(max-width: 540px) {
                    font-size: 16px;
                    margin: 15px 0px 20px;
                }
                @media all and (max-width: 992px) {
                    cursor: pointer;
                    i.mat-select-arrow {
                        height: 10px;
                        margin: 0px 10px;
                        display: inline-block;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 8px solid;
                        &.collapsed {
                            margin: 2px 10px;
                            transform: rotate(-90deg);
                        }
                    }
                }
            }

            .sticky {
                @media (min-width: 992px) {
                    position: sticky;
                    top: 90px;
                }
            }

            h2 {
                margin-top: 40px;
                margin-bottom: 26px;
                font-size: 30px;
                font-weight: bold;

                @media all and(max-width: 768px) {
                    font-size: 20px;
                    margin-top: 20px;
                }
            }

            @media (max-width: 991px) {
                transform: translateX(0);
                transition: transform 0.3s ease-in-out;
                background: #fff;
                z-index: 1;
                // margin-top: 65px;
                // padding-bottom: 30px;
                &::after {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: 70%;
                    margin: 20px auto 0;
                    height: 2px;
                    background: url(../../../assets/common/icons/border-image.png) repeat;
                }
            }
            @media (min-width: 1200px) {
                padding: 0 0 15px 15px;
            }
            /deep/ dx-scroll-view {
                margin-left: -15px;
                margin-right: -15px;
                .dx-scrollable-container {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            .filters {
                @media all and (max-width: 992px) {
                    &.collapsed {
                        display: none;
                    }
                }
                @media all and (max-width: 992px) and (min-width: 768px) {
                    li:nth-child(1), li:nth-child(2) {
                        width: 49%;
                        display: inline-block;
                    }

                    li:nth-child(2) {
                        margin-left: 10px;
                    }
                }
                li {
                    position: relative;
                    margin-bottom: 24px;

                    &.slider-filter {
                        padding: 30px 15px !important;
                        background: #f3f3f3;
                        border: 1px solid #999;
                        border-radius: 2px;

                        .filterName {
                            margin-bottom: 5px;
                        }
                    }

                    .oneLineSliderValue {
                        position: absolute;
                        top: -31px;
                        right: 0;
                    }

                    &:not(:first-child) {
                        padding-top: 15px;
                    }
                    .filterName {
                        color: @mainColor;
                        font-size: 18px;
                        font-weight: 400;
                        letter-spacing: 0.4px;
                        line-height: 16px;
                        margin-bottom: 14px;
                        text-transform: uppercase;
                    }
                    /deep/ mat-checkbox {
                        display: block;
                        .mat-checkbox-layout {
                            margin-bottom: 10px;
                            .mat-checkbox-inner-container {
                                margin-right: 14px;
                                .mat-ripple-element {
                                    display: none;
                                }
                                .mat-checkbox-frame {
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    border-radius: 50%;
                                    border-color: #DFDFDF;
                                }
                                .mat-checkbox-background {
                                    border-radius: 50%;
                                }
                            }
                            .mat-checkbox-label {
                                color: #4a4a4a;
                                font-size: 15px;
                                font-weight: 600;
                                letter-spacing: 0.18px;
                                line-height: 21px;
                                font-weight: 500;
                            }
                        }
                        &.mat-checkbox-checked {
                            .mat-checkbox-background {
                                background-color: #ffcc00;
                                border-radius: 50%;
                                .mat-checkbox-checkmark-path {
                                    stroke: #1e1700 !important;
                                }
                            }
                            .mat-checkbox-layout {
                                .mat-checkbox-label {
                                    color: @mainColor;
                                    font-weight: 600;
                                }
                            }
                        }
                        &:last-of-type .mat-checkbox-layout {
                            margin-bottom: 0;
                        }
                    }
                    .sliderContainer {
                        position: relative;
                        .minMaxLabels {
                            .min, .max {
                                position: absolute;
                                bottom: -15px;
                                font-size: 16px;
                                font-weight: 500;
                                letter-spacing: 0.2px;
                                color: @mainColor;
                            }
                            .min {
                                left: 0;
                            }
                            .max {
                                right: 0;
                            }
                        }
                        /deep/ mat-slider {
                            width: 100%;
                            padding: 0;
                            .mat-slider-wrapper,
                            .mat-slider-track-wrapper,
                            .mat-slider-track-background,
                            .mat-slider-ticks,
                            .mat-slider-track-fill {
                                height: 4px;
                            }
                            .mat-slider-wrapper {
                                left: 0;
                                right: 0;
                                .mat-slider-track-wrapper {
                                    background: linear-gradient(to right, #ed501a, #f7d930 48%, #24c26c);
                                    border-radius: 2px;
                                    .mat-slider-track-fill,
                                    .mat-slider-track-background {
                                        background-color: transparent !important;
                                    }
                                }
                                .mat-slider-thumb-container {
                                    .mat-slider-thumb {
                                        right: -14px;
                                        bottom: -14px;
                                        width: 28px;
                                        height: 28px;
                                        box-shadow: 0 3px 10px 0 rgba(23, 28, 29, 0.21);
                                        border: 4px solid #666;
                                        background-color: #ffcc00;
                                    }
                                }
                            }
                        ;

                            &.greyTrackBackground .mat-slider-track-wrapper {
                                background: #ffcc00;
                                .mat-slider-track-background {
                                    background-color: #666 !important;
                                }
                            }
                        }
                        .oneLineSliderValue {
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0.2px;
                            color: #000;
                            @media all and (min-width: 1200px) {
                                font-size: 24px;
                            }
                        }
                        .twoLinesSliderBlock {
                            color: @additional-font-color;
                            letter-spacing: 0.2px;
                            line-height: 1.33;
                            .name {
                                font-size: 16px;
                                font-weight: 500;
                                color: #000000;
                            }
                            .description {
                                font-size: 12px;
                            }
                        }

                    }
                    /deep/ mat-select {
                        border: 1px solid #999;
                        background-color: #f3f3f3;
                        .mat-select-value {
                            padding: 16px 14px;
                            .mat-select-value-text {
                                font-size: 17px;
                                font-weight: 600;
                                letter-spacing: 0.2px;
                                color: #000;
                                font-family: Poppins;
                                background-color: #f3f3f3;

                            }
                        }
                        .mat-select-arrow {
                            border: 0;
                            background: url('../../../assets/common/icons/arrow-down-fill.png');
                            width: 12px;
                            height: 8px;
                        }
                    }
                }
            }
        }

        .offersList {
            padding: 0 29px;
            @media all and (max-width: 540px) {
                padding: 0 15px;
            }
        }

        /deep/ .blockOverlay {
            z-index: 1 !important;
        }

        .campaign-wrapper {
            display: flex;
            justify-content: center;

            campaign-offers {
                width: 100%;
                flex-flow: row;
                margin-bottom: -55px;

                @media all and (max-width: 1200px) {
                    flex-flow: column;
                    margin-bottom: -30px;
                }
            }
        }
    }
}

:host-context(.wrapper) {
    padding-bottom: 0;
}

