<dx-tooltip 
    width="400px"
    position="bottom" 
    target=".advertising-disclosure" 
    showEvent="dxclick" 
    hideEvent="dxoverend">
    <div *dxTemplate="let data = data of 'content'">
        <div style="text-align: justify;white-space: normal;">
            <h2 style="font-size: 16px;">Advertising Disclosure:</h2>
            LendSpace.com has an advertising relationship with some of the offers included on this page. However, the rankings and listings of our reviews,
            tools and all other content are based on objective analysis. LendSpace.com does not include all card/financial services companies or all card/financial services
            offers available in the marketplace. LendSpace strives to keep its information accurate and up to date. The information in our reviews could be different from what you find
            when visiting a financial institution, service provider or a specific products website. All products are presented without warranty.
        </div>
    </div>
</dx-tooltip>

<dx-tooltip 
    width="400px"
    position="top" 
    target=".income-disclosure" 
    showEvent="dxclick" 
    hideEvent="dxoverend">
    <div *dxTemplate="let data = data of 'content'">
        <div style="text-align: justify;white-space: normal;">
            <h2 style="font-size: 16px;">Income Disclosure:</h2>
            List your total available income including wages, retirement, investments, and rental properties. You are not required to disclose income that is alimony, child support 
            or separate maintenance unless you want to use that income to qualify for a loan. If applicable, include self-employment salary. For total commission earnings, provide an annual average. 
            Increase non-taxable income/benefits by 25%.
        </div>
    </div>
</dx-tooltip>

<div class="container wrapper">
    <a *ngIf="sessionService.isLendspaceDemoUser" class="advertising-disclosure">Advertising Disclosure</a>
    <header class="text-center" *ngIf="(category$ | async) as prefix">
        <ng-container *ngIf="prefix != 'BusinessLoans'; else BusinessLoans">
            <h1>{{ls.l('OfferTopTitle')}}</h1>
            <p>{{ls.l('OfferTopDescription')}}</p>
        </ng-container>
        <ng-template #BusinessLoans>
            <h1 class="text-left">{{ categoryDisplayName$ | async }}</h1>
        </ng-template>
    </header>
    <div class="row main">
        <div class="filter-side-bar col-md-12 col-lg-4" #filtersSideBar>
            <div #leftRef class="sticky">
                <ng-content select="[leftContent]"></ng-content>
            </div>
            <!--Default left section-->
            <div *ngIf="leftRef.childNodes.length === 0" class="sticky">
                <h2 class="text-left filters-toogle" (click)="hideFilters = !hideFilters && isMobile">
                    {{ ls.l('Refine_Your_Search') }}<i class="mat-select-arrow" [ngClass]="{collapsed: hideFilters}"></i>
                </h2>
                <dx-scroll-view #filterScroll showScrollbar="onHover" [height]="getFilterScrollHeight()">
                    <ul class="filters" [ngClass]="{collapsed: hideFilters}">
                        <ng-container *ngFor="let filter of filters$ | async">
                            <li [ngClass]="{'slider-filter': filter.type === 2}">
                                <div class="filterName" *ngIf="filter.name">
                                    {{ filter.name }} <a *ngIf="sessionService.isLendspaceDemoUser && filter.name == ls.l('Annual_Income_Filter')"><sup><i class="fa fa-info-circle income-disclosure"></i></sup></a>
                                </div>
                                <ng-container [ngSwitch]="filter.type">
                                    <ng-container *ngSwitchCase="filterType.Checkbox">
                                        <ng-container *ngFor="let filterValue of filter.values$ | async; let i = index">
                                            <mat-checkbox *ngIf="filter.showAll || i < maxDisplayedFilterValues" (change)="filter.onChange && filter.onChange($event)" [value]="filterValue.value || filterValue">
                                                <span *ngIf="!filter.type">{{ filterValue.name || filterValue }}</span>
                                                <stars-rating *ngIf="filter.type === 'rating'" [maxRating]="filterValue"></stars-rating>
                                            </mat-checkbox>
                                        </ng-container>
                                        <button class="viewMore" *ngIf="!filter.showAll" (click)="filter.showAll = true">{{ ls.l('Offers_ViewMore') }}</button>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="filterType.Radio">
                                        <mat-radio-group (change)="filter.onChange($event)" [value]="filter.selected$ | async">
                                            <mat-radio-button *ngFor="let filterValue of filter.values$ | async" [value]="filterValue.value || filterValue">
                                                {{ filterValue.name || filterValue }}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="filterType.Range">
                                        <div class="sliderContainer">
                                            <div class="minMaxLabels">
                                                <div class="min">{{ filter.minMaxDisplayFunction ? filter.minMaxDisplayFunction(filter.min) : filter.min }}</div>
                                                <div class="max">{{ filter.minMaxDisplayFunction ? filter.minMaxDisplayFunction(filter.max) : filter.max }}</div>
                                            </div>
                                            <mat-slider
                                                [min]="filter.min"
                                                [max]="filter.max"
                                                [value]="(filter.selected$ | async) || filter.value"
                                                [class.greyTrackBackground]="!filter.fullBackground"
                                                [step]="filter.step || 1"
                                                (input)="changeStep($event, filter.stepsConditions)"
                                                (change)="filter.onChange && filter.onChange($event)"
                                                #slider>
                                            </mat-slider>
                                            <ng-container *ngIf="filter.valueDisplayFunction(slider.value) as value; else simpleValue">
                                                <ng-container *ngTemplateOutlet="value.name ? twoLinesTemplate : oneLineTemplate"></ng-container>
                                                <ng-template #oneLineTemplate>
                                                    <div class="oneLineSliderValue">{{ value }}</div>
                                                </ng-template>
                                                <ng-template #twoLinesTemplate>
                                                    <div class="twoLinesSliderBlock">
                                                        <div class="name">{{ value.name }}</div>
                                                        <div class="description">{{ value.description }}</div>
                                                    </div>
                                                </ng-template>
                                            </ng-container>
                                            <ng-template #simpleValue><div class="oneLineSliderValue"></div>{{ slider.value }}</ng-template>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="filterType.Select">
                                        <ng-container *ngIf="(filter.values$ | async) as filterValues">
                                            <mat-select
                                                [value]="(filter.selected$ | async)"
                                                (selectionChange)="filter.onChange && filter.onChange($event)" #select>
                                                <mat-select-trigger *ngIf="filter.templateName === 'rating'">
                                                    <ng-container *ngIf="select.value !== 'all'">
                                                        <stars-rating [currentRating]="select.value" color="#f0d500"></stars-rating>
                                                    </ng-container>
                                                    <ng-container *ngIf="select.value === 'all'">All</ng-container>
                                                </mat-select-trigger>
                                                <mat-option
                                                    *ngFor="let filterOption of filterValues"
                                                    [value]="filterOption.value || filterOption">
                                                    <ng-container *ngIf="!filter.templateName">{{ filterOption.name || filterOption }}</ng-container>
                                                    <ng-container *ngIf="filter.templateName === 'rating'">
                                                        <ng-container *ngIf="filterOption.value !== 'all'">
                                                            <stars-rating [currentRating]="filterOption.value" color="#f0d500"></stars-rating>
                                                        </ng-container>
                                                        <ng-container *ngIf="filterOption.value === 'all'">
                                                            {{ filterOption.name }}
                                                        </ng-container>
                                                    </ng-container>
                                                </mat-option>
                                            </mat-select>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="filterType.Chooser">
                                        <ng-container *ngIf="(filter.values$ | async) as filterValues">
                                            <chooser-filter
                                                [options]="filterValues"
                                                [type]="filter.chooserType"
                                                [design]="filter.chooserDesign"
                                                (selectionChange)="filter.onChange && filter.onChange($event)">
                                            </chooser-filter>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="filterType.Score">
                                        <ng-container *ngIf="(filter.values$ | async) as filterValues">
                                            <ng-container *ngIf="(filter.selected$ | async) as selected">
                                                <score-filter [items]="filterValues" [selected]="selected" (selectionChange)="filter.onChange && filter.onChange($event)"></score-filter>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </li>
                        </ng-container>
                    </ul>
                </dx-scroll-view>
            </div>
        </div>

        <div class="offersList col-sm-12 col-lg-8" #offersList>
            <div #rightRef>
                <ng-content select="[rightContent]"></ng-content>
            </div>
            <!--Default right section-->
            <div *ngIf="rightRef.childNodes.length === 0">
                <div class="subHeader"  *ngIf="(category$ | async) as prefix" [ngClass]="prefix">
                    <h2 class="text-center">
                        {{ ls.l(prefix + '_Right_Title') }}
                    </h2>
                </div>
                <ul class="credit-cards-list">
                    <li class="row" *ngFor="let offerItem of displayedOffers$ | async | slice:0:visibleOffersCount; let i = index" [ngClass]="{'recommend': i < 3}">
                        <ng-container *ngIf="i == 0">
                            <div class="best-offer">
                                {{ls.l('Top_Deal_Found')}}
                            </div>
                        </ng-container>
                        <div class="corner-block" [ngClass]="{'secondary': i > 2}">
                            <span class="number">
                                {{i+1}}
                            </span>
                        </div>
                        <div class="left-side col-12 col-md-6 col-lg-5">
                            <div class="img-wrap">
                                <img [src]="offerItem.logoUrl" [alt]="offerItem.name" (click)="applyOffer(offerItem)">
                            </div>

                            <div class="actions-wrap">
                                <button class="applyButton" (click)="applyOffer(offerItem)">
                                    <span>{{ ls.l(buttonCaption) }}</span>
                                </button>
                                <a class="viewDetails" (click)="viewCardDetails(offerItem)">{{ ls.l('View_details') }}</a>
                            </div>
                        </div>
                        <div class="description col-12 col-md-6 col-lg-7">
                            <small *ngIf="offerItem.issuingBank" class="bank-name">{{ offerItem.issuingBank }}</small>
                            <h4 (click)="applyOffer(offerItem)">{{ offerItem.name }}</h4>
                            <p *ngIf="offerItem.minLoanAmount || offerItem.maxLoanAmount">{{ ls.l('Offers_LoanAmount') }}: {{offersService.formatLoanAmountValues(offerItem.minLoanAmount, offerItem.maxLoanAmount)}}</p>
                            <!-- div class="rating" *ngIf="offerItem.overallRating">
                                <stars-rating [currentRating]="offerItem.overallRating" color="#f0d500"></stars-rating>
                                <span>({{ offerItem.reviewsAmount + ' ' + ls.l('Offers_reviews') }})</span>
                            </div -->
                            <ul class="descriptionItems">
                                <ng-container *ngIf="pagePrefix == 'CreditCards'">
                                    <ng-container *ngFor="let param of ['annualFee', 'rewardsRate', 'introRewardsBonus', 'regularAPR']">
                                        <li *ngIf="offerItem[param]">
                                            <p>{{ ls.l('Offers_' + param) }}: {{ offersService.getParamDisplayValue(offerItem[param]) }}</p>
                                        </li>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngFor="let item of offerItem.details">
                                    <li>
                                        <p>{{item}}</p>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </li>
                </ul>

                <button (click)="showNextItems()" class="load-more-items" *ngIf="offersCount > visibleOffersCount">{{ls.l('Load_More_Offers_Found')}}</button>
                <app-no-data *ngIf="!offersAreLoading && offersAmount === 0"></app-no-data>
            </div>
        </div>
    </div>
</div>
<div class="campaign-wrapper">
    <campaign-offers></campaign-offers>
</div>
