<div class="container wrapper">
    <header>
        <h1>{{ categoryDisplayName$ | async }}</h1>
    </header>
    <div class="row main">
        <div class="filter-side-bar md-hidden col-lg-3" #filtersSideBar>
            <ul class="filters">
                <ng-container *ngFor="let filter of filters$ | async">
                    <li>
                        <div class="filterName" *ngIf="filter.name">{{ filter.name }}</div>
                        <ng-container *ngIf="filter.type === filterType.Checkbox">
                            <ng-container *ngFor="let filterValue of filter.values$ | async; let i = index">
                                <mat-checkbox *ngIf="filter.showAll || i < maxDisplayedFilterValues" (change)="filter.onChange && filter.onChange($event)" [value]="filterValue.value || filterValue">
                                    <span *ngIf="!filter.type">{{ filterValue.name || filterValue }}</span>
                                    <stars-rating *ngIf="filter.type === 'rating'" [maxRating]="filterValue"></stars-rating>
                                </mat-checkbox>
                            </ng-container>
                            <button class="viewMore" *ngIf="!filter.showAll" (click)="filter.showAll = true">{{ ls.l('Offers_ViewMore') }}</button>
                        </ng-container>
                        <ng-container *ngIf="filter.type === filterType.Radio">
                            <navigation *ngIf="filter.navigation"></navigation>
                            <mat-radio-group *ngIf="!filter.navigation" (change)="filter.onChange($event)" [value]="filter.value$ | async">
                                <mat-radio-button *ngFor="let filterValue of filter.values$ | async" [value]="filterValue.value || filterValue">
                                    {{ filterValue.name || filterValue }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </ng-container>
                        <ng-container *ngIf="filter.type === filterType.Range">
                            <div class="sliderContainer">
                                <div class="minMaxLabels">
                                    <div class="min">{{ filter.minMaxDisplayFunction ? filter.minMaxDisplayFunction(filter.min) : filter.min }}</div>
                                    <div class="max">{{ filter.minMaxDisplayFunction ? filter.minMaxDisplayFunction(filter.max) : filter.max }}</div>
                                </div>
                                <mat-slider
                                    [min]="filter.min"
                                    [max]="filter.max"
                                    [value]="(filter.value$ | async) || filter.value"
                                    [class.greyTrackBackground]="!filter.fullBackground"
                                    [step]="filter.step || 1"
                                    (input)="changeStep($event, filter.stepsConditions)"
                                    (change)="filter.onChange && filter.onChange($event)"
                                    #slider>
                                </mat-slider>
                                <ng-container *ngIf="filter.valueDisplayFunction(slider.value) as value; else simpleValue">
                                    <ng-container *ngTemplateOutlet="value.name ? twoLinesTemplate : oneLineTemplate"></ng-container>
                                    <ng-template #oneLineTemplate>
                                        <div class="oneLineSliderValue">{{ value }}</div>
                                    </ng-template>
                                    <ng-template #twoLinesTemplate>
                                        <div class="twoLinesSliderBlock">
                                            <div class="name">{{ value.name }}</div>
                                            <div class="description">{{ value.description }}</div>
                                        </div>
                                    </ng-template>
                                </ng-container>
                                <ng-template #simpleValue><div class="oneLineSliderValue"></div>{{ slider.value }}</ng-template>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="filter.type === filterType.Select">
                            <mat-select
                                *ngIf="(filter.values$ | async) as filterValues"
                                [value]="(filter.value$ | async) || filterValues[0].value || filterValues[0]"
                                (selectionChange)="filter.onChange && filter.onChange($event)">
                                <mat-option
                                    *ngFor="let filterOption of filterValues"
                                    [value]="filterOption.value || filterOption">
                                    {{ filterOption.name || filterOption }}
                                </mat-option>
                            </mat-select>
                        </ng-container>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="offersList col-sm-12 col-lg-9" #offersList>
            <div class="subHeader" [hidden]="!offersAreLoading && offersAmount === 0">
                <div class="foundCount" [class.hidden]="offersAreLoading">
                    {{ ls.l('Offers_WeFound') }} <span>{{ offersAmount }}</span> {{ categoryDisplayName$ | async }}
                </div>
                <!-- div class="sortBy">
                    <span class="label">{{ ls.l('Offers_SortBy') }}</span>
                    <mat-select (selectionChange)="selectedSorting.next($event.value);" [value]="sortings[0].field" #sortingSelect>
                        <mat-option *ngFor="let sorting of sortings" [value]="sorting.field">
                            {{ sorting.name }}
                        </mat-option>
                    </mat-select>
                </div -->
                <div class="mobileButtons">
                    <button class="btn btn-secondary sortingButton" (click)="toggleSorting($event)"></button>
                    <button class="btn-btn-secondary filteringButton" (click)="toggleFiltering($event)"></button>
                </div>
            </div>
            <ul class="credit-cards-list">
                <li class="row" *ngFor="let offerItem of displayedOffers$ | async">
                    <div class="image col-12 col-md-4 col-lg-3">
                        <img [src]="offerItem.logoUrl" [alt]="offerItem.name" (click)="applyOffer(offerItem)">
                    </div>
                    <div class="description col-12 col-md-8 col-lg-6">
                        <h4 (click)="applyOffer(offerItem)"><span *ngIf="offerItem.issuingBank">{{ offerItem.issuingBank + ' - ' }}</span>{{offerItem.name }}</h4>
                        <div class="rating" *ngIf="offerItem.overallRating">
                            <stars-rating [currentRating]="offerItem.overallRating" color="#f0d500"></stars-rating>
                            <!-- span>({{ offerItem.reviewsAmount + ' ' + ls.l('Offers_reviews') }})</span -->
                        </div>
                        <ul class="descriptionItems">
                            <ng-container *ngFor="let param of ['annualFee', 'rewardsRate', 'introRewardsBonus', 'regularApr']">
                                <li *ngIf="offerItem[param]">
                                    <h5>{{ ls.l('Offers_' + param) }}</h5>
                                    <p>{{ offersService.getParamDisplayValue(offerItem[param]) }}</p>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="actions col-12 offset-md-3 col-md-9 offset-lg-0 col-lg-3 ">
                        <button class="applyButton" (click)="applyOffer(offerItem)"><span>{{ ls.l(buttonCaption) }}</span></button>
                        <!--<button class="viewMore" (click)="viewCardDetails(offerItem)">{{ ls.l('View_details') }}</button>-->
                    </div>
                </li>
            </ul>
            <app-no-data *ngIf="!offersAreLoading && offersAmount === 0"></app-no-data>
        </div>
    </div>
</div>
