<div class="content">
    <dx-scroll-view showScrollbar="onHover">
        <dx-validation-group (onInitialized)="initValidationGroup($event)">
            <div class="field type">
                <dx-select-box
                    [dataSource]="types"
                    [dropDownButtonTemplate]="''"
                    [displayExpr]="'name'"
                    [valueExpr]="'id'"
                    [(value)]="type">
                </dx-select-box>
            </div>
            <div class="field">
                <label>{{l('Summary') | uppercase }}</label>
                <dx-text-area [height]="'100px'" [(value)]="summary">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="{{l('NoteIsRequired')}}"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-area>
            </div>
            <div *ngIf="contacts.length > 1" class="field">
                <label>{{l('Contact') | uppercase }}</label>
                <dx-select-box
                    [dataSource]="contacts"
                    [displayExpr]="'fullName'"
                    [valueExpr]="'id'"
                    (onValueChanged)="onContactChanged($event)"
                    [(value)]="contact">
                </dx-select-box>
            </div>
            <div class="field">
                <label>{{l('FollowUpDate') | uppercase }}</label>
                <dx-date-box
                    #followUpDateBox
                    width="355px"
                    type="datetime"
                    [(value)]="followupDate">
                </dx-date-box>
            </div>
            <div class="field phone">
                <label>{{l('Phone') | uppercase }}</label>
                <dx-select-box
                    [width]="'325px'"
                    [dataSource]="phones"
                    [displayExpr]="'phoneNumber'"
                    [valueExpr]="'id'"
                    [(value)]="phone">
                </dx-select-box>
                <div class="add-phone" (click)="showAddPhoneDialog($event)">+</div>
            </div>
            <span [hidden]="showOrigin" class="show-origin" (click)="showOrigin = true">{{l('Update Origin')}}</span>
            <div [hidden]="!showOrigin">
                <div class="field">
                    <label>{{l('Date') | uppercase }}</label>
                    <dx-date-box
                        #currentDateBox
                        width="355px"
                        type="datetime"
                        [(value)]="currentDate">
                    </dx-date-box>
                </div>
                <div class="field">
                    <label>{{l('AddedBy') | uppercase }}</label>
                    <dx-select-box
                        [placeholder]="l('EditValuePlaceholder')"
                        [acceptCustomValue]="true"
                        [dataSource]="users"
                        [valueChangeEvent]="'keyup'"
                        [displayExpr]="'fullName'"
                        [valueExpr]="'id'"
                        (onCustomItemCreating)="onUserSearch($event)"
                        [(value)]="addedBy">
                    </dx-select-box>
                </div>
            </div>
        </dx-validation-group>
    </dx-scroll-view>
</div>

<div class="add-note">
    <button mat-button (click)="saveNote($event)" class="button-layout button-primary">{{l('AddNote')}}</button>
</div>
