<div class="sub-title">
    <h2>
        {{l("creditSimulatorPageTitle")}}
        <button class=" pull-right reset-link" type="reset" (click)="resetAll()">reset all</button>
    </h2>
</div>
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingTransferBalanceToNewCard">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse"
                   href="#transferBalanceToNewCard"
                   aria-expanded="true" aria-controls="transferBalanceToNewCard">
                    <img src="assets/images/icons/pay-of-all-cerds-icon.svg" alt="Close card" width="20">
                    {{l("transferBalanceToNewCard")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.transferCreditBalances">
                        <span class="value pull-right">+{{(score?.transferCreditBalances)/100 | currency:'USD':'symbol':'1.0-0'}}</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="transferBalanceToNewCard" class="collapse show" role="tabpanel"
             aria-labelledby="headingTransferBalanceToNewCard">
            <div class="card-body">
                <p>{{l("transferBalanceToNewCardDescription")}}</p>
                <div class="dx-field custom-height-slider">
                    <div class="dx-field-label">{{l("amount")}}</div>
                    <div class="dx-field-value">
                        <dx-slider [min]="0"
                                   [max]="10000000"
                                   [step]="5000"
                                   [(ngModel)]="score.transferCreditBalances"
                                   [rtlEnabled]="false">
                            <dxo-label [visible]="true"
                                       [format]="format"
                                       position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"
                                         [format]="format"
                                         showMode="always"
                                         position="top"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </div>
                <div class="btn-group text-right">
                    <button class="reset-link" type="reset" (click)="resetField($event)">Reset</button>
                    <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingchangeCreditBalance">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse" href="#changeCreditBalance"
                   aria-expanded="true" aria-controls="changeCreditBalance">
                    <img src="assets/images/icons/change-card-balance-icon.svg" alt="Close card" width="20">
                    {{l("changeCreditBalance")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.increaseCreditBalance">
                        <span class="value pull-right">+{{(score?.increaseCreditBalance)/100 | currency:'USD':'symbol':'1.0-0'}}</span>
                    </ng-container>
                    <ng-container *ngIf="score.decreaseCreditBalance">
                        <span class="value pull-right">-{{(score?.decreaseCreditBalance)/100 | currency:'USD':'symbol':'1.0-0'}}</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="changeCreditBalance" class="collapse show" role="tabpanel"
             aria-labelledby="headingchangeCreditBalance">
            <div class="card-body">
                <p>{{l("changeCreditBalanceDescription")}}</p>
                <form>
                    <div class="dx-field custom-height-slider changeCreditBalance">
                        <div class="dx-field-label">{{l("amount")}}</div>
                        <div class="dx-field-value">
                            <dx-slider [min]="0"
                                       [max]="actualCreditScore?.totalCreditLimit * 100"
                                       [step]="5000"
                                       (onValueChanged)="changingBalance($event)"
                                       [value]="actualCreditScore?.outstandingBalance * 100"
                                       [rtlEnabled]="false">
                                <dxo-label [visible]="true"
                                           [format]="format"
                                           position="bottom"></dxo-label>
                                <dxo-tooltip [enabled]="true"
                                             [format]="format"
                                             showMode="always"
                                             position="top"></dxo-tooltip>
                            </dx-slider>
                        </div>
                    </div>
                    <div class="dx-field custom-radio-2-btn">
                        <div class="dx-field-label">{{l("payOffAllCreditCards")}}</div>
                        <div class="dx-field-value">
                            <dx-radio-group [dataSource]="trueFalse"
                                            displayExpr="title"
                                            valueExpr="value"
                                            layout="horizontal"
                                            name="payOffAllCreditCards"
                                            [(value)]="score.payOffAllCreditCards">
                            </dx-radio-group>
                        </div>
                    </div>
                    <div class="btn-group text-right">
                        <button class="reset-link" type="reset" value="Reset" (click)="resetField($event)">
                            Reset
                        </button>
                        <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingIncreaseMyCreditCardLimit">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse"
                   href="#increaseMyCreditCardLimit" aria-expanded="true" aria-controls="increaseMyCreditCardLimit">
                    <img src="assets/images/icons/increase-icon.svg" alt="Close card" width="20">
                    {{l("increaseMyCreditCardLimit")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.increaseCreditCardLimit">
                        <span class="value pull-right">+{{(score?.increaseCreditCardLimit)/100 | currency:'USD':'symbol':'1.0-0'}}</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="increaseMyCreditCardLimit" class=" collapse show" role="tabpanel"
             aria-labelledby="headingIncreaseMyCreditCardLimit">
            <div class="card-body">
                <p>{{l("increaseMyCreditCardLimitDescription")}}</p>
                <div class="dx-field custom-height-slider">
                    <div class="dx-field-label">{{l("amount")}}</div>
                    <div class="dx-field-value">
                        <dx-slider [min]="0"
                                   [max]="10000000"
                                   [step]="5000"
                                   [(value)]="score.increaseCreditCardLimit"
                                   [rtlEnabled]="false">
                            <dxo-label [visible]="true"
                                       [format]="format"
                                       position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"
                                         [format]="format"
                                         showMode="always"
                                         position="top"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </div>
                <div class="btn-group text-right">
                    <button class="reset-link" type="reset" (click)="resetField($event)">Reset</button>
                    <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingopenNewCreditCard">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse"
                   href="#openNewCreditCard" aria-expanded="true" aria-controls="openNewCreditCard">
                    <img src="assets/images/icons/obtain-cc-icon.svg" alt="Close card" width="20">
                    {{l("openNewCreditCard")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.applyForCreditCard">
                        <span class="value pull-right">({{score?.applyForCreditCard}})</span>
                    </ng-container>
                    <ng-container *ngIf="score.obtainCreditCard">
                        <span class="value pull-right">+{{(score?.obtainCreditCard)/100 | currency:'USD':'symbol':'1.0-0'}}</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="openNewCreditCard" class=" collapse show" role="tabpanel"
             aria-labelledby="headingopenNewCreditCard">
            <div class="card-body">
                <p>{{l("openNewCreditCardDescription")}}</p>
                <div class="dx-field custom-height-slider">
                    <div class="dx-field-label">{{l("numberOfCards")}}</div>
                    <div class="dx-field-value">
                        <dx-slider [min]="1"
                                   [max]="11"
                                   [step]="1"
                                   [(value)]="score.applyForCreditCard"
                                   [rtlEnabled]="false">
                            <dxo-label [visible]="true"
                                       position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"
                                         showMode="always"
                                         position="top"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </div>
                <div class="dx-field custom-height-slider">
                    <div class="dx-field-label">{{l("amount")}}</div>
                    <div class="dx-field-value">
                        <dx-slider [min]="0"
                                   [max]="10000000"
                                   [step]="5000"
                                   [(value)]="score.obtainCreditCard"
                                   [rtlEnabled]="false">
                            <dxo-label [visible]="true"
                                       [format]="format"
                                       position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"
                                         [format]="format"
                                         showMode="always"
                                         position="top"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </div>
                <div class="btn-group text-right">
                    <button class="reset-link" type="reset" (click)="resetField($event)">Reset</button>
                    <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingcloseOldestCreditCard">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse"
                   href="#closeOldestCreditCard"
                   aria-expanded="true" aria-controls="closeOldestCreditCard">
                    <img src="assets/images/icons/close-card-icon.svg" alt="Close card" width="20">
                    {{l("closeOldestCreditCard")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.closeOldestCreditCard == 'true'">
                        <span class="value pull-right">Yes</span>
                    </ng-container>
                    <ng-container *ngIf="score.closeOldestCreditCard == 'false'">
                        <span class="value pull-right">No</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="closeOldestCreditCard" class="collapse show" role="tabpanel" aria-labelledby="headingcloseOldestCreditCard">
            <div class="card-body">
                <p>{{l("closeOldestCreditCardDescription")}}</p>
                <form>
                    <div class="dx-field custom-radio-2-btn">
                        <div class="dx-field-label">{{l("labelForCloseOldestCreditCard")}}</div>
                        <div class="dx-field-value">
                            <dx-radio-group [dataSource]="trueFalse"
                                            displayExpr="title"
                                            valueExpr="value"
                                            layout="horizontal"
                                            name="closeOldestCreditCard"
                                            [(value)]="score.closeOldestCreditCard">
                            </dx-radio-group>
                        </div>
                    </div>
                    <div class="btn-group text-right">
                        <button class="reset-link" type="reset" (click)="resetField($event)">Reset</button>
                        <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingGetNewLoan">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse"
                   href="#getNewLoan" aria-expanded="true" aria-controls="getNewLoan">
                    <img src="assets/images/icons/obtain-personal-loan-icon.svg" alt="Close card" width="20">
                    {{l("getNewLoan")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.obtainPersonalLoan">
                        <span class="value pull-right">Personal (+{{(score?.obtainPersonalLoan)/100 | currency:'USD':'symbol':'1.0-0'}})</span>
                    </ng-container>
                    <ng-container *ngIf="score.obtainAutoLoan">
                        <span class="value pull-right">Auto (+{{(score?.obtainAutoLoan)/100 | currency:'USD':'symbol':'1.0-0'}})</span>
                    </ng-container>
                    <ng-container *ngIf="score.obtainMortgage">
                        <span class="value pull-right">Mortage (+{{(score?.obtainMortgage)/100 | currency:'USD':'symbol':'1.0-0'}})</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="getNewLoan" class="collapse show" role="tabpanel"
             aria-labelledby="headingGetNewLoan">
            <div class="card-body">
                <p>{{l("getNewLoanDescription")}}</p>
                <div class="dx-field custom-height-slider">
                    <div class="dx-field-label">{{l("labelObtainMortgage")}}</div>
                    <div class="dx-field-value">
                        <dx-slider [min]="0"
                                   [max]="200000000"
                                   [step]="5000"
                                   [(value)]="score.obtainMortgage"
                                   [rtlEnabled]="false">
                            <dxo-label [visible]="true"
                                       [format]="format"
                                       position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"
                                         [format]="format"
                                         showMode="always"
                                         position="top"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </div>
                <div class="dx-field custom-height-slider">
                    <div class="dx-field-label">{{l("labelObtainAutoLoan")}}</div>
                    <div class="dx-field-value">
                        <dx-slider [min]="0"
                                   [max]="50000000"
                                   [step]="5000"
                                   [(value)]="score.obtainAutoLoan"
                                   [rtlEnabled]="false">
                            <dxo-label [visible]="true"
                                       [format]="format"
                                       position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"
                                         [format]="format"
                                         showMode="always"
                                         position="top"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </div>
                <div class="dx-field custom-height-slider">
                    <div class="dx-field-label">{{l("labelPersonalLoan")}}</div>
                    <div class="dx-field-value">
                        <dx-slider [min]="0"
                                   [max]="50000000"
                                   [step]="5000"
                                   [(value)]="score.obtainPersonalLoan"
                                   [rtlEnabled]="false">
                            <dxo-label [visible]="true"
                                       [format]="format"
                                       position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"
                                         [format]="format"
                                         showMode="always"
                                         position="top"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </div>
                <div class="btn-group text-right">
                    <button class="reset-link" type="reset" (click)="resetField($event)">Reset</button>
                    <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingmakeTimelyPayments">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse"
                   href="#makeTimelyPayments" aria-expanded="true" aria-controls="makeTimelyPayments">
                    <img src="assets/images/icons/attention-icon.svg" alt="Close card" width="20">
                    {{l("makeTimelyPayments")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.onTimePayment">
                        <span class="value pull-right">{{score?.onTimePayment}} month(s)</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="makeTimelyPayments" class="collapse show" role="tabpanel"
             aria-labelledby="headingmakeTimelyPayments">
            <div class="card-body">
                <p>{{l("makeTimelyPaymentsDescription")}}</p>
                <div class="dx-field custom-height-slider">
                    <div class="dx-field-label">{{l("makeTimelyPayments")}}</div>
                    <div class="dx-field-value">
                        <dx-slider [min]="1"
                                   [max]="24"
                                   [(value)]="score.onTimePayment"
                                   [rtlEnabled]="false">
                            <dxo-label [visible]="true"
                                       [format]="monthFormat"
                                       position="bottom"></dxo-label>
                            <dxo-tooltip [enabled]="true"
                                         [format]="monthFormat"
                                         showMode="always"
                                         position="top"></dxo-tooltip>
                        </dx-slider>
                    </div>
                </div>
                <div class="btn-group text-right">
                    <button class="reset-link" type="reset" (click)="resetField($event)">Reset</button>
                    <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingGetPastDueOnMyAccounts">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse"
                   href="#getPastDueOnMyAccounts"
                   aria-expanded="true" aria-controls="getPastDueOnMyAccounts">
                    <img src="assets/images/icons/close-card-icon.svg" alt="Close card" width="20">
                    {{l("getPastDueOnMyAccounts")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.oneAccountPastDue">
                        <span class="value pull-right">{{score?.oneAccountPastDue}} days</span>
                    </ng-container>
                    <ng-container *ngIf="score.allAccountsPastDue">
                        <span class="value pull-right">{{score?.allAccountsPastDue}} days</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="getPastDueOnMyAccounts" class="collapse show" role="tabpanel"
             aria-labelledby="headingGetPastDueOnMyAccounts">
            <div class="card-body">
                <p>{{l("getPastDueOnMyAccountsDescription")}}</p>
                <div class="dx-field">
                    <div class="dx-field-label">{{l("oneAccountPastDue")}}</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="pastDueDays"
                                        displayExpr="title"
                                        valueExpr="value"
                                        layout="horizontal"
                                        name="AccountPastDue"
                                        [(value)]="score.oneAccountPastDue">
                        </dx-radio-group>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">{{l("allAccountsPastDue")}}</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="pastDueDays"
                                        displayExpr="title"
                                        valueExpr="value"
                                        layout="horizontal"
                                        name="AccountsPastDue"
                                        [(value)]="score.allAccountsPastDue">
                        </dx-radio-group>
                    </div>
                </div>
                <div class="btn-group text-right">
                    <button class="reset-link" type="reset" (click)="resetField($event)">Reset</button>
                    <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingnegativePublicRecords">
            <h4 class="card-title">
                <a role="button" data-toggle="collapse"
                   href="#negativePublicRecords"
                   aria-expanded="true" aria-controls="negativePublicRecords">
                    <img src="assets/images/icons/lot-icon.svg" alt="Close card" width="20">
                    {{l("negativePublicRecords")}} <i class="fa fa-angle-up pull-right" aria-hidden="true"></i>
                    <ng-container *ngIf="score.moveOneAccountToCollection == 'true' || score.addForeClosurePublicRecord == 'true' || score.declareBankruptcy == 'true' || score.addTaxLienPublicRecord == 'true' || score.addChildSupportPublicRecord == 'true' || score.addWageGarnishmentPublicRecord == 'true'">
                        <span class="value pull-right">{{l("Yes")}}</span>
                    </ng-container>
                </a>
            </h4>
        </div>
        <div id="negativePublicRecords" class="collapse show" role="tabpanel"
             aria-labelledby="headingnegativePublicRecords">
            <div class="card-body">
                <p>{{l("negativePublicRecordsDescription")}}</p>
                <div class="dx-field custom-radio-2-btn">
                    <div class="dx-field-label">{{l("moveOneAccountToCollection")}}</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="trueFalse"
                                        displayExpr="title"
                                        valueExpr="value"
                                        layout="horizontal"
                                        name="oneAccountPastDue"
                                        [(value)]="score.moveOneAccountToCollection">
                        </dx-radio-group>
                    </div>
                </div>
                <div class="dx-field custom-radio-2-btn">
                    <div class="dx-field-label">{{l("addForeClosurePublicRecord")}}</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="trueFalse"
                                        displayExpr="title"
                                        valueExpr="value"
                                        layout="horizontal"
                                        name="oneAccountPastDue"
                                        [(value)]="score.addForeClosurePublicRecord">
                        </dx-radio-group>
                    </div>
                </div>
                <div class="dx-field custom-radio-2-btn">
                    <div class="dx-field-label">{{l("declareBankruptcy")}}</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="trueFalse"
                                        displayExpr="title"
                                        valueExpr="value"
                                        layout="horizontal"
                                        name="allAccountsPastDue"
                                        [(value)]="score.declareBankruptcy">
                        </dx-radio-group>
                    </div>
                </div>
                <div class="dx-field custom-radio-2-btn">
                    <div class="dx-field-label">{{l("addTaxLienPublicRecord")}}</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="trueFalse"
                                        displayExpr="title"
                                        valueExpr="value"
                                        layout="horizontal"
                                        name="oneAccountPastDue"
                                        [(value)]="score.addTaxLienPublicRecord">
                        </dx-radio-group>
                    </div>
                </div>
                <div class="dx-field custom-radio-2-btn">
                    <div class="dx-field-label">{{l("addChildSupportPublicRecord")}}</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="trueFalse"
                                        displayExpr="title"
                                        valueExpr="value"
                                        layout="horizontal"
                                        name="oneAccountPastDue"
                                        [(value)]="score.addChildSupportPublicRecord">
                        </dx-radio-group>
                    </div>
                </div>
                <div class="dx-field custom-radio-2-btn">
                    <div class="dx-field-label">{{l("addWageGarnishmentPublicRecord")}}</div>
                    <div class="dx-field-value">
                        <dx-radio-group [dataSource]="trueFalse"
                                        displayExpr="title"
                                        valueExpr="value"
                                        layout="horizontal"
                                        name="oneAccountPastDue"
                                        [(value)]="score.addWageGarnishmentPublicRecord">
                        </dx-radio-group>
                    </div>
                </div>
                <div class="btn-group text-right">
                    <button class="reset-link" type="reset" (click)="resetField($event)">Reset</button>
                    <button class="btn-update" type="submit" (click)="updateScore()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
