:host {
    .field {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        label {
            font-weight: 600;
            margin-bottom: 0;
            display: block;
            width: 25%;
            & + * {
                width: 75%;
            }
        }
        ::ng-deep .dx-textbox {
            height: 43px;
            input,
            .dx-placeholder {
                font-size: 14px;
            }
        }
        #contactLink {
            margin: 10px 0;
            padding-left: 8px;
        }
    }
}