/deep/ .cdk-overlay-container {
    .cdk-overlay-pane.slider {
        transition: margin 1s!important;

        .mat-dialog-container {
            overflow: visible;
            padding: 0px;
            margin: 0px;
        }
    }
}
/deep/ .hide {
    display: none;
}