<bank-accounts-widget
    [allowBankAccountsEditing]="true"
    [additionalActionsAllowed]="true"
    [allowUpdateAccount]="true"
    [showSyncDate]="true"
    [showBankAccountsStatus]="true"
    [nameColumnWidth]="nameColumnWidth$ | async"
    [wide]="leftMenuCollapsed$ | async"
    (selectionChanged)="selectedAccountsChange()"
    (onUpdateAccount)="onUpdateAccount($event)"
    (reloadDataSource)="bankAccountsService.load()"
    (onDataChange)="bankAccountDataChanged()">
</bank-accounts-widget>