

.m-checkbox > span {
    border: 1px solid #bdc3d4
}

.m-checkbox > span:after {
    border: solid #7281a4
}

.m-checkbox > input:disabled ~ span:after {
    border-color: #bdc3d4
}

.m-checkbox > input:checked ~ span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #bdc3d4
}

.m-checkbox > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--solid > span {
    background: #e2e5ec;
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--solid > span:after {
    border: solid #7281a4
}

.m-checkbox.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--solid > input:checked ~ span {
    background: #dfe2ea
}

.m-checkbox.m-checkbox--brand.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--brand > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--brand > span:after {
    border: solid #6aa0ca
}

.m-checkbox.m-checkbox--brand > input:disabled ~ span:after {
    border-color: #6aa0ca
}

.m-checkbox.m-checkbox--brand > input:checked ~ span {
    border: 1px solid #6aa0ca
}

.m-checkbox.m-checkbox--brand.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #6aa0ca
}

.m-checkbox.m-checkbox--brand > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid > input:checked ~ span {
    background: #6aa0ca
}

.m-checkbox.m-checkbox--metal.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--metal > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--metal > span:after {
    border: solid #c4c5d6
}

.m-checkbox.m-checkbox--metal > input:disabled ~ span:after {
    border-color: #c4c5d6
}

.m-checkbox.m-checkbox--metal > input:checked ~ span {
    border: 1px solid #c4c5d6
}

.m-checkbox.m-checkbox--metal.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #c4c5d6
}

.m-checkbox.m-checkbox--metal > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--metal.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--metal.m-checkbox--solid > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--metal.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--metal.m-checkbox--solid > input:checked ~ span {
    background: #c4c5d6
}

.m-checkbox.m-checkbox--light.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--light > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--light > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--light > input:disabled ~ span:after {
    border-color: #fff
}

.m-checkbox.m-checkbox--light > input:checked ~ span {
    border: 1px solid #fff
}

.m-checkbox.m-checkbox--light.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #fff
}

.m-checkbox.m-checkbox--light > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--light.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--light.m-checkbox--solid > span:after {
    border: solid #27333c
}

.m-checkbox.m-checkbox--light.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--light.m-checkbox--solid > input:checked ~ span {
    background: #fff
}

.m-checkbox.m-checkbox--accent.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--accent > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--accent > span:after {
    border: solid #00c5dc
}

.m-checkbox.m-checkbox--accent > input:disabled ~ span:after {
    border-color: #00c5dc
}

.m-checkbox.m-checkbox--accent > input:checked ~ span {
    border: 1px solid #00c5dc
}

.m-checkbox.m-checkbox--accent.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #00c5dc
}

.m-checkbox.m-checkbox--accent > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--accent.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--accent.m-checkbox--solid > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--accent.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--accent.m-checkbox--solid > input:checked ~ span {
    background: #00c5dc
}

.m-checkbox.m-checkbox--focus.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--focus > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--focus > span:after {
    border: solid #9816f4
}

.m-checkbox.m-checkbox--focus > input:disabled ~ span:after {
    border-color: #9816f4
}

.m-checkbox.m-checkbox--focus > input:checked ~ span {
    border: 1px solid #9816f4
}

.m-checkbox.m-checkbox--focus.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #9816f4
}

.m-checkbox.m-checkbox--focus > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--focus.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--focus.m-checkbox--solid > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--focus.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--focus.m-checkbox--solid > input:checked ~ span {
    background: #9816f4
}

.m-checkbox.m-checkbox--primary.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--primary > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--primary > span:after {
    border: solid #58a3dc
}

.m-checkbox.m-checkbox--primary > input:disabled ~ span:after {
    border-color: #58a3dc
}

.m-checkbox.m-checkbox--primary > input:checked ~ span {
    border: 1px solid #58a3dc
}

.m-checkbox.m-checkbox--primary.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #58a3dc
}

.m-checkbox.m-checkbox--primary > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--primary.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--primary.m-checkbox--solid > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--primary.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--primary.m-checkbox--solid > input:checked ~ span {
    background: #58a3dc
}

.m-checkbox.m-checkbox--success.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--success > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--success > span:after {
    border: solid #34bfa3
}

.m-checkbox.m-checkbox--success > input:disabled ~ span:after {
    border-color: #34bfa3
}

.m-checkbox.m-checkbox--success > input:checked ~ span {
    border: 1px solid #34bfa3
}

.m-checkbox.m-checkbox--success.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #34bfa3
}

.m-checkbox.m-checkbox--success > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--success.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--success.m-checkbox--solid > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--success.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--success.m-checkbox--solid > input:checked ~ span {
    background: #34bfa3
}

.m-checkbox.m-checkbox--info.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--info > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--info > span:after {
    border: solid #36a3f7
}

.m-checkbox.m-checkbox--info > input:disabled ~ span:after {
    border-color: #36a3f7
}

.m-checkbox.m-checkbox--info > input:checked ~ span {
    border: 1px solid #36a3f7
}

.m-checkbox.m-checkbox--info.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #36a3f7
}

.m-checkbox.m-checkbox--info > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--info.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--info.m-checkbox--solid > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--info.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--info.m-checkbox--solid > input:checked ~ span {
    background: #36a3f7
}

.m-checkbox.m-checkbox--warning.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--warning > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--warning > span:after {
    border: solid #ffb822
}

.m-checkbox.m-checkbox--warning > input:disabled ~ span:after {
    border-color: #ffb822
}

.m-checkbox.m-checkbox--warning > input:checked ~ span {
    border: 1px solid #ffb822
}

.m-checkbox.m-checkbox--warning.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #ffb822
}

.m-checkbox.m-checkbox--warning > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--warning.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--warning.m-checkbox--solid > span:after {
    border: solid #111
}

.m-checkbox.m-checkbox--warning.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--warning.m-checkbox--solid > input:checked ~ span {
    background: #ffb822
}

.m-checkbox.m-checkbox--danger.m-checkbox--disabled {
    opacity: .8
}

.m-checkbox.m-checkbox--danger > span {
    border: 1px solid #bdc3d4
}

.m-checkbox.m-checkbox--danger > span:after {
    border: solid #f4516c
}

.m-checkbox.m-checkbox--danger > input:disabled ~ span:after {
    border-color: #f4516c
}

.m-checkbox.m-checkbox--danger > input:checked ~ span {
    border: 1px solid #f4516c
}

.m-checkbox.m-checkbox--danger.m-checkbox--check-bold > input:checked ~ span {
    border: 2px solid #f4516c
}

.m-checkbox.m-checkbox--danger > input:disabled ~ span {
    opacity: .6
}

.m-checkbox.m-checkbox--danger.m-checkbox--solid > span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--danger.m-checkbox--solid > span:after {
    border: solid #fff
}

.m-checkbox.m-checkbox--danger.m-checkbox--solid > input:focus ~ span {
    border: 1px solid transparent !important
}

.m-checkbox.m-checkbox--danger.m-checkbox--solid > input:checked ~ span {
    background: #f4516c
}

.m-checkbox.m-checkbox--air > span {
    -webkit-box-shadow: 0 3px 20px 0 rgba(106, 160, 202, .11);
    -moz-box-shadow: 0 3px 20px 0 rgba(106, 160, 202, .11);
    box-shadow: 0 3px 20px 0 rgba(106, 160, 202, .11)
}

.m-checkbox, .m-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.m-checkbox.m-checkbox--disabled, .m-checkbox.m-radio--disabled, .m-radio.m-checkbox--disabled, .m-radio.m-radio--disabled {
    opacity: .8;
    cursor: not-allowed
}

.m-checkbox > input, .m-radio > input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.m-checkbox > span, .m-radio > span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: 0 0;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px
}

.m-checkbox > span:after, .m-radio > span:after {
    content: '';
    position: absolute;
    display: none
}

.m-checkbox > input:checked ~ span, .m-radio > input:checked ~ span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: 0 0
}

.m-checkbox > input:checked ~ span:after, .m-radio > input:checked ~ span:after {
    display: block
}

.m-checkbox:hover > input:not([disabled]):checked ~ span, .m-checkbox > input:checked ~ span, .m-radio:hover > input:not([disabled]):checked ~ span, .m-radio > input:checked ~ span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.m-checkbox > input:disabled ~ span, .m-radio > input:disabled ~ span {
    opacity: .6;
    pointer-events: none
}

.m-checkbox.m-checkbox--solid > span, .m-checkbox.m-radio--solid > span, .m-radio.m-checkbox--solid > span, .m-radio.m-radio--solid > span {
    border: 1px solid transparent
}

.m-checkbox.m-checkbox--solid:hover > input:not([disabled]) ~ span, .m-checkbox.m-checkbox--solid > input:focus ~ span, .m-checkbox.m-radio--solid:hover > input:not([disabled]) ~ span, .m-checkbox.m-radio--solid > input:focus ~ span, .m-radio.m-checkbox--solid:hover > input:not([disabled]) ~ span, .m-radio.m-checkbox--solid > input:focus ~ span, .m-radio.m-radio--solid:hover > input:not([disabled]) ~ span, .m-radio.m-radio--solid > input:focus ~ span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.m-checkbox.m-checkbox--square > span, .m-checkbox.m-radio--square > span, .m-radio.m-checkbox--square > span, .m-radio.m-radio--square > span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.m-checkbox.m-checkbox--bold > span, .m-checkbox.m-radio--bold > span, .m-radio.m-checkbox--bold > span, .m-radio.m-radio--bold > span {
    border-width: 2px !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}


.m-checkbox > span:after {
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -6px;
    width: 5px;
    height: 10px;
    border-width: 0 2px 2px 0 !important;
    transform: rotate(45deg)
}


.m-checkbox.m-checkbox--disabled, .m-checkbox.m-radio--disabled, .m-radio.m-checkbox--disabled, .m-radio.m-radio--disabled {
    opacity: .8;
    cursor: not-allowed
}

.m-checkbox > input, .m-radio > input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.m-checkbox > span, .m-radio > span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: 0 0;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px
}

.m-checkbox > span:after, .m-radio > span:after {
    content: '';
    position: absolute;
    display: none
}

.m-checkbox > input:checked ~ span, .m-radio > input:checked ~ span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: 0 0
}

.m-checkbox > input:checked ~ span:after, .m-radio > input:checked ~ span:after {
    display: block
}

.m-checkbox:hover > input:not([disabled]):checked ~ span, .m-checkbox > input:checked ~ span, .m-radio:hover > input:not([disabled]):checked ~ span, .m-radio > input:checked ~ span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.m-checkbox > input:disabled ~ span, .m-radio > input:disabled ~ span {
    opacity: .6;
    pointer-events: none
}

.m-checkbox.m-checkbox--solid > span, .m-checkbox.m-radio--solid > span, .m-radio.m-checkbox--solid > span, .m-radio.m-radio--solid > span {
    border: 1px solid transparent
}

.m-checkbox.m-checkbox--solid:hover > input:not([disabled]) ~ span, .m-checkbox.m-checkbox--solid > input:focus ~ span, .m-checkbox.m-radio--solid:hover > input:not([disabled]) ~ span, .m-checkbox.m-radio--solid > input:focus ~ span, .m-radio.m-checkbox--solid:hover > input:not([disabled]) ~ span, .m-radio.m-checkbox--solid > input:focus ~ span, .m-radio.m-radio--solid:hover > input:not([disabled]) ~ span, .m-radio.m-radio--solid > input:focus ~ span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.m-checkbox.m-checkbox--square > span, .m-checkbox.m-radio--square > span, .m-radio.m-checkbox--square > span, .m-radio.m-radio--square > span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.m-checkbox.m-checkbox--bold > span, .m-checkbox.m-radio--bold > span, .m-radio.m-checkbox--bold > span, .m-radio.m-radio--bold > span {
    border-width: 2px !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.m-checkbox-list .m-checkbox, .m-checkbox-list .m-radio, .m-radio-list .m-checkbox, .m-radio-list .m-radio {
    display: block;
}
