<modal-dialog [title]="title"
              [editTitle]="true"
              [titleClearButton]="true">
    <div class="form-content container">
        <dx-scroll-view showScrollbar="onHover">
            <div class="row">
                <div class="left col-md-7">
                    <div class="field">
                        <label for="shortName">{{ls.l('Company_ShortName')}}</label>
                        <dx-text-box name="shortName"
                                     [inputAttr]="{ id: 'shortName' }"
                                     [valueChangeEvent]="'focusout'"
                                     [(value)]="company.shortName">
                        </dx-text-box>
                        <span [class]="company.shortName && 'clear-contact' || 'hidden'" (click)="company.shortName = ''"><i class="minus-icon"></i></span>
                    </div>
                    <div class="field companyType">
                        <label for="companyType">{{ls.l('Company_CompanyType')}}</label>
                        <div class="drop-down-box-wrapper">
                            <dx-select-box
                                [inputAttr]="{ id: 'companyType' }"
                                name="companyType"
                                displayExpr="name"
                                valueExpr="id"
                                placeholder="{{ls.l('Select')}}"
                                [dataSource]="companyTypes$ | async"
                                [(value)]="company.typeId">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="field companySize">
                        <label for="companySize">{{ ls.l('Company_CompanySize') }}</label>
                        <div class="drop-down-box-wrapper">
                            <dx-select-box
                                [inputAttr]="{ id: 'companySize' }"
                                name="companySize"
                                displayExpr="name"
                                valueExpr="id"
                                placeholder="{{ls.l('Select')}}"
                                [dataSource]="companySizes"
                                [(value)]="company.sizeId">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="field annualRevenue">
                        <label for="annualRevenue">{{ls.l('Company_AnnualRevenue')}}</label>
                        <dx-number-box name="annualRevenue"
                                     format="currency"
                                     [inputAttr]="{ id: 'annualRevenue' }"
                                     [valueChangeEvent]="'focusout'"
                                     [(value)]="company.annualRevenue">
                        </dx-number-box>
                        <span [class]="company.annualRevenue && 'clear-contact' || 'hidden'" (click)="company.annualRevenue = ''"><i class="minus-icon"></i></span>
                    </div>

                    <div class="field country">
                        <label for="country">{{ ls.l('Country') }}</label>
                        <div class="drop-down-box-wrapper">
                            <dx-select-box
                                [inputAttr]="{ id: 'country' }"
                                displayExpr="name"
                                valueExpr="code"
                                name="country"
                                [dataSource]="countries$ | async"
                                [(value)]="company.formedCountryId"
                                (onValueChanged)="loadStates($event._value)">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="field state">
                        <label for="state">{{ ls.l('State') }}</label>
                        <div class="drop-down-box-wrapper">
                            <dx-select-box
                                [inputAttr]="{ id: 'state' }"
                                name="state"
                                displayExpr="name"
                                valueExpr="code"
                                placeholder="{{ls.l('Select')}}"
                                [dataSource]="states$ | async"
                                [(value)]="company.formedStateId">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="field industry">
                        <label for="industry">{{ls.l('Company_Industry')}}</label>
                        <dx-text-box name="industry"
                                     [inputAttr]="{ id: 'industry' }"
                                     [valueChangeEvent]="'focusout'"
                                     [(value)]="company.industry">
                        </dx-text-box>
                        <span [class]="company.industry && 'clear-contact' || 'hidden'" (click)="company.industry = ''"><i class="minus-icon"></i></span>
                    </div>
                    <div class="field sicCode">
                        <label for="sicCode">{{ls.l('Company_sicCode')}}</label>
                        <dx-number-box name="sicCode"
                                     (onInput)="onInput($event, 4)"
                                     [inputAttr]="{ id: 'sicCode' }"
                                     [valueChangeEvent]="'focusout'"
                                     [(value)]="company.businessSicCode">
                        </dx-number-box>
                        <span [class]="company.businessSicCode && 'clear-contact' || 'hidden'" (click)="company.businessSicCode = ''"><i class="minus-icon"></i></span>
                    </div>
                    <div class="field productsAndServices">
                        <label for="productsAndServices">{{ls.l('Company_ProductsAndServices')}}</label>
                        <dx-text-area
                            name="productsAndServices"
                            [inputAttr]="{ id: 'productsAndServices' }"
                            [height]="'140px'"
                            [(value)]="company.description">
                        </dx-text-area>
                        <span class="{{company.description && 'clear-contact' || 'hidden'}}" (click)="company.description = ''"><i class="minus-icon"></i></span>
                    </div>
                </div>
                <div class="right col-md-5">
                    <div class="organization_logo" (click)="showUploadPhotoDialog($event)">
                        <img src="{{ company.primaryPhoto ? 'data:image/png;base64,' + company.primaryPhoto : './assets/common/images/no-photo-Organization.png' }}" alt="Organization Logo">
                    </div>
                    <div class="field foundedIn">
                        <label for="foundedIn">{{ls.l('Company_FoundedIn')}}</label>
                        <dx-date-box
                            name="foundedIn"
                            [max]="currentDate"
                            [(value)]="company.formedDate"
                            (onKeyDown)="calendarOnKeyDown($event)"
                            type="date">
                        </dx-date-box>
                        <span [class]="company.formedDate && 'clear-contact' || 'hidden'" (click)="company.formedDate = ''"><i class="minus-icon"></i></span>
                    </div>
                    <div class="field ein">
                        <label for="ein">{{ls.l('Company_EIN')}}</label>
                        <dx-text-box name="ein"
                                     [inputAttr]="{ id: 'ein' }"
                                     [valueChangeEvent]="'focusout'"
                                     [(value)]="company.ein"
                                     (onInput)="onInput($event, 10, '00-0000000')">
                            <dx-validator>
                                <dxi-validation-rule type="pattern" [pattern]="einRegex" message="{{ls.l('EinIsNotValid')}}."></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                        <span [class]="company.ein && 'clear-contact' || 'hidden'" (click)="company.ein = ''"><i class="minus-icon"></i></span>
                    </div>
                    <div class="field duns">
                        <label for="dusn">{{ls.l('Company_DUNS')}}</label>
                        <dx-text-box name="duns"
                                     [inputAttr]="{ id: 'dusn' }"
                                     [valueChangeEvent]="'focusout'"
                                     [(value)]="company.duns"
                                     (onInput)="onInput($event, 11, '00-000-0000')">
                            <dx-validator>
                                <dxi-validation-rule type="pattern" [pattern]="dunsRegex" message="{{ls.l('DunsIsNotValid')}}."></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                        <span [class]="company.duns && 'clear-contact' || 'hidden'" (click)="company.duns = ''"><i class="minus-icon"></i></span>
                    </div>
                    <div class="field stockSymbol">
                        <label for="stockSymbol">{{ls.l('Company_StockSymbol')}}</label>
                        <dx-text-box name="stockSymbol"
                                     [inputAttr]="{ id: 'stockSymbol' }"
                                     [valueChangeEvent]="'focusout'"
                                     [(value)]="company.ticker"
                                     (onInput)="onInput($event, 15)">
                        </dx-text-box>
                        <span [class]="company.ticker && 'clear-contact' || 'hidden'" (click)="company.ticker = ''"><i class="minus-icon"></i></span>
                    </div>
                    <div class="field notes">
                        <label for="notes">{{ls.l('Company_Notes')}}</label>
                        <dx-text-area
                            name="notes"
                            [inputAttr]="{ id: 'notes' }"
                            [height]="'140px'"
                            [(value)]="company.notes">
                        </dx-text-area>
                        <span class="{{company.notes && 'clear-contact' || 'hidden'}}" (click)="company.notes = ''"><i class="minus-icon"></i></span>
                    </div>
                </div>
            </div>
        </dx-scroll-view>
    </div>

</modal-dialog>
