:host {
    display: flex;
    height: 100%;
    justify-content: center;
    
    input {
        border: 1px solid #DFDFDF;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(23, 28, 29, 0.1);
        padding: 16px 24px;
        font-size: 17px;
        font-weight: 500;
        color: #4a4a4a;
        max-width: 600px;
        margin: 0 auto;
        display: block;
    }


    .form-group {
        /deep/ validation-messages {
            display: block;
            .has-danger .form-control-feedback {
                color: red;
                margin-top: 15px;
                font-weight: 600;
            }
        }
    }

    .icon-input {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 18px;
            top: 42px;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            background: url(../../../../assets/images/icons/single-man.svg) no-repeat;
            background-size: contain;
        }

        &.icon-input__password {
            max-width: 400px;
            margin: 15px auto;

            &::before {
                left: 20px;
                width: 14px;
                height: 22px;
                background: url(../../../../assets/images/icons/lock-circle.svg) no-repeat;
                background-size: contain;
            }

            .show-password {
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 13px;
                font-weight: 600;
                line-height: 1.92;
                letter-spacing: 0.2px;
                color: rgba(117, 117, 117, 0.6);
            }
        }

        input {
            padding-left: 55px;
        }
    }
    
    .m-login {
        
        &__signin {
            width: 100%;
        }
        
        &__title {
            font-weight: 500;
            color: #4a4a4a;
            margin-bottom: 30px;
            letter-spacing: 0.6px;
            line-height: 25px;
        }
        
        
        &__form {
            p {
                max-width: 500px;
                margin: 0 auto 20px;
            }
        }
    }
    
    .btn-primary {
        width: 100%;
        max-width: 440px;
        margin: 45px auto 20px;
        height: 56px;
        border-radius: 2px;
        border: 0;
        background-color: #ffcc00;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        transition: .2s;
        font-size: 18px;
        font-weight: bold;
        color: #000000;
        box-shadow: none;
        cursor: pointer;
        display: block;
        
        &:hover {
            background-color: darken(#ffcc00, 6%);
            box-shadow: 0 0 3px rgba(#ffcc00, .5);
        }
        
        &[disabled] {
            cursor: not-allowed;
            opacity: .7;
        }
    }
    
    .btn-back {
        font-size: 18px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        transition: .2s;
        margin-left: 0;
        
        &:hover {
            color: lighten(#000, 50%);
        }
    }
    
    .help-block {
        max-width: 440px;
        margin: 0 auto;
    }
}
