<div class="modal-wrapper">
    <div class="col xero-side">
        <header>
            <img
                src="assets/common/images/xero/xero.png"
                srcset="assets/common/images/xero/xero@2x.png 2x, assets/common/images/xero/xero@3x.png 3x"
                alt="Xero"
                class="hero-image">
        </header>
        <div class="content">
            <h2>Sync your Xero account to</h2>
            <ul class="xero-list fa-ul">
                <li class="xero-item">Import your chart of accounts</li>
                <li class="xero-item">View historical & forecast reports</li>
                <li class="xero-item">Avoid classifying transactions twice</li>
                <li class="xero-item">Generate custom reports with data</li>
                <li class="xero-item">Update invoices, bills & Payments</li>
            </ul>
        </div>
    </div>
    <div class="col sperse-side">
        <header>
            <img
                src="assets/common/images/xero/sperse-logo.png"
                srcset="assets/common/images/xero/sperse-logo@2x.png 2x, assets/common/images/xero/sperse-logo@3x.png 3x"
                alt="Sperse"
                class="sperse-logo">
            <h2 class="sperse-title">{{ ls.l('ConnectYourXeroAccount') }}</h2>
        </header>
        <div class="content">
            <h4>{{ ls.l('AddConsumerKeyAndSecret')}}</h4>
            <div class="field">
                <div class="field-label">{{ls.l('ConsumerKey')}}</div>
                <div class="field-value">
                    <dx-text-box [(value)]="consumerKey">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{ls.l('ConsumerKey')}} is required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>
            <div class="field">
                <div class="field-label">{{ls.l('ConsumerSecret')}}</div>
                <div class="field-value">
                    <dx-text-box [(value)]="consumerSecret">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="{{ls.l('ConsumerSecret')}} is required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>
            <div class="text-center">
                <dx-validation-summary id="summary"></dx-validation-summary>
                <dx-button
                    type="success"
                    [text]="operationType === 'update' ? ls.l('Update') : ls.l('Connect') "
                    (onClick)="onClick($event)"
                    class="btn-blue">
                </dx-button>
            </div>
        </div>
        <footer>
            <div class="footer-links">
                <ng-container *ngIf="operationType === 'add'">
                    <dx-check-box [text]="ls.l('ImportNewChartOfAccounts')" [(value)]="importNewCategoryTree" class="import-category-tree-checkbox"> </dx-check-box>
                    <dx-check-box [ngClass]="{ hidden: !importNewCategoryTree }" [text]="ls.l('OverwriteCurrentChartOfAccounts')" [(value)]="overwriteCurrentCategoryTree" class="import-category-tree-checkbox"> </dx-check-box>
                </ng-container>
                <ul>
                    <li>
                        <a [href]="xeroAppsLink" target="_blank" class="link">
                            <img src="assets/common/images/xero/icon-xero.png" alt="Xero apps">
                            {{ls.l('ClickHereToGoToXeroApps')}}
                        </a>
                    </li>
                    <li>
                        <a [href]="getXeroCertificateUrl" target="_blank" class="link">
                            <img src="assets/common/images/xero/icon-download.svg" alt="download" >
                            {{ls.l('DownloadCertificate')}}
                        </a><span>{{ ls.l('ThenAddItToTheXeroApp') }}</span>
                    </li>
                </ul>
                <a href="https://support.sperse.com/hc/en-us/articles/360008220714-Sperse-integration-with-Xero" target="_blank" class="link link-info">
                    <img src="assets/common/images/xero/icon-info.svg" alt="info" class="info-icon">
                    {{ls.l('ClickHereToLearnHowToConnectXero')}}
                </a>
            </div>
        </footer>
    </div>
</div>
