:host {
    height: 100%;
    display: block;
    .modal-wrapper {
        height: 100%;
        position: relative;
        display: flex;

        button.close {
            position: absolute;
            right: 25px;
            top: 10px;
            z-index: 20;
            opacity: 1;

            .close {
                opacity: 1;

                &:hover {
                    opacity: .5;
                }
            }
        }

        .btn-blue {
            padding: 13px 30px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.3px;
            text-align: left;
            color: rgb(255, 255, 255);
            border-radius: 26px;
            background-color: #00aeef;
            border: 0;
            transition: .2s;

            &:hover {
                opacity: .9;
            }
            /deep/ .dx-button-content {
                padding: 0;
            }
        }

        .xero-side {
            padding-top: 49px;
            background-color: #00aeef;
            color: #fff;
            padding-right: 0;

            header {
                height: 215px;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                position: relative;
            }

            .hero-image {
                max-width: 275px;
                border-radius: 50%;
                object-fit: contain;
            }

            .content {
                max-width: 330px;
                margin: 0 auto;
                padding-top: 18px;

                h2 {
                    max-width: 300px;
                    font-family: Montserrat;
                    font-size: 22px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    margin-bottom: 33px;
                    padding: 0 20px;
                    text-align: center;
                    line-height: 1.33;
                }

                .xero-list {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    .xero-item {
                        padding: 10px 0;
                        font-size: 16px;
                        font-weight: 300;
                        letter-spacing: 0.4px;
                        &:before {
                            content: url('../../../../assets/common/images/xero/icon-check.svg');
                            margin-right: 13px;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
        }

        .sperse-side {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 28px;

            header {
                margin-top: 50px;
                text-align: center;
                h2 {
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.3;
                    letter-spacing: normal;
                    text-align: center;
                    color: #424c56;
                    margin-top: 20px;
                }

                .sperse-logo {
                    max-width: 240px;
                }
            }

            .content {
                padding: 0 17px;

                .xero-integration-list {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }

                .title-col {
                    margin-bottom: 36px;
                    .col {
                        h3 {
                            font-family: Montserrat;
                            font-size: 13px;
                            font-weight: 700;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.85;
                            letter-spacing: 0.5px;
                            color: rgb(33, 44, 54);
                            text-transform: uppercase;
                            margin-bottom: 0;
                        }

                        &.text-center {
                            max-width: 40px;
                        }
                    }
                }

                .item-row {
                    margin-bottom: 13px;

                    .col {
                        position: relative;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.64;
                        letter-spacing: 0.3px;
                        text-align: left;
                        color: rgb(66, 76, 86);

                        &.text-center {
                            max-width: 40px;
                            padding: 0;
                        }

                        .small-blue-arrow,
                        .small-orange-arrow {
                            max-width: 14px;
                            display: block;
                            margin: 0 auto;
                        }
                        .small-orange-arrow {
                            transform: rotate(180deg);
                        }
                    }

                    .two-arrows {
                        .small-blue-arrow,
                        .small-orange-arrow {
                            display: inline-block;
                            position: relative;
                        }
                        .small-blue-arrow {
                            top: -3px;
                            right: -2px;
                        }
                        .small-orange-arrow {
                            bottom: -3px;
                            left: -2px;
                        }
                    }
                }

                h4 {
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.64;
                    letter-spacing: normal;
                    color: #424c56;
                    margin-bottom: 22px;
                }
                .field {

                    & + .field {
                        margin-top: 23px;
                    }

                    .field-label {
                        font-size: 10px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.5px;
                        color: #888d92;
                        text-transform: uppercase;
                    }
                    /deep/ input {
                        padding: 8px 0;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.44;
                        letter-spacing: 0.4px;
                        color: #424c56;
                    }
                }

                .btn-blue {
                    margin-top: 25px;
                    .dx-button-content {
                        padding: 0;
                        line-height: 1;

                    }
                }
            }

            footer .footer-links {
                padding-bottom: 30px;
                .import-category-tree-checkbox {
                    margin-bottom: 5px;
                    &.hidden {
                        visibility: hidden;
                    }
                }
                ul {
                    padding: 12px 10px 12px 17px;
                    border-radius: 6px;
                    border: solid 1px #00aeef;
                    background-color: #f4fcff;
                    list-style: none;
                    li + li {
                        margin-top: 10px;
                    }
                }

                .link {
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.71;
                    letter-spacing: 0.3px;
                    color: #00aeef;
                    text-decoration: none;
                    transition: .2s;

                    &:hover {
                        color: lighten(#00aeef, 10%);
                    }

                    span {
                        color: #888d92;
                    }

                    img {
                        margin-right: 6px;
                        max-width: 16px;
                        position: relative;
                        top: -2px;
                    }
                }
            }
        }
    }
}
