<div class="container">
    <div class="title-container">
        <div class="title">
            <lucide-angular [img]="icon" [style.color]="iconColor"></lucide-angular>
            <h5>{{ title }}</h5>
            <button 
                mat-raised-button
                [matTooltip]="tooltipDescription"
                matTooltipPosition="above"
                class="label-info"
            >
                <lucide-angular [img]="InfoIcon"></lucide-angular>
            </button>
        </div>
        <p *ngIf="uploadInfoText">{{uploadInfoText}}</p>
    </div>

    <div class="function-container">
        <form #privacyPolicyUploadForm>
            <ngx-file-drop [disabled]="disabled" [accept]="acceptFileExt" [multiple]="false" (onFileDrop)="fileDropped($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <div class="upload-container" (click)="openFileSelector()" [style.pointerEvents]="disabled ? 'none' : 'auto'">
                            <lucide-angular [img]="UploadIcon"></lucide-angular>
                            <a href="javascript:void(0);" class="attach-link" [style.pointerEvents]="disabled ? 'none' : 'auto'">
                                {{showPlusSign ? '+' : ''}} {{ uploadButtonText }}
                            </a>
                        </div>
                </ng-template>
            </ngx-file-drop>
            <div *ngIf="file">{{ file.fileEntry.name }}</div>
        </form>
        <div class="download-container">
            <a *ngIf="documentTemplateLink && !documentId" [href]="documentTemplateLink" target="_blank" [style.pointerEvents]="disabled ? 'none' : 'auto'">
                <lucide-angular [img]="DownloadIcon"></lucide-angular>
            </a>
            <a *ngIf="documentId || !documentTemplateLink" [ngClass]="{disabled: !documentId}" [href]="documentLink" target="_blank" [style.pointerEvents]="disabled ? 'none' : 'auto'">
                <lucide-angular [img]="DownloadIcon"></lucide-angular>
            </a>
            <a href="javascript:void(0)" *ngIf="documentId && onDocumentClear?.observers?.length" (click)="clear()" [style.pointerEvents]="disabled ? 'none' : 'auto'">
                <lucide-angular [img]="TrashIcon"></lucide-angular>
            </a>
        </div>
    </div>
</div>
