<h2 mat-dialog-title>{{ls.l('UploadDocumentsDialogTitle')}}<span class="close" (click)="close()"></span></h2>
<mat-dialog-content>
    <div class="wrapper">
        <dx-tabs 
            [width]="300"
            [dataSource]="folderTabs"
            [selectedIndex]="data.showProviders ? 0 : 1"
            [scrollByContent]="true"
            [showNavButtons]="true"
            (onSelectionChanged)="onProviderChanged($event)"
        ></dx-tabs>
        <i class="layout-view dx-icon-{{layout == 'details' ? 'smalliconslayout' : 'contentlayout'}}" (click)="onLayoutToogle()"></i>
        <dx-file-manager
            width="360px"
            [height]="getHeight()"
            [fileProvider]="documentsFileProvider" 
            [itemView]="{mode: layout}"
            [allowedFileExtensions]="allowedFileExtensions"
            (onContentReady)="onContentReady()">
            <dxo-permissions 
                [create]="false"
                [copy]="false"
                [move]="false"
                [remove]="false"
                [rename]="false"
                [upload]="false"
                [download]="false">
            </dxo-permissions>
        </dx-file-manager>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close class="button-layout button-default">{{ls.l('Cancel')}}</button>
    <button mat-button class="button-layout button-primary" (click)="onAddFile()">{{ls.l('Add')}}</button>
</mat-dialog-actions>