:host {
    ::ng-deep email-template-selector {
        dx-select-box input {
            font-size: 15px;
            font-weight: 400;
            padding-top: 9px;
            padding-bottom: 9px;
        }
    }
}
