.sperse-api {
    margin: 30px 0 100px 0 !important;
    color: #f3f6fa;
    font-family: Montserrat;
    font-size: 120px;
    font-weight: 600;
    color: #eaf9ef;
    &.small {
        margin: 0 !important;
    }
}

.logo-api {
    height: 141px;
    width: 151px;
    margin-right: 20px;
}

.welcome-api {
    color: #202B35;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.btn-layout {
    padding: 18px 26px 21px 26px !important;
    height: 52px;
    text-transform: none !important;
    line-height: 0 !important;
    border-radius: 26px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    position: relative;
    z-index: 1;

    &:after {
        content: none;
    }
}
