:host {
    display: block;
    
    ::ng-deep .left-menu {
        height: calc(~"100vh - 150px") !important;
    }

    &.left-nav-menu {
        ::ng-deep .left-menu {
            height: calc(~"100vh - 75px") !important;
        }
    }
}
