:host {
    .circular-progress {
        position: relative;
        &:after {
            opacity: 0.6;
            font-size: 63.6px;
            font-weight: bold;
            letter-spacing: -3.32px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        &:first-child:after {
            content: 'B';
            color: #bbd7e9;
        }
        &:nth-child(2):after {
            content: 'A';
            color: #e8b6b8;
        }
        &:nth-child(3):after {
            content: 'N';
            color: #eee3ba;
        }
        &:nth-child(4):after {
            content: 'K';
            color: #b6dac1;
        }
    }

    ::ng-deep circle-progress {
        position: relative;
        z-index: 1;
        svg {
            text {
                transform: translate(0px, 6px);
            }
        }
    }
}
