<div class="row">
    <div class="counter-1 col-lg-6 mb-md-5 mb-lg-0">
        <h6 class="card-title">{{ls.l('BankCode_MyTotalCracked')}}</h6>
        <div class="numbers">
            <div class="incremental-counter" id="counter-1" data-value="22205">
                <div class="num">2</div>
                <div class="num">2</div>
                <div class="num">2</div>
                <div class="num">0</div>
                <div class="num">5</div>
            </div>
        </div>
        <div class="circular-graph-wrapper">
            <div class="circular-graphs">
                <div class="circular-progress" *ngFor="let item of myCodesCracked">
                    <circle-progress
                        [percent]="item.percent"
                        [outerStrokeColor]="item.outerColor"
                        [innerStrokeColor]="item.innerColor"
                        [title]="item.title"
                        [subtitle]="item.subtitle"
                    ></circle-progress>
                </div>
            </div>
        </div>
    </div>
    <div class="counter-2 col-lg-6 mb-md-5 mb-lg-0 mt-md-5 mt-lg-0">
        <h6 class="card-title">{{ls.l('BankCode_CodeCrackedAtAGlance')}}</h6>
        <div class="numbers">
            <div class="incremental-counter" id="counter-2" data-value="132718">
                <div class="num">1</div>
                <div class="num">3</div>
                <div class="num">2</div>
                <div class="num">7</div>
                <div class="num">1</div>
                <div class="num">8</div>
            </div>
        </div>
        <div class="circular-graph-wrapper">
            <div class="circular-graphs">
                <div class="circular-progress" *ngFor="let item of codesCrackedAtAGlance">
                    <circle-progress
                        [percent]="item.percent"
                        [outerStrokeColor]="item.outerColor"
                        [innerStrokeColor]="item.innerColor"
                        [title]="item.title"
                        [subtitle]="item.subtitle"
                    ></circle-progress>
                </div>
            </div>
        </div>
    </div>
</div>
