:host {
    .product {
        margin-top: 34px;
        h5 {
            margin-bottom: 5px;
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 17px;
            label {
                margin-bottom: 0;
                border-bottom: 1px solid rgba(218, 222, 225, 0.7);
                height: 35px;
                line-height: 35px;
                width: 122px;
            }
            select {
                border: none;
                border-bottom: 1px solid rgba(218, 222, 225, 0.7);
                height: 35px;
                outline: none;
                border-radius: 0;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 0.3px;
                color: #424c56;
                width: 238px;
                padding-top: 0;
                padding-bottom: 0;
            }
            &.new-registered {
                margin-bottom: 22px;
            }
        }
    }
}