<div class="row">
    <div class="col-sm-4 left-part">
        <p>{{ ls.l('DoYouLike') }}</p>
        <p class="action">{{ ls.l('Complete') }}?</p>
    </div>
    <div class="col-sm-4 complete-group">
        <img src="./assets/common/images/bank-code/complete-group.png">
    </div>
    <div class="col-sm-4">
        <p class="description">
            {{ ls.l('Click') }} <a routerLink="top-performers">{{ ls.l('here') }}</a> {{ ls.l('HowYouStackUpAgainsOther') }} <span>{{ ls.l('GetMotivatedAndResults') }}</span>
        </p>
    </div>
</div>