:host {
    position: relative;
    top: 75px;
    .content-wrap {
        display: flex;

        .frame-wrap {
            flex: 1;
            
            iframe {
                height: 100% !important;
            }
        }
    }
    .synch-progress {
        float: left;
        padding: 8px 14px 7px 14px !important;
        margin-left: 10px;
    }
    /deep/ .back-button,
    /deep/ .next-button {
        width: 150px;
        padding: 0 !important;

        &:after {
            content: none;
        }
    }

    /deep/ .headline-title .header-names {
        @media (max-width: 1400px) {
            max-width: 400px;
        }
    }
}
