.content-wrap {
    display: flex;

    .frame-wrap {
        flex: 1;
    }
}

.btn-layout,
.btn-default {
    width: 150px;
    padding: 8px 14px 7px 14px !important;

    &:after {
        content: none;
    }
}
