<div class="card-header">
    <h2><img src="./assets/common/images/bank-code/chart.svg">At a glance</h2>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-lg-7 col-xl-6">
            <bank-code-total-codes-cracked [level]="bankCodeLevel$ | async"
                                           [values]="bankCodeGroupsCounts$ | async"
                                           [total]="bankCodeClientsCount$ | async">
            </bank-code-total-codes-cracked>
        </div>
        <div class="col-lg-5 offset-xl-1">
            <bank-code-goals-cracked></bank-code-goals-cracked>
        </div>
    </div>
</div>
