<div #bankTransferSettingsContainer class="bankTransferSettingsContainer">
    <header>
        <h2>{{ titleText }}</h2>
    </header>
    <div class="sections">
        <div class="request-step">
            <dx-check-box 
                width="430px"
                [(value)]="requireInstractionEnabled" 
                [text]="l('SendPaymentByWireTransfer')">
            </dx-check-box>        
            <p>{{l('PleaseSendWireInstractions')}}</p>
        </div>
    </div>
</div>
<payment-options-footer
    [submitButtonText]="l('RequestWireInstractions')"
    [submitButtonDisabled]="!requireInstractionEnabled"
    (onSubmit)="submit()">
</payment-options-footer>
