<header>
  <h2>Bank Transfer Sending Instructions</h2>
</header>

<section class="row">
  <div class="col-5">
    <h4 class="small-title">
        Beneficiary information
    </h4>
    <address class="company-address">
      Sperse LLC<br />
      2705 S Alma School Rd #2<br />
      Chandler AZ 85286 USA
    </address>
    <h4 class="small-title">
        Beneficiary bank
    </h4>
    <address class="bank-address">
      Bank of America<br />
      3881 South Gilbert Road<br />
      Gilbert, Arizona 85295 USA
    </address>
  </div>

  <div class="col-7">
    <h4 class="small-title">
      Bank account number
    </h4>
    <p class="text-color-blue">457014124486</p>
    <h4 class="small-title">
      Bank routing number for ACH Transfers
    </h4>
    <p class="text-color-blue">122101706</p>
    <h4 class="small-title">
      if sending as wire use the following codes
    </h4>
    <p>
      Bank Routing Number: <span class="text-color-blue">026009593</span><br />
      SWIFT Code for US Dollar: <span class="text-color-blue">BOFAUS3N</span><br />
      SWIFT Code: <span class="text-color-blue">BOFAUS6S</span>
    </p>
  </div>
</section>

<footer class="row align-items-center step-footer">
  <div class="col-8">
    <div class="terms-block row align-items-center">
      <div class="col-1">
          <img src="/assets/common/images/payments/icons/information-button.svg" alt="info">
      </div>
      <div class="col-11 terms-text">
          By continuing and pressing the “Send Wire” button you hereby accept our <a href="javascript:;">Terms & Conditions</a>
      </div>
    </div>
  </div>

  <div class="col-4 text-right">
    <button mat-raised-button class="btn btn-layout">Send Wire</button>
  </div>
</footer>