:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    padding: 100px 208px;
    position: relative;
    img {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        padding: 20px;
        margin-bottom: 20px;
        &.payment-being-confirmed {
            background-color: #00aeef;
        }

        &.payment-pending {
            background-color: #f8e71c;
        }

        &.payment-confirmed,
        &.payment-free-confirmed {
            background-color: #7ed321;
        }

        &.payment-failed {
            background-color: #d0021b;
        }
    }
    h2 {
        font-size: 32px;
        font-weight: 600;
        color: #424c56;
        margin-bottom: 20px;
        white-space: pre-line;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: #888d92;
        line-height: 1.44;
    }
    p + p {
        margin-top: 5px;
        font-size: 14px;
    }
    .btn-back {
        position: absolute;
        padding: 18px 44px;
        bottom: 34px;
        right: 54px;
        font-family: Montserrat !important;
        font-size: 17px !important;
        font-weight: 600 !important;
        line-height: 1.25 !important;
        border-radius: 32px !important;
        height: auto !important;
    }
    .btn-close {
        border: none;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        top: 35px;
        background-size: 100%;
        right: 35px;
        width: 15px;
        height: 15px;
        background: url(../../../../../assets/common/images/xero/close.svg) no-repeat;
    }
}
