:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    padding: 100px 208px;
    img {
        width: 112px;
        height: 112px;
        border-radius: 50%;

        &.payment-being-confirmed {
            background-color: #00aeef;
        }

        &.payment-pending {
            background-color: #f8e71c;
        }

        &.payment-confirmed {
            background-color: #7ed321;
        }

        &.payment-failed {
            background-color: #d0021b;
        }
    }
    h2 {
        font-size: 32px;
        font-weight: 600;
        color: #424c56;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: #888d92;
        line-height: 1.44;
    }

}
