:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    img {
        width: 112px;
        height: 112px;
    }
    h2 {
        font-size: 32px;
        font-weight: 600;
        color: #424c56;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: #888d92;
    }
}
