<img [ngClass]="(_paymentStatusData.icon || _paymentStatusData.status)" [src]="'./assets/common/icons/' + (_paymentStatusData.icon || _paymentStatusData.status) + '.svg'">
<h2>{{ statusTitle }}</h2>
<p *ngIf="_paymentStatusData.statusText">{{ _paymentStatusData.statusText }}</p>
<p *ngIf="_paymentStatusData.errorDetailsText">{{ _paymentStatusData.errorDetailsText }}</p>
<button mat-button
        matStepperPrevious
        type="button"
        class="btn btn-layout btn-back" *ngIf="showBackButton">Back</button>
<button class="btn-close" (click)="close()"></button>
