<h2 mat-dialog-title>{{l("Choose_Reset_Options")}}</h2>
<div mat-dialog-content>
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">{{l("Remove_Rules")}}</div>
            <div class="dx-field-value">
                <dx-check-box [(value)]="resetRules.removeCategoryTree ? true : resetRules.removeRules" [disabled]="resetRules.removeCategoryTree"></dx-check-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">{{l("Remove_Forecasts")}}</div>
            <div class="dx-field-value">
                <dx-check-box [(value)]="resetRules.removeCategoryTree ? true : resetRules.removeForecasts" [disabled]="resetRules.removeCategoryTree"></dx-check-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">{{l("Remove_Category_Tree")}}</div>
            <div class="dx-field-value">
                <dx-check-box [(value)]="resetRules.removeCategoryTree"></dx-check-box>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">{{l("Recalculate_Transaction_Attributes")}}</div>
            <div class="dx-field-value">
                <dx-check-box [(value)]="resetRules.recalculateTransactionAttributes" [disabled]="true"></dx-check-box>
            </div>
        </div>

        <p class="error" *ngIf="isEmpty">{{l("Please_Select_Checkbox")}}</p>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="button-layout button-default">{{l('Cancel')}}</button>
    <button mat-button class="button-layout button-primary" (click)="onSave()">{{l('Reset')}}</button>
</div>
