<div class="header">
    <img src="assets/common/icons/razorpay.svg" />
    <mat-slide-toggle
        class="header-toggle"
        [(ngModel)]="isEnabled"
        labelPosition="before"
    >
        {{ l('Enable PayStack Payments for Checkout') }}
    </mat-slide-toggle>
</div>

<div class="settings-container">
    <div class="content">
        <div class="content-header">
            <h2>PayStack</h2>
            <p>Accept payments online with PayStack, a simple solution for businesses in Africa.</p>
        </div>
        <div class="api-config">
            <h3>PayStack Configuration</h3>
            <p>PayStack enables businesses in Africa to accept payments from anyone, anywhere in the world. Connect your PayStack account to start accepting payments through credit cards, bank accounts, mobile money, and more.</p>
            
            <div class="form-group">
                <label class="base-label">Country <span>*</span>
                    <button 
                        mat-raised-button
                        matTooltip="Select the country where your PayStack account is registered"
                        matTooltipPosition="above"
                        class="label-info"
                    >
                        <lucide-angular [img]="InfoIcon"></lucide-angular>
                    </button>
                </label>
                <div class="form-control">
                    <dx-select-box
                        height="35px"
                        stylingMode="outlined"
                        [items]="supportedCountries"
                        displayExpr="name"
                        valueExpr="code"
                        [searchExpr]="['code', 'name']"
                        [searchEnabled]="true"
                        placeholder="Select Country"
                    >
                    </dx-select-box>
                </div>
            </div>

            <div class="form-group">
                <label class="base-label">Public Key <span>*</span>
                    <button 
                        mat-raised-button
                        matTooltip="Your PayStack public key (starts with pk_)"
                        matTooltipPosition="above"
                        class="label-info"
                    >
                        <lucide-angular [img]="InfoIcon"></lucide-angular>
                    </button>
                </label>
                <div class="form-control">
                    <input class="base-input" placeholder="Enter Key ID" required [(ngModel)]="apiKeySettings.id" [type]="showSecret[0] ? 'text' : 'password'">
                    <div class="btn-group">
                        <button class="base-icon-button" (click)="setShowSecret(0, !showSecret[0])">
                            <lucide-angular [img]="showSecret[0] ? EyeIcon : EyeOffIcon"></lucide-angular>
                            <span class="sr-only">Public Key Secret</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="base-label">Secret Key <span>*</span>
                    <button 
                        mat-raised-button
                        matTooltip="Your PayStack secret key (starts with sk_)"
                        matTooltipPosition="above"
                        class="label-info"
                    >
                        <lucide-angular [img]="InfoIcon"></lucide-angular>
                    </button>
                </label>
                <div class="form-control">
                    <input class="base-input includes-2icons" placeholder="Enter Key Secret" required [(ngModel)]="apiKeySettings.secret" [type]="showSecret[1] ? 'text' : 'password'">
                    <div class="btn-group">
                        <button class="base-icon-button" (click)="setShowSecret(1, !showSecret[1])">
                            <lucide-angular [img]="showSecret[1] ? EyeIcon : EyeOffIcon"></lucide-angular>
                            <span class="sr-only">Show Key Secret</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="btn-wrapper">
                <button class="base-button">Cancel</button>
                <button class="base-button">
                    <lucide-angular [img]="SaveIcon"></lucide-angular>
                    <span>Save Changes</span>
                </button>
            </div>
        </div>
        <div class="info">
            <h3>Features</h3>
            <ul>
                <li>
                    <span class="check">✓</span>
                    <span class="title">Accept payments online or via mobile</span>
                </li>
                <li>
                    <span class="check">✓</span>
                    <span class="title">Multiple payment methods</span>
                </li>
                <li>
                    <span class="check">✓</span>
                    <span class="title">Automated recurring billing</span>
                </li>
                <li>
                    <span class="check">✓</span>
                    <span class="title">Real-time transaction monitoring</span>
                </li>
                <li>
                    <span class="check">✓</span>
                    <span class="title">Robust security and fraud protection</span>
                </li>
                <li>
                    <span class="check">✓</span>
                    <span class="title">Available in Nigeria, Ghana, South Africa, and Kenya</span>
                </li>
            </ul>
            <button class="base-button">
                Connect to PayStack
            </button>
        </div>
    </div>
    <div class="faq">
        <h3>FAQ</h3>
        <cdk-accordion [multi]="true">
            <cdk-accordion-item
                *ngFor="let item of faqs; let index = index;"
                #accordionItem="cdkAccordionItem"
                class="accordion-item"
                role="button"
                tabindex="0"
                [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index"
            >
                <div class="accordion-item-header" (click)="accordionItem.toggle()">
                    <span>{{ item.title }}</span>
                    <lucide-angular [img]="ChevronIcon"></lucide-angular>
                </div>
                <div
                    class="accordion-item-body"
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-' + index"
                    [attr.aria-labelledby]="'accordion-header-' + index"
                >
                    {{ item.content }}
                </div>
            </cdk-accordion-item>
        </cdk-accordion>
    </div>
</div>