:host {
    position: relative;
    top: 74px;
    display: block;

    .main-wrapper {
        max-width: 100vw;
        display: flex;

        .reports {
            z-index: 1;
            height: calc(100vh - 210px);
            /deep/ dx-data-grid#gridContainer {
                .dx-toolbar-before {
                    width: 100px !important;
                    padding: 15px !important;
                }
                .dx-toolbar-center {
                    margin: auto !important;
                    padding: 15px !important;
                    float: none !important;
                }
            }
        }
    }

    &.fullscreen .reportView {
        width: 100%;
        border: solid 1px green;
        /deep/ app-image-viewer {
            #imageViewer {
                height: 100%;
                border: solid 1px red;
            }
        }
    }

    .reportView {
        height: 100%;
        width: 100%;
        overflow: hidden;
        .xmlContainer {
            padding-bottom: 10px;
        }
    }

    .report-viewer-wrapper {
        height: 100%;
        width: 100%;
    }

    /deep/ app-image-viewer {
        #imageViewer {
            height: calc(~"100vh - 220px");
            margin-top: 0;
            .image-container {
                bottom: 0;
            }
            .inline-icon, i.material-icons, .footer-info {
                display: none;
            }
        }
    }

    /deep/ .dx-datagrid {
        .dx-header-filter {
            display: none!important;
        }
        td:hover .dx-header-filter {
            display: inline-block!important;
        }
    }

    /deep/ app-toolbar {
        .dx-item.dx-toolbar-item.dx-toolbar-label {
            max-width: unset!important;
        }
    }
}

/deep/ dx-list[accesskey="actionsMenu"] {
    .dx-state-invisible + .dx-list-item {
        border-top: none;
    }
}

/deep/ .file-name {
    width: 90%;
    padding-left: 15px;
    font-weight: 500;
    overflow: visible !important;
    display: flex;
    align-items: center;
    &:before {
        margin-right: 17px;
        max-height: 32px;
        width: 24px;
    }
    &.pdf:before {
        content: url('../../../assets/common/icons/documents/pdf.svg');
    }
}
