<div class="top-footer" *ngIf="hasPfmAppFeature">
    <div class="top-container container">
        <div class="footer-menu row">
            <div class="footer-menu-block">
                <a [href]="domain"><img class="small-logo" src="./assets/common/images/lend-space-dark/logo-lend-space.svg"></a>
            </div>
            <div class="footer-menu-block">
                <span class="copyright">
                    <a [href]="domain">Copyright © {{appSession?.tenant?.name}}. All Rights Reserved.</a>
                </span>
            </div>
            <div class="footer-menu-block">
                <ul class="footer-menu-list">
                    <li class="footer-menu-item {{item.class}}" *ngFor="let item of footerMenuItems">
                        <a class="footer-menu-link" (click)="item.action && item.action()">{{l(item.name)}}</a>
                    </li>
                </ul>
            </div>
            <div class="footer-menu-block">
                <img class="secure-logo" src="./assets/common/images/lend-space-dark/secure.svg">
            </div>
        </div>
    </div>
</div>
<div class="bottom-footer d-flex align-items-center" *ngIf="!hasPfmAppFeature">
    <div class="bottom-container container">
        <span class="copyright">
            © {{appSession?.tenant?.name}} {{currentYear}}, all rights reserved
        </span>
        <ul class="footer-menu">
            <li><a [routerLink]="['/personal-finance/privacy-policy']">Privacy policy</a></li>
            <li><a [routerLink]="['/personal-finance/terms-of-service']">Terms and Conditions</a></li>
        </ul>
    </div>
</div>
