<div class="platform-select-component" *ngIf="layoutService.showPlatformSelectMenu && activeModuleCount > 1">
    <dx-drop-down-box
        [width]="width"
        [value]="displayName"
        [items]="moduleItems"
        (onInitialized)="onDropDownInit($event)">
        <div *dxTemplate="let data of 'content'" class="platform-select-wrapper">
            <dx-scroll-view showScrollbar="onHover">
                <div class="top-row">
                    <ul class="top__items">
                        <li class="top__item {{item.code | lowercase }}" *ngFor="let item of modules.topItems">
                            <a (click)="onItemClick(item)"
                               [class]="isDisabled(item.name) || item.isComingSoon || (item.name == 'CFO' && !permission.isGranted(permissions.CFOMainInstanceAccess)) ? 'top__link disabled' : 'top__link'">
                                <h2 class="top__item_title">
                                    {{item.name}}
                                </h2>
                                <div class="top__item_image-wrapper">
                                    <img src="./assets/common/images/platform-select/{{ item.name | lowercase }}.png"
                                         class="top__item_image {{item.name.toLowerCase()}}"
                                         [alt]="item.name">
                                </div>
                                <div class="top__item_descr">
                                    {{ls.l(item.code + 'ModuleDescription')}}
                                </div>
                                <div class="coming-soon" *ngIf="item.isComingSoon">
                                    Coming soon...
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-row">
                    <ul class="menu__items">
                        <li class="menu__item {{item.code | lowercase }}" *ngFor="let item of modules.items" [hidden]="isDisabled(item.name) || item.isComingSoon">
                            <a (click)="onItemClick(item)"
                               [class]="isDisabled(item.name) || item.isComingSoon ? 'menu__link disabled' : 'menu__link'">
                                <h2 class="menu__item_title">{{item.name}}</h2>
                                <div class="menu__item_descr">
                                    {{ls.l(item.code + 'ModuleDescription')}}
                                </div>
                                <div class="coming-soon" *ngIf="item.isComingSoon">
                                    Coming soon...
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="shortcuts" *ngIf="appMemberPortalUrl || (landingPageDomains && landingPageDomains.length) || isProductEnabled">
                    <div class="shortcuts_head">
                        <h3>{{ls.l('My Link Shortcuts')}}</h3><p class="shortcuts_ref" *ngIf="enabledAffiliate">{{ls.l('Include Affiliate ID in links')}}: 
                            <inplace-edit [value]="affiliateRefId"
                                          [isCopyEnabled]="true"
                                          [isEditDialogEnabled]="true"
                                          [showEditModeOnEditButtonClick]="true"
                                          [validationRules]="accessCodeValidationRules"
                                          (valueChanged)="affiliateCodeChanged($event)">
                            </inplace-edit></p>
                    </div>
                    <div class="shortcuts_portal_field" *ngIf="appMemberPortalUrl">
                        <img class="icon" src="./assets/common/images/platform-select/portal.png"><span>{{appMemberPortalUrl}}</span>
                        <img class="copy" src="./assets/common/images/platform-select/copy.png" (click)="copyToClipboard(appMemberPortalUrl)">
                        <img class="open" src="./assets/common/images/platform-select/open.png" (click)="openLink(appMemberPortalUrl)">
                    </div>
                    <div class="shortcuts_portal_field" *ngIf="isCFOPortalEnabled">
                        <img class="icon" src="./assets/common/images/platform-select/portal.png"><span>{{cfoPortalUrl}}</span>
                        <img class="copy" src="./assets/common/images/platform-select/copy.png" (click)="copyToClipboard(cfoPortalUrl)">
                        <img class="open" src="./assets/common/images/platform-select/open.png" (click)="openLink(cfoPortalUrl)">
                    </div>
                    <div class="shortcuts_portal_field" *ngIf="landingPageDomains && landingPageDomains.length">
                        <img class="icon" src="./assets/common/images/platform-select/landing.png">
                        <dx-select-box 
                            width="540px"
                            height="49px"
                            [(value)]="selectedlandingPage" 
                            [dataSource]="landingPageDomains">
                        </dx-select-box>
                        <img class="copy" src="./assets/common/images/platform-select/copy.png" (click)="copyToClipboard(selectedlandingPage)">
                        <img class="open" src="./assets/common/images/platform-select/open.png" (click)="openLink(selectedlandingPage)">
                    </div>
                    <div class="shortcuts_portal_field" *ngIf="isProductEnabled">
                        <img class="icon" src="./assets/common/images/platform-select/product.png">
                        <dx-drop-down-box #productList
                            width="540px"
                            height="49px"
                            [placeholder]="ls.l('See Product Links')"
                            [value]="productUrl"
                            [items]="productLinks"
                            (onInitialized)="onProductListInit($event)">
                            <div *dxTemplate="let data of 'content'" class="product-select-wrapper">
                                <dx-text-box 
                                    width="100%"
                                    [(value)]="searchProduct"                                    
                                    placeholder="Search"
                                    (onValueChanged)="onProductSearch()">
                                </dx-text-box>
                                <p>All <span>{{productLinks.length}}</span> <img src="assets/common/icons/settings.png"></p>          
                                <hr>
                                <div class="scroll-wrapper">
                                    <dx-scroll-view showScrollbar="onHover">
                                        <div class="product-list">
                                            <div *ngFor="let product of productDataSource.items()">
                                                <img class="thumb" [src]="product.ThumbnailUrl || 'assets/common/images/no-image.svg'"><div (click)="selectProduct(productList, product.PublicName)" class="name">{{product.Name}}<div class="price">{{ product.Price || 0 | currency:currency:'symbol':'1.2-2' }}</div></div>
                                                <img class="copy" src="./assets/common/images/platform-select/copy.png" (click)="copyToClipboard(getProductPublicLink(product.PublicName))">
                                                <img class="open" src="./assets/common/images/platform-select/open.png" (click)="openLink(getProductPublicLink(product.PublicName))">
                                            </div>
                                        </div>
                                    </dx-scroll-view>
                                </div>
                            </div>
                        </dx-drop-down-box>                                            
                        <img class="copy" src="./assets/common/images/platform-select/copy.png" (click)="copyToClipboard(productUrl)">
                        <img class="open" src="./assets/common/images/platform-select/open.png" (click)="openLink(productUrl)">
                    </div>
                </div>
                <!-- footer *ngIf="modules.footerItems.length">
                    <ul class="footer__items">
                        <li class="footer__item {{item.code | lowercase }}" *ngFor="let item of modules.footerItems">
                            <a class="footer__link" (click)="onItemClick(item)">
                                {{ls.l(item.name + 'FooterModuleText')}}
                            </a>
                        </li>
                    </ul>
                </footer -->
            </dx-scroll-view>
        </div>
    </dx-drop-down-box>
</div>
