@cfo-color: linear-gradient(221deg, #f59a60, #f77623);
@pfm-color: linear-gradient(221deg, #48d8bd, #129064);
@api-color: linear-gradient(221deg, #91f7c8, #0cab2a);
@crm-color: linear-gradient(221deg, #c86dd7, #3023ae);
@admin-color: linear-gradient(221deg, #cae4cf, #538da9);

::ng-deep platform-select,
.module-select-item {
  &.admin {
    .dx-texteditor-container:after {
      left: 62px !important;
    }
    input {
      background: linear-gradient(109.96deg, #6687ef 5.14%, #a6c0f8 87.12%);
    }
  }

  &.api input {
    background-image: @api-color;
  }

  &.cfo input {
    background: linear-gradient(109.96deg, #f76b1c 5.14%, #fad961 87.12%);
  }

  &.crm input {
    background: linear-gradient(109.96deg, #3d32ad 5.14%, #935ec5 87.12%);
  }

  &.cloud input {
    background-image: linear-gradient(41deg, #2854e4, #70a0e2);
  }

  &.feeds input {
    background-image: linear-gradient(221deg, #f791c4, #f83696);
  }

  &.forms input {
    background-image: linear-gradient(41deg, #00a9ff, #7ddfff 83%);
  }

  &.hr input {
    background-image: linear-gradient(41deg, #34aee0, #2beccf);
  }

  &.hub input {
    background-image: linear-gradient(41deg, #34aee0, #2beccf),
      linear-gradient(to bottom, rgba(0, 255, 255, 0), rgba(0, 255, 255, 0));
  }

  &.slice input {
    background-image: linear-gradient(41deg, #0d72e4, #2bd3ec);
  }

  &.store input {
    background-image: linear-gradient(221deg, #e8e629, #deaf31);
  }

  &.pfm input {
    background-image: @pfm-color;
  }
}

.module-select-item {
  position: relative;
  div,
  input {
    display: inline-block;
  }
  div {
    color: var(--text-color);
    padding-left: 5px;
    &.selected {
      font-weight: 500;
    }
    &.disabled {
      opacity: 0.5;
    }
  }
  input {
    @media (max-width: 440px) {
      & {
        font-size: 9px;
        margin: 10px;
      }
    }
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    font-size: 10px;
    line-height: 1;
    color: var(--text-color);
    text-align: center;
    margin: 11px;
    background: var(--card-bg);
    background-position: 50% 50%;
    caret-color: transparent;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
  }
}

::ng-deep .dx-popup-content[id] {
  padding: 0 !important;
  background: var(--card-bg) !important;
  color: var(--text-color) !important;
  transition: background 0.3s, color 0.3s;
}

::ng-deep .module-description {
  width: 480px;
  padding: 0 24px 0 24px;
  h3 {
    margin-top: 20px;
    display: flex;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.2px;
    color: var(--text-color);
  }
  input {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 0;
    font-size: 10px;
    line-height: 1;
    color: var(--text-color);
    margin: 0 12px 5px 5px;
    text-align: center;
    background-position: 50% 50%;
  }
  & > div {
    height: 100%;
    .description-container {
      height: 95%;
      right: -26px;
      min-height: 460px;
      position: relative;
      padding-left: 23px;
      background-image: url('../../../../assets/common/images/crm-module.png');
      background-repeat: no-repeat;
      background-position: bottom right;
      padding-right: 40px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.29;
      letter-spacing: 0.3px;
      padding-top: 40px;
      color: var(--muted-color);
    }
  }
  .admin > .description-container {
    background-image: url('../../../../assets/common/images/admin-module.png');
  }
  .api > .description-container {
    background-image: url('../../../../assets/common/images/api-module.png');
  }
  .cfo > .description-container {
    background-image: url('../../../../assets/common/images/cfo-module.png');
  }
  .pfm > .description-container {
    background-image: url('../../../../assets/common/images/cr-module.png');
  }
}

::ng-deep .dx-list[accesskey='module-select-list'] {
  .dx-list-item {
    padding-left: 13px;
    border: none !important;
    color: var(--text-color) !important;

    &.dx-state-focused {
      background: none !important;
      color: var(--text-color) !important;
    }
    .dx-icon-check {
      float: right;
      top: 22px;
      right: 15px;
      position: absolute;
      color: var(--primary-color);
    }
    .dx-list-item-content {
      padding: 0 10px 0 0;
    }
  }
  .dx-scrollable-wrapper {
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      background-color: var(--border-color);
      right: 0;
      top: -20px;
      height: 110%;
    }
  }
}

:host {
  .platform-select-component {
    width: 81px;
    min-width: 81px;
    float: right;
    overflow: hidden;
    padding-top: 20px;
    margin: 0 10px 0 10px;
    background: var(--card-bg);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s, border-color 0.3s;
    ::ng-deep dx-drop-down-box {
      background: transparent;
    }
  }

  ::ng-deep .dx-texteditor {
    .dx-texteditor-container {
      .dx-dropdowneditor-icon {
        dispaly: none;
      }
      .dx-texteditor-input {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.02em;
        text-align: center;
        margin-bottom: 0 !important;
        border-radius: 25px;
        width: 81px;
        height: 36px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        color: var(--text-color);
        padding-top: 0;
        padding-bottom: 2px;
        padding-right: 15px;
        border: 0;
      }
      &:after {
        content: url('../../../../assets/common/icons/arrow.png');
        left: 56px;
        top: 6px;
        position: absolute;
      }
    }
  }
}

::ng-deep .product-select-wrapper {
  padding: 20px;

  ::ng-deep .dx-textbox {
    input {
      border: 0;
      background: var(--card-bg);
      border-radius: 10px;
    }
    input,
    .dx-placeholder {
      font-size: 15px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: -0.02em;
      text-align: left;
      color: var(--text-color);
    }
    &.dx-state-focused .dx-placeholder {
      top: -30px;
    }
  }
  p {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--text-color);
    margin: 25px 0 15px 0;
    span {
      border-radius: 5px;
      display: inline-block;
      background: var(--card-bg);
      padding: 0 7px;
    }
    img {
      float: right;
      cursor: pointer;
    }
  }
  .scroll-wrapper {
    max-height: 215px;
    height: inherit;
  }
  .product-list {
    margin-right: 10px;
    & > div {
      height: 56px;
      font-size: 15px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.02em;
      color: var(--text-color);
      .name {
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }
      img.thumb {
        width: 44px;
        margin-right: 6px;
      }
      img.copy,
      img.open {
        float: right;
        top: 8px;
        position: relative;
        cursor: pointer;
        margin: 3px;
      }
      .type {
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: -0.02em;
        text-align: left;
        color: var(--secondary-color);
      }
      .price {
        float: right;
        margin: 15px;
      }
    }
  }
}

::ng-deep .platform-select-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  background-color: var(--card-bg);

  * {
    outline: none;
  }

  div,
  footer {
    max-width: 100%;
  }

  footer {
    min-height: 51px;
    background-color: var(--card-bg);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ::ng-deep inplace-edit {
    display: inline-block;
    max-width: 255px;

    .inplace-edit-view-mode {
      display: flex;
      min-height: 30px;
      border-radius: 4px;
      justify-content: space-between;
      .link {
        margin: auto;
      }
      .empty .edit {
        margin-bottom: 10px;
      }
    }
  }

  .shortcuts {
    margin: 0 20px 20px;
    background: var(--shortcut-bg);
    color: var(--text-color);
    border-radius: 10px;
    padding-bottom: 23px;
    border: 1px solid var(--border-color);
    transition: background 0.3s, color 0.3s, border-color 0.3s;

    ::ng-deep dx-drop-down-box,
    ::ng-deep dx-select-box {
      display: inline-block;
      input {
        border: 0;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: var(--secondary-color);
        padding-left: 0;
        padding-right: 25px;
      }
      .dx-placeholder {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: var(--secondary-color);
      }
      .dx-dropdowneditor-icon {
        background: transparent !important;
        &::before {
          content: url("data:image/svg+xml;utf8,<svg fill='rgba(128, 131, 150, 1)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        }
      }
    }

    .shortcuts_portal_field {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 49px;
      background: var(--background-color);
      color: var(--text-color);
      margin: 7px 20px;
      border-radius: 9px;
      padding-right: 7px;

      img {
        &.icon {
          margin: 15px;
        }
        &.copy,
        &.open {
          float: right;
          margin: 10px 3px;
          cursor: pointer;
        }
      }
      span {
        display: inline-block;
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: var(--secondary-color);
        vertical-align: middle;
      }
    }

    .shortcuts_head {
      display: flex;
      height: 64px;
      justify-content: space-between;
      padding: 21px 19px 5px 18px;
      h3 {
        color: var(--text-color);
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
        margin: 0;
        letter-spacing: -0.02em;
      }
      p {
        font-size: 15px;
        font-weight: 600;
        line-height: 36px;
        margin: 0;
        letter-spacing: -0.02em;
        text-align: right;
        color: var(--secondary-color);

        span {
          color: var(--secondary-color);
        }
      }
    }
  }

  .top,
  .menu {
    &-row {
      @media (min-width: 768px) {
        padding: 0 15px;
      }
    }

    &__items {
      width: 100%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
    }

    &__item {
      padding: 10px 5px;
      width: 100%;
      text-align: center;
      opacity: 0.9;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }

      &_title {
        font-size: 22px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.02em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        text-transform: uppercase;
        min-height: 35px;

        &-image {
          margin-right: 7px;
        }

        @media (min-width: 768px) {
          font-size: 22px;
        }
      }

      &.slice {
        [class$='title'] {
          color: #1da7e8;
        }
      }

      &.cfo,
      &.pfm,
      &.hub {
        [class$='title'] {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.5px;
          /*
                    &::before {
                        display: inline-block;
                        content: '';
                        width: 18px;
                        height: 18px;
                        margin-right: 7px;
                        border-radius: 50%;
                        background-image: linear-gradient(to bottom, rgba(0, 255, 255, 0), rgba(0, 255, 255, 0)),
                                          linear-gradient(222deg, #70a0e2, #003577);
                    }
*/
        }
      }

      &.api,
      &.admin,
      &.crm {
        /*
                [class$="title"] {
                    &::before {
                        content: '';
                        color: #fff;
                        font-size: 8px;
                        line-height: 33px;
                        width: 33px;
                        height: 33px;
                        margin-right: 7px;
                        border-radius: 50%;
                    }
                }
*/
      }

      &.api {
        [class$='title'] {
          color: rgba(131, 203, 120, 1);
        }
      }

      &.crm {
        [class$='title'] {
          color: rgba(104, 89, 235, 1);
        }
      }

      &.admin {
        [class$='title'] {
          color: rgba(87, 122, 237, 1);
        }
      }

      &.cfo {
        [class$='title'] {
          color: #f77623;
          &::before {
            background-image: linear-gradient(221deg, #f76b1c, #fad961);
          }
        }
      }

      &.pfm {
        [class$='title'] {
          color: #129064;
          &::before {
            background-image: @pfm-color;
          }
        }
      }

      &.hub {
        [class$='title'] {
          color: #2beccf;
          &::before {
            background-image: linear-gradient(41deg, #34aee0, #2beccf),
              linear-gradient(to bottom, rgba(0, 255, 255, 0), rgba(0, 255, 255, 0));
          }
        }
      }

      &_descr {
        color: var(--secondary-color);
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.02em;
        text-align: center;
      }
      &_image-wrapper {
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        height: 165px;
        margin-bottom: 20px;
        @media (max-width: 767px) {
          display: none;
        }
      }
      &_image {
        max-width: 100%;
        width: 100%;
        height: 165px;
        margin-bottom: 0;
        margin-top: auto;

        &.admin {
          width: 163px;
          height: 150px;
        }
        &.crm {
          width: 173px;
          height: 165px;
        }
        &.api {
          width: 173px;
          height: 154px;
        }
      }

      @media (min-width: 768px) {
        max-width: 33%;
        padding: 20px 15px;
      }
    }

    &__link {
      display: block;
      transition: 0.2s;
      text-decoration: none;

      &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  .menu-row {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 15px 30px 15px !important;
    background: var(--card-bg);
    color: var(--text-color);
  }

  .footer {
    &__items {
      display: flex;
      margin-bottom: 0;
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
    &__item {
      flex: 1;
    }
    &__link {
      padding: 16px 0;
      color: var(--primary-color) !important;
      background-color: var(--card-bg);
      text-decoration: none;
      transition: 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 8px;
        margin-left: 5px;
        background: url('~assets/common/images/platform-select/platform-arrow-right.svg') no-repeat;
      }

      &:hover {
        background-color: var(--hover-bg);
      }
    }
  }

  .coming-soon {
    font-size: 12px;
    margin-top: 12px;
  }

  @media (min-width: 768px) {
    .top__item_descr {
      margin-bottom: 10px;
      min-height: 50px;
    }
  }
}
