:host {
    .vimeo-iframe {
        max-height: 100%;

        @media all and (min-width: 560px) {
            height: 270px;
        }
    }

    iframe {
        border: 0;
        width: 100%;
    }

    @media (max-width: 991.98px) {
        .vimeo-iframe {
            height: 350px;
        }
    }

    @media (max-width: 767.98px) {
        .vimeo-iframe {
            height: 190px;
        }
    }
}
