<mat-dialog-content>
    <h1>{{ data.title }} <div class="close-icon" (click)="dialogRef.close()"></div></h1>
    <dx-date-box #dateBox 
        type="time"
        width="170px" 
        [(value)]="time"
        (click)="dateBox.instance.option('opened', true)">
    </dx-date-box>
    <button class="button-layout button-default" (click)="discardAutoSyncTime()">{{ l('DiscardAutoSync') }}</button>
    <button class="button-layout button-primary" (click)="setAutoSyncTime()">{{ l('Save') }}</button>
</mat-dialog-content>