:host {
    position: absolute;
}

/deep/ .swal-modal {

    &.finalize,
    &.success,
    &.failure {
        font-family: Poppins;
        box-shadow: 4px 9px 7px -2px rgba(0,0,0,0.74);
        background: #fff !important;
        border-radius: 12px;

        h1 {
            font-weight: 700;
        }

        h2 {
            font-size: 16px;
            font-weight: 400;
        }

        button.apply {
            border-radius: 30px;
            border: 2px solid #000;
            background: #f0d500;
            font-weight: 700;
            font-size: 33px;
            width: 150px;
            cursor: pointer;
        }

        button:hover {
            background: #F0BF1E;
        }

        .swal-icon {
            position: absolute;
            left: 5%;
            top: 25px;
            border: 6px solid rgba(165, 220, 134, 0.1) !important;
            @media (min-width: 768px) {
                left: 100px;
                top: 85px;
            }
        }
    }

    &.success {

        .swal-title {
            color: #004999 !important;
            text-transform: uppercase;
            font-weight: 700 !important;
            letter-spacing: -.03em;
            margin-bottom: 0;
            padding-bottom: 0;
            font-size: 25px !important;
            @media (min-width: 768px) {
                font-size: 40px !important;
                margin-top: 20px;
            }
        }

        .swal-content {
            padding: 0;
            margin-bottom: 0;

            button.redirect-link {
                display: block;
                background: #9fc358;
                color: #fff;
                margin: 20px auto auto auto;
            }

            @media (min-width: 768px) {
                margin-top: 25px;
                button.redirect-link {
                    margin: auto 90px auto auto;
                }
            }
        }

        .approved {
            color: #9fc358;
            text-transform: uppercase;
            font-weight: 500;
            margin-left: 100px;
            margin-bottom: 2px;

            div {
                font-size: 30px;
            }
            @media (max-width: 767px) {
                margin-top: 30px;
                div {
                    font-size: 27px;
                }
            }
        }

        .info {
            background: #dce8c1;
            padding: 10px;
            margin-top: 25px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            @media (min-width: 768px) {
                position: absolute;
                bottom: 0;
                margin-top: 10px;
            }

            p {
                margin-bottom: 0;
            }
        }

    }

    &.failure {
        background: #fdcd01;
        text-align: left;
        .swal-title {
            font-weight: 700;
            color: #000;
            line-height: 28px;
            padding-bottom: 27px;
            &:after {
                content: '';
                border-bottom: 2px solid #000;
                width: 200px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        .swal-footer {
            margin-top: 15px;
            .swal-button-container {
                width: 358px;
                height: 60px;
            }

            .swal-button {
                background: #38cbca;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
                border-radius: 0;
                &:hover {
                    background: #3cb3b2;
                }
            }
        }
    }

    &.finalize {
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        .swal-content {
            margin-top: 20px;
            h1 {
                font-size: 32px;
                font-weight: 700;
                text-align: center;
                color: #000000;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            h2 {
                font-size: 18px;
                font-weight: 400;
                color: #4a4a4a;
                margin-bottom: 0;
            }
        }
        .swal-footer {
            margin-top: 0;
            .swal-button-container {
                margin-top: 0;
            }
            .swal-button {
                font-family: Poppins;
                font-size: 19px;
                font-weight: 700;
                letter-spacing: 0.15px;
                text-align: center;
                color: #000;
                border-radius: 2px;
                background: #ffcc00;
                border: none;
                text-transform: uppercase;
                position: relative;
                &:after {
                    content: url('../../../assets/common/icons/offers/approved-arrow.svg');
                    width: 18px;
                    height: 13px;
                    display: block;
                    position: absolute;
                    right: 32px;
                    top: -15px;
                    bottom: 0;
                    margin: auto 0;
                }
                &:hover:after {
                    content: url('../../../assets/common/icons/offers/approved-arrow-white.svg');
                }
                @media (min-width: 768px) {
                    width: 358px;
                    height: 60px;
                }
            }
        }
        @media (min-width: 768px) {
            padding: 0 50px;
        }
    }

}
