:host {
    position: absolute;
}

/deep/ .swal-modal {

    &.finalize,
    &.success,
    &.failure {
        box-shadow: 4px 9px 7px -2px rgba(0,0,0,0.74);
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;

        .swal-content {
            margin-top: 0;
            h1 {
                font-family: Poppins;
                font-weight: 700;
                margin-top: 25px;
                margin-bottom: 15px;
                font-size: 28px;
                color: #000000;
                line-height: normal;
            }
            h2 {
                font-family: Poppins;
                font-size: 17px;
                font-weight: 500;
                color: #4a4a4a;
                margin-bottom: 0;
                line-height: 1.41;
            }
        }

        .swal-footer {
            .swal-button.swal-button--confirm {
                background: #ffcc00;
                border: none;
                text-transform: uppercase;
                position: relative;
                color: #000;
                transition: none;
                &:after {
                    content: url('../../../assets/common/icons/offers/approved-arrow.svg');
                    width: 18px;
                    transition: none;
                    height: 13px;
                    display: block;
                    position: absolute;
                    right: 32px;
                    top: -15px;
                    bottom: 0;
                    margin: auto 0;
                }
                &:hover {
                    color: #fff;
                    &:after {
                        content: url('../../../assets/common/icons/offers/approved-arrow-white.svg');
                    }
                }
                @media (min-width: 768px) {
                    width: 358px;
                    height: 60px;
                }
            }
        }

        @media (min-width: 768px) {
            width: 640px !important;
            height: 447px !important;
            padding: 0 75px;
        }
    }

    &.success {
        .swal-footer {
            .swal-button.swal-button--confirm {
                background: #4dba0b;
                color: #fff;
                &:after {
                    content: url('../../../assets/common/icons/offers/approved-arrow-white.svg');
                }
                &:hover {
                    color: #000;
                    &:after {
                        content: url('../../../assets/common/icons/offers/approved-arrow.svg');
                    }
                }
            }
        }

    }

    &.failure {
        @media (min-width: 768px) {
            padding: 0 40px;
        }
    }

}
