@green-bg-color: rgb(134, 216, 173);
@green-bgLighter-color: rgb(186, 230, 234);
@footer-color: rgba(16, 152, 80, 0.35);
@font-color-gray: rgb(93, 102, 106);
@font-color-darkGray: rgb(18, 21, 22);
@font-color-lightGray: rgb(138, 150, 155);
@light-blue: rgb(59, 175, 217);
@red-color: rgb(224, 83, 59);
@orange-color: rgb(245, 166, 35);
@green-color: rgb(72, 220, 142);

@lato: "lato", sans-serif;
@robotoslab: "roboto-slab", serif;
