@import url(_settings);

:host {
    z-index: 1;
    &.pfm-app {
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.08);
        /deep/ .m-dropdown__arrow {
            color: #AF47C0!important;
        }
        /deep/ .m-dropdown__header {
            background: linear-gradient(to right, #AF47C0 60%, #3B58C1)!important;
            box-shadow: inset 2px 5px 12px 2px #AF47C0!important;
        }
    }
    
    .top-headline {
        display: none;
        padding: 10px 0;
        background-color: #000;
        border-bottom: 2px solid #4c4c4c;
        
        .url,
        .date {
            font-size: 9px;
            font-weight: 400;
            margin-bottom: 0;
        }
        
        .url {
            color: #999;
            text-decoration: none;
            
            &:hover {
                color: lighten(#999, 10%);
            }
        }
        
        .get-free-score {
            color: #f0d500;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0;
        }
        
        .date {
            color: #ccc;
        }
        
        @media all and (max-width: 600px) {
            .container {
                flex-direction: column;
                
                .url {
                    display: none;
                }
            }
        }
    }
    .dark-lend-space-logo {
        display: none;
    }

    .page-header.navbar {
        flex-wrap: nowrap;

        .page-top {
            width: auto!important;
            clear: none!important;
            background: none!important;
            order: 3;

            #m_header_topbar {
                background: transparent;
                width: auto!important;
                height: auto!important;
                margin-top: 0px!important;
                box-shadow: none!important;

                .m-topbar__nav.m-nav {
                    margin: 0px !important;
                    display: flex;
                    align-items: center;
                    // padding-top: 6px;

                    .m-nav__item {
                        padding: 0 14px !important;

                        @media (max-width: 768px) {
                            padding: 0 8px !important;
                        }
                    }
                }

                .user-info-drop-down-arrow {
                    color: #43383b;
                }

                .m-card-user {
                    .m-card-user__details {
                        padding: 0 15px 0 0;
                    }

                    .m-card-user__pic {
                        padding: 0;
                        vertical-align: baseline;
                    }
                }

                .user-info {
                    color: #fff !important;
                    font-size: 1.1rem;
                    font-weight: 400;
                    display: block;
                    word-break: break-word;

                    &.fullName {
                        font-weight: 600;
                        font-size: 18px;
                        text-transform: capitalize;
                    }

                    &.email {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-align: left;
                        height: 20px;
                    }
                }

                .header-profile-picture {
                    width: 41px;
                    height: 41px;
                }
            }
    
            @media all and (max-width: 529px) {
                order: 2;
                margin-left: auto;
                
                .m-topbar {
                    &__nav {
                        li {
                            display: none;
                    
                            &:last-child {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

        &.navbar-fixed-top,
        &.navbar-static-top {
            z-index: 1000;
        }

        .page-logo {
            position: relative;
            max-width: 310px;
            min-width: 220px;
            height: 60px;

            a {
                max-width: 200px;
                overflow: hidden;
                display: table;
                position: absolute;
                margin: auto;
                top: 0px;
                bottom: 0px;
            }

            &:after {
                right: 0px;
            }
        }

        span.username {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            direction: rtl;
            text-align: left;
            display: none !important;
        }

        li.username-header {
            color: #FFF;
            text-align: center;
            height: 35px;
            padding-top: 10px;
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            direction: rtl;
        }

        member-area-navigation {
            flex-grow: 2;
            flex-basis: unset;
            order: 2;
            width: calc(~"100% - 436px");
        }
    
        app-area-navigation {
            @media all and (max-width: 529px) {
                order: 3;
                margin-left: 12px;
            }
        }
    }
}

/deep/ body.lend-space {    
    &.lending-page {
        .top-headline { 
            display: block!important;
        }

        /deep/ app-area-navigation {
            justify-content: space-between;
            ul a {
                padding: 12px 10px!important;
            }
        }
    }
    header.pfm-app {
        background: #f0d500;
        
        .page-header {
            padding: 0 10px;
            justify-content: unset;
            
            .page-logo {
                min-width: 210px !important;
            }

            .page-top {
                i[aria-label="Notifications"] {
                    display: inline-block;
                    background: url('../../../assets/common/images/lend-space-dark/notification.svg') no-repeat;
                    width: 17px;
                    height: 20px;
                    &:before {  
                        display: none;
                    }
                }
                a .header-profile-picture {
                    border: 2px solid #000;
                }
            }
    
            #header-app-menu {
                width: 100%;

                @media all and (max-width: 529px) {
                    margin-left: auto !important;
                }
    
                .app-area-navigation {
                    
                    > li {
                        padding: 0;
                                               
                        &:first-child {
                            > a {
                                padding-left: 0;
                            }
                        }
                    }
                }                
            }
        }
    }
}