/deep/ .xeroLoginDialog.dx-overlay-wrapper {
    background-color: rgba(0, 0, 0, 0.7);

    .dx-popup-content {
        padding-top: 40px;
        .field {
            padding-bottom: 30px;

            .field-label {
            }

            .field-value {
                font-size: 12px;
                letter-spacing: 0.2px;
                line-height: 20px;
                margin-left: auto;
            }
        }

        .button-container {
            width: 100%;
            position: absolute;
            position: absolute;
            bottom: 27px;
            right: 0;
            padding: 0 20px;
            left: 0;

            .link {
                float: right;
                margin: 7px;
            }

            .add-button{
                float: left;
            }
        }
    }
}
