<dx-popup class="popup xeroLoginDialog"
          [width]="880"
          [height]="655"
          [showTitle]="true"
          title="Xero"
          [dragEnabled]="false"
          [closeOnOutsideClick]="false"
          [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="field">
            <div class="field-label">{{l('ConsumerKey')}}</div>
            <div class="field-value">
                <dx-text-box [(value)]="consumerKey"></dx-text-box>
            </div>
        </div>
        <div class="field">
            <div class="field-label">{{l('ConsumerSecret')}}</div>
            <div class="field-value">
                <dx-text-box [(value)]="consumerSecret"></dx-text-box>
            </div>
        </div>
        <div class="button-container">
            <dx-button [text]="operationType === 'add' ? l('Add') : l('Update')" (onClick)="operationType === 'add' ? connectToXero($event) : updateSyncAccount()" class="add-button"></dx-button>
            <a href="https://developer.xero.com/documentation/auth-and-limits/private-applications" target="_blank" class="link info">{{l('Info')}}</a>
            <a href="{{getXeroCertificateUrl}}" target="_blank" class="link get-cert">{{l('DownloadCertificate')}}</a>
        </div>
    </div>
</dx-popup>
