:host{
    /deep/ .dx-scrollview-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        width: 520px;
        height: 100%;
        display: inline-block;
        padding: 30px 15px;
        margin: 0 20px;

        &:nth-child(3), &:nth-child(4) {
            width: 90%;
            max-width: 1080px;
            .item > div {
                width: 100%;
            }
        }

        .item {
            display: flex;
            margin: 0 0 1em;
            width: 100%;
        
            &.head {
                margin: 0;
            }

            h3 {
                width: 100%;
                position: relative;
                font-family: Montserrat;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: 0.56px;
                color: #202b35;
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    left: -28px;
                }
                &.blog:before {
                    content: url(../../../../assets/common/icons/blog.svg);
                }
                &.profile:before {
                    content: url(../../../../assets/common/icons/profile.svg);
                }
                &.social:before {
                    content: url(../../../../assets/common/icons/social.svg);
                }
            }

            .item-value {
                width: 260px;
                height: 36px;
                display: inline-block;
                &.multiline {
                    height: auto!important;
                }
            }

            &:not(.bool) .item-edit-label, 
            &.string .item-value, &.list .item-value {
                border-bottom: 1px solid rgba(218, 222, 225, 0.7);
            }

            .item-edit-label {                
                display: inline-block;
                min-width: 200px;
                font-size: 13px;
                font-weight: normal;
                line-height: 35px;
                letter-spacing: 0.7px;
                color: #677380;        
            }

            /deep/ inplace-edit {
                .dx-widget {
                    input, textarea {
                        border-bottom: 0px!important;
                    }
                }
            }

            /deep/ .dx-placeholder:before {
                font-style: italic;
                font-size: 12px;
                font-weight: 200;
                font-family: Montserrat;
                color: rgba(0, 0, 0, 0.87);
            }

            /deep/ .dx-widget {
                input {
                    font-weight: 400;
                    border-bottom: 1px solid rgba(218, 222, 225, 0.7);
                    color: rgba(0, 0, 0, 0.87);
                    font-size: 14px;
                }
            }

            /deep/ dx-date-box {
                &.dx-state-focused .dx-placeholder {
                    top: -25px!important;
                }
                input {
                    padding: 8px;
                    padding-bottom: 9px!important;
                }
            }
          
            /deep/ dx-check-box {
                padding: 7px 0;
            }

            /deep/ dx-tag-box {
                input {
                    margin: 0px;
                    padding: 0px;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 1.67;
                    letter-spacing: 0.3px;
                    text-align: left;
                    border-bottom: 0px!important;
                    padding-right: 35px;
                }
                .dx-placeholder {
                    &:before {
                        padding-left: 0px;
                    }
                }
                &.dx-state-focused {
                    .dx-placeholder {
                        top: -25px;
                    }
                }
            }
        }
    }
}