<mat-tab-group>
    <mat-tab label="General">
        <dx-scroll-view showScrollbar="onHover">
            <div class="container" *ngIf="person">
                <div *ngFor="let field of fields" class="item">
                    <div class="item-edit-label">{{startCase(field.name)}}:</div>
                    <div *ngIf="!isEditAllowed || (field.confidential && !accessConfidentialData)" class="item-value">{{person[field.name]}}</div>
                    <ng-container *ngIf="isEditAllowed && (!field.confidential || accessConfidentialData)">
                        <div [ngSwitch]="field.type" class="item-value">
                            <inplace-edit *ngSwitchCase="'string'" [data]="getInputData(field.name)" (valueChanged)="updateValue($event, field.name)"></inplace-edit>
                            <inplace-select *ngSwitchCase="'select'" [data]="getSelectData(field.name)" (valueChanged)="updateValue($event, field.name)" width="260px"></inplace-select>
                            <dx-date-box *ngSwitchCase="'date'"
                                width="260px"
                                [placeholder]="ls.l('Date')"
                                [value]="person[field.name]"
                                (onKeyDown)="allowDigitsOnly($event, ['/'])"
                                (onValueChanged)="updateValue($event.value, field.name)">
                            </dx-date-box>
                            <dx-check-box *ngSwitchCase="'bool'"
                                [value]="person[field.name]"
                                (onValueChanged)="updateValue($event.value, field.name)">
                            </dx-check-box>
                            <dx-tag-box *ngSwitchCase="'list'"
                                width="260px"
                                [multiline]="false"
                                [placeholder]="ls.l('EditValuePlaceholder')"
                                [items]="person[field.name]"
                                [acceptCustomValue]="true"
                                [value]="person[field.name]"
                                (onValueChanged)="updateValue($event.value, field.name)">
                            </dx-tag-box>
                        </div>
                    </ng-container>
                </div>
            </div>
        </dx-scroll-view>
    </mat-tab>
</mat-tab-group>