<div class="wrapper">
    <div class="content-wrap" *ngIf="isInstanceInfoLoaded">
        <ng-container *ngIf="_cfoService.initialized;else notInitialized">
            <aside class="sidebar">
                <sticky [sticky-offset-top]="20">
                    <ul class="left-navigation">
                        <li class="left-navigation-item" *ngFor="let item of menuItems; let i = index;" (click)="openQuovoSection(item.sectionName)">
                            <a pageScroll class="left-navigation-link">
                                <span class="menu-icon"></span> {{ l(item.name) }}
                            </a>
                        </li>
                    </ul>
                </sticky>
            </aside>
            <div class="p-content">
                <div id="quovo-accounts-module" class="quovo-accounts-module"></div>
            </div>
        </ng-container>
        <ng-template #notInitialized>
            <div class="not-initialized-content">
                <p class="welcome-text">{{ l('Accounts_Welcome') }}</p>
                <p class="body-text">{{ l('Accounts_BodyText') }}</p>
                <button (click)="onStart()" class="btn btn-layout" [disabled]="isStartDisabled">{{ l('GetStarted') }}</button>
            </div>
        </ng-template>
    </div>
</div>
