<div class="content-wrap" *ngIf="isInstanceInfoLoaded">
    <ng-container *ngIf="_cfoService.initialized;else notInitialized">
        <synch-progress class="synch-progress" (onComplete)="onSyncComplete()"></synch-progress>
        <bank-accounts-component></bank-accounts-component>
    </ng-container>
    <ng-template #notInitialized>
        <div class="not-initialized-content">
            <p class="welcome-text">{{ l('Accounts_Welcome') }}</p>
            <p class="body-text">{{ l('Accounts_BodyText') }}</p>
            <button (click)="onStart()" class="btn btn-layout" [disabled]="isStartDisabled">{{ l('GetStarted') }}</button>
        </div>
    </ng-template>
</div>