:host {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .data-item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 22px;
    margin-right: 20px;
    line-height: 24px;
    .label {
      font-size: 13px;
      letter-spacing: 0.26px;
      color: var(--muted-color);
    }
    .value {
      font-size: 19px;
      font-weight: 600;
      color: var(--text-color);
    }
    &:first-child {
      margin-right: auto;
      .value {
        font-size: 24px;
      }
    }
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: solid 2px var(--primary-color);
      background-color: var(--card-bg);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
    }
    &:nth-child(2):before {
      border-color: var(--warning-color);
      background-color: var(--warning-color-bg, #fff1e1);
    }
    &:nth-child(3):before {
      border-color: var(--danger-color);
      background-color: var(--danger-color-bg, #f8dbd2);
    }
    &:nth-child(4):before {
      border-color: var(--success-color);
      background-color: var(--success-color-bg, #e2efcc);
    }
    &:nth-child(5):before {
      border-color: var(--info-color);
      background-color: var(--info-color-bg, #ddcdee);
    }
    &:last-child {
      margin-right: 0;
    }
    @media (min-width: 1200px) {
      margin-right: 84px;
    }
  }
}
