<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
						<i class="icon-globe"></i>
                        <span>{{l("Clients")}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
			<ng-template ngFor let-tab [ngForOf]="filterTabs" let-i="index">
				<div class="tab-filter {{'tab-' + tab}}" [ngClass]="{'tab-selected': tabSelected == i}" (click)="tabSelected = i;">{{l("TabFilter" + capitalize(tab))}}</div>
			</ng-template>
            <button ng-if="vm.permissions.create" class="btn btn-layout" (click)="createClient()"><i class="fa fa-plus"></i>{{l("CreateNewClient")}}</button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div>
                <div id="ClientsTable">

					<dx-data-grid id="gridContainer" [dataSource]="dataSource">
					    <dxi-column dataField="Name" [width]="250"></dxi-column>
					    <dxi-column dataField="Status"></dxi-column>
					    <dxi-column dataField="Amount" caption="{{l('Amount')}}" dataType="number" format="currency"></dxi-column>
					    <dxi-column dataField="Percent" caption="{{l('Percent')}}" dataType="number"></dxi-column>
						<dxi-column dataField="Creation" caption="{{l('Creation')}}" dataType="datetime"></dxi-column>
					</dx-data-grid>

				</div>
            </div>
        </div>
    </div>
</div>