/deep/ .dx-texteditor-buttons-container {
    display: none;
}

/deep/ .dx-field-value {
    width: 100% !important; 
    float: left;
}

/deep/.dx-texteditor{
    border: 0;
}

/deep/.dx-texteditor-input,
/deep/ input.form-control {
    font-family: "lato", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #171c1d;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
    padding: 12px 8px;
}

/deep/.dx-placeholder,
/deep/.dx-radiobutton .dx-item-content {
    font-family: "lato", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #8a969b;
    transition: .2s;
}

/deep/ .dx-placeholder.dx-state-invisible,
/deep/ .dx-datebox.dx-texteditor-empty.dx-state-focused .dx-placeholder {
    display: block !important;
    font-size: 11px;
    color: #8a9da1;
    top: -18px;
}

/deep/ .dx-datebox {
    min-height: 45px;
}

/deep/ .dx-button-text {
    line-height: 0 !important;
}

.client-edit-dialog-profile-image {
    margin-bottom: 10px;
}
