<h2>{{ ls.l('LandingPage') }}</h2>
<ng-container *ngIf="settings">
    <dx-scroll-view [height]="450" showScrollbar="onHover">
        <div class="form-group">
            <label>{{ls.l('LandingPageContact')}}</label>
            <div class="landing-contact">
                <img [src]="profileService.getContactPhotoUrl(settings.contactPhotoId, true)" onerror="this.src='assets/common/images/no-photo.png';" alt="Person Photo">
                <span *ngIf="settings.contactId else noContact">{{settings.contactFullName}}</span>
                <ng-template #noContact>
                    <span class="empty">{{(ls.l('Set') + ' ' + ls.l('LandingPageContact'))}}</span>
                </ng-template>
                <i class="fa fa-pencil" (click)="toggleContactLists()"></i>
                <i *ngIf="settings.contactId" class="remove fa fa-times" (click)="removeContact()"></i>
            </div>
        </div>
        <div class="form-group">
            <label>{{ls.l('SenjaPrivateAPIKey')}}</label>
            <dx-text-box [placeholder]="ls.l('EditValuePlaceholder')"
                         [(value)]="settings.senjaPrivateAPIKey"
                         [maxLength]="512">
            </dx-text-box>
        </div>
        <div class="form-group">
            <label>{{ls.l('SenjaReviewsWidgetID')}}</label>
            <dx-text-box [placeholder]="ls.l('EditValuePlaceholder')"
                         [(value)]="settings.senjaReviewsWidgetID"
                         [maxLength]="512">
            </dx-text-box>
        </div>
        <div class="form-group">
            <label>{{ls.l('SenjaAverageScoreID')}}</label>
            <dx-text-box [placeholder]="ls.l('EditValuePlaceholder')"
                         [(value)]="settings.senjaAverageScoreID"
                         [maxLength]="512">
            </dx-text-box>
        </div>
        <div class="form-group">
            <label>{{ls.l('YoutubeWidgetLink')}}</label>
            <dx-text-box [placeholder]="ls.l('EditValuePlaceholder')"
                         [(value)]="settings.youtubeWidgetLink">
            </dx-text-box>
        </div>
        <uploader #coverLogoUploader
                  [title]="ls.l('CoverLogo')"
                  [documentId]="settings.coverLogoFileObjectId"
                  [documentLink]="settings.coverLogoFileObjectId ? remoteServiceBaseUrl + '/api/ContactLandingPage/GetCoverPhoto?tenantId=' +  tenantIdString : undefined"
                  [uploadInfoText]="ls.l('CoverLogo_Info')"
                  [uploadButtonText]="ls.l('FileUpload')"
                  [uploadUrl]="remoteServiceBaseUrl + '/api/ContactLandingPage/UploadCoverPhoto'"
                  acceptFileExt=".jpg,.jpeg,.png,.gif"
                  [maxFileSize]="coverLogoMaxSize"
                  (onDocumentClear)="clearCoverLogo()">
        </uploader>
        <div class="form-group">
            <label>
                {{ls.l('About Me')}}
            </label>
            <dx-text-area height="155px"
                          [placeholder]="ls.l('EditValuePlaceholder')"
                          [(value)]="settings.aboutMe"
                          [maxLength]="4096">
            </dx-text-area>
        </div>
        <div class="form-group">
            <label>
                {{ls.l('Disclaimer')}}
            </label>
            <dx-text-area height="155px"
                          [placeholder]="ls.l('EditValuePlaceholder')"
                          [(value)]="settings.disclaimer"
                          [maxLength]="4096">
            </dx-text-area>
        </div>
        <div class="form-group">
            <label>{{ls.l('Products')}}</label>
            <dx-tag-box [dataSource]="products$ | async"
                        displayExpr="name"
                        valueExpr="id"
                        [grouped]="true"
                        [searchEnabled]="true"
                        [showDropDownButton]="true"
                        [(value)]="settings.productIds">
            </dx-tag-box>
        </div>

        <div class="faq-container">
            <h5>{{ls.l('FAQ')}}</h5>
            <dx-validation-group>
                <div *ngFor="let question of settings.faq; let i = index">
                    <div class="form-group">
                        <label>{{ls.l('Question')}}</label>
                        <dx-text-box [placeholder]="ls.l('EditValuePlaceholder')"
                                     [(value)]="question.title">
                            <dx-validator>
                                <dxi-validation-rule type="required"
                                                     [message]="ls.l('ThisFieldIsRequired')"></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                    </div>
                    <div class="form-group">
                        <label>{{ls.l('Answer')}}</label>
                        <dx-text-area height="155px"
                                      [placeholder]="ls.l('EditValuePlaceholder')"
                                      [(value)]="question.text"
                                      [maxLength]="1000">
                            <dx-validator>
                                <dxi-validation-rule type="required"
                                                     [message]="ls.l('ThisFieldIsRequired')"></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-area>
                    </div>
                    <div class="remove-question" (click)="removeQuestion(i)">{{ls.l('Remove')}}</div>
                </div>
            </dx-validation-group>
            <div class="add-question" (click)="addQuestion()">{{ls.l('Add new question +')}}</div>
        </div>

        <app-static-list #contactsList
                         [width]="'330px'"
                         [height]="440"
                         [targetSelector]="'.landing-contact'"
                         [title]="ls.l('Contacts')"
                         [showConfirmation]="false"
                         [highlightSelected]="true"
                         [selectedKeys]="[settings.contactId]"
                         [searchEnabled]="true"
                         [customSearchEnabled]="true"
                         (onItemSelected)="onContactSelected($event)"
                         (onListFiltered)="onListFiltered($event)"
                         [list]="contacts">
        </app-static-list>
    </dx-scroll-view>
</ng-container>
