:host {
    ::ng-deep wording-list .form-group, .form-group {
        display: flex;

        label {
            width: 40%;
            margin-right: 10px;
        }

        dx-text-box,
        dx-text-area,
        dx-tag-box,
        dx-select-box,
        dx-date-box,
        .landing-contact {
            width: 60%;
        }

        ::ng-deep dx-text-box,
        ::ng-deep dx-text-area,
        ::ng-deep dx-tag-box,
        ::ng-deep dx-select-box,
        ::ng-deep dx-date-box {
            .dx-placeholder, input, textarea {
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 0.3px;
                color: #424c56;
            }

            .dx-placeholder {
                font-style: italic;
                color: lightgray;
            }

            &.dx-texteditor-empty.dx-state-focused .dx-placeholder {
                font-size: 11px;
            }
        }

        ::ng-deep dx-tag-box {
            .dx-texteditor-input-container {
                border-bottom: 1px solid #dfdfdf;

                input {
                    border: 0;
                }
            }
        }

        .landing-contact {
            display: flex;
            align-items: center;
            height: 44px;
            border-bottom: 1px solid #dfdfdf;

            img {
                border-radius: 50%;
                height: 35px;
                width: 35px;
                background-color: #fff;
                margin-right: 7px;
            }

            .empty {
                font-style: italic;
                color: #aaa;
            }

            i {
                margin-left: 7px;
                font-size: 18px;
                cursor: pointer;

                &.fa-pencil {
                    color: #00aeef;
                }

                &.fa-times {
                    font-weight: 100;
                    font-size: 20px;
                    color: red;
                }
            }
        }
    }

    ::ng-deep wording-list {
        .wording-container {
            margin-bottom: 21px;
        }
    }

    ::ng-deep uploader {
        .m-form__help {
            display: block;
            min-height: initial !important;
        }
    }
}
