<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
						<i class="icon-globe"></i>
                        <span>{{l("Clients")}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
			<ng-template ngFor let-tab [ngForOf]="filterTabs" let-i="index">
				<div class="tab-filter {{'tab-' + tab}}" [ngClass]="{'tab-selected': tabIndex == i}" (click)="tabIndex = i;">{{l("TabFilter" + capitalize(tab))}}</div>
			</ng-template>
            <button class="btn btn-layout" (click)="showPipeline = !showPipeline">
                <i class="fa fa-refresh" aria-hidden="true"></i>{{showPipeline ? 'Grid' : 'Pipeline'}}
            </button>
            <button ng-if="vm.permissions.create" class="btn btn-layout" (click)="createClient()"><i class="fa fa-plus"></i>{{l("CreateNewCustomer")}}</button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div>
                <div [hidden]="showPipeline">
                    <div id="ClientsTable">
					<dx-data-grid id="gridContainer"
						[dataSource]="dataSource"
						[allowColumnReordering]="true"
						[columnAutoWidth]="true"
						[allowColumnResizing]="true"
						[hoverStateEnabled]="true"

                        (onContentReady)="onContentReady($event)"
						(onToolbarPreparing)="onToolbarPrepare($event)">
                        <dxo-selection
                            selectAllMode="page"
                            showCheckBoxesMode="always"
                            mode="multiple">
                        </dxo-selection>
                        <dxo-editing
                            mode="popup"
                            [allowUpdating]="true">
                        </dxo-editing>
                        <dxo-export [enabled]="true" fileName="Orders" [allowExportSelectedData]="true"></dxo-export>
                        <dxi-column [width]="40" [fixed]="true" [fixedPosition]="'left'"></dxi-column>
                        <dxi-column dataField="Id" caption="{{l('Id')}}"></dxi-column>

                        <dxi-column dataField="FullName" caption="{{l('Contact.FullName')}}"></dxi-column>

                        <dxi-column dataField="State" caption="{{l('Contact.State')}}"></dxi-column>
                        <dxi-column dataField="Email" caption="{{l('Contact.Email')}}"></dxi-column>
                        <dxi-column dataField="Phone" caption="{{l('Contact.Phone')}}"></dxi-column>
                        <dxi-column dataField="Photo" caption="{{l('Contact.Photo')}}"></dxi-column>

                        <dxi-column dataField="Amount" caption="{{l('Amount')}}"></dxi-column>
                        <dxi-column dataField="CurrentNumber" caption="{{l('CurrentNumber')}}"></dxi-column>
                        <dxi-column dataField="TotalNumber" caption="{{l('TotalNumber')}}"></dxi-column>
                        <dxi-column dataField="NoteCount" caption="{{l('NoteCount')}}"></dxi-column>
                        <dxi-column dataField="DocumentCount" caption="{{l('DocumentCount')}}"></dxi-column>

                        <dxi-column dataField="Stage" caption="{{l('Stage')}}"></dxi-column>
                        <dxi-column dataField="CreationTime" caption="{{l('CreationTime')}}" dataType="date" format="shortDateShortTime"></dxi-column>

						<dxo-sorting mode="multiple"></dxo-sorting>
						<dxo-paging [pageSize]="5"></dxo-paging>
						<dxo-pager
					        [showPageSizeSelector]="true"
					        [allowedPageSizes]="[5, 10, 20]"
					        [showInfo]="true">
					    </dxo-pager>
						<dxo-group-panel [visible]="true"></dxo-group-panel>
					</dx-data-grid>
				</div>
                </div>
                <div [hidden]="!showPipeline" class="pipepline-wrapper">
                    <app-pipeline [dataSource]="gridDataSource">
                        Loading...
                    </app-pipeline>
                </div>
            </div>
        </div>
    </div>
</div>
