@import "../../_member-area.settings.less";
.score-preview {
    padding: 15px 15px 0;
}
.progress-bar-wrap {
    width: 90%;
    max-width: 180px;
    margin: 0 auto;
}
.score {
    width: 90%;
    max-width: 180px;
    margin: 0 auto;
    text-align: center;
}
.min-score,
.max-score {
    // top: -10px;
    font-size: 12px;
    font-weight: 300;
    color: #8a969b;
    position: relative;
}
.min-score {
    float: left;
    margin-left: -5px;
}
.max-score {
    float: right;
    margin-right: -5px;
}
.current-score {
    font-family: @robotoslab;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    color: rgb(23, 28, 29);
    margin-top: -44px;
    display: inline-block;
    i {
        color: #eaeaea;
        font-size: 60px;
    }
}
.text-score {
    font-family: @lato;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(93, 102, 106);
    display: block;
    text-align: center;
    margin-bottom: 15px;
}
.text-label {
    font-family: @lato;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #5d666a;
}
.separator {
    color: #FFF2F0;
    padding: 30px 0;

    i {
        font-size: 40px;
    }
}
.simulation-description {
    max-width: 435px;
    font-family: @lato;
    font-size: 15px;
    line-height: 1.47;
    color: #8a969b;
}
