.custom-field, .custom-item {
    position: relative;
    
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        left: 8px;
    }
    
    dx-text-box {
        .dx-texteditor-input {
            padding-left: 35px;
        }
    }
    
    .language-name {
        padding-left: 35px;
    }
}


