<div [@routerTransition]>
    <app-headline [names]="[ l('Languages') ]"
                  icon="flag"
                  [buttons]="headlineButtons"
                  [showToggleToolbarButton]="true"
                  [showReloadButton]="true"
                  [showToggleCompactViewButton]="true"
                  [showToggleFullScreenButton]="true"
                  (onToggleToolbar)="repaintDataGrid()"
                  (onReload)="refreshDataGrid()"
                  (onToggleCompactView)="toggleCompactView()"
                  (onTooggleFullScreen)="repaintDataGrid(100)">
    </app-headline>
    <dx-tooltip width="240px"
                [target]="'.dx-state-hover .dx-link.dx-link-edit'"
                [visible]="actionRecord"
                (onHidden)="actionRecord = null">
        <div *dxTemplate="let data of 'content'">
            <div class="lists-tooltip-container">
                <dx-list [dataSource]="actionMenuItems"
                         (onItemClick)="onMenuItemClick($event)">
                </dx-list>
            </div>
        </div>
    </dx-tooltip>

    <div id="admin-languages" class="portlet light no-padding margin-bottom-0">
        <dx-data-grid id="gridContainer"
                      [dataSource]="dataSource"
                      [allowColumnReordering]="true"
                      [columnAutoWidth]="true"
                      [allowColumnResizing]="true"
                      [hoverStateEnabled]="true"
                      [pager]="defaultGridPagerConfig"
                      (onEditingStart)="showActionsMenu($event)"
                      (onRowPrepared)="onRowPrepared($event)"
                      (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
            <dxo-editing mode="popup" [allowUpdating]="true"></dxo-editing>
            <dxi-column dataField="isEnabled" [caption]="l('IsEnabled')" cellTemplate="isEnabledTemplate"></dxi-column>
            <dxi-column dataField="creationTime" dataType="date" [caption]="l('CreationTime')" cssClass="clipboard-holder"></dxi-column>
            <dxi-column dataField="name" [sortingMethod]="sortLanguages" [sortIndex]="0" sortOrder="asc" [caption]="l('Code')" cssClass="clipboard-holder"></dxi-column>
            <dxi-column dataField="displayName" [caption]="l('Name')" cssClass="clipboard-holder"></dxi-column>
            <div *dxTemplate="let cellData of 'isEnabledTemplate'">
                <span class="status" [ngClass]="cellData ? 'enabled' : 'disabled'">{{ cellData ? 'Yes' : 'No' }}</span>
            </div>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-paging [pageSize]="20"></dxo-paging>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
        </dx-data-grid>
    </div>
</div>
