:host {
    position: relative;
    height: 100%;

    ::ng-deep dx-data-grid {
        .dx-datagrid-rowsview .dx-row {
            cursor: pointer;
        }
        .dx-datagrid-headers {
            .dx-datagrid-table td.stars:before {
                right: 0px!important;                
            }
        }

        .unsubscribed-status {
            display: inline-block;
            text-transform: uppercase;
            text-align: center;
            width: 20px;
            position: relative;
            padding: 4px 0 4px 10px;
            &::before {
                width: 8px;
                height: 8px;
                content: '';
                display: block;
                position: absolute;
                left: 8px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                background: #ef8f00;
            }
        }
    }
}
