<div [@routerTransition]>
    <div class="row">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
						<i class="icon-globe"></i>
                        <span>{{l("Leads")}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-layout" (click)="createClient()"><i class="fa fa-plus"></i>{{l("CreateNewCustomer")}}</button>
        </div>
    </div>
    <div class="portlet light no-padding margin-bottom-0">
        <div class="portlet-body">
            <div>
                <div class="dx-datagrid-header-panel">
                    <div class="dx-toolbar">
                        <dx-toolbar [items]="items"></dx-toolbar>
                    </div>
                </div>
                <div [hidden]="showPipeline">
                    <div id="ClientsTable">
                        <dx-data-grid id="gridContainer"
                                      [dataSource]="dataSource"
                                      [allowColumnReordering]="true"
                                      [columnAutoWidth]="true"
                                      [allowColumnResizing]="true"
                                      [hoverStateEnabled]="true"
                                      (onContentReady)="onContentReady($event)">
                            <dxo-selection
                                selectAllMode="page"
                                showCheckBoxesMode="always"
                                mode="multiple">
                            </dxo-selection>
                            <dxo-editing
                                mode="popup"
                                [allowUpdating]="true">
                            </dxo-editing>
                            <dxi-column [width]="40" [fixed]="true" [fixedPosition]="'left'"></dxi-column>
                            <dxi-column dataField="Id" caption="{{l('Id')}}"></dxi-column>
                            <dxi-column dataField="Photo" caption=" " cellTemplate="photoTemplate" [width]="50"></dxi-column>
                            <div *dxTemplate="let data of 'photoTemplate'">
                                <img [src]="data.value ? 'data:image/jpeg;base64,'+data.value : 'assets/common/images/no-photo.png'"
                                     alt="Person Photo"
                                     width="38"
                                     class="img-circle"/>
                            </div>

                            <dxi-column dataField="FullName" caption="{{l('Contact.FullName')}}"></dxi-column>
                            <dxi-column dataField="State" caption="{{l('Contact.State')}}"></dxi-column>
                            <dxi-column dataField="Email" caption="{{l('Contact.Email')}}"></dxi-column>
                            <dxi-column dataField="Phone" caption="{{l('Contact.Phone')}}"></dxi-column>

                            <dxi-column dataField="Amount" caption="{{l('Amount')}}"></dxi-column>
                            <dxi-column dataField="CurrentNumber" caption="{{l('CurrentNumber')}}"></dxi-column>
                            <dxi-column dataField="TotalNumber" caption="{{l('TotalNumber')}}"></dxi-column>
                            <dxi-column dataField="NoteCount" caption="{{l('NoteCount')}}"></dxi-column>
                            <dxi-column dataField="DocumentCount" caption="{{l('DocumentCount')}}"></dxi-column>

                            <dxi-column dataField="Stage" caption="{{l('Stage')}}"></dxi-column>
                            <dxi-column dataField="CreationTime" caption="{{l('CreationTime')}}" dataType="date" format="shortDateShortTime"></dxi-column>

                            <dxo-sorting mode="multiple"></dxo-sorting>
                            <dxo-paging [pageSize]="5"></dxo-paging>
                            <dxo-pager
                                [showPageSizeSelector]="true"
                                [allowedPageSizes]="[5, 10, 20]"
                                [showInfo]="true">
                            </dxo-pager>
                        </dx-data-grid>
                    </div>
                </div>
                <div [hidden]="!showPipeline" class="pipepline-wrapper">
                    <app-pipeline [dataSource]="gridDataSource" [pipelinePurposeId]="pipelinePurposeId">
                        Loading...
                    </app-pipeline>
                </div>
            </div>
        </div>
    </div>
</div>
