<div>
    <app-headline [buttons]="headlineButtons$ | async"
                  [showCompactView]="showCompactView$ | async"
                  [showToggleCompactViewButton]="showPipeline || showDataGrid"
                  [showReloadButton]="ui.showReload"
                  [showToggleToolbarButton]="true"
                  [showToggleFullScreenButton]="true"
                  [showToggleColumnSelectorButton]="showDataGrid || showPivotGrid"
                  [showStateResetButton]="showDataGrid"
                  (onReload)="refresh()"
                  (onToggleToolbar)="toggleToolbar()"
                  (onToggleCompactView)="toggleCompactView()"
                  (onToggleFullScreen)="repaintDataGrid(100)"
                  (onStateReset)="dataGrid.instance.state(null)"
                  (onToggleColumnSelector)="toggleColumnChooser()">
        <types-dropdown [items]="pipelineTypes$ | async"
                        [showTotalCount]="true"
                        [totalCount]="totalCount"
                        [totalErrorMsg]="totalErrorMsg"
                        [allowEdit]="pipelineEditIsGranted"
                        [value]="selectedPipelineId$ | async"
                        (onValueChanged)="onSelectedPipelineChanged($event)"
                        (onEdit)="editPipeline($event)">
        </types-dropdown>
        <import-progress-bar></import-progress-bar>
    </app-headline>
    <app-toolbar [config]="toolbarConfig" [hidden]="appService.toolbarIsHidden$ | async"></app-toolbar>
    <div class="main-wrapper">
        <action-menu [items]="actionMenuGroups"
                     [visible]="actionEvent"
                     [grouped]="true"
                     class="grouped-action-menu"
                     width="300px"
                     (onItemClick)="onMenuItemClick($event)">
        </action-menu>
        <source-contact-list #sourceList
            targetSelector=".dx-button.referred-by"
            [showOrgUnits]="true"
            [filterModel]="filterModelSource"
            [selectedLeads]="selectedLeads"
            [filterModelOrgUnit]="filterModelOrgUnit"
            [selectedKeys]="[]"
            [relatedItemsKeys]="hasBulkPermission ? selectedClientKeys : []"
            [bulkUpdatePermissionKey]="permissions.CRMBulkUpdates"
            (onOwnerFilterApply)="onOwnerFilterApply($event)"
            (onApply)="onSourceApply($event)">
        </source-contact-list>
        <app-static-list #stageList
                width="210px"
                [title]="l('Stages')"
                [selectionMode]="'single'"
                [relatedItemsKeys]="selectedClientKeys"
                [filterModel]="filterModelStages"
                [bulkUpdatePermissionKey]="permissions.CRMBulkUpdates"
                [updateConfirmationTitle]="l('LeadStatusUpdateConfirmationTitle')"
                [updateConfirmationMessage]="l('LeadsUpdateStatusWarningMessage')"
                targetSelector="[aria-label='{{l('Toolbar_Stage')}}']"
                [funnelStyling]="true"
                [list]="stages"
                (onItemSelected)="updateLeadsStage($event)">
        </app-static-list>
        <tags-list [selectedKeys]="selectedClientKeys"
                   [bulkUpdateMode]="true"
                   [filterModel]="filterModelTags"
                   [managePermission]="manageCGPermission">
        </tags-list>
        <lists-list [selectedKeys]="selectedClientKeys"
                    [bulkUpdateMode]="true"
                    [filterModel]="filterModelLists"
                    [managePermission]="manageCGPermission">
        </lists-list>
        <user-assignment-list [selectedKeys]="selectedClientKeys"
            [bulkUpdateMode]="true"
            [filterModel]="filterModelAssignment"
            [proxyService]="contactProxy"
            [permissionKey]="permissions.CRMCustomersManageAssignments"
            [assignedUsersSelector]="assignedUsersSelector$ | async"
            [postponedLoad]="loadAssignUsersList.asObservable()">
        </user-assignment-list>
        <rating [selectedKeys]="selectedClientKeys"
                [bulkUpdateMode]="true"
                [filterModel]="filterModelRating"
                [managePermission]="manageCGPermission">
        </rating>
        <crm-stars-list [selectedKeys]="selectedClientKeys"
                        [bulkUpdateMode]="true"
                        [filterModel]="filterModelStar"
                        [hideButtons]="isBankCodeLayoutType">
        </crm-stars-list>
        <div [hidden]="hideDataGrid$ | async" class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div>
                    <div id="LeadsTable">
                        <ghost-list *ngIf="!isDataLoaded"></ghost-list>
                        <dx-data-grid class="limitedPagerTotal main-component-view"
                            accessKey="narrowHeaderPanel"
                            noDataText=""
                            [renderAsync]="true"
                            [allowColumnReordering]="true"
                            [columnAutoWidth]="true"
                            [rowDragging]="{
                                cursorOffset: {x: 30},
                                allowDropInsideItem: isMergeAllowed,
                                showDragIcons: false,
                                onDragEnd: onDragEnd
                            }"
                            [remoteOperations]="{
                                    filtering: false,
                                    grouping: false,
                                    groupPaging: true,
                                    paging: true,
                                    sorting: true,
                                    summary: true
                                }"
                            [allowColumnResizing]="true"
                            [loadPanel]="{ enabled: false }"
                            [hoverStateEnabled]="true"
                            [columnChooser]="{
                                height: rowsViewHeight
                            }"
                            (onOptionChanged)="onGridOptionChanged($event)"
                            (onContentReady)="onContentReady($event)"
                            (onCellClick)="onCellClick($event)"
                            (onEditingStart)="toggleActionsMenu($event)"
                            (onSelectionChanged)="onSelectionChanged($event)"
                            (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
                            <dxo-pager [visible]="true"></dxo-pager>
                            <dxo-selection selectAllMode="page"
                                showCheckBoxesMode="always"
                                mode="multiple">
                            </dxo-selection>
                            <dxo-editing mode="popup"
                                         [texts]="{ editRow: '' }"
                                         [popup]="{ onShowing: onShowingPopup, height: '0', width: '0' }"
                                         [allowUpdating]="true">
                            </dxo-editing>
                            <dxo-scrolling mode="infinite"></dxo-scrolling>
                            <dxi-column cssClass="stars" [width]="40" [showInColumnChooser]="false" [allowExporting]="false"></dxi-column>
                            <dxi-column [dataField]="leadFields.Id"
                                        [caption]="l('Id')"
                                        cssClass="tabular clipboard-holder"
                                        [visible]="false"
                                        sortOrder="desc">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.CustomerId"
                                        [caption]="l('ContactId')"
                                        cssClass="clipboard-holder"
                                        [visible]="false">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.UserId"
                                        [caption]="l('UserId')"
                                        cssClass="clipboard-holder"
                                        [visible]="false">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.SourceOrganizationUnitId"
                                        [renderAsync]="true"
                                        [calculateDisplayValue]="getOrganizationUnitName"
                                        [caption]="l('Abp.Organizations.OrganizationUnit')"
                                        cssClass="tabular clipboard-holder"
                                        [visible]="false">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.PhotoPublicId"
                                        caption=""
                                        cellTemplate="photoTemplate"
                                        [width]="50"
                                        [showInColumnChooser]="false"
                                        [allowExporting]="false"
                                        [allowGrouping]="false"
                                        [allowSorting]="false">
                            </dxi-column>
                            <div *dxTemplate="let data of 'photoTemplate'">
                                <div [ngStyle]="{'background-image': 'url(' + profileService.getContactPhotoUrl(data.data.PhotoPublicId) + ')'}" class="img-circle"></div>
                            </div>
                            <dxi-column [dataField]="leadFields.Name"
                                        [caption]="l('Customer.Name')"
                                        cssClass="clipboard-holder">

                            </dxi-column>
                            <dxi-column [dataField]="leadFields.CompanyName"
                                        [caption]="l('Customer.CompanyName')"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.PropertyName"
                                        [caption]="l('PropertyName')"
                                        cssClass="clipboard-holder"
                                        [visible]="isPropertyPipeline$ | async">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.Email"
                                        [caption]="l('Contact.Email')"
                                        cssClass="clipboard-holder">

                            </dxi-column>
                            <dxi-column [dataField]="leadFields.Phone"
                                        [caption]="l('Contact.Phone')"
                                        cellTemplate="phoneCell"
                                        cssClass="tabular">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.City"
                                        [caption]="l('Contact.City')"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.State"
                                        [caption]="l('State')"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.Stage"
                                        [caption]="l('Stage')"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.AffiliateContactName"
                                        [caption]="l('AffiliateContactName')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.AffiliateContactAffiliateCode"
                                        [caption]="l('AffiliateContactAffiliateCode')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <ng-container *ngIf="tenantHasBankCodeFeature">
                                <dxi-column dataField="BankCode"
                                            cellTemplate="bankCodeCell"
                                            [renderAsync]="true"
                                            [caption]="l('BankCode')"
                                            [visible]="tenantHasBankCodeFeature"
                                            [showInColumnChooser]="tenantHasBankCodeFeature">
                                </dxi-column>
                            </ng-container>
                            <dxi-column [dataField]="leadFields.LeadDate"
                                        [caption]="l('Created')"
                                        cellTemplate="dateCell"
                                        cssClass="tabular">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.SourceAffiliateCode"
                                        [caption]="l('SourceAffiliateCode')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.SourceCampaignCode"
                                        [caption]="l('CampaignCode')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.SourceChannelCode"
                                        [caption]="l('ChannelCode')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.SourceEntryUrl"
                                        [caption]="l('EntryUrl')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.LastModificationTime"
                                        [caption]="l('ModificationDate')"
                                        [visible]="false"
                                        cellTemplate="dateCell"
                                        cssClass="tabular">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.SourceCode"
                                        [caption]="l('SourceCode')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.StreetAddress"
                                        [caption]="l('Contact.StreetAddress')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.ZipCode"
                                        [caption]="l('ZipCode')"
                                        [visible]="false"
                                        cssClass="tabular clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.Website"
                                        [caption]="l('Website')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.PhoneExtension"
                                        [caption]="l('Contact.PhoneExtension')"
                                        [visible]="false"
                                        cssClass="tabular clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.Title"
                                        [caption]="l('Title')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.ContactXref"
                                        [caption]="l('ContactXref')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.ContactAffiliateCode"
                                        [caption]="l('ContactAffiliateCode')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.SourceContactName"
                                        [caption]="l('SourceContactName')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <dxi-column [dataField]="leadFields.AssignedUserName"
                                        [caption]="l('Contact.AssignedUserName')"
                                        [visible]="false"
                                        cssClass="clipboard-holder">
                            </dxi-column>
                            <div *dxTemplate="let cellData of 'phoneCell'" class="clipboard-holder">
                                {{cellData.value | phone}}
                            </div>
                            <div *dxTemplate="let cellData of 'dateCell'" class="clipboard-holder">
                                {{cellData.value | datetime: formatting.dateTimeMoment}}
                            </div>
                            <div *dxTemplate="let cellData of 'bankCodeCell'">
                                <bank-code-letters [bankCode]="cellData.value"
                                                   [showDescriptionsOnClick]="true"
                                                   [key]="cellData.rowIndex"
                                                   [showReportLink]="true">
                                </bank-code-letters>
                            </div>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>
                            <dxo-summary>
                                <dxi-group-item [column]="leadFields.Id" summaryType="count"
                                    [displayFormat]="'{0} ' + l('Records').toLocaleLowerCase()"> 
                                </dxi-group-item>
                            </dxo-summary>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="hidePipeline$ | async" class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div class="funnel-wrapper main-component-view">
                    <app-pipeline
                            totalsURI="LeadCount"
                            dragulaName="leadStages"
                            [pipelineId]="selectedPipelineId$ | async"
                            [source]="pipelineDataSource"
                            [selectFields]="pipelineSelectFields"
                            [pipelinePurposeId]="pipelinePurposeId"
                            [filterModelStages]="filterModelStages"
                            [(selectedEntities)]="selectedLeads"
                            dateField="LeadDate"
                            [actionMenuGroups]="actionMenuGroups"
                            [contactGroupId]="selectedContactGroup$ | async"
                            [moveDisabled]="manageDisabled"
                            (onEntityStageChanged)="onLeadStageChanged($event)"
                            (onStagesLoaded)="onStagesLoaded($event)"
                            (onCardClick)="onCardClick($event)"
                            (onTotalChange)="onTotalChange($event)">
                        Loading...
                    </app-pipeline>
                </div>
            </div>
        </div>
        <div [hidden]="hidePivotGrid$ | async">
            <slice-pivot-grid [storageKey]="sliceStorageKey"
                              [height]="contentHeight$ | async"
                              [isLoading]="pivotGridDataIsLoading">
            </slice-pivot-grid>
        </div>
        <div [hidden]="hideChart$ | async">
            <slice-chart [width]="contentWidth$ | async"
                         [height]="contentHeight$ | async"
                         [infoItems]="chartInfoItems"
                         [itemsName]="selectedPipelineName$ | async"
                         [title]="userGroupText + ' number'"
                         argumentField="creationDate"
                         valueField="count">
            </slice-chart>
        </div>
        <div [hidden]="hideMap$ | async">
            <slice-info [items]="mapInfoItems$ | async"></slice-info>
            <slice-map [width]="contentWidth$ | async"
                       [height]="mapHeight$ | async"
                       [contactGroupText]="userGroupText"
                       [dataIsLoading]="mapDataIsLoading"
                       [data]="mapData$ | async"
                       (onMapItemClick)="mapItemClick($event)">
            </slice-map>
        </div>
    </div>
</div>

<app-no-data
    [hidden]="!isDataLoaded || totalRowCount || showPivotGrid"
    [showLink]="false">
</app-no-data>