<div>
    <div class="content">
        <div class="cashflow-setup portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div>
                    <div class="video-wrapper">
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_kqjpmot28u videoFoam=true" style="height:100%;width:100%"></div>
                            </div>
                        </div>
                    </div>
                    <p class="welcome-cfo">{{ l('Setup_Welcome') }}</p>
                    <p class="text-cfo">{{ l('Setup_BodyText') }}</p>
                    <button (click)="onStart()" class="btn btn-layout" [disabled]="isDisabled">{{ l('Setup_GetStarted') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
