<div class="wrapper">
    <a [href]="originUrl" class="logo">
        <img *ngIf="appSession.tenant && appSession.tenant.logoId"
             [src]="remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?logoId=' + appSession.tenant.logoId"
             alt="logo" width="auto" height="80"/>
    </a>

    <main class="main-content">
        <div class="account-forms h-100">
            <div class="row h-100">
                <div class="col-lg-6 col-md-12 col-xs-12 form-wrapper">
                    <router-outlet></router-outlet>
                    <div class="copyright">
                        <span class="">Powered By</span><a target="_blank" href="https://www.sperse.com"><i class="sperse-logo"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block text-center right-side">
                    <img src="./assets/common/images/hoa/login-bg@2x.jpg"
                         srcset="./assets/common/images/hoa/login-bg@3x.jpg 3x"
                         alt="Login">
                </div>
            </div>
        </div>
    </main>
</div>
