/deep/ .tabpanel-item {
  height: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 25px;
  padding-top: 55px;
}
/deep/ .mobile .tabpanel-item {
  padding-top: 10px;
}
/deep/ .tabpanel-item > div {
  float: left;
  padding: 0 85px 10px 10px
}
/deep/ .tabpanel-item p {
  font-size: 16px;
}
/deep/ .item-box {
  font-size: 16px;
  margin: 15px 0 45px 10px;
}
/deep/ .options {
  padding-left: 10px;
}
/deep/ .options .options-header {
  font-size: 1.2em;
  padding-bottom: 5px;
}
/deep/ .options .dx-checkbox {
  margin-bottom: 5px;
}
/deep/ .dx-datagrid-table-fixed .dx-row.dx-group-row td,
/deep/ .dx-datagrid-rowsview .dx-row.dx-group-row {
    background-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
/deep/ .dx-command-expand.dx-datagrid-expand {
    display: none;
}


.col-title {
    border-bottom: 2px solid rgb(223, 223, 223);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #8a969b;
    padding-top: 19px;
    padding-bottom: 19px;
}
.bureau {
  img {
    margin: 20px 0;
  }
}
.table-striped > tbody > tr {
  background: #fff;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background: rgba(250, 250, 250, 0.8);
}
