:host {
    display: block;
    background-color: var(--background-color);
    min-height: 100%;

    .container {
        max-width: 1200px;
        margin: 5px auto;
        padding: 1rem;
        background-color: var(--background-color);

        .tracking-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1.0rem;
            background-color: var(--background-color);
        }

        ::ng-deep dx-scroll-view {
            background-color: var(--background-color);

            .dx-scrollable-scrollbar.dx-scrollbar-vertical.dx-scrollbar-hoverable {
                z-index: 2;

                .dx-scrollable-scroll {
                    background-color: var(--border-color);
                }

                .dx-scrollable-scrollbar {
                    background-color: var(--card-bg);
                    border: 1px solid var(--border-color);
                }
            }
        }
    }
}
