<div>
    <app-headline icon="people"
                  [buttons]="headlineButtons"
                  [showToggleCompactViewButton]="true"
                  [showToggleToolbarButton]="true"
                  [showReloadButton]="ui.showReload"
                  [showToggleFullScreenButton]="true"
                  [showToggleColumnSelectorButton]="true"
                  (onToggleToolbar)="toggleToolbar()"
                  (onToggleCompactView)="toggleCompactView()"
                  (onToggleFullScreen)="repaintDataGrid(100)"
                  (onReload)="invalidate()"
                  (onToggleColumnSelector)="toggleColumnChooser()">
        <dx-select-box [items]="headerOptions"
                       [(value)]="activeHeaderOption"
                       (onValueChanged)="navigateToProducts($event)">
        </dx-select-box>
        <import-progress-bar></import-progress-bar>
    </app-headline>
    <app-toolbar [config]="toolbarConfig" [hidden]="appService.toolbarIsHidden$ | async"></app-toolbar>
    <div class="main-wrapper">
        <action-menu [items]="actionMenuGroups"
                     [visible]="!!actionEvent"
                     class="grouped-action-menu"
                     width="300px"
                     (onItemClick)="onMenuItemClick($event)">
        </action-menu>
        <div class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <ghost-list [hidden]="isDataLoaded"></ghost-list>
                <dx-data-grid class="main-component-view"
                              accesskey="narrowHeaderPanel"
                              [renderAsync]="true"
                              [dataSource]="dataSource"
                              [hoverStateEnabled]="true"
                              [allowColumnReordering]="true"
                              [columnAutoWidth]="true"
                              [allowColumnResizing]="true"
                              [columnChooser]="{
                                    height: rowsViewHeight
                                }"
                              [remoteOperations]="{ filtering: false }"
                              [loadPanel]="{ enabled: false }"
                              [pager]="defaultGridPagerConfig"
                              (onOptionChanged)="onGridOptionChanged($event)"
                              (onContentReady)="onContentReady($event)"
                              (onCellClick)="onCellClick($event)"
                              (onEditingStart)="toggleActionsMenu($event)"
                              (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
                    <dxo-selection selectAllMode="page"
                                   showCheckBoxesMode="none"
                                   mode="none">
                    </dxo-selection>
                    <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
                    <dxo-editing mode="popup"
                                 [texts]="{ editRow: '' }"
                                 [popup]="{ onShowing: onShowingPopup, height: '0px', width: '0px' }"
                                 [allowUpdating]="!isReadOnly">
                    </dxo-editing>
                    <dxi-column [dataField]="couponFields.Id" [caption]="l('Id')" cssClass="tabular clipboard-holder" [visible]="false" [sortOrder]="'desc'" [sortIndex]="0"></dxi-column>
                    <dxi-column [dataField]="couponFields.Code" [caption]="l('Code')" cssClass="clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="couponFields.Description" [caption]="l('Description')" cssClass="clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="couponFields.Type" [caption]="l('Type')" cssClass="clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="couponFields.Value" [caption]="l('Value')" cellTemplate="valueTemplate"></dxi-column>
                    <dxi-column [dataField]="couponFields.Duration" [caption]="l('Duration')" cssClass="clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="couponFields.ActivationDate" [caption]="l('ActivationDate')" cellTemplate="dateTemplate"></dxi-column>
                    <dxi-column [dataField]="couponFields.DeactivationDate" [caption]="l('DeactivationDate')" cellTemplate="dateTemplate"></dxi-column>
                    <dxi-column [dataField]="couponFields.IsArchived" [caption]="l('Archived')" cssClass="clipboard-holder" [visible]="false"></dxi-column>
                    <dxi-column [dataField]="couponFields.Created" [caption]="l('Created')" cellTemplate="dateTemplate" [visible]="false"></dxi-column>

                    <div *dxTemplate="let cell of 'valueTemplate'" class="clipboard-holder">
                        <span *ngIf="cell.data.Type == couponTypes.Fixed; else Percent">
                            {{ cell.data.Value | currency:cell.data.CurrencyId:'symbol':'1.2-2' }}
                        </span>
                        <ng-template #Percent>
                            <span> {{ cell.data.Value / 100 | percent:'1.0-2' }}</span>
                        </ng-template>
                    </div>
                    <div *dxTemplate="let cellData of 'dateTemplate'" class="clipboard-holder">
                        <span class="date-time" [title]="cellData.value ? (cellData.value | datetime: formatting.dateTimeMoment) : ''">
                            {{cellData.value ? (cellData.value | datetime: formatting.dateMoment) : ''}}
                        </span>
                    </div>

                    <dxo-sorting mode="multiple"></dxo-sorting>
                    <dxo-paging [pageSize]="20"></dxo-paging>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>

<app-no-data [hidden]="!isDataLoaded || totalRowCount"
             [showLink]="false">
</app-no-data>