:host {
    &.lend-space {
        .login-wraper {
            align-items: self-start;
            justify-content: center;
            @media (min-width: 768px) {
                margin-top: 240px !important;
                align-items: self-start;
            }
        }
        *:not(.fa),
        .form-control-feedback {
            font-family: Poppins;
        }
        input {
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            height: 56px;
            font-size: 17px;
            font-weight: 500;
            color: #4a4a4a;
        }
        .btn-outline-primary {
            height: 56px;
            border-radius: 2px;

            font-size: 18px;
            font-weight: bold;
            color: #000000;
            box-shadow: none;
            border: 1px solid #000;
            cursor: pointer;
            &:hover {
                background-color: #000;
            }
        }
        .btn-primary {
            height: 56px;
            border-radius: 2px;
            background-color: #ffcc00;
            font-family: Poppins;
            font-size: 18px;
            font-weight: bold;
            color: #000000;
            box-shadow: none;
            border: none;
            cursor: pointer;
        }
    }
}
