:host {
    position: relative;
    top: 75px;
    .content-wrap {
        display: flex;

        .frame-wrap {
            flex: 1;
            iframe {
                height: 100% !important;
            }
        }
    }
    .synch-progress {
        padding: 8px 14px 7px 14px !important;
    }
    /deep/ .back-button,
    /deep/ .next-button {
        width: 150px;
        padding: 0 !important;

        &:after {
            content: none;
        }
    }

    /deep/ app-toolbar {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        right: 355px;

        dx-toolbar {
            background: transparent;
        }
    }
}
