:host {
    bank-code-letter {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 3px;
        }
    }

    .fa-pencil {
        color: #00aeef;
        font-size: 18px;
        margin-left: 10px;
        cursor: pointer;
        display: none;
    }

    &:hover {
        .fa-pencil {
            display: inline-block;
        }
    }
}
