:host {
    display: flex;
    align-items: center;
    bank-code-letter {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 3px;
        }
    }

    .fa-pencil {
        color: #00aeef;
        font-size: 18px;
        margin-left: 10px;
        cursor: pointer;
        visibility: hidden;
        margin-right: 5px;
    }

    &:hover .fa-pencil {
        visibility: visible;
    }
    &.allow-edit {
        padding-right: 25px;
        bank-code-letter {
            cursor: pointer;
        }
    }
    span.bankCodeDefinition {
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 5px;
    }
    a.reportLink {
        margin-left: 5px;
        img {
            max-width: 20px;
            max-height: 20px;
        }
    }
}

#bankCodeLettersEditorDialog {
    padding: 15px;
}
