:host {
    display: inline-block;
    position: relative;
    width: 100%;

    header {
        .dialog-title {
            margin-bottom: 24px;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 1.57;
        }
    }

    mat-dialog-content {
        padding: 0 20px;
    }
}