:host {
    h2 {
        margin-bottom: 32px !important;
    }
    h5 {
        margin-bottom: 17px;
    }
    .form-group {
        display: flex;
        margin-bottom: 11px;
        height: 32px;
        label, input {
            width: 50%;
        }
    }

    .checkbox-list {
        display: flex;
        margin-top: 19px;
        margin-bottom: 22px;
        .form-group {
            &:first-child {
                margin-right: 40px;
            }
        }
    }

    .authentication-settings {
        label {
            width: 25%;
            min-width: 154px;
        }
        input {
            width: 75%;
        }
    }
}