:host {
    display: block;
    max-height: 750px;
    height: calc(100vh - 130px);

    h2 {
        margin-bottom: 32px !important;
    }

    .settings {
        width: 100%;
        margin: 0;

        h3 {
            font-family: Manrope;
            font-size: 19px;
            font-weight: 600;
            line-height: 23px;
            letter-spacing: -0.02em;
            text-align: left;
            margin-bottom: 0;
        }
        label {
            position: relative;
            top: 13px;
            left: 9px;
            background: #FFF;
            display: inline-block;
            padding: 0 5px;
            font-family: Manrope;
            font-size: 13px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: -0.02em;
            min-width: 70px;
            border-bottom: none;
        }
        input {
            height: 53px;
            border: 1px solid rgba(225, 231, 237, 1);
            border-radius: 10px;
            font-family: Manrope;
            font-size: 13px;
            font-weight: 500;
            line-height: 27px;
            text-align: left;
            padding: 12px 14px;

            &:placeholder {
                color: rgba(121, 133, 151, 1);
            }
        }

        .providers {
            margin-bottom: 20px;
            margin-top: 20px;

            ::ng-deep dx-select-box {
                .dx-dropdowneditor-field-template-wrapper {
                    border: 1px solid #dedede;
                    border-radius: 10px;
                    padding-left: 15px;
                }
                input {
                    border-radius: 10px;
                    border: 1px solid rgba(225, 231, 237, 1);
                }
            }
        }
        
        .credentials {
            width: 96%;
        }

        .flex-2 {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .servers {
            width: 96%;
            min-width: 500px;
            margin-top: 20px;
            .columns {
                display: flex;
                gap: 30px;        
            }
            .outgoing, .ingoing {
                width: 50%;
            }
            .outgoing-field, .ingoing-field {
                background: rgba(248, 250, 252, 1);
                height: 53px;
                margin-top: 34px;
                font-family: Manrope;
                font-size: 13px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: -0.02em;
                text-align: left;
                padding: 15px;
                border-radius: 10px;
            }
            .ingoing-field {
                ::ng-deep dx-switch {
                    float: right;
                }
            }
            .port {
                width: 64%;
                display: inline-block;
            }
            .disabled {
                opacity: 0.5;
                pointer-events: none;
                cursor: default;
            }
        }
    
        .default {
            width: 96%;
            min-width: 500px;

            .test-email {
                position: relative; 
                button {
                    position: absolute;
                    background: rgba(8, 41, 91, 1);
                    right: 0;
                    top: 28px;
                    font-family: Manrope!important;
                    font-size: 13px!important;
                    font-weight: 600!important;
                    letter-spacing: -0.02em;
                }
            }
        }

        ::ng-deep dx-switch {
            display: inline-block;

            &.tls {
                margin: 0 8px 0 15px;
                .dx-switch-container {
                    background: rgba(248, 250, 252, 1);
                }
            }

            &:not(.dx-switch-on-value) {
                .dx-switch-handle::before {
                    background: #00005e30;                    
                }
            }

            .dx-switch-container, 
            .dx-switch-handle::before {
                border-radius: 12px;
            }
            .dx-switch-container {
                border: 1px solid transparent;
                background: rgba(234, 236, 239, 1);
            }
            .dx-switch-handle::before {
                width: 120%;
                background: rgba(0, 168, 237, 1);
            }
            .dx-switch-inner {
                width: 180%;
            }
        }        
    }

    .information {
        width: 96%;
        position: relative;
        min-height: 100px;
        margin-top: 20px;

        &.error {
            .block {
                border: 1px solid red;
            }
        }

        .block {
            width: 100%;
            height: 100%;
            max-width: 730px;
            font-family: Manrope;
            font-size: 13px;
            font-weight: 400;
            line-height: 23px;
            text-align: left;
            background: rgba(248, 250, 252, 1);
            border-radius: 10px;
            padding: 15px;
            bottom: 0;
            a {
                font-family: Manrope;
                font-size: 13px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: -0.02em;
                text-align: left;
            }
        }
    }
}

::ng-deep .provider-select-item {
    display: flex;
    margin: auto;

    .provider-icon {
        width: 22px;
        height: 20px;
        margin: 0px 10px 0 0;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
