<h2>{{ ls.l('EmailSmtp') }}</h2>
<ng-container *ngIf="settings">
    <div class="smtp-error-block" *ngIf="smtpProviderErrorLink">
        <a [href]="smtpProviderErrorLink" target="blank">{{ls.l("CheckProviderRecommendation")}}</a>
    </div>
    <dx-scroll-view [height]="smtpProviderErrorLink ? '360px' : '469px'">
        <h5>{{ ls.l('ServerSettings') }}</h5>
        <div class="form-group">
            <label for="DefaultFromAddress">{{ls.l("DefaultFromAddress")}}</label>
            <input id="DefaultFromAddress" type="email" name="DefaultFromAddress" class="form-control"
                [ngClass]="{ 'edited': settings.defaultFromAddress }"
                [(ngModel)]="settings.defaultFromAddress" maxlength="256">
        </div>
        <div class="form-group">
            <label for="DefaultFromDisplayName">{{ls.l("DefaultFromDisplayName")}}</label>
            <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName" class="form-control"
                [ngClass]="{ 'edited': settings.defaultFromDisplayName }"
                [(ngModel)]="settings.defaultFromDisplayName" maxlength="128">
        </div>
        <div class="form-group">
            <label for="provider">{{ls.l("Provider")}}</label>
            <dx-select-box
                width="100%"
                height="32px"
                [showClearButton]="true"
                [dataSource]="supportedProviders"
                displayExpr="name"
                [(value)]="selectedProvider"
                (onValueChanged)="onProviderChanged()">
            </dx-select-box>
        </div>
        <div class="form-group">
            <label for="SmtpHost">{{ls.l("SmtpHost")}}</label>
            <input id="SmtpHost" type="text" name="SmtpHost" class="form-control"
                [ngClass]="{ 'edited': settings.smtpHost }"
                [(ngModel)]="settings.smtpHost"
                maxlength="64">
        </div>
        <div class="form-group">
            <label for="SmtpPort">{{ls.l("SmtpPort")}}</label>
            <input id="SmtpPort" type="number" name="SmtpPort" class="form-control"
                [ngClass]="{ 'edited': settings.smtpPort }" [(ngModel)]="settings.smtpPort"
                maxlength="5">
        </div>

        <div class="checkbox-list">
            <div class="form-group">
                <dx-check-box id="Settings_SmtpEnableSsl"
                            [text]="ls.l('UseSsl')"
                            [(value)]="settings.smtpEnableSsl">
                </dx-check-box>
            </div>
        </div>

        <div class="authentication-settings">
            <h5>{{ ls.l('AuthenticationSettings') }}</h5>
            <div class="form-group">
                <label for="SmtpDomainName">{{ls.l("DomainName")}}</label>
                <input id="SmtpDomainName" type="text" name="SmtpDomainName" class="form-control"
                    [ngClass]="{ 'edited': settings.smtpDomain }"
                    [(ngModel)]="settings.smtpDomain" maxlength="128">
            </div>
            <div class="form-group">
                <label for="SmtpUserName">{{ls.l("UserName")}}</label>
                <input id="SmtpUserName" type="text" name="SmtpUserName" class="form-control"
                    [ngClass]="{ 'edited': settings.smtpUserName }"
                    [(ngModel)]="settings.smtpUserName" maxlength="128">
            </div>
            <div class="form-group">
                <label for="SmtpPassword">{{ls.l("Password")}}</label>
                <input id="SmtpPassword" type="password" name="SmtpPassword" class="form-control"
                    [ngClass]="{ 'edited': settings.smtpPassword }" [(ngModel)]="settings.smtpPassword"
                    maxlength="128" autocomplete="off">
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="test-email">{{ ls.l("TestEmail") }}</label>
                    <input id="test-email" type="text" class="form-control input-mini" [(ngModel)]="testEmailAddress">
                </div>
                <div class="form-group col-md-4">
                    <button class="btn btn-primary" type="button" [ngClass]="{'sending': isSending}" [disabled]="isSending ? true : null" (click)="sendTestEmail()">
                        <span>{{ls.l("SendTestEmail")}}</span>
                        <i class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="checkbox-list is-imap-enabled">
            <div class="form-group">
                <dx-check-box id="IsImapEnabled"
                                [text]="ls.l('AllowImapSynchronization')"
                                [(value)]="settings.isImapEnabled">
                </dx-check-box>
            </div>
        </div>
        <div class="form-group" [hidden]="!settings.isImapEnabled">
            <label for="ImapHost">{{ls.l("ImapHost")}}</label>
            <input id="ImapHost" type="text" name="ImapHost" class="form-control" [ngClass]="{'edited':settings.imapHost}" [(ngModel)]="settings.imapHost" maxlength="128">
        </div>
        <div class="form-group" [hidden]="!settings.isImapEnabled">
            <label for="ImapPort">{{ls.l("ImapPort")}}</label>
            <input id="ImapPort" type="number" name="ImapPort" class="form-control" [ngClass]="{'edited':settings.imapPort}" [(ngModel)]="settings.imapPort" maxlength="5">
        </div>
        <div class="checkbox-list" [hidden]="!settings.isImapEnabled">
            <div class="form-group">
                <dx-check-box id="ImapUseSsl"
                                [text]="ls.l('ImapUseSsl')"
                                [(value)]="settings.imapUseSsl">
                </dx-check-box>
            </div>
        </div>
    </dx-scroll-view>
</ng-container>