<h2>
    {{ ls.l('Subscriptions') }}
    <span class="history-button clickable-item pull-right" (click)="toggleHistory()">
        {{ showAll ? 'Hide history' : 'Show history' }}
    </span>
    <span *ngIf="manageAllowed" class="add-subscription pull-right" (click)="openSubscriptionDialog($event)">
        {{ ls.l('AddSubscription') }}
    </span>
</h2>
<action-menu 
    target=""
    width="150px"
    [items]="actionMenuItems"
    (onItemClick)="onMenuItemClick($event)">
</action-menu>
<dx-data-grid #mainGrid
    class="main-component-view"
    keyExpr="id"
    [pager]="pagerConfig"
    [dataSource]="dataSource"
    [allowColumnReordering]="false"
    [columnAutoWidth]="true"
    [allowColumnResizing]="false"
    [masterDetail]="{ enabled: true, template: 'detail' }"
    (onCellClick)="onCellClick($event)">
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxi-column caption="" visibleIndex="0">
        <dxi-column dataField="photo" cellTemplate="photoCell" caption="" width="70px"></dxi-column>
    </dxi-column>

    <dxi-column caption="" visibleIndex="1">
        <dxi-column dataField="productName" cellTemplate="productCell" [caption]="ls.l('ProductName')"></dxi-column>
    </dxi-column>

    <dxi-column caption="Original Order" visibleIndex="2" cssClass="header-top">
        <dxi-column dataField="orderDate" [allowResizing]="false" cellTemplate="dateTimeTemplate" [width]="appService.isHostTenant ? 180 : 210" cssClass="tabular"></dxi-column>
        <dxi-column dataField="trialEndDate" [allowResizing]="false" cellTemplate="dateTimeTemplate" [width]="appService.isHostTenant ? 180 : 210" cssClass="tabular"></dxi-column>
    </dxi-column>

    <dxi-column caption="Latest Subscription" visibleIndex="3" cssClass="header-top second">
        <dxi-column dataField="startDate" [allowResizing]="false" cellTemplate="dateTimeTemplate" [width]="appService.isHostTenant ? 180 : 210" cssClass="tabular"></dxi-column>
        <dxi-column dataField="endDate" [allowResizing]="false" cellTemplate="dateTimeTemplate" [width]="appService.isHostTenant ? 180 : 210" cssClass="tabular"></dxi-column>
    </dxi-column>

    <dxi-column caption="" visibleIndex="4">
        <dxi-column dataField="fee" [allowResizing]="false" cellTemplate="amountTemplate" width="60px"></dxi-column>
    </dxi-column>

    <dxi-column caption="" visibleIndex="5" >
        <dxi-column dataField="status" [allowResizing]="false" [caption]="ls.l('Status')" cellTemplate="statusCell" width="115px"></dxi-column>
    </dxi-column>

    <dxi-column caption="" visibleIndex="6">
        <dxi-column dataField="id" caption="" [allowResizing]="false" cellTemplate="actionsCellTemplate" width="50px"></dxi-column>
    </dxi-column>

    <div *dxTemplate="let cellData of 'photoCell'">
        <img width="64px" height="64px" [src]="cellData.data.photoUrl || 'assets/common/images/product.png'" onerror="this.src='assets/common/images/product.png'">
    </div>    

    <div *dxTemplate="let cellData of 'productCell'">
        <div class="product-name clipboard-holder" [title]="'Product Code: ' + cellData.data.productCode">{{cellData.data.productName}}</div>
        <div class="services" [title]="cellData.data.serviceCodeList">{{cellData.data.serviceList}}</div>
    </div>    

    <div *dxTemplate="let cellData of 'actionsCellTemplate'">
        <a *ngIf="cellData?.data?.statusCode === 'A' && permission.isGranted(permissions.CRMOrdersManage) || cellData?.data?.tenantId && permission.isGranted(permissions.TenantsImpersonation)" class="dx-link dx-link-edit"></a>
    </div>
    <div *dxTemplate="let cellData of 'dateTemplate'" class="clipboard-holder">
        <span class="date-time" [title]="cellData.value | datetime: formatting.dateMoment">
            {{cellData.value ? (cellData.value | datetime: formatting.dateMoment) : ''}}
        </span>
    </div>
    <div *dxTemplate="let cellData of 'dateTimeTemplate'" 
        class="clipboard-holder"
        (mouseenter)="onDateHover($event)"  
        (mouseleave)="onDateLeave($event)">
        <dx-date-box width="33px"
            applyValueMode="useButtons"
            [visible]="!appService.isHostTenant && manageAllowed"
            [disabled]="cellData.column.dataField == 'orderDate' || cellData.column.dataField == 'trialEndDate'"
            [min]="cellData.column.dataField == 'endDate' ? (cellData.data.startDate | datetime: formatting.dateMoment) : undefined"
            [max]="cellData.column.dataField == 'startDate' ? (cellData.data.endDate | datetime: formatting.dateMoment) : undefined"
            [value]="cellData.value ? (cellData.value | datetime: formatting.dateTimeMoment) : undefined"
            (onOpened)="onCallendarOpened($event)"
            (onValueChanged)="onDateChanged($event, cellData)"
        ></dx-date-box>
        <span *ngIf="cellData.value" class="date-time" title="{{cellData.value | datetime: formatting.dateTimeMoment}}">{{cellData.value | datetime: formatting.dateMoment}}</span>
    </div>
    <div *dxTemplate="let cellData of 'statusCell'">
        <div class="status {{cellData.value.toLowerCase()}}"
              [matTooltip]="'Cancellation Reason: ' + cellData.data.cancelationReason"
              [matTooltipDisabled]="!cellData.data.cancelationReason"
              matTooltipClass="mat-primary-tooltip"
              matTooltipShowDelay="200"
              matTooltipHideDelay="0">
            {{ cellData.value }}
        </div>
    </div>
    <div *dxTemplate="let cell of 'amountTemplate'" class="clipboard-holder">
        <span> {{ cell.text | currency:currency:'symbol':'1.2-2' }} </span>
    </div>
    <div *dxTemplate="let detail of 'detail'">
        <dx-data-grid
            width="100%"
            class="alone"
            [dataSource]="detail.data.payments"
            [allowColumnReordering]="false"
            [columnAutoWidth]="true"
            [allowColumnResizing]="false"
            [showBorders]="true">

            <dxi-column dataField="prefix" caption="" visibleIndex="0"></dxi-column>
            <dxi-column dataField="image" caption="" visibleIndex="0" width="70px"></dxi-column>
            <dxi-column dataField="id" caption="" visibleIndex="1" alignment="left" cellTemplate="captionTemplate"></dxi-column>
            <dxi-column dataField="invoiceDate" visibleIndex="2" dataType="date" [width]="appService.isHostTenant ? 180 : 210" cssClass="clipboard-holder"></dxi-column>
            <dxi-column dataField="paymentDate" visibleIndex="3" dataType="date" [width]="appService.isHostTenant ? 180 : 210" cssClass="clipboard-holder"></dxi-column>
            <dxi-column dataField="startDate" caption="" visibleIndex="4" dataType="date" [width]="appService.isHostTenant ? 180 : 210" cssClass="clipboard-holder"></dxi-column>
            <dxi-column dataField="endDate" caption="" visibleIndex="5" dataType="date" [width]="appService.isHostTenant ? 180 : 210" cssClass="clipboard-holder"></dxi-column>
            <dxi-column dataField="fee" caption="" visibleIndex="6" width="60px" cellTemplate="amountTemplate"></dxi-column>
            <dxi-column dataField="status" caption="" visibleIndex="7" width="115" cellTemplate="statusCell"></dxi-column>
            <dxi-column dataField="actions" caption="" visibleIndex="8" width="40px"></dxi-column>

            <div *dxTemplate="let cell of 'captionTemplate'" class="clipboard-holder">
                <span> {{ 'Installment ' }}<b>{{'#' + cell.value}}</b> </span>
            </div>
            <div *dxTemplate="let cell of 'amountTemplate'" class="clipboard-holder">
                <span> {{ cell.text | currency:currency:'symbol':'1.2-2' }} </span>
            </div>
            <div *dxTemplate="let cell of 'statusCell'">
                <div class="status {{cell.value.toLowerCase()}}">
                    {{ cell.value }}
                </div>
            </div>
        </dx-data-grid>
    </div>
</dx-data-grid>