:host {
    h2 {
        padding: 20px;

        span {
            font-size: 20px;
            line-height: 40px;
        }
    }

    .history-button {
        border: 1px solid #ddd;
        padding: 0 10px;
        border-radius: 5px;
    }

    .add-subscription {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.32px;
        color: #00aeef;
        margin-right: 10px;
        cursor: pointer;
        &:before {
            content: '+';
            background-color: #00aeef;
            border-radius: 50%;
            color: #fff;
            width: 16px;
            height: 16px;
            display: inline-block;
            line-height: 16px;
            text-align: center;
        }
    }

    .billing-actions a {
        text-decoration: underline;
        color: #00aeef;
        cursor: pointer;
    }

    /deep/ #gridContainer {
        height: calc(~'100vh - 299px');
    }
}
