:host {
    h2 {
        padding: 20px;

        span {
            font-size: 20px;
            line-height: 40px;
        }
    }

    .billing-actions a {
        text-decoration: underline;
        color: #00aeef;
        cursor: pointer;
    }

    /deep/ #gridContainer {
        height: calc(~'100vh - 299px');
    }
}
