:host {
    .modal-header {
        flex-flow: column;
    }

    .modal-title span {
        position: relative;
        top: 15px;
    }

    .copy.save-to-clipboard {
        margin-bottom: -2px;
    }

    ::ng-deep .dx-state-readonly input,
    .dx-selectbox .dx-texteditor-input:read-only {
        color: #ababab;
        cursor: not-allowed !important;
    }

    ::ng-deep .dx-placeholder.dx-state-invisible {
        display: block !important;
        opacity: 1;
    }

    ::ng-deep .dx-selectbox.dx-state-hover.dx-state-readonly .dx-dropdowneditor-icon {
        background-color: transparent;
    }

    .content {
        padding: 30px;
    }
}