<mat-tab-group>
  <mat-tab label="Personal">        
    <dx-scroll-view showScrollbar="onHover">
      <div class="row">
        <div class="col-md-6">
          <contacts [contactInfoData]="data?.customerInfo?.primaryContactInfo"></contacts>
          <socials [contactInfoData]="data?.customerInfo?.primaryContactInfo"></socials>
        </div>
        <div class="col-md-6">
          <addresses [contactInfoData]="data?.customerInfo?.primaryContactInfo"></addresses>
        </div>
      </div>
    </dx-scroll-view>
  </mat-tab>    
  <mat-tab label="Business" *ngIf="data?.customerInfo?.organizationContactInfo">
    <dx-scroll-view showScrollbar="onHover">
      <div class="row">
        <div class="col-md-6">
          <contacts [contactInfoData]="data?.customerInfo?.organizationContactInfo"></contacts>
          <socials [contactInfoData]="data?.customerInfo?.organizationContactInfo"></socials>
        </div>
        <div class="col-md-6">
          <addresses [contactInfoData]="data?.customerInfo?.organizationContactInfo"></addresses>
        </div>
      </div>
    </dx-scroll-view>
  </mat-tab>
  <mat-tab label="Employment">
  </mat-tab>
  <mat-tab label="Confidential">
  </mat-tab>
</mat-tab-group>    