<h2>{{l('Facebook')}} {{l('Settings')}}</h2>
<div *ngIf="facebookSettings">
    <div *ngIf="!isHost">
        <div class="form-group">
            <dx-check-box id="FacebookIsDeactivated"
                          [text]="l('Deactivate')"
                          [(value)]="facebookSettings.isDeactivated">
            </dx-check-box>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="FacebookAppId">{{l("FacebookAppId")}}</label>
            <input id="FacebookAppId" type="text" name="FacebookAppId" class="form-control" [(ngModel)]="facebookSettings.settings.appId" maxlength="128">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="FacebookAppSecret">{{l("FacebookAppSecret")}}</label>
            <input id="FacebookAppSecret" type="text" name="FacebookAppSecret" class="form-control" [(ngModel)]="facebookSettings.settings.appSecret" maxlength="128">
        </div>
    </div>
</div>
<button class="btn btn-layout" (click)="save()">
    <i class="icon-la la la-floppy-o"></i>
    {{l('Save')}}
</button>
