.subscription-bar-visible {
    margin-top: 35px;
}

@media (max-width: 991px) {
    .subscription-bar-visible {
        margin-top: 30px !important;

        #m_aside_left {
            margin-top: 15px !important;
        }
    }
}

:host {
    position: absolute;
    width: 100% !important;
    height: 100%;

    .page-container {
        padding: 0;
        .page-sidebar-wrapper {
            z-index: 10;
            transition: 1s;
            position: relative;
            left: -340px;
            &.show-sidebar-wrapper {
                left: 0px;
            }
        }
    }

    .page-container {
        height: calc(~"100% - 75px");
    }
    .page-content-wrapper,
    .page-content {
        height: 100%;
    }

    app-toolbar {
        top: 75px;
        position: relative;
    }

    .page-content-wrapper .page-content {
        margin-left: 0;
        transition: 1s;
        &.fixed-filters {
            margin-left: 340px;
        }
    }
}

/deep/ .modal-backdrop {
    z-index: 1001;
}

/deep/ .modal {
    z-index: 1002;
}

/deep/ .dxc-tooltip {
    z-index: 1000 !important;
}
