:host {
    position: absolute;
    width: 100% !important;
    height: 100%;

    .page-container {
        padding: 0;
        .page-sidebar-wrapper {
            z-index: 100;
            transition: 1s;
            position: relative;
            left: -340px;
            &.show-sidebar-wrapper {
                left: 0px;
            }
        }

        .page-content-wrapper,
        .page-content {
            height: 100%;
        }

        .page-content-wrapper .page-content {
            margin-left: 0;
            transition: 1s;
            &.fixed-filters {
                margin-left: 340px;
            }
        }

        &.subscription-bar-visible {
            margin-top: 45px;
            /deep/ ng-component {
                #gridContainer, .funnel-wrapper {
                    height: calc(~"100vh - 256px")!important;
                }
            }
        }
    }

    app-toolbar {
        top: 75px;
        position: relative;
    }

    /deep/ .img-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/deep/ .modal-backdrop {
    z-index: 1001;
}

/deep/ .modal {
    z-index: 1002;
}

/deep/ .dxc-tooltip {
    z-index: 1000 !important;
}
