.subscription-bar-visible {
    margin-top: 100px;
}

@media (max-width: 991px) {
    .subscription-bar-visible {
        margin-top: 15px !important;
    }
}

@media (max-width: 767px) {
    .subscription-bar-visible {
        margin-top: 15px !important;
    }
}:host {
	position: absolute;
	width: 100%!important;

	.page-container {
    	padding: 20px 0px 0 0px;
	}

	.page-content-wrapper .page-content {
    	margin-left: 300px;
	}
}

/deep/ .modal-backdrop {
    z-index: 1001;
}
/deep/ .modal {
    z-index: 1002;
}
