<div class="jumbotron jumbotron-fluid d-flex top">
    <div class="container align-self-center">
        <h1 class="title">It Never Hurts to Check Your Score</h1>
        <div class="buttons-group d-flex justify-content-between">
            <button class="btn btn-dark btn-custom" *ngFor="let item of buttons">
                <span>{{item.description}}</span>
                <span>{{item.title}}</span>
            </button>
        </div>
    </div>
</div>

<section class="why-us">
    <div class="container">
        <h2 class="yellow-title">Why You Should Choose Us?</h2>
        <p class="description text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
        <ul class="list-unstyled d-flex flex-wrap why-list">
            <li class="why-item" *ngFor="let item of features; let i = index" [ngClass]="{'hover' : i == 1}">
                <!-- class hover is temp solution while I haven't vector icons -->
                <img [src]="item.imgSrc" alt="Credit Score">
                <h3>{{item.title}}</h3>
                <p>{{item.text}}</p>
            </li>
        </ul>
    </div>
</section>

<div class="jumbotron jumbotron-fluid d-flex credit-score-safe">
    <div class="container align-self-center">
        <h2 class="title">Your Credit Score is Safe</h2>
        <p>You can check your credit reports as often as you want, it won't affect your scores.</p>
    </div>
</div>

<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2 class="yellow-title">How does the process work exactly?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>

            <div class="col-md-6 col-sm-12">
                <div id="accordion">
                    <div class="card" *ngFor="let item of faq; let i = index">
                        <div class="card-header" id="{{'heading-' + i}}" >
                            <h5 class="mb-0">
                                <button class="btn btn-link" [ngClass]="{'collapsed' : i != 0}" data-toggle="collapse" attr.data-target="{{'#collapse-' + i}}" attr.aria-controls="{{'collapse-' + i}}">
                                    {{item.title}}
                                </button>
                            </h5>
                        </div>

                        <div id="{{'collapse-' + i}}" class="collapse" [ngClass]="{'show' : i == 0}" data-parent="#accordion"  attr.aria-labelledby="{{'heading-' + i}}">
                            <div class="card-body">
                                <p>{{item.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get-free">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-6 offset-lg-6 col-md-12 align-self-center">
                <h2>Monitor, Gain Insight & Make Better Decisions</h2>
                <p>As a member, you can see your accounts, your last reported balances and what's affecting your credit scores. Get alerted when there's an important change on your reports AND learn what affects your credit scores and what you can do to improve them. Finally see personalized recommendations for ways to use your credit more wisely.</p>
                <button type="button" class="btn btn-outline-dark">
                    GET YOUR FREE CREDIT SCORE HERE
                </button>
            </div>
        </div>
    </div>
</section>
