:host {
    .autologin {
        padding: 0 40px!important;
    }

    .login-wrapper {
        padding: 0 15px;
    }

    .rapid-login-form {
        @media all and (max-width: 450px) {
            margin-top: 15px;
        }
    }

    .form-wrapper {
        @media all and (max-width: 768px) {
            .title {
                font-size: 24px;

                + p {
                    text-align: center;
                }
            }
        }

        @media all and (max-width: 450px) {
            .title {
                font-size: 18px;

                + p {
                    font-size: 13px;
                }
            }
        }
    }
}