:host {
    text-align: center;
    span {
        color: #fff;
        font-size: 17px;
        position: relative;
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50%;
        line-height: 20px;

        &.A {
            background: linear-gradient(to bottom, #850614, #C93152);
        }
        &.B {
            background: linear-gradient(to bottom, #03356D, #74A7CB);
        }
        &.N {
            background: linear-gradient(to bottom, #E57B05, #F9CC76);
        }
        &.K {
            background: linear-gradient(to bottom, #033219, #73A994);
        }
    }
}
