h6 {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
}
::ng-deep circle-progress {
    position: relative;
    z-index: 1;
    svg {
        text {
            transform: translate(0px, 6px);
        }
    }
}

.circular-progress {
    position: relative;
    display: inline-block;
    width: 115px;
    &:after {
        opacity: 0.6;
        font-size: 63.6px;
        font-weight: bold;
        letter-spacing: -3.32px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &:first-child:after {
        content: 'B';
        color: #bbd7e9;
    }
    &:nth-child(2):after {
        content: 'A';
        color: #e8b6b8;
    }
    &:nth-child(3):after {
        content: 'N';
        color: #eee3ba;
    }
    &:nth-child(4):after {
        content: 'K';
        color: #b6dac1;
    }
    & > svg {
        height: 100%;
        width: 60px;
        display: inline-block;
    }
    .progressbar-text {
        font-size: 12px;
        line-height: 1;
    }
    @media (max-width: 1500px) {
        width: 92px;
    }
}

.incremental-counter {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    .num {
        display: inline-block;
        background: #04335d;
        color: #fff;
        font-size: 52px;
        margin: 0 3px;
        font-family: 'AvianoSans-Bla', sans-serif !important;
        font-weight: normal;
        width: 71px;
        height: 68px;
        line-height: 68px;

        @media all and (max-width: 560px) {
            font-size: 18px;
            padding: 6px 12px;
        }

    }
    .comma {
        color: #fff;
        position: relative;
        bottom: -18px;
        font-size: 40px;
    }
}

.circular-graph-wrapper {
    text-align: center;
}

.circular-graphs {
    padding: 34px 10px 25px 10px;
    background: #fff;
    display: inline-block;
    position: relative;
    top: 35px;
    &:before {
        content: '';
        width: 20px;
        height: 20px;
        background: #fff;
        position: absolute;
        top: -10px;
        left: calc(50% - 10px);
        transform: rotate(45deg);
    }
}

@media (max-width: 767.98px) {
    .circular-graphs {
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    .circular-progress {
        width: 50%;
        height: auto;
    }
}