<div class="top">
    <div class="card-view"></div>
    <h1 _ngcontent-c8="">{{l('Campaing_FreeChecking')}}<br>{{l('Campaing_ForLife')}}</h1>
    <h3 >{{l('Campaing_FreeMonthlyFees')}}<br>{{l('Campaing_GetFreeChecking')}}<br>{{l('Campaing_AccountToday')}}</h3>
    <button class="teal lock" (click)="open(offers[1])">{{l('Campaing_StartAccountNow')}}</button>
</div>
<div class="bottom">
    <div class="icons-wrapper">
        <i class="electro-finance"></i><i class="best-buy"></i>
    </div>
    <div class="text-box">
        <h1>{{l('Campaing_FinanceYour')}}<br>{{l('Campaing_Shopping')}}</h1>
        <h3>{{l('Campaing_BadCredit')}}<br>{{l('Campaing_NoProblem')}}</h3>
        <button class="teal lock" (click)="open(offers[0])">{{l('Campaing_StartShopping')}}</button>
    </div>
</div>
