<app-pages-header *ngIf="!showDefaultHeader"></app-pages-header>
<div class="top-headline">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="//lendspace.com" class="url">www.lendspace.com</a>
        <p class="get-free-score">Get Your Free Credit Score with LendSpace</p>
        <p class="date">{{currentDate | date:'longDate'}}</p>
    </div>
</div>
<div class="page-header navbar navbar-fixed-top navbar-light md-shadow-zero-light container" [ngClass]="{'pfm-app': hasPfmAppFeature}" *ngIf="showDefaultHeader">
    <div class="page-logo">
        <a href="javascript:void(0);" (click)="logoClick($event)">
            <img [src]="appSession.tenant && appSession.tenant.logoId ? remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?logoId=' + appSession.tenant.logoId: './assets/common/images/app-logo-on-light.png'" alt="logo" class="logo-default" width="200" />
        </a>
    </div>

    <ng-template ad-header-host></ng-template>

    <app-area-navigation *ngIf="hasPfmAppFeature"
                         id="header-app-menu"
                         [memberAreaLinks]="appAreaLinks"
                         [actionsButtons]="actionsButtons">
    </app-area-navigation>

    <member-area-navigation
        *ngIf="!hasPfmAppFeature"
        id="header-menu"
        [memberAreaLinks]="memberAreaLinks">
    </member-area-navigation>
</div>
