:host {
    .content {
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 10px;
        .control-label {
            padding: 0;
            flex: 0 0 25%;
            max-width: 25%;
            white-space: nowrap;
        }
        .col-sm-10 {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }
}
