:host {
    .content {
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 10px;
        .alert-info {
            color: #000;
            border-color: rgba(55, 215, 73, 0.1);
            &.zero {
                border-color: rgba(209, 172, 0, 0.2);
                #code-color {
                    background: rgba(209, 172, 0, 0.2);
                }
            }
            &.undefined {
                border-color: #dadee1;
                #code-color {
                    background: #dadee1;
                }
            }
            #code-color {
                background: rgba(55, 215, 73, 0.1);
            }
        }
        .control-label {
            font-weight: 600;
            padding: 0 10px 0 0;
            min-width: 125px;
            white-space: nowrap;
        }
        .form-control-static {
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}