<dx-select-box [items]="products"
               [elementAttr]="{ class: 'bank-code-products-menu' }"
               [placeholder]="ls.l('MyProducts') + '...'"
               [grouped]="true"
               itemTemplate="itemTemplate"
               [displayExpr]="displayExpr"
               valueExpr="route"
               [value]="selectedProductRoute$ | async"
               (onOpened)="onPopupOpened($event)"
               (onItemClick)="itemClick($event)">
    <div *dxTemplate="let data of 'itemTemplate'">
        <span class="first-word">{{ data.firstWord }}</span><ng-container *ngIf="data.secondWord"><span *ngIf="!data.noSpace">&nbsp;</span>{{ data.secondWord }}</ng-container>
    </div>
</dx-select-box>