:host {
  display: block;
  min-width: 340px;

  label {
    right: -4px;
    width: 70px;
    position: relative;
    color: #BDC6C7;
    line-height: 46px;
    vertical-align: top;
    border-bottom: 1px solid #dfdfdf;
    height: 48px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 12px;
  }

  h2 {
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.6px;
    cursor: move;
  }

  /deep/ .dx-texteditor-container {
    width: 270px;
  }

  dx-select-box, 
  dx-text-box, 
  dx-number-box {
    display: inline-block;
    /deep/ input {
      height: 48px;
    }
  }

  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 125px;
    left: -34px;    
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;   
    border-right:10px solid #FFF;
  }

  mat-dialog-actions {
    justify-content: flex-end;
  }

  mat-dialog-content {
    min-height: 160px;
  }

  .type-item-wrapper {
    /deep/ input {
      padding-left: 40px;
      background-repeat: no-repeat;
      background-position: 10px 15px;
    }
    /deep/ input[value=""] {
      background-image: none!important;
    }
  }

  .url {
    /deep/ input {
      background-position: 10px 10px;
      background-size: 25px 25px;
    }

    &.type-O {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/social/EarthGlobe.svg");
      }
    }
    &.type-F {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/social/Facebook.svg");
      }
    }
    &.type-G {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/social/Google+.svg");
      }
    }
    &.type-L {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/social/Linkedin.svg");
      }
    }
    &.type-P {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/social/Pinterest.svg");
      }
    }
    &.type-T {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/social/Twitter.svg");
      }
    }
  }

  .emailAddress {
    /deep/ input {
      background-image: url("../../../../assets/common/icons/email.svg");
      background-position: 10px 17px;
    }
  }

  .phoneNumber {
    &.type-H, &.type-P {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/phone.svg");
      }
    }

    &.type-W {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/phone-work.svg");
      }
    }

    &.type-M {
      /deep/ input {
        background-image: url("../../../../assets/common/icons/phone-mobile.svg");
      }
    }
  }

  dx-check-box {
    width: 110px;
    font-size: 12px;
  }

  country-phone-number {
    /deep/ .wrapper {
      width: 270px;
    }

    /deep/ div.input-group {
      height: 100%;

      input {
          height: 47px;
      }

      .dropdown {
        margin-top: 6px;
      }

      .scrollable-menu {
        max-height: 150px;
        max-width: 280px;
        font-size: 12px;
      }
    }
  }
}