:host-context(.config-mode) {
    .title {
        h4 {
            padding-left: 25px;
        }
    }
}

.title {
  border-bottom: 2px solid var(--border-color);
  h4 {
      font-weight: 500;
      padding-bottom: 5px;
      font-size: 15px;
      line-height: 1.33;
      letter-spacing: 0.3px;
      color: var(--text-color);
      span {
        float: right;
        font-size: 19px;
        font-weight: 500;
        line-height: 1.05;
        letter-spacing: 0.4px;
      }
  }
}

.total_data {
    padding-top: 10px;
}

ul {
    color: var(--disabled-color);
    padding-left: 0;
}

li {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: var(--muted-color);

    span {
        float: right;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.33;
        letter-spacing: 0.3px;
        text-align: right;
    }
}