<div [@routerTransition]>
    <app-headline [config]="headlineConfig"></app-headline>
    <div class="portlet light no-padding margin-bottom-0">
        <div class="portlet-body">
            <div>
                <div class="dx-datagrid-header-panel custom">
                    <div class="toolbar">
                        <app-toolbar [config]="toolbarConfig"></app-toolbar>
                    </div>
                </div>
                <div [hidden]="showPipeline">
                    <div id="ClientsTable">
                        <dx-data-grid id="gridContainer"
                            [dataSource]="dataSource"
                            [allowColumnReordering]="true"
                            [columnAutoWidth]="true"
                            [allowColumnResizing]="true"
                            [hoverStateEnabled]="true"
                            (onContentReady)="onContentReady($event)">
                            <dxo-selection
                                selectAllMode="page"
                                showCheckBoxesMode="always"
                                mode="multiple">
                            </dxo-selection>
                            <dxo-editing
                                mode="popup"
                                [allowUpdating]="true">
                            </dxo-editing>
                            <dxi-column [width]="40" [fixed]="true" [fixedPosition]="'left'" [showInColumnChooser]="false" [allowExporting]="false"></dxi-column>
                            <dxi-column dataField="Id" caption="{{l('Id')}}" [visible]="false" sortOrder="asc"></dxi-column>
                            <dxi-column dataField="Photo" caption=" " cellTemplate="photoTemplate" [width]="50" [showInColumnChooser]="false" [allowExporting]="false"></dxi-column>
                            <div *dxTemplate="let data of 'photoTemplate'">
                                <img [src]="getPhoto(data.data.Photo, data.data.Gender)"
                                     alt="{{l('AltPersonPhoto')}}"
                                     width="38"
                                     class="img-circle"/>
                            </div>
                            <dxi-column dataField="FullName" caption="{{l('Customer.Name')}}"></dxi-column>
                            <dxi-column dataField="State" caption="{{l('Contact.State')}}" [visible]="false"></dxi-column>
                            <dxi-column dataField="Email" caption="{{l('Contact.Email')}}" [visible]="false"></dxi-column>
                            <dxi-column dataField="Phone" caption="{{l('Contact.Phone')}}" [visible]="false"></dxi-column>
                            <dxi-column dataField="Stage" caption="{{l('Stage')}}"></dxi-column>
                            <dxi-column dataField="Amount" caption="{{l('Amount')}}"></dxi-column>
                            <dxi-column dataField="OrderType" caption="{{l('Type')}}"></dxi-column>
                            <dxi-column dataField="CurrentNumber" caption="{{l('CurrentNumber')}}" [visible]="false"></dxi-column>
                            <dxi-column dataField="TotalNumber" caption="{{l('TotalNumber')}}" [visible]="false"></dxi-column>
                            <dxi-column dataField="NoteCount" caption="{{l('NoteCount')}}" [visible]="false"></dxi-column>
                            <dxi-column dataField="DocumentCount" caption="{{l('DocumentCount')}}" [visible]="false"></dxi-column>
                            <dxi-column dataField="BillingSubscriptionStatus" caption="{{l('BillingStatus')}}"></dxi-column>
                            <dxi-column dataField="CreationTime" caption="{{l('Created')}}" dataType="date" format="shortDateShortTime"></dxi-column>
                            <dxi-column [fixed]="true" [fixedPosition]="'right'" [showInColumnChooser]="false"></dxi-column>
                            <dxo-sorting mode="multiple"></dxo-sorting>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-paging [pageSize]="20"></dxo-paging>
                            <dxo-pager
                                [showPageSizeSelector]="true"
                                [allowedPageSizes]="[20, 100, 500, 1000, 5000]"
                                [showInfo]="true">
                            </dxo-pager>
                        </dx-data-grid>
				    </div>
                </div>
                <div [hidden]="!showPipeline" class="pipepline-wrapper">
                    <app-pipeline [dataSource]="gridDataSource" [pipelinePurposeId]="pipelinePurposeId">
                        Loading...
                    </app-pipeline>
                </div>
            </div>
        </div>
    </div>
</div>
