:host {
    position: relative;
    height: 100%;

    ::ng-deep dx-data-grid {
        .dx-datagrid-headers .dx-row.dx-header-row td.amount-cell {
            padding-right: 32px;
        }
        .dx-datagrid-rowsview .dx-row {
            cursor: pointer;
        }
    }
}
