:host {
    position: relative;
    height: 100%;

    ::ng-deep dx-data-grid {
        .dx-datagrid-headers .dx-row.dx-header-row td.padding-right {
            padding-right: 32px;
            &:last-child {
                padding-right: 45px !important;
            }
        }
        .dx-datagrid-rowsview .dx-row {
            cursor: pointer;
        }
    }
}
