:host {
    position: relative;
    height: 100%;

    ::ng-deep dx-data-grid {
        .dx-datagrid-rowsview {
            .dx-row {
                cursor: pointer;
            }
            .dx-command-edit + td::before {
                display: none!important;
            }
        }
    }
}
