<dx-tooltip height="440"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="lists-tooltip-container">
            <div class="actions clearfix">
                <span class="title">{{l('AssignTo')}}</span>
                <div [hidden]="hideButtons || bulkUpdateMode && !selectedKeys?.length">
                    <span class="filter-clear" [class.disabled]="!(isRelatedUser || checkPermissions())" (click)="clear()">{{l('Clear')}}</span>
                    <span class="filter-apply" [class.disabled]="!(isRelatedUser || checkPermissions()) || !userslist.selectedItems?.length" (click)="apply()">{{l('Apply')}}</span>
                </div>
            </div>
            <dx-list #userslist
                height="350"
                [searchEnabled]="true"
                [searchExpr]="'name'"
                [selectionMode]="multiSelection || (bulkUpdateMode && !selectedKeys?.length ? 'none' : 'single')"
                [showSelectionControls]="true"
                [dataSource]="list"
                [keyExpr]="'id'"
                [(selectedItemKeys)]="selectedItemKeys"
                (onContentReady)="onContentReady($event)"
                (onInitialized)="onInitialized($event)"
                (onSelectionChanged)="onSelectionChange($event)">
                <div *dxTemplate="let data of 'item'">
                    <div class="item-row" data-id="{{data.id}}">
                        <div class="user">
                            <img src="{{ getProfilePictureUrl(data.profileThumbnailId, noPhotoUrl) }}" alt="Person Photo">
                            <span class="item-name">{{data.name}}<span *ngIf="!data.isActive"> (inactive)</span></span>
                        </div>                    
                        <a *ngIf="filterModel" class="dx-link dx-link-filter" title="{{l('Filter')}}" (click)="applyFilter($event, data)"></a>
                    </div>
                </div>
            </dx-list>
        </div>
    </div>
</dx-tooltip>
