button.view-more {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #edeff7;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #404040;
    padding: 5px 0 3px;
    line-height: 14px;
    &:after {
        content: url("../../../assets/common/images/bank-code/arrow-down.png");
        display: block;
    }
}