<div class="dx-field">
    <div class="dx-field-label">{{ls.l('address1')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
    <div class="dx-field-value">
        <dx-text-box placeholder="Enter address"
                     [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.address1">
            <dx-validator>
                <dxi-validation-rule type="custom"
                                     [validationCallback]="offersWizardService.validateRequiredField"
                                     [message]="this.ls.l('ThisFieldIsRequired')">
                </dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('country_code')}}</div>
            <div class="dx-field-value">
                <dx-text-box placeholder="Enter country code"
                             [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.countryCode">
                </dx-text-box>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('state')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
            <div class="dx-field-value">
                <dx-select-box
                    [items]="offersWizardService.states$ | async"
                    valueExpr="code"
                    displayExpr="name"
                    [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.stateCode"
                    placeholder="Select state">
                    <dx-validator>
                        <dxi-validation-rule type="custom"
                                             [validationCallback]="offersWizardService.validateRequiredField"
                                             [message]="this.ls.l('ThisFieldIsRequired')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('city')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
            <div class="dx-field-value">
                <dx-text-box placeholder="Enter city"
                             [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.city">
                    <dx-validator>
                        <dxi-validation-rule type="custom"
                                             [validationCallback]="offersWizardService.validateRequiredField"
                                             [message]="this.ls.l('ThisFieldIsRequired')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('postal_code')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
            <div class="dx-field-value">
                <dx-text-box placeholder="Enter postal code"
                             name="zipCode"
                             [maxLength]="maxLength"
                             [value]="postalCode"
                             (onInput)="onInput($event)"
                             (onValueChanged)="postalCodeChange($event)">
                    <dx-validator>
                        <dxi-validation-rule type="pattern"
                                             [pattern]="zipRegex"
                                             message="Zip Code is invalid">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="custom"
                                             [validationCallback]="offersWizardService.validateRequiredField"
                                             [message]="this.ls.l('ThisFieldIsRequired')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('months_at_address')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
            <div class="dx-field-value">
                <dx-text-box placeholder="Enter number of years"
                             [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.monthsAtAddress">
                    <dx-validator>
                        <dxi-validation-rule type="custom"
                                             [validationCallback]="offersWizardService.validateRequiredField"
                                             [message]="this.ls.l('ThisFieldIsRequired')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('DoYouOwnYourHome')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
            <div class="dx-field-value">
                <dx-radio-group
                    [items]="offersWizardService.radioGroup"
                    [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.isHomeOwner"
                    displayExpr="text"
                    valueExpr="value"
                    validationMessageMode="always"
                    layout="horizontal">
                    <dx-validator>
                        <dxi-validation-rule type="custom"
                                             [validationCallback]="offersWizardService.validateRequiredField"
                                             [message]="this.ls.l('ThisFieldIsRequired')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-radio-group>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('license_state')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
            <div class="dx-field-value">
                <dx-select-box
                    [items]="offersWizardService.states$ | async"
                    valueExpr="code"
                    displayExpr="name"
                    [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.licenseState"
                    placeholder="Select license state">
                    <dx-validator>
                        <dxi-validation-rule type="custom"
                                             [validationCallback]="offersWizardService.validateRequiredField"
                                             [message]="this.ls.l('ThisFieldIsRequired')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="dx-field">
            <div class="dx-field-label">{{ls.l('license_number')}}<span *ngIf="offersWizardService.isApplicationSubmission">*</span></div>
            <div class="dx-field-value">
                <dx-text-box placeholder="Enter license number"
                             [(value)]="offersWizardService.submitApplicationProfileInput.personalInformation.licenseNumber">
                    <dx-validator>
                        <dxi-validation-rule type="custom"
                                             [validationCallback]="offersWizardService.validateRequiredField"
                                             [message]="this.ls.l('ThisFieldIsRequired')">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>
</div>
