<div class="headline-title" [ngClass]="{'total-invisible': !showTotalCount}">
    <i *ngIf="icon" class="icon-{{icon}}"></i>
    <img class="title-icon" *ngIf="iconSrc" [src]="iconSrc">
    <div class="header-names" *ngIf="names && names.length">
        <ng-template ngFor let-item [ngForOf]="names" let-i="index">
            <span class="header-name">{{item}}</span>
            <span class="right-arrow"></span>
        </ng-template>
    </div>
    <small *ngIf="text">&nbsp;{{text}}</small><div class="transclude"></div>
    <span *ngIf="showTotalCount" class="total-count {{totalErrorMsg ? 'error' : ''}}" [title]="totalErrorMsg || ''">({{ isTotalCountValid() ? (totalCount | number) : '?'}})</span>
</div>