:host {
    padding: 0;
    height: 100vh;
    display: block;
    background: linear-gradient(115.57deg, #C1E1FF 16.28%, #CFE5FA 95.97%);
    --title: #021648;
    --text: #10307B;
    --text-light: #7B8390;
    --m-blue: #052163;
    --m-blue-light: #0A66C2;
    --m-green: #4CAF50;
    --m-red: #ff0000;
    --divider: #AAC1D7;
    --br: 10px;

    input,
    textarea {
        width: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        background-clip: padding-box;
        font-family: inherit;
        border: none;
        font: inherit;

        &::placeholder {
            font: inherit;
            transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }

    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: none;
        cursor: pointer;
        border: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #fff inset !important;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 61px);

        &__inner {
            padding: clamp(20px, 4vw, 50px) clamp(20px, 4vw, 50px) clamp(10px, 2vw, 30px);
            background-color: #fff;
            border-radius: 10px;
            width: clamp(300px, 50vw, 650px);
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        &__title {
            max-width: 350px;
            text-align: center;
            margin: 0 auto clamp(25px, 2vw, 35px);
            color: #083055;
        }
    }

    .social_login {
        margin: 0 0 clamp(20px, 2vw, 25px);

        button {
            width: 100%;
            font-size: 25px;
            font-weight: 600;

            span {
                &:before {
                    font-size: 30px;
                }
            }

            .discord-icon:before {
                content: "";
                width: 25px;
                height: 21px;
                background-image: url(../../../../assets/common/icons/discord-icon.svg);
            }

            &:hover .discord-icon:before {
                background-image: url(../../../../assets/common/icons/discord-icon-blue.svg);
            }
        }
    }

    .divider {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: var(--divider);
            top: 50%;
            transform: translateY(-50%);
        }

        span {
            position: relative;
            background-color: #fff;
            padding: 6px 14px;
        }
    }

    .input {
        color: var(--title);
        margin-bottom: 25px;
        position: relative;

        label {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .email-icon, .pass-icon {
            background-repeat: no-repeat;
            width: 23px;
            height: 23px;
            position: absolute;
            top: 42px;
            left: 16px;
        }

        .email-icon {
            margin: 2px;
            background-image: url(../../../../assets/common/icons/email_w.svg);
        }

        .pass-icon {
            background-image: url(../../../../assets/common/icons/password_w.svg);
        }

        input {
            background: rgba(239, 247, 254, 0.4);
            border: 1px solid #d0e0ee;
            border-radius: 7px;
            transition: border-color 0.3s;
            padding-left: 50px;
            background-repeat: no-repeat;
            background-position: left 18px center;
            background-size: 20px;
            height: 45px;

            &:hover,
            &:focus {
                border-color: var(--m-blue-light);
            }
        }

        &_pass_show {
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
            padding: 10px;
            height: 44px;
            display: flex;
            align-items: center;
            z-index: 10;
        }
    }

    .pass {
        position: absolute;
        cursor: pointer;
        right: 20px;
        top: 44px;
    }

    .actions {
        margin-bottom: clamp(20px, 2vw, 30px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        a {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: #083055;
        }
    }

    .login_btn {
        button {
            width: 100%;
        }
    }

    button {
        border: 0;
        background-color: transparent;
        border-radius: 0;
        cursor: pointer;
        color: inherit;
        border-width: 0;
        -webkit-appearance: button;
        font: inherit;

        &.disabled {
            cursor: default;
            opacity: 0.5;
            pointer-events: none;
        }
    }

    .button_global {
        border-radius: 10px;
        padding: 13px 33px;
        border: 1px solid transparent;
        transition: color 0.3s, background-color 0.3s, border-color 0.3s;
        color: #fff;

        span {
            display: flex;
            column-gap: 12px;
            align-items: baseline;
            text-align: center;
            justify-content: center;
        }

        &:hover {
            background-color: #fff;
        }

        &_green {
            background-color: var(--m-green);

            &:hover {
                color: var(--m-green);
                border-color: var(--m-green);
            }
        }

        &_blue {
            background-color: var(--m-blue-light);

            &:hover {
                color: var(--m-blue-light);
                border-color: var(--m-blue-light);
            }
        }

        &_blue2 {
            background-color: #404eed;

            &:hover {
                color: var(--m-blue-light);
                border-color: var(--m-blue-light);
            }
        }
    }

    .check_wrap {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #7B8390;

        &__input {
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            opacity: 0;
        }

        &__style {
            display: inline-block;
            position: relative;
            width: 18px;
            height: 18px;
            cursor: pointer;
            margin-right: 10px;
            flex-shrink: 0;
            background: rgba(239, 247, 254, 0.4);
            border: 1px solid #D0E0EE;
            border-radius: 7px;
        }

        &__style::before {
            content: "";
            width: 55%;
            height: 55%;
            position: absolute;
            background-color: transparent;
            top: 50%;
            left: 50%;
            border-radius: 3px;
            background-color: #0A66C2;
            transform: translate(-50%, -50%) scale(0);
            transition: transform .2s;
        }
    }

    .check_wrap__input:checked + .check_wrap__style::before {
        content: "";
        position: absolute;
        transform: translate(-50%, -50%) scale(1);
    }

    .success {
        text-align: center;
    }

    .no-account {
        width: 100%;
        text-align: center;
        padding-top: 20px;

        a {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}
