<div class="card-header">
    <h2><img src="./assets/common/images/bank-code/speaker.svg" alt="ANNOUNCEMENTS">ANNOUNCEMENTS</h2>
</div>
<div class="card-body">
    <h5 class="card-title">Welcome to the private beta version of your virtual office</h5>
    <p class="card-text mb-4">You will notice in the upcoming weeks design and UX/UI updates along with tools to
        take
        your business to the next level. For now - enjoy this Pre-Launch as it will only get better.</p>
    <p class="card-text-footer mb-4">Please check this area out daily for updates and exciting news.</p>
    <p class="card-text"><a href="javascript:void(0);" class="btn btn-default">Forbes - The Future of Sales</a></p>
</div>
