:host {
    .card-text a {
        @media (max-width: 768px) {
            padding: 0 10px;
            font-size: 13px !important;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
