:host {
    .card-text {
        text-align: center;
        font-family: 'AktivGroteskW01-Regular', sans-serif !important;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.53;
        letter-spacing: -0.3px;
        color: #000000;
        opacity: 0.7;
        a {
            @media (max-width: 768px) {
                padding: 0 10px;
                font-size: 13px !important;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .btn-default {
        border: 1px solid #ac1f22;
        text-transform: uppercase !important;
        font-size: 17px !important;
        color: #ac1f22;
        border-radius: 0 !important;
        line-height: 42px;
        padding: 0 20px;
        transition: 0.3s;
        letter-spacing: 0.53px;
        font-weight: 700 !important;
        font-family: 'AvianoSans-Bla', sans-serif !important;

        &:hover {
            background: #ac1f22;
            color: #fff;
        }
    }

    .card-header {
        background-color: #104779;
    }
}
