.material-icons {
    color: grey;
}

.contacts {
  i {
    position: absolute;
  }

  ul {
    padding-left: 30px;
  }

  & > div {
    margin-bottom: 26px;
  }

  li {
    cursor: pointer;
  }
  span{
    cursor: pointer;
    text-transform: uppercase;
    color: #c1c5ca;
  }
}