<div class="page-logo">
    <a href="javascript:void(0);" (click)="logoClick()">
        <img *ngIf="!appSession.tenant || !appSession.tenant.logoId; else tenantLogo"
             src="./assets/common/images/bank-code/CodebreakerWideLogo.png"
             [alt]="ls.l('CodebreakerLogo')"
             class="logo-default"
             height="auto"/>
        <ng-template #tenantLogo>
            <img [src]="remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?logoId=' + appSession.tenant.logoId"
                 [alt]="ls.l('CodebreakerLogo')"
                 class="logo-layout"/>
        </ng-template>
    </a>
</div>
<div class="navigation">
    <p>{{ ls.l('MyProducts') }}</p>
    <products-dropdown></products-dropdown>
</div>