:host {
    display: flex;
    .page-logo {
        max-width: 310px;
        min-width: 220px;
        height: 60px;
        display: flex;

        img {
            max-height: 82%;
        }

        a {
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }

        @media all and (max-width: 767px) {
            max-width: 150px;
            min-width: 140px !important;
            height: auto;
        }

        a {
            max-width: 200px;
            overflow: hidden;
            margin: auto;

            @media all and (min-width: 769px) {
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
            }
        }

        &:after {
            right: 0;
        }
    }
}