h4 {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;

}

.title {
    cursor: pointer;
}

.title i {
    float: right;
    margin-top: 15px;
}

.title {
    border-bottom: 2px solid #f8fafa;
    padding-bottom: 5px;
}

.credit_lines_banks {
    margin-top: 15px;
}

.credit_lines_banks li > span {
    float: right;
}

.credit_lines_amounts li {
    display: inline-block;
    margin-right: 3px;
}
.credit_lines_amounts {
    display: inline-block;
}