:host {

    header {
        padding: 0 70px 0 10px;
        img {
            max-width: 200px;
            max-height: 50px;
            margin-right: 10px;
        }
        /deep/ inplace-edit {
            .inplace-edit-view-mode {
                display: flex;
                align-items: center;
                .link {
                    display: flex;
                    font-size: 22px;
                }
                dx-text-box input {
                    font-size: 22px;
                }
            }
            .inplace-edit-edit-mode {
                display: flex;
                font-size: 22px;
                background: transparent;
                .dx-texteditor {
                    background: transparent;
                    .dx-texteditor-input {
                        background: transparent;
                        font-size: 22px;
                    }
                }
                dx-button {
                    top: 0;
                    background: transparent;
                }
            }
        }

        button {
            margin-left: auto;
        }
    }
    /deep/ .mat-sidenav-container {
        height: calc(100vh - 158px) !important;
    }
    /deep/ .main-content {
        padding: 20px;
        .field {
            label {
                font-size: 14px;
                font-weight: 300;
                color: #677380;
                flex: 1;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                & + * {
                    &.dx-checkbox {
                        margin-top: 10px;
                    }
                    &:not(.dx-checkbox) {
                        flex: 2;
                    }
                }
            }
            .dx-state-disabled.dx-widget, .dx-state-disabled .dx-widget {
                & .dx-texteditor-input, input.form-control {
                    border-bottom: 0;
                }
            }
            .clear-contact {
                top: 15px;
            }
        }

        .detail {
            margin-right: 120px;
            .mat-form-field-infix {
                display: flex;
                border-top: 0px;
                width: 240px;
            }
            .detailItem {
                display: flex;
                align-items: center;
                .mat-form-field {
                    width: 100%;
                }
                span.clear-contact {
                    top: 0;
                }
            }
            .fa {
                cursor: pointer;
                margin-left: 10px;
            }
        }
        .mat-checkbox-ripple {
            display: none;
        }
        .mat-checkbox-frame {
            border-color: #00AEEF !important;
        }
        .mat-checkbox-checked .mat-checkbox-background {
            background-color: #00AEEF;
        }
    }


}
