:host {

    header {
        padding: 0 70px 0 10px;
        img {
            max-width: 200px;
            max-height: 50px;
            margin-right: 10px;
        }
        /deep/ inplace-edit {
            .inplace-edit-view-mode {
                display: flex;
                align-items: center;
                .link {
                    display: flex;
                    font-size: 22px;
                }
                dx-text-box input {
                    font-size: 22px;
                }
            }
            .inplace-edit-edit-mode {
                display: flex;
                font-size: 22px;
                background: transparent;
                .dx-texteditor {
                    background: transparent;
                    .dx-texteditor-input {
                        background: transparent;
                        font-size: 22px;
                    }
                }
                dx-button {
                    top: 0;
                    background: transparent;
                }
            }
        }

        button {
            margin-left: auto;
        }
    }
    /deep/ .mat-sidenav-container {
        height: calc(100vh - 158px) !important;
    }
    /deep/ .main-content {
        padding: 20px;
        .detail {
            .field {
                align-items: baseline;
                label {
                    font-size: 14px;
                    font-weight: 300;
                    color: #677380;
                    flex: 1;
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    & + * {
                        &.dx-checkbox {
                            margin-top: 10px;
                        }
                        &:not(.dx-checkbox) {
                            flex: 2;
                        }
                    }
                }
                .dx-state-disabled.dx-widget, .dx-state-disabled .dx-widget {
                    & .dx-texteditor-input, input.form-control {
                        border-bottom: 0;
                    }
                    .dx-texteditor-buttons-container {
                        display: none;
                    }
                }

                .detailItem {
                    display: flex;
                    align-items: center;
                    .mat-form-field {
                        width: 100%;
                    }
                    span.clear-contact {
                        top: 0;
                    }
                }

                .clear-contact {
                    top: 15px;
                }
                /deep/ stars-rating {
                    align-self: center;
                }
            }

            .fa {
                cursor: pointer;
                margin-left: 10px;
            }

            &.center {
                label {
                    flex: initial;
                    width: 120px;
                    margin-right: 0;
                    & + *:not(.dx-checkbox) {
                        flex: auto;
                    }
                }
            }

            &.valuesBelow {
                .field {
                    flex-direction: column;
                    .add-new-button {
                        margin-left: 0;
                        padding-top: 0;
                        span {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }


}
