#paymentWizardComponent {
    height: 100%;
    .mat-dialog-content {
        padding: 0;
        margin: 0;
        max-height: initial;
        height: 100%;
        line-height: 100%;
        .mat-stepper-horizontal {
            height: 100%;
            .mat-horizontal-stepper-header-container {
                display: none;
            }

            .mat-horizontal-content-container {
                padding: 0;
                height: 100%;
                .mat-horizontal-stepper-content {
                    height: 100%;
                }
            }
        }
    }
}

#payment-wizard {
    padding: 0;
    box-sizing: content-box;
    border-radius: 23px;
}
