<div id="paymentWizardComponent">
    <mat-dialog-content>
        <mat-horizontal-stepper #stepper>
            <mat-step>
                <package-chooser
                    [module]="module"
                    [showBackground]="true"
                    (onPlanChosen)="changePlan($event)"
                    (moveToNextStep)="moveToPaymentOptionsStep()">
                </package-chooser>
            </mat-step>
            <mat-step>
                <ng-container *ngIf="(plan$ | async) as plan">
                    <payment-options
                        [plan]="plan"
                        (onChangeStep)="stepper.selectedIndex = $event"
                        (onClose)="close()"
                        (onStatusChange)="changeStatus($event)">
                    </payment-options>
                </ng-container>
            </mat-step>
            <mat-step>
                <ng-container *ngIf="paymentStatusData">
                    <payment-status [paymentStatusData]="paymentStatusData" (onClose)="close()"></payment-status>
                </ng-container>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-dialog-content>
</div>
