<div class="socials">
  <div class="social">
    <h3 class="lab">{{l('LinksAndSocial')}}</h3>
    <ul>
      <li *ngFor="let social of contactInfoData?.links" [ngStyle]="{display: social.isSocialNetwork ? 'inline-block': 'none'}">
        <a href="{{social.url}}" target="_blank">
          <i class="fa fa-{{LINK_TYPES[social.linkTypeId] || 'share-square-o'}}" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="other-links">
    <ul class="others">
      <li *ngFor="let social of contactInfoData?.links; let i = index" [ngStyle]="{display: social.isSocialNetwork ? 'none': 'block'}">
        <div *ngIf="isEditAllowed" class="actions"><i class="edit fa fa-pencil" aria-hidden="true" (click)="showEditDialog(social, $event, i)"></i><i class="delete fa fa-times" aria-hidden="true" (click)="deleteLink(social, $event, i)"></i></div>
        <a href="{{social.url}}" target="_blank">
          {{social.url}}
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="isEditAllowed" class="add-contact" (click)="showEditDialog(null, $event)">+</div>
</div>