<div class="wrapper">
  <dx-tree-list 
    [dataSource]="this.items.element.list"
    dataStructure="tree"
    keyExpr="id"
    parentIdExpr="parent"
    autoExpandAll="true"
    [loadPanel]="{enabled: true, showPane: true, showIndicator: true}"
    [selection]="{allowSelectAll: false, mode: 'multiple'}"
    (onSelectionChanged)="onSelect($event)"
    (onInitialized)="onInitialized($event)"
    scrolling="{mode: 'virtual', showScrollbar: 'always'}">
      <dxi-column dataField="name" caption="{{items.caption}}"></dxi-column>
  </dx-tree-list>
</div>