<app-static-list
    [width]="'330px'"
    listHeight="calc(100% - 75px)"
    [accessKey]="'sourceContactList'"
    [targetSelector]="targetSelector"
    [title]="ls.l('PartnerSource')"
    [selectedKeys]="[selectedKey]"
    [showConfirmation]="false"
    [highlightSelected]="true"
    [searchEnabled]="true"
    [customSearchEnabled]="true"
    [convertNameStartCase]="false"
    (onItemSelected)="onItemSelected.emit($event)"
    (onListFiltered)="onSourceFiltered($event)"
    (onOptionChanged)="onOptionChanged($event)"
    [list]="contacts">
</app-static-list>