<div class="bestValue" *ngIf="bestValue"><span>{{ l('BestValue') }}</span></div>
<div class="cardHeader">
    <div class="left">
        <h3 class="title">{{ name }}</h3>
        <div class="includesUsers">{{ l('PlanIncludesUsers', displayedUsersAmount) }}</div>
        <div class="amountPerMonth">{{ currencySymbol }}
            <span class="number">{{ pricePerMonth | customNumber: '1.0-0' | currency: 'USD' : '' : '1.0-0' }}<sup class="decimal">{{ pricePerMonth | customNumber: '0.2-2' }}</sup></span>/ {{ l('monthBeginning') }}
        </div>
    </div>
    <div class="right">
        <p>
            <span class="currency">{{ currencySymbol }}</span>
            <span class="priceNumber">{{ pricePerUserPerMonth | customNumber : '1.0-0' | currency: 'USD' : '' : '1.0-0'}}<sup class="priceDecimal">{{ pricePerUserPerMonth | customNumber : '0.2-2' }}</sup></span>
        </p>
        <p class="perUserPerMonth">{{ l('PerUser/mo')}}</p>
    </div>
</div>
<div class="planFeatures">
    <ul>
        <li *ngFor="let feature of features">
            <img [src]="baseUrl + 'assets/common/icons/feature-enabled.svg'">
            {{ localizationService.ls(feature.feature.displayName.sourceName, feature.feature.displayName.name) }}
            {{ getFeatureValue(feature) }}
            {{ feature.feature.measurementUnit ? ' ' + feature.feature.measurementUnit : '' }}
        </li>
    </ul>
</div>

