<section class="content">
    <header>
        <img src="./assets/common/images/bank-code/bankpass.png"
             srcset="./assets/common/images/bank-code/bankpass@2x.png 2x, ./assets/common/images/bank-code/bank-code-logo@3x.png 3x"
             alt="BankPass" class="header-image">
    </header>
    <div class="separator external"></div>

    <div class="page-heading">
        <h1>The <span>VAULT</span></h1>
        <h2>access has its privileges</h2>
    </div>

    <div class="subscribe-block">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <figure>

                </figure>
            </div>
            <div class="col-xs-12 col-md-7">
                <h2>UNLOCK THE VAULT FOR EXCLUSIVE INSIDER ACCESS</h2>
                <p>Unlock the vault to access cutting-edge virtual interactive training courses to supercharge your success so you can take it to the bank!</p>
                <a href="" target="_blank" class="button">Subscribe now</a>
            </div>
        </div>
    </div>

    <div class="access">
        <h2 class="text-center">Unlock the VAULT to optimize your business and maximize your results with B.A.N.K.</h2>
        <p class="text-center">
            The VAULT is your all-access pass to comprehensive B.A.N.K. virtual training resources! The VAULT provides all the interactive tools, the latest in e-learning technology, and gamified virtual training you need to become a B.A.N.K. expert in a fraction of the time!
        </p>
    </div>

    <div class="resources">
        <h2 class="text-center">
            Use our comprehensive resources in The VAULT to get even better results in less time.
        </h2>
        <p class="text-center">
            Your all-access pass to the insider-only B.A.N.K. VAULT ensures maximum results possible. Plus, HD video presented by top trainers alongside interactive games, simulations, questions, review modules, and testing in The VAULT means you’ll quickly master B.A.N.K. – and have an amazing time following our system!
        </p>
        <div class="actions">
            <a href="" target="_blank" class="button">Vault Directory</a>
            <a href="" target="_blank" class="button button-default">Learn more</a>
        </div>
    </div>

    <div class="limited-offer">
        <h2>Limited Offer!</h2>
        <p>Supercharge your Codebreaker AI subscription with B.A.N.K. PASS to generate unlimited leads. Bundle them together and
            <span class="red">save $348 per year!</span></p>
        <div class="price">
            Only <span class="number">$59</span> per month
            <small>(save $348 per year)</small>
        </div>
        <div class="actions">
            <button class="button">Subscribe now</button>
        </div>
    </div>

    <div class="footer-info">
        After you’ve unlocked The VAULT, keep your unlimited VAULT access forever as long as you maintain an active bundle subscription to CODEBREAKER AI and B.A.N.K. PASS for <b>just $49/ month!</b>
    </div>
</section>
