@title-font: 'AvianoSans-Bla', sans-serif !important;
@text-font: 'IBM Plex Sans', sans-serif;
:host {
    --width: 100%;
    --height: 135px;
    --top-color: #104779;
    --bottom-color: #fff;

    .content {
        min-height: 745px;
        box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.15);
        border: solid 1px #ebecec;
        background-color: #ffffff;

        .content-wrap {
            padding: 0 62px;
        }
    }

    .vault {
        background: url('../../../assets/common/images/bank-code/vault-bg@2x.png') top center no-repeat;
        background-size: cover;
        min-height: 440px;
    }

    .subscribe-block {
        background: #fff5e5;
        padding: 50px;

        h2 {
            font-size: 24px;
            font-family: @title-font;
            font-weight: normal;
            line-height: 1.13;
            letter-spacing: -0.48px;
            color: #000000;
        }

        p {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.44;
            color: #474747;
            font-family: @text-font;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }

    .access {
        margin: 64px auto;

        h2 {
            font-family: @title-font;
            font-size: 26px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: -0.52px;
            text-align: center;
            color: #000000;
        }

        p {
            font-family: @text-font;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: center;
            color: #474747;
        }
    }

    .resources {
        background: #104779;
        padding: 60px 0;

        h2,
        p {
            color: #fff;
        }
    }

    .footer-info {
        background: #fff5e5;
        padding: 15px 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.29;
        font-family: @text-font;
        text-align: center;
        color: #474747;
    }

    .price {
        font-size: 19px;

        .number {
            font-size: 38px;
        }

        small {
            font-size: 12px;
            display: block;
        }
    }

    /deep/ .dx-textbox {
        width: 263px;
        input {
            width: 100%;
            color: #677380;
            font-weight: 300;
            line-height: 1.71;
            letter-spacing: 0.3px;
            text-align: left;
            padding-left: 36px;
            border: 1px solid #dadee1;
            border-radius: 3px;
            font-size: 14px;
            height: 39px;
            outline: none;

            @media screen and (max-width: 480px) {
                width: auto;
            }
        }

        .dx-icon-search,
        .dx-icon-clear {
            font: 14px/1 DXIcons !important;
        }

        &.dx-state-focused .dx-placeholder {
            top: -25px!important;
        }

        .dx-placeholder {
            font-size: 13px!important;
            font-weight: 300!important;
            letter-spacing: .3px!important;
        }
    }

    .price {
        font-size: 19px;

        .number {
            font-size: 38px;
        }

        small {
            font-size: 12px;
            display: block;
        }
    }
}
