:host {
    position: relative;
    top: 74px;

    .red {
        color: red;
    }

    .end-balance-confirmed {
        color: #00aeef;
    }

    .end-balance-not-confirmed {
        color: #cdd6e0;
    }

    .synch-tooltip {
        float: left;
        margin-top: 8px;
        margin-left: 10px;
    }
}