.red {
    color: red;
}

.synch-tooltip {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

:host {
    #gridContainer {
        height: calc(~'100vh - 216px');
    }

    /deep/ .dx-datagrid-content .dx-data-row {
        cursor: pointer;
    }

    /deep/ .dx-datagrid-header-panel {
        &.custom .dx-toolbar {
            margin-bottom: 0;
        }

        .dx-toolbar {
            height: 65px !important;

            .dx-toolbar-before,
            .dx-toolbar-center,
            .dx-toolbar-after {
                margin: 15px;
            }

            .dx-toolbar-before {
                top: 0 !important;
            }

            .dx-toolbar-button {
                padding: 0;
            }

            .dx-button[aria-label="back-arrow"] {
                .dx-button-content {
                    padding: 12px 15px 13px;

                    .dx-icon {
                        height: 10px;
                        width: 17px;
                    }
                }
            }

            .dx-button[aria-label="Assign"] {
                margin-left: 40px;
                border-right: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .dx-button[aria-label="Status"] {
                border-right: 0;
                border-radius: 0;
            }

            .dx-button[aria-label="Delete"] {
                margin-right: 40px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .dx-button[aria-label="icon icon-refresh"] {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: 0;
            }

            .dx-button[aria-label="download-icon"] {
                border-radius: 0;
            }

            .dx-button[aria-label="clmn-chooser-icon"] {
                border-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .dx-button[aria-label="pipeline-icon"] {
                margin-left: 24px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .dx-button[aria-label="table-icon"] {
                margin-left: -1px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .dx-button {
                .dx-button-content {
                    padding: 8px 15px;
                }

                .dx-icon {
                    color: #959a9f;
                }
            }
        }
    }
}
