@import url('https://fonts.googleapis.com/css?family=Lato');

:host {
    position: relative;
    top: 74px;

    #adjustments {
        color: rgb(50, 190, 242);
        font-weight: bold;
        cursor: pointer;
        padding: 0 3px;
    }

    .main-wrapper {
        max-width: 100vw;
        display: flex;

        &.expanded {
            .categories {
                width: 340px;
                border-right: 1px solid #dfdfdf !important;
            }

            .transactions {

                width: calc(~"100% - 340px");
            }
        }

        .categories {
            width: 0;
            transition: 1s;
            overflow: hidden;
            border-right: 0px;
        }

        .transactions {
            transition: 1s;
            width: calc(~"100% - 10px");

            /deep/ dx-data-grid {
                tr.dx-selection {
                    cursor: grab;
                }

                .dx-header-row {
                    td[role="columnheader"] {
                        text-align: left !important;
                        .dx-column-indicators {
                            float: none !important;
                        }
                        .dx-datagrid-text-content {
                            float: left !important;
                        }
                    }

                    td.category {
                        padding-left: 15px;
                    }
                }

                .dx-header-row td,
                .dx-data-row td {

                    padding: 7px 15px;
                    &.id-column {
                        min-width: 30px;
                    }
                    &.dx-command-select {
                        padding: 7px 5px;
                        width: 22px !important;
                        min-width: 22px !important;
                    }

                    &.cashflow-type {
                        text-align: center;
                        padding-right: 15px;
                        padding-left: 15px;

                        .outflows,
                        .inflows {
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 0.3px;
                            text-align: center;
                            color: #61c670;
                            line-height: 26px;
                            border-radius: 13px;
                            padding: 0 15px;
                            background-color: #EDF7E8;
                        }
                        .outflows {
                            color: #e7326a;
                            background-color: #FFF5F7;
                        }
                    }
                }

                .dx-data-row td {
                    font-size: 13.5px !important;
                    &.category {
                        padding-left: 15px;
                        position: relative;
                    }
                    .uncategorized {
                        &:before {
                            content: "";
                            background: #f8a126;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        /deep/ #gridContainer .dx-datagrid-rowsview {
            .dx-datagrid-content tr td.tabular,
            .dx-datagrid-content tr td.tabular * {
                font-family: 'Lato' !important;
            }
        }
    }

    .red {
        color: red;
    }

    .end-balance-confirmed {
        color: #00aeef;
    }

    .end-balance-not-confirmed {
        color: #cdd6e0;
    }

    .synch-tooltip {
        float: left;
        margin-top: 8px;
        margin-left: 10px;
    }

    /deep/ #gridContainer {
        .dx-datagrid-header-panel {
            .dx-toolbar .dx-toolbar-center {
                margin: 0 !important;
            }

            .dx-toolbar-items-container {
                height: 72px;
                margin-bottom: 0;

                .dx-toolbar-after {
                    display: flex;
                    height: 100%;
                    justify-content: flex-end;
                    align-items: stretch;
                    margin: 0 !important;

                    .dx-toolbar-item {
                        max-width: 22%;
                        text-align: center;
                        display: flex;
                        align-items: center;

                        .informer {
                            padding: 0 30px;
                            border-left: 1px solid #ddd;

                            &.starting-balance {
                                > .count {
                                    font-weight: 400;
                                }
                            }
                        }

                        .name {
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 2.18;
                            letter-spacing: 0.2px;
                            color: #677380;
                            position: relative;

                            i {
                                border-left: 4px solid transparent;
                                border-right: 4px solid transparent;
                                border-top: 4px solid #00aeef;

                                display: inline-block;
                                margin: 2px;
                                align-self: flex-end;
                            }

                            .name-count {
                                color: #00aeef;
                            }
                        }

                        .count {
                            font-size: 17px;
                            font-weight: 600;
                            line-height: 1.41;
                            letter-spacing: 0.3px;
                            color: #3f4448;
                            margin-bottom: 0;

                            .cent {
                                font-size: 10px;
                                line-height: 2.4;
                                letter-spacing: 0.2px;
                                font-weight: 600;
                                color: #3f4448;
                                vertical-align: top;
                                display: inline-block;
                                margin-top: -1px;
                                margin-left: -3px;
                            }
                        }

                        .name, .count {
                            display: block;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        .dx-datagrid-rowsview {
            .dx-column-lines {
                td {
                    font-weight: 500;
                }
            }
        }

        .uncategorized {
            td {
                background-color: #FFFBF5;
                color: #757B7F;
            }
        }

        /*.dx-pointer-events-target {
            * {
                background-color: transparent;
            }
        }*/
    }
}

/deep/ [custaccesskey="search-container"] {
    &[filter-selected="true"] {
        border: 0;

        .dx-button-text {
            font-size: 14px !important;
            letter-spacing: 0.3px !important;
            color: #00AEEF !important;

            &:hover {
                color: lighten(#00AEEF, 20%) !important;
            }
        }
    }

    &[filter-selected="false"] {
        display: none;
    }
}


.tooltip-wrap {
    text-align: left;
    max-height: 250px;
    overflow: auto;
    padding: 0 10px;

    .name {
        cursor: pointer;
        transition: .2s;
        font-size: 13px;
        display: block;

        + .name {
            margin-top: 3px;
        }

        &:hover {
            color: darken(#333, 50%);
            text-decoration: underline;
        }
    }
}

.positive-values,
.positive-values * {
    color: #61c670 !important;
}
.negative-values,
.negative-values * {
    color: #e7326a !important;
}
