:host {
    height: 100%;

    .wrapper {
        position: relative;
        height: 100%;
        padding: 50px 56px;
    }

    .main-content {
        height: 100%;
    }

    .logo {
        display: block;
        position: absolute;
        top: 23px;
        left: 30px;
    }

    .right-side {
        background: #000 url("../../../assets/common/images/rapid/login-bg@2x.jpg") 50% 50% no-repeat;
        background-size: cover;
    }
}