:host {
    ul {
        padding-left: 0;
        list-style: none;
    }
    button {
        cursor: pointer;
        border: none;
        background: none;
        &.viewMore {
            color: #1E5FEB;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.17px;
            line-height: 25px;
            text-align: center;
        }
    }

    header {
        border-bottom: 1px solid #DFDFDF;
        padding-bottom: 19px;
        h1 {
            color: #002849;
            font-size: 46px;
            font-weight: bold;
            line-height: 57px;
            text-align: center;
            margin-bottom: 7px;
        }
        .subHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .foundCount {
                color: #002849;
                font-size: 28px;
                font-weight: 500;
                letter-spacing: 0.22px;
                line-height: 34px;
            }
            .sortBy {
                color: #3E4A54;
                font-size: 14px;
                letter-spacing: 0.16px;
                display: flex;
                min-width: 200px;
                /deep/ mat-select {
                    mat-option {
                        color: #171C1D;
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 0.18px;
                        line-height: 21px;
                    }
                    .mat-select-value,
                    .mat-select-arrow {
                        color: #171C1D;
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 0.18px;
                        line-height: 21px;
                    }
                }
                span {
                    margin-right: 10px;
                    white-space: nowrap;
                }
            }
        }
    }

    .main {
        padding-top: 35px;
        .filter-side-bar .filters li {
            &:not(:last-child) {
                margin-bottom: 21px;
            }
            .filterName {
                color: #002849;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 0.4px;
                line-height: 16px;
                margin-bottom: 14px;
            }
            /deep/ mat-checkbox {
                display: block;
                .mat-checkbox-layout {
                    margin-bottom: 10px;
                    .mat-checkbox-inner-container {
                        margin-right: 14px;
                        .mat-ripple-element {
                            display: none;
                        }
                        .mat-checkbox-frame {
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                            border-color: #DFDFDF;
                        }
                        .mat-checkbox-background {
                            border-radius: 50%;
                        }
                    }
                    .mat-checkbox-label {
                        color: #171C1D;
                        font-family: Montserrat;
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 0.18px;
                        line-height: 21px;
                    }
                }
                &.mat-checkbox-checked {
                    .mat-checkbox-background {
                        background-color: #f5a622;
                        border-radius: 50%;
                    }
                }
                &:last-of-type .mat-checkbox-layout {
                    margin-bottom: 0px;
                }
            }
        }

        ul.credit-cards-list {
            & > li {
                border-bottom: 1px solid #DFDFDF;
                padding-bottom: 27px;
                &:not(:last-child) {
                    margin-bottom: 35px;
                }
                .description {
                    h4 {
                        color: #002849;
                        font-size: 19px;
                        font-weight: bold;
                        letter-spacing: 0.24px;
                        line-height: 23px;
                    }
                    .rating {
                        color: #1E5FEB;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 0.17px;
                        line-height: 25px;
                        stars-rating {
                            margin-right: 8.39px;
                        }
                    }
                    .descriptionItems {
                        display: flex;
                        justify-content: space-between;
                        li {
                            display: inline-block;
                            h5 {
                                font-size: 14px;
                                font-weight: 500;
                                letter-spacing: 0.18px;
                                line-height: 21px;
                                margin-bottom: 0px;
                                font-weight: 600;
                            }
                            p {
                                color: rgba(62,74,84,0.7);
                                font-weight: 500;
                            }
                        }
                    }
                }
                .actions {
                    button {
                        &.applyButton {
                            border-radius: 2px;
                            background-color: #EC9D1A;
                            box-shadow: 0 3px 10px 0 rgba(245,166,35,0.35);
                            width: 143px;
                            height: 38px;
                            -webkit-transform: skew(-20deg);
                            -moz-transform: skew(-20deg);
                            -o-transform: skew(-20deg);
                            span {
                                display: block;
                                -webkit-transform: skew(20deg);
                                -moz-transform: skew(20deg);
                                -o-transform: skew(20deg);
                                color: #FFFFFF;
                                font-size: 16px;
                                font-weight: bold;
                                letter-spacing: 0.13px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

}
