<div class="operations-widget">
    <ng-template #titleTemplate>
        <h3 class="title">{{ title }}</h3>
    </ng-template>
    <app-toolbar
        [titleTemplate]="titleTemplate"
        [config]="toolbarConfig"
    ></app-toolbar>
    <ng-container *ngIf="enabled">
        <app-static-list
            *ngIf="
                permission.checkCGPermission(contactInfo?.groups, '') &&
                pipelineDataSource?.length &&
                !contactInfo.parentId
            "
            #stagesList
            staticListId="stages"
            [width]="'210px'"
            [title]="l('Stages')"
            [selectedTabId]="selectedPipelineId"
            [tabsDataSource]="pipelineDataSource"
            [selectedKeys]="[selectedStageId]"
            [selectedItems]=""
            [hideButtons]="true"
            [highlightSelected]="true"
            [bulkUpdatePermissionKey]="permissions.CRMBulkUpdates"
            (onSelectionChanged)="updateStage($event)"
            targetSelector="[aria-label='{{ l('Toolbar_Stage') }}']"
            [funnelStyling]="true"
            [showTitle]="false"
        >
        </app-static-list>
        <app-static-list
            #statusesList
            staticListId="groups"
            [width]="'180px'"
            [title]="l('Toolbar_Groups')"
            [showConfirmation]="false"
            [hideButtons]="true"
            [highlightSelected]="true"
            [showSelectionControls]="true"
            [selectionMode]="'multiple'"
            [selectedKeys]="activeGroupIds"
            targetSelector="[aria-label='{{ l('Toolbar_Groups') }}']"
            [list]="statuses"
            (onSelectionChanged)="updateStatus($event)"
        >
        </app-static-list>
        <!--<app-static-list-->
        <!--#partnerTypesList-->
        <!--[width]="'210px'"-->
        <!--[title]="l('Type')"-->
        <!--[selectedKeys]="[selectedPartnerTypeId]"-->
        <!--[selectedItems]=""-->
        <!--[hideButtons]="true"-->
        <!--[highlightSelected]="true"-->
        <!-- [bulkUpdatePermissionKey]="permissions.CRMBulkUpdates" -->
        <!--(onSelectionChanged)="updatePartnerType($event)"-->
        <!--[targetSelector]="'[accessKey=PartnerType]'"-->
        <!--[showTitle]="false"-->
        <!--[list]="partnerTypes">-->
        <!--</app-static-list>-->
        <types-list
            [selectedKeys]="[contactInfo.id]"
            [selectedItems]="[selectedPartnerTypeId]"
        >
        </types-list>
        <tags-list
            [selectedKeys]="[contactInfo.id]"
            [selectedItems]="contactInfo?.tags"
            [managePermission]="manageCGPermision"
            (onUpdated)="invalidateContact()"
        >
        </tags-list>
        <lists-list
            [selectedKeys]="[contactInfo.id]"
            [selectedItems]="contactInfo?.lists"
            [managePermission]="manageCGPermision"
            (onUpdated)="invalidateContact()"
        >
        </lists-list>
        <user-assignment-list
            [selectedKeys]="[contactInfo.id]"
            [selectedItemKey]="contactInfo?.assignedUserId"
            [assignedUsersSelector]="assignedUsersSelector"
            [permissionKey]="getAssignmentsPermissionKey()"
            [proxyService]="getProxyService()"
        >
        </user-assignment-list>
        <rating
            [selectedKeys]="[contactInfo.id]"
            [ratingValue]="contactInfo?.ratingId"
            (onRatingUpdated)="invalidateContact()"
            [managePermission]="manageCGPermision"
        >
        </rating>
        <crm-stars-list
            *ngIf="!isBankCodeLayout"
            [selectedKeys]="[contactInfo.id]"
            [selectedItemKey]="contactInfo?.starId"
            [managePermission]="manageCGPermision"
            (onUpdated)="invalidateContact()"
        >
        </crm-stars-list>
    </ng-container>
</div>
