:host {
    @media all and (max-width: 600px) {
        display: block;
        width: 95%;
    }

    @media all and (max-width: 768px) {
        .header {
            display: none;
        }
    }
}

/deep/ #offers-wizard-right .header {
    color: #fff !important;
    margin-top: 20px;
    font-size: 18px;
}