<app-headline *ngIf="layoutService.showLeftBar"
    style="--background-color: {{headlineBackground  || '#FFFFFF'}}"
    [names]="[ ls.l('Welcome') + ' ' + appSessionService.user.name + '! Let\'s get you started' ]"
    [buttons]="[]"
    [showToggleFullScreenButton]="true"
    [showReloadButton]="true">
</app-headline>
<div class="left">
    <!-- div class="head">
        <a (click)="openPaymentWizardDialog(true)">My Subscriptions</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a (click)="openIntroDialog()">Introduction Tour</a><ng-container *ngIf="calendlyUri">&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a target="_blank" href="https://calendly.com/{{calendlyUri}}">Book a call to learn more</a></ng-container>
    </div -->
    <dx-scroll-view showScrollbar="onHover" height="calc(100vh - 180px)">
        <div class="boxes">
            <div class="box">
                <div class="element">
                    <div class="overlap products">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group"><div class="text-wrapper">1</div></div>
                        </div>
                        <img class="icon-box" src="assets/common/images/add-product-form.svg" />
                        <p class="title">{{ls.l('Welcome_ProductsTitle')}} <br />&amp; {{ls.l('Welcome_ProductsTitle2')}}</p>
                        <button class="button" (click)="openProductDialog()">
                            <img class="btn-img" src="assets/common/icons/plus.svg" />
                            <div class="btn-text">New Product</div>
                        </button>
                        <!-- button class="button add-coupon" (click)="openCouponDialog()">
                            <img class="btn-img" src="assets/common/icons/plus.svg" />
                            <div class="btn-text">New Coupons</div>
                        </button -->
                        <div class="points">
                            <div class="point" (click)="router.navigate(['app/crm/products'])">
                                <img class="icon" src="assets/common/icons/new-subscription.svg" />
                                <div class="label">Show All Products</div>
                            </div>
                            <div class="point">
                                <img class="icon" src="assets/common/icons/new-coupon.svg" />
                                <div class="label"><u (click)="router.navigate(['app/crm/coupons'])">Show</u> or <u (click)="openCouponDialog()">Add</u> Coupons</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="element">
                    <div class="overlap payment">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group">
                                <div class="text-wrapper">2</div>
                            </div>
                        </div>
                        <img class="icon-box" src="assets/common/images/card-add.svg" />
                        <div class="title">{{ls.l('Welcome_PaymentsTitle')}} <br />{{ls.l('Welcome_PaymentsTitle2')}} </div>
                        <button (click)="connectStripeAccount()" class="button" [disabled]="!isPaymentsEnabled || stripePaymentSettings.isConnectedAccountSetUpCompleted">
                            <img class="btn-img" src="assets/common/icons/plus.svg" *ngIf="!stripePaymentSettings.isConnectedAccountSetUpCompleted" />
                            <div class="btn-text">{{stripePaymentSettings.isConnectedAccountSetUpCompleted ? ls.l('Stripe Connected'): (stripePaymentSettings.connectedAccountId ? ls.l('Finish onboarding Stripe') : ls.l('Connect Stripe'))}}</div>
                        </button>
                        <div class="links">
                            <img class="link paypal" (click)="router.navigate(['app/admin/settings'], { queryParams: { tab: 'paypal' } })" src="assets/common/images/paypal.svg" />
                            <img class="link ach-payment" src="assets/common/images/ach-payment-solutions.svg" />
                            <img class="link add-card" src="assets/common/images/zelle.svg" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="element">
                    <div class="overlap settings">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group">
                                <div class="text-wrapper">3</div>
                            </div>
                        </div>
                        <img class="icon-box" src="assets/common/images/settings.svg" />
                        <div class="title">{{ls.l('Welcome_SettingsTitle')}} <br />&amp; {{ls.l('Welcome_SettingsTitle2')}} </div>
                        <button class="button" (click)="openProfileTenantSettingsDialog()">
                            <img class="btn-img" src="assets/common/icons/invoice-settings.svg" />
                            <div class="btn-text">My Settings</div>
                        </button>
                        <div class="points">
                            <div class="point" *ngIf="showLandingPageSettings" (click)="openProfileTenantSettingsDialog('landingPage')">
                                <img class="icon" src="assets/common/icons/grid.svg" />
                                <div class="label">Sales Landing Page</div>
                            </div>
                            <div class="point" *ngIf="showInvoiceSettings" (click)="openProfileTenantSettingsDialog('invoice')">
                                <img class="icon" src="assets/common/icons/task-square.svg" />
                                <div class="label">Invoice Settings</div>
                            </div>
                            <div class="point">
                                <img class="icon" src="assets/common/icons/email-icon.svg" />
                                <div class="label">Email <u (click)="openProfileTenantSettingsDialog('email')">SMTP</u> or <u (click)="openProfileTenantSettingsDialog('gmail')">Gmail</u></div>
                            </div>
                            <div class="point" (click)="router.navigate(['app/crm/documents'])">
                                <img class="icon" src="assets/common/icons/document-sketch.svg" />
                                <div class="label">Tenant Files</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="element">
                    <div class="overlap favorite">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group">
                                <div class="text-wrapper">4</div>
                            </div>
                        </div>
                        <img class="icon-box" src="assets/common/images/category.svg" />
                        <div class="title">{{ls.l('Welcome_AppsTitle')}} <br />{{ls.l('Welcome_AppsTitle2')}} </div>
                        <div class="points">                                     
                            <div class="point" (click)="router.navigate(['app/admin/settings'], { queryParams: { tab: 'Mailchimp' } })">
                                <img class="icon" src="assets/common/icons/mailchimp-freddie-icon.svg" />
                                <div class="label">MailChimp</div>
                            </div>
                            <div class="point disabled">
                                <img class="icon" src="assets/common/icons/pngwing.svg" />
                                <div class="label">Google Analytics</div>
                            </div>
                            <div class="point disabled">
                                <img class="icon" src="assets/common/icons/meta.svg" />
                                <div class="label">Meta</div>
                            </div>
                            <div class="point" *ngIf="showZapier" (click)="router.navigate(['/app/crm/zapier'])">
                                <img class="icon" src="assets/common/icons/zapier-icon.svg" />
                                <div class="label">Zapier</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="element">
                    <div class="overlap import">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group">
                                <div class="text-wrapper">5</div>
                            </div>
                        </div>
                        <img class="icon-box" src="assets/common/images/user-square.svg" />
                        <p class="title">{{ls.l('Welcome_ImportTitle')}} <br />{{ls.l('Welcome_ImportTitle2')}} </p>
                        <button class="button" (click)="openContactDialog()">
                            <img class="btn-img" src="assets/common/icons/plus.svg" />
                            <div class="btn-text">New Contact</div>
                        </button>
                        <div class="points">
                            <div class="point" (click)="router.navigate(['app/crm/leads'])">
                                <img class="icon" src="assets/common/icons/user-edit.svg" />
                                <div class="label">Manage Leads</div>
                            </div>
                            <div class="point" (click)="router.navigate(['app/crm/clients'])">
                                <img class="icon" src="assets/common/icons/peoples.svg" />
                                <div class="label">Manage Clients</div>
                            </div>
                            <div class="point" (click)="router.navigate(['app/crm/import-leads'])" *ngIf="showImportLeads">
                                <img class="icon" src="assets/common/icons/send-square.svg" />
                                <div class="label">Import Your List</div>
                            </div>
                            <div class="point" (click)="openIntroDialog(true)" *ngIf="showImportUsersStep">
                                <img class="icon" src="assets/common/icons/user-add.svg" />
                                <div class="label">Add and Invite Team Members</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="element">
                    <div class="overlap affiliate">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group">
                                <div class="text-wrapper">6</div>
                            </div>
                        </div>
                        <img class="icon-box" src="assets/common/images/format-square.svg" />
                        <div class="title">{{ls.l('Welcome_SetupTitle')}} <br />{{ls.l('Welcome_SetupTitle2')}} </div>
                        <div class="points">
                            <div class="point" (click)="openProfileTenantSettingsDialog('commissions')" *ngIf="showCommissionsSettings">
                                <img class="icon" src="assets/common/icons/archive-book.svg" />
                                <div class="label">Affilate Rules</div>
                            </div>
                            <div class="point" (click)="router.navigate(['app/crm/commission-history'])" *ngIf="showCommissionsSettings">
                                <img class="icon" src="assets/common/icons/money-time.svg" />
                                <div class="label">Commission History</div>
                            </div>                                                             
                            <!-- div class="point disabled">
                                <img class="icon" src="assets/common/icons/format-circle.svg" />
                                <div class="label">Connect Your Payout Providers</div>
                            </div -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </dx-scroll-view>
</div>
<div class="right">
    <div class="box">
        <div class="group">
            <div class="div-wrapper">
                <div class="text-wrapper" (click)="openPaymentWizardDialog(true)">Your Active Plan</div>
            </div>
            <div class="ellipse"></div>
            <div class="overlap">
                <ng-container *ngFor="let sub of subscriptions">
                    <div class="p">
                        <b (click)="openPaymentWizardDialog(true)">{{sub.productName}}</b>
                        <div class="icon" *ngIf="sub.isUpgradable">
                            <div class="overlap-group" (click)="openPaymentWizardDialog(false, {upgrade: true, productId: sub.productId})">
                                <div class="div">Upgrade</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="group-2">
                <a class="text-wrapper-2" target="_blank" href="https://calendly.com/{{calendlyUri}}">Book a call to learn more</a>
                <div class="text-wrapper-3" (click)="openIntroDialog()">Learn More: Introduction Tour</div>
                <div class="ellipse-2"></div>
                <div class="ellipse-3"></div>
                <div class="overlap-2" (click)="openCalendly()">
                    <div class="book-your-free">Book Your Free <br />Discovery Call</div>
                    <img class="img" src="assets/common/images/avatar.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
