<div class="left-menu">
  <div class="top">
    <img src="assets/common/icons/home.svg" alt="home-icon" />
    <button class="home-button">Home</button>
    <button class="close-button" (click)="closeMenu()">
      <img src="assets/common/icons/close.svg" alt="close-icon" />
    </button>
  </div>
  <div class="items-list">
    <ul class="items-progress">
      <ng-template ngFor let-item [ngForOf]="items" let-i="index">
        <li
          *ngIf="itemIsVisible(item) | async"
          [ngClass]="{
            'items-progress-item': true,
            passed: i < selectedItemIndex,
            current: !item.isModalDialog && i == selectedItemIndex,
            disabled: item.disabled
          }"
        >
          <div class="img">
            <img [src]="item.iconSrc" />
          </div>
          <div [ngClass]="{ link: item.component || item.onClick }" (click)="onClick($event, item)">
            <span>{{ item.caption }}</span>
            <span *ngIf="item.showPlus" class="add-button" (click)="addButtonClick($event, item)"
              >+</span
            >
          </div>
        </li>
      </ng-template>
    </ul>
  </div>
</div>
