:host {
    .inplace-edit-view-mode {
        display: inline-block;
    }

    .inplace-edit-edit-mode {
        height: 35px;
        display: inline-block;
    
        /deep/ input {
            margin: 0px;
            padding: 0 0 0 5px;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.67;
            letter-spacing: 0.3px;
            text-align: left;
            font-family: Montserrat;
        }
    
        dx-text-box, dx-button {
            display: inline-block;
        }
        // dx-text-box {
        //     min-width: 230px;
        //     width: 70%;
        // }
        dx-button {
            border: none;
            position: relative;
            top: -14px;
            // width: 14px;
            // height: 12px;
        }

        /deep/ .button-update i {
            color: #00aeef;
        }
        /deep/ .button-exit i {
            color: #f44336;
        }
}
}