<div *ngIf="data?.value && label">{{ label }}</div>
<div [hidden]="isEditModeEnabled" class="inplace-edit-view-mode {{multiline ? 'multiline': ''}}">
    <span class="link" [ngClass]="{ 'placeholder': !data?.value }" [attr.title]="data?.link" (click)="setEditModeEnabled(true, $event)">
        <a (click)="data?.link && $event.stopPropagation()" [attr.href]="data?.link" [attr.title]="data?.displayValue || data?.value || data?.lEditPlaceholder" target="_blank" #editText>{{data?.displayValue || data?.value || data?.lEditPlaceholder}}</a>
    </span>
    <div class="actions" [ngClass]="{ hidden: data?.isReadOnlyField }">
        <i *ngIf="data?.value" class="copy fa fa-clone" aria-hidden="true" (click)="copyToClipbord()"></i>
        <i *ngIf="data?.isEditDialogEnabled" class="edit fa fa-pencil" aria-hidden="true" (click)="showDialog($event)"></i>
        <i *ngIf="data?.isDeleteEnabled" class="delete fa fa-times" aria-hidden="true" (click)="deleteItem($event)"></i>
    </div>
</div>
<div *ngIf="!data?.isReadOnlyField && isEditModeEnabled" class="inplace-edit-edit-mode {{multiline ? 'multiline': ''}}">
    <dx-text-area *ngIf="multiline"
        [placeholder]="data?.lEditPlaceholder"
        [(value)]="valueOriginal"
        [autoResizeEnabled]="true"
        (onInitialized)="onTextAreaInitialized($event)">
        <dx-validator [validationRules]="data?.validationRules || []"></dx-validator>
    </dx-text-area>
    <dx-text-box *ngIf="!multiline"
        [placeholder]="data?.lEditPlaceholder"
        [(value)]="valueOriginal"
        [maskInvalidMessage]="maskInvalidMessage"
        [maxLength]="maxLength"
        (onFocusIn)="onFocusIn($event)"
        (onFocusOut)="onFocusOut($event)">
        <dx-validator [validationRules]="data?.validationRules || []"></dx-validator>
    </dx-text-box>
    <dx-button class="button-update" icon="todo" (onClick)="updateItem()"></dx-button>
    <dx-button class="button-exit" icon="refresh" (onClick)="setEditModeEnabled(false)"></dx-button>
</div>
