:host {
    width: 280px;
    display: flex;
    justify-content: center;
    dx-drop-down-box {
        background: transparent;
    }

    /deep/ .selectionList {
        align-self: center;
        .dx-texteditor-input,
        .dx-placeholder {
            font-size: 17px;
            letter-spacing: 0.3px;
            padding: 0 5px;
            height: auto !important;
            font-weight: 500;
            top: 0;
            bottom: 0;
            background: transparent;
            border: none;
            cursor: pointer;
            @media (max-width: 768px) {
                font-size: 13px;
            }
        }

        .dx-texteditor-buttons-container {
            display: none;
        }

        .dx-texteditor-container {
            padding-top: 0;
            padding-right: 0;
            display: flex;
            align-items: center;
            input {
                overflow: visible;
                display: block;
                white-space: nowrap;
                padding: 0;
            }
        }
    }
}

/deep/ .dx-popup-content {
    .bussiness-entities-chooser {
        margin: 5px;
        .select-all {
            padding: 10px 25px;
            border-bottom: 1px solid #dfdfdf;
            margin-left: -7px;
            position: absolute;
            top: 0;
            width: 100%;
            dx-check-box {
                display: inline-block;
                .dx-checkbox-container {
                    text-overflow: initial;
                }
                .dx-checkbox-text {
                    margin-left: -15px;
                }
                @media (max-width: 768px) {
                    width: 110px !important;
                }
            }
            .accounts-filter {
                width: 16px;
                height: 15px;
                float: right;
                cursor: pointer;
                display: inline-block;
                background: url(../../../../assets/common/icons/find-icon.svg)
            }
        }
        dx-tree-view {
            padding-top: 45px;
        }
    }
}

/deep/ .dx-item-content {
    .selection-list-item {
        display: flex;
        justify-content: space-between;
        &.highlighted span {
            font-weight: bold;
        }
        &:before {
            display: none;
        }
    }
}
