<div class="selectionList">
    <ng-container *ngIf="bankAccountsService.sortedBusinessEntities$ | async as dataSource">
        <dx-drop-down-box *ngIf="dataSource.length"
            width="300px"
            [value]="getSelectedTitle(dataSource)"
            [placeholder]="ls.l('All_Entities') + ' \u25BE'"
            (onOpened)="onPopupOpened($event, dataSource)"
            (onClosed)="onPopupClosed($event)">
            <div *dxTemplate="let contentData of 'content'" class="bussiness-entities-chooser">
                <div class="select-all">
                    <dx-check-box #selectAll
                        width="100px"
                        [text]="ls.l('Select All')"
                        [value]="selectedAll"
                        (onValueChanged)="onSelectAll($event, dataSource)">
                    </dx-check-box>
                    <span *ngIf="onFilterButtonClick.observers.length" class="accounts-filter" (click)="filterButtonClick($event)"></span>
                </div>
                <dx-tree-view
                    [expandAllEnabled]="true"
                    [parentIdExpr]="'parentId'"
                    [dataStructure]="'plain'"
                    [dataSource]="dataSource"
                    [selectedExpr]="'selected'"
                    [hasItemsExpr]="'hasChildren'"
                    [showCheckBoxesMode]="'normal'"
                    [displayExpr]="'name'"
                    itemTemplate="itemTemplate"
                    (onSelectionChanged)="selectedItemsChange(dataSource)">
                    <div *dxTemplate="let item of 'itemTemplate'">
                        <div class="selection-list-item {{item.hasChildren ? 'highlighted' : ''}}">
                            <span [title]="item.name">{{item.name}}</span>
                        </div>
                    </div>
                </dx-tree-view>
            </div>
        </dx-drop-down-box>
    </ng-container>
</div>
