@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
.tou-footer {
    position: relative;
}
.tou-footer::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 10;
    background: #ffffff;
}
.tou-footer a {
    color: #333 !important;
    text-decoration: none !important;
}

.quovo-connect-content {
    width: 880px;
    height: 655px;
}

#quovo-connect-modal.quovo-connect .close-modal {
    font-size: 12px;
    color: rgb(55, 56, 58);
    text-shadow: 0 0 1px;
    font-weight: bold;
}

#quovo-connect-modal.quovo-connect .search h2 {
    font-weight: 500;
    font-family: Montserrat;
    font-size: 32px !important;
    text-align: center;
    color: #424c56;
    margin-bottom: 45px;
    margin-top: 15px;
}

#quovo-connect-modal.quovo-connect .search h2::after {
    content: 'Search from over 15.000 financial institutions';
    display: block;
    font-weight: 400;
    font-family: Montserrat;
    font-size: 15px !important;
    line-height: 1.44;
    letter-spacing: 0.4px;
    text-align: center;
    color: #888d92;
    margin-top: 12px;
}

#quovo-connect-modal.quovo-connect .search .search-group input {
    max-width: 460px;
    width: 100%;
    font-size: 16px !important;
    line-height: 1.24;
    letter-spacing: 0.4px;
    color: #424c56;
    border: solid 1px #dadee1;
    padding: 11px 17px;
    border-radius: 3px;
    margin-bottom: 20px;
}

#quovo-connect-modal.quovo-connect .search .search-group i {
    color: rgba(104, 111, 118, 0.7);
    font-size: 20px;
    font-weight: 400;
    top: 12px;
    right: 12px;
}

#quovo-connect-modal.quovo-connect .institutions-container {
    height: auto;
    max-width: 630px;
    margin: 0 auto;
}

#quovo-connect-modal.quovo-connect .institutions-container .institutions {
    padding: 0 0 20px;
}

#quovo-connect-modal.quovo-connect .institutions .institution-card {
    height: 95px;
    padding: 18px 12px;
}

#quovo-connect-modal.quovo-connect .p-10 {
    padding: 8px !important;
}

/*  placeholder styles */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.3px;
    color: #dadee1;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.3px;
    color: #dadee1;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.3px;
    color: #dadee1;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 0.3px;
    color: #dadee1;
}
