<modal-dialog [title]="ls.l('INVOICE')"
              [titleClearButton]="false"
              [buttons]="buttons"
              [isTitleValid]="isTitleValid"
              [editTitle]="false"
              [placeholder]="ls.l('Invoice #')"
              (onContextItemChanged)="onSaveOptionSelectionChanged()">
    <ng-container headerContent>
        <label>#</label>
        <dx-text-box #invoice
                     width="270px"
                     height="40px"
                     name="invoiceNo"
                     [disabled]="disabledForUpdate"
                     [placeholder]="'INV-XXXXXXXX-XXXX'"
                     [(value)]="invoiceNo"
                     [showClearButton]="false">
        </dx-text-box>
        <a (click)="openInvoiceSettings()" class="settings-button">
            <i class="edit fa fa-pencil"></i>{{ls.l('Settings')}}
        </a>
        <span>{{ startCase(status) | uppercase }}</span>
    </ng-container>

    <div class="form-content">
        <dx-scroll-view showScrollbar="onHover">
            <div class="field-area description">
                <dx-text-box name="description"
                             width="391px"
                             height="50px"
                             [placeholder]="ls.l('Invoice_AddDescription')"
                             [disabled]="disabledForUpdate"
                             [(value)]="description">
                </dx-text-box>
                <currency-selector [(currency)]="selectBoxCurrency"
                                   [disabled]="disabledForUpdate || invoiceId"
                                   (onCurrencyChanged)="onCurrencyChanged($event)">
                </currency-selector>
                <div class="logo-container">
                    <img [src]="appSession.appearanceConfig && appSession.appearanceConfig.logoId ? remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?logoId=' + appSession.appearanceConfig.logoId : './assets/common/images/sperse-logo.png'" alt="logo" />
                </div>
            </div>
            <div class="field-area flex-space-between">
                <div class="bill-to">
                    <label class="bold-label">
                        {{ls.l('Invoice_BillTo')}}
                        <img *ngIf="disabledForUpdate; else billingEditButtons"
                             class="preview"
                             src='./assets/common/icons/preview.svg'
                             (click)="showEditAddressDialog($event, 'selectedBillingAddress')">
                        <ng-template #billingEditButtons>
                            <i *ngIf="selectedBillingAddress" class="edit fa fa-pencil" (click)="showEditAddressDialog($event, 'selectedBillingAddress')"></i>
                            <i *ngIf="selectedBillingAddress" class="remove fa fa-remove" (click)="selectedBillingAddress = undefined"></i>
                        </ng-template>
                        <a (click)="createClient()" [hidden]="contactId || disabledForUpdate || data?.contactInfo">+ {{ls.l('New') + ' ' + ls.l('Client')}}</a>
                        <a (click)="clearClient()" [hidden]="!contactId || disabledForUpdate || data?.contactInfo || data?.invoice">{{ls.l('Change') + ' ' + ls.l('Client')}}</a>
                    </label>
                    <span *ngIf="!selectedBillingAddress && selectedContact">
                        {{selectedContact?.name || selectedContact?.email}}
                    </span>
                    <button *ngIf="!contactId"
                            class="select-contacts"
                            [ngClass]="{ disabled: data?.invoice || data?.contactInfo }"
                            (click)="openContactListDialog($event)">
                        {{ ls.l('Select Client') }}*
                    </button>

                    <dx-select-box #billingAddress
                                   name="billingAddress"
                                   width="220px"
                                   height="40px"
                                   displayExpr="display"
                                   [visible]="contactId && !selectedBillingAddress"
                                   itemTemplate="addressTemplate"
                                   [disabled]="disabledForUpdate"
                                   [placeholder]="ls.l('Select Address')"
                                   [(value)]="selectedBillingAddress"
                                   [dataSource]="billingAddresses"
                                   (onValueChanged)="onAddressChanged($event, 'selectedBillingAddress')">
                        <div *dxTemplate="let cellData of 'addressTemplate'" [title]="cellData.display">
                            <i class="address-icons type-{{cellData.usageTypeId || 'B'}}"></i>
                            <span class="address-item-text">{{ cellData.display }}</span>
                        </div>
                    </dx-select-box>
                    <a *ngIf="contactId && !selectedBillingAddress"
                       [ngClass]="{'disabled': isAddressDialogOpened}"
                       (click)="showEditAddressDialog($event, 'selectedBillingAddress')">
                        {{ls.l('+ Add New Address')}}
                    </a>
                    <div class="selected-contact-info" *ngIf="selectedBillingAddress">
                        <div *ngIf="selectedBillingAddress?.company as company">{{ company }}</div>
                        <div *ngIf="[selectedBillingAddress?.firstName, selectedBillingAddress?.lastName].filter(filterBoolean).join(' ') as customer">{{ customer }}</div>
                        <div *ngIf="[selectedBillingAddress?.email, selectedBillingAddress?.phone].filter(filterBoolean).join(', ') as contacts">{{ contacts }}</div>
                        <div *ngIf="selectedBillingAddress?.address1 as address">{{ address }}</div>
                        <div *ngIf="selectedBillingAddress?.city as city">{{ city }}</div>
                        <div *ngIf="[selectedBillingAddress?.stateId, selectedBillingAddress?.zip].filter(filterBoolean).join(' ') as state">{{ state }}</div>
                        <div *ngIf="selectedBillingAddress?.countryId as countryId">{{ countryId == defaultCountryCode ? '' : countryId }}</div>
                    </div>
                </div>
                <div class="ship-to" [hidden]="!invoiceSettings.showShippingAddress">
                    <label class="bold-label">
                        {{ls.l('Invoice_ShipTo')}}
                        <img *ngIf="disabledForUpdate; else shippingEditButtons"
                             class="preview"
                             src='./assets/common/icons/preview.svg'
                             (click)="showEditAddressDialog($event, 'selectedShippingAddress')">
                        <ng-template #shippingEditButtons>
                            <i *ngIf="selectedContact" class="edit fa fa-pencil" (click)="showEditAddressDialog($event, 'selectedShippingAddress')"></i>
                            <i *ngIf="selectedContact" class="remove fa fa-remove" (click)="selectedShippingAddress = undefined"></i>
                        </ng-template>
                    </label>
                    <span *ngIf="!selectedShippingAddress && selectedContact">
                        {{selectedContact?.name || selectedContact?.email}}
                    </span>
                    <dx-select-box #shippingAddress
                                   name="shippingAddress"
                                   width="220px"
                                   height="40px"
                                   displayExpr="display"
                                   itemTemplate="addressTemplate"
                                   [disabled]="disabledForUpdate"
                                   [visible]="contactId && !selectedShippingAddress"
                                   [placeholder]="ls.l('Select Address')"
                                   [(value)]="selectedShippingAddress"
                                   [dataSource]="shippingAddresses"
                                   (onValueChanged)="onAddressChanged($event, 'selectedShippingAddress')">
                        <div *dxTemplate="let cellData of 'addressTemplate'" [title]="cellData.display">
                            <i class="address-icons type-{{cellData.usageTypeId || 'S'}}"></i>
                            <span class="address-item-text">{{ cellData.display }}</span>
                        </div>
                    </dx-select-box>
                    <a *ngIf="contactId && !selectedShippingAddress"
                       [ngClass]="{'disabled': isAddressDialogOpened}"
                       (click)="showEditAddressDialog($event, 'selectedShippingAddress')">{{ls.l('+ Add New Address')}}</a>
                    <div class="selected-contact-info" *ngIf="selectedShippingAddress">
                        <div *ngIf="selectedShippingAddress?.company as company">{{ company }}</div>
                        <div *ngIf="[selectedShippingAddress?.firstName, selectedShippingAddress?.lastName].filter(filterBoolean).join(' ') as customer">{{ customer }}</div>
                        <div *ngIf="[selectedShippingAddress?.email, selectedShippingAddress?.phone].filter(filterBoolean).join(', ') as contacts">{{ contacts }}</div>
                        <div *ngIf="selectedShippingAddress?.address1 as address">{{ address }}</div>
                        <div *ngIf="selectedShippingAddress?.city as city">{{ city }}</div>
                        <div *ngIf="[selectedShippingAddress?.stateId, selectedShippingAddress?.zip].filter(filterBoolean).join(' ') as state">{{ state }}</div>
                        <div *ngIf="selectedShippingAddress?.countryId as country">{{ country == defaultCountryCode ? '' : country }}</div>
                    </div>
                </div>
                <div class="billed-from">
                    <label class="bold-label">{{ls.l('Invoice_BilledFrom')}}</label>
                    <div class="credentials">
                        <div class="address-container">
                            <div *ngIf="invoiceSettings?.legalName">{{invoiceSettings?.legalName}}</div>
                            <div *ngIf="invoiceSettings?.taxVatNo">{{invoiceSettings?.taxVatNo}}</div>
                            <pre>{{invoiceSettings?.address || ''}}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-area flex-space-between date-row">
                <div class="date-fields-area">
                    <dx-date-box #dateComponent
                                 width="160px"
                                 height="41px"
                                 type="date"
                                 [(value)]="date"
                                 [placeholder]="ls.lr('Date')"
                                 [disabled]="disabledForUpdate"
                                 (onContentReady)="onDateContentReady($event)">
                        <dx-validator>
                            <dxi-validation-rule type="required" [message]="ls.l('RequiredField', 'Date')"></dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                    <dx-date-box #dueDateComponent
                                 [placeholder]="ls.l('Invoice_DueOnReceipt')"
                                 [disabled]="disabledForUpdate || !date"
                                 (onKeyDown)="allowDigitsOnly($event, ['/'])"
                                 width="160px"
                                 height="41px"
                                 [min]="date"
                                 [(value)]="dueDate"
                                 (onContentReady)="onDateContentReady($event)">
                    </dx-date-box>
                    <dx-date-box #startDateComponent
                                 [placeholder]="ls.l('Subscription Start')"
                                 [disabled]="disabledForUpdate || !hasSubscription"
                                 (onKeyDown)="allowDigitsOnly($event, ['/'])"
                                 [showClearButton]="true"
                                 type="datetime"
                                 width="200px"
                                 height="41px"
                                 [min]="disabledForUpdate ? undefined : tomorrowDate"
                                 [(value)]="startDate"
                                 (onOpened)="onStartDateOpened($event)"
                                 (onValueChanged)="this.initiatePaymentMethodsCheck()">
                    </dx-date-box>
                </div>
                <order-dropdown [(orderId)]="orderId"
                                [(orderNumber)]="orderNumber"
                                [currency]="currency"
                                [contactId]="contactId"
                                [disabled]="disabledForUpdate || data?.invoice">
                </order-dropdown>
            </div>
            <div class="field-area lines">
                <dx-validation-group>
                    <dx-data-grid #productLines
                                  width="810px"
                                  height="auto"
                                  class="alone"
                                  [renderAsync]="true"
                                  [(dataSource)]="lines"
                                  [allowColumnReordering]="false"
                                  [columnAutoWidth]="true"
                                  [focusStateEnabled]="true"
                                  [showColumnLines]="false"
                                  [masterDetail]="{ enabled: true, template: 'detail'}"
                                  [scrolling]="{showScrollbar: 'never'}"
                                  [allowColumnResizing]="false"
                                  [loadPanel]="{enabled: false}"
                                  (onRowCollapsed)="changeDetectorRef.detectChanges()"
                                  (onRowExpanded)="changeDetectorRef.detectChanges()">

                        <dxo-editing [texts]="{confirmDeleteMessage: ''}"></dxo-editing>

                        <dxi-column width="350px" [caption]="ls.l('Description')" [allowSorting]="false" cellTemplate="description"></dxi-column>
                        <dxi-column width="110px" [caption]="ls.l('Quantity')" [allowSorting]="false" cellTemplate="quantity"></dxi-column>
                        <dxi-column width="100px" [caption]="ls.l('Rate')" [allowSorting]="false" cellTemplate="rate"></dxi-column>
                        <dxi-column width="100px" [caption]="ls.l('Unit')" [allowSorting]="false" cellTemplate="unit"></dxi-column>
                        <dxi-column width="120px" [caption]="ls.l('Total')" [allowSorting]="false" cellTemplate="total" cssClass="total"></dxi-column>
                        <dxi-column width="30px" caption="" [allowSorting]="false" [allowEditing]="false" cellTemplate="actions"></dxi-column>

                        <div *dxTemplate="let cellData of 'description'">
                            <dx-select-box name="customer"
                                           width="350px"
                                           height="32px"
                                           displayExpr="caption"
                                           valueExpr="description"
                                           [showClearButton]="true"
                                           valueChangeEvent="keyup"
                                           [placeholder]="ls.lr('Invoice_EnterDescription')"
                                           [acceptCustomValue]="true"
                                           [(value)]="cellData.data.description"
                                           [dataSource]="products"
                                           [searchEnabled]="true"
                                           [searchTimeout]="0"
                                           [maxLength]="255"
                                           (onFocusIn)="onFieldFocusIn($event, cellData)"
                                           (onCustomItemCreating)="onCustomDescriptionCreating($event)"
                                           (onInput)="productLookupItems($event, cellData, !cellData.data.isCrmProduct)"
                                           (onSelectionChanged)="selectProduct($event, cellData)"
                                           [disabled]="disabledForUpdate">
                                <dx-validator>
                                    <dxi-validation-rule type="required" [message]="ls.l('RequiredAllFields')"></dxi-validation-rule>
                                </dx-validator>
                                <div *dxTemplate="let cell of 'item'">
                                    <span title="{{cell.description}}">{{cell.description}}{{cell.isInStock ? '' : ' (Out of stock)' }}{{cell.hasRequiredAddOns ? ' (Requires AddOn)' : '' }}</span>
                                    <span class="tax-product" *ngIf="isTaxationEnabled && cell.isStripeTaxationEnabled">(AutoTax)</span>
                                </div>
                            </dx-select-box>

                            <div [ngStyle]="{left: featureMaxProductCount ? -50 : 0}" class="row-actions add-new" [hidden]="hideAddNew" *ngIf="!disabledForUpdate && cellData.data == lines[lines.length - 1] && !productLines.instance.isRowExpanded(cellData.data)">
                                <span *ngIf="featureMaxProductCount" [class.disabled]="lines.length != getFilteredLines().length && cellData.data.isCrmProduct" class="add-new add-product-line" (click)="addNewLine(productLines, true)">+ {{ls.l('AddProductLine')}}</span>
                                <span *ngIf="featureMaxProductCount" class="separator">|</span>
                                <span [class.disabled]="lines.length != getFilteredLines().length && !cellData.data.isCrmProduct" class="add-new add-custom-line" (click)="addNewLine(productLines)">+ {{ls.l('AddCustomLine')}}</span>
                            </div>
                        </div>
                        <div *dxTemplate="let cellData of 'quantity'">
                            <dx-number-box width="80px"
                                           height="32px"
                                           (onFocusIn)="onFieldFocusIn($event)"
                                           [placeholder]="ls.lr('Value')"
                                           [showClearButton]="false"
                                           [(value)]="cellData.data.quantity"
                                           (onValueChanged)="calculateLineTotal(cellData.data)"
                                           [disabled]="disabledForUpdate">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message=""></dxi-validation-rule>
                                    <dxi-validation-rule *ngIf="cellData.data.maxQuantity > 0" type="range" max="{{cellData.data.maxQuantity}}" message="Stock {{cellData.data.maxQuantity}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-number-box>
                        </div>
                        <div *dxTemplate="let cellData of 'rate'">
                            <dx-text-box
                                width="80px"
                                height="32px"
                                (onFocusIn)="onFieldFocusIn($event)"
                                [readOnly]="cellData.data.isCrmProduct && cellData.data.productId"
                                [placeholder]="ls.lr('Value')"
                                [showClearButton]="false"
                                (onKeyDown)="allowDigitsOnly($event, ['.'])"
                                [value]="cellData.data.rate | currency: currency: 'symbol'"
                                (onValueChanged)="onRateChanged($event, cellData)"
                                [disabled]="disabledForUpdate">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message=""></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                        <div *dxTemplate="let cellData of 'unit'">
                            <dx-select-box
                                name="unit"
                                width="145px"
                                height="32px"
                                displayExpr="unitName"
                                valueExpr="unitId"
                                [showDropDownButton]="false"
                                (onFocusIn)="onFieldFocusIn($event)"
                                [placeholder]="ls.lr('Select')"
                                [(value)]="cellData.data.unitId"
                                [dataSource]="cellData.data.units || invoiceUnits"
                                [dropDownOptions]="{ width: 220 }"
                                (onValueChanged)="onUnitChanged($event, cellData)"
                                (onOpened)="onUnitOpened($event, cellData)"
                                [disabled]="disabledForUpdate">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message=""></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                        <div *dxTemplate="let cellData of 'total'" class="alr">
                            <dx-text-box
                                width="120px"
                                height="32px"
                                [placeholder]="currencySymbol"
                                dataType="number"
                                [readOnly]="true"
                                [value]="cellData.data.total | currency: currency: 'symbol'"
                                [disabled]="disabledForUpdate">
                            </dx-text-box>
                        </div>
                        <div *dxTemplate="let cellData of 'actions'" class="row-actions">
                            <i *ngIf="!disabledForUpdate" (click)="deleteLine(cellData, productLines)" class="delete-icon"></i>
                        </div>
                        <div *dxTemplate="let detail of 'detail'" style="position: relative;">
                            <dx-text-area 
                                width="100%"
                                height="100px"
                                valueChangeEvent="keyup"
                                [(value)]="detail.data.details"
                                [maxLength]="getDetailsMaxLength(detail)"
                                [placeholder]="disabledForUpdate ? '' : ls.l('Enter') + ' ' + ls.l('AdditionalDetails') + '...'"
                                [disabled]="disabledForUpdate">
                            </dx-text-area>
                            <div class="footer-wrapper" *ngIf="!disabledForUpdate">
                                <div class="number-of-symbols">{{ (getDetailsMaxLength(detail) - (detail?.data?.details?.length || 0)) + ' ' + ls.l('CharactersLeft') }}</div>
                            </div>

                            <div [ngStyle]="{left: featureMaxProductCount ? -50 : 0}" class="row-actions add-new" [hidden]="hideAddNew" *ngIf="!disabledForUpdate && detail.data == lines[lines.length - 1] && productLines.instance.isRowExpanded(detail.data)">
                                <span *ngIf="featureMaxProductCount" [class.disabled]="lines.length != getFilteredLines().length && detail.data.isCrmProduct" class="add-new add-product-line" (click)="addNewLine(productLines, true)">+ {{ls.l('AddProductLine')}}</span>
                                <span *ngIf="featureMaxProductCount" class="separator">|</span>
                                <span [class.disabled]="lines.length != getFilteredLines().length && !detail.data.isCrmProduct" class="add-new add-custom-line" (click)="addNewLine(productLines)">+ {{ls.l('AddCustomLine')}}</span>
                            </div>
                        </div>
                    </dx-data-grid>
                </dx-validation-group>
                <div class="payment-methods" *ngIf="showPaymentMethods && invoiceSettings?.configuredPaymentMethods">
                    <span>{{ls.l('Invoice_PaymentMethods')}}</span>
                    <ng-container *ngFor="let item of paymentMethods">
                        <dx-check-box [value]="item.disabled ? undefined : item.checked"
                                      [text]="item.name"
                                      [disabled]="item.disabled || (disabledForUpdate && !showUpdatePaymentMethodButton)"
                                      [visible]="item.visible"
                                      (onValueChanged)="paymentMethodChanged($event, item.value)">
                        </dx-check-box>
                    </ng-container>
                    <i [ngClass]="{ 'fa fa-spinner fa-spin': paymentMethodsCheckLoading }"></i>
                    <button *ngIf="showUpdatePaymentMethodButton" class="btn btn-primary" (click)="updatePaymentMethod()">Update</button>
                </div>
            </div>
        </dx-scroll-view>
        <div class="row stripe-subs-warning">
            <div *ngIf="allowedProducts == 'T'" class="col-12">
                * {{ls.l('Invoice_AutoTaxNeedsBillingAddress')}}<br>
            </div>
            <ng-container *ngIf="stripeSubscriptionsLinesCount > 1 || hasReccuringSubscription">
                <div *ngIf="stripeSubscriptionsLinesCount > 1" class="col-12">
                    * {{ls.l('Invoice_StripeSubsWarning', stripeSubscriptionsLinesCount)}}
                </div>
                <div *ngIf="hasReccuringSubscription && allowedProducts != 'T'" class="col-12">
                    * {{ls.l('Invoice_SubsTaxShippingWarning')}}
                </div>
                <div *ngIf="hasReccuringSubscription" class="col-12">
                    * {{ls.l('Invoice_SubsStartWarning')}}
                </div>
            </ng-container>
        </div>
        <div class="row bottom-container">
            <div class="col-sm-6">
                <div>
                    <div class="coupon-select-row">
                        <label class="bottom-container-text">{{ls.l('Invoice_CouponCode')}}</label>
                        <dx-select-box #couponSelect
                                       height="42px"
                                       width="340px"
                                       [inputAttr]="{readonly: 'readonly'}"
                                       [disabled]="disabledForUpdate"
                                       valueExpr="id"
                                       displayExpr="code"
                                       [showClearButton]="true"
                                       [placeholder]="ls.l('Invoice_SelectCoupon')"
                                       [(value)]="couponId"
                                       [dataSource]="couponsDataSource"
                                       [searchEnabled]="true"
                                       [searchTimeout]="500"
                                       (onSelectionChanged)="selectCoupon($event)">
                            <div *dxTemplate="let cell of 'item'">
                                <span [title]="cell.description">{{cell.code + " (" + cell.description + ")"}}</span>
                            </div>
                        </dx-select-box>
                    </div>
                    <div class="bottom-container-text coupon-description" [title]="couponSelect?.selectedItem?.description">
                        {{couponSelect.selectedItem ? couponSelect.selectedItem.description : ''}}
                    </div>
                </div>
                <div class="field-area notes">
                    <label class="notes-label">{{ls.l('InvoiceNote')}} <a (click)="resetNoteDefault()">({{ls.l('default')}} {{ls.l('note')}})</a></label>
                    <dx-text-area name="comment"
                                  class="bottom-container-text"
                                  [disabled]="disabledForUpdate"
                                  [width]="'380px'"
                                  [height]="'100px'"
                                  [(value)]="notes">
                    </dx-text-area>
                </div>
            </div>
            <div class="col-sm-6 conclusion bottom-container-text">
                <div class="sub-total"><span>{{ls.l('SubTotal')}}</span><span>{{subTotal | currency: currency: 'symbol'}}</span></div>
                <div class="user-total">
                    <span>{{ls.l('DiscountTotal')}}</span>
                    <span>
                        <dx-number-box [min]="0"
                                       [height]="33"
                                       [placeholder]="ls.l('Discount')"
                                       [format]="{ style: 'currency', currency: currency, useGrouping: true }"
                                       (onValueChanged)="calculateBalance()"
                                       [(value)]="discountTotal"
                                       [disabled]="true">
                        </dx-number-box>
                    </span>
                </div>
                <div class="user-total">
                    <span>{{ls.l('ShippingTotal')}}</span>
                    <span>
                        <dx-number-box [min]="0"
                                       [height]="33"
                                       [placeholder]="ls.l('Shipping')"
                                       [format]="{ style: 'currency', currency: currency, useGrouping: true }"
                                       (onValueChanged)="calculateBalance()"
                                       [(value)]="shippingTotal"
                                       [disabled]="hasReccuringSubscription || disabledForUpdate">
                        </dx-number-box>
                    </span>
                </div>
                <div class="user-total">
                    <span *ngIf="allowedProducts != 'T'">{{ls.l('TaxTotal')}}</span>
                    <span *ngIf="allowedProducts == 'T'">{{ls.l('Calculated Tax Total')}}</span>
                    <span>
                        <dx-number-box [min]="0"
                                       [height]="33"
                                       [format]="{ style: 'currency', currency: currency, useGrouping: true }"
                                       (onValueChanged)="taxChanged()"
                                       [(value)]="taxTotal"
                                       [disabled]="hasReccuringSubscription || disabledForUpdate || allowedProducts == 'T'">
                        </dx-number-box>
                    </span>
                </div>
                <div class="balance"><span>{{ls.l('Balance')}} ({{currency}})</span><span>{{balance | currency: currency: 'symbol'}}</span></div>
            </div>
        </div>
    </div>
</modal-dialog>
