<dx-context-menu
    [selectByClick]="true"
    [selectionMode]="'single'"
    [dataSource]="saveContextMenuItems"
    [position]="{ my: 'top right', at: 'bottom right' }"
    (onSelectionChanged)="onSaveOptionSelectionChanged($event)"
    (onItemClick)="onSaveItemClick($event)"
    target="#{{saveButtonId}}">
</dx-context-menu>

<modal-dialog [title]="ls.l('INVOICE')"
              [titleClearButton]="false"
              [buttons]="buttons"
              [isTitleValid]="isTitleValid"
              [editTitle]="false"
              [placeholder]="ls.l('Invoice #')">
    <ng-container headerContent>
        <label>#</label>
        <dx-text-box #invoice
            width="270px"
            height="40px"
            name="invoiceNo"
            [disabled]="disabledForUpdate"
            [placeholder]="'INV-XXXXXXXX-XXXX'"
            [(value)]="invoiceNo"
            [showClearButton]="false">
        </dx-text-box>
        <span>{{ status | uppercase }}</span>
    </ng-container>

    <div class="form-content">
        <dx-scroll-view showScrollbar="onHover">
            <div class="row">
                <div class="col-sm-8">
                    <div class="field-area description">
                        <dx-text-area
                            name="description"
                            width="500px"
                            height="85px"
                            [placeholder]="ls.l('Invoice_AddDescription')"
                            [disabled]="disabledForUpdate"
                            [(value)]="description">
                        </dx-text-area>
                    </div>
                    <div class="field-area profile">
                        <label class="from-label">{{ls.l('From')}}<a (click)="openInvoiceSettings()"><i class="edit fa fa-pencil"></i>{{ls.l('Settings')}}</a></label>
                        <div class="credentials">
                            <span>{{invoiceSettings?.legalName || ''}} {{invoiceSettings?.taxVatNo || ''}}</span>
                            <pre>{{invoiceSettings?.address || ''}}</pre>
                        </div>
                    </div>
                    <div class="field-area">
                        <label class="customer-label">{{ls.l('To')}}<a (click)="createClient()" [class.disabled]="disabledForUpdate">+ {{ls.l('New') + ' ' + ls.l('Client')}}</a></label>
                        <dx-select-box #contact
                            name="customer"
                            width="500px"
                            displayExpr="name"
                            valueExpr="name"
                            [disabled]="data.invoice"
                            [acceptCustomValue]="true"
                            [placeholder]="ls.lr('Enter Client Details')"
                            [(value)]="customer"
                            [dataSource]="customers"
                            [searchEnabled]="true"
                            [searchTimeout]="0"
                            (onFocusIn)="onFieldFocus($event)"
                            (onSelectionChanged)="selectContact($event)"
                            (onInput)="customerLookupItems($event)">
                        </dx-select-box>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="field-area">
                        <div class="logo-container">
                            <img [src]="appSession.tenant && appSession.tenant.logoId ? remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?logoId=' + appSession.tenant.logoId : './assets/common/images/sperse-logo.png'" alt="logo"/>
                        </div>
                    </div>
                    <div class="field-area">
                        <dx-date-box #dateComponent
                            [placeholder]="ls.lr('Date')"
                            [disabled]="disabledForUpdate"
                            [width]="'260px'"
                            (onKeyDown)="allowDigitsOnly($event, ['/'])"
                            [(value)]="date">
                        </dx-date-box>
                    </div>
                    <div class="field-area">
                        <dx-date-box #dueDateComponent
                            [placeholder]="ls.lr('Invoice_DueOnReceipt')"
                            [disabled]="disabledForUpdate"
                            (onKeyDown)="allowDigitsOnly($event, ['/'])"
                            [width]="'260px'"
                            [(value)]="dueDate">
                        </dx-date-box>
                    </div>
                    <div class="field-area">
                        <dx-drop-down-box #orderDropBox
                            width="260px"
                            [value]="orderNumber"
                            [disabled]="data.invoice"
                            [dataSource]="[orderNumber]"
                            [placeholder]="ls.l('Invoice_PurchaseOrderNumber')">
                            <div *dxTemplate="let contentData of 'content'">
                                <dx-data-grid #ordersGrid
                                    height="350px"
                                    accessKey="orderNumber"
                                    [dataSource]="ordersDataSource"
                                    [showColumnHeaders]="false"
                                    [showColumnLines]="false"
                                    [searchPanel]="{visible: true}"
                                    [selection]="{mode: 'single'}"
                                    (onRowClick)="onOrderSelected($event, orderDropBox)">
                                    <dxi-column dataField="Number" caption="{{ls.l('Number')}}"></dxi-column>
                                    <dxo-paging [pageSize]="20"></dxo-paging>
                                </dx-data-grid>
                            </div>
                        </dx-drop-down-box>
                    </div>
                </div>
            </div>
            <div class="field-area lines">
                <dx-validation-group>
                    <dx-data-grid
                        width="820px"
                        [height]="linesGridHeight"
                        [disabled]="disabledForUpdate"
                        [(dataSource)]="lines"
                        [allowColumnReordering]="false"
                        [columnAutoWidth]="true"
                        [focusStateEnabled]="true"
                        [showColumnLines]="false"
                        [scrolling]="{showScrollbar: 'never'}"
                        [allowColumnResizing]="false">

                        <dxi-column dataField="Description" width="360" caption="{{ls.l('Description')}}" [allowSorting]="false" cellTemplate="description"></dxi-column>
                        <dxi-column dataField="Quantity" width="140" caption="{{ls.l('Quantity')}}" [allowSorting]="false" cellTemplate="quantity"></dxi-column>
                        <dxi-column dataField="Rate" width="140" caption="{{ls.l('Rate')}}" [allowSorting]="false" cellTemplate="rate"></dxi-column>
                        <dxi-column dataField="Amount" width="140" caption="{{ls.l('Amount')}}" [allowSorting]="false" [allowEditing]="false" [calculateCellValue]="calculateLineAmount" cellTemplate="amount"></dxi-column>

                        <div *dxTemplate="let cellData of 'description'">
                            <dx-text-box
                                width="350px"
                                [placeholder]="ls.lr('Invoice_EnterDescription')"
                                [showClearButton]="true"
                                [value]="cellData.value"
                                (onValueChanged)="onValueChanged($event, cellData)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" [message]="ls.l('RequiredAllFields')"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                            <div class="row-actions">
                                <span *ngIf="cellData.rowIndex == lines.length - 1" (click)="addNewLine(cellData)"><i class="add-icon"></i>{{ls.l('Add new line')}}</span>
                                <span *ngIf="cellData.rowIndex != lines.length - 1" (click)="deleteLine(cellData)"><i class="delete-icon"></i>{{ls.l('Delete this line')}}</span>
                                <div class="icons"><i class="link"></i><i class="tag"></i></div>
                            </div>
                        </div>
                        <div *dxTemplate="let cellData of 'quantity'">
                            <dx-text-box
                                width="130px"
                                [placeholder]="ls.lr('EditValuePlaceholder')"
                                [showClearButton]="true"
                                [value]="cellData.value"
                                (onKeyDown)="allowDigitsOnly($event)"
                                (onValueChanged)="onValueChanged($event, cellData)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message=""></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                        <div *dxTemplate="let cellData of 'rate'">
                            <dx-text-box
                                width="130px"
                                [placeholder]="ls.lr('EditValuePlaceholder')"
                                [showClearButton]="true"
                                (onKeyDown)="allowDigitsOnly($event, ['.'])"
                                value="{{cellData.value | currency: invoiceSettings.currency}}"
                                (onValueChanged)="onRateChanged($event, cellData)">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message=""></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box><br>
                            <dx-select-box
                                name="unit"
                                width="130px"
                                [placeholder]="ls.lr('Unit')"
                                [value]="cellData.data.unitId"
                                [dataSource]="invoiceUnits"
                                (onValueChanged)="onValueChanged($event, cellData, 'unit')">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message=""></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                        <div *dxTemplate="let cellData of 'amount'">
                            <dx-text-box
                                width="130px"
                                placeholder=""
                                dataType="number"
                                [readOnly]="true"
                                value="{{cellData.value | currency: invoiceSettings.currency}}">
                            </dx-text-box>
                        </div>
                    </dx-data-grid>
                </dx-validation-group>
            </div>
        </dx-scroll-view>
        <div class="row bottom-container">
            <div class="col-sm-6">
                <div class="field-area notes">
                    <label class="notes-label">{{ls.l('Invoice Note')}} <a (click)="resetNoteDefault()">({{ls.l('default')}} {{ls.l('note')}})</a></label>
                    <dx-text-area
                        name="comment"
                        [disabled]="disabledForUpdate"
                        [width]="'380px'"
                        [height]="'100px'"
                        [(value)]="notes">
                    </dx-text-area>
                </div>
            </div>
            <div class="col-sm-6 conclusion">
                <div class="sub-total"><span>{{ls.l('Sub Total')}}</span><span>{{subTotal | currency: invoiceSettings.currency}}</span></div>
                <div class="total"><span>{{ls.l('Total')}} ({{invoiceSettings.currency}})</span><a>{{ls.l('Manage Default Taxes')}}</a><span>{{total | currency: invoiceSettings.currency}}</span></div>
                <div class="balance"><span>{{ls.l('Balance')}} ({{invoiceSettings.currency}})</span><span>{{balance | currency: invoiceSettings.currency}}</span></div>
            </div>
        </div>
    </div>
</modal-dialog>
