:host {
    .disabled {
        opacity: 0.5;
        cursor: pointer;
        pointer-events: none;
    }

    ::ng-deep .mat-dialog-actions {
        width: 200px;
        .mat-dialog-buttons {
            height: 50px!important;
        }
        #saveInvoiceOptions {
            width: 190px;
        }
    }

    ::ng-deep .mat-dialog-header {
        label {
            color: #8a969b;
            padding: 20px 0;
            font-size: 28px;
            position: relative;
        }
        .title-wrapper {
            width: 670px;
            justify-content: space-between;
            span {
                height: 30px;
                background: #dadee1;
                font-size: 11px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.9px;
                text-align: center;
                border-radius: 15px;
                color: #677380;
                padding: 7px 15px;
                align-self: center;
                margin-left: auto;
            }
        }
        .dx-selectbox {
            margin: 23px 10px;
            &, input {
                background: transparent;
                font-size: 15px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: 0.3px;
                color: #424c56;
            }
        }
        dx-text-box {
            &[name="invoiceNo"] {
                margin: 23px 0;
                &.dx-texteditor-empty.dx-state-focused .dx-placeholder {
                    top: -25px!important;
                }
            }
            &, input {
                background: transparent !important;
            }
            &[name="title"] {
                width: 140px !important;
                input {
                    border: none;
                    font-weight: 800 !important;
                }
            }
            input {
                &, &:read-only {
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.09;
                    letter-spacing: 0.4px;
                    padding-left: 17px;
                    background-color: #F3F7FA;
                }
            }
        }
    }

    .toolbar-wraper {
        width: 100%;
        app-toolbar {
            float: right;

            ::ng-deep .dx-selectbox-container {
                input {
                    border: none;
                }
            }
        }
    }

    .form-content {
        display: flex;
        flex-direction: column;
        padding: 20px 0 20px 50px;
        height: calc(~"100vh - 82px");
        width: 900px;

        .row {
            width: 820px;
        }

        .logo-container {
            width: 170px;
            height: 50px;
            display: inline-block;
            border: 1px solid #dedede;
            text-align: center;
            background: #FFF;
            overflow: hidden;
            position: relative;
            img {
                max-height: 50px;
                max-width: 160px;
                padding: 5px 0px;
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        .settings-button {
            width: 110px;
            height: 50px;
            display: inline-block;
            vertical-align: top;
            border: 1px solid #dedede;
            margin-right: 10px;
            text-align: center;
            padding: 13px 0px;
            color: #00aeef;
            i {
                padding-right: 5px;
            }
        }

        .drop-down-box-wrapper {
            width: 130px;
            height: 34px;
            overflow: hidden;
            display: inline-block;
            ::ng-deep .dx-widget {
                margin: 0;
                input {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.79;
                    letter-spacing: 0.3px;
                    color: #424c56;
                    padding: 0;
                }
                .dx-texteditor-buttons-container {
                    left: 97px;
                    .dx-dropdowneditor-button {
                        float: left;
                    }
                }
            }
        }

        ::ng-deep .field-area {
            display: block;
            margin-bottom: 20px;
            &.flex-space-between {
                width: 840px;
                display: flex;
                margin-bottom: 10px;
                justify-content: space-between;
            }
            .date-fields-area {
                width: 440px;
                display: flex;
                justify-content: space-between;
            }
            &.addr {
                margin-bottom: 0;
            }
            &.notes {
                margin-top: 20px;
                margin-bottom: 0;

                span.clear-contact {
                    align-self: flex-start;
                }

                a {
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.79;
                    letter-spacing: 0.3px;
                    color: #00aeef;
                }

                text-area {
                    font-size: 15px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.47;
                    letter-spacing: 0.3px;
                    color: #424c56;
                }
            }

            &.lines {
                margin-bottom: 0;
                margin-top: 20px;

                /*dx-text-box {
                    input {
                        text-align: right;
                    }
                }*/

                dx-text-box,
                dx-number-box,
                dx-select-box {
                    padding: 0 7px;
                }

                .alr {
                    ::ng-deep .dx-texteditor-input {
                        text-align: right !important;
                    }
                }

                .dx-datagrid-rowsview {
                    overflow: visible !important;

                    .dx-scrollable-container {
                        overflow: visible !important;
                    }
                }

                .dx-invalid.dx-texteditor.dx-editor-outlined.dx-show-invalid-badge .dx-texteditor-input-container:after {
                    top: 12px;
                    right: 0px;
                    margin-top: 0;
                }
            }

            &.date-row {
                padding-top: 15px;

                .dx-dropdowneditor-input-wrapper,
                .dx-texteditor-container {
                    overflow: visible;
                }

                .dx-invalid.dx-texteditor.dx-editor-outlined.dx-show-invalid-badge .dx-texteditor-input-container:after {
                    right: -20px;
                    pointer-events: auto;
                }

                .dx-state-disabled {
                    opacity: .5;

                    .dx-dropdowneditor-button {
                        display: block;
                    }
                }
            }

            .bold-label {
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: 0.28px;
                text-transform: uppercase;
                color: #202b35;

                i.edit, i.remove, img {
                    display: inline;
                    cursor: pointer;
                    color: #00aeef;
                    margin: auto;
                    margin-left: 10px;
                }

                i.edit {
                    margin-right: auto;
                }

                i.remove {
                    display: none;
                    color: red;
                    right: 6px;
                }

                img {
                    right: 6px;
                }

                &:hover {
                    i.edit {
                        margin-right: 0px;
                    }
                    i.remove {
                        display: block;
                    }
                }
            }
            .ship-to, .bill-to {
                min-width: 250px;
                position: relative;
                .selected-contact-info {
                    position: relative;
                    font-size: 15px;
                    line-height: 1.3;
                    color: #424c56;
                    padding-right: 30px;
                }
                & > a {
                    display: block;
                    font-size: 10px;
                    color: #58a3dc;
                }
                dx-select-box[name="customer"] {
                    input {
                        border-bottom: 0;
                    }
                }
            }
            .billed-from {
                min-width: 300px;
                .credentials {
                    display: flex;
                    justify-content: space-between;
                    max-height: 141px;
                    span, pre {
                        font-family: Montserrat;
                        display: block;
                        font-size: 15px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.47;
                        letter-spacing: 0.3px;
                        color: #424c56;
                    }
                    pre {
                        overflow-y: auto;
                        max-height: 130px;
                    }
                    span {
                        font-weight: 500;
                    }
                    .address-container {
                        max-width: 222px;
                    }
                }
            }
            label {
                display: flex;
                min-width: 100px;
                justify-content: space-between;
                &.notes-label {
                    display: block;
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: 0.3px;
                    color: #677380;
                }
                a {
                    font-size: 14px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: 0.3px;
                    text-transform: initial;
                    text-align: right;
                    padding-right: 10px;
                    color: #00aeef;
                    i {
                        color: #00aeef;
                        padding-right: 8px;
                    }
                }
            }

            p {
                width: 100%;
                height: 22px;
                max-width: 750px;
                position: relative;
                padding-left: 290px;
                padding-right: 32px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            ::ng-deep dx-select-box[name="product"] {
                padding-left: 10px;
                input {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .dx-selectbox-container, 
                .dx-texteditor-container {
                    overflow: visible;
                }
                .dx-icon.dx-icon-clear {
                    z-index: 999;
                    left: 20px;
                    top: 20px;
                }
                &.dx-state-focused {
                    .dx-placeholder {
                        display: none!important;
                    }
                }
            }

            dx-text-box[name="description"],
            dx-date-box, dx-number-box, 
            dx-drop-down-box {
                height: 34px !important;

                input {
                    padding-top: 9px !important;
                }

                .dx-placeholder.dx-state-invisible,
                &.dx-state-focused .dx-placeholder {
                    font-size: 11px!important;
                    top: -13px!important;
                }
                .dx-placeholder {
                    padding: 0;
                    &.dx-state-invisible {
                        display: block!important;
                        font-size: 11px!important;
                        opacity: 1!important;
                    }
                    &:before {
                        padding: 0;
                    }
                }
            }
            dx-text-box[name="description"] {
                height: 50px !important;
                padding-right: 10px;
                vertical-align: top;
            }
            dx-text-box, dx-number-box, 
            dx-text-area, .dx-selectbox {
                &.dx-state-focused {
                    .dx-placeholder {
                        top: -30px;
                    }
                }
            }
            dx-text-box, dx-number-box, 
            dx-text-area, dx-select-box,
            dx-drop-down-box, dx-date-box {
                display: inline-block;

                &.dx-invalid {
                    input {
                        color: #d9534f!important;
                    }
                }
                input, textarea {
                    color: #424c56;
                }
                .dx-placeholder, input, textarea {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.79;
                    letter-spacing: 0.3px;
                    padding: 0;
                }
            }
            dx-select-box[name="customer"] {
                .dx-texteditor-buttons-container {
                    display: none;
                }
                .dx-placeholder:before {
                    vertical-align: top;
                }
            }
            dx-date-box {
                .dx-dropdowneditor-icon {
                    background: url(../../../../assets/common/icons/calendar2.svg) no-repeat center;
                    &:before {
                        content: ''!important;
                    }
                }
            }
        }

        .conclusion {
            margin-top: 20px;
            & > div {
                display: flex;
                padding: 0 10px;
                justify-content: space-between;
                border-bottom: 1px solid rgba(218, 222, 225, 0.7);
                height: 43px;
                span {
                    font-size: 15px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.47;
                    letter-spacing: 0.3px;
                    color: #424c56;
                    margin: 10px 0;
                }
                &.user-total {
                    ::ng-deep dx-number-box input {
                        padding: 0;
                        font-size: 15px;
                        text-align: right;
                    }
                }
                &.balance {
                    span {
                        font-weight: bold;
                    }
                    margin-top: 5px;
                    background-color: #f3f7fa;
                    border-bottom: none;
                }
            }
        }
    }

    ::ng-deep dx-data-grid {
        max-width: 810px!important;
        .dx-command-edit {
            .dx-link-delete {
                width: 16px;
                height: 16px;
                display: inline-block;
                border-radius: 50%;
                background: #F9E6E6;
                position: absolute;
                cursor: pointer;

                &:before {
                    content: '';
                    width: 8px;
                    height: 2px;
                    background: #e7326a;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .dx-datagrid-text-content {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: 0.3px;
            color: #202b35;
        }

        .dx-datagrid-rowsview {
            border: none;

            td {
                margin: 0;
                padding: 0;
                overflow: visible;
            }
            tr:nth-child(odd) td {
                background: rgba(243, 247, 250, 0.7);
                ::ng-deep dx-text-box, 
                ::ng-deep dx-number-box,
                ::ng-deep .dx-selectbox {
                    &, input {
                        background: transparent;
                    }
                }
            }
            tr:last-child td {
                background: initial!important;
            }
        }

        .dx-datagrid-headers {
            td {
                padding: 14px 7px 0;
                text-align: left !important;

                &.total {
                    text-align: right !important;
                }
            }

            &, .dx-datagrid-content, td {
                border: none !important;
            }
            .dx-datagrid-text-content {
                font-size: 13px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.85;
                letter-spacing: 0.52px;
                text-transform: uppercase;
                color: #202b35;
            }
        }

        .dx-datagrid-focus-overlay {
            border: none!important;
        }

        .row-actions {
            display: flex;
            height: 43px;
            justify-content: flex-start;
            align-items: center;

            &.add-new {
                width: 860px;
                left: -50px;                
                margin-top: 9px;
                position: relative;
                background: #FFF;
            }

            span {
                height: 40px;
                padding: 0 10px 0 50px;
                &.add-custom-line,
                &.separator {
                    font-size: 18px;
                    padding-left: 10px;    
                }
                &.add-new {
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.79;
                    letter-spacing: 0.28px;
                    cursor: pointer;
                    color: #00aeef;
                }
            }

            i {
                width: 11px;
                height: 11px;
                cursor: pointer;
                display: inline-block;
                position: relative;
                background-repeat: no-repeat;
                background-size: 11px 11px;
                background-position: center;

                &.delete-icon {
                    background-image: url(../../../../assets/common/icons/d-remove.svg);
                    opacity: 0;
                    transition: 0.2s;
                    top: 0;
                    right: -10px;
                }
            }

            div.icons {
                display: flex;
                visibility: hidden;
                justify-content: space-between;
                width: 80px;
                margin: 0 10px;
                i {
                    width: 18px;
                    height: 18px;
                    margin: 5px;
                    cursor: pointer;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: 18px 18px;
                    background-position: center;
                    &.calendar {
                        background-image: url(../../../../assets/common/icons/calendar2.svg);
                    }
                    &.link {
                        background-image: url(../../../../assets/common/icons/link2.svg);
                    }
                    &.tag {
                        position: relative;
                        margin-right: 15px;
                        background-image: url(../../../../assets/common/icons/tag.svg);
                        &:after {
                            width: 0;
                            height: 0;
                            content: '';
                            top: 8px;
                            right: -14px;
                            display: block;
                            position: absolute;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top: 4px solid #686f76;
                        }
                    }
                }
            }
        }

        .dx-row.dx-data-row {

            &:hover {
                .row-actions {
                    i {
                        &.delete-icon {
                            opacity: 1;
                        }
                    }
                }
            }

            .dx-dropdowneditor-button {
                top: 5px;
            }

            .dx-texteditor-input {
                border-bottom: 0;
                padding: 7px 0 8px !important;
                height: 41px;
            }

            .dx-placeholder::before {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }

    button.select-contacts {
        background: none;
        border: none;
        outline: none;
        color: #424c56;
        cursor: pointer;
        &.disabled {
            opacity: .4;
            pointer-events: none;
        }
    }
}

.address-item-text {
    margin-left: 30px;
}

::ng-deep [accesskey="invoice-addresses"] {
    .dx-list-item-content {
        position: relative;
    }
}