    <div _ngcontent-c7="" class="modal right fade" id="dialog" role="dialog" tabindex="-1">
        <div _ngcontent-c7="" class="modal-dialog" role="document">
            <div _ngcontent-c7="" class="modal-content">
                <div _ngcontent-c7="" class="modal-header">
                    <h4 _ngcontent-c7="" class="modal-title"></h4>
                    <div _ngcontent-c7="" class="control-buttons">
                        <a _ngcontent-c7="" class="download" href="" target="_blank" download><img _ngcontent-c7="" class="ng-tns-c1-0" alt="download" src="./images/download-icon.svg"></a>
                        <button _ngcontent-c7="" class="print-this"><img _ngcontent-c7="" class="ng-tns-c1-0" alt="print" src="./images/print-icon.svg"></button>
                    </div>
                    <button _ngcontent-c7="" class="close" aria-label="Close" data-dismiss="modal" type="button"></button>
                </div>
                <div _ngcontent-c7="" class="modal-body print-this-section"></div>
            </div>
        </div>
    </div>