<footer _ngcontent-c0="" _nghost-c2="">
    <!---->
    <app-pages-footer _ngcontent-c2="" _nghost-c7="" class="pfm-app">
        <!---->
        <div _ngcontent-c7="" class="top-footer">
            <div _ngcontent-c7="" class="top-container container">
                <div _ngcontent-c7="" class="footer-menu row">
                    <div _ngcontent-c7="" class="footer-menu-block"><img _ngcontent-c7="" class="small-logo" src="./images/logo-lend-space.svg"></div>
                    <div _ngcontent-c7="" class="footer-menu-block"><span _ngcontent-c7="" class="copyright"> Copyright &copy; LendSpace. All Rights Reserved. </span></div>
                    <div _ngcontent-c7="" class="footer-menu-block">
                        <ul _ngcontent-c7="" class="footer-menu-list">
                            <!---->
                            <li _ngcontent-c7="" class="footer-menu-item "><a _ngcontent-c7="" class="footer-menu-link" href="terms">Terms of Use</a></li>
                            <li _ngcontent-c7="" class="footer-menu-item "><a _ngcontent-c7="" class="footer-menu-link" href="privacy ">Privacy Policy</a></li>
                            <li _ngcontent-c7="" class="footer-menu-item "><a _ngcontent-c7="" class="footer-menu-link" href="lenderterms">Lender Terms</a></li>
                            <li _ngcontent-c7="" class="footer-menu-item "><a _ngcontent-c7="" class="footer-menu-link" href="disclosures">Disclosures</a></li>
                            <li _ngcontent-c7="" class="footer-menu-item "><a _ngcontent-c7="" class="footer-menu-link" href="aboutus">About Us</a></li>
                        </ul>
                    </div>
                    <div _ngcontent-c7="" class="footer-menu-block"><img _ngcontent-c7="" class="secure-logo" src="./images/secure.svg"></div>
                </div>
            </div>
        </div>
        <!---->
    </app-pages-footer>
    <!---->
</footer>