<personal-finance-header _ngcontent-c0="" _nghost-c1="" class="pfm-app">
    <!---->
    <div _ngcontent-c1="" class="top-headline">
        <div _ngcontent-c1="" class="container d-flex justify-content-between align-items-center"><a _ngcontent-c1="" class="url" href="https://www.lendspace.com">www.lendspace.com</a>
            <a href="https://app.lendspace.com/personal-finance/sign-up" _ngcontent-c1="" class="get-free-score">Get Your Free Credit Score with LendSpace</a>
            <p _ngcontent-c1="" class="date">December 17, 2018</p>
        </div>
    </div>
    <!---->
    <div _ngcontent-c1="" class="page-header navbar navbar-fixed-top navbar-light md-shadow-zero-light container pfm-app">
        <div _ngcontent-c1="" class="page-logo"><a _ngcontent-c1="" routerlink="/personal-finance" href="https://www.lendspace.com">
                <!---->
                <!----><img _ngcontent-c1="" alt="logo" class="logo-default" width="200" src="./images/logo-top.png"></a></div>
        <!---->
        <app-area-navigation _ngcontent-c1="" id="header-app-menu" _nghost-c4="">
            <!---->
            <ul _ngcontent-c4="" class="app-area-navigation">
                <!---->
                <li _ngcontent-c4="" class="app-list-item menu" routerlinkactive="active"><a _ngcontent-c4="" routerlinkactive="active"> Loans
                        <!----><span _ngcontent-c4="" class="dropdown-mark"></span></a>
                    <!---->
                    <ul _ngcontent-c4="" class="sublinks">
                        <!---->
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/personal-loans"> Personal Loans </a></li>
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/payday-loans"> Payday Loans </a></li>
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/installment-loans"> Installment Loans </a></li>
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/business-loans"> Business Loans </a></li>
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/auto-loans"> Auto Loans </a></li>
                    </ul>
                </li>
                <li _ngcontent-c4="" class="app-list-item" routerlinkactive="active"><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/credit-cards"> Credit Cards
                        <!----></a>
                    <!---->
                </li>
                <li _ngcontent-c4="" class="app-list-item menu" routerlinkactive="active"><a _ngcontent-c4="" routerlinkactive="active"> Credit Scores
                        <!----><span _ngcontent-c4="" class="dropdown-mark"></span></a>
                    <!---->
                    <ul _ngcontent-c4="" class="sublinks">
                        <!---->
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/credit-score"> Credit Scores </a></li>
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/credit-repair"> Credit Repair </a></li>
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/credit-monitoring"> Credit Monitoring </a></li>
                        <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/debt-consolidation"> Debt Consolidation </a></li>
                    </ul>
                </li>
                <li _ngcontent-c4="" class="app-list-item" routerlinkactive="active"><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/my-finances"> My Finances
                        <!----></a>
                    <!---->
                </li>
            </ul>
            <!---->
            <div _ngcontent-c4="" style="display: none;" class="dropdown"><button _ngcontent-c4="" aria-expanded="false" aria-haspopup="true" class="btn btn-secondary" data-toggle="dropdown" id="dropdownMenuButton" type="button"><span _ngcontent-c4="" class="navbar-toggler-icon"></span></button>
                <ul _ngcontent-c4="" aria-labelledby="dropdownMenuButton" class="app-responsive-menu dropdown-menu dropdown-menu-right">
                    <!---->
                    <li _ngcontent-c4="" routerlinkactive="active" class="menu"><a _ngcontent-c4="" class="dropdown-item" routerlinkactive="active"> Loans </a>
                        <!---->
                        <ul _ngcontent-c4="" class="responsive-sublinks">
                            <!---->
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/personal-loans"> Personal Loans </a></li>
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/payday-loans"> Payday Loans </a></li>
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/installment-loans"> Installment Loans </a></li>
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/business-loans"> Business Loans </a></li>
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/auto-loans"> Auto Loans </a></li>
                        </ul>
                    </li>
                    <li _ngcontent-c4="" routerlinkactive="active"><a _ngcontent-c4="" class="dropdown-item" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/credit-cards"> Credit Cards </a>
                        <!---->
                    </li>
                    <li _ngcontent-c4="" routerlinkactive="active"><a _ngcontent-c4="" class="dropdown-item" routerlinkactive="active"> Credit Scores </a>
                        <!---->
                        <ul _ngcontent-c4="" class="responsive-sublinks" class="menu">
                            <!---->
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/credit-score"> Credit Scores </a></li>
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/credit-repair"> Credit Repair </a></li>
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/credit-monitoring"> Credit Monitoring </a></li>
                            <li _ngcontent-c4=""><a _ngcontent-c4="" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/offers/debt-consolidation"> Debt Consolidation </a></li>
                        </ul>
                    </li>
                    <li _ngcontent-c4="" routerlinkactive="active"><a _ngcontent-c4="" class="dropdown-item" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/my-finances"> My Finances </a>
                        <!---->
                    </li>
                    <li _ngcontent-c4="" routerlinkactive="active" class="user-account"><a _ngcontent-c4="" class="dropdown-item member-signup" routerlinkactive="active" href="https://app.lendspace.com/personal-finance/sign-up"> SIGN UP </a>
                        <!---->
                    </li>
                    <li _ngcontent-c4="" routerlinkactive="active" class="user-account"><a _ngcontent-c4="" class="dropdown-item member-login" routerlinkactive="active" href="login.html"> Member Login </a>
                        <!---->
                    </li>
                </ul>
            </div>
            <!---->
            <ul _ngcontent-c4="" class="right-actions">
                <!---->
                <li _ngcontent-c4="" class="right-actions--item"><a _ngcontent-c4="" class="left-menu--link member-signup" href="https://app.lendspace.com/personal-finance/sign-up"><span _ngcontent-c4="">SIGN UP</span></a></li>
                <li _ngcontent-c4="" class="right-actions--item"><a _ngcontent-c4="" class="left-menu--link member-login" href="login.html"><span _ngcontent-c4="">Member Login</span></a></li>
            </ul>
        </app-area-navigation>
        <!---->
        <!---->
    </div>
    <changeprofilepicturemodal _ngcontent-c1="">
        <div aria-hidden="true" aria-labelledby="myLargeModalLabel" bsmodal="" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!---->
                </div>
            </div>
        </div>
    </changeprofilepicturemodal>
</personal-finance-header>