<div [@routerTransition]>
    <app-headline [config]="headlineConfig"></app-headline>
    <div class="content-wrap">
        <setup-steps SelectedStepIndex="2"></setup-steps>
        <div class="grid-wrapper">
            <categorization [width]="'calc(100vw - 685px)'"
                            [height]="'calc(100vh - 218px)'"
                            [showTitle]="false"
                            [showHeader]="true"
                            [showClearSelection]="false"
                            [showFilterIcon]="false"
                            [instanceType]="instanceType"
                            [instanceId]="instanceId"
                            [showAddEntity]="true"
                            [includeNonCashflowNodes]="true">
            </categorization>
        </div>
        <div class="right-actions">
            <p *ngIf="ActionTitle" class="title">{{ActionTitle}}</p>
            <div class="file" *ngIf="isInstanceAdmin">
                <label class="file-upload links">
                    + Upload file
                    <input type="file" (change)="uploadExcel($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="+ Upload file" class="no-display" />
                </label>
            </div>
            <div class="links-wrap" (click)="downloadExcel()">
                <p class="links">Download Excel template </p>
            </div>
            <div class="links-wrap" *ngIf="isInstanceAdmin">
                <import-quick-book-button (onClose)="refreshCategories()"></import-quick-book-button>
            </div>
            <div class="links-wrap">
                <import-xero-chart-of-accounts-button (onComplete)="refresh()"></import-xero-chart-of-accounts-button>
            </div>
        </div>

    </div>

    <dx-data-grid id="gridForExcelContainer" class="hidden-grid" [dataSource]="categorizationComponent.excelData">
        <dxo-export [enabled]="true"></dxo-export>
    </dx-data-grid>
</div>
