<div [@routerTransition]>
    <app-headline [config]="headlineConfig"></app-headline>
    <div class="content-wrap">
        <setup-steps SelectedStepIndex="2"></setup-steps>
        <div class="grid-wrapper">
            <categorization [width]="'calc(100vw - 685px)'"
                            [height]="'calc(100vh - 218px)'"
                            [showTitle]="false"
                            [showHeader]="true"
                            [showClearSelection]="false"
                            [showFilterIcon]="false"
                            [instanceType]="instanceType"
                            [instanceId]="instanceId"
                            [showAddEntity]="true"
                            [includeNonCashflowNodes]="true">
            </categorization>
        </div>
        <div class="right-actions">
            <p *ngIf="ActionTitle" class="title">{{ActionTitle}}</p>
            <div class="file">
                <p class="file-upload links">+ Upload file</p>
            </div>
            <div class="links-wrap" (click)="downloadExcel()">
                <p class="links">Download Excel template </p>
            </div>
            <div class="links-wrap">
                <import-quick-book-button></import-quick-book-button>
            </div>
        </div>

    </div>

    <dx-data-grid id="gridForExcelContainer" class="hidden-grid" [dataSource]="categorizationComponent.excelData">
        <dxo-export [enabled]="true"></dxo-export>
    </dx-data-grid>
</div>
