:host {
    position: relative;
    top: 75px;
    .content-wrap {
        display: flex;
    }

    .grid-wrapper {
        padding: 15px 20px;
    }

    /deep/ categorization {
        display: block;
        
        table {
            width: calc(~"100vw - 760px");
        }
        
        td:nth-child(2) {
            position: static;
            visibility: visible !important;
        }
        
        .dx-scrollbar-horizontal {
            visibility: hidden;
        }
    }

    .right-actions {
        width: 321px;
        height: calc(~"100vh - 150px");
        background-color: #fff;
        padding: 35px 25px 25px 25px;
        float: right;
        border-left: 1px solid #dfdfdf;

        .title {
            font-size: 17px;
            padding-left: 14px;
            padding-bottom: 23px;
            font-weight: 400;
            letter-spacing: 1px;
            text-decoration: none;
            color: rgb(103, 115, 128);
        }

        .file {
            padding-right: 14px;
            padding-left: 14px;
            height: 55px;
            border: 1px dashed #dfdfdf;
            border-radius: 10px;
            text-align: center;

            .file-upload {
                padding-top: 18px;
                font-size: 15px;
            }
        }

        .links-wrap {
            text-align: center;
            padding-top: 23px;
        }

        .links {
            align-self: center;
            color: #00aeef;
            cursor: pointer;
        }
    }
}
