<div class="totals-list">
    <div *ngFor="let field of fields" class="total-item {{ field.class }}">
        <div class="chart-head">
            <span>{{l('Total') + ' ' + l(field.title)}}</span>
            <span [ngStyle]="{'color': field.color}" *ngIf="field.type == 'currency'">
                {{ data[field.name] | currency }}
            </span>
            <span [ngStyle]="{'color': field.color}" *ngIf="field.type == 'number'">
                {{ data[field.name] | number }}
            </span>
        </div>
        <div class="chart-line"><div [ngStyle]="{width: field.percent, 'background-color': field.color}"></div></div>
        <div class="chart-progress"><span>{{l('Progress')}}</span><span>{{ field.percent }}</span></div>
    </div>
</div>