<div class="totals-list row" *ngIf="data">
    <div *ngFor="let field of fields" class="col-lg-4">
        <div *ngIf="field.visible" class="total-item {{ field.class }}">
            <div class="chart-head">
                <span>{{ls.l('Total') + ' ' + ls.l(field.title)}}</span>
                <span [ngStyle]="{'color': field.color}" *ngIf="field.type == 'currency'">
                    {{ data[field.name] | currency:currency:'symbol' }}
                    <ng-container *ngIf="field.showDetails && detailsAvailable(field)">
                        <img src="assets/common/icons/info-circle.svg" class="info" id="field-details" />
                        <dx-tooltip target="#field-details"
                                    showEvent="dxhoverstart"
                                    hideEvent="dxhoverend">
                            <div *dxTemplate="let data2 = data of 'content'">
                                <div *ngFor="let key of Object.keys(data[field.detailsField])">
                                    <span>{{key}}</span>: <b>{{data[field.detailsField][key] | currency:key:'symbol'}}</b>
                                </div>
                            </div>
                        </dx-tooltip>
                    </ng-container>
                </span>
                <span [ngStyle]="{'color': field.color}" *ngIf="field.type == 'number'">
                    {{ data[field.name] | number }}
                </span>
            </div>
            <div class="chart-line"><div [ngStyle]="{width: field.percent, 'background-color': field.color}"></div></div>
            <!--<div class="chart-progress"><span>{{ls.l('Progress')}}</span><span>{{ field.percent }}</span></div>-->
        </div>
    </div>
</div>


