<md-tab-group>
  <md-tab label="Personal">
      <div class="col-md-6">
          <contacts></contacts>
          <socials></socials>
      </div>
      <div class="col-md-6">
          <addresses></addresses>
      </div>
  </md-tab>
  <md-tab label="Business">
      <div class="col-md-6">
          <contacts></contacts>
          <socials></socials>
      </div>
      <div class="col-md-6">
          <addresses></addresses>
      </div>
  </md-tab>
  <md-tab label="Employment">
      <div class="col-md-6">
          <contacts></contacts>
          <socials></socials>
      </div>
      <div class="col-md-6">
          <addresses></addresses>
      </div>
  </md-tab>
  <md-tab label="Confidential"><div class="col-md-6">
      <contacts></contacts>
      <socials></socials>
  </div>
      <div class="col-md-6">
          <addresses></addresses>
      </div>
  </md-tab>
</md-tab-group>