:host {
  /deep/ .mat-tab-label {
      color: grey;
      text-transform: uppercase;
  }

  .mat-tab-label-active {
      color: #000;
      border-bottom: none;
      border-right: 1px solid #e5e9ec;
      border-left: 1px solid #e5e9ec;
      background: none;
  }
}