body.advice-period app-header {
  background: #423332;
}
body.advice-period app-header dx-drop-down-box,
body.advice-period app-header #m_header_topbar,
body.advice-period app-header dx-nav-bar .dx-item.dx-tab,
body.advice-period app-header dx-nav-bar .dx-state-hover {
  background: transparent!important;
}
body.advice-period app-header dx-drop-down-box input {
  border: 0!important;
}
body.advice-period app-header dx-nav-bar .dx-item.dx-tab.dx-state-hover .dx-menu-item-text,
body.advice-period app-header dx-nav-bar .dx-item.dx-tab.dx-tab-selected .dx-menu-item-text {
  color: #F7931F !important;
}
body.advice-period app-header dx-nav-bar .dx-item.dx-tab.dx-tab-selected {
  border-bottom: none!important;
}
body.advice-period app-header dx-nav-bar .dx-item.dx-tab .dx-menu-item-text {
  color: #FFF !important;
  text-transform: uppercase;
}
body.advice-period .m-topbar__nav span.m-dropdown__arrow {
  color: #423332 !important;
}
body.advice-period .page-header.navbar .page-top #m_header_topbar .m-dropdown__header {
  box-shadow: none !important;
  background: #423332 !important;
}
body.advice-period .page-header.navbar .page-top #m_header_topbar .m-dropdown__header .user-info.fullName {
  color: #f0d500 !important;
}
body.advice-period .page-header.navbar .page-top #m_header_topbar .m-dropdown__header .user-info.email {
  color: #f1f1f0 !important;
}
body.advice-period .page-top i[aria-label="Notifications"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2217%22 height%3D%2220%22 viewBox%3D%220 0 17 20%22%3E%0D    %3Cg fill%3D%22%23F0D500%22 fill-rule%3D%22evenodd%22%3E%0D        %3Cpath d%3D%22M16.906 16.32c0-.043-1.701-2.465-1.701-5.695v-4.25C15.205 2.848 12.204 0 8.487 0S1.769 2.848 1.769 6.375v4.25c0 3.23-1.702 5.695-1.702 5.695a.37.37 0 0 0 0 .425c.045.17.18.255.358.255h16.123c.18 0 .314-.085.403-.212.09-.17.045-.298-.045-.468zM6 18c.437 1.2 1.389 2 2.5 2s2.063-.8 2.5-2H6z%22%2F%3E%0D    %3C%2Fg%3E%0D%3C%2Fsvg%3E%0D") !important;
  display: inline-block;
  width: 41px;
  height: 41px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
body.advice-period .page-top i[aria-label="Notifications"]:before {
  display: none;
}
body.advice-period contact-info-panel header {
  background: #423332 !important;
  color: #fff;
}
body.advice-period contact-info-panel .full_name h1 {
  color: #fff !important;
}
body.advice-period .swal-modal {
  background: #fee192;
}
body.advice-period .swal-modal .swal-icon.swal-icon--error,
body.advice-period .swal-modal .swal-icon.swal-icon--warning,
body.advice-period .swal-modal .swal-icon.swal-icon--info {
  background: #FFF;
  border: 10px solid #ffdb7d;
  box-shadow: none;
}
body.advice-period .swal-modal .swal-icon.swal-icon--success {
  background: #FFF;
  border: 10px solid #FFD564;
}
body.advice-period .swal-modal .swal-icon.swal-icon--success .swal-icon--success__hide-corners {
  height: 50px!important;
}
body.advice-period .swal-modal .swal-icon.swal-icon--success:before,
body.advice-period .swal-modal .swal-icon.swal-icon--success:after {
  width: 0!important;
}
body.advice-period .swal-modal .swal-icon.swal-icon--warning:before {
  content: "\2713";
}
body.advice-period .swal-modal .swal-icon > div:first-child:before {
  color: #000 !important;
}
body.advice-period .swal-modal .swal-title {
  color: #000;
  font-size: 26px;
  font-weight: bold;
  white-space: pre-line;
}
body.advice-period .swal-modal .swal-button {
  background-color: #FFF;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}
body.advice-period .swal-modal .swal-button:hover {
  color: #FFF;
  background-color: #000;
}
body.advice-period .alert.m-alert--outline.alert-success {
  border-color: #ffcc00;
  color: #000;
}
body.advice-period .alert.m-alert--outline.alert-success.alert-success.m-alert--icon-solid .m-alert__icon {
  background: #ffcc00;
}
body.advice-period .alert.m-alert--outline.alert-success.alert-success.m-alert--icon-solid .m-alert__icon span {
  border-left-color: #ffcc00;
}
body.advice-period .alert.m-alert--outline .m-alert__icon small.label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
  color: #000;
}
body.advice-period .cdk-overlay-pane.footer-slider,
body.advice-period .cdk-overlay-pane.user-info {
  max-width: 50vw !important;
}
@media all and (max-width: 990px) {
  body.advice-period .cdk-overlay-pane.footer-slider,
  body.advice-period .cdk-overlay-pane.user-info {
    max-width: 75vw !important;
  }
}
body.advice-period .cdk-overlay-pane.footer-slider modal-dialog .close-dialog,
body.advice-period .cdk-overlay-pane.user-info modal-dialog .close-dialog,
body.advice-period .cdk-overlay-pane.footer-slider app-modal-dialog .close-dialog,
body.advice-period .cdk-overlay-pane.user-info app-modal-dialog .close-dialog {
  background: #f0f0f0 !important;
}
body.advice-period .cdk-overlay-pane.footer-slider modal-dialog .close-dialog:before,
body.advice-period .cdk-overlay-pane.user-info modal-dialog .close-dialog:before,
body.advice-period .cdk-overlay-pane.footer-slider app-modal-dialog .close-dialog:before,
body.advice-period .cdk-overlay-pane.user-info app-modal-dialog .close-dialog:before,
body.advice-period .cdk-overlay-pane.footer-slider modal-dialog .close-dialog:after,
body.advice-period .cdk-overlay-pane.user-info modal-dialog .close-dialog:after,
body.advice-period .cdk-overlay-pane.footer-slider app-modal-dialog .close-dialog:after,
body.advice-period .cdk-overlay-pane.user-info app-modal-dialog .close-dialog:after {
  background: #000 !important;
}
body.advice-period .cdk-overlay-pane.footer-slider modal-dialog .mat-dialog-header,
body.advice-period .cdk-overlay-pane.user-info modal-dialog .mat-dialog-header,
body.advice-period .cdk-overlay-pane.footer-slider app-modal-dialog .mat-dialog-header,
body.advice-period .cdk-overlay-pane.user-info app-modal-dialog .mat-dialog-header {
  background: #f0f0f0 !important;
}
body.advice-period .cdk-overlay-pane.footer-slider modal-dialog .mat-dialog-header dx-text-box,
body.advice-period .cdk-overlay-pane.user-info modal-dialog .mat-dialog-header dx-text-box,
body.advice-period .cdk-overlay-pane.footer-slider app-modal-dialog .mat-dialog-header dx-text-box,
body.advice-period .cdk-overlay-pane.user-info app-modal-dialog .mat-dialog-header dx-text-box {
  background: transparent!important;
}
body.advice-period .cdk-overlay-pane.footer-slider modal-dialog .mat-dialog-header input,
body.advice-period .cdk-overlay-pane.user-info modal-dialog .mat-dialog-header input,
body.advice-period .cdk-overlay-pane.footer-slider app-modal-dialog .mat-dialog-header input,
body.advice-period .cdk-overlay-pane.user-info app-modal-dialog .mat-dialog-header input {
  color: #000 !important;
  background: transparent!important;
}
@media all and (max-width: 600px) {
  body.advice-period .cdk-overlay-pane.footer-slider,
  body.advice-period .cdk-overlay-pane.user-info {
    max-width: 100vw !important;
  }
  body.advice-period .cdk-overlay-pane.footer-slider mat-dialog-container,
  body.advice-period .cdk-overlay-pane.user-info mat-dialog-container {
    position: relative !important;
  }
  body.advice-period .cdk-overlay-pane.footer-slider mat-dialog-container modal-dialog,
  body.advice-period .cdk-overlay-pane.user-info mat-dialog-container modal-dialog {
    position: static !important;
  }
  body.advice-period .cdk-overlay-pane.footer-slider .mat-dialog-header,
  body.advice-period .cdk-overlay-pane.user-info .mat-dialog-header {
    flex-direction: column;
    height: 110px;
  }
  body.advice-period .cdk-overlay-pane.footer-slider .mat-dialog-header dx-text-box,
  body.advice-period .cdk-overlay-pane.user-info .mat-dialog-header dx-text-box {
    max-width: 100%;
    order: 2;
  }
  body.advice-period .cdk-overlay-pane.footer-slider .mat-dialog-header input,
  body.advice-period .cdk-overlay-pane.user-info .mat-dialog-header input {
    text-align: center;
  }
  body.advice-period .cdk-overlay-pane.footer-slider .mat-dialog-header .mat-dialog-actions,
  body.advice-period .cdk-overlay-pane.user-info .mat-dialog-header .mat-dialog-actions {
    justify-content: flex-end;
    padding: 0;
  }
  body.advice-period .cdk-overlay-pane.footer-slider .mat-dialog-header .mat-dialog-actions .mat-dialog-buttons,
  body.advice-period .cdk-overlay-pane.user-info .mat-dialog-header .mat-dialog-actions .mat-dialog-buttons {
    margin-right: 28px;
  }
  body.advice-period .cdk-overlay-pane.footer-slider .close-dialog,
  body.advice-period .cdk-overlay-pane.user-info .close-dialog {
    left: auto !important;
    right: 0 !important;
    top: 21px !important;
    background-color: transparent !important;
    box-shadow: none;
  }
  body.advice-period .cdk-overlay-pane.footer-slider .close-dialog:before,
  body.advice-period .cdk-overlay-pane.user-info .close-dialog:before,
  body.advice-period .cdk-overlay-pane.footer-slider .close-dialog:after,
  body.advice-period .cdk-overlay-pane.user-info .close-dialog:after {
    background: #FFF !important;
  }
}
@media (max-width: 767px) {
  body.advice-period /deep/ top-bar {
    width: 100%;
  }
}
body.advice-period /deep/ top-bar .adaptive-menu {
  z-index: 1;
}
@media (max-width: 360px) {
  body.advice-period /deep/ top-bar .adaptive-menu {
    display: block !important;
  }
}
body.advice-period .icon-light-color {
  fill: #ffe6d2;
  stroke: #ffe6d2;
}
body.advice-period .icon-medium-color {
  fill: #fbcaa3;
  stroke: #fbcaa3;
}
body.advice-period .icon-dark-color {
  fill: #e47822;
  stroke: #e47822;
}
body.advice-period .icon-green {
  fill: #99c24d;
}
body.advice-period .icon-blue {
  fill: #86c5dc;
}
body.advice-period icon-orange {
  fill: #e47822;
}
body.advice-period .add-link,
body.advice-period .view-details,
body.advice-period .link-item .link,
body.advice-period .category-synch-item .icon {
  color: #e47822 !important;
}
body.advice-period .link-item .link:hover,
body.advice-period .view-details:hover {
  color: #e78639 !important;
}
body.advice-period .chart-head a.inflows {
  color: #86c5dc !important;
}
body.advice-period .chart-head a.outflows {
  color: #e47822 !important;
}
body.advice-period .chart-line.inflows div {
  background-color: #86c5dc !important;
}
body.advice-period .chart-line.outflows div {
  background-color: #e47822 !important;
}
body.advice-period .accounts-list .account-item.dailyStats ul li.selected {
  border-right-color: #e47822 !important;
}
body.advice-period .synch-status a {
  border-bottom: #99c24d !important;
}
body.advice-period .small-button:hover {
  background: #e78639 !important;
  border-color: #e78639 !important;
}
