<!doctype html>
<html lang="en" dir="ltr">
<head prefix="og: http://ogp.me/ns#">
    <%- partial('./assets/_meta'); %>
    <%- include('./assets/_scripts'); %>
    <%- include('./assets/_favicons'); %>
</head>
<body style="margin: 0;" class="page-header-fixed lend-space m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default pfm lending-page" ng-version="6.0.7">
    <app-root>
        <router-outlet></router-outlet>
        <not-found _nghost-c0>
            <%- include('./assets/_header'); %>
            <div _ngcontent-c0="" class="lend-space-img"><img _ngcontent-c0="" alt="Not Found" class="img-fluid" src="./images/404.png"></div>
            <a href="https://www.lendspace.com"><button _ngcontent-c0="" class="btn btn-layout">Back</button></a>
        </not-found>
    </app-root>
</body>
</html>