span.username {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

.top-menu:before, .page-logo:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 34px;
  background-color: #dfdfdf;
  top: 22px;
}

.page-logo:after {
  left: 295px;
}
