body.page-sidebar-closed {
	.filter-toggle {
	    left: 15px;
    	position: absolute;
	}
	
	.page-content .col-xs-6:first-child {
		display: none;
	}

	.page-content-wrapper .page-content {
    	margin-left: -20px !important;	
	}

	.logo-layout, .page-sidebar-wrapper {
		display: none;		
	}	
}

.page-header.navbar {
	border-bottom: 1px solid #dfdfdf !important;

  .page-top {
    width: auto!important;
    clear: none!important;
  }

	&.navbar-fixed-top {
 	   z-index: 1000;
	}
	&.navbar-static-top {
    	z-index: 1000;
	}
	.filter-toggle {
		color: #202b35;
		font-size: 23px;
		cursor: pointer;
		padding: 0 0 0 10px;

		&:hover {
			opacity: 0.5
		}
	}
	.page-logo {
    width: 310px!important;
		max-width: 310px;
	}
}

.page-content {
	.row {
		margin-right: 0px;
	}
	.col-xs-6:first-child {
		position: fixed;
		left: 0px;

		/deep/ * {
			color: #202b35;
		}

		.page-title span {
			font-size: 26px;
			font-weight: 600;
			margin-left: 10px;
		}

		.page-title small {
			display: none;
		}
	}
	.col-xs-6.text-right {
		float: right;
		width: 100%;
		z-index: 3;

		.tab-filter {			
			color: #9999A6;
			font-size: 16px;
			font-weight: 600;
			line-height: 1.6;
			letter-spacing: 0.3px;
			display: inline-block;
			position: absolute;
			padding: 15px;
			min-width: 115px;
			z-index: 1;	
			text-align: center;	
			cursor: pointer;
			border-radius: 4px 4px 0px 0px;
			border: 1px solid #f3f5f9;
			border-bottom: none;

			&.tab-selected {
				border-color: #dfdfdf;
				padding-bottom: 16px;
				border-bottom: none;				
			    background-color: #FFF;
				color: #202b35;
				cursor: default;
			}
			&.tab-all {			
				left: 15px;
			}
			&.tab-active {			
				left: 130px;
			}
			&.tab-archived {			
				left: 245px;
			}
		}
	}
}

.page-footer-inner {
    padding-bottom: 10px;
}

.md-shadow-zero-light {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.18) !important;
}

.dropdown-language {
  @media (max-width: 845px) {
    display: none!important;
  }
}

.navbar-nav.pull-right {
  @media (max-width: 565px) {
    display: none!important;
  }
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-submenu {

    &:hover > a {
        background-color: #5b6f7c !important;
    }

    > a.open-left:after {
        content: '\f104' !important;
        left: 7px !important;
    }

    > ul.dropdown-menu {
         margin-top: -5px !important;

        &:after {
            display: none !important;
        }

        li.divider {
            background-color: #607482 !important;
        }
    }
}

#UserNotificationDropdown {
    max-width: 320px;
    width: 320px;

  @media (max-width: 767px) {
    margin-right: -60px;

    &:before, &:after {
      margin-right: 70px;
    }
  }

    a.user-notification-item {
        cursor: default;
        color: #ccc;

        &:hover {
            text-decoration: none;
        }

        &.user-notification-item-unread {
            color: #fff;

            .notification-time {
                color: #ccc;
        }
    }

    &.user-notification-item-clickable {
            cursor: pointer;
        }

        .set-as-read-text {
            color: #00dd00;
            cursor: pointer;
        }

        .fa-info {
            color: #00ffff;
        }

        .fa-check {
            color: #0f0;
        }

        .fa-warning {
            color: rgb(255, 162, 0);
        }

        .fa-bolt, .fa-bomb {
            color: #ff0000;
        }
    }

    a {
        color: #fff;
    }

    .notifications-header {
        /*position: relative;*/
        text-align: left;
        min-height: 35px;
        padding: 8px;
        margin: 0;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .notifications-footer {
        min-height: 35px;
        padding: 8px;
        margin: 0;
    }

    .notification-empty-text {
        color: #ccc;
        padding: 10px;
        text-align: center;
    }
}

.jcrop-keymgr {
    opacity: 0;
}

#ProfilePictureResize {
    width: 200px;
    height: 200px;
}

#loginAttemptsModalForm .control-label {
    font-weight: bold;
}

/* Chat Icon*/
.page-header.navbar .top-menu .navbar-nav {
    li.quick-sidebar-toggler > i.icon-speech:before {
        content: "\e02c";
    }
}

.subscription-info {
    clear: both;
    padding: 5px;
    background-color: #fffced;
    font-size: 0.9em;
    color: #755d2d;
}

@media only screen and (max-device-width: 640px) {
    .edition-info-text {
        display: none;
    }
}