<dx-drop-down-box
  *ngIf="_layoutService.showPlatformSelectMenu"
  width="700px"
  [value]="module"
  [dataSource]="modules"
  (onInitialized)="onDropDownInit($event)">
    <div *dxTemplate="let data of 'content'" style="display:flex;">
        <dx-list (onItemClick)="changeModule($event)" accessKey="module-select-list" width="280px">
            <dxi-item *ngFor="let item of modules" (mouseover)="onHover(item.code)">
                <div class="module-select-item {{item.code | lowercase }}">
                    <input value="{{item.code}}" readonly>
                    <div [class]="isDisabled(item.name) ? 'disabled': (item.code==module && item.uri==uri ? 'selected': '')">{{l(item.name)}}</div>
                    <i *ngIf="item.code==module && item.uri==uri" class="dx-icon-check"></i>
                </div>
            </dxi-item>
        </dx-list>
        <div class="module-description">
          <ng-template ngFor let-module [ngForOf]="modules" let-i="index">
            <div *ngIf="hoverModule==module.code" [class]="module.code.toLowerCase()">
              <h3><input [value]="module.code" readonly>{{l(module.code + 'ModuleHeader')}}</h3>
              <div class="description-container">
                  {{l(module.code + 'ModuleDescription')}}
              </div>
            </div>
          </ng-template>
        </div>
    </div>
</dx-drop-down-box>
