<div class="sidebar-filter-links">
	<b>{{l('SideBarFilterHeader')}}</b>
	<div class="filter-link">
	    <ng-template ngFor let-filter [ngForOf]="filters" let-i="index">
			<a href="javascript:;" (click)="showFilterDialog($event, filter)">{{l('FilterBy' + capitalize(filter) + 'Header')}}</a>
		</ng-template>
	</div>
</div>

<div class="sidebar-filters" *ngIf="displayFilter">
	<div class="sidebar-filter-head">
		{{l('SideBarFilterHeader')}} {{l('FilterBy' + capitalize(displayFilter) + 'Header')}} 
	</div>

	<filter-status-dialog
		*ngIf="displayFilter == 'status'"
		(onApply)="filterBy($event, 'status')"
	></filter-status-dialog>
</div>