<div class="sidebar-filter-links" *ngIf="filters.length">
	<b>{{l('SideBarFilterHeader')}}</b>
	<div class="filter-link">
    <ng-template ngFor let-filter [ngForOf]="filters" let-i="index">
			<a href="javascript:;" (click)="activeFilter = filter">{{l('FilterBy' + capitalize(filter.caption) + 'Header')}}</a>
		</ng-template>
	</div>
</div>

<div class="sidebar-filters" *ngIf="activeFilter">
	<div class="sidebar-filter-head">
		{{l('SideBarFilterHeader')}} {{l('FilterBy' + capitalize(activeFilter.caption) + 'Header')}} 
    <button class="btn" (click)="filterApply($event)"><i class="fa fa-check" aria-hidden="true"></i>{{l('Apply')}}</button>
	</div>

  <filter [config]="activeFilter" (onApply)="filterApply($event)"></filter>
</div>