:host {
	top: 86px;
	position: absolute;
	/deep/ * {
		color: #202b35;
		font-size: 16px;
	}

	.sidebar-filter-links {
		border: 1px solid #dfdfdf;
		width: 321px;
		height: calc(~"100vh - 161px");
		background-color: #fff;
		padding: 25px;

		b {
			text-transform: uppercase;	
		}

		.filter-link {
			margin: 0px 10px;

			a {
				display: block;
				padding: 30px 0px 0px 20px;
			}
		}
	}

	.sidebar-filters {
		position: absolute;
		top: 0px;
		left: 320px;
		width: 20vw;
		height: calc(~"100vh - 160px");
		z-index: 3;
		padding: 0px 20px;
		border: 1px solid #dfdfdf;
		background-color: #fff;
	}

	.sidebar-filter-head {
		padding: 20px 0px 20px 0px;
    line-height: 37px;
		font-weight: bold;
    button {
      float: right;
      border-radius: 17px;
      background-color: #00aeef;
      border: none;
      font-size: 15px;
      letter-spacing: 0.3px;
      color: #ffffff;
      width: 110px;
      height: 36px;
      i {
        color: #ffffff;
      }
    }
	}
}
