:host {
	top: 75px;
	position: absolute;
	/deep/ * {
		color: #202b35;
		font-size: 16px;
	}

	.sidebar-filter-links {
		border: 1px solid #e5e9ec;
		width: 321px;
		height: calc(~"100vh - 150px");
		background-color: #fff;
		padding: 25px;

		b {
			text-transform: uppercase;
		}

		.filter-link {
			margin: 0px 10px;

			a {
				display: block;
				padding: 30px 0px 0px 20px;
			}
      span {
        font-size: 12px;
        margin-left: 35px;
        .fa-minus-circle {
          color: #ffa0a0;
          cursor: pointer;
          position: relative;
          float: right;
          top: 3px;
        }
      }
		}
	}

	.sidebar-filters {
		position: absolute;
		top: 0px;
		left: 320px;
		width: 20vw;
    min-width: 360px;
		height: calc(~"100vh - 160px");
		z-index: 3;
		padding: 0px 20px;
		border: 1px solid #dfdfdf;
		background-color: #fff;
	}

	.sidebar-filter-head {
		padding: 20px 0px 20px 0px;
    line-height: 37px;
		font-weight: bold;
    button {
      float: right;
      color: #ffffff;
      i {
        color: #ffffff;
      }
    }
	}
}
