<dx-pivot-grid [dataSource]="dataSource"
               [allowExpandAll]="true"
               [allowFiltering]="true"
               [allowSorting]="true"
               [height]="height?.toPrecision ? (height + 7) : height"
               [showTotalsPrior]="showTotalsPrior"
               [visible]="contentShown$ | async"
               [allowSortingBySummary]="true"
               [ngClass]="{ 'field-panel-hidden': !showFieldPanel }"
               [showBorders]="true"
               [scrolling]="{useNative:true}" 
               (onCellPrepared)="onCellPrepared($event)"
               (onContentReady)="onContentReady()"
               (onContextMenuPreparing)="prepareContextMenu($event)">
    <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
    <dxo-field-panel [visible]="true"></dxo-field-panel>
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    <dxo-load-panel [enabled]="false"></dxo-load-panel>
    <dxo-state-storing [enabled]="true" [storageKey]="storageKey"></dxo-state-storing>
</dx-pivot-grid>
<button class="close-button" *ngIf="showFieldPanel" (click)="toggleFieldPanel()"></button>
<loading-spinner *ngIf="isLoading"></loading-spinner>