<dx-pivot-grid [dataSource]="dataSource"
               [allowExpandAll]="true"
               [allowFiltering]="true"
               [allowSorting]="true"
               [height]="height"
               [showTotalsPrior]="showTotalsPrior"
               [visible]="contentShown$ | async"
               [allowSortingBySummary]="true"
               [ngClass]="{ 'field-panel-hidden': !showFieldPanel }"
               [showBorders]="true"
               (onContentReady)="onContentReady()"
               (onContextMenuPreparing)="prepareContextMenu($event)">
    <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
    <dxo-field-panel [visible]="true"></dxo-field-panel>
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
    <dxo-load-panel [enabled]="false"></dxo-load-panel>
    <dxo-state-storing [enabled]="true" [storageKey]="storageKey"></dxo-state-storing>
</dx-pivot-grid>
<button class="close-button" *ngIf="showFieldPanel" (click)="toggleFieldPanel()"></button>
<loading-spinner *ngIf="isLoading"></loading-spinner>
<div class="fixed-total-row" *ngIf="fixedCells.length">
    <div *ngFor="let cell of fixedCells" [ngStyle]="{ width: cell.width }">{{ cell.value }}</div>
</div>
