<div>
    <app-headline [config]="headlineConfig">
        <selection-filter class="headline"
            [allItemsText]="l('All_Entities')"
            [title]=""
            popupWidth="280px"
            [selectionList]="bankAccountsService.businessEntities$ | async"
            [selectedItems]="bankAccountsService.selectedBusinessEntitiesIds$ | async"
            (onClosed)="bankAccountsService.changeState({selectedBusinessEntitiesIds: $event}, true); invalidate()">
        </selection-filter>
        <synch-progress class="synch-progress" (onComplete)="refresh.next()"></synch-progress>
        <calendar-button></calendar-button>
    </app-headline>
    <div class="main-wrapper">
        <dx-data-grid id="gridContainer"
                      [columnAutoWidth]="true"
                      [hoverStateEnabled]="true"
                      [pager]="defaultGridPagerConfig"
                      [dataSource]="statementsData"
                      [masterDetail]="{ enabled: false, template: 'detail' }"
                      (onRowClick)="expandColapseRow($event)"
                      (onRowPrepared)="onRowPrepared($event)">
            <dxo-selection selectAllMode="page"
                           showCheckBoxesMode="always"
                           mode="multiple">
            </dxo-selection>
            <dxo-sorting mode="multiple"></dxo-sorting>

            <dxi-column dataField="date" caption="{{l('Statements_Period')}}" dataType="date" format="MMM y" sortOrder="desc"></dxi-column>
            <dxi-column dataField="startingBalance"
                        caption="{{l('Statements_StartingPosition')}}"
                        [format]="currencyFormat"
                        [customizeText]="updateCurrencySymbol"></dxi-column>
            <dxi-column dataField="credit"
                        cssClass="positive"
                        caption="{{l('Statements_Inflows')}}"
                        [format]="currencyFormat"
                        [customizeText]="updateCurrencySymbol"></dxi-column>
            <dxi-column dataField="debit"
                        cssClass="negative"
                        caption="{{l('Statements_Outflows')}}"
                        [format]="currencyFormat"
                        [customizeText]="updateCurrencySymbol"></dxi-column>
            <dxi-column dataField="endingBalance"
                        caption="{{l('Statements_EndingBalance')}}"
                        [format]="currencyFormat"
                        [customizeText]="updateCurrencySymbol"></dxi-column>
            <dxi-column dataField="netChange"
                        caption="{{l('Statements_NetChange')}}"
                        cellTemplate="positiveNegativeTemplate"
                        [format]="currencyFormat"
                        [customizeText]="updateCurrencySymbol"></dxi-column>
            <dxi-column dataField="averageDailyBalance"
                        caption="{{l('Statements_AvgDailyBalance')}}"
                        [format]="currencyFormat"
                        [customizeText]="updateCurrencySymbol"></dxi-column>
            <dxi-column dataField="creditCount" caption="{{l('Statements_CreditCount')}}"></dxi-column>
            <dxi-column dataField="debitCount" caption="{{l('Statements_DebitCount')}}"></dxi-column>

            <div *dxTemplate="let statement of 'detail'">
                <dx-data-grid [dataSource]="statement.data.sourceData"
                              [showBorders]="true"
                              [columnAutoWidth]="true">
                    <dxi-column dataField="itemType" caption=""></dxi-column>
                    <dxi-column dataField="startingBalance" caption="{{l('Statements_StartingPosition')}}" [format]="currencyFormat" [customizeText]="updateCurrencySymbol"></dxi-column>
                    <dxi-column dataField="credit" cssClass="positive" caption="{{l('Statements_Inflows')}}" [format]="currencyFormat" [customizeText]="updateCurrencySymbol"></dxi-column>
                    <dxi-column dataField="debit" cssClass="negative" caption="{{l('Statements_Outflows')}}" [format]="currencyFormat" [customizeText]="updateCurrencySymbol"></dxi-column>
                    <dxi-column dataField="endingBalance" caption="{{l('Statements_EndingBalance')}}" [format]="currencyFormat" [customizeText]="updateCurrencySymbol"></dxi-column>
                    <dxi-column dataField="netChange" caption="{{l('Statements_NetChange')}}" cellTemplate="positiveNegativeTemplate" [format]="currencyFormat" [customizeText]="updateCurrencySymbol"></dxi-column>
                    <dxi-column dataField="averageDailyBalance" caption="{{l('Statements_AvgDailyBalance')}}" [format]="currencyFormat" [customizeText]="updateCurrencySymbol"></dxi-column>
                    <dxi-column dataField="creditCount" caption="{{l('Statements_CreditCount')}}"></dxi-column>
                    <dxi-column dataField="debitCount" caption="{{l('Statements_DebitCount')}}"></dxi-column>

                    <ng-container *dxTemplate="let cell of 'positiveNegativeTemplate'">
                        <span [ngClass]="cell.value < 0 ? 'negative' : 'positive'"> {{ cell.text }} </span>
                    </ng-container>
                </dx-data-grid>
            </div>

            <ng-container *dxTemplate="let cell of 'positiveNegativeTemplate'">
                <span [ngClass]="cell.value < 0 ? 'negative' : 'positive'"> {{ cell.text }} </span>
            </ng-container>
        </dx-data-grid>
    </div>
</div>
