<div>
    <app-headline [config]="headlineConfig">
        <synch-progress class="synch-progress" (onComplete)="refreshData()"></synch-progress>
    </app-headline>
    <div class="main-wrapper">
        <dx-data-grid id="gridContainer"
                      [columnAutoWidth]="true"
                      [hoverStateEnabled]="true"
                      [pager]="defaultGridPagerConfig"
                      [dataSource]="statementsData"
                      [masterDetail]="{ enabled: false, template: 'detail' }"
                      (onRowClick)="expandColapseRow($event)"
                      (onRowPrepared)="onRowPrepared($event)">
            <dxo-selection selectAllMode="page"
                           showCheckBoxesMode="always"
                           mode="multiple">
            </dxo-selection>
            <dxo-sorting mode="multiple"></dxo-sorting>

            <dxi-column dataField="date" caption="{{l('Statements_Period')}}" dataType="date" format="MMM y" sortOrder="desc"></dxi-column>
            <dxi-column dataField="startingBalance" caption="{{l('Statements_StartingPosition')}}" [format]="currencyFormat"></dxi-column>
            <dxi-column dataField="credit" cssClass="positive" caption="{{l('Statements_Inflows')}}" [format]="currencyFormat"></dxi-column>
            <dxi-column dataField="debit" cssClass="negative" caption="{{l('Statements_Outflows')}}" [format]="currencyFormat"></dxi-column>
            <dxi-column dataField="endingBalance" caption="{{l('Statements_EndingBalance')}}" [format]="currencyFormat"></dxi-column>
            <dxi-column dataField="netChange" caption="{{l('Statements_NetChange')}}" cellTemplate="positiveNegativeTemplate" [format]="currencyFormat"></dxi-column>
            <dxi-column dataField="averageDailyBalance" caption="{{l('Statements_AvgDailyBalance')}}" [format]="currencyFormat"></dxi-column>
            <dxi-column dataField="creditCount" caption="{{l('Statements_CreditCount')}}"></dxi-column>
            <dxi-column dataField="debitCount" caption="{{l('Statements_DebitCount')}}"></dxi-column>

            <div *dxTemplate="let statement of 'detail'">
                <dx-data-grid [dataSource]="statement.data.sourceData"
                              [showBorders]="true"
                              [columnAutoWidth]="true">
                    <dxi-column dataField="itemType" caption=""></dxi-column>
                    <dxi-column dataField="startingBalance" caption="{{l('Statements_StartingPosition')}}" [format]="currencyFormat"></dxi-column>
                    <dxi-column dataField="credit" cssClass="positive" caption="{{l('Statements_Inflows')}}" [format]="currencyFormat"></dxi-column>
                    <dxi-column dataField="debit" cssClass="negative" caption="{{l('Statements_Outflows')}}" [format]="currencyFormat"></dxi-column>
                    <dxi-column dataField="endingBalance" caption="{{l('Statements_EndingBalance')}}" [format]="currencyFormat"></dxi-column>
                    <dxi-column dataField="netChange" caption="{{l('Statements_NetChange')}}" cellTemplate="positiveNegativeTemplate" [format]="currencyFormat"></dxi-column>
                    <dxi-column dataField="averageDailyBalance" caption="{{l('Statements_AvgDailyBalance')}}" [format]="currencyFormat"></dxi-column>
                    <dxi-column dataField="creditCount" caption="{{l('Statements_CreditCount')}}"></dxi-column>
                    <dxi-column dataField="debitCount" caption="{{l('Statements_DebitCount')}}"></dxi-column>

                    <ng-container *dxTemplate="let cell of 'positiveNegativeTemplate'">
                        <span [ngClass]="cell.value < 0 ? 'negative' : 'positive'"> {{ cell.text }} </span>
                    </ng-container>
                </dx-data-grid>
            </div>

            <ng-container *dxTemplate="let cell of 'positiveNegativeTemplate'">
                <span [ngClass]="cell.value < 0 ? 'negative' : 'positive'"> {{ cell.text }} </span>
            </ng-container>
        </dx-data-grid>

        <app-report-period [sliderReportPeriod]="sliderReportPeriod"
                           (onPeriodSelected)="setReportPeriodFilter($event)">
        </app-report-period>
        <bank-accounts-select targetBankAccountsTooltip="[custaccesskey='bankAccountSelect']"
                              useGlobalCache="true"
                              (onApplySelected)="setBankAccountsFilter($event)">
        </bank-accounts-select>
    </div>
</div>
