h4 {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
    border-bottom: 2px solid #f8fafa;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 0.3px;
    color: #202b35;
}

.title {
    cursor: pointer;
}

.title i {
    float: right;
    margin-top: 15px;
}

.title {
    border-bottom: 2px solid #f8fafa;
    padding-bottom: 5px;
}

.credit_lines_banks {
    margin-top: 15px;
}

.credit_lines_banks li > span {
    float: right;
}

.credit_lines_amounts li {
    display: inline-block;
    margin-right: 3px;
}
.credit_lines_amounts {
    display: inline-block;
}