:host {
    display: block;

    .stripe-button-container {
        margin-bottom: 20px;

        .stripe-button {
            background-color: #635fcc;
            border-color: #635fcc;
            //color: black;
            //border: 1px solid #dfdfdf;

            img {
                width: 60px;
                margin-right: 5px;
            }
        }

        .disconnect {
            margin-left: 10px;
            color: red;
            cursor: pointer;
        }
    }
}
