<h2>{{l('Stripe')}} {{l('Settings')}}</h2>

<div class="form-group">
    <dx-check-box id="StripeIsEnabled"
                  [text]="l('Enabled')"
                  [(value)]="stripePaymentSettings.isEnabled">
    </dx-check-box>
</div>
<ng-container *ngIf="!isHost">
    <div class="stripe-button-container">
        <button [disabled]="!stripePaymentSettings.isHostAccountEnabled" class="btn btn-layout stripe-button" (click)="createConnectedAccount()">
            {{ stripePaymentSettings.isConnectedAccountSetUpCompleted ? l('Connected with') : stripePaymentSettings.connectedAccountId ? l('Finish onboarding with') : l('Connect with') }}
            <img src="./assets/common/images/stripe.svg" />
        </button>
        <!--<ng-container *ngIf="stripePaymentSettings.isConnectedAccountSetUpCompleted">
            <span class="disconnect" (click)="disconnedConnectedAccount()">{{l("Disconnect")}}</span>
        </ng-container>-->
    </div>
    <hr />
    <div>
        <dx-check-box id="ShowAdvancedSettings"
                      [text]="l('Show advanced settings')"
                      [(value)]="showAdvancedSettings"
                      (change)="showAdvancedSettings = !showAdvancedSettings">
        </dx-check-box>
        <br />
    </div>
</ng-container>
<ng-container *ngIf="showAdvancedSettings">
    <div class="form-group">
        <label for="StripeSecretKey">{{l("Secret key")}}</label>
        <input id="StripeSecretKey" type="text" name="StripeSecretKey" class="form-control" [(ngModel)]="stripePaymentSettings.apiKey">
    </div>
    <p>
        <span class="small" [innerHtml]="l('StripeSecretKeyHint')"></span>
    </p>
    <br />
    <div class="form-group">
        <dx-check-box id="StripeIgnoreExternalWebhooks"
                      [text]="l('Ignore external webhooks')"
                      [(value)]="stripePaymentSettings.ignoreExternalWebhooks">
        </dx-check-box>
    </div>
    <p>
        <span class="small">*Skip webhooks that are not intended for <b>{{tenantName}}</b></span>
    </p>
    <p>Use button below to create <b>Account</b> webhook and recieve Account events from Stripe</p>
    <div class="form-group">
        <button [disabled]="stripePaymentSettings.webhookSingingSecret" [title]="stripePaymentSettings.webhookSingingSecret" class="btn btn-layout webhook-button" (click)="createWebhook(false)">
            {{ stripePaymentSettings.webhookSingingSecret ? 'Account Webhook is created' : 'Create Account webhook' }}
        </button>
        <img *ngIf="stripePaymentSettings.webhookSingingSecret" src="./assets/common/icons/check-green.svg" />
    </div>
    <!--<div class="form-group">
        <label for="StripeWebhookSecret">{{l("AccountWebhookSigningSecret")}}</label>
        <input id="StripeWebhookSecret" type="text" name="StripeWebhookSecret" class="form-control" [(ngModel)]="stripePaymentSettings.webhookSingingSecret">
    </div>
    <p>
        <span class="small" [innerHtml]="l('StripeWebhookSecretHint1')"></span><br />
        <span class="small">URL - <span class="copy-url"><b>{{getStripeWebhookUrl()}}</b><i class="copy save-to-clipboard" (click)="copyToClipboard($event)"></i></span></span><br />
        <span class="small" [innerHtml]="l('StripeWebhookSecretHint2')"></span>
    </p>-->
    <ng-container *ngIf="isHost">
        <div class="form-group">
            <label for="OAuthClientId">{{l("OAuth Client Id")}}</label>
            <input id="OAuthClientId" type="text" name="OAuthClientId" class="form-control" [(ngModel)]="stripePaymentSettings.oAuthClientId">
        </div>
        <p>
            <span class="small">{{l('Used to connect stripe account of Tenant. You can find value in Connected account settings ')}}<a href="https://dashboard.stripe.com/settings/connect" target="_blank">here</a></span><br />
            <span class="small">{{l('Please enable ')}}<b>OAuth for Standard accounts</b>{{l(' and add the following URL to OAuth redirects')}}</span>
            <span class="small">URL - <span class="copy-url"><b>{{getStripeOAuthConnectRedirectUrl()}}</b><i class="copy save-to-clipboard" (click)="copyToClipboard($event)"></i></span></span><br />
        </p>
    </ng-container>
    <p>Use button below to create <b>Connect</b> webhook and recieve Connect events from Stripe</p>
    <div class="form-group">
        <button [disabled]="stripePaymentSettings.connectWebhookSingingSecret" [title]="stripePaymentSettings.connectWebhookSingingSecret" class="btn btn-layout webhook-button" (click)="createWebhook(true)">
            {{ stripePaymentSettings.connectWebhookSingingSecret ? 'Connect webhook is created' : 'Create Connect webhook' }}
        </button>
        <img *ngIf="stripePaymentSettings.connectWebhookSingingSecret" src="./assets/common/icons/check-green.svg" />
    </div>
    <div class="form-group">
        <dx-check-box id="StripeIgnoreExternalConnectedAccounts"
                      [text]="l('Ignore external connected accounts')"
                      [(value)]="stripePaymentSettings.ignoreExternalConnectedAccounts">
        </dx-check-box>
    </div>
    <p>
        <span class="small">*Skip webhooks from external connected accounts</span>
    </p>
    <!--<div class="form-group">
        <label for="StripeConnectWebhookSecret">{{l("ConnectWebhookSigningSecret")}}</label><span (click)="createWebhook(true)" class="create-webhook">(Create webhook on Stripe)</span>
        <input id="StripeConnectWebhookSecret" type="text" name="StripeConnectWebhookSecret" class="form-control" [(ngModel)]="stripePaymentSettings.connectWebhookSingingSecret">
    </div>
    <p>
        <span class="small" [innerHtml]="l('StripeConnectWebhookSecretHint1')"></span><br />
        <span class="small">URL - <span class="copy-url"><b>{{getStripeConnectWebhookUrl()}}</b><i class="copy save-to-clipboard" (click)="copyToClipboard($event)"></i></span></span><br />
        <span class="small" [innerHtml]="l('StripeConnectWebhookSecretHint2')"></span>
    </p>-->
</ng-container>
<div class="import-block" *ngIf="showImportSection">
    <h5>{{l("Import")}}:</h5>
    <div class="dx-fieldset">
        <ng-container *ngFor="let importType of importTypes">
            <div class="dx-field" *ngIf="showImportType(importType)">
                <div class="dx-field-label">{{l(StripeEntityType[importType])}}</div>
                <dx-check-box class="dx-field-value"
                              [value]="getImportTypeValue(importType)"
                              [disabled]="importInProgress || getImportTypeDisabled(importType)"
                              (onValueChanged)="onImportTypeChanged($event, importType)">
                </dx-check-box>
            </div>
        </ng-container>
    </div>
    <button class="btn btn-layout" (click)="import()" [disabled]="selectedImportType == 0 || importInProgress">
        <i class="icon-la la la-download"></i>
        {{l('Import')}}
        <i *ngIf="importInProgress" class="fa fa-spinner fa-spin"></i>
    </button>
</div>