:host {
    display: block;

    ::ng-deep .mat-tab-body-content {
        display: flex;
        gap: 10px;
        padding: 10px 0;

        .left-side {
            width: 250px;
            min-width: 100px;

            ::ng-deep .dx-list {
                height: auto;

                .list-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .fa-check {
                        color: green;
                    }

                    &:hover .actions {
                        visibility: visible;
                    }

                    .actions {
                        visibility: hidden;
                        font-size: 16px;

                        .fa-check {
                            color: #00aeef;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .stripe-button {
            background-color: #635fcc;
            border-color: #635fcc;
            //color: black;
            //border: 1px solid #dfdfdf;

            img {
                width: 60px;
                margin-right: 5px;
            }
        }
    }

    .stripe-button-container {
        margin-bottom: 20px;
    }

    .payment-methods {
        i {
            margin-left: 10px;
            cursor: pointer;
            color: var(--app-button-color)
        }
    }

    .webhook-button {
        background-color: #635fcc;
        border-color: #635fcc;
    }

    .import-block {
        margin-top: 15px;
        width: 250px;

        .dx-field-label {
            width: 90%;
        }
    }
}
