:host {
    #content {
        padding: 15px 25px 35px;
        overflow-y: scroll;
        height: 100%;
    }
    /deep/ .mat-dialog-header {
        height: 82px !important;
        flex-direction: row !important;
    }
}

::ng-deep .footer-slider dx-text-box[name="title"] {
    height: auto !important;

    * {
        outline: none !important;
    }
}
