<div>
    <app-headline icon="people"
                  [buttons]="headlineButtons"
                  [showToggleCompactViewButton]="false"
                  [showToggleToolbarButton]="true"
                  [showReloadButton]="ui.showReload"
                  [showToggleFullScreenButton]="true"
                  [showToggleColumnSelectorButton]="true"
                  (onToggleToolbar)="toggleToolbar()"
                  (onToggleCompactView)="toggleCompactView()"
                  (onToggleFullScreen)="repaintDataGrid(100)"
                  (onReload)="invalidate()"
                  (onToggleColumnSelector)="toggleColumnChooser()">
        <ng-container *ngTemplateOutlet="layoutService.showLeftBar ? undefined : titleTemplate"></ng-container>
        <import-progress-bar></import-progress-bar>
    </app-headline>
    <ng-template #titleTemplate>
        <dx-select-box class="title-options"
                       [items]="headerOptions"
                       [(value)]="activeHeaderOption"
                       [readOnly]="!isInvoicesEnabled"
                       (onValueChanged)="navigateToCoupons($event)">
        </dx-select-box>
    </ng-template>
    <app-toolbar 
        [config]="toolbarConfig" 
        [titleTemplate]="titleTemplate" 
        [hidden]="appService.toolbarIsHidden$ | async">
    </app-toolbar>
    <div class="main-wrapper">
        <action-menu [items]="actionMenuGroups"
                     [visible]="!!actionEvent"
                     class="grouped-action-menu"
                     width="300px"
                     (onItemClick)="onMenuItemClick($event)">
        </action-menu>
        <div class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <ghost-list [hidden]="isDataLoaded"></ghost-list>
                <dx-data-grid class="main-component-view"
                              accesskey="narrowHeaderPanel"
                              [renderAsync]="true"
                              [dataSource]="dataSource"
                              [hoverStateEnabled]="true"
                              [allowColumnReordering]="true"
                              [columnAutoWidth]="true"
                              [allowColumnResizing]="true"
                              [columnChooser]="{
                                  height: rowsViewHeight
                              }"
                              [remoteOperations]="{ filtering: false }"
                              [loadPanel]="{ enabled: false }"
                              [pager]="defaultGridPagerConfig"
                              (onOptionChanged)="onGridOptionChanged($event)"
                              (onContentReady)="onContentReady($event)"
                              (onCellClick)="onCellClick($event)"
                              (onEditingStart)="toggleActionsMenu($event)"
                              (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
                    <dxo-selection selectAllMode="page"
                                   showCheckBoxesMode="none"
                                   mode="none">
                    </dxo-selection>
                    <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
                    <!--dxo-editing mode="popup"
                 [texts]="{ editRow: '' }"
                 [popup]="{ onShowing: onShowingPopup, height: '0px', width: '0px' }"
                 [allowUpdating]="!isReadOnly">
    </dxo-editing -->
                    <dxi-column [dataField]="productFields.Id" [caption]="l('Id')" cssClass="tabular clipboard-holder" [visible]="false" [sortOrder]="'desc'" [sortIndex]="0"></dxi-column>
                    <dxi-column [dataField]="productFields.ThumbnailUrl"
                                cellTemplate="imageTemplate"
                                caption=""
                                [width]="82"
                                [showInColumnChooser]="false"
                                [allowReordering]="false"
                                [allowExporting]="false"
                                [allowGrouping]="false"
                                [allowSorting]="false"
                                [allowResizing]="false">
                    </dxi-column>
                    <dxi-column [dataField]="productFields.Name" [caption]="l('Customer.Name')" cssClass="name clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="productFields.Code" [caption]="l('Code')" cssClass="clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="productFields.Description" [caption]="l('Description')" cssClass="description clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="productFields.Group" [caption]="l('Group')" cssClass="clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="productFields.Unit" [caption]="l('Unit')" cellTemplate="unitTemplate"></dxi-column>
                    <dxi-column [dataField]="productFields.Price" [caption]="l('Price')" cellTemplate="amountTemplate" cssClass="price"></dxi-column>
                    <dxi-column [dataField]="productFields.Type" [caption]="l('Type')" cssClass="clipboard-holder"></dxi-column>
                    <dxi-column [dataField]="productFields.IsPublished" [caption]="l('IsPublished')"></dxi-column>
                    <dxi-column [caption]="l('Share')" cellTemplate="shareTemplate" [width]="80"></dxi-column>
                    <dxi-column [dataField]="productFields.PublicName" [caption]="l('PublicName')" [visible]="false"></dxi-column>
                    <dxi-column [dataField]="productFields.CreateUser" [caption]="l('Create User')" [visible]="false"></dxi-column>
                    <dxi-column [dataField]="productFields.SinglePurchaseAllowed" [caption]="l('Single Purchase')" [visible]="false"></dxi-column>
                    <dxi-column [dataField]="productFields.AllowCoupon" [caption]="l('Allow Coupon')" [visible]="false"></dxi-column>
                    <dxi-column [dataField]="productFields.PublishDate" [caption]="l('Publish Date')" [visible]="false" cellTemplate="dateCell"></dxi-column>
                    <dxi-column dataField="LastSold" [caption]="l('Last Sold')" cellTemplate="dateagoTemplate" sortOrder="desc" alignment="right" [visible]="false"></dxi-column>
                    <dxi-column dataField="UnitSold" [caption]="l('Units Sold')" cssClass="tabular" [visible]="false"></dxi-column>
                    <dxi-column dataField="GrossSales" [caption]="l('Gross Sales')" cellTemplate="currencyTemplate" cssClass="tabular" [visible]="false"></dxi-column>
                    <dxi-column [dataField]="productFields.IsArchived" [caption]="l('Archived')" cssClass="clipboard-holder" [visible]="false"></dxi-column>
                    <dxi-column dataField="BarCode" [caption]="l('BarCode')" [visible]="false"></dxi-column>
                    <dxi-column caption="" cellTemplate="actionTemplate" [width]="60"></dxi-column>

                    <div *dxTemplate="let cellData of 'dateagoTemplate'">
                        {{cellData.value | dateAgo}}
                    </div>
                    <div *dxTemplate="let cellData of 'currencyTemplate'" class="clipboard-holder">
                        {{cellData.value | currency:cellData.data.CurrencyId:'symbol':'1.2-2'}}
                    </div>
                    <div *dxTemplate="let cellData of 'dateCell'" class="clipboard-holder">
                        {{cellData.value | datetime: formatting.dateTimeMoment }}
                    </div>
                    <div *dxTemplate="let cell of 'shareTemplate'" class="share">
                        <ng-container *ngIf="cell.data.PublicName">
                            <img src="assets/common/icons/share-black.svg" (click)="openProductPage($event, cell.data)" />
                            <img src="assets/common/icons/copy-black.svg" (click)="showShareDialog($event, cell.data)" />
                        </ng-container>
                    </div>
                    <div *dxTemplate="let cell of 'actionTemplate'"
                         class="dx-link dx-link-edit">
                    </div>
                    <div *dxTemplate="let cell of 'imageTemplate'" class="image-column {{cell.data.ThumbnailUrl ? '' : 'no-image'}}">
                        <img [src]="cell.data.ThumbnailUrl || 'assets/common/images/no-image.svg'" />
                    </div>
                    <div *dxTemplate="let cell of 'unitTemplate'" class="clipboard-holder">
                        {{getUnitColumnText(cell.data)}}
                    </div>
                    <div *dxTemplate="let cell of 'amountTemplate'" class="clipboard-holder price-column">
                        <span id="product{{cell.data.Id}}" [ngClass]="{'underline': cell.data.ProductSubscriptionOptions.length > 1}">
                            {{ (cell.data.Type == productType.Subscription ? cell.data.ProductSubscriptionOptions[0].Fee : cell.data.Price) | currency:cell.data.CurrencyId:'symbol':'1.2-2' }}
                        </span>
                        <dx-tooltip *ngIf="cell.data.ProductSubscriptionOptions.length > 1"
                                    position="bottom"
                                    target="#product{{cell.data.Id}}"
                                    showEvent="dxhoverstart"
                                    hideEvent="dxhoverend">
                            <div *dxTemplate="let data of 'content'" class="product-subscr-options">
                                <div><h3>{{l('Type')}}</h3><h3>{{l('Price')}}</h3></div>
                                <div *ngFor="let option of cell.data.ProductSubscriptionOptions">
                                    <label>{{getSubscrOptionDescription(option)}}:</label><span>{{option.Fee | currency:cell.data.CurrencyId:'symbol':'1.2-2'}}</span>
                                </div>
                            </div>
                        </dx-tooltip>
                    </div>

                    <dxo-sorting mode="multiple"></dxo-sorting>
                    <dxo-paging [pageSize]="20"></dxo-paging>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-summary>
                        <dxi-group-item [column]="productFields.Id"
                                        summaryType="count"
                                        [displayFormat]="'{0} ' + l('Products').toLocaleLowerCase()">
                        </dxi-group-item>
                    </dxo-summary>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>

<app-no-data [hidden]="!isDataLoaded || totalRowCount"
             [showLink]="false">
</app-no-data>