<ng-container *ngIf="notes$ | async as notes">
    <div class="wrapper" *ngIf="notes && notes.length; else noData">
        <action-menu width="150px"
                     [items]="actionMenuItems"
                     target=""
                     (onItemClick)="onMenuItemClick($event)">
        </action-menu>
        <div class="grid-view" *ngIf="showGridView">
            <dx-data-grid
                    height="100%"
                    class="main-component-view"
                    [dataSource]="notes"
                    [pager]="defaultGridPagerConfig"
                    [allowColumnReordering]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [hoverStateEnabled]="true"
                    (onCellClick)="onCellClick($event)"
                    (onRowPrepared)="onRowPrepared($event)"
                    (onOptionChanged)="onOptionChanged($event)"
                    (onDataErrorOccurred)="httpInterceptor.handleError($event.error)"
                    (onToolbarPreparing)="onToolbarPreparing($event)">
                <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                <dxi-column alignment="center" width="40px" cellTemplate="actionsCellTemplate" headerCellTemplate="actionsCellTemplate"></dxi-column>
                <dxi-column dataField="pinned" [visible]="false">
                </dxi-column>
                <dxi-column dataField="text"
                            [caption]="l('Note')"
                            width="350px"
                            cssClass="clipboard-holder"
                            dataType="string"
                            cellTemplate="textCell">
                </dxi-column>
                <dxi-column dataField="dateTime"
                            [caption]="l('Date')"
                            cssClass="tabular"
                            cellTemplate="dateCell">
                </dxi-column>
                <dxi-column dataField="addedByUserName"
                            [caption]="l('AddedBy')"
                            cssClass="clipboard-holder">
                </dxi-column>
                <dxi-column dataField="noteTypeName"
                            [caption]="l('Type')"
                            cssClass="clipboard-holder">
                </dxi-column>
                <dxi-column dataField="contactPhoneNumber"
                            [caption]="l('Phone')"
                            cellTemplate="phoneCell"
                            cssClass="tabular">
                </dxi-column>
                <dxi-column dataField="contactName"
                            [caption]="l('Contact')"
                            cssClass="clipboard-holder">
                </dxi-column>
                <dxi-column dataField="pinnedByUserName"
                            [caption]="l('PinnedByUser')"
                            cssClass="clipboard-holder">
                </dxi-column>
                <dxi-column dataField="pinnedDateTime"
                            [caption]="l('PinnedDate')"
                            cssClass="tabular"
                            cellTemplate="dateCell">
                </dxi-column>


                <div *dxTemplate="let cellData of 'actionsCellTemplate'">
                    <a *ngIf="showActonMenu(cellData.data)" class="dx-link dx-link-edit"></a>
                </div>
                <div *dxTemplate="let cellData of 'textCell'" class="text-wrap">
                    {{cellData.value}}
                </div>

                <div *dxTemplate="let cellData of 'phoneCell'" class="clipboard-holder">
                    {{cellData.value | phone}}
                </div>

                <div *dxTemplate="let cellData of 'dateCell'" class="clipboard-holder">
                    {{cellData.value | datetime: formatting.dateTimeMoment}}
                </div>

                <div *dxTemplate="let data of 'title'">
                    <h2 class="title">{{l('Notes')}}</h2>
                </div>

                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
            </dx-data-grid>
        </div>
        <div class="chat-view" *ngIf="!showGridView">
            <dx-scroll-view showScrollbar="onHover">
                <div class="notes-wrapper">
                    <div *ngFor="let note of notes; let i = index">
                        <div class="note-wrapper"
                            [ngClass]="{
                                current: note.addedByUserId == userId,
                                another: note.addedByUserId != userId,
                                pinned: !!note.pinnedDateTime
                            }"                                                                                
                            [attr.fullname]="note.addedByUserName">
                            <div [ngStyle]="{'background-image': 'url(' + profileService.getContactPhotoUrl(note.addedByUserPhotoPublicId) + ')'}" class="img-circle avatar small"></div>
                            <a *ngIf="showActonMenu(note)" class="gear-icon" (click)="toggleActionsMenu(note, $event.target)"></a>
                            <div class="body date" [attr.date]="note.dateTime | datetime: formatting.fieldDateTime" [attr.pininfo]="">
                                <i class="dx-icon-{{note.pinnedDateTime ? 'un' : ''}}pin" (click)="togglePinNote(note)" [title]="note.pinnedDateTime ? l('Unpin') : l('Pin')"></i>
                                <span [title]="note.pinnedDateTime ? l('PinnedBy', (note.pinnedDateTime | datetime: formatting.fieldDateTime), note.pinnedByUserName) : ''">
                                    {{note.pinnedDateTime ? l('PinnedBy', (note.pinnedDateTime | datetime: formatting.fieldDateTime), note.pinnedByUserName) : ''}}
                                </span>
                                <i class="save-to-clipboard" aria-hidden="true" (click)="copyToClipbord($event, note.text)"></i>
                                <div class="inner-html" [innerHtml]="note.text"></div>
                            </div>
                        </div>
                        <div *ngIf="note.pinnedDateTime && notes[i + 1] && !notes[i + 1].pinnedDateTime" class="pinned-separator"><span>{{l('Unpinned')}}</span></div>
                    </div>
                </div>
            </dx-scroll-view>
        </div>
    </div>
    <ng-template #noData>
        <app-no-data></app-no-data>
    </ng-template>
</ng-container>
