<<<<<<< HEAD
:host {
    display: block;
    position: relative;

    ::ng-deep .mat-tab-group {
        height: 100%;
    }

    ::ng-deep #gridContainer {
        height: 100% !important;

        .default {
            font-style: italic;
        }
    }

    ::ng-deep .mat-tab-body-content {
        overflow: hidden;
    }

    .tab-body {
        height: calc(100vh - 292px);
    }

    .m-checkbox-list {
        label {
            display: block;
        }
    }

    .action {
        padding: 0 5px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
=======
:host {
    display: block;
    position: relative;

    ::ng-deep .mat-tab-group {
        height: 100%;
    }

    ::ng-deep #gridContainer {
        height: 100% !important;

        .default {
            font-style: italic;
        }
    }

    ::ng-deep .mat-tab-body-content {
        overflow: hidden;
    }

    .tab-body {
        height: calc(100vh - 292px);
    }

    .m-checkbox-list {
        label {
            display: block;
        }
    }

    .action {
        padding: 0 5px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
>>>>>>> f999b481882149d107812286d0979872df712626
