.lists-tooltip-container {
    font-size: 15px;
    height: 100%;
    position: relative;

    .actions {
        min-width: 150px;
        text-align: left;
        white-space: nowrap;

        .apply {
            display: inline;
        }
    }

    .title {
        float: left;
        font-size: 18px;
        font-weight: 500;
        padding-top: 5px;
    }

    .filter-apply, .filter-clear {
        cursor: pointer;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.3px;
        color: #00AEEF;
        padding: 5px;
        float: right;

        &:hover {
            color: lighten(#00AEEF, 20%);
        }

        &.disabled {
            color: #999;
            cursor: unset;
            pointer-events: none;
        }
    }

    ::ng-deep dx-tree-view {
        .dx-treeview-toggle-item-visibility {
            top: -2px;
        }

        .dx-treeview-item-with-checkbox .dx-checkbox {
            top: 3px;
        }

        .dx-treeview-node {
            text-align: left;

            .item-text {
                overflow: hidden;
                text-overflow: ellipsis;

                span {
                    vertical-align: initial;
                }
            }
        }
    }
}
