@import (css) url('https://db.onlinewebfonts.com/c/eb2ece7675a45bbaedddfe6287ff6e22?family=AvianoSans-Bla');
@import (css) url('https://db.onlinewebfonts.com/c/ab616f1fc4bd8383a8f37ca0241e5bf5?family=AvianoSans-Reg');
@import (css) url('https://db.onlinewebfonts.com/c/50c3e3312ad97661534febdc1c81aeff?family=AvianoSans-Bol');

//* {
//    font-family: 'AvianoSans-Reg', sans-serif !important;
//    font-weight: normal;
//}
//
//h1, h2, h3, h4, h5, h6 {
//    font-family: 'AvianoSans-Bla', sans-serif !important;
//    font-weight: normal;
//}

:host {
    height: 100%;
    .page-content {
        flex: 1;
        margin-top: 69px;

        > div {
            height: 100%;
        }
    }
}
