:host {
    height: auto;
    min-height: 100%;
    background-image: url('../assets/common/images/bank-code/background.jpg');
    background-attachment: fixed;

    /deep/ .app-list-item {
        * {
            font-size: 16px !important;
            font-family: 'AvianoSans-Reg', sans-serif !important;
            font-weight: normal !important;
        }
        
        

        &.active > a,
        &:hover > a {
            font-family: 'AvianoSans-Bla', sans-serif !important;
            font-weight: normal !important;
        }
        
        .sublinks li a:hover,
        .sublinks li a.active {
            font-family: 'AvianoSans-Bla', sans-serif !important;
            font-weight: normal !important;
        }
    }

    /deep/ h1,
    /deep/ h2,
    /deep/ h3,
    /deep/ h4,
    /deep/ h5,
    /deep/ h6,
    /deep/ .btn {
        font-family: 'AvianoSans-Bla', sans-serif !important;
        font-weight: normal;

        * {
            font-family: 'AvianoSans-Bla', sans-serif !important;
        }
    }

    .page-content {
        flex: 1;
        margin-top: 69px;

        @media all and (max-width: 800px) and (min-width: 650px) {
            margin-top: 124px;
        }

        > div {
            height: 100%;
        }
    }

    .page-content-wrapper,
    .page-content {
        height: calc(~"100% - 75px");
    }
}

/deep/ .cdk-overlay-container .cdk-overlay-pane.slider.footer-slider {
    max-width: 50vw !important;

    @media all and (max-width: 768px) {
        max-width: 85vw !important;
    }
}

/deep/ .cdk-global-scrollblock {
    position: static !important;
    width: initial !important;
}

/deep/ .bank-code .page-header.navbar .page-logo {
    @media all and (min-width: 1024px) {
        position: relative;
        min-width: 250px !important;

        a {
            max-width: 100% !important;
        }

        img {
            max-width: 100%;
            max-height: 100% !important;
        }
    }
}
