<dx-text-box mode="search"
             [width]="200"
             [placeholder]="ls.l('GlobalSearch')"
             (onFocusIn)="onFocusIn()"
             (onEnterKey)="search($event)"
             (onValueChanged)="valueChanged($event)"
             [elementAttr]="{ id: 'global-search-textbox' }">
</dx-text-box>
<dx-tooltip [(visible)]="isTooltipVisible"
            accessKey="global-search-tooltip"
            [closeOnOutsideClick]="true"
            width="437px"
            target="#global-search-textbox">
    <dxo-position my="left top" at="left bottom" of="#global-search-textbox"></dxo-position>
    <div *dxTemplate="let data = data of 'content'">
        <div class="global-search-tooltip-container">
            <ng-container *ngFor="let group of searchGroups">
                <div class="group" *ngIf="group.count">
                    <header>
                        <h4>{{ group.name }}</h4>
                        <a *ngIf="group.count > 1"
                           (click)="showAll($event, group.link, group.linkParams)">
                            {{ ls.l('ShowAll') }} <ng-container *ngIf="group.count < 22">{{ group.count }} {{ group.name.toLowerCase() }}</ng-container>
                        </a>
                    </header>
                    <ul *ngFor="let entity of group.entities">
                        <li class="entity">
                            <img [src]="getContactPhotoUrl(entity.PhotoPublicId)">
                            <div>
                                <a (click)="moveToEntityDetails($event, entity, group.itemType)">{{ entity.Name }}</a>
                                <p>{{ entity.Email }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </ng-container>
            <app-no-data *ngIf="!itemsFound"></app-no-data>
        </div>
    </div>
</dx-tooltip>