:host {
  align-items: center;
  display: flex;
  align-self: center;
  padding-left: 12px;
  background-color: transparent;
  border-radius: 10px;
  height: 50px;
  width: inherit;
  min-width: 200px;
  max-width: 361px;
  color: var(--text-color);
  transition: background 0.3s, color 0.3s, border-color 0.3s;

  &.showSearchMode {
    &:hover {
      ::ng-deep .spinner,
      ::ng-deep .blockUI.blockOverlay {
        display: none !important;
      }
    }

    ::ng-deep .dx-searchbox {
      .dx-texteditor-input-container {
        width: 330px;
      }
      .dx-placeholder:before {
        padding-left: 40px;
      }
      .dx-icon-search {
        right: 20px;
      }
      input {
        padding-right: 45px;
      }
      &:not(.dx-texteditor-empty).dx-state-hover,
      &.loading {
        .dx-icon-search {
          visibility: hidden;
        }
      }
    }
    ::ng-deep dx-select-box {
      background: transparent !important;
      input {
        display: none;
      }
    }
  }

  .drop-down-icon {
    background: url('../../../../../assets/common/icons/arrow-down.svg') no-repeat center;
    width: 46px;
    height: 46px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }

  .global-search-container {
    display: flex;
    width: inherit;
    max-width: 350px;
    position: relative;
    align-items: center;
    &:before,
    &:after {
      content: '';
      width: 1px;
      height: 34px;
    }
  }
  ::ng-deep dx-select-box {
    position: absolute;
    input {
      border: none !important;
    }
    .dx-dropdowneditor-icon {
      background-color: transparent !important;
    }
  }
  ::ng-deep .spinner {
    width: 20px !important;
    height: 20px !important;
    right: 15px;
    left: initial !important;
    border-width: 3px;
    background: var(--card-bg);
    margin: auto 0;
  }
  ::ng-deep .blockOverlay {
    width: 25px !important;
    height: 25px !important;
    right: 0;
    left: initial !important;
    top: 4px !important;
  }
  ::ng-deep dx-text-box {
    background: transparent !important;
  }
  ::ng-deep .dx-texteditor-container {
    align-items: center;
    .dx-icon-search:before {
      content: '';
      background: url('../../../../../assets/common/icons/search-icon.png');
      background-size: 100%;
      width: 19px;
      height: 19px;
      margin-left: 10px;
      margin-top: -2px;
    }
    .dx-texteditor-input {
      background: var(--card-bg);
      font-weight: 500;
      color: var(--text-color);
      transition: background 0.3s, color 0.3s;
    }
    .dx-texteditor-buttons-container {
      position: absolute;
      right: 9px;
      width: 20px;
      min-width: 20px;
      .dx-clear-button-area {
        .dx-icon-clear {
          top: 8px;
          right: 12px;
          margin: 0;
          padding: 8px;
        }
      }
    }
  }
  ::ng-deep .dx-searchbox {
    &.dx-state-focused {
      .dx-placeholder {
        display: none !important;
      }
    }

    .dx-placeholder:before {
      padding-left: 45px;
    }

    .dx-placeholder,
    .dx-texteditor-input {
      font-family: Poppins;
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: -0.02em;
      text-align: left;
      color: var(--input-placeholder);
    }
    .dx-texteditor-input {
      border-radius: 51px;
      border: 2px solid var(--border-color);
      padding-left: 45px;
      background: var(--card-bg);
      color: var(--text-color);
      transition: background 0.3s, color 0.3s, border-color 0.3s;
    }
  }
}

::ng-deep #global-search-tooltip {
  .dx-overlay-content {
    top: 8px !important;
  }
}

.global-search-tooltip-container {
  max-height: calc(100vh - 100px);
  padding: 1px 6px;
  .group {
    &:not(:last-child) {
      border-bottom: 1px solid var(--border-color);
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      h4 {
        font-size: 12px;
        letter-spacing: 0.6px;
        color: var(--text-color);
        margin-bottom: 0;
        text-transform: uppercase;
      }
      a {
        font-weight: 300;
        line-height: 2.92;
        letter-spacing: 0.26px;
        color: var(--primary-color);
        &:after {
          content: url('../../../../../assets/common/icons/arrow-right-trend-by.svg');
          display: inline-block;
          margin-left: 5px;
          width: 12px;
          height: 7px;
        }
      }
    }
    ul {
      padding-left: 0;
      li.entity {
        display: flex;
        cursor: pointer;
        img {
          width: 38px;
          height: 38px;
          margin-right: 15px;
          border-radius: 50%;
        }
        & > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;
          a {
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.3px;
            color: var(--text-color);
            margin-bottom: 2px;
          }
          p {
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 0.26px;
            color: var(--input-placeholder);
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

::ng-deep .dx-texteditor-container {
  background: var(--card-bg);
}
