.content-wrapper {
  position: relative;
}
div {
  position: relative;
  // margin-top: 20px;
  margin-top: 40px;
  font-size: 18px;
  z-index: 5;
  .redirect-msg {
    font-weight: 700;
  }
  &.error {
    color: #e0533b;
    font-weight: 700;
  }
}
#lblErrorMessage {
  margin-top: 40px;
  font-size: 18px;
}
