:host {
    position: relative;
    height: 100%;
    ::ng-deep dx-data-grid {
        .dx-datagrid-rowsview {
            .dx-datagrid-focus-overlay.dx-pointer-events-target {
                display: none;
            }
            .dx-column-lines {
                cursor: pointer;
                & > td {
                    span {
                        text-align: center;
                    }
                }
            }
            .static-width {
                max-width: 100%;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
            }
        }
        .dx-datagrid-headers {
            .dx-datagrid-text-content {
                text-align: center;
                white-space: initial;
            }
        }
        .dx-datagrid-summary-item {
            overflow: visible!important;
        }
    }
}