@import url(_settings);

.page-header.navbar {

    .page-top {
        #m_header_topbar {
            .m-topbar__nav.m-nav {
                margin: 0px !important;
                padding-top: 6px;

                .m-nav__item {
                    padding: 0 14px !important;

                    @media (max-width: 768px) {
                        padding: 0 8px !important;
                    }
                }
            }

            .user-info-drop-down-arrow {
                color: #43383b;
            }

            .m-card-user {
                .m-card-user__details {
                    padding: 0 15px 0 0;
                }

                .m-card-user__pic {
                    padding: 0;
                    vertical-align: baseline;
                }
            }

            .user-info {
                color: #fff !important;
                font-size: 1.1rem;
                font-weight: 400;
                display: block;
                word-break: break-word;

                &.fullName {
                    font-weight: 600;
                    font-size: 18px;
                    text-transform: capitalize;
                }

                &.email {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: left;
                    height: 20px;
                }
            }
        }
    }

    &.navbar-fixed-top,
    &.navbar-static-top {
        z-index: 1000;
    }

    .page-logo {
        float: left;
        position: relative;
        max-width: 310px;
        width: 220px;
        height: 60px;

        a {
            max-width: 200px;
            overflow: hidden;
            display: table;
            position: absolute;
            margin: auto;
            top: 0px;
            bottom: 0px;
        }

        &:after {
            right: 0px;
        }
    }

    span.username {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
        text-align: left;
        display: none !important;
    }

    li.username-header {
        color: #FFF;
        text-align: center;
        height: 35px;
        padding-top: 10px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
    }

    .dropdown-language {
        display: none !important;
    }
}


.center-nav {
    .member-area-navigation {
        padding-left: 0;
        list-style-type: none;
        text-align: center;
        width: 100%;
        display: block;
        margin: 10px 0 14px;

        li {
            display: inline-block;
            padding: 0 20px;

            a {
                display: block;
                text-decoration: none;
                font-family: @lato;
                font-size: 18px;
                font-weight: bold;
                color: @font-color-lightGray;
                padding: 12px 5px 12px 40px;
                position: relative;

                img {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: .2s;
                    opacity: 1;

                    &.active-img {
                        opacity: 0;
                    }
                }


                &::before {
                    content: '';
                    border-bottom: solid 4px @orange-color;
                    transform: scaleX(0);
                    transition: all 250ms ease-in-out 0s;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                }

                &.active,
                &:hover {
                    color: @font-color-darkGray;

                    img {
                        opacity: 0;

                        &.active-img {
                            opacity: 1;
                        }
                    }

                    &::before {
                        visibility: visible;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-collapse.center-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
