<div class="top-colored-border">
    <div class="section section__blue"></div>
    <div class="section section__red"></div>
    <div class="section section__orange"></div>
    <div class="section section__green"></div>
</div>
<section class="step step__one">
    <h2>step 1: text analysis</h2>
    <form #analyseText1="ngForm" (ngSubmit)="onSubmit($event, analyseText1)" novalidate>
        <label for="text-for-analyse">ENTER THE TEXT YOU WANT TO ANALYZE</label>
        <textarea name="textForAnalyse" id="text-for-analyse" ngModel required></textarea>

        <div class="action-buttons">
            <button type="submit" class="button button__primary" [disabled]="!analyseText1.valid">Analyze</button>
            <button type="reset" class="button button__default">Reset</button>
        </div>
    </form>
    <h3>REVIEW OUR INSIGHTS ABOUT THIS B.A.N.K. CODE</h3>
    <div class="bank-code-result">
        <p class="text">this b.a.n.k. code is</p>
        <div class="code">
            <ul class="sorted-code">
                <li *ngFor="let item of analyseResult" class="sorted-code__item" [ngClass]="item.name | lowercase"></li>
            </ul>
        </div>
        <div class="primary-code" [ngClass]="biggestValue.name | lowercase">
            {{biggestValue.name}}
        </div>
    </div>
    <app-bank-code-wizzard-tabs [analyseResult]="analyseResult" [scores]="scores"></app-bank-code-wizzard-tabs>
</section>

<div class="top-colored-border">
    <div class="section section__blue"></div>
    <div class="section section__red"></div>
    <div class="section section__orange"></div>
    <div class="section section__green"></div>
</div>
<section class="step step__two">
    <h2>step 2: response Analysis</h2>
    <div class="response-analize">
        <form #analyseText2="ngForm" (ngSubmit)="onSubmit($event, analyseText2)" novalidate>
            <label for="analysed">ENTER THE TEXT YOU WANT TO ANALYZE</label>
            <div class="row">
                <div class="col">
                    <textarea name="textForAnalyse" id="analysed" ngModel required></textarea>
                    <div class="action-buttons align-left">
                        <button type="submit" class="button button__primary" [disabled]="!analyseText2.valid">Analyze</button>
                        <button type="reset" class="button button__default">Reset</button>
                    </div>
                </div>
                <div class="col">
                    <!-- <input type="radio" id="primary-code" name="code" value="primary">
                    <label class="radio-label" for="primary-code">primary code</label>
                    <input type="radio" id="full-code" name="code" value="full">
                    <label class="radio-label" for="full-code">full b.a.n.k. code</label> -->
<!--                    <canvas id="bankCodeChart" class="chart-canvas"></canvas>-->
                    <chart [type]="type" [data]="data" [options]="options"></chart>
                </div>
            </div>
        </form>
    </div>
    <app-bank-code-wizzard-tabs [analyseResult]="analyseResult" [scores]="scores"></app-bank-code-wizzard-tabs>
</section>

<footer>
    <p class="copyright">© 2019 Codebreaker Technologies, Inc. All Rights Reserved.</p>
</footer>
