<div class="wrapper">
    <div class="header-container">
        <h1 class="title">code breaker ai</h1>
        <h2 class="sub-title">THE WORLD’S FIRST ARTIFICIAL INTELLIGENCE THAT CAN DECIPHER YOUR CLIENT’S B.A.N.K. CODE IN REAL TIME!</h2>
    </div>

    <div class="wizzard-container">
        <app-bank-code-wizzard></app-bank-code-wizzard>
    </div>

    <div class="footer-container">
        <figure>
            <img src="../assets/images/code-breaker.png" alt="Code Breakre" width="200">
        </figure>
    </div>
</div>
