<header>
    <div class="left-section">
        <h2 class="title">{{l('Statistics By Period')}}</h2>
        <div class="legend" [hidden]="!totalsData || !totalsData.length">
            <ul class="legend-list">
                <li class="legend-item client">{{l('Client Count')}}</li>
                <li class="legend-item lead">{{l('Lead Count')}}</li>
            </ul>
        </div>
    </div>
</header>
<div>
    <dx-chart
        [hidden]="!totalsData || !totalsData.length"
        id="bar"
        [dataSource]="totalsData"
        animation="{easing: 'easeOutCubic',duration: 2000}"
        [barWidth]="0.5"
        (onDrawn)="onDrawn($event)"
        [size]="{height: 245}"
        [series]="allSeries$ | async">

        <dxo-size height="356" [width]="chartWidth"></dxo-size>
        <!-- common settings for charts -->
        <dxo-common-series-settings
            argumentField="date"
            ignoreEmptyPoints="true">
        </dxo-common-series-settings>

        <!-- Bottom axis -->
        <dxo-argument-axis
            argumentType="datetime"
            visible="true"
            type="discrete">
            <dxo-label [customizeText]="customizeBottomAxis"></dxo-label>
        </dxo-argument-axis>

        <dxo-legend [visible]="false"></dxo-legend>

        <!-- Common settings for axis -->
        <dxo-common-axis-settings allowDecimals="false">
            <dxo-label alignment="center">
                <dxo-font weight="300" color="#677380" size="12px"></dxo-font>
            </dxo-label>
            <dxo-strip-style>
                <dxo-label horizontal-allignment="center"></dxo-label>
            </dxo-strip-style>
        </dxo-common-axis-settings>

        <dxo-tooltip
            [enabled]="true"
            [shared]="true"
            [customizeTooltip]="customizeTooltip">
            <dxo-format type="largeNumber" [precision]="1"></dxo-format>
        </dxo-tooltip>
    </dx-chart>

    <app-no-data [hidden]="loading || (totalsData && totalsData.length)"></app-no-data>
</div>
