<div class="rounded-lg text-card-foreground border bg-white border-gray-200 p-4 my-4">
    <!-- Header -->
    <div class="flex justify-between items-center mb-2">
      <div>
        <h2 class="text-xl font-semibold text-blue-700 flex items-center space-x-2">
          <lucide-icon name="map-pin" class="w-5 h-5 text-blue-700"></lucide-icon>
          <span>Location & Network</span>
        </h2>
        <p class="text-sm text-gray-500">Geographic location and network details</p>
      </div>
      <a
        [href]="getGoogleMapsLink()"
        target="_blank"
        class="inline-flex items-center space-x-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium px-4 py-2 rounded-md"
      >
        <lucide-icon name="map-pin" class="w-4 h-4"></lucide-icon>
        <span>View in Google Maps</span>
      </a>
    </div>

    <!-- Content Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Left info list -->
      <div class="space-y-3">
        <div *ngFor="let field of fields let index = index" class="flex items-center justify-between bg-gray-50 p-2 rounded-md group flex-col sm:flex-row">
          <div class="flex items-center space-x-2">
            <lucide-icon [name]="field.icon" class="w-5 h-5 text-blue-600"></lucide-icon>
            <span class="text-sm flex-shrink-0 text-gray-900" >{{ field.label }}</span>
          </div>
          <div class="flex items-center gap-2">
            <span class="text-sm text-gray-500" [ngClass]="{ 'font-bold': index === 0, 'font-medium': index !== 0 }">{{ field.value }}</span>
            <lucide-icon
                        name="copy"
                        class="w-4 h-4 text-gray-500 cursor-pointer opacity-0 group-hover:opacity-100 transition-opacity"
                    ></lucide-icon>
          </div>
        </div>
      </div>

      <!-- Right: Map Preview -->
      <div class="bg-gray-50 border border-gray-100 rounded-md flex items-center justify-center text-center text-gray-400 text-sm h-60">
        Google Maps Platform rejected your request. The provided API key is invalid.
      </div>
    </div>
  </div>
