form {
    margin-bottom: 15px;
}

.button {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #dfdfdf;
    box-shadow: none;
    outline: none;
    font-family: "lato", sans-serif;
    text-align: left;
    padding: 10px 20px;
    display: block;
    height: auto;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    cursor: pointer;

    span {
        display: block;
        font-family: "lato", sans-serif;
        font-size: 12px;
        color: #5d666a;

        &.package-name {
            font-size: 18px;
            color: #171c1d;
            font-weight: 600;
            margin-bottom: 10px;
            line-height: 28px;

            .price {
                float: right;
                font-size: 24px;
                font-weight: bold;
                color: #171c1d;

                sup {
                    font-size: 10px;
                }
            }
        }
    }
}
