:host {
    display: flex;
    flex-direction: column;
    &.fullpage {
        height: calc(100vh - 350px);
        h2 {
            text-align: center;
            padding-top: 40px;
            font-size: 28px;
        }
    }
    h2 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: normal;
        color: #212c36;
        float: left;
        line-height: 34px;
        margin-bottom: 20px;
    }
    /deep/ app-no-data {
        .title {
            margin: 10px auto !important;
        }
    }
}
