@import 'settings';

/* Error Modal Design */
.swal-modal {
    .swal-icon.swal-icon--error {
        border: 6px solid @primary-shadow !important;
        box-shadow: 0 0 15px 20px @primary-shadow !important;
        .swal-icon--error__x-mark {
            &:before {
                content: '!';
                font-family: serif;
                font-size: 60px;
                color: @primary !important;
                position: relative;
                top: -5px;
            }
            .swal-icon--error__line {
                display: none !important;
            }
        }
    }
    .swal-icon.swal-icon--warning {
        border: 6px solid @primary-shadow !important;
        box-shadow: 0 0 15px 20px @primary-shadow !important;
        animation: none !important;
        &:before {
            content: '!';
            font-family: serif;
            font-size: 60px;
            color: @primary !important;
            position: relative;
            top: -5px;
        }
        .swal-icon--warning__body,
        .swal-icon--warning__dot {
            display: none;
        }
    }
    .swal-icon.swal-icon--success {
        .swal-icon--success__ring {
            border: 6px solid @success !important;
            box-shadow: 0 0 15px 20px @success !important;
            animation: none !important;
        }

    }
    .swal-title {
        color: @dark !important;
        font-size: 18px;
        font-weight: bold;
        white-space: pre-line;
    }
    .swal-button {
        background-color: @primary !important;
        padding: 10px 30px !important;
        border-radius: 0 !important;
        border: 0;
        text-align: center;
        font-size: 17px !important;
        font-weight: bold;
        line-height: 1.41;
        letter-spacing: normal;
        color: #ffffff !important;
        cursor: pointer;
        transition: .2s;
        outline: none;

        &:hover {
            background-color: darken(@primary, 7%) !important;
        }

        &.swal-button--cancel {
            color: #fff !important;
            background-color: @dark !important;
            &:hover {
                background-color: lighten(@dark, 10%) !important;
            }
        }
    }
}

.swal-overlay {
    z-index: 10000000000;
}