<div class="wrapper">
    <div class="toolbar-view">
        <app-toolbar [config]="toolbarConfig"></app-toolbar>
    </div>
    <div class="grid-view">
        <dx-data-grid id="gridContainer"
                    height="100%"
                    [dataSource]="dataSource"
                    [allowColumnReordering]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [hoverStateEnabled]="true"
                    [pager]="defaultGridPagerConfig"
                    (onCellClick)="onCellClick($event)"
                    (onInitialized)="onDataGridInit($event)"
                    (onContentReady)="onContentReady()"
                    (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
            <dxo-selection selectAllMode="page"
                           showCheckBoxesMode="always"
                           mode="multiple">
            </dxo-selection>

            <dxi-column caption="{{l('Name')}}" cellTemplate="nameCell"></dxi-column>
            <dxi-column dataField="StateCode" caption="{{l('State')}}"></dxi-column>
            <dxi-column dataField="Email" caption="{{l('Email')}}"></dxi-column>
            <dxi-column dataField="PhoneNumber" caption="{{l('PhoneNumber')}}"></dxi-column>
            <dxi-column dataField="Date" caption="{{l('Created')}}" cellTemplate="dateCell"></dxi-column>
            <dxi-column dataField="DoB" caption="{{l('Birthday')}}" dataType="date" format="dd/MM/yyyy"></dxi-column>

            <div *dxTemplate="let cellData of 'nameCell'">
                {{ cellData.data.FirstName }} {{ cellData.data.LastName }}
            </div>

            <div *dxTemplate="let cellData of 'dateCell'">
                {{ cellData.value | date: formatting.dateTime : userTimezone }}
            </div>

            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-load-panel [enabled]="false"></dxo-load-panel>
            <dxo-sorting mode="multiple"></dxo-sorting>
        </dx-data-grid>
    </div>
</div>
