/deep/ .cdk-overlay-container {
    .cdk-overlay-pane.note-add-dialog {
        transition: margin 1s!important;
        &.hide {
            display: none;
        }
        .mat-dialog-container {
            overflow: visible;
            padding: 0px;
            margin: 0px;
        }
    }
}

:host {
    height: 100%;
    position: relative;
    display: block;

    h2 {
        padding: 31px 23px 0px;        
    }    

    span.close-note-dialog {
        z-index: 999;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 30px;
        right: 20px;
        cursor: pointer;
        &:before, &:after {
            position: absolute;
            right: 9px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #1b1b1b;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    
    mat-dialog-content {
        height: 100%;
        margin: 0px;
        max-height: calc(~"100% - 230px");
        padding-left: 23px;
        padding-right: 0px;

        .show-origin {
            text-align: right;
            padding-right: 23px;
            padding-top: 20px;
            display: block;
            height: 55px;
            cursor: pointer;
            color: #00aeef;
        }

        .field {
            padding-right: 23px;
            label {
                font-size: 10px;
                margin: 32px 0px 0px 0px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.4px;
                color: #686f76;
            }
            /deep/ .dx-widget:not(.dx-state-focused) .dx-placeholder {
                font-weight: 400;
                font-size: 16px;
            }
            /deep/ input, /deep/ textarea {
                font-size: 15px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.3px;
                color: #424c56;
            }
            &.type {
                width: 300px;
                margin-top: 20px;
                /deep/ input {
                    border: none!important;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

    mat-dialog-actions {
        height: 75px;
        margin-left: 40%;
        .mat-dialog-buttons {
            height: 46px;
            align-self: center;
            button {
                outline: none;
            }
        }
        .mat-dialog-options {
            padding: 0px 15px 0px 30px;
            align-self: center;
            .mat-dialog-option {
                font-size: 13px;
            }
        }
    }
}