.join-newsletter {
  padding: 49px 0 78px;
  background-color: #f8fafc;
}
.subscribe-wrapper {
  max-width:600px;
  width: 100%;
  margin: 0 auto;
}
.subscribe-title {
  font-family: "roboto-slab", serif;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: #171c1d;
}
.subscribe-form-wrap {
  width: 500px;
  height: 64px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(22, 27, 29, 0.15);
}
.subscribe-form-input {
  border: 0;
  background-color: transparent;
  box-shadow: transparent;
  outline: none;
  width: calc(~"100% - 100px");
  height: 44px;
  padding-left: 10px;
}
button {
  width: 98px;
  height: 44px;
  color:#fff;
  font-size: 15px;
  font-weight: bold;
  text-align:center;
  text-transform: uppercase;
  border-radius: 6px;
  border: 0;
  background-color: #ed9d1a;
  box-shadow: 0 3px 10px 0 rgba(245, 166, 35, 0.35);
  float: right;
}
