<h2>{{l('Payment Providers')}} {{l('Settings')}}</h2>
<ng-container *ngIf="providers">
    <dx-data-grid id="gridContainer"
                  width="830px"
                  height="auto"
                  accessKey="providersGrid"
                  [dataSource]="providers"
                  [allowColumnReordering]="false"
                  [allowColumnResizing]="false">
        <dxi-column dataField="id" [caption]="l('Id')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
        <dxi-column dataField="type" [caption]="l('Type')" [width]="165" cssClass="clipboard-holder"></dxi-column>
        <dxi-column dataField="name" [caption]="l('Name')" [width]="300" cssClass="clipboard-holder"></dxi-column>
        <dxi-column dataField="isActive" [caption]="l('Active')" [width]="75" cssClass="clipboard-holder"></dxi-column>
        <dxi-column dataField="sandbox" [caption]="l('Sandbox')" [width]="100" cssClass="clipboard-holder"></dxi-column>
        <dxi-column [width]="170" [allowFiltering]="false" [allowSorting]="false" [allowReordering]="false" cellTemplate="editTemplate"></dxi-column>
        <div *dxTemplate="let data of 'editTemplate'">
            <a class="dx-link action manage" (click)="enableDisable(data.data)">{{data.data.isActive ? l('Disable') : l('Enable')}}</a>
            <a class="dx-link action" (click)="delete(data.data)">{{l('Delete')}}</a>
        </div>
    </dx-data-grid>
    <button class="btn btn-layout" (click)="addProvider()" [disabled]="!spreedlyAllProviders">
        {{ l('+ Add new') }}
    </button>
</ng-container>