:host {
  z-index: 2;

  ::ng-deep .left-menu {
    height: calc(~'100vh - 50px') !important;
  }

  &.show-left-bar {
    ::ng-deep .left-menu {
      height: calc(~'100vh - 75px') !important;
    }
  }
}
