<dx-tooltip height="315"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="lists-tooltip-container">
            <div class="actions clearfix">
                <span class="title">{{l('Stars')}}</span>
                <span class="filter-clear" (click)="clear()">{{l('Clear')}}</span>
                <span class="filter-apply" (click)="apply()">{{l('Apply')}}</span>
            </div>
            <dx-list
                height="350"
                [selectionMode]="'single'"
                [showSelectionControls]="true"
                [dataSource]="list"
                (onInitialized)="onInitialized($event)">
                <div *dxTemplate="let data of 'item'">
                    <div [class]="'star star-' + data.name | lowercase"></div>
                </div>
            </dx-list>
        </div>
    </div>
</dx-tooltip>
