<h2>{{l('Gmail')}} {{l('Settings')}}</h2>
<ng-container *ngIf="gmailSettings">
    <div>
        <div class="form-group">
            <dx-check-box id="GmailIsEnabled"
                          [text]="l('Enabled')"
                          [(value)]="gmailSettings.isEnabled"
                          [disabled]="!gmailSettings.isEnabled && !gmailSettings.isConfigured">
            </dx-check-box>
        </div>
        <div class="google-button-container">
            <button class="btn btn-layout google-button" (click)="getAuthCode()">
                <img src="./assets/common/icons/google.svg" />
                {{ gmailSettings.isConfigured ? l('Authorized') : l('Authorize') }}
            </button>
            <img *ngIf="gmailSettings.isConfigured" src="./assets/common/icons/check-green.svg" />
            <span *ngIf="gmailSettings.isConfigured" class="disconnect" (click)="disconnedGmail()">{{l("Disconnect")}}</span>
        </div>
        <div class="form-group">
            <label for="DefaultFromAddress">{{l("DefaultFromAddress")}}</label>
            <input id="DefaultFromAddress" type="email" name="DefaultFromAddress" class="form-control" disabled [value]="gmailSettings.defaultFromAddress" maxlength="100">
        </div>
        <div class="form-group">
            <label for="DefaultFromDisplayName">{{l("DefaultFromDisplayName")}}</label>
            <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName" class="form-control" [(ngModel)]="gmailSettings.defaultFromDisplayName" maxlength="100">
        </div>
        <div class="form-group">
            <label for="DefaultReplyTo">{{l("DefaultReplyTo")}}</label>
            <input id="DefaultReplyTo" type="text" name="DefaultReplyTo" class="form-control" [(ngModel)]="gmailSettings.defaultReplyTo" maxlength="100">
        </div>
    </div>
    <h5>{{l("TestEmailSettingsHeader")}}</h5>
    <div class="row">
        <div class="form-group col-md-4">
            <input type="text" class="form-control input-mini" [(ngModel)]="testEmailAddress">
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-layout" type="button" [disabled]="!this.testEmailAddress || !this.gmailSettings.isConfigured" (click)="sendTestEmail()">{{l("SendTestEmail")}}</button>
        </div>
    </div>
</ng-container>