:host {
    display: block;

    .google-button-container {
        margin-bottom: 20px;

        .google-button {
            background-color: white;
            color: black;
            border: 1px solid #dfdfdf;

            img {
                width: 20px;
                margin-right: 5px;
            }
        }

        .disconnect {
            margin-left: 10px;
            color: red;
            cursor: pointer;
        }
    }
}
