<div
  class="flex flex-wrap gap-4 mb-6 p-4 items-center"
>
  <calendar-button></calendar-button>
  <app-traffic-stats-site-selector></app-traffic-stats-site-selector>
  <button
    class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm dark:text-white dark:border-gray-600 dark:bg-gray-700 font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
  >
  <lucide-angular
      name="filter"
      size="16"
      class="mr-2 h-4 w-4 text-gray-500 dark:text-gray-400"
    ></lucide-angular>
    Filters
  </button>
</div>
