<div class="form-group moduleEdition"
    [ngClass]="{ 'first-row': i === 0 }"
     *ngFor="let editionGroup of editionsGroups; let i = index">
    <ng-container *ngIf="editionGroup[1].moduleId as moduleId">
        <label [for]="moduleId">{{ moduleId }}: </label>
        <select [id]="moduleId"
                name="edition"
                class="form-control"
                [(ngModel)]="editionsModels[moduleId].editionId"
                [ngModelOptions]="{standalone: true}"
                (change)="onEditionChange($event, moduleId)">
            <option *ngFor="let edition of editionGroup" [value]="edition.value">{{edition.displayText}}</option>
        </select>
        <div>
            <label *ngIf="i === 0">{{ ls.l('Users') }}</label>
            <input type="number"
                   class="form-control"
                   min="1"
                   [(ngModel)]="editionsModels[moduleId].maxUserCount"
                   [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            <label *ngIf="i === 0">{{ ls.l('Trial') }} ({{ ls.l('days')}})</label>
            <input *ngIf="editionIsNotFreeOrNotAssigned(editionsModels[moduleId].editionId, i)"
                   type="number"
                   class="form-control"
                   min="1"
                   [(ngModel)]="editionsModels[moduleId].trialDayCount"
                   [ngModelOptions]="{standalone: true}">
        </div>
    </ng-container>
</div>
