:host {
    padding-top: 15px;
    display: block;
    .moduleEdition {
        display: flex;
        align-items: flex-end;
        label {
            margin-bottom: 0;
            @media (min-width: 768px) {
                min-width: 95px;
            }
        }
        & > label {
            height: 37px;
            line-height: 37px;
        }
        select {
            margin: 0 20px 0 10px;
            width: 200px;
            height: 38px;
        }
        input {
            width: 70px;
            height: 38px;
        }
        div {
            margin-right: 15px;
            & > label {
                min-width: initial;
            }
        }
        &.first-row {
            div {
                height: 59px;
            }
        }
    }

    .clean-icon {
        height: 38px !important;
        display: flex;
        align-items: center;
        /deep/ .close-icon {
            fill: red;
        }
    }
}
