:host {
    .form-group {
        label {
            width: 20%;
            margin-right: 10px;
            min-width: 100px;
        }

        dx-text-box, dx-text-area {
            width: 100%;
        }
    }
}
