<div class="wording-container">
    <h5>{{title}}</h5>
    <dx-validation-group>
        <div *ngFor="let wording of wordings; let i = index">
            <div class="form-group">
                <label>{{itemTitle}}</label>
                <dx-text-box [placeholder]="ls.l('EditValuePlaceholder')"
                             [(value)]="wording.title">
                    <dx-validator>
                        <dxi-validation-rule type="required"
                                             [message]="ls.l('ThisFieldIsRequired')"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <div class="form-group">
                <label>{{textTitle}}</label>
                <dx-text-area height="155px"
                              [placeholder]="ls.l('EditValuePlaceholder')"
                              [(value)]="wording.text"
                              [maxLength]="1000">
                    <dx-validator>
                        <dxi-validation-rule type="required"
                                             [message]="ls.l('ThisFieldIsRequired')"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-area>
            </div>
            <div class="remove-wording" (click)="removeWording(i)">{{ls.l('Remove')}}</div>
        </div>
    </dx-validation-group>
    <div class="add-wording" (click)="addWording()">{{ls.l('Add new +')}}</div>
</div>