:host {
    h3 {
        width: 340px;
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: 0.3px;
        font-weight: 500;
        padding: 20px 0px 0px 20px;

        .clearAll {
            font-size: 11px;
            letter-spacing: 0.4px;
            color: #677380;
            text-transform: uppercase;
            font-weight: 400;
            text-align: right;
            cursor: pointer;
            float: right;
            margin-right: 15px;
            margin-top: 3px;
        }

        .close {
            right: 10px;
            width: 20px;
            height: 20px;
            float: right;
            cursor: pointer;
            position: relative;

            &:after, &:before {
                position: absolute;
                top: 0px;
                left: 8px;
                content: ' ';
                height: 20px;
                width: 2px;
                background-color: #1b1b1b;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    /deep/ .dx-widget {
        tr.dx-edit-row .dx-texteditor-input {
            font-weight: 400;
            border-bottom: none !important;
        }

        td.dx-command-edit {
            text-overflow: unset;
            text-align: right !important;

            a.dx-link {
                width: 25px;
                display: inline-block;
                color: transparent !important;

                &.dx-link-add {
                    background: url('../../../../assets/common/icons/add.svg') no-repeat center;
                }

                &.dx-link-edit {
                    background: url('../../../../assets/common/icons/edit.svg') no-repeat center;
                }

                &.dx-link-delete {
                    background: url('../../../../assets/common/icons/delete-icon.svg') no-repeat center;
                }

                &.dx-link-save {
                    background: url('../../../../assets/common/icons/check.svg') no-repeat center;
                }

                &.dx-link-cancel {
                    background: url('../../../../assets/common/icons/cancel.svg') no-repeat center;
                }

                &.dx-link-filter {
                    background: url('../../../../assets/common/icons/filter.svg') no-repeat center;
                }
            }
        }

        input {
            font-size: 15px;
            font-weight: 300;
            line-height: 1.67;
            letter-spacing: 0.3px;
            color: #424c56;
        }
    }

    /deep/ dx-tree-list {
        .dx-treelist-headers, .dx-treelist-header-panel {
            display: none;
        }

        .dx-toolbar .dx-toolbar-after {
            width: 100%;
            padding-left: 0;

            .dx-treelist-addrow-button {
                display: none;
            }

            .dx-treelist-search-panel {
                width: 100% !important;
                margin-left: 0;

                .dx-placeholder {
                    font-size: 14px;
                }
            }

            .dx-state-focused .dx-placeholder {
                font-size: 11px;
            }
        }

        &[dropallowed="true"] {
            tr[aria-level="1"], tr[aria-level="2"] {
                .category-hover {
                    border: 1px dashed #dfdfdf;
                }

                .category-drop-area {
                    display: block !important;
                }
            }
        }

        tr.drag-hover td {
            .category-hover {
                background-color: #FFFBF5;
                border: solid 1px #ffe9bc;
            }
        }

        .droppable {
            .category-hover {
                border: 1px dashed #dfdfdf;
            }

            .category-drop-area {
                display: block !important;
            }
        }

        .dx-treelist-rowsview {
            border: none;
            background-color: #ffffff;

            .dx-treelist-empty-space {
                padding-right: 5px;
            }

            .dx-treelist-content {
                margin: 15px;

                .dx-treelist-focus-overlay {
                    border: 1px solid #00aeef;
                    height: 35px !important;
                }
            }

            table {
                border-spacing: 0 5px;
                border-collapse: separate;

                colgroup {
                    col:last-child {
                        width: 75px !important;
                    }
                }

                td {
                    overflow: visible !important;
                    text-overflow: initial !important;
                    border: none !important;
                    background-color: transaparent !important;

                    &.column-padding-7 {
                        padding-bottom: 7px;
                    }
                    &.column-padding-9 {
                        padding-bottom: 9px;
                        &:before {
                            height: 40px!important;
                        }
                    }
                    &.column-padding-11 {
                        padding-bottom: 11px;
                        &:before {
                            height: 42px!important;
                        }
                    }
                    &.column-padding-13 {
                        padding-bottom: 13px;
                        &:before {
                            height: 44px!important;
                        }
                    }
                    &.column-padding-15 {
                        padding-bottom: 15px;
                        &:before {
                            height: 46px!important;
                        }
                    }
                    &.column-padding-17 {
                        padding-bottom: 17px;
                        &:before {
                            height: 48px!important;
                        }
                    }
                }

                tr.dx-data-row {
                    &.inflows {
                        .dx-treelist-expanded,
                        .dx-treelist-collapsed {
                            color: #61c670;
                        }

                        &[aria-level="2"] {
                            td:first-child {
                                &:before {
                                    background-color: #61c670;
                                }
                            }
                        }
                    }

                    &.outflows {
                        .dx-treelist-expanded,
                        .dx-treelist-collapsed {
                            color: #e7326a;
                        }

                        &[aria-level="2"] {
                            td:first-child {
                                &:before {
                                    background-color: #e7326a;
                                }
                            }
                        }
                    }

                    &[aria-level="2"] {
                        td:first-child {
                            &:before {
                                content: '';
                                display: block;
                                height: 38px;
                                width: 2px;
                                margin-top: -10px;
                                position: absolute;
                                left: 25px;
                            }
                        }

                        td .category-hover, td .category-drop-area {
                            width: calc(~"100% - 46px");
                        }

                        .dx-treelist-text-content span {
                            font-size: 14px !important;
                            font-weight: 300 !important;
                        }

                        .dx-command-edit {
                            .dx-link-add {
                                display: none !important;
                            }
                        }
                    }

                    &[aria-level="1"] {
                        td .category-hover, td .category-drop-area {
                            width: calc(~"100% - 33px");
                        }
                    }

                    &[aria-level="0"] {
                        td .category-hover, td .category-drop-area {
                            width: calc(~"100% - 18px");
                        }

                        .dx-treelist-text-content span {
                            font-weight: bold;
                        }

                        .dx-command-edit {
                            .dx-link-delete, .dx-link-edit {
                                display: none !important;
                            }
                        }
                    }

                    &.filtered-category td {
                        .category-hover {
                            border: 1px solid #d8f9ea !important;
                            background-color: #f0fef1 !important;
                        }

                        &:nth-child(2) {
                            position: static;
                            visibility: hidden;
                        }

                        &.dx-command-edit {
                            a.dx-link-filter {
                                visibility: visible;
                                display: inline-block;
                            }

                            a.dx-link-delete, a.dx-link-edit, a.dx-link-add {
                                display: none;
                            }
                        }
                    }

                    td {
                        &:nth-child(2) {
                            position: absolute;
                            right: 0px;
                        }

                        .category-hover, .category-drop-area {
                            position: absolute;
                            height: 32px;
                            margin-top: -7px;
                            right: 0px;
                            z-index: -1;
                        }

                        .category-drop-area {
                            z-index: 1000;
                            margin-top: -26px;
                            display: none;
                        }

                        &.dx-command-edit a {
                            visibility: hidden;
                        }
                    }

                    &.dx-edit-row {
                        td:nth-child(2) {
                            visibility: visible !important;
                        }
                    }

                    &.dx-state-hover {
                        td {
                            &.dx-command-edit a.dx-link-filter {
                                visibility: visible;
                            }

                            a.dx-link-delete, a.dx-link-add, a.dx-link-edit {
                                display: none;
                            }
                        }
                    }

                    &.dx-edit-row {
                        td {
                            &.dx-command-edit {
                                a.dx-link-save, a.dx-link-cancel, a.dx-link-delete {
                                    visibility: visible;
                                    display: inline-block;
                                }

                                a.dx-link-filter {
                                    display: none;
                                }
                            }
                        }
                    }

                    &.dx-selection {
                        td {
                            &.dx-command-edit {
                                a.dx-link-add, a.dx-link-filter {
                                    visibility: visible;
                                    display: inline-block;
                                }

                                a.dx-link-edit, a.dx-link-delete {
                                    display: none;
                                }
                            }
                        }
                    }

                    &.dx-state-hover, &.dx-selection, &.dx-edit-row {
                        cursor: pointer;

                        td {
                            color: #424c56;
                            border: none !important;
                            background-color: transparent !important;

                            &:nth-child(2) {
                                position: static;
                                visibility: hidden;
                            }

                            .category-hover {
                                border: solid 1px #b8e9fb !important;
                                background-color: #F0FAFE;
                            }
                        }
                    }

                    .dx-treelist-text-content {
                        overflow: visible !important;
                        font-size: 15px;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: 0.3px;
                        color: #424c56;
                    }

                    &[aria-level="1"], &[aria-level="2"] {
                        .dx-treelist-text-content {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}
