<div>
    <h3 *ngIf="showTitle">{{l('Categorize transactions')}}<span (click)="close.emit(null)"></span></h3>

    <dx-tree-list 
        width="{{width}}"
        height="{{height}}"
        keyExpr="key"
        parentIdExpr="parent"
        [hoverStateEnabled]="true"
        [(dataSource)]="categories"
        [editing]="{allowAdding: true, allowUpdating: true, allowDeleting: true}"
        [selection]="{allowSelectAll: false, mode: 'single'}"
        [rootValue]="0"
        [autoExpandAll]="autoExpand"
        (onContentReady)="initDragAndDropEvents($event)"
        (onSelectionChanged)="onSelectionChanged.emit($event)"
        (onRowUpdated)="onCategoryUpdated($event)"
        (onRowInserted)="onCategoryInserted($event)"
        (onRowRemoving)="onCategoryRemoving($event)">
        <dxi-column dataField="name"></dxi-column>
    </dx-tree-list>
</div>