:host {
    h3 {
        width: 340px;
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: 0.3px;
        font-weight: 500;
        padding-left: 20px;
        span {
            right: 10px;
            width: 20px;
            height: 20px;
            float: right;
            cursor: pointer;
            position: relative;
            &:after, &:before {
                position: absolute;
                top: 0px;
                left: 8px;
                content: ' ';
                height: 20px;
                width: 2px;
                background-color: #1b1b1b;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    /deep/ dx-tree-list {
        .dx-treelist-header-panel, 
        .dx-treelist-headers {
            display: none;
        }
        .dx-treelist-rowsview {
            border-top: none;
            background-color: #ffffff;
            .dx-treelist-content {
                margin: 15px;
                .dx-treelist-focus-overlay {
                    height: 35px!important;
                }
            }
            table { 
                border-collapse: separate; 
                td {
                    border: solid 1px #fff;
                }
                tr.dx-data-row {
                    &.dx-state-hover, 
                    &.dx-selection, 
                    &.dx-edit-row {
                        cursor: pointer;
                        td:first-child { 
                            border-right: none!important;
                            border-top-left-radius: 2px; 
                            border-bottom-left-radius: 2px; 
                        }
                        td:last-child { 
                            border-left: none!important;
                            border-top-right-radius: 2px; 
                            border-bottom-right-radius: 2px; 
                        }
                        td {
                            background-color: #F0FAFE;
                            color: #424c56;
                        }    
                        td.dx-command-edit a {
                            visibility: visible;
                        }
                    }
                    .dx-treelist-text-content {
                        font-size: 14px;
                        letter-spacing: 0.3px;
                        font-weight: 300;
                        color: #424c56;
                    }
                }
            }
        }
    }

}