<div class="container">
    <div class="header">
        <h1>Credit Cards</h1>
        <p class="description">There are hundreds of credit cards on the market, with their own advantages and disadvantages. Researching
            and comparing the best credit card offers takes a lot of work and time.</p>
    </div>

    <section class="cards" *ngIf="bestCreditCard || (creditCardCollection && creditCardCollection.length)">
        <div class="heading">
            <h2>To help you find the ideal card for you, the LendSpace team has assembled the</h2>
            <button *ngIf="bestCreditCard"
                    (click)="openOffers(bestCreditCard)"
                    class="best-cc-offers">
                {{ls.l('OfferCollection_' + bestCreditCard.offerCollection)}} Offers for 2019!
            </button>
        </div>

        <ul class="row cards-list">
            <ng-container *ngFor="let cardOfferGroup of creditCardCollection">
                <li class="col-md-3 col-sm-4 col-xs-12 cards-item" *ngIf="cardOfferGroup.offerCollection != 'Best'">
                    <a class="cards-item-wrap"
                       (click)="openOffers(cardOfferGroup)">
                        <img [src]="'./assets/common/images/pfm-cc/' + cardOfferGroup.offerCollection + '.svg'"
                             [alt]="cardOfferGroup.name">
                        <h3>{{ls.l('OfferCollection_' + cardOfferGroup.offerCollection)}}</h3>
                    </a>
                </li>
            </ng-container>
        </ul>
    </section>

    <section class="credit-score" *ngIf="bestCardsByScore && bestCardsByScore.length">
        <h2>Find the best cards for your credit score</h2>
        <div class="gradient"></div>
        <div class="credit-score-wrap">
            <ul class="credit-score-list row">
                <li class="credit-score-item col-md-2 col-sm-3 col-xs-12" *ngFor="let item of bestCardsByScore">
                    <a (click)="openOffers(item)">
                        {{ls.l('OfferCollection_' + item.offerCollection)}}
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="results-by-category">
        <ng-container *ngIf="cards && creditCardCollection && creditCardCollection.length; else noOffers">
            <h2>Top results by category</h2>

            <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 offer-navigation">
                <ul class="offer-navigation__list">
                     <li class="offer-navigation__item" *ngFor="let menuItem of creditCardCollection">
                        <a class="offer-navigation__link"
                           [routerLink]="'/personal-finance/offers/credit-cards/home/' + menuItem.offerCollection"
                           routerLinkActive="active">
                            <img [src]="'./assets/common/images/pfm-cc/menu-' + menuItem.offerCollection + '.svg'"
                                 [alt]="menuItem.name" class="img-fluid offer-navigation__img">
                            {{ls.l('OfferCollection_' + menuItem.offerCollection)}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 offer-collection">
                <div class="row" *ngIf="(cards && cards.length); else noData">
                    <div class="col-md-4 col-sm-6 col-xs-12 card-item" *ngFor="let card of cards" (click)="openOffers(card)">
                        <div class="card-item__img--wrap">
                            <img [src]="card.logoUrl" alt="Credit Card" class="card-item__img img-fluid">
                        </div>
                        <div class="card-item__bank">{{card.issuingBank}}</div>
                        <h3 class="card-item__card-name" title="{{card.name}}">{{card.name}}</h3>
                        <div class="card-item__rating row">
                            <div class="stars col text-left">
                                <stars-rating [currentRating]="card.overallRating" color="#f0d500"></stars-rating>
                            </div>
                            <!--<a class="card-item__reviews col text-right">765 reviews</a>-->
                        </div>

                        <div class="card-item__info">
                            <div class="card-item__annual row">
                                <div class="text-left col-6">Annual Fee</div>
                                <div class="text-right col-6"><b>{{(+card.annualFee | currency:'USD':'symbol':'1.2-2') || 'None'}}</b></div>
                            </div>
                            <div class="card-item__rewards-rate row">
                                <div class="text-left col-6">Rewards rate</div>
                                <div class="text-right col-6"><b>{{(+card.rewardsRate / 100 | percent:'1.0-1') || 0}}</b></div>
                            </div>
                            <div class="card-item__rewards-bonus row">
                                <div class="text-left col-6">Rewards bonus</div>
                                <div class="text-right col-6"><b>{{(+card.introRewardsBonus | currency:'USD':'symbol':'1.2-2') || 0}}</b></div>
                            </div>
                            <div class="card-item__apr row">
                                <div class="text-left col-6">APR</div>
                                <div class="text-right col-6"><b>{{(+card.regularAPR / 100 | percent:'1.0-1') || 0}}</b></div>
                            </div>
                        </div>
                    </div>

                    <div class="w-100 mt-5">
                        <div class="col-12 text-center">
                            <button class="best-cc-offers" (click)="openOffers(selectedOfferGroup)">
                                View all cards in this category
                            </button>
                        </div>
                    </div>
                </div>

                <ng-template class="no-available-offers" #noData>
                    <app-no-data></app-no-data>
                </ng-template>
            </div>
        </div>
        </ng-container>
        <ng-template #noOffers>
            <app-no-data></app-no-data>
        </ng-template>
    </section>

    <!--<app-no-data [showLink]="true" *ngIf="">-->
    <!--</app-no-data>-->
</div>
