<mat-dialog-content>
    <ul [dragula]="dragDropName"
        [(dragulaModel)]="bankCodeDefinitions">
        <li *ngFor="let bankCodeDefinition of bankCodeDefinitions"
            [ngStyle]="bankCodeService.getColorsByLetter(bankCodeDefinition.letter)"
            [attr.definitionLetter]="bankCodeDefinition.name[0]">
            <span class="first-letter">{{ bankCodeDefinition.name[0] }}</span>{{ bankCodeDefinition.name.slice(1) }}
        </li>
    </ul>
    <button *ngIf="bankCodeIsEmpty"
            class="button-layout button-primary"
            (click)="updateBankCode(bankCode)">
        {{ ls.l('Save') }}
    </button>
</mat-dialog-content>
