<footer>
    <div class="container-fluid">
        <h2>connect with us</h2>
        <div class="social-icons">
            <a href="#"><img src="./assets/common/images/bank-code/facebook.svg"></a>
            <a href="#"><img src="./assets/common/images/bank-code/twitter.svg"></a>
            <a href="#"><img src="./assets/common/images/bank-code/linkedin.svg"></a>
            <a href="#"><img src="./assets/common/images/bank-code/youtube.svg"></a>
        </div>
        <div class="contacts"><a href="/">bankcode.com</a>  |  <a href="mailto:support@bankcode.com">support@bankcode.com</a></div>
        <div class="row copyright align-items-center">
            <div class="col-lg-3 text-lg-left mb-3 mb-lg-0 text-md-center">
                <a href="/"><img src="./assets/common/images/bank-code/logo.png" class="logo"></a>
            </div>
            <div class="col-lg-6 text-center mb-3 mb-lg-0">
                Copyright © 2019 BANKCODE,<br />
                A Division of CODEBREAKER TECHNOLOGIES, INC. All Rights Reserved
            </div>
            <div class="col-lg-3 text-lg-right text-md-center mb-3 mb-lg-0">
                <a href="#">Privacy policy</a>  |   <a href="#">Terms of service</a>
            </div>
        </div>
    </div>
</footer>
