:host {
    md-dialog-actions {
        justify-content: flex-end;
        button {
            outline: none;
        }
    }

    /deep/ dx-radio-group {
        .dx-item-content {
            font-size: 16px;
            font-weight: 400;
        }
    }
}