:host {
    display: block;
    min-width: 600px;

    .content {
        min-height: 145px;
    }

    mat-dialog-actions {
        justify-content: end;
    }

    .info-tooltip {
        font-size: 15px;
        color: #34aeef;
        border: 1px solid #34aeef;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 18px;
        border-radius: 50%;
        text-align: center;
        margin: 0 10px;
    }
}