@import "../../_member-area.settings.less";
.content-wrap {
  min-height: 600px;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 40px 0 rgba(23, 28, 29, 0.15);
  box-sizing: border-box;
  padding: 0 30px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  position: relative;
}

@media all and (max-width: 1400px) {
  .content-wrap {
    max-width: 94%;
  }
}
