:host {
    display: inline-flex;
    i.fa {
        &:not(:last-child) {
            margin-right: 6.78px;
        }
        color: #6D97F2;
        &.empty {
            color: rgba(138,150,155,0.45);
        }
    }
}
