.xero-container {
    cursor: pointer;
    align-self: center;
    color: #00aeef;

    .xero-img {
        width: 56px;
        height: 56px;
    }

    .import-text {
        display: block;
    }

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }
}
