<span [class]="letter === '?' ? 'empty' : key + letter"
      [ngStyle]="bankCodeService.getColorsByLetter(letter)"
      (click)="click($event)">
    {{ letter }}
</span>
<dx-tooltip *ngIf="showDescriptionOnHover"
            [target]="'.' + key + letter"
            position="bottom"
            showEvent="dxhoverstart"
            hideEvent="dxhoverend">
    <div *dxTemplate="let data = data of 'content'">
        <img width="600px" height="500px" src="./assets/common/images/bank-code/{{letter}}_SalesTips.jpg">
    </div>
</dx-tooltip>
