@import "../_member-area.settings.less";

.content-wrap {
    position: relative;
    min-height: 750px;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 40px 0 rgba(23, 28, 29, 0.15);
    box-sizing: border-box;
    padding: 32px 48px 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;

    .warning {
        border: 1px solid #ed9d1a;
        padding: 20px;
        position: relative;
        border-radius: 5px;
        text-align: center;

        span {
            font-weight: bold;
            line-height: 28px;
        }

        i {
            color: #ed9d1a;
            position: relative;

            &.fa-exclamation-triangle {
                top: 8px;
                right: 22px;
            }

            &.fa-times {
                top: -25px;
                right: -35px;
                cursor: pointer;
            }
        }
    }

    .refresh-content {
        width: 100%;
        align-self: center;

        .refresh-button {
            border-radius: 6px;
            font-family: @lato;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            text-align: center;
            background-color: rgb(237, 157, 26);
            padding: 11px 50px;
            box-shadow: 0 3px 10px 0 rgba(245, 166, 35, 0.35);
            text-transform: none;
            border-color: rgb(237, 157, 26);
        }
    }

    .sidebar {
        border-right: 2px solid rgb(223, 223, 223);
        flex: 0 0 20%;

        @media all and (max-width: 1024px) {
            display: none;
        }

        .left-navigation {
            margin-top: 28px;
            list-style-type: none;
            padding-left: 0;

            .left-navigation-item {
                .left-navigation-link {
                    cursor: pointer;
                    padding: 10px 15px;
                    font-family: @lato;
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 500;
                    letter-spacing: 0.3px;
                    color: @font-color-gray;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    align-content: center;

                    .menu-icon {
                        margin-right: 10px;
                    }

                    &:hover {
                        color: @orange-color;

                        .icon-consumer-statements-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2023%22%20height%3D%2223%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m23%201.807h-22v14.995h7l4%204.998%204-4.998h7zm-16%204.998h10m-10%204.999h6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-alerts-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20viewBox%3D%220%200%2018%2022%22%20height%3D%2222%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m11.667%2018.308c0%201.468-1.156%202.59-2.667%202.59s-2.667-1.122-2.667-2.59m8.889-6.043v-4.317c0-3.367-2.755-6.043-6.222-6.043s-6.222%202.676-6.222%206.043v4.317c0%203.453-1.778%206.043-1.778%206.043h16s-1.778-2.59-1.778-6.043z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-contact-list-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20viewBox%3D%220%200%2028%2025%22%20height%3D%2225%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20stroke-linejoin%3D%22round%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20d%3D%22m15%209.844h4m-4%203.999h4m0-11.996a2%202%200%201%201%20-4%200h-6a2%202%200%201%201%20-4%200h-4v17.993h22v-17.993h-4z%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20stroke-linejoin%3D%22round%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20d%3D%22m5%208.845h6v5.997h-6z%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22m26%206.845h2v17.993h-2z%22%20fill%3D%22%23F5A623%22%2F%3E%3Cpath%20d%3D%22m7%2022.84h20v1.998h-20z%22%20fill%3D%22%23F5A623%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-inquiries-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20viewBox%3D%220%200%2019%2023%22%20height%3D%2223%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%2018.86l5.6-5.598m2.4-8.397l-6%202.999-2%2010.996%2011-2%203-5.997m1.04%201.02l-7.99-7.987%201.98-1.98%207.99%207.988z%22%2F%3E%3Cpath%20d%3D%22m9.414%2010.449a1.999%201.999%200%201%201%20-2.828%202.827%201.999%201.999%200%201%201%202.828%20-2.827m-8.414%2011.41h16%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-recommendation-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20viewBox%3D%220%200%2021%2026%22%20height%3D%2226%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%201.886h19v22.992h-19z%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m1%201.886h19v22.992h-19z%22%2F%3E%3Cpath%20d%3D%22m10.952%208.076h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%208.076h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%208.076l0.905%200.885%202.714-2.653%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%208.076l0.905%200.885%202.714-2.653%22%2F%3E%3Cpath%20d%3D%22m10.952%2013.382h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%2013.382h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%2013.382l0.905%200.884%202.714-2.652%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%2013.382l0.905%200.884%202.714-2.652%22%2F%3E%3Cpath%20d%3D%22m10.952%2018.688h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%2018.688h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%2018.688h1.81%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%2018.688h1.81%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-report-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20viewBox%3D%220%200%2021%2025%22%20height%3D%2225%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%200.944h19v22.992h-19z%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m1%200.944h19v22.992h-19z%22%2F%3E%3Cpath%20d%3D%22m10.952%207.134h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%206.942h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%207.134l0.905%200.885%202.714-2.653m2.714%207.074h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%2011.94h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%2012.44l0.905%200.884%202.714-2.653m2.714%207.075h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%2016.938h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%2017.746h1.81%22%20fill%3D%22none%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-score-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20viewBox%3D%220%200%2022%2019%22%20height%3D%2219%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m9%201.982h4v15.994h-4zm-8%209.996h4v5.998h-4zm16-4.998h4v10.996h-4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-score-simulator-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2025%22%20height%3D%2225%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m4%2010.766v-8.996m0%2021.991v-2.999m8-17.992v-1m0%2021.991v-10.996m8-1.999v-8.996m0%2021.991v-2.999m-13.879-5.119a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200m8-7.997a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200m8%207.997a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-summary-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2025%22%20height%3D%2225%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%207.962h22v15.994h-22z%22%2F%3E%3Cpath%20d%3D%22m13.414%2014.545a1.999%201.999%200%201%201%20-2.828%202.827%201.999%201.999%200%201%201%202.828%20-2.827%22%2F%3E%3Cpath%20d%3D%22m17%2010.96h-10c0%201.7-1.3%203-3%203v3.998c1.7%200%203%201.3%203%202.999h10c0-1.7%201.3-3%203-3v-3.997c-1.7%200-3-1.3-3-2.999zm-13-5.997h16m-12-2.999h8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-tracker-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2021%22%20height%3D%2221%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m23%2017.919l-4.17-4.169m-10.83-5.828h-7m7%205.998h-7m15%205.998h-15m15-17.993h-15m17.828%206.169a3.997%203.997%200%200%201%200%205.655%204.001%204.001%200%200%201%20-5.656%200%203.997%203.997%200%200%201%200%20-5.655%204.001%204.001%200%200%201%205.656%200%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-dispute-management-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2020%22%20height%3D%2220%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m6%201.788l3%206.997c0%201.7-1.5%203-4%203s-4-1.3-4-3l5-6.997h12l5%206.997c0%201.7-1.5%203-4%203s-4-1.3-4-3l3-6.997m-6%200v16.992m-5%200.001h10m-16-9.996h8m6%200h8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-score-factors-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20viewBox%3D%220%200%2023%2024%22%20height%3D%2224%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m10.9%2019.82h-0.9c-5%200-9-3.998-9-8.996s4-8.997%209-8.997%209%203.999%209%208.997v0.8%22%2F%3E%3Cpath%20d%3D%22m10.4%2015.822h-0.4c-2.8%200-5-2.199-5-4.998s2.2-4.998%205-4.998%205%202.2%205%204.998v0.4%22%2F%3E%3Cpath%20d%3D%22m10%2010.824l1%2010.996%203-2.999%204%203.999%204-3.999-4-3.998%203-3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }
                    }
                }

                &.active {
                    .left-navigation-link {
                        color: @orange-color;

                        .icon-consumer-statements-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2023%22%20height%3D%2223%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m23%201.807h-22v14.995h7l4%204.998%204-4.998h7zm-16%204.998h10m-10%204.999h6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-alerts-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20viewBox%3D%220%200%2018%2022%22%20height%3D%2222%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m11.667%2018.308c0%201.468-1.156%202.59-2.667%202.59s-2.667-1.122-2.667-2.59m8.889-6.043v-4.317c0-3.367-2.755-6.043-6.222-6.043s-6.222%202.676-6.222%206.043v4.317c0%203.453-1.778%206.043-1.778%206.043h16s-1.778-2.59-1.778-6.043z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-contact-list-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20viewBox%3D%220%200%2028%2025%22%20height%3D%2225%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20stroke-linejoin%3D%22round%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20d%3D%22m15%209.844h4m-4%203.999h4m0-11.996a2%202%200%201%201%20-4%200h-6a2%202%200%201%201%20-4%200h-4v17.993h22v-17.993h-4z%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20stroke-linejoin%3D%22round%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20d%3D%22m5%208.845h6v5.997h-6z%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22m26%206.845h2v17.993h-2z%22%20fill%3D%22%23F5A623%22%2F%3E%3Cpath%20d%3D%22m7%2022.84h20v1.998h-20z%22%20fill%3D%22%23F5A623%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-inquiries-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20viewBox%3D%220%200%2019%2023%22%20height%3D%2223%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%2018.86l5.6-5.598m2.4-8.397l-6%202.999-2%2010.996%2011-2%203-5.997m1.04%201.02l-7.99-7.987%201.98-1.98%207.99%207.988z%22%2F%3E%3Cpath%20d%3D%22m9.414%2010.449a1.999%201.999%200%201%201%20-2.828%202.827%201.999%201.999%200%201%201%202.828%20-2.827m-8.414%2011.41h16%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-recommendation-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20viewBox%3D%220%200%2021%2026%22%20height%3D%2226%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%201.886h19v22.992h-19z%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m1%201.886h19v22.992h-19z%22%2F%3E%3Cpath%20d%3D%22m10.952%208.076h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%208.076h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%208.076l0.905%200.885%202.714-2.653%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%208.076l0.905%200.885%202.714-2.653%22%2F%3E%3Cpath%20d%3D%22m10.952%2013.382h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%2013.382h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%2013.382l0.905%200.884%202.714-2.652%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%2013.382l0.905%200.884%202.714-2.652%22%2F%3E%3Cpath%20d%3D%22m10.952%2018.688h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%2018.688h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%2018.688h1.81%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%2018.688h1.81%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-report-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20viewBox%3D%220%200%2021%2025%22%20height%3D%2225%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%200.944h19v22.992h-19z%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m1%200.944h19v22.992h-19z%22%2F%3E%3Cpath%20d%3D%22m10.952%207.134h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%206.942h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%207.134l0.905%200.885%202.714-2.653m2.714%207.074h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%2011.94h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%2012.44l0.905%200.884%202.714-2.653m2.714%207.075h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%2016.938h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%2017.746h1.81%22%20fill%3D%22none%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-score-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20viewBox%3D%220%200%2022%2019%22%20height%3D%2219%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m9%201.982h4v15.994h-4zm-8%209.996h4v5.998h-4zm16-4.998h4v10.996h-4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-score-simulator-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2025%22%20height%3D%2225%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m4%2010.766v-8.996m0%2021.991v-2.999m8-17.992v-1m0%2021.991v-10.996m8-1.999v-8.996m0%2021.991v-2.999m-13.879-5.119a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200m8-7.997a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200m8%207.997a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-summary-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2025%22%20height%3D%2225%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%207.962h22v15.994h-22z%22%2F%3E%3Cpath%20d%3D%22m13.414%2014.545a1.999%201.999%200%201%201%20-2.828%202.827%201.999%201.999%200%201%201%202.828%20-2.827%22%2F%3E%3Cpath%20d%3D%22m17%2010.96h-10c0%201.7-1.3%203-3%203v3.998c1.7%200%203%201.3%203%202.999h10c0-1.7%201.3-3%203-3v-3.997c-1.7%200-3-1.3-3-2.999zm-13-5.997h16m-12-2.999h8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-credit-tracker-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2021%22%20height%3D%2221%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m23%2017.919l-4.17-4.169m-10.83-5.828h-7m7%205.998h-7m15%205.998h-15m15-17.993h-15m17.828%206.169a3.997%203.997%200%200%201%200%205.655%204.001%204.001%200%200%201%20-5.656%200%203.997%203.997%200%200%201%200%20-5.655%204.001%204.001%200%200%201%205.656%200%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-dispute-management-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2020%22%20height%3D%2220%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m6%201.788l3%206.997c0%201.7-1.5%203-4%203s-4-1.3-4-3l5-6.997h12l5%206.997c0%201.7-1.5%203-4%203s-4-1.3-4-3l3-6.997m-6%200v16.992m-5%200.001h10m-16-9.996h8m6%200h8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }

                        .icon-score-factors-menu-icon {
                            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20viewBox%3D%220%200%2023%2024%22%20height%3D%2224%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23F5A623%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m10.9%2019.82h-0.9c-5%200-9-3.998-9-8.996s4-8.997%209-8.997%209%203.999%209%208.997v0.8%22%2F%3E%3Cpath%20d%3D%22m10.4%2015.822h-0.4c-2.8%200-5-2.199-5-4.998s2.2-4.998%205-4.998%205%202.2%205%204.998v0.4%22%2F%3E%3Cpath%20d%3D%22m10%2010.824l1%2010.996%203-2.999%204%203.999%204-3.999-4-3.998%203-3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                            background-repeat: no-repeat
                        }
                    }
                }
            }
        }
    }

    .p-content {
        flex: 0 0 80%;
        padding: 30px 15px 15px 15px;
        max-width: calc(~"100% - 255px");

        @media all and (max-width: 1024px) {
            max-width: 100%;
            padding-left: 0;
            flex: 0 0 100%;
        }

        h1 {
            font-family: @robotoslab;
            font-size: 30px;
            letter-spacing: 0.2px;
            color: rgb(2, 31, 68);
            padding-bottom: 30px;
            border-bottom: solid 1px rgb(223, 223, 223);

            .button {
                border-radius: 6px;
                font-family: @lato;
                float: right;
                font-size: 16px;
                font-weight: 600;
                color: #fff;
                text-align: center;
                background-color: rgb(237, 157, 26);
                padding: 11px 50px;
                box-shadow: 0 3px 10px 0 rgba(245, 166, 35, 0.35);
                text-transform: none;
                margin-left: 10px;
                text-decoration: none;
                line-height: 24px;
            }
        }
    }
}

.button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media all and (max-width: 1400px) {
    .content-wrap {
        max-width: 94%;
    }
}

.content-wrap.select-package {
    display: block !important;
}


.icon-consumer-statements-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2023%22%20height%3D%2223%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m23%201.807h-22v14.995h7l4%204.998%204-4.998h7zm-16%204.998h10m-10%204.999h6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-consumer-statements-menu-icon-dims {
    width: 24px;
    height: 23px
}

.icon-credit-alerts-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20viewBox%3D%220%200%2018%2022%22%20height%3D%2222%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m11.667%2018.308c0%201.468-1.156%202.59-2.667%202.59s-2.667-1.122-2.667-2.59m8.889-6.043v-4.317c0-3.367-2.755-6.043-6.222-6.043s-6.222%202.676-6.222%206.043v4.317c0%203.453-1.778%206.043-1.778%206.043h16s-1.778-2.59-1.778-6.043z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-alerts-menu-icon-dims {
    width: 18px;
    height: 22px
}

.icon-credit-contact-list-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20viewBox%3D%220%200%2028%2025%22%20height%3D%2225%22%3E%3Cg%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20stroke-linejoin%3D%22round%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20d%3D%22m15%209.844h4m-4%203.999h4m0-11.996a2%202%200%201%201%20-4%200h-6a2%202%200%201%201%20-4%200h-4v17.993h22v-17.993h-4z%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20stroke-linejoin%3D%22round%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20d%3D%22m5%208.845h6v5.997h-6z%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22m26%206.845h2v17.993h-2z%22%20fill%3D%22%235D666A%22%2F%3E%3Cpath%20d%3D%22m7%2022.84h20v1.998h-20z%22%20fill%3D%22%235D666A%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-contact-list-menu-icon-dims {
    width: 28px;
    height: 25px
}

.icon-credit-inquiries-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20viewBox%3D%220%200%2019%2023%22%20height%3D%2223%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%2018.86l5.6-5.598m2.4-8.397l-6%202.999-2%2010.996%2011-2%203-5.997m1.04%201.02l-7.99-7.987%201.98-1.98%207.99%207.988z%22%2F%3E%3Cpath%20d%3D%22m9.414%2010.449a1.999%201.999%200%201%201%20-2.828%202.827%201.999%201.999%200%201%201%202.828%20-2.827m-8.414%2011.41h16%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-inquiries-menu-icon-dims {
    width: 19px;
    height: 23px
}

.icon-credit-recommendation-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20viewBox%3D%220%200%2021%2026%22%20height%3D%2226%22%3E%3Cg%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%201.886h19v22.992h-19z%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m1%201.886h19v22.992h-19z%22%2F%3E%3Cpath%20d%3D%22m10.952%208.076h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%208.076h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%208.076l0.905%200.885%202.714-2.653%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%208.076l0.905%200.885%202.714-2.653%22%2F%3E%3Cpath%20d%3D%22m10.952%2013.382h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%2013.382h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%2013.382l0.905%200.884%202.714-2.652%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%2013.382l0.905%200.884%202.714-2.652%22%2F%3E%3Cpath%20d%3D%22m10.952%2018.688h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m10.952%2018.688h4.524%22%2F%3E%3Cpath%20d%3D%22m4.619%2018.688h1.81%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m4.619%2018.688h1.81%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-recommendation-menu-icon-dims {
    width: 21px;
    height: 26px
}

.icon-credit-report-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20viewBox%3D%220%200%2021%2025%22%20height%3D%2225%22%3E%3Cg%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%200.944h19v22.992h-19z%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m1%200.944h19v22.992h-19z%22%2F%3E%3Cpath%20d%3D%22m10.952%207.134h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%206.942h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%207.134l0.905%200.885%202.714-2.653m2.714%207.074h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%2011.94h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%2012.44l0.905%200.884%202.714-2.653m2.714%207.075h4.524%22%20fill%3D%22none%22%2F%3E%3Cpath%20stroke-width%3D%221.8%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22square%22%20d%3D%22m5.756%2016.938h9.72%22%2F%3E%3Cpath%20d%3D%22m4.619%2017.746h1.81%22%20fill%3D%22none%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-report-menu-icon-dims {
    width: 21px;
    height: 25px
}

.icon-credit-score-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20viewBox%3D%220%200%2022%2019%22%20height%3D%2219%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m9%201.982h4v15.994h-4zm-8%209.996h4v5.998h-4zm16-4.998h4v10.996h-4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-score-menu-icon-dims {
    width: 22px;
    height: 19px
}

.icon-credit-score-simulator-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2025%22%20height%3D%2225%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m4%2010.766v-8.996m0%2021.991v-2.999m8-17.992v-1m0%2021.991v-10.996m8-1.999v-8.996m0%2021.991v-2.999m-13.879-5.119a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200m8-7.997a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200m8%207.997a2.998%202.998%200%200%201%200%204.241%203%203%200%200%201%20-4.242%200%202.998%202.998%200%200%201%200%20-4.241%203%203%200%200%201%204.242%200%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-score-simulator-menu-icon-dims {
    width: 24px;
    height: 25px
}

.icon-credit-summary-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2025%22%20height%3D%2225%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m1%207.962h22v15.994h-22z%22%2F%3E%3Cpath%20d%3D%22m13.414%2014.545a1.999%201.999%200%201%201%20-2.828%202.827%201.999%201.999%200%201%201%202.828%20-2.827%22%2F%3E%3Cpath%20d%3D%22m17%2010.96h-10c0%201.7-1.3%203-3%203v3.998c1.7%200%203%201.3%203%202.999h10c0-1.7%201.3-3%203-3v-3.997c-1.7%200-3-1.3-3-2.999zm-13-5.997h16m-12-2.999h8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-summary-menu-icon-dims {
    width: 24px;
    height: 25px
}

.icon-credit-tracker-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2021%22%20height%3D%2221%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m23%2017.919l-4.17-4.169m-10.83-5.828h-7m7%205.998h-7m15%205.998h-15m15-17.993h-15m17.828%206.169a3.997%203.997%200%200%201%200%205.655%204.001%204.001%200%200%201%20-5.656%200%203.997%203.997%200%200%201%200%20-5.655%204.001%204.001%200%200%201%205.656%200%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-credit-tracker-menu-icon-dims {
    width: 24px;
    height: 21px
}

.icon-dispute-management-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20viewBox%3D%220%200%2024%2020%22%20height%3D%2220%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m6%201.788l3%206.997c0%201.7-1.5%203-4%203s-4-1.3-4-3l5-6.997h12l5%206.997c0%201.7-1.5%203-4%203s-4-1.3-4-3l3-6.997m-6%200v16.992m-5%200.001h10m-16-9.996h8m6%200h8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-dispute-management-menu-icon-dims {
    width: 24px;
    height: 20px
}

.icon-score-factors-menu-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20viewBox%3D%220%200%2023%2024%22%20height%3D%2224%22%3E%3Cg%20stroke-linejoin%3D%22round%22%20opacity%3D%22.7%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%235D666A%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m10.9%2019.82h-0.9c-5%200-9-3.998-9-8.996s4-8.997%209-8.997%209%203.999%209%208.997v0.8%22%2F%3E%3Cpath%20d%3D%22m10.4%2015.822h-0.4c-2.8%200-5-2.199-5-4.998s2.2-4.998%205-4.998%205%202.2%205%204.998v0.4%22%2F%3E%3Cpath%20d%3D%22m10%2010.824l1%2010.996%203-2.999%204%203.999%204-3.999-4-3.998%203-3z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat
}

.icon-score-factors-menu-icon-dims {
    width: 23px;
    height: 24px
}

.spinner > span {
    position: relative;
    left: 10px;
    width: 8px;
    height: 8px;
    background-color: #FFF;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

//----------------------------------
/deep/ .tab-btn {
    list-style-type: none;
    padding-left: 0;

    li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;

        a,
        button {
            display: block;
            width: 120px;
            text-align: center;
            background-color: #fff;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: #8a969b;
            border: 1px solid #dfdfdf;
            padding: 4px 17px;
            text-decoration: none;
            text-transform: none;
            outline: none;

            &:hover,
            &.active {
                background-color: #3bafd9;
                border-color: #3bafd9;
                color: #fff;
            }
        }

        &:first-child {
            a,
            button {
                border-radius: 3px 0 0 3px;
            }
        }

        &:last-child {
            a,
            button {
                border-radius: 0 3px 3px 0;
            }
        }
    }
}

/deep/ .report-item {
    margin: 25px 0;

    .report-item-title {
        font-family: "roboto-slab", serif;
        padding: 10px 16px 9px;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.6px;
        color: rgb(23, 28, 29);
        background-color: rgb(250, 250, 250);
        margin: 20px 0 10px;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;

        span {
            line-height: 28px;
        }

        ul {
            margin-bottom: 0;

            li {
                a, button {
                    display: block;
                }
            }
        }
    }

    .report-item-content {
        padding: 0 30px;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.2px;
        color: rgb(93, 102, 106);

        .table-striped {
            thead {
                tr {
                    th {
                        border-bottom: 2px solid rgb(223, 223, 223);
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: 600;
                        letter-spacing: 0.4px;
                        color: #8a969b;
                        padding-top: 19px;
                        padding-bottom: 19px;
                    }
                }
            }
        }

        .table-striped tr td {
            border: 0;
            font-size: 15px;
            line-height: 1.6;
            color: #5d666a;
        }

        .row-title {
            font-weight: bold;
            color: rgb(18, 21, 22);
            white-space: nowrap;
        }

        .table-striped > tbody > tr {
            background: rgba(250, 250, 250, 0.8);
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background: #fff;
        }
    }
}

/deep/ .info-alert {
    background-color: rgba(59, 174, 216, 0.05);
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 0.4px;
    color: #5d666a;
    padding: 12px 19px 12px 44px;
    position: relative;
    margin-bottom: 10px;

    &::before {
        content: '';
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -8px;
        width: 16px;
        height: 16px;
        display: block;
        background: transparent url('../../../assets/images/credit-report/alert-info-icon.svg') 50% 50% no-repeat;
    }
}


/**
    packages
*/

.land-form-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #171c1d;
    font-family: "roboto-slab", serif;
    margin-top: 0;
    position: relative;
    text-align: left;
    span + span {
        display: inline-block;
        padding: 24px 0 21px;
    }
    .number {
        display: inline-block;
        font-family: "lato", sans-serif;
        opacity: 0.05;
        font-size: 64px;
        font-weight: 900;
        letter-spacing: 0.5px;
        color: #021f44;
        margin-right: 8px;
    }
    .description {
        font-size: 16px;
        letter-spacing: 0.2px;
        color: #778489;
    }
}

.client-info {
    input {
        height: 48px;
        line-height: 40px;
        padding: 4px 20px;
        border-radius: 4px;
        font-family: "lato", sans-serif;
        background-color: #ffffff;
        border: solid 1px #dfdfdf;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.2px;
        color: #8a969b;
        display: block;
        margin-bottom: 16px;
        width: 100%;
    }
    .phone {
        width: 70%;
        float: left;
    }
    .zip {
        width: 28%;
        float: right;
    }
    button {
        display: block;
        width: 100%;
        border: 0;
        height: 48px;
        border-radius: 4px;
        background-color: #f58023;
        box-shadow: 0 3px 10px 0 rgba(245, 128, 35, 0.35);
        font-family: "lato", sans-serif;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.1px;
        text-align: center;
        color: #ffffff;
        padding: 0 24px;
        img {
            float: right;
            position: relative;
            top: 5px; // temp
        }
    }
}

.bordered {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #dfdfdf;
    margin-bottom: 20px;
    padding: 20px 30px 25px;
    position: relative;
    .legend {
        font-family: "lato", sans-serif;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.3px;
        color: #8a969b;
        border-bottom: 0;
        background: #fff;
        display: inline-block;
        padding: 0 10px;
        width: auto;
        position: absolute;
        top: -12px;
    }
}

.credit-score-list {
    .credit-score-item {
        width: 30%;
        margin: 0 1%;
        padding: 0 10px;
        display: inline-block;
        box-sizing: border-box;
        img {
            display: block;
            max-width: 100%;
        }
    }
}

.features-list {
    .features-item {
        width: 30%;
        margin: 0 1%;
        padding: 0 15px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        figure {
            min-height: 34px;
            margin-bottom: 5px;
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
        p {
            font-family: "lato", sans-serif;
            font-size: 15px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: 0.3px;
            text-align: center;
            color: #171c1d;
            max-width: 100px;
            margin: 0 auto;
        }
    }
}

.cr-tooltip {
    position: relative;
    display: inline-block;
    .tooltip-img {
        position: relative;
        top: -1px;
    }
    .tooltip-info {
        opacity: 0;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0 10px 40px 0 rgba(23, 28, 29, 0.15);
        padding: 13px 22px 16px;
        min-width: 400px;
        font-family: "lato", sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.23;
        color: #778489;
        z-index: 1000;
        top: -22px;
        left: 24px;
        transition: .2s;
        display: none;
        &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 7px 7.5px 0;
            border-color: transparent #ffffff transparent transparent;
            position: absolute;
            left: -7px;
            top: 50%;
            margin-top: -7.5px;
        }
    }
    &:hover {
        .tooltip-info {
            display: block;
            opacity: 1;
        }
    }
}
