:host {
    display: block;
    padding: 0 20px;
    .clipboard-holder {
        display: flex;
        .save-to-clipboard {
            display: none;                
        }
        &:hover {
            .save-to-clipboard {
                display: inline-block;
            }
        }
        .filter-icon {
            position: absolute;
            right: 10px;
            width: 30px;
            background: url('../../../assets/common/icons/filter.svg') no-repeat center;
            cursor: pointer;
        }
    }
}
