.title {
    background-color: #f3f7fa;
    padding: 30px 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        width: 412px;
        height: 18px;
        font-size: 24px;
        line-height: 0;
        text-align: left;
        color: #212c36;
        margin: 0;
    }
    .add-new {
        width: 192px;
        height: 42px;
        border-radius: 21px;
        background-color: #00aeef;
        border: none;
        color: #fff;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0.3px;
        float: right;
        position: relative;
        padding-right: 42px;

        &::after {
            content: '';
            background: no-repeat 47% 50% url("/assets/icons/arrow_2.svg") ;
            width: 42px;
            height: 100%;
            background-color: #00a0dc;
            border-top-right-radius: 21px;
            border-bottom-right-radius: 21px;
            display: block;
            right: 0;
            position: absolute;
            top: 0;
        }
    }

}

