<header>
  <div class="avatar">
      <div class="active"></div>
      <img src="{{ data?.primaryContactInfo.photo ? 'data:image/png;base64,' + data.primaryContactInfo.photo.thumbnail: person.person_photo_url }}" alt="Person Photo">
  </div>
  <div class="personal_info">
      <div class="full_name">
          <h1 *ngIf="data && data?.name; else loading">{{ data?.name }}</h1>
          <ng-template #loading>
            <md-progress-spinner mode="indeterminate" strokeWidth="10"></md-progress-spinner>
          </ng-template>
      </div>
      <div class="rating">
        <md-progress-bar color="#2fb8f0" value="{{ person.rating * 10}}"></md-progress-bar>
        <span class="rating_int">{{person.rating}}/10</span>
      </div>
  </div>
  <div class="header_financial_info">
      <div class="approved">
          <h3 class="lab">Approved</h3>
          <span>${{person.approved_sum}}</span>
      </div>
      <div class="requested">
          <h3 class="lab">Requested</h3>
          <span>${{person.requested_sum_min}}-${{person.requested_sum_max}}</span>
      </div>
  </div>
</header>