<div class="wrap">
    <header class="section-header">
        <h2>Recommended articles</h2>
        <a class="show-all" routerLink="">Show all</a>
    </header>

    <div class="list-wrap">
        <ul class="articles">
            <li class="row article" *ngFor="let article of articles">
                <div class="col-5">
                    <img [src]="'./assets/common/images/pfm-cc/' + article.img" alt="Article Title">
                </div>
                <div class="col-7">
                    <p>{{article.text}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
