:host {
    width: 55px;

    .m-card-user {
        .m-card-user__details {
            padding: 0 15px 0 0;
        }

        .m-card-user__pic {
            padding: 0;
            vertical-align: baseline;
        }
    }

    .user-info {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 400;
        display: block;
        word-break: break-word;

        &.fullName {
            font-weight: 600;
            text-transform: capitalize;
            font-size: 22px;
            line-height: 26px;
        }

        &.email {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            height: 20px;
        }

        &.tenantName {
            display: none;
            text-align: left;
            margin-top: 15px;
            font-size: 22px;
            font-weight: 600;
        }
    }

    .m-dropdown__arrow .user-info-drop-down-arrow {
        color: #43383b !important;
    }

    .m-dropdown__inner {
        @media (max-width: 400px) {
            transform: scale(0.8);
            transform-origin: top right;
        }

        .m-dropdown__header {
            padding: 30px 25px 26px;
            display: flex;
            justify-content: space-between;
            background: linear-gradient(to right, #43383b 60%, gray);
            box-shadow: inset 2px 5px 12px 2px #43383b;
            .bank-code-section {
                text-align: right;
                div {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 0.4px;
                    color: #ffffff;
                    margin-bottom: 4px;
                }
                a {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 1.85;
                    letter-spacing: normal;
                    color: #ffffff;
                    &:after {
                        content: url('../../../../../assets/common/images/bank-code/arrow-down.svg');
                        margin-left: 3px;
                    }
                }
            }
        }
    }

    .header-profile-picture,
    /deep/ #header_notification_bar .header-profile-picture{
        width: 41px;
        height: 41px;
        max-width: 41px!important;
        object-fit: cover;
        &[src*="avatar"] {
            padding: 8px;
            background: #f0d500;
        }
    }

    .m-nav__item {
        &.bottom-logout {
            display: inline-block;
            width: 121px;
            .m-nav__link-text {
                color: #3463ae;
            }
        }
        .m-nav__separator {
            height: 1px;
            background: #f4f5f8;
        }
    }

    .m-nav .m-nav__item > .m-nav__link {

        .m-nav__link-icon {
            width: 18px;
            height: 20px;
            display: inline-block;
            margin: 5px 15px 5px 0;
            vertical-align: middle;
            background-size: contain !important;
            background-repeat: no-repeat !important;
        }

        .m-nav__link-title {
            display: inline-block;
        }
    }

    .m-dropdown__wrapper {
        &.bank-code {
            @media (min-width: 1025px) {
                width: 350px;
            }
        }
    }

    @media (max-width: 768px) {
        .m-dropdown__wrapper {
            left: auto;
            right: 0;
            .m-nav .m-nav__item > .m-nav__link {
                table-layout: auto;

                .m-nav__link-text {
                    font-size: 16px;
                }
            }
        }
    }

    .bank-code-block {
        padding: 0 25px;
        & > div {
            border-bottom: 1px solid #dfdfdf;
            padding: 15px 0;
        }
        /deep/ bank-code-letters {
            display: flex;
            align-items: center;
            bank-code-letter {
                span {
                    width: 37px;
                    height: 37px;
                    line-height: 37px;
                    font-size: 28px;
                }
                &:not(:last-child) {
                    margin-right: 7px;
                }
            }
            .bankCodeDefinition {
                margin-left: auto;
            }
            a.reportLink {
                img {
                    max-width: 25px;
                    max-height: 25px;
                }
            }
            i {
                margin-left: 0;
            }
        }

        .bank-code {
            & + * {
                margin-top: 18px;
            }
        }

        .bank-code,
        .access-code {
            display: flex;
            align-items: center;
            justify-content: space-between;
            label {
                margin-bottom: 0;
                font-size: 15px;
                font-weight: 500;
                color: #677380;
                min-width: 131px;
            }
        }

        .access-code {
            /deep/ inplace-edit {
                width: 169px;
                border-radius: 4px;
                border: solid 1px #e5e9ec;
                background-color: #f3f7fa;
                .inplace-edit-view-mode {
                    display: flex;
                    justify-content: space-between;
                }
                .inplace-edit-view-mode .link a {
                    padding-right: 0;
                }
                .inplace-edit-view-mode .link,
                .dx-textbox input {
                    padding-left: 5px;
                    font-size: 16px;
                    font-weight: 700;
                    padding-right: 5px;
                }
                .inplace-edit-view-mode .link,
                .dx-textbox input,
                .dx-textbox {
                    color: inherit;
                }
            }
        }
    }
}

/deep/ body.lend-space {
    .page-header .page-top {
        /deep/ .m-nav__item {
            .m-nav__link-title {
                .m-nav__link-text {
                    font-family: Poppins;
                    font-size: 15px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.67;
                    letter-spacing: normal;
                }
            }
        }
    }
}

.access-code-instructions {
    white-space: normal;
    text-align: left;
    h6 {
        text-transform: uppercase;
    }
    p {
        margin-bottom: 5px;
    }
    .link {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 311px;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        a {
            margin-right: 5px;
            font-size: 11px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        img {
            cursor: pointer;
        }
    }

}
