<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
    data-dropdown-toggle="click"
    #topBarUserProfile>
    <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
        <span class="m-topbar__userpic">
            <img alt="" class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                 [src]="userManagementService.getProfilePictureUrl(appSession?.user?.profileThumbnailId)"/>
        </span>
    </a>
    <div class="m-dropdown__wrapper" [ngClass]="hasBankCodeFeature && bankCode || hasBankCodeLayout ? 'bank-code' : ''" (click)="onClick($event)">
        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust user-info-drop-down-arrow"></span>
        <div class="m-dropdown__inner">
            <div class="m-dropdown__header m--align-center" [ngStyle]="getDropdownHeaderStyle()">
                <div [ngStyle]="{ maxWidth: hasBankCodeFeature && bankCode ? '200px' : 'initial' }">
                    <div class="m-card-user m-card-user--skin-dark">
                        <div class="m-card-user__details">
                        <span class="user-info fullName">
                            {{ shownLoginInfo.fullName }}
                        </span>
                            <span class="user-info email" title="{{ shownLoginInfo.email }}">
                            {{ shownLoginInfo.email }}
                        </span>
                        </div>
                    </div>
                    <div *ngIf="subtitle" class="user-info tenantName">
                        {{ subtitle }}
                    </div>
                </div>
                <div *ngIf="hasBankCodeFeature && bankCode" class="bank-code-section">
                    <div>{{ bankCodeService.getBankCodeDefinition(bankCode[0]) }}</div>
                    <a [href]="'https://www.crackmycode.com/ProfileReportFiles/' + bankCode + 'ProfileReport.pdf'"
                       target="_blank"
                       download>{{ ls.l('GetReport') }}</a>
                </div>
            </div>
            <div *ngIf="hasBankCodeFeature || hasBankCodeLayout" class="bank-code-block">
                <div>
                    <div *ngIf="hasBankCodeFeature" class="bank-code">
                        <label>{{ ls.l('MyBANKCODE') }}</label>
                        <bank-code-letters [bankCode]="bankCode"
                                           [allowAdd]="true"
                                           [showDescriptionsOnHover]="true">
                        </bank-code-letters>
                    </div>
                    <ng-container *ngIf="hasBankCodeLayout">
                        <div class="access-code">
                            <label>{{ ls.l('MyAccessCode') }}</label>
                            <inplace-edit [value]="accessCode"
                                          [isCopyEnabled]="true"
                                          [isEditDialogEnabled]="true"
                                          [showEditModeOnEditButtonClick]="true"
                                          buttonsPosition="below"
                                          [ngStyle]="{ color: bankCodeColor }"
                                          (valueChanged)="accessCodeChanged($event)">
                            </inplace-edit>
                        </div>
                        <img src="./assets/common/icons/info-icon-blue.svg"
                             id="accessCodeTooltip"
                             (mouseleave)="isAccessCodeTooltipVisible = false"
                             (mouseenter)="isAccessCodeTooltipVisible = true">
                        <dx-tooltip [position]="{
                                        my: 'left top',
                                        at: 'right bottom',
                                        of: '#accessCodeTooltip',
                                        offset: '-19 5'
                                    }"
                                    [(visible)]="isAccessCodeTooltipVisible"
                                    [height]="184"
                                    [width]="310">
                            <div *dxTemplate="let data of 'content'">
                                <div style="white-space: normal">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>
                            </div>
                        </dx-tooltip>
                    </ng-container>
                </div>
            </div>
            <dx-scroll-view showScrollbar="onHover" [height]="getScrollHeight()" [width]="'100%'">
                <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                        <ul class="m-nav m-nav--skin-light">
                            <ng-container *ngFor="let menuItem of dropdownMenuItems">
                                <li class="m-nav__item" [ngClass]="menuItem.cssClass" *ngIf="menuItem.type !== menuItemTypes.Separator && (menuItem.visible === undefined || menuItem.visible)">
                                    <a href="javascript:;" class="m-nav__link" (click)="menuItemClick(menuItem, $event)">
                                        <i class="m-nav__link-icon" *ngIf="menuItem.iconClass" [ngClass]="menuItem.iconClass"></i>
                                        <img class="m-nav__link-icon" *ngIf="menuItem.iconSrc" [src]="menuItem.iconSrc">
                                        <span class="m-nav__link-title">
                                            <span class="m-nav__link-wrap">
                                                <span [id]="menuItem.id" class="m-nav__link-text">
                                                    {{ menuItem.name }}
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <ng-container *ngIf="menuItem.submenuItems">
                                    <ul [id]="menuItem.submenuItems.id" class="m-nav linked-accounts" *ngIf="menuItem.submenuItems.items">
                                        <li *ngFor="let submenuItem of menuItem.submenuItems.items" class="m-nav__item">
                                            <a href="javascript:;" (click)="menuItem.submenuItems.onItemClick(submenuItem)" class="m-nav__link">
                                                <span class="m-nav__link-bullet m-nav__link-bullet--dot">
                                                    <span></span>
                                                </span>
                                                <span class="m-nav__link-text">
                                                    {{ menuItem.submenuItems.onItemDisplay(submenuItem) }}
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </ng-container>
                                <li *ngIf="menuItem.type === menuItemTypes.Separator && (menuItem.visible || menuItem.visible === undefined)" class="m-nav__separator m-nav__separator--fit"></li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </dx-scroll-view>
        </div>
    </div>
</li>
