<h2>Payment Information</h2>

<dx-data-grid id="gridContainer"
              [dataSource]="dataSource"
              keyExpr="id"
              [allowColumnReordering]="true"
              [columnAutoWidth]="true"
              [allowColumnResizing]="true"
              [masterDetail]="{ enabled: true, template: 'detail' }">
    <dxi-column dataField="frequency" caption="{{l('Frequency')}}"></dxi-column>
    <dxi-column dataField="payerType" caption="{{l('Payer Type')}}"></dxi-column>
    <dxi-column dataField="status" caption="{{l('Status')}}"></dxi-column>
    <dxi-column caption="" [width]="120" cellTemplate="actionsTemplate"></dxi-column>

    <div *dxTemplate="let cell of 'actionsTemplate'" class="billing-actions">
        <a *ngIf="cell.data.statusCode != 'C'" (click)="cancelSubscription(cell.data.id)">{{l('cancel')}}</a>
    </div>

    <div *dxTemplate="let orderSubscription of 'detail'">
        <div class="master-detail-caption">{{'Billing\'s orders'}}</div>
        <dx-data-grid [dataSource]="orderSubscription.data.orderSubscriptions"
                      [showBorders]="true"
                      [columnAutoWidth]="true">
            <dxi-column dataField="startDate" dataType="date"></dxi-column>
            <dxi-column dataField="endDate" dataType="date"></dxi-column>
            <dxi-column dataField="fee" cellTemplate="amountTemplate"></dxi-column>
            <dxi-column dataField="productType"></dxi-column>
            <dxi-column dataField="productId"></dxi-column>

            <div *dxTemplate="let cell of 'amountTemplate'">
                <span> {{ cell.text | currency:'USD':'symbol':'1.2-2' }} </span>
            </div>
        </dx-data-grid>
    </div>
</dx-data-grid>
