<div class="wrapper">
    <div class="form-group">
        <label></label>
        <dx-check-box 
            class="form-control" 
            [text]="ls.l('Enabled')"
            [(value)]="isEnabled">
        </dx-check-box>
    </div>
    <div class="form-group">
        <label>{{ls.l("Url")}}</label>
        <dx-text-box 
            class="form-control"
            maxlength="128"
            [(value)]="url">
            <dx-validator>
                <dxi-validation-rule 
                    type="pattern"
                    [pattern]="urlRegexPattern"
                    [message]="ls.l('LetsEncrypt_FailedToValidateDomain')">
                </dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>
    <div class="form-group">
        <label>{{ls.l("ApiKey")}}</label>
        <dx-text-box 
            class="form-control" 
            [(value)]="apiKey">
        </dx-text-box>
    </div>
<div>