.partners-block {
  padding: 88px 105px;
}
.partners-wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.partners-title {
  font-family: "roboto-slab", serif;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: #021f44;
}
.partners-description {
  max-width:700px;
  margin: 0 auto;
  font-family: "lato", sans-serif;
  font-size: 18px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #8a969b;
}
.partners-list {
  padding-left: 0;
}
.partners-item {
  box-sizing: border-box;
}
.partners-image {
  max-width:90%;
  display: block;
  margin: 0 auto;
}
