<div class="wrapper">
    <div class="content-wrapper header">
        <nav>
            <ul class="left-menu">
                <li class="left-menu--item">
                    <a href="#" class="left-menu--link">
                        products
                    </a>
                </li>
                <li class="left-menu--item">
                    <a href="#" class="left-menu--link">
                        features
                    </a>
                </li>
                <li class="left-menu--item">
                    <a href="#" class="left-menu--link">
                        about
                    </a>
                </li>
                <li class="left-menu--item">
                    <a href="#" class="left-menu--link">
                        contact us
                    </a>
                </li>
            </ul>

            <a href="#" class="logo">
                <img src="./assets/common/images/lend-space/logo.svg" alt="Lend Space">
            </a>

            <ul class="right-actions">
                <li class="right-actions--item">
                    <a href="" class="left-menu--link">Sign in</a>
                </li>
                <li class="right-actions--item">
                    <a href="" class="left-menu--link orange-btn">Get started</a>
                </li>
            </ul>
        </nav>
    </div>

    <section class="hero">
        <div class="content-wrapper">
            <h1>Better Choices. Better Outcomes!</h1>
            <h3>We give you a wealth of options to take control of your financial life.</h3>

            <div class="services">
                <ul class="services--list">
                    <li class="services--item">
                        <figure>
                            <p>
                                <img src="./assets/common/images/lend-space/top-img-1.jpg"
                                     alt="Credit Cards"
                                     srcset="./assets/common/images/lend-space/top-img-1@2x.jpg 2x, ./assets/common/images/lend-space/top-img-1@3x.jpg 3x">
                            </p>

                            <figcaption>
                                <small>Search for the right</small>
                                <h3>Credit Cards</h3>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="services--item">
                        <figure>
                            <p>
                                <img src="./assets/common/images/lend-space/top-img-2.jpg"
                                     alt="Credit Reports"
                                     srcset="./assets/common/images/lend-space/top-img-2@2x.jpg 2x, ./assets/common/images/lend-space/top-img-2@3x.jpg 3x">
                            </p>

                            <figcaption>
                                <small>Access your 3-Bureau</small>
                                <h3>Credit Reports</h3>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="services--item">
                        <figure>
                            <p>
                                <img src="./assets/common/images/lend-space/top-img-1.jpg"
                                     alt="Personal Loans"
                                     srcset="./assets/common/images/lend-space/top-img-1@2x.jpg 2x, ./assets/common/images/lend-space/top-img-1@3x.jpg 3x">
                            </p>

                            <figcaption>
                                <small>Find lowest rates for</small>
                                <h3>Personal Loans</h3>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="services--item">
                        <figure>
                            <p>
                                <img src="./assets/common/images/lend-space/top-img-2.jpg"
                                     alt="Personal Finances"
                                     srcset="./assets/common/images/lend-space/top-img-2@2x.jpg 2x, ./assets/common/images/lend-space/top-img-2@3x.jpg 3x">
                            </p>

                            <figcaption>
                                <small>Track your combined</small>
                                <h3>Personal Finances</h3>
                            </figcaption>
                        </figure>
                    </li>
                </ul>

                <a href="" class="orange-btn">
                    Get started
                    <img src="./assets/common/images/lend-space/tail-right.svg" alt="arrow">
                </a>
            </div>
        </div>
    </section>

    <section class="personal-finance">
        <div class="content-wrapper">
            <h2 class="title">
                Managing your personal finances has never been easier!
            </h2>
            <p class="subtitle">Have all your financial information at your fingertips and all in one place.</p>
            <div class="block">
                <div class="column">
                    <ul class="pf-list">
                        <li class="pf-item refund">
                            <h3>Track Your Cash Flow and Plan you Budgets</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagitti.</p>
                        </li>
                        <li class="pf-item search">
                            <h3>Find the best loans & loan resources</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi.</p>
                        </li>
                        <li class="pf-item dashboard">
                            <h3>Keep track of your credit reports and Scores</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagitti.</p>
                        </li>
                    </ul>
                </div>
                <div class="column text-center">
                    <img src="./assets/common/images/lend-space/right.jpg"
                         alt="Credit Cards"
                         srcset="./assets/common/images/lend-space/right@2x.jpg 2x, ./assets/common/images/lend-space/right@3x.jpg 3x">
                </div>
            </div>

            <div class="block">
                <div class="column text-center">
                    <img src="./assets/common/images/lend-space/left.jpg"
                         alt="Credit Cards"
                         srcset="./assets/common/images/lend-space/left@2x.jpg 2x, ./assets/common/images/lend-space/left@3x.jpg 3x">
                </div>
                <div class="column">
                    <ul class="pf-list">
                        <li class="pf-item security">
                            <h3>Credit Monitoring & Identity Theft Protection</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagitti.</p>
                        </li>
                        <li class="pf-item cog">
                            <h3>Credit Repair to manage & consolidate Your Debt</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi.</p>
                        </li>
                        <li class="pf-item calculator">
                            <h3>Useful financial calculators & tools</h3>
                            <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagitti.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="family">
        <div class="content-wrapper">
            <h2 class="title">Managing your family finances shouldn't be a puzzle.</h2>
            <p class="subtitle">We solve it for you by bringing it all together. Connect all your accounts to keep track of all your finances and investments in one place.</p>
            <div class="services">
                <ul class="services--list">
                    <li class="services--item">
                        <p>
                            <img src="./assets/common/images/lend-space/top-img-1.jpg"
                                 alt="Credit Cards"
                                 srcset="./assets/common/images/lend-space/top-img-1@2x.jpg 2x, ./assets/common/images/lend-space/top-img-1@3x.jpg 3x">
                        </p>
                        <h3>Credit Cards</h3>
                        <small>Search for the right</small>
                    </li>
                    <li class="services--item">
                        <p>
                            <img src="./assets/common/images/lend-space/top-img-1.jpg"
                                 alt="Credit Cards"
                                 srcset="./assets/common/images/lend-space/top-img-1@2x.jpg 2x, ./assets/common/images/lend-space/top-img-1@3x.jpg 3x">
                        </p>
                        <h3>Credit Cards</h3>
                        <small>Search for the right</small>
                    </li>
                    <li class="services--item">
                        <p>
                            <img src="./assets/common/images/lend-space/top-img-1.jpg"
                                 alt="Credit Cards"
                                 srcset="./assets/common/images/lend-space/top-img-1@2x.jpg 2x, ./assets/common/images/lend-space/top-img-1@3x.jpg 3x">
                        </p>
                        <h3>Credit Cards</h3>
                        <small>Search for the right</small>
                    </li>
                    <li class="services--item">
                        <p>
                            <img src="./assets/common/images/lend-space/top-img-1.jpg"
                                 alt="Credit Cards"
                                 srcset="./assets/common/images/lend-space/top-img-1@2x.jpg 2x, ./assets/common/images/lend-space/top-img-1@3x.jpg 3x">
                        </p>
                        <h3>Credit Cards</h3>
                        <small>Search for the right</small>
                    </li>
                </ul>

                <a href="#">… and much more</a>
            </div>
        </div>
    </section>
</div>

