<button mat-dialog-close class="close-dialog"><i class="la la-times"></i></button>
<mat-dialog-content>
    <mat-horizontal-stepper [linear]="false" #stepper [@.disabled]="true">
        <mat-step>
            <div class="video step-item">
                <div class="header">
                    <span>CFO - Product Video Introduction</span>
                </div>
                <div class="main">
                    <div class="video-wrapper">
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_kqjpmot28u videoFoam=true" style="height:100%;width:100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button mat-button (click)="goToStep(1)" class="btn btn-layout">Back</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="first-step step-item">
                <div class="header">
                    <span>Introduction Tour</span>
                </div>
                <div class="main">
                    <h2>CFO</h2>
                    <p>Cash Flow Outlook</p>
                    <div class="play" (click)="goToStep(0)">
                        <img src="./assets/common/images/cfo-intro/play-btn.png">
                        <div class="bottomp">
                            <p>
                                Know Your Cash Flow
                            </p>
                            <img src="./assets/common/images/cfo-intro/frb.png">
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a (click)="goToStep(0)">
                        <img src="./assets/common/images/cfo-intro/button-play.svg" alt="play"> Play video
                    </a>
                    <button mat-button matStepperNext class="btn btn-layout">Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="second-step step-item">
                <div class="header">
                    <span>Key features</span>
                </div>
                <div class="main">
                    <h2>Key Features</h2>
                    <ul class="treka">
                        <li>
                            <img src="./assets/common/images/cfo-intro/sijalica.png">Easy Setup and Financial Account Aggregation
                        </li>
                        <li>
                            <img src="./assets/common/images/cfo-intro/drugi.png">Daily Bank Account Transaction Synchronization
                        </li>
                        <li>
                            <img src="./assets/common/images/cfo-intro/treci.png">Rolling Cash Flow Reports and Forecasts
                        </li>
                        <li>
                            <img src="./assets/common/images/cfo-intro/catvrti.png">Financial Activity by Year, Quarter, Month, Day
                        </li>
                        <li>
                            <img src="./assets/common/images/cfo-intro/pati.png">Drag-n-drop transaction classification
                        </li>
                    </ul>
                </div>
                <div class="footer">
                    <button mat-button matStepperPrevious class="btn btn-layout">Back</button>
                    <button mat-button matStepperNext class="btn btn-layout">Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="third-step step-item">
                <div class="header">
                    <span>Connect your bank accounts</span>
                </div>
                <div class="main">
                    <div class="conta">
                        <div class="vrh">
                            <h2>
                                Daily Bank Synchronization and Financial Account Aggregation
                            </h2>
                            <p>
                                Connect from
                                <span>15,000 Financial Institutions</span>
                            </p>
                        </div>
                        <section class="dole">
                            <div class="bra">
                                <img src="./assets/common/images/cfo-intro/brands.png">
                            </div>
                            <div class="str">
                                <img src="./assets/common/images/cfo-intro/arrow.png">
                                <p>
                                    <span>Daily</span>
                                    <br> updates from your bank accounts
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="footer">
                    <button mat-button matStepperPrevious class="btn btn-layout">Back</button>
                    <button mat-button matStepperNext class="btn btn-layout">Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="forth-step step-item">
                <div class="header">
                    <span>Transactions &gt; Search, Filter and Organize</span>
                </div>
                <div class="main">
                    <div class="conta">
                        <div class="mainda">
                            <h3>TRANSACTION CATEGORIZATION RULES</h3>
                            <h2>Automate Transaction Classification</h2>
                            <p>
                                Define rules to automate the classification of your transactions into the categorization or grouping you
                                want your cash flow
                                reports to be organized by.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button mat-button matStepperPrevious class="btn btn-layout">Back</button>
                    <button mat-button matStepperNext class="btn btn-layout">Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="fifth-step step-item">
                <div class="header">
                    <span>Dashboard &gt; Your Financial Snapshot</span>
                </div>
                <div class="main">
                    <div class="conta">
                        <div class="mainda">
                            <h3>
                                DASHBOARD
                            </h3>
                            <h2>
                                See an overview of all your cash activity
                            </h2>
                            <p>
                                The dashboard summarizes all your cash activity by the selected period.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button mat-button matStepperPrevious class="btn btn-layout">Back</button>
                    <button mat-button matStepperNext class="btn btn-layout">Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="questionnaire-step step-item">
                <div class="header">
                    <img src="./assets/common/images/sperse-logo.png">
                </div>
                <div class="main">
                    <app-questionnaire [identifier]="identifier"
                                       [moduleName]="moduleName"
                                       (closeDialog)="closeDialog()">
                    </app-questionnaire>
                </div>
                <div class="footer">
                    <button mat-button matStepperPrevious class="btn btn-layout">{{l('Back')}}</button>

                    <button *ngIf="!showImportUsersStep || maxAvailableUserCount <= 0" class="btn btn-layout get-started" (click)="onSubmit()" mat-button>
                        {{data?.alreadyStarted ? 'Submit' : 'Get started'}}
                    </button>

                    <button *ngIf="showImportUsersStep && maxAvailableUserCount > 0" mat-button matStepperNext class="btn btn-layout">{{l('Next')}}</button>
                </div>
            </div>
        </mat-step>
        <mat-step *ngIf="showImportUsersStep && maxAvailableUserCount > 0">
            <div class="import-users-step step-item">
                <div class="header">
                    <img src="./assets/common/images/sperse-logo.png">
                </div>
                <div class="main">
                    <app-import-users-step [maxAvailableUserCount]="maxAvailableUserCount"></app-import-users-step>
                </div>
                <div class="footer">
                    <button mat-button matStepperPrevious class="btn btn-layout">Back</button>
                    <button class="btn btn-layout get-started" (click)="onSubmit()" mat-button>
                        {{data?.alreadyStarted ? 'Submit' : 'Get started'}}
                    </button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>
