:host {
    .disclaimers {        
        margin: 20px 0px;
        * {
            font-family: Poppins;
        }
        h3 {
            font-size: 18px;
            color: #000;
            font-weight: 600;
            text-align: center;
        }   
        ul {
            padding-left: 15px;
            li {
                font-size: 12px;
                list-style: decimal;
            }
        }
    }
}