<offers-layout>
    <ng-container rightContent>
        <offers-category-details
            [offers$]="offersLayoutComponent.offers$"
            [advantages]="advantages"
            [descriptionTitle]="ls.l('BusinessLoans_DescriptionTitle')"
            [descriptionText]="ls.l('BusinessLoans_DescriptionText')"
            [descriptionDisclaimerNumber]="3">
            <ng-container header>{{ ls.l('BusinessLoans_Title') }}</ng-container>
            <ng-container subheader>{{ ls.l('BusinessLoans_Subtitle')}} <sup>1</sup></ng-container>
        </offers-category-details>

        <div class="disclaimers">
            <h3>{{ls.l('Disclaimers')}}</h3>
            <ul>
                <li>{{ls.l('BusinessLoans_Disclaimer1')}}</li>
                <li>{{ls.l('BusinessLoans_Disclaimer2')}}</li>
                <li>{{ls.l('BusinessLoans_Disclaimer3')}}</li>
            </ul>
            <p>{{ls.l('BusinessLoans_DisclaimerConclusion')}}</p>
        </div>
    </ng-container>
</offers-layout>
