:host {
    .disclaimers {
        margin: 20px 0px;
        font-style: italic;
        color: grey;
        font-size: 12px;
        * {
            font-family: Poppins;
        }
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
        ul {
            padding-left: 15px;
            margin-bottom: 0.5rem;
            li {
                list-style: decimal;
            }
        }
    }
}
