<h2>{{ ls.l('Commissions') }}</h2>
<div class="" *ngIf="settings">
    <div class="form-group">
        <label>
            {{ls.l('Default') + ' ' + ls.l('AffiliateRate') + ', %'}}
        </label>
        <dx-number-box [min]="0"
                       [max]="99"
                       mode="number"
                       [showClearButton]="true"
                       [placeholder]=""
                       [(value)]="settings.defaultAffiliateRate"
                       [showSpinButtons]="true">
        </dx-number-box>
    </div>
    <div class="form-group">
        <label>
            {{ls.l('Default') + ' ' + ls.l('AffiliateRateTier2') + ', %'}}
        </label>
        <dx-number-box [min]="0"
                       [max]="99"
                       mode="number"
                       [showClearButton]="true"
                       [placeholder]=""
                       [(value)]="settings.defaultAffiliateRateTier2"
                       [showSpinButtons]="true">
        </dx-number-box>
    </div>
    <div class="form-group">
        <label>{{ls.l('InvoiceEmail_Tier2CommissionSource')}}</label>
        <dx-select-box [items]="tier2SourceOptions"
                       displayExpr="text"
                       valueExpr="id"
                       placeholder=""
                       [(value)]="settings.tier2CommissionSource">
        </dx-select-box>
    </div>
    <div class="form-group">
        <label>{{ls.l('InvoiceEmail_CommissionAffiliateAssignmentMode')}}</label>
        <dx-select-box [items]="commissionAffiliateAssignmentModeOptions"
                       displayExpr="text"
                       valueExpr="id"
                       placeholder=""
                       [(value)]="settings.commissionAffiliateAssignmentMode">
        </dx-select-box>
    </div>
    <div class="form-group">
        <label>{{ls.l('Generate Affiliate Code On Creation')}}</label>
        <dx-tag-box [dataSource]="affiliateNameGenerationEntities"
                    displayExpr="text"
                    valueExpr="id"
                    [showDropDownButton]="true"
                    [(value)]="affiliateNameGenerationModes">
        </dx-tag-box>
    </div>
</div>
