:host {
    .form-group {
        display: flex;

        label {
            width: 50%;
        }

        ::ng-deep dx-select-box,
        ::ng-deep dx-number-box {
            width: 50%;

            .dx-placeholder, input {
                font-size: 15px;
                font-family: var(--app-font-family);
                font-weight: 500;
                letter-spacing: 0.3px;
                color: #424c56;
            }
        }
    }
}
