div {
    &[custom-title],
    &[custom-content] {
        width: 300px;
    }

    &[custom-title] {
        width: 140px;
        line-height: 1.7;
        display: inline-block;
        text-align: left;
        font-size: 18px;
        font-weight: 500;

        span {
            padding-right: 20px;
            cursor: pointer;
            color: #000;
            opacity: 0.4;

            &:not(.selected):hover {
                color: #00AEEF;
                text-decoration: underline;
            }

            &.selected {
                opacity: 1;
                color: #000;
                cursor: default;
                pointer-events: none;
            }

            &.filter-apply {
                opacity: 1;
                cursor: pointer;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.21;
                letter-spacing: 0.3px;
                color: #00AEEF;
                padding: 5px;
                position: absolute;
                right: 0px;

                &:hover {
                    color: lighten(#00AEEF, 20%);
                    text-decoration: none;
                }
            }
        }

        ::ng-deep {
            .dx-switch {
                position: absolute;
                right: 0;

                .dx-switch-off {
                    color: #333;
                }
            }
        }
    }

    &[custom-content] {
        ::ng-deep organization-units-tree {
            padding: 0 !important;
            margin-top: 10px;
        }
    }
}
