<form class="credit-card-form" [formGroup]="creditCardData" (ngSubmit)="submit(creditCardData)">
    <div class="row">
        <mat-form-field class="col-8">
            <input matInput placeholder="CARD NUMBER" type="tel" formControlName="cardNumber" ccNumber>
            <mat-error *ngIf="creditCardData.controls.cardNumber.touched && creditCardData.controls.cardNumber.invalid">
                {{ l('CardNumberValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <div class="col-4">
            <!--  @TODO add exp date validation -->
            <div class="row">
                <mat-form-field class="col-4">
                    <input matInput placeholder="MM"
                        type="tel"
                        formControlName="expirationMonth"
                        minlength="1" maxlength="2"
                        (keypress)="onKeyPress($event)">
                </mat-form-field>
                <div class="col-2 align-self-center">/</div>
                <mat-form-field class="col-6">
                    <input matInput placeholder="YYYY"
                        type="tel"
                        formControlName="expirationYear"
                        minlength="4" maxlength="4"
                        (keypress)="onKeyPress($event)">
                </mat-form-field>

                <mat-error class="exp-date-errors col-12"
                            *ngIf="creditCardData.controls.expirationMonth.touched &&
                            creditCardData.controls.expirationMonth.invalid ||
                            creditCardData.controls.expirationYear.touched &&
                            creditCardData.controls.expirationYear.invalid">
                    {{ l('CardExpDateValidationMessage') }}
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row">
        <mat-form-field class="col-8">
            <input matInput placeholder="NAME ON CARD" formControlName="holderName">
            <mat-error *ngIf="creditCardData.controls.holderName.touched && creditCardData.controls.holderName.invalid">
                {{ l('HolderNameValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
            <input matInput placeholder="CVV CODE" type="tel" autocomplete="off" formControlName="cvv" minlength="3" maxlength="4" ccCVC>
            <mat-error *ngIf="creditCardData.controls.cvv.touched && creditCardData.controls.cvv.invalid">
                {{ l('CvvValidationMessage') }}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-8">
            <input matInput
                placeholder="ADDRESS"
                formControlName="billingAddress">
            <!-- <input *ngIf="!googleAutoComplete" type="text"
                name="Address"
                placeholder="{{l('Address')}}"
                [(ngModel)]="creditCardData.billingAddress"
                class="dx-texteditor-input"/>
            <input *ngIf="googleAutoComplete" type="text"
                name="Address"
                placeholder="{{l('Street')}}"
                [(ngModel)]="contacts.addresses[type].address"
                class="dx-texteditor-input"
                (country)="contacts.addresses[type].country=$event"
                (street_number)='contacts.addresses[type].streetNumber=$event'
                (street)='contacts.addresses[type].streetAddress=$event'
                (city)='contacts.addresses[type].city=$event'
                (state)='contacts.addresses[type].state=$event'
                (postal_code)='contacts.addresses[type].zip=$event'
                (setAddress)="onAddressChanged($event, type)"
                angularGooglePlace/> -->
            <mat-error *ngIf="creditCardData.controls.billingAddress.touched && creditCardData.controls.billingAddress.invalid">
                {{ l('BillingAddressValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
            <input matInput placeholder="CITY" formControlName="billingCity">
            <mat-error *ngIf="creditCardData.controls.billingCity.touched && creditCardData.controls.billingCity.invalid">
                {{ l('BillingCityValidationMessage') }}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-4">
            <mat-select disableOptionCentering placeholder="STATE OR PROVINCE" formControlName="billingStateCode">
                <mat-option *ngFor="let state of states" [value]="state.code">
                    {{state.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="creditCardData.controls.billingStateCode.touched && creditCardData.controls.billingStateCode.invalid">
                {{ l('BillingStateValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
            <input matInput placeholder="ZIP CODE" type="tel" maxlength="5" formControlName="billingZip">
            <mat-error *ngIf="creditCardData.controls.billingZip.touched && creditCardData.controls.billingZip.invalid">
                {{ l('BillingZipValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
            <mat-select disableOptionCentering placeholder="COUNTRY" (selectionChange)="onCountryChange($event)" formControlName="billingCountryCode">
                <mat-option *ngFor="let country of countries" [value]="country.code">
                    {{country.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="creditCardData.controls.billingCountryCode.touched && creditCardData.controls.billingCountryCode.invalid">
                {{ l('BillingCountryValidationMessage') }}
            </mat-error>
        </mat-form-field>
    </div>

    <footer class="row step-footer align-items-center">
        <div class="col-8">
            <div class="terms-block row align-items-center">
                <div class="col-1">
                    <img src="/assets/common/images/payments/icons/information-button.svg" alt="info">
                </div>
                <div class="col-11 terms-text">
                    <p>{{ l('CreditCardTermsAndConditionText') }} <a href="javascript:;">{{ l('TermsConditions') }}</a></p>
                </div>
            </div>
        </div>

        <div class="col-4 text-right">
            <button mat-raised-button class="btn btn-layout" [disabled]="!creditCardData.touched || !creditCardData.valid">{{l('Purchase')}}</button>
        </div>
    </footer>
</form>
