.credit-card-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    footer {
        margin-top: auto;
    }
}

/deep/ .cdk-overlay-pane {
    margin-top: 22px;
}