:host {
    height: 100vh;
    display: block;
    background: linear-gradient(115.57deg, #C1E1FF 16.28%, #CFE5FA 95.97%);

    --main-font: "Outfit", sans-serif;
    --title: #021648;
    --text: #10307B;
    --text-light: #7B8390;
    --m-blue: #052163;
    --m-blue-light: #0A66C2;
    --m-green: #4CAF50;
    --m-red: #ff0000;
    --divider: #AAC1D7;
    --br: 10px;

    input {
        height: 45px;
        width: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        background-clip: padding-box;
        font-family: inherit;
        border: none;
        font: inherit;

        &::placeholder {
            font: inherit;
            transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }

    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: none;
        cursor: pointer;
        border: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #fff inset !important;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 61px);

        &__inner {
            padding: clamp(20px, 4vw, 50px) clamp(20px, 4vw, 50px)
                clamp(20px, 5vw, 60px);
            background-color: #fff;
            border-radius: 10px;
            width: clamp(300px, 50vw, 650px);
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        &__title {
            text-align: center;
            margin: 0 auto 20px;
            color: #083055;
        }
    }

    .text {
        font-weight: 300;
        font-size: 19px;
        line-height: 24px;
        text-align: center;
        color: #083055;
        max-width: 450px;
        margin: 0 auto clamp(20px, 2vw, 30px);
    }

    .input {
        color: var(--title);
        margin-bottom: 25px;

        input {
            background: rgba(239, 247, 254, 0.4);
            border: 1px solid #d0e0ee;
            border-radius: 7px;
            transition: border-color 0.3s;
            padding-left: 50px;
            background-repeat: no-repeat;
            background-position: left 18px center;
            background-size: 20px;

            &[type="email"] {
                background-image: url(../../../../assets/common/icons/email_w.svg);
            }

            &:hover,
            &:focus {
                border-color: var(--m-blue-light);
            }
        }
    }

    .send_btn {
        margin-bottom: 30px;
        color: #fff;

        button {
            width: 100%;
        }

        a {
            background-color: var(--m-green);
            border-radius: 10px;
            padding: 13px 33px;
            border: 1px solid transparent;
            transition: color 0.3s, background-color 0.3s, border-color 0.3s;
            display: flex;
            justify-content: center;

            &:hover {
                color: var(--m-green);
                background-color: #fff;
                border-color: var(--m-green);
            }
        }
    }

    .back {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #083055;
        display: flex;
        justify-content: center;
        a {
            padding-left: 25px;
            background-image: url(../../../../assets/common/icons/arrow-left.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 16px;
        }
    }

    .recover_phone {
        color: #64696f;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 35px;
        text-decoration: underline;
        font-size: 20px;
        max-width: 350px;
        transition: color 0.3s;

        &:hover {
            color: var(--title);
        }
    }

    button {
        border: 0;
        background-color: transparent;
        border-radius: 0;
        cursor: pointer;
        color: inherit;
        border-width: 0;
        -webkit-appearance: button;
        font: inherit;
        &.disabled {
            cursor: default;
            opacity: 0.5;
            pointer-events: none;
        }
    }

    .button_global {
        border-radius: 10px;
        padding: 13px 33px;
        border: 1px solid transparent;
        transition: color 0.3s, background-color 0.3s, border-color 0.3s;
        color: #fff;

        span {
            display: flex;
            column-gap: 12px;
            align-items: baseline;
            text-align: center;
            justify-content: center;
        }

        &:hover {
            background-color: #fff;
        }

        &_green {
            background-color: var(--m-green);
            &:hover {
                color: var(--m-green);                
                border-color: var(--m-green);
            }
        }

        &_blue {
            background-color: var(--m-blue-light);

            &:hover {
                color: var(--m-blue-light);
                border-color: var(--m-blue-light);
            }
        }
    }

    ::ng-deep validation-messages {
        .form-control-feedback {
            color: red;
            font-weight: 600;
        }
    }

    a.disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;  
    }
}