:host {
    .entrance-page__title {
        margin-bottom: 30px;
        letter-spacing: 0.6px;
        line-height: 25px;
        font-weight: 700;
        font-size: 32px;
    }

    .verification-box__text {
        background: #ecf6ff;
    }
}
