<div *ngIf="maintenanceSettings?.showMaintenanceMessage" 
    class="maintenance-message"
    [ngClass]="{'show-message': !hideMaintenanceMessage}"
    (click)="toogleMaintenanceMessage()">
    <div [hidden]="hideMaintenanceMessage" class="version">
        {{currentDate.format('LL')}}&nbsp;(v{{maintenanceSettings?.version}})
    </div>
    <b [hidden]="hideMaintenanceMessage" [innerHtml]="getMaintenanceMessageLink()"></b>
    <div [ngClass]="{'arrow-down': hideMaintenanceMessage, 'arrow-left': !hideMaintenanceMessage}"></div>
</div>
<div *ngIf="showSperseLoader" class="sperse-spinner">
    <img src="./assets/images/sperse-spinner.gif">
</div>
<router-outlet></router-outlet>