/* You can add global styles to this file, and also import other style files */

body, html, *, .btn, .dx-texteditor-input, .dx-widget .dx-texteditor-input {
    font-family: Montserrat;
}

[class^='dx']:not(i):not([class*=icon]):not(.dx-expand):not(.dx-theme-marker):not([class^=dx-sort]):not([class*=fa-]):not(.dx-header-filter):not(.dx-treeview-toggle-item-visibility):not(.dx-datagrid-group-opened):not(.dx-datagrid-group-closed):not(.dx-total):not(.tabular):not(.dx-texteditor-input):not([class*="fontName"]) {
    font-family: Montserrat !important;
}

#gridContainer .dx-datagrid-header-panel .dx-toolbar {
    height: 25px;
    margin: 0;
}

.dx-datagrid-group-panel {
    height: 40px;
    margin: 0 15px 0 0 !important;
    border: none;
    border-right: 1px dashed #dfdfdf;
    background-color: #f9fbfc;
}

.dx-datagrid-group-panel .dx-group-panel-message {
    padding-top: 0px;
    padding-bottom: 0;
}

.dx-datagrid-group-panel .dx-group-panel-item {
    padding: 4px 10px;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.overflow-hidden {
	overflow: hidden;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

.swal-footer {
    text-align: center;
}

/* tooltip on chart */
.tooltip-header {
    background: #F4F7FA;
    color: #212C36;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: calc(100% + 35px);
    position: relative;
    top: -15px;
    left: -22px;
    padding: 8px 17px;
}
.tooltip-item.inflows::before,
.tooltip-item.outflows::before,
.tooltip-item.net::before,
.tooltip-item.forecast.inflows::before,
.tooltip-item.forecast.outflows::before,
.tooltip-item.forecast.net::before {
    content: '';
    width: 8px;
    height: 8px;
    background: #00aeef;
    display: inline-block;
    margin-right: 5px;
}
.tooltip-item.outflows::before {
    background: #f05b2a;
}
.tooltip-item.net::before {
    background: #fab800;
}
.tooltip-item.forecast.inflows::before {
    background: #a9e3f9;
}
.tooltip-item.forecast.outflows::before {
    background: #fec6b3;
}
.tooltip-item.forecast.net::before {
    background: #a82aba;
}

.blockUI.blockOverlay {
    background: #fff !important;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.dxc-tooltip svg path {transform: translate(0, 0) !important; filter: none !important;}
