<modal-dialog [title]="ls.l('MySettings')"
              [buttons]="buttons"
              [editTitle]="false"
              [checkCloseAllowed]="checkCloseAllowed"
              [titleClearButton]="false"
              [placeholder]="ls.l('MySettings')">
    <dx-scroll-view showScrollbar="onHover" width="740px">
        <div class="tab-content">
            <div class="modal-body" *ngIf="user">
                <mat-tab-group (selectedTabChange)="onTabChanged($event)">
                    <mat-tab [label]="ls.l('Profile')">
                        <div class="form-group inline">
                            <label for="Name">{{ls.l("FirstName")}} *</label>
                            <input id="Name" #nameInput="ngModel" class="form-control" type="text" name="Name" [(ngModel)]="user.name" required maxlength="32">
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>
                        <div class="form-group inline">
                            <label for="Surname">{{ls.l("LastName")}} *</label>
                            <input id="Surname" #surnameInput="ngModel" type="text" name="Surname" class="form-control" [(ngModel)]="user.surname" required maxlength="32">
                            <validation-messages [formCtrl]="surnameInput"></validation-messages>
                        </div>
                        <div class="form-group">
                            <label for="EmailAddress">{{ls.l("EmailAddress")}} *</label>
                            <input id="EmailAddress" #emailAddressInput="ngModel" type="email" name="EmailAddress" class="form-control" [(ngModel)]="user.emailAddress" required email maxlength="256">
                            <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{email: ls.l('InvalidEmailAddress')}]"></validation-messages>
                        </div>
                        <div *ngIf="smsEnabled && !isPhoneNumberEmpty">
                            <div class="form-group">
                                <label>{{ls.l("PhoneNumber")}}</label>
                                <div class="input-group">
                                    <input type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="24">
                                    <span *ngIf="!isPhoneNumberConfirmed" id="SpanSmsVerificationUnverified" class="input-group-btn">
                                        <button id="btnSmsVerification" (click)="smsVerify()" class="btn btn-primary" type="button" tooltip="{{ls.l('YourPhoneNumberIsNotVerified')}}"><i class="fa fa-warning"></i>{{ls.l('Verify')}}</button>
                                    </span>
                                    <span *ngIf="!isPhoneNumberConfirmed" id="SpanSmsVerificationVerified" style="display: none;" class="input-group-addon" tooltip="{{ls.l('YourPhoneNumberIsVerified')}}">
                                        <i class="la la-check m--font-success" [attr.aria-label]="ls.l('Verified')"></i>
                                    </span>
                                    <span *ngIf="isPhoneNumberConfirmed" class="input-group-addon" tooltip="{{ls.l('YourPhoneNumberIsVerified')}}">
                                        <i class="la la-check m--font-success" [attr.aria-label]="ls.l('Verified')"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!smsEnabled || isPhoneNumberEmpty">
                            <div class="form-group">
                                <label>{{ls.l("PhoneNumber")}}</label>
                                <country-phone-number class="phoneNumber"
                                                      [(phoneNumber)]="user.phoneNumber"
                                                      [required]="false">
                                </country-phone-number>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="showTimezoneSelection">
                            <label for="Timezone">{{ls.l("Timezone")}}</label>
                            <timezone-combo id="Timezone"
                                            [(selectedTimeZone)]="user.timezone"
                                            [defaultTimezoneScope]="defaultTimezoneScope">
                            </timezone-combo>
                        </div>
                    </mat-tab>
                    <mat-tab [label]="ls.l('SMTP')">
                        <dx-check-box class="is-user-smtp-enabled" [text]="ls.l('AllowToSendFromYourEmailAddress')" [(value)]="userEmailSettings.isUserSmtpEnabled"></dx-check-box>
                        <div [hidden]="!userEmailSettings.isUserSmtpEnabled">
                            <br />
                            <div class="form-group">
                                <label for="FromAddress">{{ls.l("FromAddress")}}</label>
                                <input id="FromAddress" type="email" name="FromAddress" class="form-control"
                                       [ngClass]="{'edited':userEmailSettings.from.emailAddress}"
                                       [(ngModel)]="userEmailSettings.from.emailAddress" maxlength="256">
                            </div>
                            <div class="form-group">
                                <label for="FromDisplayName">{{ls.l("FromDisplayName")}}</label>
                                <input id="FromDisplayName" type="text" name="FromDisplayName" class="form-control"
                                       [ngClass]="{'edited':userEmailSettings.from.displayName}"
                                       [(ngModel)]="userEmailSettings.from.displayName" maxlength="128">
                            </div>
                            <div class="form-group">
                                <label for="SmtpHost">{{ls.l("SmtpHost")}}</label>
                                <input id="SmtpHost" type="text" name="SmtpHost" class="form-control" [ngClass]="{'edited':userEmailSettings.smtp.host}"
                                       [(ngModel)]="userEmailSettings.smtp.host"
                                       maxlength="64">
                            </div>
                            <div class="form-group">
                                <label for="SmtpPort">{{ls.l("SmtpPort")}}</label>
                                <input id="SmtpPort" type="number" name="SmtpPort" class="form-control"
                                       [ngClass]="{'edited':userEmailSettings.smtp.port}" [(ngModel)]="userEmailSettings.smtp.port"
                                       maxlength="5">
                            </div>

                            <div class="checkbox-list">
                                <div class="form-group">
                                    <dx-check-box id="Settings_SmtpEnableSsl"
                                                  [text]="ls.l('UseSsl')"
                                                  [(value)]="userEmailSettings.smtp.enableSsl">
                                    </dx-check-box>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="SmtpDomainName">{{ls.l("DomainName")}}</label>
                                <input id="SmtpDomainName" type="text" name="SmtpDomainName" class="form-control"
                                       [ngClass]="{'edited':userEmailSettings.smtp.domain}"
                                       [(ngModel)]="userEmailSettings.smtp.domain" maxlength="128">
                            </div>
                            <div class="form-group">
                                <label for="SmtpUserName">{{ls.l("UserName")}}</label>
                                <input id="SmtpUserName" type="text" name="SmtpUserName" class="form-control"
                                       [ngClass]="{'edited':userEmailSettings.smtp.userName}"
                                       [(ngModel)]="userEmailSettings.smtp.userName" maxlength="128">
                            </div>
                            <div class="form-group">
                                <label for="SmtpPassword">{{ls.l("Password")}}</label>
                                <input id="SmtpPassword" type="password" name="SmtpPassword" class="form-control"
                                       [ngClass]="{'edited':userEmailSettings.smtp.password}" [(ngModel)]="userEmailSettings.smtp.password"
                                       maxlength="128" autocomplete="off">
                            </div>
                            <h5>{{ls.l("TestEmailSettingsHeader")}}</h5>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control input-mini" [(ngModel)]="testEmailAddress">
                                </div>
                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary" type="button" (click)="sendTestEmail()">{{ls.l("SendTestEmail")}}</button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab [label]="ls.l('Gmail')" [disabled]="!gmailSettings || !gmailSettings.clientId">
                        <div class="form-group">
                            <dx-check-box id="GmailIsEnabled"
                                          [text]="ls.l('Enabled')"
                                          [(value)]="gmailSettings.isEnabled"
                                          [disabled]="!gmailSettings.isEnabled && !gmailSettings.isConfigured">
                            </dx-check-box>
                        </div>
                        <div class="google-button-container">
                            <button class="btn btn-layout google-button" (click)="getAuthCode()">
                                <img src="./assets/common/icons/google.svg" />
                                {{ gmailSettings.isConfigured ? ls.l('Authorized') : ls.l('Authorize') }}
                            </button>
                            <img *ngIf="gmailSettings.isConfigured" src="./assets/common/icons/check-green.svg" />
                            <span *ngIf="gmailSettings.isConfigured" class="disconnect" (click)="disconnedGmail()">{{ls.l("Disconnect")}}</span>
                        </div>
                        <div class="form-group">
                            <label for="DefaultFromAddress">{{ls.l("DefaultFromAddress")}}</label>
                            <input id="DefaultFromAddress" type="email" name="DefaultFromAddress" class="form-control" [(ngModel)]="gmailSettings.defaultFromAddress" maxlength="100">
                        </div>
                        <div class="form-group">
                            <label for="DefaultFromDisplayName">{{ls.l("DefaultFromDisplayName")}}</label>
                            <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName" class="form-control" [(ngModel)]="gmailSettings.defaultFromDisplayName" maxlength="100">
                        </div>

                        <h5>{{ls.l("TestEmailSettingsHeader")}}</h5>
                        <div class="row gmail-test-email">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control input-mini" [(ngModel)]="testEmailAddress">
                            </div>
                            <div class="form-group col-md-2">
                                <button class="btn btn-layout" type="button" [disabled]="!testEmailAddress || !gmailSettings.isConfigured" (click)="sendGmailTestEmail()">{{ls.l("SendTestEmail")}}</button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab [label]="ls.l('Signature')">
                        <h5>{{ls.l('Signature')}}:</h5>
                        <div class="form-group ck-container">
                            <label for="signature">{{ls.l('EmailSignature')}}</label>
                            <dx-tooltip [width]="250"
                                        position="bottom"
                                        [(visible)]="tagsTooltipVisible"
                                        [target]="'.tags-button'">
                                <div *dxTemplate="let data of 'content'" class="tags-container">
                                    <p class="tags-note">{{ls.l('InvoiceEmail_SupportedTags')}}</p>
                                    <dx-list height="calc(100% - 40px)"
                                             [selectionMode]="'single'"
                                             [dataSource]="tagsList"
                                             [itemTemplate]="'startCase'"
                                             (onItemClick)="onTagClick($event)">
                                        <div *dxTemplate="let data of 'startCase'" class="tags-list-item">
                                            {{ startCase(data) }}
                                        </div>
                                    </dx-list>
                                </div>
                            </dx-tooltip>
                            <a #tagsButton [class]="'tags-button'" *ngIf="tagsList?.length" (click)="tagsTooltipVisible = true">Tags</a>
                        </div>
                    </mat-tab>
                    <mat-tab [label]="ls.l('TwoFactorLogin')">
                        <div>
                            <h4>
                                Google Authenticator
                            </h4>
                            <div [hidden]="!isGoogleAuthenticatorEnabled">
                                <span>
                                    {{ls.l("ScanQrCodeWithYourMobileApp")}}
                                </span>
                                <div class="text-center">
                                    <img [src]="user.qrCodeSetupImageUrl" />
                                </div>
                                <small>
                                    {{ls.l("GoogleAuthenticatorReferrerLink")}}: <a href="https://support.google.com/accounts/answer/1066447" target="_blank" rel="noopener noreferrer">Google Authenticator</a>
                                </small>
                            </div>
                            <div [hidden]="isGoogleAuthenticatorEnabled">
                                <button type="button" class="button-layout button-primary" (click)="updateQrCodeSetupImageUrl()">{{ls.l("Enable")}}</button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                <ckeditor [hidden]="currentTab != ls.l('Signature')" [config]="ckConfig" [(data)]="signatureHtml"></ckeditor>
            </div>                            
        </div>
    </dx-scroll-view>
    <smsVerificationModal #smsVerificationModal (modalSave)="changePhoneNumberToVerified()"></smsVerificationModal>
</modal-dialog>
