:host {
    .form-group {
        &.inline {
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }

        &.ck-container {
            margin-bottom: 0;

            .tags-button {
                font-size: 13px;
                padding: 10px 10px 6px 5px;
                border-radius: 2px;
                line-height: 10px;

                &:hover {
                    background: #e6e6e6;
                }

                &:after {
                    content: "";
                    position: relative;
                    left: 4px;
                    bottom: 2px;
                    cursor: default;
                    height: 0;
                    width: 0;
                    font-size: 0;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                    border-top: 3px solid #484848;
                }
            }
        }
    }

    .smtp-error-block {
        height: auto;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        background: #d96262;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 0 10px;
        line-height: 45px;
        font-size: 18px;
        color: #fff;
        font-weight: 600;

        a {
            color: #dedede;
            text-decoration: underline;
        }
    }

    ::ng-deep .phoneNumber {
        display: block;

        .input-group {
            align-items: center;
        }
    }

    .is-user-smtp-enabled {
        font-size: 16px;
        font-weight: 500;
    }

    ::ng-deep .mat-tab-body-content {
        padding-top: 30px;
    }

    .google-button-container {
        margin-bottom: 20px;

        .google-button {
            background-color: white;
            color: black;
            border: 1px solid #dfdfdf;

            img {
                width: 20px;
                margin-right: 5px;
            }
        }

        .disconnect {
            margin-left: 10px;
            color: red;
            cursor: pointer;
        }
    }

    .gmail-test-email {
        margin-right: 0;
    }
}
