:host {
    .btn {
        width: 132px;
        height: 36px;
        margin-top: 10px;
        font-weight: 500 !important;
        padding-top: 6px !important;
        padding-bottom: 9px !important;
    }

    .modal-body {
        padding: 28px 37px;

        .section {
            .header {
                font-size: 15px;
                font-weight: 600;
                position: relative;
                padding-left: 30px;

                &::before {
                    content: '';
                    background: url("../../../../assets/common/icons/edit-icon.svg");
                    background-size: cover;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    position: absolute;
                    left: 0px;
                    top: 2px;
                }

                &.header-visuals::before {
                    background: url("../../../../assets/common/icons/visual-config.svg");
                    width: 19px;
                    height: 17px;
                }

                &.header-currency::before {
                    background: url("../../../../assets/common/icons/coin.svg");
                }
            }

            .section-body {
                margin-left: 32px;
                margin-top: 10px;

                .row, .col-xs-1, .col-xs-4, .container-fluid {
                    padding-left: 0;
                    padding-right: 0;
                }

                .row {
                    margin-top: 14px;
                    margin-bottom: 14px;
                    font-weight: 500;

                    &.row-header {
                        font-size: 13px;
                        color: #677380;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #E5E9EC;
                    }

                    + .row-header {
                        margin-top: 30px;
                    }

                    .col-xs-1 {
                        width: 13%;
                        text-align: center;
                    }

                    & > div.col-xs-4 {
                        width: 29%;
                    }

                }

                .dx-field-label {
                    color: #677380;
                    font-size: 14px;
                    font-weight: 300;
                    width: 29%;
                    padding: 13px 0 11px 0;
                    border-bottom: 1px solid #dfdfdf;
                }

                .dx-field-value {
                    width: 71%;

                    .left-select {
                        width: 41%;
                        float: left;
                    }

                    .right-select {
                        width: 54%;
                        float: right;
                    }
                }
            }

            + .section {
                margin-top: 45px;
            }
        }
    }

    /deep/ .dx-checkbox {
        .dx-checkbox-icon {
            width: 20px;
            height: 20px;
            background-color: #FFF;
            border: 1px solid #DADEE1 !important;
            border-radius: 4px;
        }

        &.dx-checkbox-checked {
            .dx-checkbox-icon {
                color: #FFF;
                font-size: 8px;
                font-weight: bold;
                background-color: #00AEEF;
                border-color: #00AEEF !important;
            }
        }

        .dx-checkbox-text {
            white-space: nowrap;
        }
    }

    /deep/ .dx-selectbox {
        .dx-placeholder.dx-state-invisible {
            display: none !important;
        }

        .dx-texteditor-input {
            height: 44px;
            font-size: 15px;
            font-weight: 500;
        }
    }
}
