<modal-dialog *ngIf="active">
    <div class="modal-body" *ngIf="active">
        <div class="section">
            <div class="header header-general">
                {{l("CashFlowGrid_UserPrefs_General")}}
            </div>
            <div class="section-body container-fluid">
                <div class="row row-header">
                    <div class="col-xs-4"></div>
                    <div *ngFor="let colHeader of getEnumKeys(GeneralScope)" class="col-xs-1">{{l('CashFlowGrid_UserPrefs_General_' + colHeader)}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">{{l("CashFlowGrid_UserPrefs_ShowAmountsWithDecimals")}}</div>
                    <div *ngFor="let colHeader of getEnumKeys(GeneralScope)" class="col-xs-1">
                        <dx-check-box [value]="checkFlag(model.general.showAmountsWithDecimals, GeneralScope[colHeader])"
                                      (onValueChanged)="checkBoxValueChanged($event, model.general, 'showAmountsWithDecimals', GeneralScope[colHeader])">
                        </dx-check-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">{{l("CashFlowGrid_UserPrefs_HideZeroValuesInCells")}}</div>
                    <div *ngFor="let colHeader of getEnumKeys(GeneralScope)" class="col-xs-1">
                        <dx-check-box [value]="checkFlag(model.general.hideZeroValuesInCells, GeneralScope[colHeader])"
                                      (onValueChanged)="checkBoxValueChanged($event, model.general, 'hideZeroValuesInCells', GeneralScope[colHeader])">
                        </dx-check-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">{{l("CashFlowGrid_UserPrefs_ShowNegativeValuesInRed")}}</div>
                    <div *ngFor="let colHeader of getEnumKeys(GeneralScope)" class="col-xs-1">
                        <dx-check-box [value]="checkFlag(model.general.showNegativeValuesInRed, GeneralScope[colHeader])"
                                      (onValueChanged)="checkBoxValueChanged($event, model.general, 'showNegativeValuesInRed', GeneralScope[colHeader])">
                        </dx-check-box>
                    </div>
                </div>

                <div class="row row-header">
                    <div class="col-xs-4"></div>
                    <div *ngFor="let colHeader of getEnumKeys(PeriodScope)" class="col-xs-1">{{colHeader}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-4">{{l("CashFlowGrid_UserPrefs_HideColumnsWithZeroActivity")}}</div>
                    <div *ngFor="let colHeader of getEnumKeys(PeriodScope)" class="col-xs-1">
                        <dx-check-box [value]="checkFlag(model.general.hideColumnsWithZeroActivity, PeriodScope[colHeader])"
                                      (onValueChanged)="checkBoxValueChanged($event, model.general, 'hideColumnsWithZeroActivity', PeriodScope[colHeader])">
                        </dx-check-box>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="header header-visuals">
                {{l("CashFlowGrid_UserPrefs_Visuals")}}
            </div>
            <div class="section-body">
                <div class="dx-field">
                    <div class="dx-field-label">{{l("CashFlowGrid_UserPrefs_Font")}}</div>
                    <div class="dx-field-value">
                        <div class="left-select">
                            <dx-select-box [items]="fonts"
                                           [(value)]="model.visualPreferences.fontName">
                            </dx-select-box>
                        </div>
                        <div class="right-select">
                            <dx-select-box style="width: 28%"
                                           [items]="fontSizes"
                                           [(value)]="model.visualPreferences.fontSize">
                            </dx-select-box>
                        </div>
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">{{l("CashFlowGrid_UserPrefs_CFOTheme")}}</div>
                    <div class="dx-field-value">
                        <div class="left-select">
                            <dx-select-box [items]="themes"
                                           [(value)]="model.visualPreferences.cfoTheme">
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="header header-currency">
                {{l("CashFlowGrid_UserPrefs_L11nAndCurrency")}}
            </div>
            <div class="section-body">
                <div class="dx-field">
                    <div class="dx-field-label">{{l("CashFlowGrid_UserPrefs_NumbersFormatting")}}</div>
                    <div class="dx-field-value">
                        <div class="left-select">
                            <dx-select-box [items]="numberFormats"
                                           [(value)]="model.localizationAndCurrency.numberFormatting">
                            </dx-select-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal-dialog>

