:host {
    display: block;
    padding: 10px;

    mat-dialog-actions {
      justify-content: flex-end;
    }

    mat-dialog-content {
      width: 410px;
      min-height: 160px;
    }

    label {
        right: -4px;
        width: 100px;
        height: 48px;
        position: relative;
        color: #BDC6C7;
        line-height: 46px;
        vertical-align: top;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 12px;
    }

    .recurring {
        width: 341px;
        display: inline-block;
        border-bottom: 1px solid #dfdfdf;
        label {
            border-bottom: none;
        }
        dx-check-box {
            display: inline-block;
            position: relative;
            top: 10px;
        }
    }

    dx-number-box,
    dx-select-box,
    dx-date-box,
    dx-text-box {
        display: inline-block;
        ::ng-deep input {
            height: 48px;
        }
    }
}