<div [@routerTransition]>
  <app-headline [config]="headlineConfig"></app-headline>
  <div class="lead-status">
      <div class="col-lg-6 col-xs-12 col-sm-12">
          <!-- BEGIN PORTLET-->
          <div class="portlet light" >
              <div class="portlet-title">
                  <div class="caption caption-md">
                      <i class="icon-bar-chart font-green-haze hide"></i>
                      <span class="caption-subject font-green-haze bold uppercase">Lead Status</span>
                  </div>
                  <div class="actions">
                  </div>
              </div>
              <div class="portlet-body" style="height: 271px;">
                  <leads-stats>Loading...</leads-stats>
              </div>
          </div>
          <!-- END PORTLET-->
      </div>
  </div>
</div>