<app-headline [config]="headlineConfig"><app-period (onChange)="periodChanged($event)"></app-period></app-headline>
<div [@routerTransition]>
  <left-menu (openIntro)="openDialog()"></left-menu>
  <div class="lead-status">
      <div class="col-lg-6 col-xs-12 col-sm-12 wrapper">
          <!-- BEGIN PORTLET-->
          <div *ngIf="dataEmpty == true" class="dashboard-stub">
              <div>
                  <img class="logo-crm" alt="CRM Logo" src="/assets/common/icons/cfo.png" />
                  <span class="sperse-crm big-gray-text">{{l('CRM')}}</span>
              </div>
              <p class="second-line big-gray-text">{{l('CRM_Long')}}</p>
              <p class="welcome-crm">{{l('CRMDashboard_WelcomeText')}}</p>
              <p class="text-crm">{{l('CRMDashboard_StartText')}}</p>
              <p class="manage-crm">{{l('CRMDashboard_ManageText')}} <a [routerLink]="['/app/crm/leads']">{{l('Leads')}}</a>, <a [routerLink]="['/app/crm/clients']">{{l('Clients')}}</a> and <a [routerLink]="['/app/crm/orders']">{{l('Orders')}}</a></p>
              <!-- p class="last-line"><a [routerLink]="['/app/crm/clients']">{{l('CRMDashboard_AddContact')}}</a> | {{l('CRMDashboard_ImportContact')}}</p -->
              <button (click)="addClient()" class="btn btn-layout add-client">{{ l('CRMDashboard_AddClient') }}</button>
          </div>

          <dx-scroll-view showScrollbar="onHover" [ngStyle]="{display: dataEmpty == false ? 'block': 'none'}">
              <div class="dashboard-widgets">
                  <counts-and-totals (onDataLoaded)="checkDataEmpty($event)"></counts-and-totals>
                  <div class="analytics-wrap">
                      <div class="left-side">
                          <new-items-totals></new-items-totals>
                      </div>
                      <div class="right-side">
                          <totals-by-period></totals-by-period>
                      </div>
                  </div>

                  <div class="analytics-wrap">
                      <div class="left-side">
                          <totals-by-source></totals-by-source>
                      </div>
                      <div class="right-side">
                          <recent-clients (onReady)="checkDataEmpty($event)"></recent-clients>
                      </div>
                  </div>
                  <clients-by-region></clients-by-region>
              </div>
          </dx-scroll-view>
          <!-- END PORTLET-->
      </div>
  </div>
</div>
