:host {
    .wrapper {
        max-width: 100%!important;
    }
    .lead-status {
        margin-top: 85px;
    }
    .dashboard-stub {
        width: 100%;
        text-align: center;      

        h1 {
            color: #dadada;
            font-size: 100px;
        }
        p {
            font-weight: 500;
            font-size: 16px;

            &:nth-child(2) {
                padding-bottom: 40px!important;
            }
        }
    }
}