:host {
    display: block;
    background-color: #f4f4f4;
    border-radius: 15px;
    text-align: center;
    position: relative;
    &:before {
        content: "";
        background: url('../../../assets/common/images/bank-code/process-board-border.png');
        position: absolute;
        top: 0;
        width: 100%;
        height: 10px;
        left: 0;
        background-size: cover;
    }

    h2 {
        color: #004a84;
        font-size: 26px;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        max-width: 400px;
        margin: auto;
        padding: 20px 0 10px;
        line-height: 26px;
    }

    & > div {
        background-color: #ffffff;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 10px;
        p {
            font-size: 18px;
            color: #575757;
            margin-bottom: 25px;
            font-weight: 500;
            letter-spacing: -0.04em;
        }

        ul {
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            flex-flow: column;
            li {
                list-style: none;
                position: relative;
                display: flex;
                flex-flow: row-reverse;
                .point {
                    border-radius: 50%;
                    border: 3px solid #dfdfdf;
                    min-width: 35px;
                    max-width: 35px;
                    height: 35px;
                    position: relative;
                    z-index: 1;
                    background-color: #fff;
                    @media (min-width: 768px) {
                        margin: auto;
                    }
                }
                .description {
                    font-family: Montserrat, sans-serif;
                    font-size: 17px;
                    color: #575757;
                    font-weight: 600;
                    line-height: 18px;
                    padding: 3px 20px;
                    text-align: left;
                    margin-right: auto;

                    @media (min-width: 768px) {
                        text-align: center;
                    }

                    @media (min-width: 1200px) {
                        padding-right: 30px;
                        padding-left: 30px;
                    }
                }
                &:before,
                &:after {
                    content: "";
                    background-color: #e7e8e9;
                    height: 18px;
                    width: calc((100% - 28px) / 2);
                    position: absolute;
                    top: 10px;
                    display: none;
                }
                &:before {
                    left: -1px;
                }
                &:after {
                    right: 0;
                }
                &:first-child:before,
                &:last-child:after {
                    display: none;
                }
                &.completed {
                    .point {
                        border-radius: 50%;
                        border-color: #47c132;
                        &:before {
                            content: url("../../../assets/common/images/bank-code/check.png");
                            position: absolute;
                            top: -6px;
                            left: 4px;
                        }
                    }
                    .description {
                        color: #9a9a9a;
                    }
                    &:not(:last-child):after,
                    & + li:before {
                        background-color: #004a84;
                    }
                }
            }

            @media (min-width: 768px) {
                flex-flow: row;
                li {
                    display: list-item;
                    &:before,
                    &:after {
                        display: block;
                    }
                }
            }
        }

        @media (min-width: 768px) {
            padding: 15px;
        }
    }

}

