<modal-dialog [title]="ls.l('NotificationSettings')"
              [editTitle]="false"
              [titleClearButton]="false"
              [placeholder]="ls.l('NotificationSettings')"
              [buttons]="">
    <dx-scroll-view showScrollbar="onHover">
        <div class="modal-body" *ngIf="settings">
            <h4>{{ls.l("ReceiveNotifications")}}</h4>
            <div>
                <input type="checkbox"
                       id="ReceiveNotifications"
                       jq-plugin="bootstrapSwitch"
                       name="ReceiveNotifications"
                       attr.switch-size="small"
                       [attr.switch-on-text]="ls.l('On')"
                       [attr.switch-off-text]="ls.l('Off')" />
                <div class="help-block">{{ls.l("ReceiveNotifications_Definition")}}</div>
            </div>
            <h4 *ngIf="settings.notifications.length" class="m--margin-top-20">{{ls.l("NotificationTypes")}}</h4>
            <p *ngIf="settings.notifications.length && !settings.receiveNotifications" class="text-danger">
                <small>{{ls.l("ReceiveNotifications_DisableInfo")}}</small>
            </p>
            <div class="m-checkbox-list">
                <div *ngFor="let notification of settings.notifications">
                    <label attr.for="Notification_{{notification.name}}" class="m-checkbox">
                        <input id="Notification_{{notification.name}}" type="checkbox" name="Notification_{{notification.name}}" [(ngModel)]="notification.isSubscribed" [disabled]="!settings.receiveNotifications">
                        {{notification.displayName}}
                        <span></span>
                    </label>
                    <span *ngIf="notification.description" class="help-block">{{notification.description}}</span>
                </div>
            </div>
        </div>
    </dx-scroll-view>
</modal-dialog>
