@lend-space-color: #f0d500;
@grey: #4a4a4a;
:host {
    .trackingScore {
        padding: 24px 21px 10px 41px;
        background-color: #f4f5f5;
        display: flex;
        margin-top: 30px;
        margin-bottom: 25px;
        &:before {
            content: url("../../../../assets/common/icons/offers/search.svg");
            margin-right: 30px;
        }
        h4 {
            font-family: Poppins;
            font-size: 19px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.2px;
        }
        p {
            font-size: 15px;
            line-height: 1.47;
            color: @grey;
        }
        @media (max-width: 767px) {
            padding-left: 28px;
        }
    }
}
