@lend-space-color: #f0d500;
@grey: #4a4a4a;
:host {
    * {
        font-family: Poppins;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    .credit-score-navigation {
        h1 {
            font-size: 46px;
            margin-bottom: 26px;
            font-weight: 700;
        }
    }
    .content-header {
        margin-bottom: 27px;
        text-align: center;
        .logoes {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            img {
                margin: 0 17px;
            }
        }
        h1 {
            font-size: 42px;
            font-weight: 500;
            line-height: 59px;
            span {
                font-weight: 700;
                position: relative;
                z-index: 0;
                &:after {
                    content: '';
                    position: absolute;
                    height: 13px;
                    background: @lend-space-color;
                    width: 100%;
                    bottom: 3px;
                    z-index: -1;
                    left: 0;
                }
            }
        }
        h3 {
            font-size: 23px;
            letter-spacing: 0.2px;
            span {
                font-weight: 600;
            }
        }
    }
    .offers {
        background-color: #ffefb2;
        padding: 40px 50px;
        margin-bottom: 49px;
        li {
            position: relative;
            text-align: center;
            margin-bottom: 30px;
            cursor: pointer;
            .offer-item {
                background: #fff;
                height: 144px;
                display: flex;
                align-items: center;
                img {
                    max-width: 100%;
                }
                .applyButton {
                    position: absolute;
                    bottom: -20px;
                    margin: auto;
                    left: 0;
                    right: 0;
                    cursor: pointer;
                }
            }
            &:hover {
                .applyButton {
                    background-color: #e0b400 !important;
                }
            }
        }
    }
    .advantages {
        li {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.31;
            letter-spacing: 0.2px;
            margin-bottom: 16px;
            &:before {
                content: url("../../../../assets/common/icons/offers/check.svg");
                margin-right: 12px;
            }
        }
    }
    .description {
        position: relative;
        padding-left: 38px;
        &:before {
            content: url("../../../../assets/common/icons/offers/info.svg");
            position: absolute;
            left: 0;
            top: 13px;
        }
        h4 {
            font-size: 19px;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            line-height: 1.57;
            color: @grey;
        }
    }
    .trackingScore {
        padding: 24px 21px 28px 41px;
        background-color: #f4f5f5;
        display: flex;
        &:before {
            content: url("../../../../assets/common/icons/offers/search.svg");
            margin-right: 30px;
        }
        h4 {
            font-family: Poppins;
            font-size: 19px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.2px;
        }
        p {
            font-size: 15px;
            line-height: 1.47;
            color: @grey;
        }
    }
}
