:host {
    display: block;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    .mat-dialog-content {
        background: #fdc84d;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px 20px;
        .nextImageBlock {
            display: flex;
            justify-content: center;
            border-radius: 60px;
            align-items: center;
            background-clip: padding-box;
            box-shadow:  0 0 0 10px rgba(255,255,255,.2);
            background: #fff;
            margin: 0 5px 20px 5px;
            padding: 10px;
            &:before {
                content: url(../../../../assets/common/icons/next-arrow.svg);
            }
            img {
                margin-left: 5px;
                max-width: 200px;
                max-height: 100px;
            }
            @media (min-width: 768px) {
                padding: 10px 60px;
                align-self: center;
                margin: 0 0px 20px 0px;
                img {
                    margin-left: 25px;
                    max-width: 250px;
                }
            }
        }
        h2 {
            font-family: Poppins;
            font-size: 24px;
            font-weight: 600;
        }
        p {
            font-family: Poppins;
            font-weight: 500;
            margin-bottom: 0;
        }
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            &.alert-info {
                margin-bottom: 4px;
                padding: 7px 20px;
            }
            &.alert-success {
                color: #3c763d;
                background-color: #dff0d8;
                border-color: #d6e9c6;
                transition: all .55s ease;
                opacity: 1;
                transform: translateY(0px);
                margin-bottom: 4px;
                padding: 10px;
            }
        }
        .alert-info {
            color: #31708f;
            background-color: #fff;
            border-color: #fff;
        }
        .process-step {
            display: flex;
            padding-left: 20px;
            h4 {
                margin-top: 4px;
                margin-bottom: 0;
                font-size: 18px;
                text-align: left;
            }
            .spinner {
                height: 27px;
                width: 27px;
                margin-right: 30px;
                background: url('../../../../assets/common/icons/offers/spinner.svg') no-repeat;
            }
        }

        @media (min-width: 768px) {
            padding: 40px 60px 30px;
            p {
                margin-bottom: 20px;
            }
        }
    }

    .blockedMessage {
        padding: 30px;
        text-align: center;
        font-size: 30px;
        font-family: Poppins;
        font-weight: 600;
    }
}
/deep/ .cdk-overlay-container {
    .cdk-overlay-pane.apply-offer-dialog {
        .mat-dialog-container {
            overflow: visible;
            padding: 0px;
            margin: 0px;
        }
    }
}
