:host {
    .wrapper {
        padding-bottom: 90px;

        .mode {
            position: absolute;
            top: 10px;
            right: 30px;
        }
        
        .labels {
            display: flex;
            justify-content: flex-end;

            div:nth-child(2),
            div:last-child {
                margin-left: 8px;
            }

            div:last-child {
                width: 67px;
            }
        }

        /deep/ .dx-treelist {
            .dx-select-checkbox {
                position: static;
                display: inline-block;
            }
            .dx-template-wrapper {
                display: flex;
                .name {
                    margin-right: auto;
                    max-width: 220px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .dx-checkbox {
                position: relative;
                &:nth-child(3) {
                    margin-left: 25px;
                }
                &:last-child {
                    margin-left: 26px;
                    margin-right: 29px;
                }
            }
            .dx-treelist-rowsview {
                border-top: none;
            }
            .dx-toolbar-after {
                width: 100%;
                padding: 0;
                .dx-treelist-search-panel {
                    margin: 0;
                }
            }
        }
    }
}
