<div class="wrapper">
    <div class="labels">
        <div>{{ ls.l('Current') }}</div>
        <div>{{ ls.l('Past') }}</div>
        <div>{{ ls.l('Never') }}</div>
    </div>
    <dx-tree-list [dataSource]="items.element.dataSource"
                  [dataStructure]="'tree'"
                  [keyExpr]="'id'"
                  [itemsExpr]="'serviceProductLevels'"
                  [showColumnHeaders]="false"
                  height="calc(100vh - 193px)"
                  [scrolling]="{ preloadEnabled: true }"
                  [autoExpandAll]="true">
        <dxi-column [dataField]="items.element.nameField" cellTemplate="checkBoxTemplate"></dxi-column>
        <div *dxTemplate="let cell of 'checkBoxTemplate'">
            <div class="name" [title]="cell.data[items.element.nameField]">{{ cell.data[items.element.nameField] }}</div>
            <dx-check-box 
                [(value)]="cell.data.current" 
                (onContentReady)="checkSetInitialValue($event, cell, 'current')"
                (onValueChanged)="onValueChanged($event, cell, 'current')">
            </dx-check-box>
            <dx-check-box 
                [(value)]="cell.data.past" 
                (onContentReady)="checkSetInitialValue($event, cell, 'past')"
                (onValueChanged)="onValueChanged($event, cell, 'past')">
            </dx-check-box>
            <dx-check-box 
                [(value)]="cell.data.never" 
                (onContentReady)="checkSetInitialValue($event, cell, 'never')"
                (onValueChanged)="onValueChanged($event, cell, 'never')">
            </dx-check-box>
        </div>
    </dx-tree-list>
</div>