.add-link {
    color: #00AEEF !important;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 500;
    margin-left: auto;
    cursor: pointer;
    transition: .2s;

    &:hover {
        color: lighten(#00AEEF, 20%) !important;
    }
}

/deep/ .dx-overlay-wrapper.addXeroAccount {
    bottom: 0;
    width: 180px;
    height: 40px;
    top: 460px;
    margin: auto;
    left: 565px;
    border: none;
    .dx-overlay-content {
        border: none;
        box-shadow: none;
        background: transparent;
        -webkit-transform: initial !important;
        transform: initial !important;
        transition: initial !important;
        .dx-popover-arrow {
            display: none;
        }
    }
}
