.synch-progress-wrapper {
    background: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.synch-container {
    display: flex;
    height: 100%;

    > div {
        display: flex;
        align-items: center;

        .red-icon {
            visibility: hidden;
            color: red;
            margin-bottom: 0;
        }
    }

    &:hover {
        .red-icon {
            visibility: visible !important;
        }
    }

    h3 {
        color: #212c36;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.2px;
        line-height: 17px;
        margin-right: 14px;
        margin-bottom: 0;
    }
}

.synch-progress,
.tooltip-container {
    font-size: 15px;
    text-align: start;
}

:host {

    .loadindicator {
        height: 16px;
        width: 16px;
        left: -9px;
        border: 2px solid rgba(53,200,168,.9);
        border-left-color: rgba(255,255,255,.2);
        border-bottom-color: rgba(255,255,255,.2);
        border-radius: 50%;
        position: relative;
        -webkit-animation: rotation .6s infinite linear;
        -moz-animation: rotation .6s infinite linear;
        -o-animation: rotation .6s infinite linear;
        animation: rotation .6s infinite linear;

        &.error {
            border-top-color: orange;
            border-right-color: orange;
        }
    }

    /deep/ .dx-progressbar {
        &::before {
            content: none;
        }

        &.error .dx-progressbar-range {
            background-color: orange !important;
        }
    }

    /deep/ .dx-progressbar-wrapper {
        display: flex;

        .dx-progressbar-range-container {
            display: block;
            margin-right: 10px;
            position: relative;
            .dx-progressbar-container {
                border: 0;
                height: 7px;
                background: #fff;
                border-radius: 4px;
                overflow: hidden;

                .dx-progressbar-range {
                    border: 0;
                    background-color: #35C8A8;
                    border-radius: 4px 0 0 4px;
                    margin-top: 0;
                }
            }
        }
    }

    /deep/ .dx-button {
        background-color: #048C6E;
        border: 0;
        border-radius: 20px;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.4px;
        line-height: 24px;
        margin-left: auto;
        margin-right: 15px;

        &:hover {
            background: lighten(#048C6E, 2%);
        }
    }
}

/deep/ .dx-tooltip-wrapper {
    width: 100%;
}

.tooltip-data {
    white-space: normal;
    max-width: 360px;
    word-wrap: break-word;
    text-align: left;
}


.tooltip-container {
    .header {
        border-bottom: 1px solid #e5e9ec;
        padding-bottom: 14px;
        padding-top: 7px;

        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.21;
            letter-spacing: 0.3px;
            text-align: left;
            color: #212c36;
        }
    }

    .scroll-zone {
        margin: 21px auto;

        .progress-wrap {
            max-width: 138px;
            width: 100%;
            height: auto;
            margin: 0 auto;
            position: relative;
        }

        .progress-description {
            width: 213px;
            height: auto;
            position: relative;
            margin: 20px auto 20px;
            padding: 22px;
            background-color: #f3f7fa;

            .progress-description-arrow {
                top: -10px;
                left: 96px;
                width: 20px;
                height: 10px;
                position: absolute;

                &::after {
                    background: #f3f7fa;
                    right: 0;
                    bottom: 0;
                    transform-origin: bottom right;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    display: block;
                    content: " ";
                    transform: rotate(-45deg);
                }
            }

            .progress-description-header {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.21;
                color: #35c8a8;
            }

            .progress-description-text {
                white-space: initial;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.5;
                letter-spacing: 0.2px;
                margin-top: 17px;
            }
        }

        .total-synch-progress {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 24px;
            transform: translate(-50%, -50%);
            font-weight: 600;
            font-size: 30px;
        }

        .list-of-synch-accounts {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.31;
            list-style-type: none;
            margin-bottom: 0;
            padding-left: 0;

            li {
                padding: 5px 5px 5px 25px;
                position: relative;

                .name {
                    width: 79%;
                    display: block;
                    float: left;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding-right: 5px;

                    &.full-width {
                        width: 100% !important;
                    }

                    &::before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: #f9b74b;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        left: 7px;
                        top: 10px;
                    }
                }

                &.completed {
                    background: transparent url('../../../../assets/common/icons/completed-icon.svg') 4px 50% no-repeat;

                    .name::before {
                        content: none;
                    }
                }

                &.actionrequired,
                &.syncpending,
                &.unavailable {
                    .name::before {
                        content: '\f071';
                        font-family: FontAwesome !important;
                        color: orange;
                        background: none;
                        top: 6px;
                        left: 5px;
                    }
                }

                .percent {
                    width: 20%;
                    display: block;
                    float: right;
                    text-align: right;
                    padding-right: 5px;
                    font-weight: 500;
                    color: #677380;
                }
            }
        }
    }

    .footer {
        border-top: 1px solid #e5e9ec;
        padding-top: 18px;
        padding-bottom: 10px;

        .footer-text {
            font-size: 12px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.2px;
            padding-left: 30px;
            position: relative;
            white-space: initial;

            &::before {
                color: white;
                font-size: 11px;
                font-weight: 600;
                line-height: 16px;
                text-align: center;
                width: 16px;
                height: 16px;
                content: "i";
                border-radius: 50%;
                background: #8bd5ef;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

// animation rotate
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
