:host {
    position: relative;
    height: 100%;

    /deep/ .dx-datagrid {
        .dx-datagrid-focus-overlay {
            border: none;
        }

        .dx-datagrid-revert-tooltip {
            display: none;
        }
    }
}
