/deep/ .dx-state-readonly input,
.dx-selectbox .dx-texteditor-input:read-only {
    color: #ababab;
    cursor: not-allowed !important;
}

/deep/ .dx-selectbox.dx-state-hover.dx-state-readonly .dx-dropdowneditor-icon {
    background-color: transparent;
}
