<ul class="member-area-navigation">
  <li *ngFor="let item of memberAreaLinks" class="member-list-item">
      <a [routerLink]="item.routerUrl" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <img [src]="item.imgUrl" [alt]="l(item.name)">
          <img [src]="item.activeImgUrl" [alt]="l(item.name)" class="active-img">
          {{l(item.name)}}
      </a>
  </li>
</ul>

<div class="dropdown" *ngIf="responsiveMemberAreaLinks.length">
  <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="member-responsive-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <li *ngFor="let item of responsiveMemberAreaLinks">
      <a [routerLink]="item.routerUrl" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="dropdown-item">
          <img [src]="item.imgUrl" [alt]="l(item.name)">
          <img [src]="item.activeImgUrl" [alt]="l(item.name)" class="active-img">
          {{l(item.name)}}
      </a>
    </li>
  </ul>
</div>

