<div>
    <dx-tree-list
        [width]="width"
        [height]="height"
        [dataSource]="keyPhrasesData"
        [hoverStateEnabled]="true"
        [loadPanel]="{enabled: true}"
        dataStructure="tree"
        itemsExpr="groups">
        <dxi-column 
            dataField="keyPhrases"
            [allowSorting]="false"
            [cellTemplate]="'keyPhrasesTemplate'">
        </dxi-column>
        <dxi-column
            dataField="count"
            [cellTemplate]="'keyPhrasesCountTemplate'">
        </dxi-column>

        <div *dxTemplate="let cell of 'keyPhrasesTemplate'">
            <ng-container>
                <div class="category-hover"></div>
                <span title="{{ cell.text }}"> {{ cell.text }} </span>
                <div class="category-drop-area" title="{{ cell.text }}">
                    <div *ngIf="isInstanceAdmin" class="category-drop-add-rule">{{l('Add Rule')}}</div>
                </div>
            </ng-container>
        </div>
        <div *dxTemplate="let cell of 'keyPhrasesCountTemplate'">
            <div *ngIf="cell.value" class="transactionCount">
                <span> {{ cell.text }} </span>
            </div>
        </div>
    </dx-tree-list>
</div>
