<dx-tabs *ngIf="priceOptions && priceOptions.length > 1"
         [dataSource]="priceOptions"
         [(selectedItem)]="selectedPriceOption"
         itemTemplate="priceOptionTabTemplate"
         (onSelectionChanged)="onPriceOptionChanged()"
         [scrollByContent]="true"
         [focusStateEnabled]="false"
         [hoverStateEnabled]="false">
    <div *dxTemplate="let item of 'priceOptionTabTemplate'">
        <span>{{ item.name || item.frequency || item.unit }}</span>
    </div>
</dx-tabs>