<h2 mat-dialog-title>
    <div>{{ls.l('AddNewEarnings')}}</div>
</h2>
<mat-dialog-content>
    <dx-scroll-view showScrollbar="onHover" height="500px">
        <dx-select-box
            [placeholder]="ls.l('AllAffiliates')"
            [searchEnabled]="true"
            [dataSource]="contacts$ | async"
            itemTemplate="itemTemplate"
            valueExpr="id"
            displayExpr="name"
            [(value)]="contactId"
            [showClearButton]="true">
            <div *dxTemplate="let contact of 'itemTemplate'" class="affiliates-list-item-content">
                <div class="name">{{ contact.name }}</div>
                <div class="affiliate-code">{{ contact.affiliateCode }}</div>
            </div>
        </dx-select-box>
        <calendar [values]="dateRange" [options]="calendarOptions"></calendar>
    </dx-scroll-view>
</mat-dialog-content>
<mat-dialog-actions>
    <button md-button mat-dialog-close class="button-layout button-default">{{ls.l('Cancel')}}</button>
    <button md-button (click)="confirm()" class="button-layout button-primary">{{ls.l('Add')}}</button>
</mat-dialog-actions>
