::ng-deep .hide {
    display: none;
}
:host {
    display: block;
    min-width: 400px;
    padding: 20px;

    h2 {
        position: relative;
        padding-left: 10px;

        .close {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 5px;
            right: 15px;
            cursor: pointer;
            display: block;
            background-color: #FFF;
            &:after, &:before {
                position: absolute;
                top: 0;
                left: 9px;
                content: ' ';
                height: 20px;
                width: 2px;
                background-color: #202b35;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    ::ng-deep .mat-tab-label {
        min-width: 100px!important;
    }

    mat-dialog-content {
        overflow: hidden;
        max-height: 100%!important;
        min-height: 300px;
        padding-left: 30px;

        .gear-icon {
            z-index: 999;
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 10px;
            background: url("../../../../../assets/common/icons/gear-icon.svg") no-repeat center;
        }
    
        .overview-content {
            padding: 10px;
            .right-panel-block {
                position: relative;
            }
        }
    }

    .general-tab {
        padding: 30px;

        &>div {
            padding-bottom: 20px;
        }

        h3 {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.56px;
            color: #202b35;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        h4 {
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: 0.28px;
            color: #677380;
            margin-bottom: 0;
        }
        ::ng-deep inplace-edit {
            .inplace-edit-edit-mode {
                width: 80%;
                dx-text-box input {
                    font-size: 14px !important;
                    background: none;
                }
            }
            .inplace-edit-view-mode {
                min-height: 33px;
                .link a {
                    font-size: 15px;
                    letter-spacing: 0.3px;
                    color: #424c56;
                }
            }
        }
    }
}