<email-template-dialog (onSave)="save()" (onTemplateChange)="templateChanged($event)" [templateEditMode]="true">
    <ng-container templateSettings>
        <div class="settings-wrapper">
            <div class="left-side">
                <h3>{{ls.l('InvoiceEmail_OtherSettings')}}</h3>
                <dx-check-box
                    [text]="ls.l('InvoiceEmail_AttachPDF')"
                    [(value)]="attachPDF.value">
                </dx-check-box>
                <dx-check-box
                    disabled="true"
                    [text]="ls.l('InvoiceEmail_SendReminders')"
                    [(value)]="sendReminders.value">
                </dx-check-box>
                <dx-check-box
                    disabled="true"
                    [text]="ls.l('InvoiceEmail_PartialPayment')"
                    [(value)]="partialPayment.value">
                </dx-check-box>
                <dx-check-box
                    disabled="true"
                    [text]="ls.l('InvoiceEmail_AutoPeyment')"
                    [(value)]="autoPayment.value">
                </dx-check-box>
                <dx-check-box
                    disabled="true"
                    [text]="ls.l('InvoiceEmail_SendAlerts')"
                    [(value)]="sendAlerts.value">
                </dx-check-box>
            </div>
            <div class="right-side">
                <h3>{{ls.l('InvoiceEmail_PaymentMethod')}}&nbsp;<img src="assets/images/icons/information-button.svg"></h3>
                <p>{{ls.l('InvoiceEmail_AddMethod')}}</p>
                <a>{{ls.l('InvoiceEmail_PaymentIntegrations')}}</a>

                <dx-date-box
                    [visible]="false"
                    placeholder="{{ls.l('Invoice_DueOnReceipt')}}"
                    (onKeyDown)="allowDigitsOnly($event, ['/'])"
                    [width]="'260px'"
                    [(value)]="dueDate.value">
                </dx-date-box>
            </div>
        </div>
    </ng-container>
</email-template-dialog>