:host {
    .settings-wrapper {
        width: 100%;
        display: flex;
        & > div {
            width: 50%;
            padding: 10px;
        }
        .left-side {
            border-right: 1px solid #dedede;
        }
        .right-side {
            border-left: 1px solid #dedede;
        }
    }
}