<div [@routerTransition]>
    <app-headline [config]="headlineConfig"></app-headline>
    <div class="content">
        <setup-steps (openIntro)="onOpenIntro.next(true)"></setup-steps>
        <div class="cashflow-setup portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div>
                    <img class="logo-cfo" alt="CFO Logo" src="./assets/common/icons/cfo.png" />
                    <span class="sperse-cfo big-gray-text">CFO</span>
                </div>
                <p class="outlook big-gray-text">{{ l('Setup_Outlook') }}</p>
                <p class="welcome-cfo">{{ l('Setup_Welcome') }}</p>
                <ng-container *ngIf="showGetStartedSection$ | async; else contactAdministrator">
                    <p class="text-cfo">{{ l('Setup_BodyText') }}</p>
                    <button (click)="onStart()" class="btn btn-layout" [disabled]="isDisabled">{{ l('Setup_GetStarted') }}</button>
                </ng-container>
                <ng-template #contactAdministrator>
                    <p>{{ l('YouAreNotGrantedToViewConnectedAccountsData')}}</p>
                    <p>{{ l('ContactYourAdministrator')}}</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>
