<div [@routerTransition]>
    <app-headline [config]="headlineConfig"></app-headline>
    <div class="content">
        <setup-steps (openIntro)="openDialog()"></setup-steps>
        <div class="cashflow-setup portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div>
                    <div>
                        <img class="logo-cfo" alt="CFO Logo" src="/assets/common/icons/cfo.png" />
                        <span class="sperse-cfo big-gray-text">CFO</span>
                    </div>
                    <p class="outlook big-gray-text">{{ l('Setup_Outlook') }}</p>
                    <p class="welcome-cfo">{{ l('Setup_Welcome') }}</p>
                    <p class="text-cfo">{{ l('Setup_BodyText') }}</p>
                    <button (click)="onStart()" class="btn btn-layout" [disabled]="isDisabled">{{ l('Setup_GetStarted') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
