:host {
    position: relative;
    top: 75px;

    .content {
        display: flex;
    }

    .video-wrapper {
        width: 750px;
        position: relative;
        margin: 0 auto 30px;
        @media all and (max-width: 1550px) {
            width: 585px;
            margin: 0 auto 20px;
        }
    }

    .cashflow-setup {
        flex: 1;
        padding: 50px 0 0;
        text-align: center;
        width: calc(~"100vw - 322px");
        height: calc(~"100vh - 151px");
        border: none;
        @media all and (max-width: 1550px) {
            padding: 30px 0 0;
        }

        .welcome-cfo {
            color: #202B35;
            font-size: 32px;
            font-weight: 600;
        }

        .text-cfo {
            color: #677380;
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            max-width: 650px;
            margin: 27px auto 38px;
            @media all and (max-width: 1550px) {
                margin: 15px auto 20px;
            }
        }
    }

    .btn-layout {
        padding: 18px 68px 21px 66px !important;
        height: 52px;
        text-transform: none !important;
        line-height: 0 !important;
        border-radius: 26px !important;
        font-size: 16px !important;
        font-weight: 500 !important;

        &:after {
            content: none;
        }
    }
}
