<dx-scroll-view showScrollbar="onHover" [height]="'calc(100vh - 70px)'">
    <div class="container dashboard">
        <h1>{{ ls.l('Dashboard') }}</h1>
        <section class="">
            <div class="row ">
                <div class="col-lg-6 d-flex align-items-stretch mb-5">
                    <div class="card">
                        <div class="card-header">
                            <h2><img src="../../assets/common/images/bank-code/media-player.svg" alt="Video">Welcome</h2>
                        </div>
                        <div class="card-body">
                            <iframe src="https://player.vimeo.com/video/62998334" class="vimeo-iframe" frameborder="0"
                                    allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-stretch mb-5">
                    <div class="card">
                        <div class="card-header">
                            <h2><img src="../../assets/common/images/bank-code/speaker.svg" alt="ANNOUNCEMENTS">ANNOUNCEMENTS</h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Welcome to the private beta version of your virtual office</h5>
                            <p class="card-text mb-4">You will notice in the upcoming weeks design and UX/UI updates along with tools to
                                take
                                your business to the next level. For now - enjoy this Pre-Launch as it will only get better.</p>
                            <p class="card-text-footer mb-4">Please check this area out daily for updates and exciting news.</p>
                            <p class="card-text"><a href="#" class="btn btn-default">Forbes - The Future of Sales</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="charts mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2><img src="../../assets/common/images/bank-code/chart.svg">At a glance</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5 class="card-title">Dashboard at-a-glance</h5>
                                    <div class="row">
                                        <div class="col-md-6 p-md-5">
                                            <chart [type]="type" [data]="data" [options]="options">
                                                <canvas width="300" height="300"></canvas>
                                            </chart>
                                            <p class="card-text-footer mt-4">Total Codes Cracked</p>
                                        </div>
                                        <div class="col-md-6 p-md-5">
                                            <img class="level-img" src="../../assets/common/images/bank-code/codebreaker.png" alt="Codebreaker">
                                            <p class="card-text-footer mt-4">Current Badge Level</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5 offset-lg-1">
                                    <h5 class="card-title">Code cracked at-a-glance</h5>
                                    <div class="bar-info row">
                                        <div class="col-4">Daily goal</div>
                                        <div class="col-4 text-center font-weight-bold">67%</div>
                                        <div class="col-4 text-secondary text-right">2 of 3</div>
                                        <div class="col-12 bar bar-red">
                                            <ks-line-progress [options]="dailyGoal"></ks-line-progress>
                                        </div>
                                    </div>
                                    <div class="bar-info row">
                                        <div class="col-4">Weekly goal</div>
                                        <div class="col-4 text-center font-weight-bold">28%</div>
                                        <div class="col-4 text-secondary text-right">5 of 15</div>
                                        <div class="col-12 bar bar-blue">
                                            <ks-line-progress [options]="weeklyGoal" ></ks-line-progress>
                                        </div>
                                    </div>
                                    <div class="bar-info row">
                                        <div class="col-4">Monthly goal</div>
                                        <div class="col-4 text-center font-weight-bold">88%</div>
                                        <div class="col-4 text-secondary text-right">46 of 60</div>
                                        <div class="col-12 bar bar-yellow">
                                            <ks-line-progress [options]="monthlyGoal"></ks-line-progress>
                                        </div>
                                    </div>
                                    <div class="bar-info row">
                                        <div class="col-4">Quarterly goal</div>
                                        <div class="col-4 text-center font-weight-bold">56%</div>
                                        <div class="col-4 text-secondary text-right">70 of 180</div>
                                        <div class="col-12 bar bar-green">
                                            <ks-line-progress [options]="quarterlyGoal"></ks-line-progress>
                                        </div>
                                    </div>
                                    <div class="bar-info row">
                                        <div class="col-4">Annualy goal</div>
                                        <div class="col-4 text-center font-weight-bold">34%</div>
                                        <div class="col-4 text-secondary text-right">230 of 720</div>
                                        <div class="col-12 bar bar-purple">
                                            <ks-line-progress [options]="annualyGoal"></ks-line-progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="counters mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pb-lg-0 ">
                            <div class="row">
                                <div class="counter-1 col-lg-6 mb-md-5 mb-lg-0">
                                    <h6 class="card-title">MY TOTAL B.A.N.K. CODES CRACKED</h6>
                                    <div class="numbers">
                                        <div class="incremental-counter" id="counter-1" data-value="22205"></div>
                                    </div>
                                    <div class="circular-graph-wrapper">
                                        <div class="circular-graphs">
                                            <div class="circular-progress" data-color="#004a81" data-trail="#91bfdd" data-text=""
                                                 data-percent="90" data-number="4,230" id=""></div>
                                            <div class="circular-progress" data-color="#ac1f22" data-trail="#ce767f" data-text=""
                                                 data-percent="40" data-number="930" id=""></div>
                                            <div class="circular-progress" data-color="#f09e1f" data-trail="#ecd68a" data-text=""
                                                 data-percent="48" data-number="2,200" id=""></div>
                                            <div class="circular-progress" data-color="#1b6634" data-trail="#87c796" data-text=""
                                                 data-percent="72" data-number="4,230" id="progress"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="counter-2 col-lg-6 mb-md-5 mb-lg-0 mt-md-5 mt-lg-0">
                                    <h6 class="card-title">Code cracked at-a-glance</h6>
                                    <div class="numbers">
                                        <div class="incremental-counter" id="counter-2" data-value="132718"></div>
                                    </div>
                                    <div class="circular-graph-wrapper">
                                        <div class="circular-graphs">
                                            <div class="circular-progress" data-color="#004a81" data-trail="#91bfdd" data-text=""
                                                 data-percent="48" data-number="4,230" id="progress"></div>
                                            <div class="circular-progress" data-color="#ac1f22" data-trail="#ce767f" data-text=""
                                                 data-percent="63" data-number="455" id="progress"></div>
                                            <div class="circular-progress" data-color="#f09e1f" data-trail="#ecd68a" data-text=""
                                                 data-percent="77" data-number="6335" id="progress"></div>
                                            <div class="circular-progress" data-color="#1b6634" data-trail="#87c796" data-text=""
                                                 data-percent="57" data-number="7433" id="progress"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</dx-scroll-view>
