<dx-scroll-view showScrollbar="onHover" [height]="'calc(100vh - 70px)'">
    <div class="container dashboard">
        <h1>{{ ls.l('Dashboard') }}</h1>
        <section class="">
            <div class="row ">
                <div class="col-lg-6 d-flex align-items-stretch mb-5">
                    <div class="card">
                        <bank-code-welcome-video></bank-code-welcome-video>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-stretch mb-5">
                    <div class="card">
                        <bank-code-announcements></bank-code-announcements>
                    </div>
                </div>
            </div>
        </section>

        <section class="charts mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h2><img src="../../assets/common/images/bank-code/chart.svg">At a glance</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <bank-code-total-codes-cracked></bank-code-total-codes-cracked>
                                </div>
                                <div class="col-lg-5 offset-lg-1">
                                    <bank-code-goals-cracked></bank-code-goals-cracked>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="counters mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pb-lg-0 ">
                            <bank-code-counters></bank-code-counters>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <bank-code-footer></bank-code-footer>

</dx-scroll-view>
