:host {
    display: block;

    ::ng-deep .dashboard {
        padding-top: 40px;

        h1 {
            font-size: 40px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.58;
            letter-spacing: -0.8px;
            text-align: center;
            color: #000000;
            margin: 3rem auto;
        }

        .card {
            box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.15);
            border: solid 1px #ebecec;
            background-color: #ffffff;
            border-radius: 2px;
            width: 100%;
        }
    }
}
