<div
  class="flex flex-wrap gap-4 mb-6 p-4 rounded-lg border bg-card border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex-1 min-w-[200px]">
    <div class="relative">
      <lucide-angular
        name="search"
        size="16"
        class="absolute left-1 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></lucide-angular>
      <input
        class="flex h-10 w-full rounded-md border border-input bg-background px-3!important py-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm pl-10"
        placeholder="Search keywords, referrers, countries..."
      />
    </div>
  </div>
  <app-aggregate-analytics-date-range></app-aggregate-analytics-date-range>
  <app-aggregate-analytics-selector></app-aggregate-analytics-selector>
  <button
    class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm dark:text-white dark:border-gray-600 dark:bg-gray-700 font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
  >
  <lucide-angular
      name="filter"
      size="16"
      class="mr-2 h-4 w-4 text-gray-500 dark:text-gray-400"
    ></lucide-angular>
    Filters
  </button>
</div>
