<modal-dialog [title]="titleText" [buttons]="buttons">
    <dx-scroll-view showScrollbar="onHover">
        <div class="content">
            <form #clientForm="ngForm" novalidate>
                <div class="modal-body">
                    <div class="dx-field" hidden>
                        <dx-select-box [(value)]="model.tenantHostType"
                                       [dataSource]="data.hostTypes"
                                       [placeholder]="ls.l('Type')"
                                       [readOnly]="editing"
                                       valueExpr="id" displayExpr="name">
                        </dx-select-box>
                    </div>

                    <div class="dx-field">
                        <dx-text-box name="DomainName" [placeholder]="ls.l('HostName') + ' (custom.mysite.com)'"
                                     [maxLength]="256" [readOnly]="editing"
                                     [(value)]="model.domainName">
                        </dx-text-box>
                    </div>

                    <div class="dx-field">
                        <dx-select-box [(value)]="model.sslCertificateId"
                                       [dataSource]="sslCertificates"
                                       [placeholder]="ls.l('SSLCertificate')"
                                       valueExpr="id"
                                       displayExpr="hostNames">
                        </dx-select-box>
                    </div>

                    <div class="dx-field">
                        <dx-select-box [(value)]="model.organizationUnitId"
                                       [dataSource]="data.orgUnits | async"
                                       [placeholder]="ls.l('OrganizationUnits')"
                                       valueExpr="id"
                                       displayExpr="displayName"
                                       [showClearButton]="true">
                        </dx-select-box>
                    </div>
                </div>
            </form>
        </div>
    </dx-scroll-view>
</modal-dialog>
