:host {
    .wrapper {
        text-align: center;
        .round-progress {
            width: 100%;
            height: 400px;
            max-width: 100%;
            display: inline-block;
        }
    }

    .percentage {
        position: absolute;
        top: calc(~"50% + 15px");
        left: calc(~"50% - 25px");
        width: 50px;
        font-weight: 500;
        font-size: 14px;
        display: inline-block;

    }

    .total-count {
        position: absolute;
        top: calc(~"50% - 40px");
        left: calc(~"50% - 100px");
        width: 200px;
        font-weight: 600;
        font-size: 36px;
        display: inline-block;
    }

    .range-name {
        position: absolute;
        top: calc(~"50% - 60px");
        left: calc(~"50% - 75px");
        width: 150px;
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
    }

    app-no-data {
        padding-top: 50px!important;
        border-top: none!important;
    }
}
