<mat-tab-group (selectedTabChange)="selectedTabChange($event)">
    <mat-tab [label]="l('ContactInformation_PersonTitle')">
        <dx-scroll-view showScrollbar="onHover">
            <div class="row">
                <div class="col-md-12">
                    <contacts-area [contactInfoData]="data?.contactInfo?.primaryContactInfo?.details"></contacts-area>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <addresses [contactInfoData]="data?.contactInfo?.primaryContactInfo?.details"></addresses>
                </div>
                <div class="col-md-6">
                    <socials [contactInfoData]="data?.contactInfo?.primaryContactInfo?.details"></socials>
                </div>
            </div>
        </dx-scroll-view>
    </mat-tab>
    <mat-tab [label]="l('ContactInformation_CompanyTitle')">
        <dx-scroll-view showScrollbar="onHover">
            <div class="row">
                <div class="col-md-12">
                    <contacts-area [contactInfoData]="data?.contactInfo?.organizationContactInfo?.details"
                              [contactInfo]="data?.contactInfo"></contacts-area>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <addresses [contactInfoData]="data?.contactInfo?.organizationContactInfo?.details"
                               [contactInfo]="data?.contactInfo"></addresses>
                </div>
                <div class="col-md-6">
                    <socials [contactInfoData]="data?.contactInfo?.organizationContactInfo?.details"
                             [contactInfo]="data?.contactInfo"></socials>
                </div>
            </div>
        </dx-scroll-view>
    </mat-tab>
    <mat-tab [label]="l('ContactInformation_EmploymentTitle')">
        <dx-scroll-view *ngIf="checkTabEnabled(EMPLOYMENT_TAB_INDEX)" showScrollbar="onHover">
            <employment [contactId]="data?.contactInfo?.primaryContactInfo?.id"></employment>
        </dx-scroll-view>
    </mat-tab>
    <mat-tab [label]="l('ContactInformation_ConfidentialTitle')">
    </mat-tab>
</mat-tab-group>
