@import "../../../../node_modules/devextreme/dist/css/dx.common.css";
@import "../../../../node_modules/devextreme/dist/css/dx.light.css";
@import "./dx-theme.less";

.dx-texteditor {
    border: 0;
}

.dx-clear-button-area {
    opacity: 0;
}

&.dx-state-hover {
    .dx-clear-button-area {
        opacity: 1;
    }
}

.dx-placeholder.dx-state-invisible {
    font-size: 11px;
    color: #8a9da1;
    top: -18px;
    opacity: 0;
}

.dx-texteditor-empty.dx-state-focused .dx-placeholder {
    display: block !important;
    font-size: 11px;
    color: #8a9da1;
    top: -18px;
}

.dx-texteditor-input,
input.form-control {
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #171c1d;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
    padding: 12px 8px;
}

.dx-dropdowneditor-button {
    min-width: 0;
}

.dx-texteditor-buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
}

.dx-placeholder,
.dx-radiobutton .dx-item-content {
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #8a969b;
    transition: .2s;
}

.dx-closebutton:before {
    font-family: DXIcons!important;
}

.dx-treelist-empty-space {
    &.dx-treelist-collapsed span:before,
    &.dx-treelist-expanded span:before {
        font-family: DXIcons!important;
    }
}

.dx-treelist-header-panel {
    height: 50px;
}

.dx-popup-wrapper {
    z-index: 9999999999!important;
}

.dx-datagrid-drag-header.dx-datagrid-drag-action {
    z-index: 10000000000!important;
}

.dx-loadpanel-wrapper {
    z-index: 999!important;
}

.dx-widget {
    .dx-header-filter {
        &.dx-header-filter-empty:before{
            background: url('../../../assets/common/icons/filter.svg') no-repeat center;
        }
        &:before {
            content: ''!important;
            top: 1px;
            width: 15px;
            height: 14px;
            position: relative;
            display: inline-block;
            background: url('../../../assets/common/icons/header-filter.svg') no-repeat center;
        }
    }
    .dx-sort-up, .dx-sort-down {
        font: initial!important;
        &:before {
            content: ''!important;
            top: 1px;
            width: 10px;
            height: 14px;
            position: relative;
            display: inline-block;
            background: url('../../../assets/common/icons/sort-up.svg') no-repeat center;
        }
    }
    .dx-sort-down {
        transform: rotate(180deg);
    }
}

.dx-overlay-wrapper {
    .dx-overlay-content {
        &::before {
            display: inline;
        }
    }
}

.dx-list-item-icon-container {
    display: none;
}

.with-custom-loader {
    .dx-loadpanel-content {
        overflow: visible;
        background: transparent;
        box-shadow: none;
        border: none;
        .dx-loadpanel-content-wrapper {
            height: 100%;

            .dx-loadpanel-indicator {
                width: 80px;
                height: 80px;
                .dx-loadindicator-image {
                    -webkit-background-size: cover;
                    background-size: cover;
                }
            }
            .dx-loadpanel-message {
                display: none !important;
            }
        }
    }
}

.dx-datebox-wrapper-datetime.dx-datebox-wrapper-calendar {
    .dx-timeview-field {
        * {
            font-weight: 500;
            font-size: 15px;
        }
    }
}

/* Custom icons for dx context */
.dx-icon-files {
    background: url(../../../assets/common/icons/files.svg) no-repeat 1px 1px;
    background-size: 16px 16px!important;
}

.dx-icon-note {
    background: url(../../../assets/common/icons/note.svg) no-repeat 1px 1px;
    background-size: 16px 16px!important;
}

.dx-icon-add-contact {
    background: url(../../../assets/common/icons/add-contact.svg) no-repeat 1px 1px;
    background-size: 16px 16px!important;
}

.dxc-tooltip {
    z-index: 1;
    /** @todo check on mac according to SC-2912 */
    //svg path {
    //    transform: translate(0, 0) !important;
    //    filter: none !important;
    //}
}

.dx-tabs.dx-tabs-stretched {
    table-layout: fixed;
}

// checkboxes styles
.dx-checkbox {
    display: inline-block;
    .dx-checkbox-icon {
        width: 20px;
        height: 20px;
        background: #fff !important;
        border-color: #DADEE1 !important;
        font-size: 6px;
        font-weight: normal;
        &::before {
            content: none !important;
        }
    }

    .dx-checkbox-text {
        white-space: nowrap;
        display: inline;
    }

    span {
        margin: auto;
    }

    &.dx-state-hover,
    &.dx-state-focused {
        .dx-checkbox-icon {
            border-color: #00AEEF !important;
        }
    }

    &.dx-checkbox-checked {
        .dx-checkbox-icon {
            border-color: #00AEEF !important;
            background: #00AEEF url("../../../assets/common/icons/check-tik-icon.svg") 49% 50% no-repeat !important;
        }
    }

    &.dx-checkbox-indeterminate {
        .dx-checkbox-icon {
            border-color: #00AEEF !important;
            &::before {
                content: '' !important;
                width: 10px !important;
                height: 10px !important;
                top: 7px;
                left: 7px;
                background-color: #00aeef;
            }
        }
    }
}

// toolbar .dx-datagrid-group-panel .dx-group-panel-message
.dx-datagrid-group-panel {
    max-width: calc(~"100% - 30px");
    margin: 5px 15px 0 !important;
    height: 46px;
    border: 1px solid transparent;
    &:hover {
        border-image: url("../../../assets/common/icons/border-img.png") 1 round;
        .dx-group-panel-message {
            background-color: #F9FBFC;
        }
    }

    .dx-group-panel-message {
        padding: 9px 10px 8px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.8;
        letter-spacing: 0.3px;
        text-align: left;
        color: #677380;
    }

    .dx-group-panel-item {
        padding: 12px 10px;
    }
}

.dx-datagrid-header-panel {
    .dx-toolbar-items-container {
        .dx-toolbar-before {
            width: 100%;
            padding: 0;
        }
    }
}

dx-file-manager {
    .dx-toolbar-items-container {
        .dx-selectbox {
            width: 200px!important;
        }
    }
    .dx-filemanager-file-actions-button {
        i {
            display: none;
        }
        .dx-button {
            background: transparent!important;
            .dx-button-content {
                background: url('../../../assets/common/icons/gear-icon.svg') no-repeat center;
            }
        }
    }
}

.page-container.show-top-bar {
    #gridContainer, #operationsLogsGrid, #changeLogsGrid,
    dx-data-grid.main-component-view, dx-file-manager {
        height: calc(~'100vh - 212px');
    }
}


.page-container.show-left-bar {
    #gridContainer, #operationsLogsGrid, #changeLogsGrid,
    dx-data-grid.main-component-view, dx-file-manager {
        height: calc(~'100vh - 137px');
    }
}

/* devExpress common styles */
//VP should be adjusted to use class instead of Id
#gridContainer, #operationsLogsGrid, #changeLogsGrid,
dx-data-grid.main-component-view, dx-file-manager {
    width: 100%;
    max-width: 100vw;

    @font-size: 16px;

    .dx-datagrid-rowsview .dx-virtual-row > td:not(.dx-datagrid-group-space)::before {
        background-image: none;
    }

    .dx-datagrid-content tr td.tabular {
        &, & *:not(.fa):not(.dx-icon):not(.dx-dropdowneditor-icon) {
            font-family: var(--app-tabular-font-family) !important;
        }
    }

    &.gallery-view {
        .dx-datagrid-rowsview {
            .dx-datagrid-table {
                display: flex;
                flex-wrap: wrap;
                padding: 0 40px;

                colgroup,
                .dx-freespace-row,
                .dx-virtual-row {
                    display: none!important;
                }
            }
            .dx-column-lines {
                width: 260px;
                overflow: hidden;

                &:not(.dx-freespace-row),
                &:not(.dx-virtual-row) {
                    display: inline-block;
                    margin: auto;
                }

                &:hover {
                    .active-block {
                        display: block;
                    }
                    .role-container.top {
                        visibility: hidden!important;
                    }
                }

                .active-block {
                    display: none;
                    background: #F7FCFF;
                    border-radius: 8px;
                    padding: 10px;
                    text-align: center;
                    position: absolute;
                    bottom: 0px;
                    margin: 0 10px;
                    width: 240px;
                    h3 {
                        font-family: Manrope;
                        font-size: 17px;
                        font-weight: 600;
                        line-height: 27px;
                        letter-spacing: -0.02em;
                        text-align: center;
                        color: #08295B;
                    }
                    span {
                        font-family: Manrope;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: -0.01em;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block !important;
                        max-width: 100%;
                    }
                    p {
                        font-family: Manrope;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: -0.02em;
                        text-align: center;
                        color: #10213A;
                    }
                    .actions {
                        img {
                            float: left;
                            position: relative;
                            top: 5px;
                        }
                        a {
                            float: right;
                            color: #08295B;
                            font-family: Manrope;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 27px;
                            letter-spacing: -0.02em;
                            text-align: center;
                        }
                    }
                }

                .dx-template-wrapper {
                    position: relative;
                }

                .role-container {
                    display: block!important;
                    text-align: center!important;
                    padding-top: 10px;
                    height: 30px;
                    width: 260px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                h3 {
                    text-align: center;
                    padding: 10px 8px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }


            }
            .galery-image {
                border-radius: 20px;
                margin: 40px 10px 0;
            }
        }
    }

    &:not(.gallery-view).grid-compact-view {
        .dx-datagrid-rowsview {
            .dx-column-lines {
                td {
                    height: 25px;
                    &.uncategorized {
                        &::before {
                            font-size: 15px !important;
                        }
                    }
                }
            }
        }

        .dx-checkbox-icon {
            margin-top: 3px;
        }
    }

    .dx-datagrid-pager {
        height: 60px;
        padding-left: 10px;

        .dx-pages,
        .dx-page-sizes {
            .dx-selection {
                width: auto;
                border-radius: 3px;
                background-color: #E2F7FD;
                border: solid 1px #80cfed;
                font-size: 15px;
                text-align: center;
                color: #212c36 !important;
                font-weight: 600 !important;
                padding: 4px 10px 5px;
            }

            @media (min-width: 768px) {
                margin-right: 4px;
            }
        }

        .dx-pages {
            display: flex;
            align-items: center;

            .dx-pages-count {
                font-size: 18px;
                padding-right: 6px;
            }

            .dx-info-text {
                padding-left: 0;
            }
        }

        .dx-pages .dx-info {
            color: #677380;
            font-weight: 500;
        }

        .dx-page-sizes .dx-page-size,
        .dx-pages .dx-page {
            padding: 4px 10px 5px;
            font-weight: 500;
            color: #677380;
        }
    }

    .dx-datagrid-headers {
        .dx-datagrid-content {
            border-bottom: 1px solid #ddd
        }

        .dx-column-lines, .dx-datagrid-table {
            ::ng-deep * {
                font-size: 13px;
                color: #686f76;
                font-weight: 600;
            }

            td {
                height: 45px;
                border: 0;
                vertical-align: middle!important;
                text-align: left;
                line-height: 1.85;
                letter-spacing: 0.5px;
                text-transform: uppercase;

                &.dx-command-edit {
                    display: inline-block;
                    position: relative;
                    width: 100%;

                    &::before {
                        content: '';
                        background: url("../../../assets/common/icons/edit-icon.svg");
                        background-size: cover;
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        opacity: 0.5;
                    }

                    + td.stars {
                        width: 100%;
                        position: relative;

                        &::before {
                            content: '';
                            position: relative;
                            background: url("../../../assets/common/icons/star-icon.svg");
                            background-size: cover;
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            opacity: 0.3;
                            right: 6px;
                            top: 3px;
                        }
                    }
                }

                .dx-sort-indicator {
                    color: #212c36;
                }
            }
        }
    }

    .dx-datagrid-rowsview {
        .dx-column-lines, .dx-datagrid-table {
            td {
                height: 45px;
                border-left: 0;
                border-right: 0;
                vertical-align: middle!important;
                border-bottom: 1px solid #ddd;
                font-size: 15px;
                line-height: 1.6;
                color: #424c56;
                font-weight: 400;
            }

            &.dx-freespace-row td {
                border-bottom: 0;
            }
        }
    }

    .dx-datagrid-header-panel {
        .dx-toolbar {
            margin-bottom: 0;

            .dx-toolbar-before {
                top: 0 !important;
            }

            .dx-toolbar-center {
                float: left !important;
                margin: 15px !important;
            }

            .dx-toolbar-after {
                margin: 15px !important;
            }

            .dx-datagrid-group-panel {
                margin: 5px 0 0 10px;
                width: auto !important;
            }

            .dx-button {
                height: 37px;

                .dx-button-content {
                    padding: 8px 15px 8px 15px;
                }

                .dx-button-text {
                    cursor: pointer;
                }
            }
        }
    }

    .dx-datagrid {
        .dx-link {
            &.dx-link-edit {
                text-indent: -9999px;
                display: inline-block;
                position: relative;
                width: 20px;
                height: 20px;
                color: transparent;

                &::before {
                    content: '';
                    background: url("../../../assets/common/icons/edit-icon.svg") no-repeat center;
                    width: 19px;
                    height: 19px;
                    position: relative;
                    left: 0;
                    top: 5px;
                    opacity: 0.5;
                    display: block;
                }
            }
        }

        .dx-datagrid-rowsview .dx-command-edit {
            text-overflow: initial;
            & + td.stars {
                div.star {
                    height: 20px!important;
                    -webkit-mask-size: 20px!important;
                    &-default {
                        opacity: 0.2;
                    }
                }
            }
        }

        .dx-command-edit td {
            width: 100%;
        }

        .dx-datagrid-headers .dx-row.dx-header-row,
        .dx-datagrid-total-footer .dx-row {
            td.padding-right {
                padding-right: 32px;
                &:last-child {
                    padding-right: 45px !important;
                }
            }
        }

        .dx-group-row {
            .dx-command-edit {
                + td {
                    &::before {
                        content: none;
                    }
                }
            }

            .dx-group-cell {
                font-weight: 600;
            }

            .dx-datagrid-group-opened, .dx-datagrid-group-closed {
                color: #424c56;
            }
        }

        .dx-datagrid-group-panel {
            .dx-group-panel-item {
                font-weight: 600;
                border: 0;
                color: #424c56;
                text-transform: uppercase;

                .dx-sort-up {
                    &::before {
                        content: '\f176'
                    }
                }

                .dx-sort-down {
                    &::before {
                        content: '\f175'
                    }
                }
            }
        }

        .dx-freespace-row {
            .dx-command-edit + td {
                &::before {
                    content: none;
                }
            }
        }

        .dx-data-row {
            &:hover {
                .dx-link {
                    &.dx-link-edit {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        tr.dx-data-row.dx-selection,
        tr.dx-data-row.dx-state-hover,
        tr.dx-data-row:hover {
            background: #f2f7fa !important;
        }

        .dx-datagrid-rowsview td {
            background-color: transparent !important;

            .dx-checkbox-icon {
                border-color: rgba(104, 111, 118, .5);
            }

            .dx-link-edit {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    .dx-datagrid-content {
        .dx-datagrid-table {
            .dx-row {
                td:last-child {
                    padding-right: 20px;
                }
                .dx-command-select {
                    width: 50px;
                    min-width: 50px;
                }
            }
        }
    }

    &[accesskey="narrowHeaderPanel"] {
        .dx-datagrid-header-panel .dx-toolbar {
            height: 25px;
            margin: 0;
            padding: 0;
        }

        .dx-datagrid-group-panel {
            height: 40px;
            margin: 0 15px 0 0 !important;
            border: none;
        }

        .dx-datagrid-group-panel .dx-group-panel-message {
            border-right: 1px dashed #dfdfdf;
            background-color: #f9fbfc;
            padding-top: 0;
            padding-bottom: 0;
            height: 25px;
        }

        .dx-datagrid-group-panel .dx-group-panel-item {
            padding: 4px 10px;
            font-size: 13px;
            letter-spacing: 0.5px;
        }
    }

    .dx-scrollable-scroll {
        width: 12px;
    }

    .dx-pager .dx-pages {
        .dx-prev-button:before,
        .dx-next-button:before {
            font-family: DXIcons !important;
        }
    }

    &.limitedPagerTotal {
        .dx-pages {
            .dx-info,
            .dx-selection ~ .dx-separator + .dx-page {
                display: none;
            }
        }
    }

    &.grid-compact-view .dx-datagrid .dx-datagrid-rowsview .dx-column-lines td {
        padding: 0 7px;
        .img-circle {
            width: 30px;
            height: 30px;
        }
    }
    .dx-datagrid-content-fixed .dx-col-fixed {
        background-color: initial;
    }

    .dx-sort-index-icon {
        display: none;
    }
}

.dx-button-mode-contained.dx-state-hover {
    border-color: #bebebe;
}

.dx-treelist-icon-container.dx-editor-inline-block .dx-checkbox {
    margin-top: 2px;
}

.dx-texteditor.dx-editor-outlined {
    border: none;
}

.dx-datagrid-column-chooser {
    .dx-popup-normal {
        left: 100% !important;
        transform: translateX(-100%) !important;
    }
}

.dx-editor-cell.dx-editor-inline-block:not(.dx-command-select)::before {
    display: inline;
}

dx-check-box {
    display: block!important;
    width: max-content;
}

.dx-colorview-controls-container {
    width: 100px!important;
    margin-left: 10px!important;
}

.dx-colorview-container label .dx-texteditor {
    width: 80px!important;
}
