form button.btn {
    min-width: 120px;
    border-radius: 20px;
    margin: 0 10px;
    outline: none;
}

//.cdk-overlay-container {
//    .cdk-overlay-pane.slider {
//        max-width: 50vw !important;
//    }
//}
