<section class="new-items-status">
    <header>
        <h2 class="title">{{ls.l('Totals')}}</h2>
    </header>
    <div class="content-wrap">
        <div *ngIf="totalsDataAvailable$ | async; else noData" class="align-data">
            <div class="charts-wrapper" *ngIf="(totalsData$ | async) as totalsData">
                <ng-container *ngFor="let field of fields">
                    <div class="chart-head">
                        {{ls.l('CRMDashboard_NewAdded', 'CRM', [ls.l(field.title).toLowerCase()])}}
                        <span [ngStyle]="{'color': field.color}">
                            <ng-container *ngIf="field.type == 'currency'">
                                {{ totalsData[field.name.replace('total', 'new')] | currency: 'USD' : true : '1.0-0' }}
                                <ng-container *ngIf="totalsData[field.name.replace('total', 'new')] != 0">
                                    of {{ totalsData[field.name] | currency : 'USD' : true : '1.0-0' }}
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="field.type == 'number'">{{ totalsData[field.name.replace('total', 'new')] | number }} of {{ totalsData[field.name] | number }}</ng-container>
                        </span>
                    </div>
                    <div class="chart-line" [ngStyle]="{'background-color': '#F1F5F6'}"><div [ngStyle]="{width: field.percent, 'background-color': field.color}"></div></div>
                </ng-container>
            </div>
        </div>
        <ng-template #noData>
            <app-no-data></app-no-data>
        </ng-template>
    </div>
</section>
