:host {
    top: 0;
    left: 0;
    min-height: 69px;
    width: 100%;
    z-index: 2;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.07);
    border-bottom: solid 1px #ebecec;
    background-color: #ffffff;
    position: fixed;

    .page-header {
        padding: 0 20px;

        @media all and (max-width: 440px) {
            padding: 16px 10px;
        }

        @media all and (min-width: 769px) {
            padding: 0 60px;
        }
    }

    .navigation {
        width: auto;

        @media all and (max-width: 767px) {
            margin: 0 auto;
        }

        @media all and (min-width: 769px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: auto;
        }
    }

    @media all and (max-width: 768px) {
        .m-topbar .m-topbar__nav.m-nav {
            margin: 0;
        }
    }

    /deep/ .area-navigation {
        list-style-type: none;
        text-align: center;
        margin: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        height: 100%;

        li {
            display: inline-block;
            padding: 0 15px 0 0;
            position: relative;
            margin: 0;

            a {
                display: block;
                text-decoration: none;
                font-family: Poppins, sans-serif;
                font-size: 18px;
                font-weight: 500;
                white-space: nowrap;
                padding: 12px 10px;
                color: #FFF;
                transition: .2s;

                &.disabled {
                    color: #535354 !important;
                }
                &.member-login {
                    display: none;
                    color: #fff !important;
                    background-color: #ff9933;
                    transition: .2s;

                    &:hover {
                        background-color: lighten(#ff9933, 6%);
                    }
                }

                &.try-free {
                    color: lighten(#2c6935, 10%);
                    &:hover {
                        color: lighten(#2c6935, 18%);
                    }
                }
                &.sign-up {
                    color: #fff;
                    background: #ac1f22;
                    font-size: 16px;
                    font-weight: 900;
                    text-align: center;
                    padding: 8px 40px;
                    max-width: 150px;
                    width: 100%;

                    &:hover {
                        color: #fff;
                        background: lighten(#ac1f22, 10%);
                    }
                }

                &.login {
                    color: #000;
                    background: #f09e1f;
                    font-size: 16px;
                    font-weight: 900;
                    text-align: center;
                    padding: 8px 40px;
                    max-width: 150px;
                    width: 100%;

                    &:hover {
                        color: #000;
                        background: lighten(#f09e1f, 10%);
                    }
                }
            }
            a.active,
            a:hover,
            &.active > a {
                color: #fff000;
                img {
                    opacity: 0;
                    &.active-img {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .page-header.navbar {

        @media all and (min-width: 769px) {
            height: 69px;
            flex-wrap: nowrap;
        }


        &.navbar-fixed-top,
        &.navbar-static-top {
            z-index: 1000;
        }

        /deep/ .m-dropdown__header {
            background: linear-gradient(to right, #32333B 60%, gray);
            box-shadow: inset 2px 5px 12px 2px #32333B;
        }

        .page-logo {
            //position: absolute;
            max-width: 310px;
            min-width: 220px;
            height: 60px;
            display: flex;

            img {
                max-height: 82%;
            }

            a {
                max-width: 100%;
                img {
                    max-width: 100%;
                }
            }

            @media all and (max-width: 767px) {
                max-width: 150px;
                min-width: 140px !important;
                height: auto;
            }

            a {
                max-width: 200px;
                overflow: hidden;
                margin: auto;

                @media all and (min-width: 769px) {
                    top: 0;
                    bottom: 0;
                    display: flex;
                    position: absolute;
                    align-items: center;
                }
            }

            &:after {
                right: 0;
            }
        }

        span.username {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            direction: rtl;
            text-align: left;
            display: none !important;
        }

        li.username-header {
            color: #FFF;
            text-align: center;
            height: 35px;
            padding-top: 10px;
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            direction: rtl;
        }
    }

    .buttons {
        list-style-type: none;
        display: flex;
        padding-left: 0;
        margin: 0;

        .item {

            + .item {
                margin-left: 15px;
            }

            a {
                display: block;
                text-decoration: none;
                font-family: 'AvianoSans-Reg', sans-serif;
                font-size: 18px;
                white-space: nowrap;
                padding: 12px 10px;
                color: #FFF;
                transition: .2s;

                &.sign-up {
                    color: #fff;
                    background: #ac1f22;
                    font-size: 16px;
                    text-align: center;
                    padding: 8px 40px;
                    font-family: 'AvianoSans-Bla', sans-serif;

                    @media all and (min-width: 1025px) {
                        width: 150px;
                    }

                    &:hover {
                        color: #fff;
                        background: lighten(#ac1f22, 10%);
                    }

                    @media all and (max-width: 767px) {
                        font-size: 14px;
                        padding: 8px 16px;
                    }
                }

                &.login {
                    color: #000;
                    background: #f09e1f;
                    font-size: 16px;
                    text-align: center;
                    padding: 8px 40px;
                    font-family: 'AvianoSans-Bla', sans-serif;
                    width: 100%;
                    max-width: 150px;

                    @media all and (min-width: 1025px) {
                        width: 150px;
                    }

                    &:hover {
                        color: #000;
                        background: lighten(#f09e1f, 10%);
                    }

                    @media all and (max-width: 767px) {
                        font-size: 14px;
                        padding: 8px 16px;
                    }
                }
            }
        }
    }
}
