:host {    
    top: 0;
    left: 0;
    min-height: 69px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #32333B;

    .navigation {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;

        .app-area-navigation {
            width: 100%;
            padding-left: 0;
            list-style-type: none;
            text-align: center;
            margin: 10px 0 14px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            li {
                display: inline-block;
                padding: 0 15px;
                position: relative;
                a {
                    display: block;
                    text-decoration: none;
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 600;
                    white-space: nowrap;
                    padding: 12px 25px;
                    color: #FFF;

                    &.disabled {
                        color: #535354 !important;
                    }
                    &.member-login {
                        display: none;
                        color: #fff !important;
                        background-color: #ff9933;
                        transition: .2s;

                        &:hover {
                            background-color: lighten(#ff9933, 6%);
                        }
                    }
                }
                a.active,
                a:hover,
                &.active > a {
                    color: #fff000;
                    img {
                        opacity: 0;
                        &.active-img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .page-header.navbar {
        height: 69px;
        flex-wrap: nowrap;        

        &.navbar-fixed-top,
        &.navbar-static-top {
            z-index: 1000;
        }

        /deep/ .m-dropdown__header {
            background: linear-gradient(to right, #32333B 60%, gray) !important;
            box-shadow: inset 2px 5px 12px 2px #32333B !important;            
        }

        .page-logo {
            position: absolute;
            max-width: 310px;
            min-width: 220px;
            height: 60px;
    
            @media all and (max-width: 767px) {
                max-width: 100%;
                min-width: 180px !important;
                
                a {
                    max-width: 100%;
                    
                    img {
                        max-width: 100%;
                    }
                }
            }

            a {
                max-width: 200px;
                overflow: hidden;
                display: flex;
                align-items: center;
                position: absolute;
                margin: auto;
                top: 0px;
                bottom: 0px;
            }

            &:after {
                right: 0px;
            }
        }

        span.username {
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            direction: rtl;
            text-align: left;
            display: none !important;
        }

        li.username-header {
            color: #FFF;
            text-align: center;
            height: 35px;
            padding-top: 10px;
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            direction: rtl;
        }
    }
}