<div class="page-header navbar navbar-fixed-top navbar-light">
    <div class="page-logo">
        <a href="javascript:void(0);" (click)="logoClick()">
            <img src="./assets/common/images/bank-code/cb-technologies.png"
                 srcset="./assets/common/images/bank-code/cb-technologies@2x.png 2x, ./assets/common/images/bank-code/cb-technologies@3x.png 3x"
                 alt="logo" class="logo-default" height="auto"/>
        </a>
    </div>

    <ng-template ad-header-host></ng-template>

    <area-navigation [memberAreaLinks]="memberAreaLinks" *ngIf="loggedUserId"></area-navigation>

    <div *ngIf="!loggedUserId" class="navigation btns">
        <ul class="buttons">
            <li class="item">
                <a routerLink="signup" class="sign-up">
                    Sign Up
                </a>
            </li>
            <li class="item">
                <a routerLink="login" class="login">
                    Log In
                </a>
            </li>
        </ul>
    </div>
</div>
