<div class="page-header navbar navbar-fixed-top navbar-light">
    <div class="page-logo">
        <a href="javascript:void(0);" (click)="logoClick()">
            <img src="./assets/common/images/bank-code/bank-code-logo@3x.png" alt="logo" class="logo-default" width="200px" height="auto"/>
        </a>
    </div>

    <div *ngIf="!loggedUserId" class="navigation">
        <ul class="area-navigation">
            <!--<li class="app-list-item">
                <a href="https://www.bankcode.pro/" class="try-free">
                    Try it Free
                </a>
            </li>-->
            <li class="app-list-item">
                <a routerLink="signup" class="sign-up">
                    Sign Up
                </a>
            </li>
            <li class="app-list-item">
                <a routerLink="login" class="login">
                    Log In
                </a>
            </li>
        </ul>
    </div>

    <ng-template ad-header-host></ng-template>

    <area-navigation [memberAreaLinks]="memberAreaLinks"></area-navigation>
</div>
