.spinner {
    position: absolute;
    top: 0 !important;
    bottom: 0;
    left: 0 !important;
    right: 0;
    margin: auto;
    display: inline-block;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09aeec;
    border-radius: 50%;
    width: 60px !important;
    height: 60px !important;
    animation: donut-spin 1.2s linear infinite;
}

.spinner div {
    display: none;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}