:host {
    & > div {
        width: 100%;
        height: 99%;
        overflow: hidden;
    }

    ::ng-deep .dx-datagrid {
        .dx-datagrid-rowsview {
            .static-width {
                max-width: 100%;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
            }
        }

        .dx-datagrid-focus-overlay {
            border: none;
        }

        .dx-datagrid-revert-tooltip {
            display: none;
        }

        .dx-selectbox input {
            border: none;
            font-size: 15px;
        }

        .dx-row {
            .dx-link.dx-link-edit {
                width: 19px !important;

                &:before {
                    top: 12px !important;
                }
            }

            .edit-affiliate {
                font-style: italic;
                cursor: pointer;

                i {
                    margin-left: 8px;
                    color: #00aeef;
                }
            }
        }

        div.status-wrapper {
            display: flex;
            justify-content: center;
        }

        div.status {
            width: 110px;
            height: 26px;
            background: #f3f7fa;
            padding: 2px 15px;
            border-radius: 15px;
            font-size: 11px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.18;
            letter-spacing: 0.88px;
            text-transform: uppercase;
            text-align: center;
            color: #40596b;

            &:before {
                content: "\A";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 5px;
                background: #dedede;
            }

            &.final:before {
                background: #1fb430;
            }

            &.sent:before {
                background: #fff939;
            }

            &.draft:before {
                background: rgba(64, 89, 107, 0.28);
            }

            &.partiallypaid {
                width: 145px;

                &:before {
                    background: #248392;
                }
            }

            &.partiallyrefunded {
                width: 152px;

                &:before {
                    background: #f1a72d;
                }
            }

            &.paid:before {
                background: #3acddc;
            }
        }
    }

    .wrapper {
        display: flex;
        margin: 0 23px;
        height: 100%;
        overflow: hidden;
        width: 97%;

        .grid-view {
            width: auto;
            max-width: 100%;
            height: 100%;

            ::ng-deep dx-data-grid {
                .dx-toolbar-after {
                    margin: 0px !important;
                }
                .dx-datagrid-search-panel input {
                    border-bottom: 0px;
                }
                .dx-datagrid-header-panel {
                    height: 48px;
                }
                .dx-data-row {
                    cursor: pointer;
                }

                .campaign-name {
                    font-weight: 600 !important;
                }

                .campaign-type {
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                }
            }
        }
    }
}

:host { color: var(--text-color); }
