:host {
    & > div {
        display: flex;
        justify-content: space-between;
    }
    p {
        margin: auto 0px;
    }
    .logo {
        font-size: 26px;
        font-weight: 500;
        .bank {
            color: #000000;
        }
        .code {
            color: #D0D0D0;
        }
    } 
    .text-key-code {
        font-size: 27px;
        font-weight: 500;
    }
    .button-decode {
        background: url(assets/images/icons/decode.png) no-repeat 20px, #52AA5E;
        border: 0px;
        padding: 10px 20px 10px 60px;
        border-radius: 5px;
        color: #FFF;
        font-weight: 500;
        margin-right: auto;
        margin-left: calc(50% - 200px);
        cursor: pointer;
    }
    .small-decode {
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin: 5px 10px 5px 30px;
    }
    ::ng-deep bank-code-letters {
        display: inline-block;
        vertical-align: bottom;
        bank-code-letter > span {
            font-size: 27px!important;
            width: 40px!important;
            height: 40px!important;
            line-height: 40px!important;
        }
    }
}