<div>
    <p class="logo"><span class="bank">BANK</span><span class="code">CODE<sup>&reg;</sup></span></p>
    <div *ngIf="bankCode">
        <bank-code-letters [showDescriptionsOnHover]="true" [bankCode]="bankCode"></bank-code-letters>
        <img class="small-decode" src="assets/images/icons/decode.png" (click)="decode($event)">
    </div>
    <button class="button-decode" *ngIf="!bankCode" (click)="decode($event)">DECODE</button>
    <span class="text-key-code" *ngIf="bankCode" [ngStyle]="{visibility: bankCode ? 'visible' : 'hidden', color: bankCode ? bankCodeService.getBackgroundColorByLetter(bankCode[0]) : ''}">
        {{ bankCode && bankCodeService.getBankCodeDefinition(bankCode[0]) | uppercase }}
    </span>
</div>