:host {
    .wrapper {
        margin-bottom: 100px;
        p:not(:first-child) {
            padding-left: 30px;
        }

        ::ng-deep dx-radio-group {
            .dx-item-content {
                font-size: 14px;
            }
        }
    }
}