:host {
  footer {
    flex-shrink: 0;
    margin-top: auto;
    & > div {
      max-width: 53%;
    }
    &.step-footer {
      .terms-text {
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: var(--muted-color);

        p {
          margin-bottom: 0;
        }

        a {
          font-weight: 500;
          color: var(--primary-color);
          text-decoration: none;

          &:hover {
            color: var(--info-color);
          }
        }
      }

      .btn-layout {
        padding: 18px 44px;
        font-family: var(--app-font-family) !important;
        font-size: 17px !important;
        font-weight: 600 !important;
        line-height: 1.25 !important;
        border-radius: 32px !important;
        height: auto !important;
      }
    }
  }
}
