<div class="socials">
    <div class="social">
        <div class="social-icon-group">
            <!-- Original code commented out -->
            <!-- <button
                class="social-add"
                aria-label="Social action"
                (click)="showEditDialog(null, $event)"
            > -->
            
            <!-- New button that opens social dialog modal -->
            <button
                class="social-add"
                aria-label="Social action"
                (click)="openSocialDialog($event)"
            >
                <img
                    src="./assets/common/icons/contact/plus.svg"
                    alt="icon"
                    onError="this.src='./assets/common/icons/social/OtherLink.svg';"
                />
            </button>
            <div class="social-button-group">
                <button
                    *ngFor="let icon of contactInfoData?.links"
                    class="social-icon-btn"
                    (click)="onSelectLinks(icon)"
                >
                    <img
                        src="./assets/common/icons/social/{{
                            LINK_TYPES[icon.linkTypeId] || 'OtherLink'
                        }}.svg"
                        onError="this.src='./assets/common/icons/social/OtherLink.svg';"
                        alt="links"
                    />
                </button>
            </div>
            <button
                class="social-icon-btn"
                *ngIf="contactInfoData?.links.length > 0"
                (click)="onAllSelectLinks()"
            >
                <img
                    src="./assets/common/icons/arrow-down-grey.svg"
                    alt="Select Role"
                />
            </button>
        </div>
        <ul>
            <li *ngIf="contactInfoData?.publicPersonProfileUrl">
                <img src="./assets/common/icons/social/OtherLink.svg" />
                <inplace-edit
                    [value]="contactInfoData.publicPersonProfileUrl"
                    [link]="
                        normalizeLink(contactInfoData.publicPersonProfileUrl)
                    "
                    [isDeleteEnabled]="false"
                    [isEditModeEnabled]="false"
                    [isReadOnlyField]="true"
                    [isEditDialogEnabled]="false"
                    [showInlineEditButton]="false"
                >
                </inplace-edit>
            </li>
            <!-- <li *ngFor="let social of contactInfoData?.links; let i = index">
                <img src="./assets/common/icons/social/{{ LINK_TYPES[social.linkTypeId] || 'OtherLink' }}.svg"
                     onError="this.src='./assets/common/icons/social/OtherLink.svg';">
                <inplace-edit [id]="social.id"
                              [value]="social.url"
                              [link]="normalizeLink(social.url)"
                              [validationRules]="[ { type: 'required', message: ls.l('LinkIsRequired') }, {type: 'pattern', pattern: urlRegEx, message: ls.l('LinkIsNotValid')} ]"
                              [isDeleteEnabled]="true"
                              [isEditModeEnabled]="!social.id"
                              [lEntityName]="ls.l('Link')"
                              [isReadOnlyField]="!isEditAllowed"
                              [editPlaceholder]="ls.l('EnterValue')"
                              [lDeleteConfirmTitle]="ls.l('DeleteContactHeader', ls.l('Link'))"
                              [lDeleteConfirmMessage]="ls.l('DeleteContactMessage', ls.l('Link').toLowerCase())"
                              [isEditDialogEnabled]="enableLinkDialog"
                              [showInlineEditButton]="!enableLinkDialog"
                              (valueChanged)="updateLink(social, $event)"
                              (openDialog)="showEditDialog(social, $event)"
                              (itemDeleted)="deleteLink($event)">
                </inplace-edit>
            </li> -->
            <li *ngFor="let social of selectedLinks; let i = index">
                <div class="video-link-row">
                    <span class="drag-handle" title="Drag to reorder">
                        <img
                            src="./assets/common/icons/contact/dashes.svg"
                            alt="icon"
                        />
                    </span>
                    <span class="link-block">
                        <span class="icon">
                            <img
                                src="./assets/common/icons/social/{{
                                    LINK_TYPES[social.linkTypeId] || 'OtherLink'
                                }}.svg"
                                onError="this.src='./assets/common/icons/social/OtherLink.svg';"
                                alt="links"
                            />
                        </span>
                        <span
                            class="link-text"
                            (click)="showEditDialog(social, $event)"
                            >{{ normalizeLink(social.url) }}</span
                        >
                        <div class="button-group">
                            <button
                                class="action-btn copy-btn"
                                title="Copy"
                                (click)="copyToClipbord(social.url)"
                            >
                                <img
                                    src="./assets/common/icons/contact/document-copy.svg"
                                    alt="icon"
                                />
                            </button>
                            <button
                                class="action-btn delete-btn"
                                title="Delete"
                                (click)="deleteLink(social.id)"
                            >
                                <img
                                    src="./assets/common/icons/contact/trash.svg"
                                    alt="icon"
                                />
                            </button>
                        </div>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <!-- <div *ngIf="isEditAllowed" class="add-contact" (click)="showEditDialog(null, $event)">+ {{ls.l('Add') + ' ' + -->
    <!-- ls.l('Link')}}</div> -->
</div>
