<div class="socials">
  <div class="social">
    <ul>
      <li *ngFor="let social of contactInfoData?.links; let i = index">
        <a href="{{social.url}}" target="_blank">
          <i class="fa fa-{{LINK_TYPES[social.linkTypeId] || 'share-square-o'}}" aria-hidden="true"></i>
        </a>
        <inplace-edit [data]="getLinkInplaceEditData(social)" (valueChanged)="updateLink(social, $event)" (openDialog)="showEditDialog(social, $event, i)" (itemDeleted)="deleteLink($event)"></inplace-edit>
      </li>
    </ul>
  </div>
  <div *ngIf="isEditAllowed" class="add-contact" (click)="showEditDialog(null, $event)">+ {{l('Add') + ' ' + l('Link')}}</div>
</div>