:host {
    display: flex;
    align-items: center;
    
    dx-select-box {
        background: #fff;
        border-radius: 22px;
        border-color: #e5e9ec;
        color: #686f76;
    
        /deep/ .dx-texteditor-input,
        /deep/ input.form-control,
        /deep/ .dx-widget .dx-dropdowneditor-icon {
            color: #686f76;
        }
    
        /deep/ .dx-widget .dx-dropdowneditor-icon {
            &::before {
                font-size: 14px;
                content: '\f0d7' !important;
            }
        }
    }
}
