:host {
    ::ng-deep {
        .p-paginator {
            justify-content: flex-end;
        }

        .p-dropdown {
            align-items: center;
        }
    }
}

.content{
    width: 700px;
}
