<dx-tree-view [dataSource]="treeData"
              keyExpr="key"
              parentIdExpr="parent"
              itemsExpr="children"
              [focusStateEnabled]="false"
              [hoverStateEnabled]="false">
    <div *dxTemplate="let feature of 'item'" class="feature-tree-item">
        <ng-container *ngIf="feature.data.inputType.name === 'CHECKBOX'">
            <dx-check-box [(value)]="feature.value"
                          [disabled]="isReadOnly"
                          (onValueChanged)="onCheckboxInputChange($event, feature)">
            </dx-check-box>
        </ng-container>
        <i class="fa fa-folder"></i>
        <div class="feature-text">{{ feature.displayName }}</div>
        <ng-container *ngIf="feature.data.inputType.name === 'SINGLE_LINE_STRING'">
            <dx-number-box *ngIf="feature.data.inputType.validator.name === 'NUMERIC' || feature.data.inputType.validator.name === 'FLOAT'"
                           [(value)]="feature.value"
                           [placeholder]="feature.data.defaultValue || ''"
                           [disabled]="isReadOnly"
                           (onValueChanged)="onInputChange(feature)">
                <dx-validator>
                    <dxi-validation-rule type="custom" [validationCallback]="validateInputValue(feature)" message=""></dxi-validation-rule>
                </dx-validator>
            </dx-number-box>
            <dx-text-box *ngIf="feature.data.inputType.validator.name === 'STRING'"
                         [(value)]="feature.value"
                         [placeholder]="feature.data.defaultValue || ''"
                         [disabled]="isReadOnly"
                         (onValueChanged)="onInputChange(feature)">
            </dx-text-box>
            <button class="reset-button" *ngIf="showResetToDefault && feature.value" (click)="resetToDefault(feature)"></button>
        </ng-container>
        <button class="reset-button" *ngIf="enableRestoreCustom && feature.isCustom" (click)="restoreValue(feature)" title="Clear manually changed value"></button>
        <!--<select *ngIf="node.data.inputType.name === 'COMBOBOX'"
            [(ngModel)]="node.value"
            [disabled]="isReadOnly"
            (change)="onDropdownChange(node)">
        <option *ngFor="let item of node.data.inputType.itemSource.items" [value]="item.value">
            {{ item.displayText }}
        </option>
    </select>-->
    </div>
</dx-tree-view>
